Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Battle map renders on first paint and polls staging changes (#2423)
  frontend/src/battles/components/BattleMapCanvas.tsx
  frontend/src/battles/components/__tests__/BattleMapCanvas.test.tsx
  frontend/src/battles/queries.ts
Due: eslint, typescript, prettier

Surge beats carry their record pk; RoundFlow keys on it (#2423)
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/sections/RoundFlow.tsx
  frontend/src/combat/types.ts
  src/world/combat/serializers.py
  src/world/combat/tests/test_escalation_serializer_fields.py
Due: getattr-literal, eslint, typescript, prettier

Type outcome_display and clashes in the schema; drop as-unknown-as casts (#2423)
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/modals/DeepLinkModalHost.tsx
  frontend/src/combat/sections/ActiveState.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/checks/serializers.py
  src/world/combat/serializers.py
Due: getattr-literal, eslint, typescript, prettier

Tighten MovementActions dispatchAction to Promise<DispatchResult>; drop casts (#2423)
  frontend/src/combat/components/MovementActions.tsx
Due: eslint, typescript, prettier

Docs sweep for combat write-path fixes; fold-ins; ClashState schema fix (#2423)
  docs/audits/2026-07-10-webclient-rp-ux-audit.md
  docs/roadmap/combat-build-history.md
  frontend/src/actions/__tests__/ActionDeclarationCard.test.tsx
  frontend/src/battles/components/StagingPanel.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/ActionAttachment.test.tsx
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
  frontend/src/scenes/components/SceneTacticalMap.test.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
  src/schema.json
  src/world/combat/serializers.py
Due: getattr-literal, eslint, typescript, prettier

Install zellij in the devcontainer + persistent-session guide
  .devcontainer/Dockerfile
  docs/devcontainer-setup.md
  justfile
Due: none

CI fix: MovementActions test mocks resolve full DispatchResult under tsc -b (#2423)
  frontend/src/combat/components/MovementActions.test.tsx
Due: eslint, typescript, prettier

reset_room_feature_strategies restores the at-ready baseline, not the empty import-time snapshot (#2490)
  src/world/companions/apps.py
  src/world/magic/apps.py
  src/world/room_features/apps.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_room_features.py
Due: getattr-literal

DomainCrisis lifecycle: authored types, judgment calls, surfacing (#2238) (#2484)
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  frontend/src/generated/api.d.ts
  frontend/src/orgs/api.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/orgs/queries.ts
  src/schema.json
  src/world/game_clock/tasks.py
  src/world/missions/services/resolution.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/crisis_services.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/migrations/0031_domaincrisistype_domaincrisis_chosen_at_and_more.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/serializers.py
  src/world/societies/tests/test_crisis_lifecycle.py
  src/world/societies/views.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

Heat lifecycle: lie low, bribe, pardon, wanted visibility (#1826)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  frontend/src/justice/api.ts
  frontend/src/justice/components/CrimeTab.tsx
  frontend/src/justice/queries.ts
  frontend/src/reputation/components/ReputationTab.test.tsx
  src/schema.json
  src/world/currency/services.py
  src/world/justice/constants.py
  src/world/justice/lifecycle.py
  src/world/justice/migrations/0007_pardongrant_lielowstate.py
  src/world/justice/migrations/max_migration.txt
  src/world/justice/models.py
  src/world/justice/serializers.py
  src/world/justice/services.py
  src/world/justice/tests/test_lifecycle.py
  src/world/justice/urls.py
  src/world/justice/views.py
  src/world/scenes/interaction_services.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

fix: align Consequence Pool id hunks with CI's generated form (both files)
  frontend/src/generated/api.d.ts
  src/evennia_extensions/migrations/0011_playerdata_lethal_consequences_opt_in.py
  src/evennia_extensions/migrations/max_migration.txt
  src/evennia_extensions/models.py
  src/schema.json
  src/typeclasses/characters.py
  src/world/justice/constants.py
  src/world/justice/migrations/0008_guardencounter_justicecase_exculpatoryevidence_and_more.py
  src/world/justice/migrations/max_migration.txt
  src/world/justice/models.py
  src/world/justice/pipeline.py
  src/world/justice/tests/test_pipeline.py
  src/world/npc_services/effects.py
  src/world/scenes/interaction_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(roster): add GameInvite model for player-to-friend invites (#2483)
  src/world/roster/migrations/0008_gameinvite.py
  src/world/roster/models/__init__.py
  src/world/roster/models/invites.py
  src/world/roster/tests/test_invite_model.py
Due: getattr-literal

feat(roster): add game invite services — create, resolve, claim, revoke, annotate (#2483)
  src/world/roster/factories.py
  src/world/roster/services/invite_services.py
  src/world/roster/tests/test_invite_services.py
Due: getattr-literal

feat(character_creation): wire invite annotation + inviter notification into submission (#2483)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_invite_submission_hook.py
  src/world/roster/services/invite_notifications.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

feat(character_creation): add invited_via FK to DraftApplication (#2483)
  src/world/character_creation/migrations/0012_draftapplication_invited_via.py
  src/world/character_creation/models.py
  src/world/roster/tests/test_invite_annotation.py
Due: getattr-literal

feat(roster): seed INVITE trust category for game invites via Big Button (#2483)
  src/world/roster/seeds.py
  src/world/seeds/clusters.py
Due: getattr-literal

feat(roster): add GameInviteViewSet API — create, list, resolve, claim, revoke (#2483)
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/invites.py
  src/world/roster/tests/test_invite_views.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/invite_views.py
Due: getattr-literal

docs: add ADR-0141 for game invites living in world/roster/ (#2483)
  docs/adr/0141-game-invites-live-in-roster.md
  docs/systems/INDEX.md
Due: none

test(roster): add full journey test for game invite flow (#2483)
  src/world/roster/tests/test_invite_journey.py
Due: getattr-literal

chore: update max_migration.txt for new migrations (#2483)
  src/world/character_creation/migrations/max_migration.txt
  src/world/roster/migrations/max_migration.txt
Due: none

chore: regenerate API types for GameInvite endpoints (#2483)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Justice pipeline: guards, arrest, evidence release, captive-initiated trial (#2378)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/typeclasses/characters.py
  src/world/justice/pipeline.py
  src/world/justice/urls.py
  src/world/justice/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(seeds): register roster cluster in test expectations and seeded_models (#2483)
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

feat(#2450): StoryArea + StoryRoomGrant models, GMLevelCap story knobs
  src/world/gm/admin.py
  src/world/gm/factories.py
  src/world/gm/migrations/0008_gmlevelcap_max_story_areas_and_more.py
  src/world/gm/migrations/max_migration.txt
  src/world/gm/models.py
  src/world/gm/tests/test_story_models.py
Due: getattr-literal

feat(#2450): wire InstancedRoom.gm_owner; spawn_instanced_room creates RoomProfile
  src/world/instances/migrations/0002_instancedroom_gm_owner.py
  src/world/instances/migrations/max_migration.txt
  src/world/instances/models.py
  src/world/instances/services.py
  src/world/instances/tests.py
  src/world/missions/services/resolution.py
Due: getattr-literal

feat(#2450): story services — caps, grants, join/leave, temp scene rooms
  src/world/gm/story_services.py
  src/world/gm/tests/test_story_services.py
Due: getattr-literal

refactor(#2450): extract occupancy guards into grid_services for GM builder reuse
  src/actions/definitions/world_builder.py
  src/world/areas/builder_views.py
  src/world/areas/grid_services.py
Due: getattr-literal

feat(#2450): story-builder actions — area management + dig/edit
  src/actions/definitions/story_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_story_builder_actions.py
Due: getattr-literal

fix(#2450): story services check move_to result; close_scene_room retryable
  src/world/gm/story_services.py
  src/world/gm/tests/test_story_services.py
Due: getattr-literal

feat(#2450): story-builder actions — link/unlink/place/remove
  src/actions/definitions/story_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_story_builder_actions.py
Due: getattr-literal

fix(#2450): story_remove_room keeps the installed-feature guard
  src/actions/definitions/story_builder.py
  src/actions/tests/test_story_builder_actions.py
Due: getattr-literal

feat(#2450): grants, join/leave, temp scene rooms + story journey
  src/actions/definitions/story_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_story_builder_actions.py
  src/world/gm/tests/test_story_journey.py
Due: getattr-literal

fix(#2450): instanced rooms never publicly listed; ambiguous grant names refuse
  src/actions/definitions/story_builder.py
  src/actions/tests/test_story_builder_actions.py
  src/world/instances/services.py
  src/world/instances/tests.py
Due: getattr-literal

feat(#2450): telnet play verbs — sceneroom, joinroom, leaveroom
  src/commands/default_cmdsets.py
  src/commands/story_rooms.py
  src/commands/tests/test_story_room_commands.py
Due: getattr-literal

fix(#2450): joinroom structured error payload + deterministic name resolution
  src/commands/story_rooms.py
  src/commands/tests/test_story_room_commands.py
Due: getattr-literal

feat(#2450): story-builder read API; STORY excluded from canonical listings
  src/world/areas/builder_views.py
  src/world/areas/tests/test_existing.py
  src/world/areas/views.py
  src/world/gm/serializers.py
  src/world/gm/story_views.py
  src/world/gm/tests/test_story_views.py
  src/world/gm/urls.py
Due: getattr-literal

fix(#2450): frontier select_related covers the new room_profile__area hop
  src/world/areas/positioning/travel.py
Due: getattr-literal

fix(#2450): story rooms never publicly listed at source; story viewset filters
  src/evennia_extensions/models.py
  src/evennia_extensions/tests/test_room_profile.py
  src/world/gm/story_views.py
  src/world/gm/tests/test_story_views.py
Due: getattr-literal

feat(#2450): story-builder page — scoped canvas, temp rooms, access grants
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/stories/pages/GMDashboardPage.tsx
  frontend/src/story-builder/api.ts
  frontend/src/story-builder/components/CreateStoryAreaDialog.tsx
  frontend/src/story-builder/components/RoomAccessPanel.tsx
  frontend/src/story-builder/components/StoryAreaListPanel.tsx
  frontend/src/story-builder/components/TempRoomsPanel.tsx
  frontend/src/story-builder/pages/StoryBuilderPage.tsx
  frontend/src/story-builder/queries.test.tsx
  frontend/src/story-builder/queries.ts
  frontend/src/story-builder/types.ts
  frontend/src/world-builder/components/DigRoomDialog.test.tsx
  frontend/src/world-builder/components/DigRoomDialog.tsx
  frontend/src/world-builder/components/LinkRoomsDialog.tsx
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/components/WorldCanvas.tsx
  src/schema.json
Due: eslint, typescript, prettier

feat(#2450): server-backed room grants listing in story manager + instances
  frontend/src/generated/api.d.ts
  frontend/src/story-builder/api.ts
  frontend/src/story-builder/components/RoomAccessPanel.test.tsx
  frontend/src/story-builder/components/RoomAccessPanel.tsx
  frontend/src/story-builder/components/TempRoomsPanel.test.tsx
  frontend/src/story-builder/components/TempRoomsPanel.tsx
  frontend/src/story-builder/pages/StoryBuilderPage.tsx
  frontend/src/story-builder/queries.test.tsx
  frontend/src/story-builder/queries.ts
  frontend/src/story-builder/types.ts
  src/schema.json
  src/world/gm/serializers.py
  src/world/gm/story_views.py
  src/world/gm/tests/test_story_views.py
Due: getattr-literal, eslint, typescript, prettier
