Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(magic): add Sultry to Fashion aesthetics
  src/world/magic/constants.py
Due: getattr-literal

feat(cg): implement facet selection UI for magic stage
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/magic/FacetSelection.tsx
  frontend/src/character-creation/components/magic/index.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

chore: address PR review feedback
  CLAUDE.md
  src/server/.gitignore
  src/server/server.db
  src/world/magic/constants.py
  src/world/magic/management/commands/seed_facets.py
  src/world/magic/management/commands/seed_resonances.py
Due: getattr-literal

Feature/resonance facets redesign (#253)
  CLAUDE.md
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/magic/FacetSelection.tsx
  frontend/src/character-creation/components/magic/index.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/server/.gitignore
  src/world/character_creation/migrations/0007_update_draft_motif_to_use_facet.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/management/__init__.py
  src/world/magic/management/commands/__init__.py
  src/world/magic/migrations/0017_add_facet_model.py
  src/world/magic/migrations/0018_add_character_facet.py
  src/world/magic/migrations/0019_update_motif_resonance_association_to_facet.py
  src/world/magic/migrations/0020_remove_resonance_association.py
  src/world/magic/models.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_models.py
  src/world/magic/tests/test_motif.py
  src/world/magic/tests/test_resonance_association.py
  src/world/magic/tests/test_serializers.py
  src/world/magic/tests/test_views.py
  src/world/magic/urls.py
  src/world/magic/views.py
  src/world/mechanics/constants.py
  src/world/mechanics/migrations/0003_add_resonance_fields.py
  src/world/mechanics/models.py
  src/world/mechanics/tests/test_models.py
Due: getattr-literal, eslint, typescript, prettier

test: add fixture integrity tests for distinctions and resonances
  src/world/distinctions/tests/test_fixture_integrity.py
Due: getattr-literal

test: add frontend message/state tests, remove fixture tests
  frontend/src/hooks/__tests__/handleCommandPayload.test.ts
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/__tests__/handleScenePayload.test.ts
  frontend/src/hooks/__tests__/parseGameMessage.test.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  src/world/distinctions/tests/test_fixture_integrity.py
Due: getattr-literal, eslint, typescript, prettier

chore: gitignore fixture integrity tests
  .gitignore
Due: none

docs: add rule against creating management commands
  CLAUDE.md
Due: none

test: add fixture integrity tests for distinctions and resonances (#254)
  .gitignore
  CLAUDE.md
  frontend/src/hooks/__tests__/handleCommandPayload.test.ts
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/__tests__/handleScenePayload.test.ts
  frontend/src/hooks/__tests__/parseGameMessage.test.ts
  frontend/src/store/__tests__/gameSlice.test.ts
Due: eslint, typescript, prettier

feat(codex): add summary and is_public fields to CodexEntry
  src/world/codex/migrations/0003_add_entry_summary.py
  src/world/codex/migrations/0004_add_entry_is_public.py
  src/world/codex/models.py
Due: getattr-literal

feat(codex): add clue models, rename LEARNING to UNCOVERED
  src/world/codex/factories.py
  src/world/codex/migrations/0005_clue_models_and_status_rename.py
  src/world/codex/models.py
  src/world/codex/tests/test_models.py
Due: getattr-literal

feat(codex): add admin and factories for clue models
  src/world/codex/admin.py
  src/world/codex/factories.py
Due: getattr-literal

feat(codex): add DRF serializers for codex API
  src/world/codex/serializers.py
Due: getattr-literal

feat(codex): add DRF viewsets with visibility control
  src/world/codex/views.py
Due: getattr-literal

feat(codex): register API endpoints
  src/web/urls.py
  src/world/codex/urls.py
Due: getattr-literal

test(codex): add API visibility tests
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
Due: getattr-literal

feat(codex): add frontend types and API functions
  frontend/src/codex/api.ts
  frontend/src/codex/types.ts
Due: eslint, typescript, prettier

feat(codex): add React Query hooks
  frontend/src/codex/index.ts
  frontend/src/codex/queries.ts
Due: eslint, typescript, prettier

feat(codex): add tree navigation component
  frontend/eslint.config.js
  frontend/src/codex/components/CodexTree.tsx
Due: eslint, typescript, prettier

feat(codex): add browse page with tree and search
  frontend/src/App.tsx
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/components/Header.tsx
Due: eslint, typescript, prettier

feat(codex): add CodexTerm reference component with modal
  frontend/src/codex/components/CodexModal.tsx
  frontend/src/codex/components/CodexTerm.tsx
  frontend/src/codex/index.ts
  frontend/src/components/ui/dialog.tsx
Due: eslint, typescript, prettier

test(codex): add frontend query tests
  frontend/src/codex/__tests__/queries.test.tsx
Due: eslint, typescript, prettier

fix(codex): address PR review feedback
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/pages/CodexPage.tsx
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(codex): move filterset to filters.py
  src/world/codex/filters.py
  src/world/codex/views.py
Due: getattr-literal

refactor(codex): use filterset for search instead of custom action
  frontend/src/codex/api.ts
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(codex): add path property to CodexSubject model
  src/world/codex/models.py
Due: getattr-literal

refactor(codex): use bounded prefetch for tree serialization
  src/world/codex/serializers.py
  src/world/codex/views.py
Due: getattr-literal

refactor(codex): use annotations instead of context maps
  src/world/codex/serializers.py
  src/world/codex/views.py
Due: getattr-literal

refactor(codex): update frontend types to match new API shape
  frontend/src/codex/types.ts
Due: eslint, typescript, prettier

docs: add rule prohibiting queries in loops
  CLAUDE.md
Due: none

refactor(codex): address senior dev feedback on tree and getattr
  frontend/src/codex/api.ts
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/types.ts
  src/world/codex/serializers.py
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

Feature/codex page (#255)
  CLAUDE.md
  frontend/eslint.config.js
  frontend/src/App.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/api.ts
  frontend/src/codex/components/CodexModal.tsx
  frontend/src/codex/components/CodexTerm.tsx
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/index.ts
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/codex/queries.ts
  frontend/src/codex/types.ts
  frontend/src/components/Header.tsx
  frontend/src/components/ui/dialog.tsx
  src/web/urls.py
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/filters.py
  src/world/codex/migrations/0003_add_entry_summary.py
  src/world/codex/migrations/0004_add_entry_is_public.py
  src/world/codex/migrations/0005_clue_models_and_status_rename.py
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_models.py
  src/world/codex/tests/test_views.py
  src/world/codex/urls.py
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

fix: add explicit Stats type annotation to fix TS2322 build error
  frontend/src/character-creation/components/AttributesStage.tsx
Due: eslint, typescript, prettier

fix: add explicit Stats type annotation to fix TS2322 build error (#256)
  frontend/src/character-creation/components/AttributesStage.tsx
Due: eslint, typescript, prettier

fix: rename CodexSubject.path to breadcrumb_path to avoid SharedMemoryModel collision
  src/world/codex/models.py
  src/world/codex/serializers.py
Due: getattr-literal

fix: rename CodexSubject.path to breadcrumb_path to avoid SharedMemor… (#257)
  src/world/codex/models.py
  src/world/codex/serializers.py
Due: getattr-literal

chore: add *.sqlite3 to gitignore
  .gitignore
Due: none

chore: add *.sqlite3 to gitignore (#258)
  .gitignore
Due: none

feat(codex): add API functions for category and subject detail
  frontend/src/codex/api.ts
  frontend/src/codex/queries.ts
Due: eslint, typescript, prettier

chore(codex): add react-masonry-css for card layout
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
