Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

test(battles): E2E journeys for Surrounded peril entry/escalation/rescue/death
  src/integration_tests/pipeline/test_battle_peril_rescue_e2e.py
Due: getattr-literal

fix(battles): pin the same-round Surrounded resist check in Journey 1's Round 1
  src/integration_tests/pipeline/test_battle_peril_rescue_e2e.py
Due: getattr-literal

fix(battles): guard same-round Surrounded entry-then-escalate, degrade terminal pool lookup gracefully
  src/integration_tests/pipeline/test_battle_peril_rescue_e2e.py
  src/world/battles/resolution.py
Due: getattr-literal

docs(battles): add the E2E peril/rescue journey file to Test Coverage
  docs/systems/battles.md
Due: none

feat(npc_services): Functionary room-placement layer + NPC ontology (#1766)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0070-npc-ontology-functionary-standing-story.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/commands/hire.py
  src/commands/tests/test_hire_command.py
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/factories.py
  src/world/npc_services/functionaries.py
  src/world/npc_services/migrations/0006_functionary.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_functionaries.py
Due: getattr-literal

feat(npc_services): finish Functionary layer — staff placement + look visibility (#1766)
  docs/systems/INDEX.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/functionary.py
  src/commands/tests/test_functionary_command.py
  src/typeclasses/rooms.py
  src/world/npc_services/tests/test_functionaries.py
Due: getattr-literal

feat(npc_services): Functionary room-placement layer + NPC ontology (#1766) (#1767)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0070-npc-ontology-functionary-standing-story.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/functionary.py
  src/commands/hire.py
  src/commands/tests/test_functionary_command.py
  src/commands/tests/test_hire_command.py
  src/typeclasses/rooms.py
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/factories.py
  src/world/npc_services/functionaries.py
  src/world/npc_services/migrations/0006_functionary.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_functionaries.py
Due: getattr-literal

feat(missions): after-action reporting — RESOLVED lifecycle + payout styles (#1753)
  docs/roadmap/missions.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/commands/CLAUDE.md
  src/commands/missions.py
  src/schema.json
  src/world/magic/constants.py
  src/world/magic/migrations/0074_alter_resonancegrant_source_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/grant.py
  src/world/magic/services/resonance.py
  src/world/missions/AGENT_GLOSSARY.md
  src/world/missions/constants.py
  src/world/missions/migrations/0020_missioninstance_report_style_and_more.py
  src/world/missions/migrations/max_migration.txt
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/report.py
  src/world/missions/services/resolution.py
  src/world/missions/services/rewards.py
  src/world/missions/tests/test_services_report.py
  src/world/missions/views.py
Due: getattr-literal, eslint, typescript, prettier

Battle system: peril/rescue state machine + AFK knobs (#1768)
  docs/adr/0070-battle-peril-may-override-afk-safety-narrowly.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/battles.md
  src/commands/battle.py
  src/integration_tests/pipeline/test_battle_peril_rescue_e2e.py
  src/world/battles/constants.py
  src/world/battles/migrations/0003_battle_afk_peril_override.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/tests/test_command.py
  src/world/battles/tests/test_constants.py
  src/world/battles/tests/test_models.py
  src/world/battles/tests/test_resolution.py
  src/world/conditions/constants.py
  src/world/vitals/CLAUDE.md
  src/world/vitals/constants.py
  src/world/vitals/factories.py
  src/world/vitals/services.py
  src/world/vitals/tests/test_bleed_out.py
  src/world/vitals/tests/test_peril_pools.py
  src/world/vitals/tests/test_services.py
Due: getattr-literal

feat(missions): after-action reporting — RESOLVED lifecycle + payout styles (#1753) (#1769)
  docs/roadmap/missions.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/commands/CLAUDE.md
  src/commands/missions.py
  src/schema.json
  src/world/magic/constants.py
  src/world/magic/migrations/0074_alter_resonancegrant_source_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/grant.py
  src/world/magic/services/resonance.py
  src/world/missions/AGENT_GLOSSARY.md
  src/world/missions/constants.py
  src/world/missions/migrations/0020_missioninstance_report_style_and_more.py
  src/world/missions/migrations/max_migration.txt
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/report.py
  src/world/missions/services/resolution.py
  src/world/missions/services/rewards.py
  src/world/missions/tests/test_services_report.py
  src/world/missions/views.py
Due: getattr-literal, eslint, typescript, prettier

docs: renumber duplicate ADRs (0062/0065/0066/0070) + fix stale roadmap line
  docs/adr/0056-technique-threads-are-an-optional-signature-axis.md
  docs/adr/0069-succor-roundcontext-capability.md
  docs/adr/0071-species-gift-drawbacks-mitigated-by-gift-thread.md
  docs/adr/0072-signature-motif-bonus-is-additive-not-a-variant.md
  docs/adr/0073-environmental-vulnerabilities-are-dot-rows-riding-the-peril-pipeline.md
  docs/adr/0074-battle-peril-may-override-afk-safety-narrowly.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/roadmap/player-capability-ledger.md
  docs/roadmap/species.md
  docs/systems/INDEX.md
  docs/systems/battles.md
  docs/systems/conditions.md
  docs/systems/magic.md
  docs/systems/species.md
  src/world/battles/migrations/0003_battle_afk_peril_override.py
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/locations/CLAUDE.md
  src/world/locations/services.py
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/CLAUDE.md
  src/world/magic/services/targeting.py
Due: getattr-literal

Coerce DamagePreApplyPayload.amount to int after multiply (#1318)
  src/world/combat/services.py
  src/world/combat/tests/test_damage_payload_type.py
Due: getattr-literal

feat(stories): stake severity/subject/column vocabulary + readiness report type (#1770 PR1)
  src/world/stories/constants.py
  src/world/stories/types.py
Due: getattr-literal

feat(stories): stakes-contract models — RiskCalibration, StakeTemplate, Stake, StakeResolution, StakeContractActivation, Beat.target_level (#1770 PR1)
  src/world/stories/admin.py
  src/world/stories/factories.py
  src/world/stories/migrations/0006_riskcalibration_staketemplate_beat_target_level_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/tests/test_models_stakes.py
Due: getattr-literal

feat(stories): effective risk relative to declared target level (#1770 PR1)
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

docs(skills): issue-to-merged-pr model table → Sonnet 5 (drop stale sonnet-4-6/opus/haiku refs)
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

feat(stories): stakes readiness validation — columns, calibration bands, jeopardy fuse walk (#1770 PR1)
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

feat(stories): contract activation — lock lifecycle + effective-risk pricing (#1770 PR1)
  src/world/stories/services/beats.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

fix(stories): activation race — constraint-backstopped idempotency (#1770 PR1)
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

feat(mechanics): legend award pays effective risk from the stakes activation (#1770 PR1)
  src/world/mechanics/effect_handlers.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

fix(stories): serializer-layer ownership on create/re-point + two-sided lock check (Beat/Stake/StakeResolution) (#1770 PR1)
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_serializers_stakes.py
Due: getattr-literal

feat(stories): stakes-contract API surface — serializers with lock/custom gates, viewsets, filters (#1770 PR1)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/stories/filters.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_serializers_stakes.py
  src/world/stories/urls.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

docs(adr): chain rule, effective risk, menu-first calibration; amend 0067 (#1770 PR1)
  docs/adr/0067-beat-risk-is-the-stakes-wager-declaration.md
  docs/adr/0071-removal-from-play-is-reached-through-the-fuse-walk.md
  docs/adr/0072-effective-risk-is-priced-relative-to-target-level.md
  docs/adr/0073-menu-first-stakes-with-calibration-bands.md
  docs/adr/README.md
Due: none

docs(stakes): system doc + glossary + stale Beat.risk fix (#1770 PR1)
  AGENT_GLOSSARY_MAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/stakes.md
  docs/systems/stories.md
  src/world/stories/AGENT_GLOSSARY.md
Due: none

docs(stakes): repoint activation-wiring gap to #1770 PR spine, not #1771
  docs/systems/stakes.md
Due: none

fix(stories): final review wave — check ordering, ownership re-point tests, frozen constants, doc corrections (#1770 PR1)
  docs/adr/0071-removal-from-play-is-reached-through-the-fuse-walk.md
  docs/systems/stakes.md
  src/world/stories/constants.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_serializers_stakes.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

Coerce DamagePreApplyPayload.amount to int after MODIFY_PAYLOAD multiply (#1273 minor) (#1774)
  src/world/combat/services.py
  src/world/combat/tests/test_damage_payload_type.py
Due: getattr-literal

docs: renumber duplicate ADRs (0062/0065/0066/0070) + fix stale roadmap line (#1773)
  docs/adr/0056-technique-threads-are-an-optional-signature-axis.md
  docs/adr/0069-succor-roundcontext-capability.md
  docs/adr/0071-species-gift-drawbacks-mitigated-by-gift-thread.md
  docs/adr/0072-signature-motif-bonus-is-additive-not-a-variant.md
  docs/adr/0073-environmental-vulnerabilities-are-dot-rows-riding-the-peril-pipeline.md
  docs/adr/0074-battle-peril-may-override-afk-safety-narrowly.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/roadmap/player-capability-ledger.md
  docs/roadmap/species.md
  docs/systems/INDEX.md
  docs/systems/battles.md
  docs/systems/conditions.md
  docs/systems/magic.md
  docs/systems/species.md
  src/world/battles/migrations/0003_battle_afk_peril_override.py
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/locations/CLAUDE.md
  src/world/locations/services.py
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/CLAUDE.md
  src/world/magic/services/targeting.py
Due: getattr-literal

fix(stories): stake subject FKs SET_NULL (stakes outlive their subjects) + items query-budget +1 (#1770 PR1)
  docs/systems/stakes.md
  src/world/items/tests/test_crafting_query_counts.py
  src/world/stories/migrations/0007_alter_stake_subject_item_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
Due: getattr-literal

fix(api-types): regenerate schema + frontend types post-rebase (#1770 PR1)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Stakes contracts PR1: contract model, readiness + fuse walk, activation lock, effective-risk Legend (#1770) (#1775)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0067-beat-risk-is-the-stakes-wager-declaration.md
  docs/adr/0071-removal-from-play-is-reached-through-the-fuse-walk.md
  docs/adr/0072-effective-risk-is-priced-relative-to-target-level.md
  docs/adr/0073-menu-first-stakes-with-calibration-bands.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/stakes.md
  docs/systems/stories.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/items/tests/test_crafting_query_counts.py
  src/world/mechanics/effect_handlers.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/admin.py
  src/world/stories/constants.py
  src/world/stories/factories.py
  src/world/stories/filters.py
  src/world/stories/migrations/0006_riskcalibration_staketemplate_beat_target_level_and_more.py
  src/world/stories/migrations/0007_alter_stake_subject_item_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/beats.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_models_stakes.py
  src/world/stories/tests/test_serializers_stakes.py
  src/world/stories/tests/test_services_stakes.py
  src/world/stories/types.py
  src/world/stories/urls.py
  src/world/stories/views.py
  tools/skills/issue-to-merged-pr/SKILL.md
Due: getattr-literal, eslint, typescript, prettier

feat(#670): building-manager read API — manager payload, for-room resolver, catalogs
  src/web/api/urls.py
  src/world/buildings/serializers.py
  src/world/buildings/tests/test_manager_api.py
  src/world/buildings/urls.py
  src/world/buildings/views.py
Due: getattr-literal

feat(#670): room-builder actions accept explicit room_id/to_room_id/exit_id
  src/actions/definitions/locations.py
  src/actions/prerequisites.py
  src/actions/tests/test_room_builder_web_kwargs.py
Due: getattr-literal

feat(#670): place_room action — cosmetic grid re-placement for the web canvas
  src/actions/definitions/locations.py
  src/actions/registry.py
  src/actions/tests/test_room_builder_web_kwargs.py
  src/world/buildings/room_services.py
  src/world/buildings/tests/test_room_services.py
Due: getattr-literal

chore(#670): regen API schema + frontend types for building-manager endpoints
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#670): buildings frontend module + Manage Building / Set as Home entry points
  frontend/src/buildings/api.ts
  frontend/src/buildings/components/BudgetMeter.tsx
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/gridMath.test.ts
  frontend/src/buildings/gridMath.ts
  frontend/src/buildings/queries.ts
  frontend/src/buildings/types.ts
  frontend/src/game/components/RoomPanel.tsx
Due: eslint, typescript, prettier

feat(#670): room detail panel, dig/decorate/extend dialogs, tenant management
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/components/DecorationDialog.tsx
  frontend/src/buildings/components/DigDialog.test.tsx
  frontend/src/buildings/components/DigDialog.tsx
  frontend/src/buildings/components/ExtensionDialog.tsx
  frontend/src/buildings/components/RoomDetailPanel.tsx
  frontend/src/buildings/components/TenantSection.tsx
Due: eslint, typescript, prettier

feat(#670): builder map canvas — grid room nodes, ghost-cell digs, drag placement, exit edges
  frontend/src/buildings/components/BuilderCanvas.tsx
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/components/RoomNode.tsx
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
