Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#772): seed/feed a combat encounter from a hostile cast
  src/world/combat/cast_seed.py
  src/world/combat/tests/test_cast_seed.py
Due: getattr-literal

fix(#772): wrap cast encounter seeding in a transaction
  src/world/combat/cast_seed.py
  src/world/combat/services.py
Due: getattr-literal

feat(#772): request_technique_cast routing service
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
  src/world/scenes/types.py
Due: getattr-literal

fix(#772): forward strain_commitment on immediate cast; compute difficulty once
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

feat(#772): surface cast-level power ledger in outcome narration
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

fix(#772): keep kudos + resolver callback inside the accept transaction
  src/world/scenes/action_services.py
Due: getattr-literal

feat(#772): resolve standalone casts on consent acceptance
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

fix(#772): surface power ledger on accept path; add cast API test coverage
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/types.py
Due: getattr-literal

feat(#772): cast + castable-techniques API + power-ledger payload seam
  frontend/src/generated/api.d.ts
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/types.py
Due: getattr-literal, eslint, typescript, prettier

feat(#772): standalone cast UI in ActionPanel
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

test(#772): end-to-end cast integration + roadmap update
  docs/roadmap/magic.md
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_cast_integration.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

fix(#772): resolve ty type errors in cast services + serializer
  src/world/scenes/action_serializers.py
  src/world/scenes/cast_services.py
Due: getattr-literal

style(#772): prettier/eslint formatting for cast UI
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

fix(#772): restore getattr-literal + use-filterset lint suppressions
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
Due: getattr-literal

Budget-based technique builder (post-CG) (#775)
  docs/roadmap/magic.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/magic/api.ts
  frontend/src/magic/components/TechniqueBuilderForm.tsx
  frontend/src/magic/components/TechniquePayloadEditors.tsx
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
  frontend/src/magic/queries.ts
  frontend/src/magic/types.ts
  src/schema.json
  src/world/character_creation/services.py
  src/world/magic/CLAUDE.md
  src/world/magic/constants.py
  src/world/magic/exceptions.py
  src/world/magic/factories.py
  src/world/magic/migrations/0014_techniquebudgetconfig_techniquetierbudget.py
  src/world/magic/models/__init__.py
  src/world/magic/models/technique_builder.py
  src/world/magic/serializers.py
  src/world/magic/services/technique_builder.py
  src/world/magic/tests/test_technique_budget_models.py
  src/world/magic/tests/test_technique_builder_api.py
  src/world/magic/tests/test_technique_builder_service.py
  src/world/magic/tests/test_views.py
  src/world/magic/types/technique_builder.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#745): ActionTemplate ap_cost/social_fatigue_cost/accepts_pose_text fields
  src/actions/migrations/0005_actiontemplate_accepts_pose_text_and_more.py
  src/actions/models/action_templates.py
  src/actions/tests/test_action_template_fields.py
Due: getattr-literal

feat(#745): SceneActionRequest area fields (nullable target, pose_text, effort, deed)
  src/world/scenes/action_models.py
  src/world/scenes/migrations/0010_sceneactionrequest_effort_level_and_more.py
  src/world/scenes/tests/test_area_action_model.py
Due: getattr-literal

refactor(#772): dedup cast resolution + strain validation (SonarCloud gate)
  src/world/scenes/action_serializers.py
  src/world/scenes/cast_services.py
Due: getattr-literal

feat(#745): get_spreadable_deeds + spread value formula
  src/world/societies/spread_services.py
  src/world/societies/tests/test_spread_services.py
Due: getattr-literal

feat(#745): room activity bands from TRAFFIC (band_for_traffic)
  src/world/locations/activity_services.py
  src/world/locations/tests/test_activity_services.py
Due: getattr-literal

refactor(#772): extract shared cast request + test setup helpers (reduce duplication)
  src/world/scenes/cast_services.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_cast_integration.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

feat(#745): spread_a_tale resolver + room_activity_band cascade read
  src/world/locations/activity_services.py
  src/world/societies/apps.py
  src/world/societies/spread_services.py
  src/world/societies/tests/test_spread_resolver.py
Due: getattr-literal

feat(#745): area-action dispatch (G5) + AP/social-fatigue cost (G4)
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_area_action_dispatch.py
Due: getattr-literal

feat(#745): Spread a Tale HTTP endpoints + seed helper (Task 8 + 1b API)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/tests/test_spread_endpoints.py
  src/world/scenes/views.py
  src/world/societies/spread_serializers.py
  src/world/societies/spread_services.py
Due: getattr-literal, eslint, typescript, prettier

fix(#745): adversarial review fixes — AP rollback, scene gate, notify path
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_spread_endpoints.py
  src/world/scenes/views.py
  src/world/societies/notifications.py
  src/world/societies/spread_services.py
Due: getattr-literal

feat(#745): Spread a Tale frontend (Phase 1b)
  frontend/src/renown/components/RenownPanel.tsx
  frontend/src/spread/SpreadTaleDialog.tsx
  frontend/src/spread/queries.ts
Due: eslint, typescript, prettier

Standalone technique cast — first-class scene action (cast→pose→log→outcome) (#779)
  docs/roadmap/magic.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  src/world/combat/cast_seed.py
  src/world/combat/interaction_services.py
  src/world/combat/services.py
  src/world/combat/tests/test_cast_seed.py
  src/world/combat/tests/test_power_outcome_narration.py
  src/world/magic/narration.py
  src/world/magic/services/hostility.py
  src/world/magic/tests/test_hostility.py
  src/world/magic/tests/test_narration.py
  src/world/scenes/action_constants.py
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/migrations/0010_alter_sceneactionrequest_target_persona.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_action_models.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_cast_integration.py
  src/world/scenes/tests/test_cast_services.py
  src/world/scenes/types.py
Due: getattr-literal, eslint, typescript, prettier

fix(#745): FE review fold-in — a11y labels, scene-change remount, error refresh
  frontend/src/spread/SpreadTaleDialog.tsx
  frontend/src/spread/queries.ts
Due: eslint, typescript, prettier

feat(#753): lift scales_with_severity to ConditionOrStageEffect base
  src/world/conditions/factories.py
  src/world/conditions/migrations/0007_conditioncapabilityeffect_scales_with_severity_and_more.py
  src/world/conditions/models.py
  src/world/conditions/tests/test_condition_modifier_effect.py
Due: getattr-literal

feat(#753): scale ConditionModifierEffect by instance severity when flagged
  src/world/conditions/services.py
  src/world/conditions/tests/test_condition_modifier_effect.py
Due: getattr-literal

refactor(#753): rename CovenantRite.min_engaged_present -> min_members_present
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0006_rename_min_engaged_present.py
  src/world/covenants/models.py
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_models.py
  src/world/covenants/tests/test_rite_seed.py
  src/world/covenants/tests/test_rite_views.py
  src/world/covenants/tests/test_rites.py
Due: getattr-literal, eslint, typescript, prettier

feat(#753): broaden rite eligibility to all active covenant members present
  src/world/covenants/exceptions.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_exceptions.py
  src/world/covenants/tests/test_rites.py
Due: getattr-literal

feat(#753): CovenantRiteRolePackage + package_for role/level selection
  src/world/covenants/factories.py
  src/world/covenants/migrations/0007_covenantriterolepackage.py
  src/world/covenants/models.py
  src/world/covenants/tests/test_rites.py
Due: getattr-literal

test(#753): end-to-end role/level/late-join/sweep integration + roadmap
  docs/roadmap/covenants.md
  src/integration_tests/test_covenant_rite_flow.py
Due: getattr-literal

feat(#753): per-participant rite conditions via CovenantRiteParticipant through model
  src/world/covenants/migrations/0008_covenantriteparticipant_and_more.py
  src/world/covenants/models.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_models.py
  src/world/covenants/tests/test_rites.py
Due: getattr-literal

feat(#753): seed Renew-the-Oath scaling default package + Sword/Shield/Crown level bands
  src/world/conditions/factories.py
  src/world/covenants/factories.py
  src/world/covenants/tests/test_rite_seed.py
Due: getattr-literal

fix(#753): package_for accepts None role + docstring accuracy
  src/world/covenants/models.py
  src/world/covenants/services.py
Due: getattr-literal

Covenant rite role/level stat packages: severity-scaling buffs + all-member eligibility (#784)
  docs/roadmap/covenants.md
  frontend/src/generated/api.d.ts
  src/integration_tests/test_covenant_rite_flow.py
  src/schema.json
  src/world/conditions/factories.py
  src/world/conditions/migrations/0007_conditioncapabilityeffect_scales_with_severity_and_more.py
  src/world/conditions/models.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_condition_modifier_effect.py
  src/world/covenants/admin.py
  src/world/covenants/exceptions.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0006_rename_min_engaged_present.py
  src/world/covenants/migrations/0007_covenantriterolepackage.py
  src/world/covenants/migrations/0008_covenantriteparticipant_and_more.py
  src/world/covenants/models.py
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_exceptions.py
  src/world/covenants/tests/test_models.py
  src/world/covenants/tests/test_rite_seed.py
  src/world/covenants/tests/test_rite_views.py
  src/world/covenants/tests/test_rites.py
Due: getattr-literal, eslint, typescript, prettier

feat(#745): Phase 2 — Performance/Persuasion skills + form specializations
  src/actions/services.py
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_spread_endpoints.py
  src/world/scenes/views.py
  src/world/societies/spread_serializers.py
  src/world/societies/spread_services.py
  src/world/societies/tests/test_spread_specialization.py
Due: getattr-literal

feat(#745): Phase 2 FE — form-of-telling picker
  frontend/src/generated/api.d.ts
  frontend/src/spread/SpreadTaleDialog.tsx
  frontend/src/spread/queries.ts
  src/schema.json
Due: eslint, typescript, prettier
