Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

docs(stakes): two-sided contract section, INDEX/MODEL_MAP/glossary sync, ADR-0073 reward band (#1770 PR3)
  docs/adr/0073-menu-first-stakes-with-calibration-bands.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  docs/systems/stakes.md
  src/world/stories/AGENT_GLOSSARY.md
Due: none

fix(currency): optional reason_label on deliver_mission_money for honest ledger rows (#1770 PR3)
  src/world/currency/services.py
Due: getattr-literal

fix(stories): close GM-pick banding bypass, claim-before-pay, pended-activation picks, WIN-only lines (#1770 PR3)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/models.py
  src/world/stories/serializers.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stake_rewards.py
Due: getattr-literal, eslint, typescript, prettier

docs(stakes): review-fix sync — completed-beat edit lock, pay-time band re-check, claim-before-pay, pended-activation picks, WIN-only lines (#1770 PR3)
  docs/systems/stakes.md
Due: none

feat(#670): Room Builder web — building-manager API + map-canvas builder (PR2) (#1776)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  frontend/src/buildings/api.ts
  frontend/src/buildings/components/BudgetMeter.tsx
  frontend/src/buildings/components/BuilderCanvas.tsx
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/components/DecorationDialog.tsx
  frontend/src/buildings/components/DigDialog.test.tsx
  frontend/src/buildings/components/DigDialog.tsx
  frontend/src/buildings/components/ExtensionDialog.tsx
  frontend/src/buildings/components/RoomDetailPanel.tsx
  frontend/src/buildings/components/RoomNode.tsx
  frontend/src/buildings/components/TenantSection.tsx
  frontend/src/buildings/gridMath.test.ts
  frontend/src/buildings/gridMath.ts
  frontend/src/buildings/queries.ts
  frontend/src/buildings/types.ts
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/generated/api.d.ts
  src/actions/CLAUDE.md
  src/actions/definitions/locations.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_room_builder_web_kwargs.py
  src/schema.json
  src/web/api/urls.py
  src/world/buildings/AGENT_GLOSSARY.md
  src/world/buildings/room_services.py
  src/world/buildings/serializers.py
  src/world/buildings/tests/test_manager_api.py
  src/world/buildings/tests/test_room_services.py
  src/world/buildings/urls.py
  src/world/buildings/views.py
Due: getattr-literal, eslint, typescript, prettier

docs: renumber colliding ADRs (three 0071s → unique 0075-0078) (#1777)
  docs/adr/0067-beat-risk-is-the-stakes-wager-declaration.md
  docs/adr/0075-building-target-size-is-a-space-budget.md
  docs/adr/0076-removal-from-play-is-reached-through-the-fuse-walk.md
  docs/adr/0077-effective-risk-is-priced-relative-to-target-level.md
  docs/adr/0078-menu-first-stakes-with-calibration-bands.md
  docs/adr/README.md
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
Due: none

feat(#930): the books summon — representative loop, LOAN offers, Command Center (#1783)
  frontend/src/generated/api.d.ts
  frontend/src/npc_services/components/NPCInteractionDialog.tsx
  frontend/src/npc_services/interaction.ts
  frontend/src/org_books/pages/OrgBooksPage.tsx
  src/schema.json
  src/world/currency/tests/test_summon_roles.py
  src/world/currency/views.py
  src/world/npc_services/constants.py
  src/world/npc_services/effects.py
  src/world/npc_services/migrations/0007_alter_npcserviceoffer_kind_loanofferdetails.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_loan_offers.py
  src/world/room_features/apps.py
  src/world/room_features/seeds.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_command_center.py
Due: getattr-literal, eslint, typescript, prettier

feat(#1514): owner build-HUD + comfort-fixture verbs (stacked on #1778) (#1779)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/buildings/api.ts
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/components/ComfortSection.tsx
  frontend/src/buildings/components/RoomDetailPanel.tsx
  frontend/src/buildings/queries.ts
  frontend/src/buildings/types.ts
  frontend/src/generated/api.d.ts
  src/actions/CLAUDE.md
  src/actions/definitions/locations.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/locations.py
  src/commands/tests/test_manageroom_command.py
  src/schema.json
  src/world/buildings/seeds.py
  src/world/buildings/serializers.py
  src/world/buildings/tests/test_comfort_hud.py
  src/world/buildings/views.py
  src/world/locations/services.py
Due: getattr-literal, eslint, typescript, prettier

feat(#1469): discoverable throwback architectural styles (stacked on #1776) (#1778)
  docs/adr/0079-style-discovery-rides-the-clue-research-pipeline.md
  docs/adr/README.md
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/buildings/api.ts
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/components/ComfortSection.tsx
  frontend/src/buildings/components/RoomDetailPanel.tsx
  frontend/src/buildings/queries.ts
  frontend/src/buildings/types.ts
  frontend/src/generated/api.d.ts
  src/actions/CLAUDE.md
  src/actions/definitions/locations.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/locations.py
  src/commands/tests/test_manageroom_command.py
  src/schema.json
  src/world/buildings/AGENT_GLOSSARY.md
  src/world/buildings/admin.py
  src/world/buildings/migrations/0017_architecturalstyle_cost_multiplier_and_more.py
  src/world/buildings/migrations/max_migration.txt
  src/world/buildings/models.py
  src/world/buildings/polish_services.py
  src/world/buildings/seeds.py
  src/world/buildings/serializers.py
  src/world/buildings/services.py
  src/world/buildings/tests/test_comfort_hud.py
  src/world/buildings/tests/test_style_discovery.py
  src/world/buildings/views.py
  src/world/locations/services.py
Due: getattr-literal, eslint, typescript, prettier

Stakes contracts PR4: opt-in surfaces, activation wiring, boundary seam (#1770) (#1781)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/stakes.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ConsentPrompt.test.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  src/actions/definitions/gm_stories.py
  src/actions/definitions/npc_services.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_gm_story_actions.py
  src/commands/hire.py
  src/schema.json
  src/world/combat/beat_wiring.py
  src/world/combat/cast_seed.py
  src/world/combat/duels.py
  src/world/combat/tests/test_stakes_activation.py
  src/world/missions/AGENT_GLOSSARY.md
  src/world/missions/constants.py
  src/world/missions/migrations/0021_missionriskacknowledgement.py
  src/world/missions/migrations/max_migration.txt
  src/world/missions/models.py
  src/world/missions/services/beat.py
  src/world/missions/services/offer_handler.py
  src/world/missions/tests/test_risk_acknowledgement.py
  src/world/npc_services/serializers.py
  src/world/npc_services/services.py
  src/world/npc_services/views.py
  src/world/scenes/action_serializers.py
  src/world/scenes/tests/test_scene_action_request_serializer.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/boundaries.py
  src/world/stories/tests/test_stakes_optin.py
  src/world/stories/types.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

Stakes contracts PR2: per-stake resolution, world-state writers, withdrawal, constrained GM pick (#1770) (#1782)
  docs/adr/0076-removal-from-play-is-reached-through-the-fuse-walk.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/stakes.md
  frontend/src/generated/api.d.ts
  frontend/src/stories/api.ts
  frontend/src/stories/components/TransitionFormDialog.tsx
  src/schema.json
  src/world/combat/beat_wiring.py
  src/world/combat/tests/test_encounter_beat_wiring.py
  src/world/items/services/usage.py
  src/world/items/tests/test_usage_service.py
  src/world/roster/services/activity.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/constants.py
  src/world/stories/factories.py
  src/world/stories/migrations/0008_stakeoutcome_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/beats.py
  src/world/stories/services/save_transition.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/services/stakes.py
  src/world/stories/services/transitions.py
  src/world/stories/tests/test_services_stake_resolution.py
  src/world/stories/types.py
  src/world/stories/views.py
  src/world/vitals/services.py
  src/world/vitals/tests/test_life_state.py
Due: getattr-literal, eslint, typescript, prettier

chore: regen api types + MODEL_MAP on the merged tree (#1770 PR3)
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Stakes contracts PR3: win-column reward menu, calibrated bands, anti-farming gate (#1770) (#1784)
  docs/adr/0078-menu-first-stakes-with-calibration-bands.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  docs/systems/stakes.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/currency/services.py
  src/world/magic/constants.py
  src/world/magic/migrations/0075_alter_resonancegrant_source_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/grant.py
  src/world/magic/services/resonance.py
  src/world/missions/services/rewards.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/constants.py
  src/world/stories/factories.py
  src/world/stories/filters.py
  src/world/stories/migrations/0009_stakerewardline.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stake_rewards.py
  src/world/stories/tests/test_services_stakes.py
  src/world/stories/urls.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

chore: enforce worktrees under .claude/worktrees/ named volume
  AGENTS.md
  CLAUDE.md
  tools/skills/using-git-worktrees/SKILL.md
Due: none

feat(justice): laws, crime kinds, persona pursuit heat — models, services, knowledge-seam accrual, decay cron (#1765)
  .github/workflows/ci.yml
  src/server/conf/settings.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/tasks.py
  src/world/justice/__init__.py
  src/world/justice/admin.py
  src/world/justice/apps.py
  src/world/justice/constants.py
  src/world/justice/factories.py
  src/world/justice/migrations/0001_initial.py
  src/world/justice/migrations/__init__.py
  src/world/justice/migrations/max_migration.txt
  src/world/justice/models.py
  src/world/justice/services.py
  src/world/justice/tests/__init__.py
  src/world/justice/tests/test_models.py
  src/world/justice/tests/test_services.py
  src/world/justice/tests/test_spread_accrual.py
  src/world/justice/types.py
  src/world/societies/knowledge_services.py
  src/world/societies/services.py
  src/world/societies/spread_services.py
Due: getattr-literal

feat(missions): light up CRIME_WATCH — heat at report, mostly-accurate dodge, masked-deed association (#1765)
  src/world/justice/services.py
  src/world/missions/integrations/__init__.py
  src/world/missions/integrations/crime_watch.py
  src/world/missions/integrations/crime_watch_stub.py
  src/world/missions/serializers.py
  src/world/missions/services/report.py
  src/world/missions/services/rewards.py
  src/world/missions/tests/test_integrations_stubs.py
  src/world/missions/tests/test_report_heat.py
  src/world/missions/tests/test_services_apply_deed_rewards.py
  src/world/missions/tests/test_services_report.py
  src/world/missions/views.py
  src/world/societies/renown.py
Due: getattr-literal

feat(justice): self-only heat surfaces — room line, safe-now relief, crime sheet section + tab, heat API (#1765)
  frontend/src/generated/api.d.ts
  frontend/src/justice/api.ts
  frontend/src/justice/components/CrimeTab.tsx
  frontend/src/justice/queries.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/commands/account/sheet_sections.py
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
  src/schema.json
  src/typeclasses/characters.py
  src/typeclasses/rooms.py
  src/web/urls.py
  src/world/justice/display.py
  src/world/justice/serializers.py
  src/world/justice/tests/test_surfaces.py
  src/world/justice/urls.py
  src/world/justice/views.py
Due: getattr-literal, eslint, typescript, prettier

docs(justice): system doc, ADR-0080 jurisdiction, glossary, INDEX/MODEL_MAP, seeds + roadmap sync (#1765)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0080-heat-jurisdiction-judged-at-the-commit-location.md
  docs/adr/README.md
  docs/roadmap/missions.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/justice.md
  src/world/justice/AGENT_GLOSSARY.md
  src/world/seeds/clusters.py
  src/world/seeds/justice.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

enforce mandatory worktrees on the named volume for all agents
  AGENTS.md
  CLAUDE.md
  tools/skills/issue-to-merged-pr/scripts/pickup-issue.sh
  tools/skills/using-git-worktrees/SKILL.md
Due: none

feat(justice): declare criminality at deed birth + user-ratified tier names (#1765)
  docs/roadmap/missions.md
  docs/systems/justice.md
  frontend/src/justice/components/CrimeTab.tsx
  src/world/justice/constants.py
  src/world/justice/display.py
  src/world/justice/tests/test_models.py
  src/world/justice/tests/test_services.py
  src/world/justice/tests/test_spread_accrual.py
  src/world/justice/tests/test_surfaces.py
  src/world/missions/services/renown_emission.py
  src/world/missions/tests/test_services_emit_terminal_renown.py
  src/world/societies/services.py
Due: getattr-literal, eslint, typescript, prettier

Make worktrees mandatory on the .claude/worktrees named volume (#1787)
  AGENTS.md
  CLAUDE.md
  tools/skills/issue-to-merged-pr/scripts/pickup-issue.sh
  tools/skills/using-git-worktrees/SKILL.md
Due: none

feat(stories): add scale_by_party_level param to activate_stakes_contract
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_services_stakes.py
Due: getattr-literal

refactor(stories,combat): move staked_unsatisfied_beats_for_scene to stories (scene-generic helper)
  src/world/combat/beat_wiring.py
  src/world/stories/services/stakes.py
Due: getattr-literal

feat(battles): add BattleOutcomeMapping model + admin
  src/world/battles/admin.py
  src/world/battles/migrations/0004_battleoutcomemapping.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/tests/test_beat_wiring.py
Due: getattr-literal

feat(battles): add classify/activate/resolve beat-wiring functions
  src/world/battles/beat_wiring.py
  src/world/battles/tests/test_beat_wiring.py
Due: getattr-literal

docs(adr): record ADR-0080, the battle-stakes declared-risk carve-out
  docs/adr/0077-effective-risk-is-priced-relative-to-target-level.md
  docs/adr/0080-battle-stakes-price-at-declared-risk-not-party-level.md
Due: none

docs(battles,stakes): document the #1785 outcome/stakes wiring, retire stale #1716 refs
  docs/systems/battles.md
  docs/systems/stakes.md
Due: none

feat(battles): wire conclude_battle and begin_battle_round into beat_wiring
  src/world/battles/services.py
  src/world/battles/tests/test_beat_wiring.py
  src/world/battles/tests/test_conclusion.py
Due: getattr-literal

test(battles,stories): close final #1785 review gaps in stakes-wiring coverage
  docs/adr/0080-battle-stakes-price-at-declared-risk-not-party-level.md
  src/world/battles/tests/test_beat_wiring.py
Due: getattr-literal

perf: rebalance CI to 6 shards + add --parallel to test-fast + promote test-affected
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  justfile
  tools/skills/running-tests/SKILL.md
  tools/skills/using-git-worktrees/SKILL.md
Due: none

feat(battles): extend add_unit/add_place with taxonomy+terrain kwargs; add posture/commander services (#1711)
  src/integration_tests/pipeline/test_battle_peril_rescue_e2e.py
  src/integration_tests/pipeline/test_battle_telnet_e2e.py
  src/world/battles/services.py
  src/world/battles/tests/test_resolution.py
  src/world/battles/tests/test_services_setup.py
Due: getattr-literal

feat(battles): add unit composition/quality/commander taxonomy + terrain/posture fields + admin (#1711)
  src/world/battles/admin.py
  src/world/battles/constants.py
  src/world/battles/factories.py
  src/world/battles/migrations/0004_remove_battleunit_unit_type_and_more.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/services.py
  src/world/battles/tests/test_models.py
Due: getattr-literal

feat(battles): wire composition/terrain/quality/commander/posture into round resolution (#1711)
  src/world/battles/resolution.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

feat(battles): seed Battle Command ModifierTarget for the commander-bonus walk (#1711)
  src/world/battles/factories.py
  src/world/battles/tests/test_factories_seed.py
Due: getattr-literal

feat(magic): extend summon_ally with an opt-in military-grade BattleUnit branch (#1711)
  src/world/magic/services/effect_handlers.py
  src/world/magic/tests/test_summon_ally.py
Due: getattr-literal

fix(battles): final-review cleanups — redundant import, commander-bonus test coverage, doc wording, target-name convention (#1711)
  docs/systems/battles.md
  src/world/battles/constants.py
  src/world/battles/resolution.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

test(battles): E2E proof the #1711 modifier stack wires through the real telnet path
  src/integration_tests/pipeline/test_battle_telnet_e2e.py
Due: getattr-literal

docs(battles): ADR-0080, system doc + roadmap sync, new AGENT_GLOSSARY, MODEL_MAP regen (#1711)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0080-battle-terrain-lives-on-battleplace.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/MODEL_MAP.md
  docs/systems/battles.md
  src/world/battles/AGENT_GLOSSARY.md
Due: none

feat(seeds): governance cluster — Scholarship/Economics + Organization/Stewardship + Tax Collection / Domain Investment checks (#930)
  src/world/seeds/clusters.py
  src/world/seeds/governance_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_governance_checks.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
