Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(cg): add path_id filtering to CGGlimpseTagViewSet via GlimpseTagFilter (#2611)
  src/world/character_creation/filters.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/views.py
Due: getattr-literal

feat(magic): add paths filter_horizontal to GlimpseTagAdmin (#2611)
  src/world/magic/admin.py
Due: getattr-literal

feat(frontend): add TRIGGER axis to GlimpseFlow (#2611)
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/__tests__/GlimpseFlow.test.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
Due: eslint, typescript, prettier

feat(scenes): add PersonaLegendMurmurHandler with cached common-knowledge deeds (#2523)
  src/world/scenes/legend_murmur_handler.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_legend_murmur_handler.py
Due: getattr-literal

feat: LEGEND_DEED condition + has_legend_deeds op + dynamic body templating + cache invalidation + tests + docs (#2523)
  docs/systems/INDEX.md
  src/flows/filters/evaluator.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_character_ambient_conditions.py
  src/world/narrative/ambient_content.py
  src/world/narrative/constants.py
  src/world/narrative/migrations/0009_alter_ambientemotecondition_condition_type.py
  src/world/narrative/migrations/max_migration.txt
  src/world/narrative/tests/test_ambient_content.py
  src/world/scenes/tests/test_legend_murmur_handler.py
  src/world/societies/services.py
Due: getattr-literal

feat(frontend): pass selected_path_id to useGlimpseTags (#2611)
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

fix: renumber migration/ADR past main; reconcile Layer-3 shipped; thread emergency-draw check (#2536)
  docs/adr/0151-situational-perk-machinery-slice-1.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/covenants.md
  docs/systems/magic.md
  src/world/combat/pull_helpers.py
  src/world/covenants/migrations/0033_vowsituationalperk_vowsituationalperkrung_and_more.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/tests/integration/test_court_grant_emergency_draw_e2e.py
  src/world/magic/services/power_terms.py
  src/world/magic/services/techniques.py
Due: getattr-literal

chore: regenerate API schema + types for TRIGGER axis + path_id (#2611)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

docs: document Glimpse TRIGGER axis + path-gating (#2611)
  docs/systems/INDEX.md
  docs/systems/magic.md
Due: none

fix(frontend): use draft.selected_path?.id instead of selected_path_id (#2611)
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
Due: eslint, typescript, prettier

needs-design: Glimpse trigger axis — standardize what caused a character's first magical awakening (trauma, inspiration, supernatural brush, patron) (#2617)
  docs/systems/INDEX.md
  docs/systems/magic.md
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/__tests__/GlimpseFlow.test.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
  src/schema.json
  src/world/character_creation/filters.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/views.py
  src/world/magic/admin.py
  src/world/magic/constants.py
  src/world/magic/migrations/0118_glimpse_tag_trigger_axis_paths.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/glimpse.py
Due: getattr-literal, eslint, typescript, prettier

Per-character legend callout on room entry (e.g. "Sharlotte, the Black Widow of the Spire") (#2615)
  docs/systems/INDEX.md
  src/flows/filters/evaluator.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_character_ambient_conditions.py
  src/world/narrative/ambient_content.py
  src/world/narrative/constants.py
  src/world/narrative/migrations/0009_alter_ambientemotecondition_condition_type.py
  src/world/narrative/migrations/max_migration.txt
  src/world/narrative/tests/test_ambient_content.py
  src/world/scenes/legend_murmur_handler.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_legend_murmur_handler.py
  src/world/societies/services.py
Due: getattr-literal

Somehow Always Broke: weekly purse drain (#2613)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/distinctions.md
  src/world/currency/AGENT_GLOSSARY.md
  src/world/currency/admin.py
  src/world/currency/migrations/0010_distinctionpursedrain_pursedrainweek.py
  src/world/currency/migrations/max_migration.txt
  src/world/currency/models.py
  src/world/currency/services.py
  src/world/currency/tests/test_purse_drain.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Somehow Always Broke: seed row + author-final drain copy (#2613)
  docs/systems/distinctions.md
  src/world/currency/services.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
Due: getattr-literal

fix(covenants): ally group-perks scope on membership + co-presence, not the mate's engaged flag (#2536 reversal)
  src/world/covenants/perks/constants.py
  src/world/covenants/perks/evaluators.py
  src/world/covenants/perks/services.py
  src/world/covenants/tests/test_perk_evaluators.py
  src/world/covenants/tests/test_perk_resolution.py
Due: getattr-literal

feat(covenants): TIER_FLOOR floor_success_level field + canonical botch constant + multi-kind applicable_perks (#2536 slice 2)
  src/world/checks/constants.py
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0034_vowsituationalperk_floor_success_level.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/perks/constants.py
  src/world/covenants/perks/services.py
  src/world/covenants/tests/test_perk_models.py
  src/world/covenants/tests/test_perk_resolution.py
  src/world/magic/services/sanctum_install.py
Due: getattr-literal

feat(checks): TIER_FLOOR + BOTCH_IMMUNITY outcome guarantees in perform_check (#2536 slice 2)
  src/world/checks/services.py
  src/world/checks/tests/test_outcome_guarantees.py
Due: getattr-literal

docs: outcome guarantees + covenant-mate reversal (#2536 slice 2, ADR-0152)
  docs/adr/0152-outcome-guarantees-are-absolute-floors.md
  docs/roadmap/covenants.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/covenants.md
  src/world/checks/CLAUDE.md
  src/world/covenants/AGENT_GLOSSARY.md
Due: none

docs: index ADR-0150/0151/0152 in the ADR catalog (fix-on-sight)
  docs/adr/README.md
Due: none

docs(review): sweep remaining pre-reversal 'engaged covenant-mate' wording (#2536 slice 2)
  src/world/checks/tests/test_situational_perk_check_bonus.py
  src/world/magic/services/power_terms.py
  src/world/magic/tests/test_power_derivation.py
Due: getattr-literal

feat(worship): add Miracle models + DivineInterventionConfig (#2360)
  src/world/worship/constants.py
  src/world/worship/migrations/0002_miracles_divine_intervention.py
  src/world/worship/models.py
  src/world/worship/tests/test_miracles.py
Due: getattr-literal

feat(worship): add wire_miracle_content seed + MiracleFactory (#2360)
  src/world/seeds/worship_content.py
  src/world/worship/factories.py
  src/world/worship/tests/test_miracles.py
Due: getattr-literal

feat(worship): add divine intervention services + trigger lifecycle + bump_devotion hook (#2360)
  src/world/worship/services.py
  src/world/worship/tests/test_miracles.py
Due: getattr-literal

feat(worship): add spend_worship_pool + get_divine_intervention_config (#2360)
  src/world/worship/services.py
  src/world/worship/tests/test_miracles.py
Due: getattr-literal

feat(magic): add AudereMajoraFaithVariant models + faith_variant FK (#2360)
  src/world/magic/audere_majora.py
  src/world/magic/migrations/0118_audere_majora_faith_variant.py
  src/world/magic/tests/test_audere_faith_coupling.py
Due: getattr-literal

feat(magic): add faith coupling service + cross_threshold bonus + deferred pool spend (#2360)
  src/world/magic/audere_majora.py
  src/world/magic/tests/test_audere_faith_coupling.py
Due: getattr-literal

feat: add admin surfaces for miracles + faith variants (#2360)
  src/world/magic/admin.py
  src/world/worship/admin.py
Due: getattr-literal

feat: add Miracle API + faith variant serializer overrides (#2360)
  src/world/magic/serializers.py
  src/world/worship/serializers.py
  src/world/worship/tests/test_miracles.py
  src/world/worship/urls.py
  src/world/worship/views.py
Due: getattr-literal

docs: add miracles + divine intervention documentation (#2360)
  docs/systems/worship.md
  src/world/worship/AGENT_GLOSSARY.md
Due: none

fix: renumber faith variant migration to 0119 after sync with main (#2360)
  src/world/magic/migrations/0119_audere_majora_faith_variant.py
  src/world/magic/migrations/max_migration.txt
  src/world/worship/migrations/max_migration.txt
Due: getattr-literal

fix: regenerate API types for MiracleViewSet (#2360)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix: update frontend test mocks for new faith_variant fields (#2360)
  frontend/src/magic/__tests__/AudereMajoraOfferDialog.test.tsx
  frontend/src/magic/__tests__/audereMajoraQueries.test.tsx
Due: eslint, typescript, prettier

Somehow Always Broke: weekly purse drain (#2613) (#2614)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/distinctions.md
  src/world/currency/AGENT_GLOSSARY.md
  src/world/currency/admin.py
  src/world/currency/migrations/0010_distinctionpursedrain_pursedrainweek.py
  src/world/currency/migrations/max_migration.txt
  src/world/currency/models.py
  src/world/currency/services.py
  src/world/currency/tests/test_purse_drain.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Fix test setUp: sheet factory takes the character, not its .sheet_data (#2608)
  src/actions/tests/test_distinctions_actions.py
  src/commands/tests/test_grant_distinction.py
Due: getattr-literal

Outcome guarantees (TIER_FLOOR/BOTCH_IMMUNITY) + covenant-mate reversal — #2536 slice 2 (#2618)
  docs/adr/0152-outcome-guarantees-are-absolute-floors.md
  docs/adr/README.md
  docs/roadmap/covenants.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/covenants.md
  src/world/checks/CLAUDE.md
  src/world/checks/constants.py
  src/world/checks/services.py
  src/world/checks/tests/test_outcome_guarantees.py
  src/world/checks/tests/test_situational_perk_check_bonus.py
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0034_vowsituationalperk_floor_success_level.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/perks/constants.py
  src/world/covenants/perks/evaluators.py
  src/world/covenants/perks/services.py
  src/world/covenants/tests/test_perk_evaluators.py
  src/world/covenants/tests/test_perk_models.py
  src/world/covenants/tests/test_perk_resolution.py
  src/world/magic/services/power_terms.py
  src/world/magic/services/sanctum_install.py
  src/world/magic/tests/test_power_derivation.py
Due: getattr-literal

needs-design: miracles + divine intervention — spending worship pools, audere coupling (#2619)
  docs/systems/worship.md
  frontend/src/generated/api.d.ts
  frontend/src/magic/__tests__/AudereMajoraOfferDialog.test.tsx
  frontend/src/magic/__tests__/audereMajoraQueries.test.tsx
  src/schema.json
  src/world/magic/admin.py
  src/world/magic/audere_majora.py
  src/world/magic/migrations/0119_audere_majora_faith_variant.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/serializers.py
  src/world/magic/tests/test_audere_faith_coupling.py
  src/world/seeds/worship_content.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/admin.py
  src/world/worship/constants.py
  src/world/worship/factories.py
  src/world/worship/migrations/0002_miracles_divine_intervention.py
  src/world/worship/migrations/max_migration.txt
  src/world/worship/models.py
  src/world/worship/serializers.py
  src/world/worship/services.py
  src/world/worship/tests/test_miracles.py
  src/world/worship/urls.py
  src/world/worship/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix purse_drain test: CharacterDistinction.character is now a CharacterSheet (#2608)
  src/world/currency/tests/test_purse_drain.py
Due: getattr-literal
