Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

fix(journals): address second round of code review findings
  src/world/journals/migrations/0001_initial.py
  src/world/journals/models.py
  src/world/journals/serializers.py
  src/world/journals/services.py
  src/world/journals/tests/test_services.py
  src/world/journals/views.py
Due: getattr-literal

refactor(journals): consolidate stat emission, reduce duplication, polish views
  src/world/journals/migrations/0001_initial.py
  src/world/journals/models.py
  src/world/journals/services.py
  src/world/journals/tests/test_services.py
  src/world/journals/tests/test_views.py
  src/world/journals/views.py
Due: getattr-literal

refactor(journals): fix type annotation, extract re-fetch helper
  src/world/journals/services.py
  src/world/journals/views.py
Due: getattr-literal

fix(journals): use explicit error mapping for user-safe API responses
  src/world/journals/services.py
  src/world/journals/tests/test_services.py
  src/world/journals/types.py
  src/world/journals/views.py
Due: getattr-literal

docs(journals): update roadmap with implementation status and deferred items
  docs/roadmap/ROADMAP.md
  docs/roadmap/journals.md
Due: none

Feature/journal system (#333)
  docs/roadmap/ROADMAP.md
  docs/roadmap/journals.md
  src/server/conf/settings.py
  src/web/urls.py
  src/world/journals/CLAUDE.md
  src/world/journals/__init__.py
  src/world/journals/admin.py
  src/world/journals/apps.py
  src/world/journals/constants.py
  src/world/journals/factories.py
  src/world/journals/migrations/0001_initial.py
  src/world/journals/migrations/__init__.py
  src/world/journals/models.py
  src/world/journals/serializers.py
  src/world/journals/services.py
  src/world/journals/tests/__init__.py
  src/world/journals/tests/test_models.py
  src/world/journals/tests/test_services.py
  src/world/journals/tests/test_views.py
  src/world/journals/types.py
  src/world/journals/urls.py
  src/world/journals/views.py
Due: getattr-literal

docs: world clock design and roadmap update
  docs/plans/2026-03-11-world-clock-design.md
  docs/roadmap/ROADMAP.md
  docs/roadmap/world-clock.md
Due: none

docs: world clock implementation plan
  docs/plans/2026-03-11-world-clock-plan.md
Due: none

feat(game_clock): scaffold app with constants
  src/server/conf/settings.py
  src/world/game_clock/__init__.py
  src/world/game_clock/apps.py
  src/world/game_clock/constants.py
  src/world/game_clock/tests/__init__.py
Due: getattr-literal

feat(game_clock): add GameClock and GameClockHistory models
  src/world/game_clock/factories.py
  src/world/game_clock/migrations/0001_initial.py
  src/world/game_clock/migrations/__init__.py
  src/world/game_clock/models.py
  src/world/game_clock/tests/test_models.py
Due: getattr-literal

feat(game_clock): add service functions for IC time queries
  src/world/game_clock/services.py
  src/world/game_clock/tests/test_services.py
Due: getattr-literal

feat(game_clock): add clock management services with audit logging
  src/world/game_clock/services.py
  src/world/game_clock/tests/test_services.py
  src/world/game_clock/types.py
Due: getattr-literal

feat(game_clock): add admin interface
  src/world/game_clock/admin.py
Due: getattr-literal

feat(game_clock): add REST API with clock queries and staff management
  src/web/urls.py
  src/world/game_clock/serializers.py
  src/world/game_clock/tests/test_views.py
  src/world/game_clock/urls.py
  src/world/game_clock/views.py
Due: getattr-literal

feat(game_clock): add scheduler infrastructure with task registry
  src/world/game_clock/admin.py
  src/world/game_clock/migrations/0002_scheduledtaskrecord.py
  src/world/game_clock/models.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tests/test_models.py
Due: getattr-literal

test(game_clock): add comprehensive task registry tests
  src/world/game_clock/tests/test_task_registry.py
Due: getattr-literal

feat(game_clock): add GameTickScript and server startup hook
  pyproject.toml
  src/server/conf/at_server_startstop.py
  src/world/game_clock/scripts.py
  src/world/game_clock/tests/test_scripts.py
Due: getattr-literal

feat(game_clock): wire up periodic tasks for AP, journals, relationships, forms, conditions
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_tasks.py
Due: getattr-literal

docs(game_clock): add app documentation
  src/world/game_clock/CLAUDE.md
Due: none

fix(game_clock): address code review findings
  src/world/game_clock/migrations/0003_alter_gameclockhistory_options.py
  src/world/game_clock/models.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
Due: getattr-literal

chore(game_clock): squash migrations, update roadmap status
  docs/roadmap/ROADMAP.md
  docs/roadmap/world-clock.md
  src/world/game_clock/migrations/0001_initial.py
  src/world/game_clock/migrations/0002_scheduledtaskrecord.py
  src/world/game_clock/migrations/0003_alter_gameclockhistory_options.py
Due: getattr-literal

fix(game_clock): address code review items 1-6
  src/world/game_clock/factories.py
  src/world/game_clock/models.py
  src/world/game_clock/tasks.py
  src/world/game_clock/views.py
Due: getattr-literal

feat(action_points): wire AP modifiers to regen system
  pyproject.toml
  src/world/action_points/models.py
  src/world/action_points/tests/test_models.py
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_tasks.py
  src/world/mechanics/TECH_DEBT.md
Due: getattr-literal

fix(game_clock): final review fixes
  src/world/game_clock/tests/test_tasks.py
  src/world/game_clock/types.py
  src/world/game_clock/views.py
Due: getattr-literal

security(game_clock): fix CodeQL information exposure warning
  src/world/game_clock/types.py
  src/world/game_clock/views.py
Due: getattr-literal

refactor(game_clock): address senior dev code review feedback
  src/world/action_points/models.py
  src/world/game_clock/scripts.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_scripts.py
  src/world/game_clock/tests/test_task_registry.py
  src/world/game_clock/tests/test_tasks.py
  src/world/mechanics/models.py
Due: getattr-literal

feat(mechanics): add direct target FK to CharacterModifier
  src/world/action_points/tests/test_models.py
  src/world/game_clock/tests/test_tasks.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0003_charactermodifier_target.py
  src/world/mechanics/migrations/0004_alter_charactermodifier_source.py
  src/world/mechanics/models.py
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_models.py
  src/world/mechanics/tests/test_views.py
Due: getattr-literal

refactor(mechanics): simplify all queries to use direct target FK
  src/world/conditions/services.py
  src/world/goals/services.py
  src/world/mechanics/admin.py
  src/world/mechanics/models.py
  src/world/mechanics/serializers.py
  src/world/mechanics/services.py
  src/world/mechanics/views.py
Due: getattr-literal

refactor(mechanics): update remaining test queries and squash migrations
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/mechanics/CLAUDE.md
  src/world/mechanics/migrations/0003_charactermodifier_target_and_more.py
  src/world/mechanics/migrations/0004_alter_charactermodifier_source.py
  src/world/traits/tests.py
Due: getattr-literal

fix: address 12 code review items for world clock system
  src/world/game_clock/factories.py
  src/world/game_clock/models.py
  src/world/game_clock/serializers.py
  src/world/game_clock/services.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_services.py
  src/world/game_clock/tests/test_tasks.py
  src/world/game_clock/views.py
  src/world/mechanics/models.py
Due: getattr-literal

fix: address 12 code review items for world clock system (#335)
  src/world/game_clock/factories.py
  src/world/game_clock/models.py
  src/world/game_clock/serializers.py
  src/world/game_clock/services.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_services.py
  src/world/game_clock/tests/test_tasks.py
  src/world/game_clock/views.py
  src/world/mechanics/models.py
Due: getattr-literal

docs: species selection drill-down design for character creation
  docs/plans/2026-03-14-species-drilldown-design.md
Due: none

feat(cg): replace flat species grid with parent drill-down UX
  frontend/src/character-creation/components/HeritageStage.tsx
Due: eslint, typescript, prettier

fix(cg): memoize filteredSpecies, clear hover on navigation, dedupe mobile panel
  frontend/src/character-creation/components/HeritageStage.tsx
Due: eslint, typescript, prettier

Feature/species drilldown (#336)
  docs/plans/2026-03-14-species-drilldown-design.md
  frontend/src/character-creation/components/HeritageStage.tsx
Due: eslint, typescript, prettier

feat(classes): add read-only API ViewSets for paths, classes, and aspects
  src/web/urls.py
  src/world/classes/serializers.py
  src/world/classes/tests/test_views.py
  src/world/classes/urls.py
  src/world/classes/views.py
Due: getattr-literal

feat(classes): add read-only API ViewSets for paths (#337)
  src/web/urls.py
  src/world/classes/serializers.py
  src/world/classes/tests/test_views.py
  src/world/classes/urls.py
  src/world/classes/views.py
Due: getattr-literal

docs: add implementation decisions for Property, Application, Technique grants, and Situation models
  docs/architecture/property-capability-action.md
  src/commands/serializers.py
  src/world/character_sheets/serializers.py
Due: getattr-literal

docs: revise architecture doc with Capability/Application/Context model
  docs/architecture/property-capability-action.md
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
