Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

docs(#2450): story areas — systems, roadmap, glossary, ADR-0141, MODEL_MAP
  docs/adr/0141-story-room-access-is-player-side-join.md
  docs/adr/README.md
  docs/roadmap/gm-system.md
  docs/roadmap/rooms-and-estates.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/commands/CLAUDE.md
  src/world/gm/AGENT_GLOSSARY.md
Due: none

fix(#2450): staff bypasses the story-area cap like every sibling gate
  src/actions/definitions/story_builder.py
  src/actions/tests/test_story_builder_actions.py
  src/world/gm/story_services.py
  src/world/gm/tests/test_story_services.py
Due: getattr-literal

feat(#2450): player web surface for story-room invitations (spec Decision 1)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/components/ProfileDropdown.tsx
  frontend/src/generated/api.d.ts
  frontend/src/story-rooms/api.ts
  frontend/src/story-rooms/pages/StoryRoomsPage.test.tsx
  frontend/src/story-rooms/pages/StoryRoomsPage.tsx
  frontend/src/story-rooms/queries.test.tsx
  frontend/src/story-rooms/queries.ts
  frontend/src/story-rooms/types.ts
  src/schema.json
  src/world/gm/filters.py
  src/world/gm/serializers.py
  src/world/gm/story_views.py
  src/world/gm/tests/test_story_views.py
  src/world/gm/urls.py
Due: getattr-literal, eslint, typescript, prettier

Theft reclamation: provenance-trace claims, two recovery routes, standing (#2368)
  src/world/items/constants.py
  src/world/items/migrations/0037_alter_ownershipevent_event_type_reclamationclaim_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/services/reclamation.py
  src/world/items/tests/test_reclamation.py
  src/world/items/urls.py
  src/world/items/views.py
Due: getattr-literal

fix: CI-form Consequence Pool hunks + format the no-verify-swept files
  frontend/src/generated/api.d.ts
  src/evennia_extensions/migrations/0011_playerdata_lethal_consequences_opt_in.py
  src/schema.json
  src/world/justice/migrations/0008_guardencounter_justicecase_exculpatoryevidence_and_more.py
  src/world/justice/models.py
  src/world/justice/tests/test_pipeline.py
Due: getattr-literal, eslint, typescript, prettier

chore: regenerate api-types for the reclamation endpoints
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix: sort imports in the justice pipeline migration (CI ruff)
  src/world/justice/migrations/0008_guardencounter_justicecase_exculpatoryevidence_and_more.py
Due: getattr-literal

Staff-contact petitions + submitter standing (#2288)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/player_submissions/constants.py
  src/world/player_submissions/factories.py
  src/world/player_submissions/migrations/0006_submitterstanding_petition.py
  src/world/player_submissions/migrations/max_migration.txt
  src/world/player_submissions/models.py
  src/world/player_submissions/serializers.py
  src/world/player_submissions/services.py
  src/world/player_submissions/tests/test_petitions.py
  src/world/player_submissions/urls.py
  src/world/player_submissions/views.py
  src/world/staff_inbox/filters.py
  src/world/staff_inbox/services.py
  src/world/staff_inbox/types.py
  src/world/staff_inbox/views.py
  tools/introspect_models.py
Due: getattr-literal, eslint, typescript, prettier

Align generated api types with CI's canonical Consequence Pool form
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Align generated api types with CI's canonical form
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Allowlist species.language in CONTENT_MODELS (#2463 language half) (#2485)
  src/core_management/content_export.py
Due: getattr-literal

reset_room_feature_strategies restores empty import-time snapshot — wipes at-ready registrations, breaks main CI shard-2 (#2491)
  src/world/companions/apps.py
  src/world/magic/apps.py
  src/world/room_features/apps.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_room_features.py
Due: getattr-literal

Justice player surfaces: wanted board, case/trial UI, pardon control (#1826/#2378)
  docs/systems/INDEX.md
  frontend/src/game/components/FocusPanel.tsx
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/HubTidingsPanel.tsx
  frontend/src/generated/api.d.ts
  frontend/src/hooks/types.ts
  frontend/src/justice/api.ts
  frontend/src/justice/components/CrimeTab.tsx
  frontend/src/justice/components/WantedBoard.tsx
  frontend/src/justice/queries.ts
  src/flows/service_functions/serializers/room_state.py
  src/schema.json
  src/world/justice/lifecycle.py
  src/world/justice/tests/test_lifecycle.py
  src/world/justice/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#2474): natural keys on PathGiftGrant/TraditionGiftGrant
  src/world/magic/models/grants.py
  src/world/magic/tests/test_natural_keys.py
Due: getattr-literal

Staff-contact surfaces: petition page, staff triage UI, telnet pointer (#2288)
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/components/ProfileDropdown.tsx
  frontend/src/generated/api.d.ts
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffInboxPage.tsx
  frontend/src/staff/pages/StaffPetitionDetailPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
  frontend/src/staff/utils.ts
  frontend/src/submissions/api.ts
  frontend/src/submissions/pages/PetitionPage.tsx
  src/commands/account/staff_contact.py
  src/commands/account/tests/test_staff_contact.py
  src/commands/default_cmdsets.py
  src/schema.json
  src/world/player_submissions/serializers.py
  src/world/player_submissions/tests/test_petitions.py
  src/world/player_submissions/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#2474): magic catalog models ride the content pipeline
  src/core_management/content_export.py
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_export.py
  src/world/magic/models/techniques.py
Due: getattr-literal

fix(#2474): content-load stale-field tolerance, Technique NK constraint, fixed-point deferred retry
  docs/systems/INDEX.md
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_export.py
  src/core_management/tests/test_content_fixtures.py
  src/world/magic/migrations/0111_technique_unique_technique_gift_name.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/techniques.py
  src/world/magic/tests/test_natural_keys.py
Due: getattr-literal

fix(#2474): dedupe Technique name in a builder-API test after the new (gift, name) constraint
  src/world/magic/tests/test_technique_builder_api.py
Due: getattr-literal

feat(#2474): seed_dev_database loads arx2-lore content first (fails loudly without repo)
  src/world/seeds/database.py
  src/world/seeds/tests/content_stub.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_database.py
  src/world/seeds/tests/test_idempotency.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal

fix(#2474): stub content root in external seed-consumer suites; graceful admin seed view
  src/integration_tests/pipeline/test_tutorial_chain_e2e.py
  src/web/admin/seed_views.py
  src/web/admin/tests/test_game_setup_view.py
  src/web/admin/tests/test_seed_views.py
  src/world/battles/tests/test_seed_staging_catalog.py
  src/world/battles/tests/test_war_funding_seeds.py
  src/world/missions/tests/test_seed_missions.py
  src/world/missions/tests/test_tutorial_seed.py
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/progression/tests/test_seed_durance_officiants.py
Due: getattr-literal

feat(#2474): retire seed_starter_gift_catalog; consumers read the loaded catalog
  docs/roadmap/seed-and-integration-tests.md
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/world/npc_services/seeds.py
  src/world/npc_services/tests/test_academy_registrar_and_generalist_seeds.py
  src/world/npc_services/tests/test_great_archive_seed.py
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/progression/seeds.py
  src/world/seeds/character_creation.py
  src/world/seeds/clusters.py
  src/world/seeds/game_content/covenant_roles.py
  src/world/seeds/game_content/magic.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal

test(#2474): lock in ContentError raise for unresolvable starter catalog
  src/world/npc_services/tests/test_academy_registrar_and_generalist_seeds.py
Due: getattr-literal

fix(#2474): trainer seeds fail loudly on empty catalog; gift-scoped technique resolution
  src/world/npc_services/seeds.py
  src/world/npc_services/tests/test_academy_registrar_and_generalist_seeds.py
  src/world/npc_services/tests/test_great_archive_seed.py
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/seeds/tests/content_stub.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal

fix(#2474): seed config prerequisites before content load (Technique Cast ActionTemplate)
  src/world/seeds/database.py
  src/world/seeds/tests/content_stub.py
  src/world/seeds/tests/test_database.py
Due: getattr-literal

docs(#2474): catalog-is-content docs, ADR content-vs-config boundary, carried nits
  docs/adr/0142-content-vs-config-boundary-in-the-dev-seed.md
  docs/adr/README.md
  docs/roadmap/character-creation.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  docs/systems/magic.md
  src/core_management/content_fixtures.py
  src/world/magic/CLAUDE.md
Due: getattr-literal

docs(#2474): final-review fold-ins — stale seeder docstring, ADR-0142 honest about the Mirrorwalking remnant
  docs/adr/0142-content-vs-config-boundary-in-the-dev-seed.md
  src/world/seeds/character_creation.py
Due: getattr-literal

test(#2474): stub content root in the seed-command test (call_command indirection missed by caller greps)
  src/core_management/tests/test_seed_command.py
Due: getattr-literal

Reclamation web surface: file, trace, and recover stolen property (#2368)
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/InventorySidebarPanel.tsx
  frontend/src/reclamation/api.ts
  frontend/src/reclamation/pages/ReclamationPage.tsx
  src/schema.json
  src/world/items/tests/test_reclamation.py
  src/world/items/views.py
Due: getattr-literal, eslint, typescript, prettier

Install zellij in the devcontainer + persistent-session guide (#2489)
  .devcontainer/Dockerfile
  docs/devcontainer-setup.md
  justfile
Due: none

Heat lifecycle + justice pipeline: lie low, bribe, pardon, wanted boards, guards, arrest, trials (#1826, #2378) (#2492)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/game/components/FocusPanel.tsx
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/HubTidingsPanel.tsx
  frontend/src/generated/api.d.ts
  frontend/src/hooks/types.ts
  frontend/src/justice/api.ts
  frontend/src/justice/components/CrimeTab.tsx
  frontend/src/justice/components/WantedBoard.tsx
  frontend/src/justice/queries.ts
  frontend/src/reputation/components/ReputationTab.test.tsx
  src/evennia_extensions/migrations/0011_playerdata_lethal_consequences_opt_in.py
  src/evennia_extensions/migrations/max_migration.txt
  src/evennia_extensions/models.py
  src/flows/service_functions/serializers/room_state.py
  src/schema.json
  src/typeclasses/characters.py
  src/world/currency/services.py
  src/world/justice/constants.py
  src/world/justice/lifecycle.py
  src/world/justice/migrations/0007_pardongrant_lielowstate.py
  src/world/justice/migrations/0008_guardencounter_justicecase_exculpatoryevidence_and_more.py
  src/world/justice/migrations/max_migration.txt
  src/world/justice/models.py
  src/world/justice/pipeline.py
  src/world/justice/serializers.py
  src/world/justice/services.py
  src/world/justice/tests/test_lifecycle.py
  src/world/justice/tests/test_pipeline.py
  src/world/justice/urls.py
  src/world/justice/views.py
  src/world/npc_services/effects.py
  src/world/scenes/interaction_services.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

Theft reclamation: provenance-trace claims, two recovery routes, standing (#2368) (#2495)
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/InventorySidebarPanel.tsx
  frontend/src/reclamation/api.ts
  frontend/src/reclamation/pages/ReclamationPage.tsx
  src/schema.json
  src/world/items/constants.py
  src/world/items/migrations/0037_alter_ownershipevent_event_type_reclamationclaim_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/services/reclamation.py
  src/world/items/tests/test_reclamation.py
  src/world/items/urls.py
  src/world/items/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(roster): replace str(exc) with static messages to prevent info leakage (#2483)
  src/world/roster/views/invite_views.py
Due: getattr-literal

Pre-CG entry paths: game invites, group applications, pre-game coordination, GM-held rosters (#2493)
  docs/adr/0141-game-invites-live-in-roster.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/migrations/0012_draftapplication_invited_via.py
  src/world/character_creation/migrations/max_migration.txt
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_invite_submission_hook.py
  src/world/roster/factories.py
  src/world/roster/migrations/0008_gameinvite.py
  src/world/roster/migrations/max_migration.txt
  src/world/roster/models/__init__.py
  src/world/roster/models/invites.py
  src/world/roster/seeds.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/invites.py
  src/world/roster/services/invite_notifications.py
  src/world/roster/services/invite_services.py
  src/world/roster/tests/test_invite_annotation.py
  src/world/roster/tests/test_invite_journey.py
  src/world/roster/tests/test_invite_model.py
  src/world/roster/tests/test_invite_services.py
  src/world/roster/tests/test_invite_views.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/invite_views.py
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal, eslint, typescript, prettier

feat(items): MaterialCategory equivalence class + category-targeted crafting requirements
  src/world/items/admin.py
  src/world/items/crafting/models.py
  src/world/items/factories.py
  src/world/items/migrations/0038_materialcategory_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_material_categories.py
Due: getattr-literal

feat(items): gather_consumable_pks matches requirements by material category
  src/world/items/services/materials.py
  src/world/items/tests/test_materials_category_matching.py
Due: getattr-literal

feat(items): crafting execution honors category requirements; quote path guarded
  src/world/items/crafting/cost.py
  src/world/items/crafting/services.py
  src/world/items/exceptions.py
  src/world/items/tests/test_crafting_category_requirement.py
Due: getattr-literal
