Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

fix: display round status as a human-readable label, not a raw enum (#2158)
  frontend/src/scenes/components/SceneHeader.tsx
Due: eslint, typescript, prettier

fix: SceneHeader combat-badge test fixture missing active_round (#2158)
  frontend/src/scenes/components/SceneHeader.test.tsx
Due: eslint, typescript, prettier

feat(agriculture): collection dispatch service (#1864)
  src/world/agriculture/services/__init__.py
  src/world/agriculture/services/collection.py
  src/world/agriculture/tests/test_collection.py
  src/world/agriculture/types.py
Due: getattr-literal

feat(agriculture): production tick, domain resolution, capacity helpers (#1864)
  src/world/agriculture/services/__init__.py
  src/world/agriculture/services/domain.py
  src/world/agriculture/tests/test_production.py
Due: getattr-literal

feat(agriculture): scaffold app + models for crop/food system (#1864)
  .github/workflows/ci.yml
  src/server/conf/settings.py
  src/world/agriculture/__init__.py
  src/world/agriculture/apps.py
  src/world/agriculture/constants.py
  src/world/agriculture/migrations/0001_initial.py
  src/world/agriculture/migrations/__init__.py
  src/world/agriculture/migrations/max_migration.txt
  src/world/agriculture/models.py
  src/world/agriculture/services/__init__.py
  src/world/agriculture/services/handlers.py
  src/world/agriculture/services/production.py
  src/world/agriculture/tests/__init__.py
  src/world/agriculture/tests/test_models.py
  src/world/room_features/constants.py
  src/world/room_features/migrations/0011_alter_roomfeaturekind_service_strategy.py
  src/world/room_features/migrations/max_migration.txt
Due: getattr-literal

feat(agriculture): consumption tick, events, cron registration (#1864)
  src/flows/constants.py
  src/flows/migrations/0008_alter_triggerdefinition_event_name.py
  src/flows/migrations/max_migration.txt
  src/world/agriculture/services/__init__.py
  src/world/agriculture/services/consumption.py
  src/world/agriculture/tests/test_consumption.py
  src/world/game_clock/tasks.py
Due: getattr-literal

feat(agriculture): CollectFoodAction, seeds, admin (#1864)
  src/actions/definitions/collect_food.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/agriculture/admin.py
  src/world/agriculture/seeds.py
  src/world/agriculture/tests/test_action.py
  src/world/agriculture/tests/test_seeds.py
Due: getattr-literal

feat(agriculture): wire seeds into dev seed + docs (#1864)
  docs/systems/INDEX.md
  src/world/seeds/clusters.py
Due: getattr-literal

fix: fix test roster setup + patch StartingArea.id schema type drift
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/items/tests/test_item_creation.py
Due: getattr-literal, eslint, typescript, prettier

fix: extract disabledActionItem helper to remove CPD duplication (#2158)
  frontend/src/scenes/components/PersonaContextMenu.tsx
Due: eslint, typescript, prettier

fix: extract invalidateActionOutcomeQueries to remove CPD duplication (#2158)
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

fix: extract toastDispositionMessage to remove CPD duplication (#2158)
  frontend/src/scenes/components/ConsentPrompt.tsx
Due: eslint, typescript, prettier

refactor(frontend): mission ledger moves to /missions/journal, freeing /journal namespace (#2160)
  frontend/src/App.tsx
  frontend/src/missions/components/StoryTray.tsx
Due: eslint, typescript, prettier

feat(frontend): journals web surface — composer, /journals page, game sidebar tab (#2160)
  frontend/src/App.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/journals/__tests__/JournalComposerDialog.test.tsx
  frontend/src/journals/api.ts
  frontend/src/journals/components/JournalComposerDialog.tsx
  frontend/src/journals/components/JournalTab.tsx
  frontend/src/journals/pages/JournalsPage.tsx
  frontend/src/journals/queries.ts
Due: eslint, typescript, prettier

feat(roster): mail mark-read + unread-count + MAIL_ARRIVED push (#2160)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/webclient/message_types.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/mail.py
  src/world/roster/services/mail_notifications.py
  src/world/roster/tests/test_mail_viewset.py
  src/world/roster/views/mail_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(frontend): journal + letter quick actions on the character card (#2160)
  frontend/src/game/components/CharacterCardDrawer.test.tsx
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/game/components/SendLetterDialog.tsx
  frontend/src/mail/components/ComposeMailForm.tsx
Due: eslint, typescript, prettier

feat(frontend): unread letters badge, arrival toast, mark-read on open (#2160)
  frontend/src/components/Header.tsx
  frontend/src/hooks/__tests__/handleMailArrivedPayload.test.ts
  frontend/src/hooks/handleMailArrivedPayload.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/mail/api.ts
  frontend/src/mail/components/ReceivedMailList.tsx
  frontend/src/mail/components/UnreadMailBadge.tsx
  frontend/src/mail/queries.ts
Due: eslint, typescript, prettier

docs: letters ADR, journals glossary, roster doc fix for #2160
  AGENT_GLOSSARY_MAP.md
  docs/adr/0116-playermail-is-the-letters-surface-at-mvp.md
  docs/adr/README.md
  docs/audits/2026-07-10-webclient-rp-ux-audit.md
  docs/roadmap/ROADMAP.md
  docs/roadmap/journals.md
  docs/systems/INDEX.md
  docs/systems/roster.md
  frontend/src/journals/api.ts
  src/world/journals/AGENT_GLOSSARY.md
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/CLAUDE.md
Due: eslint, typescript, prettier

docs: regenerate MODEL_MAP (notify_mail_arrived service) (#2160)
  docs/systems/MODEL_MAP.md
  frontend/src/hooks/types.ts
Due: eslint, typescript, prettier

test(areas): find_route query-count coverage for a genuinely multi-room BFS frontier
  src/world/areas/positioning/tests/test_travel.py
Due: getattr-literal

feat(areas): frontier-batched find_route pathfinder + TRAVEL_MAX_HOPS setting
  src/server/conf/settings.py
  src/world/areas/positioning/tests/test_travel.py
  src/world/areas/positioning/travel.py
Due: getattr-literal

feat(commands): telnet travel <character> / travel stop
  src/commands/default_cmdsets.py
  src/commands/tests/test_travel_command.py
  src/commands/travel.py
Due: getattr-literal

feat(actions): TravelAction + StopTravelAction — paced, cancellable multi-hop walk
  src/actions/definitions/movement.py
  src/actions/registry.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_base.py
Due: getattr-literal

feat(areas): add room_id to WhereEntry for presence-panel go-there parity
  src/world/areas/serializers.py
  src/world/areas/services.py
  src/world/areas/test_where.py
Due: getattr-literal

feat(scenes): Go there button on the scene browser dispatches travel_to
  frontend/src/scenes/pages/ScenesListPage.tsx
  frontend/src/scenes/pages/__tests__/ScenesListPage.test.tsx
Due: eslint, typescript, prettier

docs: find_route/TravelAction/WhereEntry.room_id in tandem with #2163
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
Due: none

fix(actions): TravelAction resolves a raw int target — REST dispatch never auto-resolves objectdb_target_kwargs
  src/actions/definitions/movement.py
  src/actions/tests/test_actions.py
Due: getattr-literal

feat(presence): Go there button on the presence panel's Where rows
  frontend/src/game/components/PresencePanel.test.tsx
  frontend/src/game/components/PresencePanel.tsx
  frontend/src/presence/api.ts
Due: eslint, typescript, prettier

fix(relationships): scope relationship reads to own outbound rows — privacy (#2159)
  docs/adr/0117-relationship-reads-scoped-to-own-outbound-rows.md
  docs/adr/README.md
  src/world/relationships/CLAUDE.md
  src/world/relationships/tests/test_views.py
  src/world/relationships/views.py
Due: getattr-literal

docs(actions): document that objectdb_target_kwargs never resolves on REST dispatch
  src/actions/CLAUDE.md
Due: none

fix(frontend): unread-mail badge fails silent; mock its hook in Header test (#2160)
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/mail/queries.ts
Due: eslint, typescript, prettier

feat(relationships): visibility-scoped writeup timeline action (#2159)
  docs/systems/INDEX.md
  src/world/relationships/CLAUDE.md
  src/world/relationships/serializers.py
  src/world/relationships/tests/test_timeline_viewset.py
  src/world/relationships/views.py
Due: getattr-literal

fix(magic): weave-into-relationship resolves track catalog id + partner, like telnet (#2159)
  src/world/magic/serializers.py
  src/world/magic/tests/test_api.py
Due: getattr-literal

feat(magic): ritual sessions remember their origin scene (#2159)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/magic/filters.py
  src/world/magic/migrations/0099_ritualsession_scene.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/sessions.py
  src/world/magic/services/sessions.py
  src/world/magic/tests/test_session_services.py
  src/world/magic/tests/test_session_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(frontend): relationship writeup dialog + card-drawer impression authoring (#2159)
  frontend/src/game/components/CharacterCardDrawer.test.tsx
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/relationships/api.ts
  frontend/src/relationships/components/RelationshipWriteupDialog.tsx
  frontend/src/relationships/queries.ts
Due: eslint, typescript, prettier

feat(combat): cast-position FKs on CombatRoundAction (#2206)
  src/world/combat/migrations/0044_combatroundaction_cast_destination_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
Due: getattr-literal

feat(actions): position_target_shape on available actions (#2206)
  src/actions/player_interface.py
  src/actions/serializers.py
  src/actions/types.py
  src/world/combat/serializers.py
  src/world/magic/services/targeting.py
Due: getattr-literal

feat(combat): validate + persist declared cast positions (#2206)
  src/actions/definitions/cast.py
  src/world/combat/round_context.py
  src/world/combat/services.py
  src/world/combat/tests/test_cast_position_declaration.py
Due: getattr-literal

feat(combat): forward declared cast positions to condition application (#2206)
  src/world/combat/services.py
  src/world/combat/tests/test_cast_position_declaration.py
  src/world/conditions/services.py
  src/world/conditions/types.py
  src/world/magic/services/condition_application.py
Due: getattr-literal

feat(frontend): map click sets cast position (#2206)
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/components/CombatTacticalMap.tsx
  frontend/src/combat/pages/CombatScenePage.tsx
  frontend/src/combat/sections/YourTurn.tsx
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
