Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Realm page: drop the 'Skip the testament' aside; the rail above the testament already carries those jumps (#3725)
  frontend/src/realms/pages/RealmPage.tsx
Due: eslint, typescript, prettier

Realm palettes: the dark block also reaches a realm wrapper nested under .dark, so hub cards and realm rows go dark with the page (#3725 follow-up)
  frontend/src/index.css
Due: prettier

Atlas: naming an unplaced room on a planned square places it instead of digging a duplicate
  frontend/src/world-builder/atlas/AddDialog.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AddDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/document/Compass.tsx
Due: eslint, typescript, prettier

Roadmap: the Atlas places an unplaced room by name on a planned square
  docs/roadmap/tooling.md
Due: none

Admin: every room field is a search, never a scrolling select
  src/world/areas/admin.py
  src/world/boards/admin.py
  src/world/ceremonies/admin.py
  src/world/character_creation/admin.py
  src/world/character_sheets/admin.py
  src/world/clues/admin.py
  src/world/events/admin.py
  src/world/gm/admin.py
  src/world/items/market/admin.py
  src/world/narrative/admin.py
  src/world/room_features/admin.py
  src/world/tasking/admin.py
  src/world/travel/admin.py
Due: getattr-literal

Django notes: room fields on an admin are autocomplete searches, never selects
  django_notes.md
Due: none

docs: capture initial narrative play designs and review decisions
  docs/design-proposals/narrative-play/README.md
  docs/design-proposals/narrative-play/arx-combat-desktop.png
  docs/design-proposals/narrative-play/arx-conversation-desktop.png
  docs/design-proposals/narrative-play/arx-exploration-desktop.png
  docs/design-proposals/narrative-play/arx-narrative-play.html
  docs/design-proposals/narrative-play/arx-play-design.md
  docs/design-proposals/narrative-play/arx-play-preview.html
  docs/design-proposals/narrative-play/arx-reading-desktop.png
  docs/design-proposals/narrative-play/arx-scene-desktop.png
  docs/design-proposals/narrative-play/arx-scene-mobile.png
Due: none

docs: preserve local composer interaction in standalone design export
  docs/design-proposals/narrative-play/arx-play-preview.html
Due: none

Atlas: the grid is a map. Wheel zooms around the cursor, dragging the ground pans, minus/plus/fit, remembered per area
  docs/roadmap/tooling.md
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/atlas/latticeState.ts
Due: eslint, typescript, prettier

Atlas: the dialog names the level a square becomes, the map carries the ladder hint, the rail lists rooms under any area and says what to plot when empty
  docs/roadmap/tooling.md
  frontend/src/world-builder/atlas/AddDialog.tsx
  frontend/src/world-builder/atlas/IndexRail.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AddDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/IndexRail.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
Due: eslint, typescript, prettier

Atlas: a square above a building becomes a room here or any lower level, a building beside a room gets its door, and the crumb inserts a level between two entries
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/atlas/AddDialog.tsx
  frontend/src/world-builder/atlas/AreaPage.tsx
  frontend/src/world-builder/atlas/AtlasPage.tsx
  frontend/src/world-builder/atlas/FolioCrumb.tsx
  frontend/src/world-builder/atlas/IndexRail.tsx
  frontend/src/world-builder/atlas/InsertLevelDialog.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AddDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/AreaPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/AtlasPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/FolioCrumb.test.tsx
  frontend/src/world-builder/atlas/__tests__/IndexRail.test.tsx
  frontend/src/world-builder/atlas/__tests__/InsertLevelDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/atlas/constants.ts
  frontend/src/world-builder/document/__tests__/RoomDocument.test.tsx
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_builder_views.py
Due: getattr-literal, eslint, typescript, prettier

docs: complete narrative play specification and wide reader design
  docs/design-proposals/narrative-play/README.md
  docs/design-proposals/narrative-play/arx-play-specification.md
  docs/design-proposals/narrative-play/arx-wide-reader-desktop.png
  docs/design-proposals/narrative-play/arx-wide-reader-mobile.png
  docs/design-proposals/narrative-play/arx-wide-reader-preview.html
  docs/design-proposals/narrative-play/arx-wide-reader-reference.png
  docs/design-proposals/narrative-play/arx-wide-reader.html
  docs/design-proposals/narrative-play/wide-reader-validation.json
Due: none

fix(game): finalize historical reader safety
  frontend/src/components/Layout.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/DisplaySettings.tsx
  frontend/src/game/components/FocusPanel.tsx
  frontend/src/game/components/GameLayout.test.tsx
  frontend/src/game/components/GameLayout.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/HistoryNavigator.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  frontend/src/game/components/PlaySidebar.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/playPreferences.ts
  frontend/src/game/playQueries.ts
  frontend/src/game/playTypes.ts
  frontend/src/generated/api.d.ts
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/hooks/useThreading.ts
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_views.py
  src/world/scenes/play_views.py
  src/world/scenes/tests/test_play_views.py
  src/world/scenes/urls.py
Due: getattr-literal, eslint, typescript, prettier

fix(game): bound narrative history and context references
  frontend/src/game/components/ThreadedNarrativeReader.tsx
Due: eslint, typescript, prettier

fix(game): keep non-scene messages narrative-only
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  frontend/src/game/components/SystemLane.tsx
  frontend/src/game/playQueries.ts
Due: eslint, typescript, prettier

Realm page: drop the redundant 'Skip the testament' aside (#3725 follow-up) (#3728)
  frontend/src/index.css
  frontend/src/realms/pages/RealmPage.tsx
Due: eslint, typescript, prettier

Atlas: naming an unplaced room on a planned square places it instead of digging a duplicate (#3729)
  docs/roadmap/tooling.md
  frontend/src/world-builder/atlas/AddDialog.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AddDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/document/Compass.tsx
Due: eslint, typescript, prettier

Admin: every room field is a search, never a scrolling select (#3730)
  django_notes.md
  src/world/areas/admin.py
  src/world/boards/admin.py
  src/world/ceremonies/admin.py
  src/world/character_creation/admin.py
  src/world/character_sheets/admin.py
  src/world/clues/admin.py
  src/world/events/admin.py
  src/world/gm/admin.py
  src/world/items/market/admin.py
  src/world/narrative/admin.py
  src/world/room_features/admin.py
  src/world/tasking/admin.py
  src/world/travel/admin.py
Due: getattr-literal

fix(game): render live reader when history query is disabled
  frontend/src/game/GamePage.tsx
Due: eslint, typescript, prettier

Replace /game terminal with narrative workspace (#3735)
  frontend/src/components/Layout.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/DisplaySettings.tsx
  frontend/src/game/components/FocusPanel.tsx
  frontend/src/game/components/GameLayout.test.tsx
  frontend/src/game/components/GameLayout.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/HistoryNavigator.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  frontend/src/game/components/PlaySidebar.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/game/components/SystemLane.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/playPreferences.ts
  frontend/src/game/playQueries.ts
  frontend/src/game/playTypes.ts
  frontend/src/generated/api.d.ts
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/hooks/useThreading.ts
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_views.py
  src/world/scenes/play_views.py
  src/world/scenes/tests/test_play_views.py
  src/world/scenes/urls.py
Due: getattr-literal, eslint, typescript, prettier

Atlas: a square above a building becomes a room here or any lower level, a building beside a room gets its door, and the crumb inserts a level between two entries (#3734)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/atlas/AddDialog.tsx
  frontend/src/world-builder/atlas/AreaPage.tsx
  frontend/src/world-builder/atlas/AtlasPage.tsx
  frontend/src/world-builder/atlas/FolioCrumb.tsx
  frontend/src/world-builder/atlas/IndexRail.tsx
  frontend/src/world-builder/atlas/InsertLevelDialog.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AddDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/AreaPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/AtlasPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/FolioCrumb.test.tsx
  frontend/src/world-builder/atlas/__tests__/IndexRail.test.tsx
  frontend/src/world-builder/atlas/__tests__/InsertLevelDialog.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/atlas/constants.ts
  frontend/src/world-builder/atlas/latticeState.ts
  frontend/src/world-builder/document/__tests__/RoomDocument.test.tsx
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_builder_views.py
Due: getattr-literal, eslint, typescript, prettier

Select: the open list caps at the space left on screen and scrolls, with scroll arrows
  frontend/src/components/ui/select.tsx
Due: eslint, typescript, prettier

Select: the open list caps at the space left on screen and scrolls, with scroll arrows (#3737)
  frontend/src/components/ui/select.tsx
Due: eslint, typescript, prettier

Stop the login crash and the Sentry traceback fan-out that ate the error quota
  src/evennia_extensions/observability/sentry_twisted.py
  src/evennia_extensions/observability/tests/test_sentry_twisted.py
  src/typeclasses/accounts.py
  src/world/scenes/filters.py
  src/world/scenes/tests/test_persona_view_visibility.py
Due: getattr-literal

Test at_post_login against a real session signature, not a permissive mock
  src/typeclasses/tests/test_cmdset_updates.py
Due: getattr-literal

Add mock-fidelity-reviewer and document the one-call-one-event rule
  docs/operations/sentry-triage.md
  tools/agents/README.md
  tools/agents/mock-fidelity-reviewer.md
Due: none

fix(#3740): render Evennia markup in game feeds
  frontend/src/game/components/EvenniaMessage.test.tsx
  frontend/src/game/components/NarrativeMessageReader.test.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  frontend/src/game/components/SystemLane.test.tsx
  frontend/src/game/components/SystemLane.tsx
Due: eslint, typescript, prettier

Every login raised TypeError and each one cost 11 Sentry events; the month's error quota went in 19 hours (#3743)
  docs/operations/sentry-triage.md
  src/evennia_extensions/observability/sentry_twisted.py
  src/evennia_extensions/observability/tests/test_sentry_twisted.py
  src/typeclasses/accounts.py
  src/typeclasses/tests/test_cmdset_updates.py
  src/world/scenes/filters.py
  src/world/scenes/tests/test_persona_view_visibility.py
  tools/agents/README.md
  tools/agents/mock-fidelity-reviewer.md
Due: getattr-literal

fix(#3740): render Evennia markup in game feeds (#3744)
  frontend/src/game/components/EvenniaMessage.test.tsx
  frontend/src/game/components/NarrativeMessageReader.test.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  frontend/src/game/components/SystemLane.test.tsx
  frontend/src/game/components/SystemLane.tsx
Due: eslint, typescript, prettier

fix(#3741): place minted GM characters in fallback room
  docs/systems/roster.md
  src/world/roster/services/staff_characters.py
  src/world/roster/tests/test_staff_characters.py
Due: getattr-literal

Nominations replace weekly votes on the backend: one per account per nominee per week, no budget, invisible, four-path settlement on one stepped curve (#3738)
  src/actions/definitions/progression_rewards.py
  src/actions/definitions/tests/test_progression_rewards.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/progression_rewards.py
  src/commands/tests/test_progression_rewards_e2e.py
  src/world/game_clock/tasks.py
  src/world/migrations/0116_nominations_replace_weekly_votes.py
  src/world/migrations/max_migration.txt
  src/world/progression/constants.py
  src/world/progression/models/__init__.py
  src/world/progression/models/nominations.py
  src/world/progression/models/voting.py
  src/world/progression/reaction_kinds.py
  src/world/progression/serializers/__init__.py
  src/world/progression/services/__init__.py
  src/world/progression/services/nomination_processing.py
  src/world/progression/services/nominations.py
  src/world/progression/services/scene_rewards.py
  src/world/progression/services/vote_processing.py
  src/world/progression/services/voting.py
  src/world/progression/tests/test_nomination_processing.py
  src/world/progression/tests/test_nomination_views.py
  src/world/progression/tests/test_nominations.py
  src/world/progression/tests/test_scene_rewards.py
  src/world/progression/tests/test_vote_models.py
  src/world/progression/tests/test_vote_processing.py
  src/world/progression/tests/test_vote_services.py
  src/world/progression/tests/test_vote_views.py
  src/world/progression/tests/test_voting_service.py
  src/world/progression/types.py
  src/world/progression/urls.py
  src/world/progression/views.py
  src/world/scenes/models.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_highlight_reel.py
  src/world/scenes/views.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Nominations on the frontend and in the docs: NominateButton beside every reaction row, NominationsPanel on the XP page, no counts anywhere; ADR-0286 amends the three-axes ruling (#3738)
  docs/adr/0115-applause-three-axes.md
  docs/adr/0286-the-popularity-axis-is-an-invisible-nomination-by-account-not-a-budgeted-vote.md
  docs/adr/README.md
  docs/roadmap/character-progression.md
  docs/roadmap/journals.md
  docs/roadmap/ooc-social.md
  docs/roadmap/planned-systems.md
  docs/roadmap/world-clock.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/progression.md
  docs/systems/scenes.md
  frontend/src/components/NominateButton.tsx
  frontend/src/components/VoteButton.tsx
  frontend/src/components/__tests__/NominateButton.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/journals/__tests__/JournalsPage.nominateButton.test.tsx
  frontend/src/journals/components/JournalTab.tsx
  frontend/src/journals/pages/JournalsPage.tsx
  frontend/src/magic/components/SoulTetherStatusPanel.tsx
  frontend/src/progression/XpKudosPage.tsx
  frontend/src/progression/__tests__/NominationsPanel.test.tsx
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
  frontend/src/progression/components/NominationsPanel.tsx
  frontend/src/progression/components/VotesPanel.tsx
  frontend/src/progression/nominationQueries.ts
  frontend/src/progression/voteQueries.ts
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/__tests__/PoseUnit.nominateButton.test.tsx
  src/schema.json
  src/world/progression/AGENT_GLOSSARY.md
  src/world/scenes/AGENT_GLOSSARY.md
Due: eslint, typescript, prettier

fix(game): confirm entry and keep pending drafts editable
  frontend/e2e/game-entry.spec.ts
  frontend/src/components/RichTextInput.tsx
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/EvenniaMessage.tsx
  frontend/src/game/components/GameLayout.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  src/typeclasses/accounts.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_account_puppet_broadcast.py
  src/typeclasses/tests/test_cmdset_updates.py
Due: getattr-literal, eslint, typescript, prettier

GM Profile character is created without a starting location and cannot enter the game (#3747)
  docs/systems/roster.md
  src/world/roster/services/staff_characters.py
  src/world/roster/tests/test_staff_characters.py
Due: getattr-literal

CI fixes: the commands parse test moves to nominate; migration 0116 deletes the vote budget model in one step so the graph rewinds
  src/commands/tests/test_progression_rewards_commands.py
  src/world/migrations/0116_nominations_replace_weekly_votes.py
Due: getattr-literal

Restore game entry and keep pending drafts editable (#3752)
  frontend/e2e/game-entry.spec.ts
  frontend/src/components/RichTextInput.tsx
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/EvenniaMessage.tsx
  frontend/src/game/components/GameLayout.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/NarrativeMessageReader.tsx
  src/typeclasses/accounts.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_account_puppet_broadcast.py
  src/typeclasses/tests/test_cmdset_updates.py
Due: getattr-literal, eslint, typescript, prettier

test(#3750): cover revision binding error
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
  tools/tests/test_validate_review_evidence.py
  tools/validate_review_evidence.py
Due: getattr-literal

docs(#3750): record review evidence
  docs/reviews/3750-spec-demo-gate.md
Due: none

fix(#3750): enforce review evidence before PRs
  .github/workflows/spec-evidence.yml
  docs/audits/2026-09-09-narrative-play-delivery.md
  docs/reviews/review-evidence-template.md
  tools/agents/README.md
  tools/agents/demo-fidelity-reviewer.md
  tools/skills/README.md
  tools/skills/demoing-a-feature/SKILL.md
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/scripts/enqueue-pr.sh
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
  tools/skills/issue-to-merged-pr/templates/pr-body.md
  tools/tests/fixtures/pr-3735-body.md
  tools/tests/fixtures/stale-review-evidence.md
  tools/tests/test_validate_review_evidence.py
  tools/validate_review_evidence.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
