Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

refactor: thin func() wrappers with _dispatch_* helpers raising CommandError
  src/commands/consent.py
  src/commands/offer_registry.py
  src/commands/offer_response.py
Due: getattr-literal

refactor: _execute() hook on ArxCommand seals func() for action=None commands
  src/commands/command.py
  src/commands/consent.py
  src/commands/offer_response.py
Due: getattr-literal

refactor: move local imports to module level in consent.py and offer_response.py
  src/commands/consent.py
  src/commands/offer_response.py
Due: getattr-literal

refactor: func() is a pure error boundary; _execute() holds all command logic
  src/commands/command.py
  src/integration_tests/pipeline/test_audere_telnet_e2e.py
Due: getattr-literal

fix: update test assertions for func() two-call and top-level import patch paths
  src/commands/tests/test_consent_commands.py
  src/commands/tests/test_handlers.py
Due: getattr-literal

Secret reputation consequences slice 1: the reveal→reputation bridge (#1429) (#1431)
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  src/world/secrets/constants.py
  src/world/secrets/factories.py
  src/world/secrets/migrations/0004_secret_archetypes_secret_societies_exposed_and_more.py
  src/world/secrets/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_reputation_bridge.py
  src/world/societies/CLAUDE.md
  src/world/societies/factories.py
  src/world/societies/renown.py
Due: getattr-literal

Telnet sheet sections: sheet/<section>, with secrets as the first (retire +secrets)
  docs/systems/secrets.md
  src/commands/CLAUDE.md
  src/commands/account/sheet.py
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
  src/commands/default_cmdsets.py
  src/commands/social/secrets.py
  src/commands/tests/test_secrets_commands.py
Due: getattr-literal

Telnet journey: Audere & Audere Majora accept/decline (#1344) (#1436)
  docs/systems/INDEX.md
  src/commands/CLAUDE.md
  src/commands/command.py
  src/commands/consent.py
  src/commands/default_cmdsets.py
  src/commands/offer_registry.py
  src/commands/offer_response.py
  src/commands/tests/test_consent_commands.py
  src/commands/tests/test_handlers.py
  src/integration_tests/pipeline/test_audere_telnet_e2e.py
  src/world/magic/CLAUDE.md
  src/world/magic/apps.py
  src/world/magic/audere_majora.py
  src/world/magic/offer_handlers.py
  src/world/magic/tests/test_audere_majora_crossing.py
  src/world/magic/tests/test_offer_handlers.py
Due: getattr-literal

feat(commands): CmdAttempt — non-combat telnet cast shell (#1332)
  src/commands/default_cmdsets.py
  src/commands/magic.py
Due: getattr-literal

test(e2e): non-combat telnet cast — CmdAttempt → anima + OUTCOME pose + event (#1332)
  src/integration_tests/pipeline/test_noncombat_cast_telnet_e2e.py
Due: getattr-literal

docs: update telnet audit + commands/CLAUDE.md for CmdAttempt (non-combat cast) (#1332)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/commands/CLAUDE.md
Due: none

Telnet-driven non-combat cast: CmdAttempt → request_technique_cast E2E (#1332) (#1438)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/magic.py
  src/integration_tests/pipeline/test_noncombat_cast_telnet_e2e.py
Due: getattr-literal

fix(pickup): normalize 'tests' label alias to 'test' branch type
  tools/skills/issue-to-merged-pr/scripts/pickup-issue.sh
Due: none

feat(commands/ritual): add session subcommands (draft/join/decline/fire/sessions)
  src/commands/ritual.py
Due: getattr-literal

test(integration): multi-participant ritual session E2E journey (#1345)
  src/integration_tests/pipeline/test_ritual_session_telnet_e2e.py
Due: getattr-literal

docs: note ritual session telnet surface in commands/CLAUDE.md + audit doc (#1345)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/commands/CLAUDE.md
Due: none

docs(commands): expand CmdRitual session subcommand syntax in CLAUDE.md
  src/commands/CLAUDE.md
Due: none

docs(skills): add testing philosophy section to running-tests skill
  tools/skills/running-tests/SKILL.md
Due: none

Telnet sheet sections: sheet/<section>, secrets first (retire +secrets) (#1334) (#1437)
  docs/systems/secrets.md
  src/commands/CLAUDE.md
  src/commands/account/sheet.py
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
  src/commands/default_cmdsets.py
  src/commands/social/secrets.py
  src/commands/tests/test_secrets_commands.py
Due: getattr-literal

Telnet journey: multi-participant ritual sessions (draft → accept/decline → fire) (#1440)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/commands/CLAUDE.md
  src/commands/ritual.py
  src/integration_tests/pipeline/test_ritual_session_telnet_e2e.py
  tools/skills/issue-to-merged-pr/scripts/pickup-issue.sh
  tools/skills/running-tests/SKILL.md
Due: getattr-literal

feat(scenes): SceneRoundMode + policy columns + SceneRoundDefaultsConfig (#1351)
  src/world/scenes/constants.py
  src/world/scenes/factories.py
  src/world/scenes/migrations/0033_sceneround_advance_quorum_pct_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/tests/test_round_modes.py
Due: getattr-literal

Close the secret-victim grievance loop: web + telnet (#1429) (#1435)
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  frontend/src/generated/api.d.ts
  frontend/src/secrets/__tests__/SecretsTab.test.tsx
  frontend/src/secrets/api.ts
  frontend/src/secrets/components/GrievancePrompt.tsx
  frontend/src/secrets/components/SecretsTab.tsx
  frontend/src/secrets/queries.ts
  frontend/src/secrets/types.ts
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/social/grievance.py
  src/commands/tests/test_grievance_command.py
  src/schema.json
  src/world/secrets/serializers.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_grievance.py
  src/world/secrets/urls.py
  src/world/secrets/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(scenes): multi-action SceneActionDeclaration ledger (#1351)
  src/world/scenes/migrations/0034_remove_sceneactiondeclaration_one_scene_action_declaration_per_round_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/round_context.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_action_ledger.py
Due: getattr-literal

fix(rounds): scope PassRoundAction update_or_create to is_immediate=False (#1351)
  src/actions/definitions/rounds.py
  src/actions/tests/test_round_actions.py
  src/world/scenes/tests/test_round_models.py
Due: getattr-literal

feat(scenes,combat,actions): is_repeat_blocked seam + pose-order advance (#1351)
  src/actions/definitions/rounds.py
  src/actions/round_context.py
  src/actions/tests/test_dispatch_social_round.py
  src/actions/tests/test_social_round_integration.py
  src/world/combat/round_context.py
  src/world/scenes/round_context.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_pose_order.py
  src/world/scenes/tests/test_round_context.py
Due: getattr-literal

feat(actions): SCENE_ADAPTIVE dispatch backend + anti-spam floor (#1351)
  src/actions/base.py
  src/actions/constants.py
  src/actions/errors.py
  src/actions/player_interface.py
  src/actions/round_context.py
  src/actions/tests/test_scene_adaptive_dispatch.py
  src/actions/types.py
  src/commands/pending_actions.py
  src/world/scenes/round_context.py
Due: getattr-literal

fix(actions): gate SCENE_ADAPTIVE side-effects on result.success (#1351)
  src/actions/player_interface.py
  src/actions/tests/test_scene_adaptive_dispatch.py
  src/world/scenes/round_context.py
Due: getattr-literal

feat(actions,magic): CastTechniqueAction + soulfray consent gate (#1351)
  src/actions/definitions/cast.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_cast_action.py
  src/world/magic/apps.py
  src/world/magic/offer_handlers.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_soulfray_consent.py
  src/world/scenes/types.py
Due: getattr-literal

feat(commands): unify attempt+cast into one SCENE_ADAPTIVE cast command (#1351)
  src/commands/CLAUDE.md
  src/commands/combat.py
  src/commands/default_cmdsets.py
  src/commands/magic.py
  src/commands/tests/test_combat_commands.py
  src/integration_tests/pipeline/test_noncombat_cast_telnet_e2e.py
Due: getattr-literal

docs: scene-adaptive cast + three-mode round framework (#1351)
  docs/roadmap/ROADMAP.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/actions/CLAUDE.md
  src/world/scenes/CLAUDE.md
Due: none

Sheet sections: add sheet/renown (the second section)
  src/commands/CLAUDE.md
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
Due: getattr-literal

Sheet sections: sheet/renown (the second section) (#1441)
  src/commands/CLAUDE.md
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
Due: getattr-literal

Relationships center: sheet/relationship telnet section + own web tab
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/commands/CLAUDE.md
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
Due: getattr-literal, eslint, typescript, prettier

docs(#1328): refresh telnet/UI dispatch-parity audit for post-#1351 code
  docs/architecture/unified-player-action.md
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/actions/definitions/cast.py
Due: getattr-literal

docs(#1328): reframe audit around backend-journey principle, drop jargon
  docs/architecture/unified-player-action.md
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
Due: none

docs(#1328): backend-journey coverage audit (telnet as the E2E harness) (#1448)
  docs/architecture/unified-player-action.md
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/actions/definitions/cast.py
Due: getattr-literal

Relationships center: sheet/relationship telnet section + own web tab (#1447)
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/commands/CLAUDE.md
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
Due: getattr-literal, eslint, typescript, prettier

Grievance: one-shot per secret + the dictated victim-learn message (#1429)
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  src/commands/social/grievance.py
  src/commands/tests/test_grievance_command.py
  src/world/secrets/migrations/0005_secretgrievance.py
  src/world/secrets/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_grievance.py
  src/world/secrets/views.py
Due: getattr-literal

Grievance: one-shot per secret + the dictated victim-learn message (#1429) (#1442)
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  src/commands/social/grievance.py
  src/commands/tests/test_grievance_command.py
  src/world/secrets/migrations/0005_secretgrievance.py
  src/world/secrets/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_grievance.py
  src/world/secrets/views.py
Due: getattr-literal
