Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

docs(#1455): pull is a declaration modifier across telnet + web
  docs/architecture/thread-ui.md
  docs/architecture/unified-combat-ui-design.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/commands/CLAUDE.md
  src/world/magic/CLAUDE.md
Due: none

fix(#1455): resolve SonarCloud findings (regex precedence bug + dupes/complexity)
  frontend/src/combat/sections/YourTurn.tsx
  src/commands/combat.py
  src/world/magic/services/techniques.py
Due: getattr-literal, eslint, typescript, prettier

fix(#1455): drop ambiguous stop-token regex for plain string ops (SonarCloud reliability)
  src/commands/combat.py
Due: getattr-literal

fix(#1455): CombatTechniqueResolver.__call__ accepts extra_modifiers (resolve_fn contract)
  src/world/combat/services.py
Due: getattr-literal

fix(#1455): return curated user_message, not str(exc), for invalid cast pull
  src/world/scenes/action_serializers.py
Due: getattr-literal

feat(typeclasses): add is_story_runner marker for GM/Staff characters
  src/typeclasses/characters.py
  src/typeclasses/gm_characters.py
  src/typeclasses/tests/test_gm_characters.py
Due: getattr-literal

feat(scenes): add scene-admin permission + co-ownership services
  src/world/scenes/scene_admin_services.py
  src/world/scenes/tests/test_scene_admin_services.py
Due: getattr-literal

refactor(scenes): extract finish_scene_full service shared by web + actions
  src/world/scenes/scene_admin_services.py
  src/world/scenes/tests/test_scene_admin_services.py
  src/world/scenes/views.py
Due: getattr-literal

feat(actions): StartSceneAction + FinishSceneAction on the action.run seam
  src/actions/definitions/scenes.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_scene_actions.py
Due: getattr-literal

feat(scenes): set_scene_round_mode service with out-of-STRICT + DANGER guards
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_mode_services.py
Due: getattr-literal

feat(actions): SetRoundModeAction + StartRoundAction mode override (#1445)
  src/actions/definitions/rounds.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_round_mode_action.py
Due: getattr-literal

feat(commands): scene admin telnet command (start/finish/round/status)
  src/commands/default_cmdsets.py
  src/commands/scene.py
  src/commands/tests/test_scene_command.py
Due: getattr-literal

feat(scenes): web set-round-mode endpoint dispatching SetRoundModeAction (#1445)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(scenes): add @extend_schema to set_round_mode so schema refs SetRoundModeRequest
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

test(commands): E2E scene-round mode journey (start→strict→guard→resolve→finish)
  src/commands/tests/test_scene_round_journey_e2e.py
Due: getattr-literal

test: tighten E2E scene-round journey assertions — co-ownership, latecomer gate, step-7 re-query (#1445)
  src/commands/tests/test_scene_round_journey_e2e.py
Due: getattr-literal

docs: scene admin command + per-scene round-mode control
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
Due: none

Scene-owner surface to set round resolution mode + pose-order policy (per-scene, not just global default) (#1468)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/rounds.py
  src/actions/definitions/scenes.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_round_mode_action.py
  src/actions/tests/test_scene_actions.py
  src/commands/default_cmdsets.py
  src/commands/scene.py
  src/commands/tests/test_scene_command.py
  src/commands/tests/test_scene_round_journey_e2e.py
  src/schema.json
  src/typeclasses/characters.py
  src/typeclasses/gm_characters.py
  src/typeclasses/tests/test_gm_characters.py
  src/world/scenes/round_services.py
  src/world/scenes/scene_admin_services.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_round_mode_services.py
  src/world/scenes/tests/test_scene_admin_services.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor: gemit reach — GAME_WIDE vs SPECIFIED (any mix of societies + orgs) (#1450)
  docs/systems/INDEX.md
  docs/systems/narrative.md
  frontend/src/generated/api.d.ts
  src/commands/gemit.py
  src/commands/tests/test_gemit_command.py
  src/schema.json
  src/world/narrative/constants.py
  src/world/narrative/migrations/0005_gemit_reach_gemit_reach_organizations_and_more.py
  src/world/narrative/models.py
  src/world/narrative/serializers.py
  src/world/narrative/services.py
  src/world/narrative/tests/test_gemit_reach.py
  src/world/narrative/views.py
Due: getattr-literal, eslint, typescript, prettier

feat: gemit reach — staff/GM push vector for the public-reaction center (#1450) (#1462)
  docs/systems/INDEX.md
  docs/systems/narrative.md
  frontend/src/generated/api.d.ts
  src/commands/gemit.py
  src/commands/tests/test_gemit_command.py
  src/schema.json
  src/world/narrative/constants.py
  src/world/narrative/migrations/0005_gemit_reach_gemit_reach_organizations_and_more.py
  src/world/narrative/models.py
  src/world/narrative/serializers.py
  src/world/narrative/services.py
  src/world/narrative/tests/test_gemit_reach.py
  src/world/narrative/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(scenes): promote active_round_for_room to a public service
  src/actions/definitions/rounds.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_mode_services.py
Due: getattr-literal

feat(scenes): expose active scene round on scene detail API (#1467)
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_views.py
Due: getattr-literal

feat(scenes): setRoundMode query + useSetRoundMode hook (#1467)
  frontend/src/scenes/queries.ts
Due: eslint, typescript, prettier

chore(api): regen types for scene active_round (#1467)
  frontend/src/generated/api.d.ts
  frontend/src/scenes/types.ts
  src/schema.json
Due: eslint, typescript, prettier

fix: mark active_round nullable in SceneDetail schema
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/serializers.py
Due: getattr-literal, eslint, typescript, prettier

docs(scenes): round-mode web control + active_round read-side (#1467)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
Due: none

feat(scenes): RoundSettingsDialog web control for round mode (#1467)
  frontend/src/scenes/components/RoundSettingsDialog.test.tsx
  frontend/src/scenes/components/RoundSettingsDialog.tsx
  frontend/src/scenes/components/SceneHeader.tsx
Due: eslint, typescript, prettier

fix(RoundSettingsDialog): reset form state on round-end + add danger-round disabled test
  frontend/src/scenes/components/RoundSettingsDialog.test.tsx
  frontend/src/scenes/components/RoundSettingsDialog.tsx
Due: eslint, typescript, prettier

fix: fully lock danger-round form + lift in-method test import
  frontend/src/scenes/components/RoundSettingsDialog.test.tsx
  frontend/src/scenes/components/RoundSettingsDialog.tsx
  src/world/scenes/tests/test_round_mode_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(#1470): room editor MVP — owner edits name/description/public-private
  src/actions/CLAUDE.md
  src/actions/definitions/locations.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/locations.py
  src/commands/tests/test_manageroom_command.py
  src/world/locations/CLAUDE.md
  src/world/locations/services.py
  src/world/locations/tests/test_room_editor.py
Due: getattr-literal

feat: room editor MVP — owner edits a room's name, description & public/private (#1470) (#1473)
  src/actions/CLAUDE.md
  src/actions/definitions/locations.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/locations.py
  src/commands/tests/test_manageroom_command.py
  src/world/locations/CLAUDE.md
  src/world/locations/services.py
  src/world/locations/tests/test_room_editor.py
Due: getattr-literal

refactor(rounds): extract AbstractRound base shared by SceneRound and CombatEncounter
  src/world/combat/models.py
  src/world/scenes/migrations/0035_alter_sceneround_round_started_at_and_more.py
  src/world/scenes/models.py
  src/world/scenes/round_models.py
  src/world/scenes/tests/test_round_models.py
Due: getattr-literal

feat(rounds): danger is a STRICT scene round; retire the forced-OPEN self-resolving path
  docs/roadmap/ROADMAP.md
  docs/roadmap/capabilities-and-challenges.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  docs/systems/scenes.md
  src/actions/definitions/rounds.py
  src/actions/player_interface.py
  src/actions/tests/test_round_actions.py
  src/actions/tests/test_round_mode_action.py
  src/world/areas/positioning/plummet.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/round_context.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_acute_integration.py
  src/world/scenes/tests/test_round_context.py
  src/world/scenes/tests/test_round_danger.py
  src/world/scenes/tests/test_round_mode_services.py
  src/world/scenes/tests/test_round_modes.py
  src/world/scenes/tests/test_round_services.py
  src/world/scenes/tests/test_round_unification_e2e.py
  src/world/scenes/tests/test_views.py
  src/world/vitals/services.py
Due: getattr-literal

refactor(rounds): single challenge-resolution core for combat and scene rounds
  src/world/combat/services.py
  src/world/combat/tests/test_round_orchestrator.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

fix(combat): hand off lingering acute peril to a scene round when an encounter ends
  src/world/combat/services.py
  src/world/scenes/tests/test_round_unification_e2e.py
Due: getattr-literal

docs(rounds): finish round-unification docs; regen MODEL_MAP
  docs/systems/INDEX.md
Due: none

fix(rounds): restore lazy resolver imports so origin-path test patches intercept
  src/world/combat/tests/test_round_orchestrator.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

Frontend: React control for scene round resolution mode (web parity for #1445) (#1471)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/RoundSettingsDialog.test.tsx
  frontend/src/scenes/components/RoundSettingsDialog.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
  src/actions/definitions/rounds.py
  src/schema.json
  src/world/scenes/round_services.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_round_mode_services.py
  src/world/scenes/tests/test_views.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
