Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, mypy

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

mypy:
  name: MyPy Type Checking
  entry: bash
  args:
  - -c
  - 'export DJANGO_SETTINGS_MODULE=server.conf.settings
  
    uv run mypy
  
    '
  language: system
  pass_filenames: false

Fixed 404 errors around missing assets
  frontend/index.html
  frontend/src/components/SceneListCard.test.tsx
  frontend/src/components/SceneListCard.tsx
  src/web/api/tests/test_utils.py
  src/web/api/utils.py
  src/web/api/views/general_views.py
  src/world/scenes/views.py
Due: eslint, typescript, prettier

Fixed review issues caught by copilot
  src/web/api/tests/test_utils.py
  src/web/api/utils.py
Due: none

Removed unnecessary checks
  src/web/api/tests/test_utils.py
  src/web/api/utils.py
  src/web/api/views/general_views.py
  src/world/scenes/views.py
Due: none

Ccfix (#191)
  frontend/index.html
  frontend/src/components/SceneListCard.test.tsx
  frontend/src/components/SceneListCard.tsx
  src/world/character_creation/migrations/0001_initial.py
  src/world/character_creation/migrations/0002_initial.py
  src/world/character_sheets/migrations/0001_initial.py
  src/world/character_sheets/migrations/0002_initial.py
  src/world/character_sheets/models.py
  src/world/realms/migrations/0001_initial.py
  src/world/roster/migrations/0001_initial.py
Due: eslint, typescript, prettier

Adding test coverage for Char Creation
  frontend/AGENTS.md
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/README.md
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/mocks.ts
  frontend/src/character-creation/__tests__/queries.test.tsx
  frontend/src/character-creation/__tests__/testUtils.tsx
  frontend/test-output.txt
Due: eslint, typescript, prettier

Adding test coverage for Char Creation
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/testUtils.tsx
Due: eslint, typescript, prettier

Cctest (#192)
  frontend/AGENTS.md
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/README.md
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/mocks.ts
  frontend/src/character-creation/__tests__/queries.test.tsx
  frontend/src/character-creation/__tests__/testUtils.tsx
  frontend/test-output.txt
Due: eslint, typescript, prettier

Added django admin access button to staff accounts
  frontend/AGENTS.md
  frontend/src/components/ProfileDropdown.test.tsx
  frontend/src/components/ProfileDropdown.tsx
  frontend/src/test/mocks/account.ts
Due: eslint, typescript, prettier

Fix tests, make arx cli propagate test failures
  src/cli/arx.py
  src/evennia_extensions/data_handlers/character_data.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/tests/test_handlers.py
  src/world/character_sheets/tests/test_item_data_handler.py
  src/world/character_sheets/tests/test_models.py
  src/world/character_sheets/tests/test_sheet_command.py
  src/world/roster/factories.py
  src/world/roster/serializers/characters.py
  src/world/roster/tests/test_serializers.py
  src/world/roster/tests/test_views.py
Due: none

Fix tests, make arx cli propagate test failures (#194)
  src/cli/arx.py
  src/evennia_extensions/data_handlers/character_data.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/tests/test_handlers.py
  src/world/character_sheets/tests/test_item_data_handler.py
  src/world/character_sheets/tests/test_models.py
  src/world/character_sheets/tests/test_sheet_command.py
  src/world/roster/factories.py
  src/world/roster/serializers/characters.py
  src/world/roster/tests/test_serializers.py
  src/world/roster/tests/test_views.py
Due: none

Added django admin access button to staff accounts (#193)
  frontend/AGENTS.md
  frontend/src/components/ProfileDropdown.test.tsx
  frontend/src/components/ProfileDropdown.tsx
  frontend/src/test/mocks/account.ts
Due: eslint, typescript, prettier

Reformated Django to be sorted by app
  .gitignore
  src/server/conf/settings.py
  src/web/admin/__init__.py
  src/web/admin/urls.py
  src/web/static/admin/css/arx_admin.css
  src/web/static/admin/js/arx_admin.js
  src/web/templates/admin/base_site.html
  src/web/templates/admin/index.html
Due: none

Added test coverage and fixes
  src/server/conf/settings.py
  src/web/admin/__init__.py
  src/web/admin/tests.py
  src/web/static/admin/js/arx_admin.js
  src/web/templates/admin/base_site.html
  src/web/templates/admin/index.html
Due: none

Reformated Django to be sorted by app (#195)
  .gitignore
  src/server/conf/settings.py
  src/web/admin/__init__.py
  src/web/admin/tests.py
  src/web/admin/urls.py
  src/web/static/admin/css/arx_admin.css
  src/web/static/admin/js/arx_admin.js
  src/web/templates/admin/index.html
Due: none

Fixed hangs in character creation
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/StageErrorBoundary.tsx
  frontend/src/character-creation/components/index.ts
Due: eslint, typescript, prettier

Fixed the 2 API calls and race condition
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/tmpclaude-bd81-cwd
Due: eslint, typescript, prettier

Removed temp file
  frontend/tmpclaude-bd81-cwd
Due: prettier

Fixed hangs in character creation (#196)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/StageErrorBoundary.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

First pass at adding the core stats
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/StatCategory.tsx
  frontend/src/character-creation/components/StatSlider.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/types.ts
  src/typeclasses/characters.py
  src/web/urls.py
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/traits/migrations/0002_add_primary_stats.py
  src/world/traits/serializers.py
  src/world/traits/stat_handler.py
  src/world/traits/urls.py
  src/world/traits/views.py
Due: eslint, typescript, prettier

First pass at adding the core stats
  frontend/src/character-creation/components/StatCategory.tsx
  frontend/src/character-creation/types.ts
Due: eslint, typescript, prettier

Added test coverage, fixed issues
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/types.test.ts
  frontend/src/character-creation/components/StatCategory.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests.py
  src/world/traits/tests.py
  src/world/traits/views.py
Due: eslint, typescript, prettier

Fixed CI errors
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/types.test.ts
  frontend/src/test/setup.ts
  src/world/character_creation/tests.py
Due: eslint, typescript, prettier

Fixed CI errors
  src/world/traits/factories.py
  src/world/traits/tests.py
Due: none

Removed string literals
  src/world/character_creation/models.py
  src/world/traits/constants.py
  src/world/traits/migrations/0002_add_primary_stats.py
  src/world/traits/stat_handler.py
Due: none

Corestats (#197)
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/types.test.ts
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/StatCategory.tsx
  frontend/src/character-creation/components/StatSlider.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/types.ts
  frontend/src/test/setup.ts
  src/typeclasses/characters.py
  src/web/urls.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests.py
  src/world/traits/constants.py
  src/world/traits/factories.py
  src/world/traits/migrations/0002_add_primary_stats.py
  src/world/traits/serializers.py
  src/world/traits/stat_handler.py
  src/world/traits/tests.py
  src/world/traits/urls.py
  src/world/traits/views.py
Due: eslint, typescript, prettier

First pass at heritage step
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/CGPointsWidget.tsx
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/SpeciesOptionCard.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/radio-group.tsx
  src/world/character_creation/management/commands/init_species_options.py
  src/world/character_creation/migrations/0003_add_species_option_and_cg_points.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/roster/migrations/0002_add_species_option_and_cg_points.py
  src/world/roster/models/families.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/families.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/family_views.py
Due: eslint, typescript, prettier

First pass at heritage step
  frontend/src/character-creation/__tests__/fixtures.ts
Due: eslint, typescript, prettier

Fixed CI errors
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
Due: eslint, typescript, prettier

Fixed CI errors
  src/world/character_creation/models.py
  src/world/character_creation/tests.py
Due: none

Fixed code quality issues
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/roster/migrations/0003_remove_model_ordering.py
  src/world/roster/models/families.py
  src/world/roster/views/family_views.py
Due: none

Fixed the JSON issue
  .gitignore
  src/evennia_extensions/data_handlers/base_data.py
  src/evennia_extensions/data_handlers/character_data.py
  src/server/conf/settings.py
  src/world/character_creation/admin.py
  src/world/character_creation/filters.py
  src/world/character_creation/management/commands/init_species_options.py
  src/world/character_creation/migrations/0001_initial.py
  src/world/character_creation/migrations/0002_initial.py
  src/world/character_creation/migrations/0003_add_species_option_and_cg_points.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/migrations/0001_initial.py
  src/world/character_sheets/migrations/0002_initial.py
  src/world/character_sheets/models.py
  src/world/roster/serializers/characters.py
  src/world/roster/tests/test_serializers.py
  src/world/roster/tests/test_views.py
  src/world/species/__init__.py
  src/world/species/admin.py
  src/world/species/apps.py
  src/world/species/factories.py
  src/world/species/migrations/0001_initial.py
  src/world/species/migrations/__init__.py
  src/world/species/models.py
Due: none

Went ahead and changed family logic
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/admin.py
  src/world/character_creation/filters.py
  src/world/character_creation/migrations/0003_speciesarea_and_more.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests.py
  src/world/character_creation/views.py
  src/world/roster/migrations/0004_familymember_father_familymember_mother_and_more.py
  src/world/roster/models/families.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/families.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/family_views.py
  src/world/species/admin.py
  src/world/species/factories.py
  src/world/species/migrations/0002_remove_speciesareastatbonus_species_area_and_more.py
  src/world/species/models.py
Due: eslint, typescript, prettier

Made SpeciesOrigin and the changes
  frontend/src/character-creation/components/SpeciesOptionCard.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/admin.py
  src/world/character_creation/filters.py
  src/world/character_creation/migrations/0004_speciesoption.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/species/__init__.py
  src/world/species/admin.py
  src/world/species/factories.py
  src/world/species/migrations/0003_speciesorigin.py
  src/world/species/models.py
Due: eslint, typescript, prettier

Update test fixtures for SpeciesOption type changes
  frontend/src/character-creation/__tests__/fixtures.ts
Due: eslint, typescript, prettier

Creating the Beginning model
  CLAUDE.md
  src/world/character_creation/migrations/0005_beginnings.py
  src/world/character_creation/migrations/0006_characterdraft_selected_beginnings.py
  src/world/character_creation/models.py
  src/world/character_creation/tests.py
  src/world/character_sheets/migrations/0002_charactersheet_pronouns.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_models.py
Due: none

feat(character_creation): implement Beginnings system with frontend integration
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/admin.py
  src/world/character_creation/migrations/0007_alter_characterdraft_age.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/character_sheets/admin.py
  src/world/character_sheets/migrations/0003_populate_genders.py
Due: eslint, typescript, prettier

refactor(character_creation): address code review feedback
  src/world/character_creation/factories.py
  src/world/character_creation/migrations/0008_remove_beginnings_ordering.py
  src/world/character_creation/models.py
  src/world/character_creation/tests.py
Due: none

Creating the Beginning model (#199)
  CLAUDE.md
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/admin.py
  src/world/character_creation/factories.py
  src/world/character_creation/migrations/0005_beginnings.py
  src/world/character_creation/migrations/0006_characterdraft_selected_beginnings.py
  src/world/character_creation/migrations/0007_alter_characterdraft_age.py
  src/world/character_creation/migrations/0008_remove_beginnings_ordering.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/character_sheets/admin.py
  src/world/character_sheets/migrations/0002_charactersheet_pronouns.py
  src/world/character_sheets/migrations/0003_populate_genders.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_models.py
Due: eslint, typescript, prettier

Add .worktrees/ to gitignore
  .gitignore
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
  mypy: any of: ^src/(commands|flows)/.*\.py$
