Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#572): accept target_persona_ids, validate cardinality, create additional targets
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal

feat(#572): per-target consent on the respond endpoint
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal

feat(#572): frontend sends full target_persona_ids; drop ids[0] workaround
  frontend/src/scenes/actionQueries.test.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

fix(#572): ValueError guard parity on per-target respond + resolver omission note
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal

test(#572): end-to-end multi-target cast (NPC auto, PC accept/deny/AFK) + cardinality gaps + api-types regen
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/tests/test_action_services.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#568): lethal-duel explicit risk surface (Task 12b)
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_duel_actions.py
  src/world/combat/services.py
  src/world/combat/tests/test_declare_lethal_ack_guard.py
Due: getattr-literal

feat(#568): duel state serializers + api types
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/tests/test_duel_serializers.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(#572): db_constraint=False on SceneActionTarget.result_interaction
  src/world/scenes/action_models.py
  src/world/scenes/migrations/0024_sceneactiontarget_sceneactionrequest_target_personas_and_more.py
Due: getattr-literal

feat(#568): duel challenge/yield frontend controls
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/duels/DuelChallengeControls.tsx
  frontend/src/combat/duels/__tests__/DuelChallengeControls.test.tsx
  frontend/src/combat/pages/CombatScenePage.tsx
Due: eslint, typescript, prettier

test(#568): fix stale header comment + add yield disabled-state test
  frontend/src/combat/duels/__tests__/DuelChallengeControls.test.tsx
Due: eslint, typescript, prettier

test(#568): duel end-to-end integration
  src/world/combat/tests/test_duels_integration.py
Due: getattr-literal

test(#568): honest non-lethal soulfray assertion — rename + unconditional assert
  src/world/combat/tests/test_duels_integration.py
Due: getattr-literal

docs(#568): mark Duels Phase 1 shipped in combat roadmap
  docs/roadmap/combat.md
Due: none

Fashion bonus: derive perceiving society from scene context (#1176)
  docs/roadmap/items-equipment.md
  src/world/checks/CLAUDE.md
  src/world/combat/clash.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
  src/world/combat/tests/test_defense.py
  src/world/combat/tests/test_reactive_integration.py
Due: getattr-literal

Backend: staff "File GitHub issue" from bug reports + system errors (#1164)
  src/server/conf/settings.py
  src/world/player_submissions/github_issues.py
  src/world/player_submissions/migrations/0004_bugreport_github_issue_number_and_more.py
  src/world/player_submissions/migrations/max_migration.txt
  src/world/player_submissions/models.py
  src/world/player_submissions/serializers.py
  src/world/player_submissions/tests/test_github_issues.py
  src/world/player_submissions/views.py
Due: getattr-literal

Frontend: File GitHub issue dialog on bug-report + system-error detail (#1164)
  frontend/src/generated/api.d.ts
  frontend/src/staff/api.ts
  frontend/src/staff/components/FileGithubIssueDialog.tsx
  frontend/src/staff/pages/StaffBugReportDetailPage.tsx
  frontend/src/staff/pages/StaffSystemErrorDetailPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
  src/schema.json
Due: eslint, typescript, prettier

Extract shared ReportDetailActions to dedup the two detail pages
  frontend/src/staff/components/ReportDetailActions.tsx
  frontend/src/staff/pages/StaffBugReportDetailPage.tsx
  frontend/src/staff/pages/StaffSystemErrorDetailPage.tsx
Due: eslint, typescript, prettier

fix(#572): point scenes 0025 at 0024_interaction_fury_committed (merge fixup)
  src/world/scenes/migrations/0025_sceneactiontarget_sceneactionrequest_target_personas_and_more.py
Due: getattr-literal

Duels — spec + Phase 1 implementation (non-lethal + lethal variants) (#1183)
  docs/roadmap/combat.md
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/duels/DuelChallengeControls.tsx
  frontend/src/combat/duels/__tests__/DuelChallengeControls.test.tsx
  frontend/src/combat/pages/CombatScenePage.tsx
  frontend/src/generated/api.d.ts
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_duel_actions.py
  src/schema.json
  src/world/combat/constants.py
  src/world/combat/duels.py
  src/world/combat/factories.py
  src/world/combat/migrations/0015_combatencounter_duel_winner_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_declare_lethal_ack_guard.py
  src/world/combat/tests/test_duel_models.py
  src/world/combat/tests/test_duel_serializers.py
  src/world/combat/tests/test_duels_integration.py
  src/world/combat/tests/test_duels_services.py
  src/world/combat/views.py
  src/world/magic/services/anima.py
  src/world/magic/services/soulfray.py
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_nonlethal_cap.py
Due: getattr-literal, eslint, typescript, prettier

Move report-action wiring into ReportDetailActions to shrink the call site
  frontend/src/staff/components/ReportDetailActions.tsx
  frontend/src/staff/pages/StaffBugReportDetailPage.tsx
  frontend/src/staff/pages/StaffSystemErrorDetailPage.tsx
Due: eslint, typescript, prettier

Multi-target dispatch for AOE/group cardinality persona actions (#1179)
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionQueries.test.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  src/schema.json
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/factories.py
  src/world/scenes/migrations/0025_sceneactiontarget_sceneactionrequest_target_personas_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/tests/test_action_models.py
  src/world/scenes/tests/test_action_services.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal, eslint, typescript, prettier

docs(#769): power pipeline diagrams + as-built "How Magic Works" lifecycle
  docs/architecture/power-derivation.md
  docs/architecture/technique-use-pipeline.md
  docs/systems/INDEX.md
  docs/systems/magic.md
Due: none

docs: add "Docs Are Directives — Keep Them in Tandem" CLAUDE.md invariant
  CLAUDE.md
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

feat(#1185): add ProgressStatus.FORECLOSED honest terminal state
  src/world/stories/constants.py
  src/world/stories/migrations/0002_alter_globalstoryprogress_status_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/services/frontier.py
  src/world/stories/tests/test_services_frontier.py
Due: getattr-literal

feat(#1185): complete_story service forecloses in-flight progress
  src/world/stories/services/completion.py
  src/world/stories/tests/test_services_completion.py
Due: getattr-literal

feat(#1185): POST /stories/{id}/complete/ endpoint (Lead-GM/staff)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/stories/tests/test_views_story_complete.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#759): add Covenant.campaign_story link (CAMPAIGN-only)
  src/world/covenants/exceptions.py
  src/world/covenants/migrations/0011_covenant_campaign_story.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_battle_covenant_model.py
Due: getattr-literal

feat(#759): dissolve linked CAMPAIGN covenants on story completion
  src/world/stories/services/completion.py
  src/world/stories/tests/test_constants_backbone.py
  src/world/stories/tests/test_services_completion.py
Due: getattr-literal

docs(#759): roadmap — CAMPAIGN dissolution wired to story completion
  docs/roadmap/covenants.md
Due: none

docs(#1185): clarify is_active=True cascade filter is the terminal-exclusion form
  src/world/stories/services/completion.py
Due: getattr-literal

Staff: file a GitHub issue from a bug report / captured error (#1164) (#1184)
  frontend/src/generated/api.d.ts
  frontend/src/staff/api.ts
  frontend/src/staff/components/FileGithubIssueDialog.tsx
  frontend/src/staff/components/ReportDetailActions.tsx
  frontend/src/staff/pages/StaffBugReportDetailPage.tsx
  frontend/src/staff/pages/StaffSystemErrorDetailPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
  src/schema.json
  src/server/conf/settings.py
  src/world/player_submissions/github_issues.py
  src/world/player_submissions/migrations/0004_bugreport_github_issue_number_and_more.py
  src/world/player_submissions/migrations/max_migration.txt
  src/world/player_submissions/models.py
  src/world/player_submissions/serializers.py
  src/world/player_submissions/tests/test_github_issues.py
  src/world/player_submissions/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#774): multi-alt character picker for technique authoring
  frontend/src/magic/__tests__/CharacterAuthorSelect.test.tsx
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/magic/components/CharacterAuthorSelect.tsx
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
Due: eslint, typescript, prettier

Docs: power pipeline mermaid diagram (magic/combat docs pass) (#1186)
  docs/architecture/power-derivation.md
  docs/architecture/technique-use-pipeline.md
  docs/systems/INDEX.md
  docs/systems/magic.md
Due: none

docs: "Docs Are Directives — Keep Them in Tandem" CLAUDE.md invariant (#1187)
  CLAUDE.md
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

feat(#1185,#759): story-completion primitive + CAMPAIGN covenant dissolution (#1189)
  docs/roadmap/covenants.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/covenants/exceptions.py
  src/world/covenants/migrations/0011_covenant_campaign_story.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_battle_covenant_model.py
  src/world/stories/constants.py
  src/world/stories/migrations/0002_alter_globalstoryprogress_status_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/services/completion.py
  src/world/stories/services/frontier.py
  src/world/stories/tests/test_constants_backbone.py
  src/world/stories/tests/test_services_completion.py
  src/world/stories/tests/test_services_frontier.py
  src/world/stories/tests/test_views_story_complete.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#774): multi-alt character picker for technique authoring (#1190)
  frontend/src/magic/__tests__/CharacterAuthorSelect.test.tsx
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/magic/components/CharacterAuthorSelect.tsx
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
Due: eslint, typescript, prettier

feat(#853): add StandingCapBand model + StandingCapMode for per-level standing caps
  src/world/magic/admin.py
  src/world/magic/constants.py
  src/world/magic/factories.py
  src/world/magic/migrations/0036_standingcapband.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/power_config.py
  src/world/magic/tests/test_power_derivation.py
Due: getattr-literal

feat(#853): apply per-level StandingCapBand in _aura_standing; remove flat resonance_standing_cap
  src/world/magic/factories.py
  src/world/magic/migrations/0037_remove_aurapowerconfig_resonance_standing_cap.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/power_config.py
  src/world/magic/services/power_terms.py
  src/world/magic/tests/test_power_derivation.py
Due: getattr-literal

docs(#853): reword _aura_standing docstrings (per-level cap bands, not flat soft cap)
  src/world/magic/services/power_terms.py
Due: getattr-literal
