Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#954): PathIntentCard declare/clear picker over path-options
  frontend/src/magic/__tests__/PathIntentCard.test.tsx
  frontend/src/magic/components/PathIntentCard.tsx
Due: eslint, typescript, prettier

feat(#954): mount PathIntentCard on MagicProgressionPage
  frontend/src/magic/__tests__/MagicProgressionPage.pathIntent.test.tsx
  frontend/src/magic/pages/MagicProgressionPage.tsx
Due: eslint, typescript, prettier

fix(#954): add missing description field to INTENT_EMBERS test fixture
  frontend/src/magic/__tests__/PathIntentCard.test.tsx
Due: eslint, typescript, prettier

docs(#954): document path-options endpoint + PathIntent UI surface
  docs/systems/INDEX.md
  docs/systems/progression.md
  frontend/src/magic/CLAUDE.md
Due: prettier

chore(#954): regenerate src/schema.json for path-options endpoint
  src/schema.json
Due: none

docs(#954): correct PathIntent/path-options transport to X-Character-ID header
  docs/systems/INDEX.md
  docs/systems/progression.md
  frontend/src/magic/CLAUDE.md
Due: prettier

docs(#954): note next_path_options' deliberate no-stage-filter choice
  src/world/progression/selectors.py
Due: getattr-literal

refactor(#953): extract abstract RenownAwardConfig; DramaticMomentType inherits it
  src/world/magic/migrations/0038_alter_dramaticmomenttype_archetypes.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/dramatic_moment.py
  src/world/magic/models/renown_config.py
  src/world/magic/tests/test_renown_config.py
Due: getattr-literal

feat(#953): AudereMajoraThreshold renown config + deed_title; crossing→deed link
  src/world/magic/audere_majora.py
  src/world/magic/factories.py
  src/world/magic/migrations/0039_auderemajoracrossing_legend_entry_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/tests/test_renown_config.py
Due: getattr-literal

feat(#953): mint witnessed renown deed on Audere Majora crossing
  src/world/magic/audere_majora.py
  src/world/magic/tests/test_audere_majora_deed.py
Due: getattr-literal

docs(#953): document Audere Majora legend-deed minting + RenownAwardConfig
  docs/roadmap/character-progression.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/societies.md
  src/world/magic/CLAUDE.md
Due: none

test(#953): end-to-end crossing-accept mints deed via resolve_audere_majora_offer
  src/world/magic/tests/test_audere_majora_deed.py
Due: getattr-literal

test(#953): rename garbled E2E test class (review fix)
  src/world/magic/tests/test_audere_majora_deed.py
Due: getattr-literal

fix(#964): make TriggerHandler cache rollback-safe via on_commit invalidation (#1202)
  docs/architecture/reactive-layer-foundation.md
  docs/systems/flows.md
  src/flows/tests/test_trigger_handler/test_rollback_sync.py
  src/flows/trigger_handler.py
  src/world/combat/tests/test_escalation_integration.py
  src/world/magic/services/soul_tether.py
  src/world/magic/tests/test_soul_tether_services.py
Due: getattr-literal

refactor(#965): tier legibility at sanctum API seam, clamp bounds tests, public homecoming cap
  frontend/src/magic/sanctumTypes.ts
  src/world/magic/services/sanctum_install.py
  src/world/magic/services/sanctum_lvm.py
  src/world/magic/services/sanctum_rituals.py
  src/world/magic/tests/test_sanctum_install.py
  src/world/magic/tests/test_sanctum_rituals.py
  src/world/magic/views_sanctum.py
Due: getattr-literal, eslint, typescript, prettier

PathIntent declaration UI — first X-Character-ID header consumer (#1203)
  docs/systems/INDEX.md
  docs/systems/progression.md
  frontend/src/generated/api.d.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/MagicProgressionPage.pathIntent.test.tsx
  frontend/src/magic/__tests__/PathIntentCard.test.tsx
  frontend/src/magic/__tests__/queries.test.tsx
  frontend/src/magic/api.ts
  frontend/src/magic/components/PathIntentCard.tsx
  frontend/src/magic/pages/MagicProgressionPage.tsx
  frontend/src/magic/queries.ts
  frontend/src/magic/types.ts
  src/schema.json
  src/world/magic/audere_majora.py
  src/world/progression/selectors.py
  src/world/progression/serializers.py
  src/world/progression/tests/test_path_options.py
  src/world/progression/tests/test_path_selectors.py
  src/world/progression/urls.py
  src/world/progression/views.py
Due: getattr-literal, eslint, typescript, prettier

docs(#976): record NPC clash contributions as authored-flat by design
  docs/architecture/clash-design.md
Due: none

docs(#976): NPC clash contributions are authored-flat by design (#1209)
  docs/architecture/clash-design.md
Due: none

feat(#977): render clash strain→power story in combat outcome panel
  docs/roadmap/combat.md
  frontend/src/scenes/components/PoseUnitDetailPanel.test.tsx
  frontend/src/scenes/components/PoseUnitDetailPanel.tsx
Due: eslint, typescript, prettier

refactor(#965): sanctum ritual tier legibility, clamp bounds tests, public homecoming cap (#1208)
  frontend/src/magic/sanctumTypes.ts
  src/world/magic/services/sanctum_install.py
  src/world/magic/services/sanctum_lvm.py
  src/world/magic/services/sanctum_rituals.py
  src/world/magic/tests/test_sanctum_install.py
  src/world/magic/tests/test_sanctum_rituals.py
  src/world/magic/views_sanctum.py
Due: getattr-literal, eslint, typescript, prettier

Render the clash strain→power story in the combat outcome panel (#977) (#1210)
  docs/roadmap/combat.md
  frontend/src/scenes/components/PoseUnitDetailPanel.test.tsx
  frontend/src/scenes/components/PoseUnitDetailPanel.tsx
Due: eslint, typescript, prettier

feat(#983): swarm target-fanning + #875 test-coverage polish
  docs/roadmap/combat.md
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  src/world/combat/services.py
  src/world/combat/tests/test_hero_killer.py
  src/world/combat/tests/test_swarm.py
Due: getattr-literal, eslint, typescript, prettier

fix(#1007): stage_crossing milestones are retrospective, never ELIGIBLE
  docs/roadmap/magic.md
  src/world/magic/services/progression_dashboard.py
  src/world/magic/tests/test_progression_dashboard.py
Due: getattr-literal

Swarm target-fanning + #875 test-coverage polish (#1211)
  docs/roadmap/combat.md
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  src/world/combat/services.py
  src/world/combat/tests/test_hero_killer.py
  src/world/combat/tests/test_swarm.py
Due: getattr-literal, eslint, typescript, prettier

stage_crossing milestones render ELIGIBLE for crossings already made (#1212)
  docs/roadmap/magic.md
  src/world/magic/services/progression_dashboard.py
  src/world/magic/tests/test_progression_dashboard.py
Due: getattr-literal

feat(#985): add CovenantRoleBonus authoring model (mirrors CovenantLevelBonus)
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0012_covenantrolebonus.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_covenant_role_bonus.py
Due: getattr-literal

feat(#985): wire role_base_bonus_for_target to CovenantRoleBonus
  src/world/covenants/tests/test_covenant_role_bonus.py
  src/world/mechanics/services.py
Due: getattr-literal

feat(#985): item_mundane_stat reads effective_* via seeded targets; fix docstring
  src/world/combat/factories.py
  src/world/items/constants.py
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_services.py
Due: getattr-literal

feat(#985): combat soak + weapon seams consume covenant-role bonus on top of base
  src/world/combat/services.py
  src/world/combat/tests/test_covenant_combat_blend.py
Due: getattr-literal

feat(#985): make §5.6 blend marginal so combat can consume it without double-count
  src/world/magic/tests/integration/test_gear_compatibility_pipeline.py
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_services.py
Due: getattr-literal

docs(#985): mark §5.6/§10-PR3 wired; add CovenantRoleBonus to system docs + MODEL_MAP
  docs/architecture/items-fashion-mantles.md
  docs/roadmap/covenants.md
  docs/roadmap/items-equipment.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
Due: none

test(#985): bump get_modifier_total query budget to 7 for CovenantRoleBonus lookup
  src/world/magic/tests/integration/test_modifier_total_no_query.py
Due: getattr-literal

test(#987): drive the declare→resolve E2E regression through /dispatch/
  src/world/combat/tests/test_views.py
Due: getattr-literal

test(#987): cover focused_ally_target_id persistence on the dispatch path
  src/world/combat/tests/test_focused_target_dispatch.py
Due: getattr-literal

chore(#987): regenerate API types after removing the declare endpoint
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

docs(#987): mark DeclareActionSerializer/declare view retired; /dispatch/ is the sole declaration path
  docs/architecture/unified-player-action.md
Due: none

refactor(#987): retire DeclareActionSerializer + the declare view; /dispatch/ is the sole authority
  src/actions/player_interface.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
Due: getattr-literal

refactor(#1017): extract Position/PositionEdge abstract bases
  src/world/areas/positioning/models.py
  src/world/areas/positioning/tests/test_models.py
Due: getattr-literal

test(#1017): make cross-room edge test deterministic
  src/world/areas/positioning/tests/test_models.py
Due: getattr-literal
