Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Prettier formatting for OrgPage (CI pre-commit)
  frontend/src/orgs/pages/OrgPage.tsx
Due: eslint, typescript, prettier

Fix tavern games test fixtures: persona-name collision + wrong pot assertion (#3292)
  src/actions/tests/test_tavern_games_actions.py
  src/commands/tests/test_tavern_games.py
  src/world/tavern_games/tests/test_services.py
Due: getattr-literal

Prettier formatting for tavern-games frontend files (#3292)
  frontend/src/scenes/components/TavernGameWidget.tsx
Due: eslint, typescript, prettier

Fix OrgAppeal tests: JSON-format DRF posts, tenure-cache staleness, msg-call convention (#3293)
  src/world/societies/tests/test_org_appeal_api.py
  src/world/societies/tests/test_org_appeals.py
Due: getattr-literal

feat(#3305): Gatefold landing page (night cover, folio chapters, realms-first, themed)
  frontend/CLAUDE.md
  frontend/e2e/user-journey.spec.ts
  frontend/src/App.tsx
  frontend/src/components/CLAUDE.md
  frontend/src/components/Footer.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/QuickActions.tsx
  frontend/src/components/ScenesSpotlight.tsx
  frontend/src/components/UserNav.tsx
  frontend/src/evennia_replacements/CLAUDE.md
  frontend/src/evennia_replacements/FeaturedLore.tsx
  frontend/src/evennia_replacements/HomePage.tsx
  frontend/src/evennia_replacements/NewPlayerSection.tsx
  frontend/src/evennia_replacements/NewsTeaser.tsx
  frontend/src/evennia_replacements/RecentConnected.test.tsx
  frontend/src/evennia_replacements/RecentConnected.tsx
  frontend/src/evennia_replacements/StatsCard.tsx
  frontend/src/evennia_replacements/StatusBlock.tsx
  frontend/src/evennia_replacements/__tests__/FeaturedLore.test.tsx
  frontend/src/evennia_replacements/api.ts
  frontend/src/evennia_replacements/queries.tsx
  frontend/src/evennia_replacements/types.ts
  frontend/src/home/CodexChapter.tsx
  frontend/src/home/Cover.tsx
  frontend/src/home/Door.tsx
  frontend/src/home/GatefoldPage.tsx
  frontend/src/home/RealmsChapter.tsx
  frontend/src/home/ScenesChapter.tsx
  frontend/src/home/__tests__/GatefoldPage.test.tsx
  frontend/src/home/home.css
  frontend/src/index.css
Due: eslint, typescript, prettier

Drop literal getattr in board author display (CI pre-commit)
  src/world/boards/serializers.py
Due: getattr-literal

Fix test_full_journey: invalidate RosterEntry tenure cache in the API test fixture (#3293)
  src/world/societies/tests/test_org_appeal_api.py
Due: getattr-literal

Restore OrgDossierSerializer.consorts displaced into the appeal resolve serializer
  src/world/societies/serializers.py
Due: getattr-literal

Roll tavern dice from secrets.SystemRandom (SonarCloud S2245, coin at stake)
  src/world/tavern_games/services.py
Due: getattr-literal

fix(#3305): Gatefold fix round 1 — no-throw codex hook, drop dead SceneListCard, focus-visible
  frontend/src/components/CLAUDE.md
  frontend/src/components/SceneListCard.test.tsx
  frontend/src/components/SceneListCard.tsx
  frontend/src/home/CodexChapter.tsx
  frontend/src/home/__tests__/GatefoldPage.test.tsx
  frontend/src/home/__tests__/queries.test.ts
  frontend/src/home/home.css
  frontend/src/home/queries.ts
Due: eslint, typescript, prettier

Patch the table RNG in tavern dice tests after the SystemRandom switch
  src/world/tavern_games/tests/test_services.py
Due: getattr-literal

Repoint remaining tavern-dice test patches at _TABLE_RNG
  src/actions/tests/test_tavern_games_actions.py
  src/commands/tests/test_tavern_games.py
  src/world/tavern_games/tests/test_views.py
Due: getattr-literal

docs(#3305): roadmap/realms/ADR for Gatefold landing page
  docs/adr/0226-gatefold-landing-page-and-shop-window-reads.md
  docs/adr/README.md
  docs/roadmap/ooc-social.md
  docs/systems/realms.md
Due: none

docs(#3305): fix count-line attribution + cite ADR-0208
  docs/adr/0226-gatefold-landing-page-and-shop-window-reads.md
  docs/roadmap/ooc-social.md
Due: none

fix(#3305): footer Log in link + doc-wording fold-ins from final review
  frontend/CLAUDE.md
  frontend/src/components/Footer.tsx
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix world-builder room fixtures for the desc_variants field (#3291)
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/WorldCanvas.test.tsx
  frontend/src/world-builder/components/WorldRoomNode.test.tsx
Due: eslint, typescript, prettier

Fix OrgPage Board section: drop redux dependency from OrgPageInner
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
Due: eslint, typescript, prettier

Fix SceneDetailPage test crash from unmocked checks query module (#3295)
  frontend/src/scenes/components/SelfCheckPanel.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

Fix two repo lint failures: string-literal + use-filterset
  src/world/journals/filters.py
  src/world/journals/serializers.py
  src/world/journals/services.py
  src/world/journals/views.py
Due: getattr-literal

Fix deceased-corpus browse returning empty for a granted recipient
  src/world/journals/filters.py
  src/world/journals/services.py
  src/world/journals/views.py
Due: getattr-literal

Correct stale justfile comment about parallel worker count
  justfile
Due: none

Prettier formatting for OrgPage board section (CI pre-commit)
  frontend/src/orgs/pages/OrgPage.tsx
Due: eslint, typescript, prettier

Fix CI: mock org-appeal query hooks in OrgPage tests; regenerate OpenAPI types (#3293)
  frontend/src/generated/api.d.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  src/schema.json
Due: eslint, typescript, prettier

chore(#3305): regen api types after perspectives docstring rewording
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Fix CI: type mock casts + register declare_standing in registry completeness test
  frontend/src/orgs/pages/OrgPage.test.tsx
  src/actions/tests/test_base.py
Due: getattr-literal, eslint, typescript, prettier

Fix SceneDetailPage test mock: add tavern games actionQueries exports (#3292)
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

Mount TavernGameWidget in GamePage, the second Place-bar root (#3292)
  docs/systems/tavern-games.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/GameWindow.tsx
Due: eslint, typescript, prettier

Regenerate OpenAPI schema and API types after the journals filter rework (#3287)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Register tavern_games cluster key in the Big Button registry test (#3292)
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

Dead seeders: game_content/challenges.py and social.py have no CLUSTER_SEEDERS caller — trace intent before deleting or wiring (#3300)
  src/world/seeds/game_content/challenges.py
  src/world/seeds/game_content/social.py
Due: getattr-literal

Reframe PlayerMail as the OOC player-message surface it was built as (strip the IC letters framing) (#3306)
  docs/adr/0116-playermail-is-the-letters-surface-at-mvp.md
  docs/adr/0226-playermail-is-ooc-ic-missives-are-a-separate-system.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/roster.md
  frontend/src/game/components/CharacterCardDrawer.test.tsx
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/game/components/MessagePlayerDialog.tsx
  frontend/src/mail/CLAUDE.md
  frontend/src/mail/api.ts
  frontend/src/mail/components/ComposeMailForm.tsx
  frontend/src/mail/components/UnreadMailBadge.tsx
  frontend/src/mail/queries.ts
  frontend/src/pages/SettingsPage.tsx
  src/commands/presence.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/CLAUDE.md
Due: getattr-literal, eslint, typescript, prettier

Cap parallel test workers by available memory, not core count (#3318)
  justfile
  src/cli/arx.py
  src/core_management/tests/test_arx_cli.py
Due: getattr-literal

Journal-target weekly votes have no UI: one of three declared vote targets is unreachable (#3307)
  docs/roadmap/journals.md
  frontend/src/journals/__tests__/JournalsPage.voteButton.test.tsx
  frontend/src/journals/components/JournalTab.tsx
  frontend/src/journals/pages/JournalsPage.tsx
Due: eslint, typescript, prettier

Wire the canon-review request loop + global-scope cap: request_canon_review has zero callers, so the #2003 queue is permanently empty (#3308)
  docs/roadmap/stories-gm.md
  docs/systems/stories.md
  frontend/src/generated/api.d.ts
  frontend/src/stories/__tests__/StaffWorkloadPage.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/PendingCanonReviewsPanel.tsx
  frontend/src/stories/components/clearanceShared.tsx
  frontend/src/stories/pages/StaffWorkloadPage.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
  src/commands/story.py
  src/commands/tests/test_canon_review_command.py
  src/schema.json
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/serializers.py
  src/world/stories/services/canon_review.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_canon_review.py
  src/world/stories/tests/test_views_story_assign.py
  src/world/stories/tests/test_views_story_impact.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

Emote through your companion: social RP surface for pets and familiars (#3309)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/companions.md
  docs/systems/scenes.md
  frontend/src/companions/api.ts
  frontend/src/companions/queries.ts
  frontend/src/companions/types.ts
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/CompanionSelector.tsx
  frontend/src/generated/api.d.ts
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/types.ts
  src/actions/definitions/companions.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_companion_emote_action.py
  src/commands/CLAUDE.md
  src/commands/companion.py
  src/commands/tests/test_companion_command.py
  src/schema.json
  src/world/companions/serializers.py
  src/world/companions/tests/test_e2e_bind_journey.py
  src/world/companions/views.py
  src/world/migrations/0163_interaction_attributed_companion.py
  src/world/migrations/max_migration.txt
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/types.py
  tools/check_partition_sql_drift.py
Due: getattr-literal, eslint, typescript, prettier

Format renumbered migration
  src/world/migrations/0164_journalbequestgrant_and_more.py
Due: getattr-literal

Stealth as a player verb: resolve_security_check(SNEAK) is built and tested with zero callers (#3301)
  docs/adr/0228-stealth-conceals-identity-never-presence.md
  docs/adr/README.md
  docs/roadmap/ROADMAP.md
  docs/roadmap/items-equipment.md
  docs/systems/INDEX.md
  frontend/src/game/components/FocusPanel.tsx
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/CharactersList.tsx
  frontend/src/game/components/room-panel/UnseenPresenceRow.tsx
  frontend/src/generated/api.d.ts
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/store/gameSlice.ts
  src/actions/definitions/stealth.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_stealth_actions.py
  src/commands/default_cmdsets.py
  src/commands/stealth.py
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
  src/schema.json
  src/typeclasses/characters.py
  src/world/checks/security_services.py
  src/world/conditions/AGENT_GLOSSARY.md
  src/world/npc_services/guard_services.py
  src/world/npc_services/tests/test_guard_detection.py
  src/world/player_submissions/serializers.py
  src/world/player_submissions/services.py
  src/world/player_submissions/tests/test_views.py
  src/world/player_submissions/views.py
  src/world/stealth/__init__.py
  src/world/stealth/services.py
Due: getattr-literal, eslint, typescript, prettier
