Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(magic): seed shared Technique Cast template + graded pool (#1306)
  src/integration_tests/game_content/magic.py
  src/world/magic/seeds_cast.py
  src/world/magic/tests/test_seeds_cast.py
Due: getattr-literal

feat(magic): create_technique defaults action_template to shared cast template
  src/world/magic/services/technique_builder.py
  src/world/magic/tests/test_technique_builder_service.py
Due: getattr-literal

docs(magic): fix inaccuracies in #1306 docs commit (174b39b7)
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/world/magic/CLAUDE.md
Due: none

docs(magic): standalone casting + per-character magic check (#1306)
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/world/magic/CLAUDE.md
Due: none

Apply effort modifier to technique-enhanced social actions (coordinate with #520) (#1305)
  docs/systems/scenes.md
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_fury_threading.py
Due: getattr-literal

Telnet block/mute commands (#1278) (#1312)
  src/commands/default_cmdsets.py
  src/commands/social/__init__.py
  src/commands/social/blocking.py
  src/commands/tests/test_blocking_commands.py
Due: getattr-literal

Verify/harden the full covenant induction UI round-trip (draft → accept → fire) (#1314)
  docs/systems/INDEX.md
  docs/systems/covenants.md
  frontend/src/generated/api.d.ts
  frontend/src/rituals/CLAUDE.md
  frontend/src/rituals/__tests__/RitualSessionPages.test.tsx
  frontend/src/rituals/components/RitualSessionResponseDialog.tsx
  frontend/src/rituals/pages/RitualSessionDetailPage.tsx
  frontend/src/rituals/types.ts
  src/schema.json
  src/world/magic/factories.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_session_views.py
Due: getattr-literal, eslint, typescript, prettier

Block/Mute React UI (#1278) (#1315)
  frontend/src/App.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  frontend/src/social/api.ts
  frontend/src/social/pages/BlocksSettingsPage.tsx
  frontend/src/social/pages/MutesSettingsPage.tsx
  frontend/src/social/queries.ts
  frontend/src/social/types.ts
Due: eslint, typescript, prettier

Synchronous reactive/defensive interpose within a single action resolution (sibling to #1228 multi-round catch) (#1319)
  docs/architecture/combat-resolution-loop.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/flows/trigger_handler.py
  src/schema.json
  src/world/combat/constants.py
  src/world/combat/defend_content.py
  src/world/combat/interpose_content.py
  src/world/combat/migrations/0018_alter_combatroundaction_maneuver.py
  src/world/combat/migrations/0019_alter_combatroundaction_maneuver.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_defend_stance.py
  src/world/combat/tests/test_interpose_binding.py
  src/world/combat/tests/test_interpose_content.py
  src/world/combat/tests/test_interpose_cost.py
  src/world/combat/tests/test_interpose_damage_path.py
  src/world/combat/tests/test_interpose_declare.py
  src/world/combat/tests/test_interpose_resolution.py
  src/world/combat/views.py
  src/world/conditions/services.py
  src/world/mechanics/reactions.py
  src/world/mechanics/tests/test_reactions.py
Due: getattr-literal, eslint, typescript, prettier

Cover-bio display: read bio from the presented persona's profile (#1270, slice 2)
  docs/systems/character_sheets.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal

Cover-bio display: read bio from the presented persona's profile (#1270, slice 2) (#1324)
  docs/systems/character_sheets.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal

Remove vestigial engagement_credited field from DefenderConsentFields (#1303)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  src/world/scenes/action_models.py
  src/world/scenes/action_services.py
  src/world/scenes/migrations/0032_remove_sceneactionrequest_engagement_credited_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/tests/test_action_models.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

Magic blocker: no technique is castable out of the box (CG-minted technique has no action_template) (#1323)
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/actions/services.py
  src/actions/tests/test_resolution_check_override.py
  src/integration_tests/game_content/magic.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/CLAUDE.md
  src/world/magic/seeds_cast.py
  src/world/magic/seeds_checks.py
  src/world/magic/services/__init__.py
  src/world/magic/services/anima.py
  src/world/magic/services/technique_builder.py
  src/world/magic/tests/test_character_cast_check.py
  src/world/magic/tests/test_seeds_cast.py
  src/world/magic/tests/test_technique_builder_service.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_per_character_check.py
Due: getattr-literal

Profile lineage slice: move family/heritage/tarot/origin to Profile (#1270 slice 3)
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  src/world/character_sheets/CLAUDE.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/migrations/0010_remove_charactersheet_family_and_more.py
  src/world/character_sheets/migrations/max_migration.txt
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
  src/world/character_sheets/tests/test_profile_slice.py
Due: getattr-literal

docs(audit): telnet-driveability & UI dispatch-parity audit (#1328)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
Due: none

Profile lineage slice: cover identities present their own family/heritage/tarot/origin (#1270 slice 3) (#1327)
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  src/world/character_sheets/CLAUDE.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/migrations/0010_remove_charactersheet_family_and_more.py
  src/world/character_sheets/migrations/max_migration.txt
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
  src/world/character_sheets/tests/test_profile_slice.py
Due: getattr-literal

docs(audit): telnet-driveability & UI dispatch-parity audit (#1328) (#1329)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
Due: none

feat(magic): add Technique.target_type cardinality field (#1321)
  src/world/magic/migrations/0048_technique_target_type.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/techniques.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

feat(conditions): add ConditionCategory.alters_behavior (#1321)
  src/world/conditions/migrations/0009_conditioncategory_alters_behavior.py
  src/world/conditions/migrations/max_migration.txt
  src/world/conditions/models.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

feat(magic): derive target relationship + behavior-consent predicate (#1321)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

refactor(magic): tidy targeting imports — drop dead TYPE_CHECKING, hoist test imports (#1321)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

feat(magic): validate_cast_target enforcement (#1321)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

refactor(magic): tidy _check_cardinality signature + len call (#1321)
  src/world/magic/services/targeting.py
Due: getattr-literal

Make ritual performance a real Action; route telnet+web through it (#1331)
  src/actions/definitions/ritual.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/ritual.py
  src/integration_tests/pipeline/test_ritual_telnet_e2e.py
  src/world/magic/actions.py
  src/world/magic/tests/test_ritual_dispatch.py
  src/world/magic/views.py
Due: getattr-literal

docs(magic): perform_ritual is now a real Action (telnet+web converge) (#1331)
  docs/architecture/covenants-slice-b-design.md
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
  src/world/magic/CLAUDE.md
Due: none

feat(magic): resolve_targets AoE/filtered-group expansion (#1321)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

fix(magic): AREA+SELF targets initiator definitionally; harden resolve_targets tests (#1321)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

Make ritual performance a real Action (telnet + web converge) + E2E (#1335)
  docs/architecture/covenants-slice-b-design.md
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/actions/CLAUDE.md
  src/actions/definitions/ritual.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/ritual.py
  src/integration_tests/pipeline/test_ritual_telnet_e2e.py
  src/world/magic/CLAUDE.md
  src/world/magic/actions.py
  src/world/magic/tests/test_ritual_dispatch.py
  src/world/magic/views.py
Due: getattr-literal

test(commands): strengthen DispatchCommand tests + union immediate-result guard (#1330 L0)
  src/commands/command.py
  src/commands/tests/test_dispatch_command.py
Due: getattr-literal

feat(commands): add CmdDeclareTechnique cast/declare over COMBAT dispatcher (#1330 L0)
  src/commands/combat.py
  src/commands/tests/test_combat_commands.py
Due: getattr-literal

feat(commands): add DispatchCommand base riding dispatch_player_action (#1330 L0)
  src/commands/command.py
  src/commands/tests/test_dispatch_command.py
Due: getattr-literal

fix(commands): gate all casts on active round, reject ambiguous targets, fix effort parsing (#1330 L0)
  src/commands/combat.py
  src/commands/tests/test_combat_commands.py
Due: getattr-literal

test(combat): telnet-driven cast E2E — cast -> resolve_round -> use_technique (#1330 L0)
  src/integration_tests/pipeline/test_combat_cast_telnet_e2e.py
Due: getattr-literal

feat(commands): register cast command in CharacterCmdSet (#1330 L0)
  src/commands/default_cmdsets.py
  src/commands/tests/test_combat_commands.py
Due: getattr-literal

test(combat): make anima deduction assertion non-vacuous + fix stale docstring (#1330 L0)
  src/integration_tests/pipeline/test_combat_cast_telnet_e2e.py
Due: getattr-literal

docs(#1330): document DispatchCommand seam + fix Action.run docstring + audit tick (L0)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/actions/base.py
  src/commands/CLAUDE.md
Due: getattr-literal

docs(#1330): correct cast-test filenames in telnet-driveability audit (L0)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
Due: none

refactor(magic,combat): shared apply_technique_conditions service (#1321)
  src/world/combat/services.py
  src/world/magic/services/condition_application.py
  src/world/magic/tests/test_condition_application.py
Due: getattr-literal

docs(audit): broad-pass telnet inventory + two deep-trace corrections
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
Due: none

docs(audit): broad-pass telnet inventory + deep-trace corrections (#1328) (#1354)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
Due: none
