Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

test(missions): sweep slug→pk across existing test suite
  src/world/missions/tests/test_api_access_tier_flip.py
  src/world/missions/tests/test_api_copy_actions.py
  src/world/missions/tests/test_api_editor_crud.py
  src/world/missions/tests/test_api_giver_library.py
  src/world/missions/tests/test_api_staff_power.py
  src/world/missions/tests/test_api_template_detail.py
  src/world/missions/tests/test_api_template_list.py
  src/world/missions/tests/test_models_category.py
  src/world/missions/tests/test_models_giver.py
  src/world/missions/tests/test_models_instance.py
  src/world/missions/tests/test_models_node.py
  src/world/missions/tests/test_models_reward_queue.py
  src/world/missions/tests/test_models_route.py
  src/world/missions/tests/test_models_route_consequence.py
  src/world/missions/tests/test_models_route_reward.py
  src/world/missions/tests/test_models_source_beat.py
  src/world/missions/tests/test_models_template.py
  src/world/missions/tests/test_models_template_reward_rule.py
  src/world/missions/tests/test_resolvers.py
  src/world/missions/tests/test_services_availability.py
  src/world/missions/tests/test_services_beat.py
  src/world/missions/tests/test_services_emit_terminal_rewards.py
  src/world/missions/tests/test_services_journal.py
  src/world/missions/tests/test_services_multiplayer.py
  src/world/missions/tests/test_services_resolution_advance.py
  src/world/missions/tests/test_services_resolution_beat.py
  src/world/missions/tests/test_services_resolution_enter.py
  src/world/missions/tests/test_services_resolution_options.py
  src/world/missions/tests/test_services_resolution_resolve.py
  src/world/missions/tests/test_services_run.py
Due: getattr-literal

test(missions): make test_detail_drafty_giver_not_publishable factory-explicit
  src/world/missions/tests/test_api_giver_library.py
Due: getattr-literal

test(missions): POST /api/missions/templates/ create endpoint
  src/world/missions/serializers.py
  src/world/missions/tests/test_api_template_create.py
Due: getattr-literal

fix(missions): PATCH rename collision returns 400 + partial-PATCH level-band fallback
  src/world/missions/serializers.py
  src/world/missions/tests/test_api_template_create.py
Due: getattr-literal

fix(missions): validate() proxy covers percent_replace too
  src/world/missions/serializers.py
  src/world/missions/tests/test_api_template_create.py
Due: getattr-literal

test(missions): MissionCategoryViewSet read-only browse endpoint
  src/world/missions/tests/test_api_categories_endpoint.py
Due: getattr-literal

refactor(missions/fe): types + api + queries swap slug→id
  frontend/src/missions/api.ts
  frontend/src/missions/queries.ts
  frontend/src/missions/types.ts
Due: eslint, typescript, prettier

fix(missions/fe): drop dead template_slug filter from listMissionNodes
  frontend/src/missions/api.ts
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

refactor(missions/fe): routes + pages + components sweep slug→id
  frontend/src/App.tsx
  frontend/src/missions/components/FlavorRewriteCard.tsx
  frontend/src/missions/components/MissionCanvas.tsx
  frontend/src/missions/components/MissionDetailPanel.tsx
  frontend/src/missions/components/StaffActionsCard.tsx
  frontend/src/missions/components/TemplateRuleSection.tsx
  frontend/src/missions/pages/GiverEditorPage.tsx
  frontend/src/missions/pages/GiverLibraryPage.tsx
  frontend/src/missions/pages/MissionBrowserPage.tsx
  frontend/src/missions/pages/MissionCanvasPage.tsx
  frontend/src/missions/pages/NodePage.tsx
  frontend/src/missions/pages/OptionPage.tsx
Due: eslint, typescript, prettier

chore(missions/fe): drop dead templateSlug prop on MissionCanvas
  frontend/src/missions/components/MissionCanvas.tsx
Due: eslint, typescript, prettier

fix(missions/fe): T9 code-review follow-ups
  frontend/src/missions/components/StaffActionsCard.tsx
  frontend/src/missions/pages/GiverEditorPage.tsx
  frontend/src/missions/pages/NodePage.tsx
  frontend/src/missions/pages/OptionPage.tsx
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

test(missions/fe): sweep existing tests for slug→id + browser button test
  frontend/src/missions/__tests__/GiverLibrary.test.tsx
  frontend/src/missions/__tests__/MissionBrowserPage.test.tsx
  frontend/src/missions/__tests__/StaffActions.test.tsx
  frontend/src/missions/__tests__/queries.test.tsx
Due: eslint, typescript, prettier

feat(missions/fe): CategoryMultiSelect picker component
  frontend/src/missions/__tests__/CategoryMultiSelect.test.tsx
  frontend/src/missions/components/CategoryMultiSelect.tsx
Due: eslint, typescript, prettier

fix(missions/fe): T11 code-review follow-ups
  frontend/src/missions/__tests__/CategoryMultiSelect.test.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/components/CategoryMultiSelect.tsx
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

feat(missions/fe): EditCategoriesDialog + wire into detail panel
  frontend/src/missions/components/EditCategoriesDialog.tsx
  frontend/src/missions/components/MissionDetailPanel.tsx
Due: eslint, typescript, prettier

fix(missions/fe): T12 minor polish
  frontend/src/missions/components/EditCategoriesDialog.tsx
  frontend/src/missions/components/MissionDetailPanel.tsx
Due: eslint, typescript, prettier

feat(missions/fe): CreateMissionPage at /staff/missions/new
  frontend/src/App.tsx
  frontend/src/missions/__tests__/CreateMissionPage.test.tsx
  frontend/src/missions/pages/CreateMissionPage.tsx
Due: eslint, typescript, prettier

fix(missions/fe): CreateMissionPage T13 code-review follow-ups
  frontend/src/missions/__tests__/CreateMissionPage.test.tsx
  frontend/src/missions/pages/CreateMissionPage.tsx
Due: eslint, typescript, prettier

test(stories): swap MissionTemplateFactory slug= for name= in beat-required-mission tests
  src/world/stories/tests/test_models_required_mission.py
Due: getattr-literal

fix(missions/fe): drop dead slug UI from GiverLibraryPage
  frontend/src/missions/__tests__/GiverLibrary.test.tsx
  frontend/src/missions/pages/GiverLibraryPage.tsx
Due: eslint, typescript, prettier

fix(missions): copy action rejects blank new_name
  src/world/missions/tests/test_api_copy_actions.py
  src/world/missions/views.py
Due: getattr-literal

fix(missions): migration 0006 dedupes duplicate giver names before unique
  src/world/missions/migrations/0006_missiongiver_name_unique.py
Due: getattr-literal

fix(missions): TOCTOU retry on serializer create + copy_template
  src/world/missions/serializers.py
  src/world/missions/services/copy.py
Due: getattr-literal

perf(missions): prefetch categories on MissionTemplateViewSet list
  src/world/missions/views.py
Due: getattr-literal

test(missions): copy_template carries source categories
  src/world/missions/tests/test_api_copy_actions.py
Due: getattr-literal

docs(missions): cross-reference validate() proxy from MissionTemplate.clean()
  src/world/missions/models.py
Due: getattr-literal

test(missions): fix test_copy_carries_source_categories isolation
  src/world/missions/tests/test_api_copy_actions.py
Due: getattr-literal

fix(missions/fe): inline error state for missing template / giver
  frontend/src/missions/pages/GiverEditorPage.tsx
  frontend/src/missions/pages/MissionCanvasPage.tsx
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

fix(missions/fe): CreateMissionPage flattens nested DRF errors
  frontend/src/missions/__tests__/CreateMissionPage.test.tsx
  frontend/src/missions/pages/CreateMissionPage.tsx
Due: eslint, typescript, prettier

fix(missions/fe): useMissionCategories drops throwOnError so isError works
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

chore(devcontainer): set git identity to ApostateCD on container create
  .devcontainer/post-create.sh
Due: none

fix(missions/fe): handle non-numeric URL :id on MissionCanvasPage + GiverEditorPage
  frontend/src/missions/__tests__/PageErrorCards.test.tsx
  frontend/src/missions/pages/GiverEditorPage.tsx
  frontend/src/missions/pages/MissionCanvasPage.tsx
Due: eslint, typescript, prettier

fix(missions): wrap serializer create() retry in savepoint
  src/world/missions/serializers.py
Due: getattr-literal

perf(missions/fe): prime templateDetail cache on create
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

fix(missions/fe): inline error on browser/giver-library list fetch failure
  frontend/src/missions/pages/GiverLibraryPage.tsx
  frontend/src/missions/pages/MissionBrowserPage.tsx
  frontend/src/missions/queries.ts
Due: eslint, typescript, prettier

fix(missions/fe): copyTemplate surfaces backend 400 body
  frontend/src/missions/api.ts
Due: eslint, typescript, prettier

test(missions): giver rename collision/free/own-name coverage
  src/world/missions/tests/test_api_giver_rename.py
Due: getattr-literal

chore(just): add dc-sync-memory recipe for host→container Claude memory sync
  justfile
Due: none

chore(devcontainer): read git identity from dev.env instead of hardcoding
  .devcontainer/post-create.sh
  .devcontainer/sync-env.sh
  docs/devcontainer-setup.md
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
