Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(cg): replace magic stage with cantrip selector
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/magic/AnimaRitualForm.tsx
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/components/magic/FacetSelection.tsx
  frontend/src/character-creation/components/magic/GiftDesigner.tsx
  frontend/src/character-creation/components/magic/ResonanceContextPanel.tsx
  frontend/src/character-creation/components/magic/TechniqueBuilder.tsx
  frontend/src/character-creation/components/magic/index.ts
Due: eslint, typescript, prettier

test(cg): update frontend tests for cantrip-based magic stage
  frontend/src/character-creation/__tests__/components/AnimaRitualForm.test.tsx
  frontend/src/character-creation/__tests__/components/GiftDesigner.test.tsx
  frontend/src/character-creation/__tests__/components/ResonanceContextPanel.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
Due: eslint, typescript, prettier

chore: clean up stale references from magic revamp
  docs/systems/character_creation.md
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/world/character_creation/CLAUDE.md
  src/world/magic/CLAUDE.md
Due: eslint, typescript, prettier

docs: update systems INDEX with missing systems and capability queries
  docs/systems/INDEX.md
Due: none

refactor: decouple service functions from FlowExecution
  src/flows/models/flows.py
  src/flows/service_functions/communication.py
  src/flows/service_functions/movement.py
  src/flows/service_functions/packages.py
  src/flows/service_functions/perception.py
  src/flows/tests/test_evil_tag_flow.py
  src/flows/tests/test_flow_execution.py
  src/flows/tests/test_message_location.py
  src/flows/tests/test_models/test_flow_steps.py
  src/flows/tests/test_movement.py
  src/flows/tests/test_room_state.py
Due: getattr-literal

feat: create Action layer with self-contained action definitions
  src/actions/__init__.py
  src/actions/apps.py
  src/actions/base.py
  src/actions/definitions/__init__.py
  src/actions/definitions/communication.py
  src/actions/definitions/movement.py
  src/actions/definitions/perception.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/__init__.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_base.py
  src/actions/types.py
  src/server/conf/settings.py
Due: getattr-literal

refactor: rewrite commands as thin telnet layer delegating to Actions
  src/commands/command.py
  src/commands/door.py
  src/commands/evennia_overrides/communication.py
  src/commands/evennia_overrides/exit_command.py
  src/commands/evennia_overrides/movement.py
  src/commands/evennia_overrides/perception.py
  src/commands/tests/test_command_payload.py
  src/commands/tests/test_command_serializer.py
  src/commands/tests/test_dispatchers.py
  src/commands/tests/test_handlers.py
  src/flows/service_functions/serializers/commands.py
Due: getattr-literal

chore: remove dead dispatcher/handler infrastructure
  src/commands/dispatchers.py
  src/commands/evennia_overrides/communication.py
  src/commands/handlers/AGENTS.md
  src/commands/handlers/__init__.py
  src/commands/handlers/base.py
Due: getattr-literal

docs: add post-effect system design
  docs/plans/2026-03-02-post-effect-system-design.md
Due: none

docs: add actions CLAUDE.md, update commands and systems index
  docs/systems/INDEX.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
Due: none

feat: add ActionEnhancement system with data-driven effects
  pyproject.toml
  src/actions/CLAUDE.md
  src/actions/base.py
  src/actions/constants.py
  src/actions/definitions/communication.py
  src/actions/definitions/movement.py
  src/actions/definitions/perception.py
  src/actions/effects.py
  src/actions/enhancements.py
  src/actions/migrations/0001_initial.py
  src/actions/migrations/__init__.py
  src/actions/models.py
  src/actions/tests/test_base.py
  src/actions/tests/test_enhancements.py
  src/actions/types.py
Due: getattr-literal

feat: add effect config models, remove effect_parameters JSONField
  src/actions/constants.py
  src/actions/effect_configs.py
  src/actions/migrations/0001_initial.py
  src/actions/models.py
Due: getattr-literal

refactor: convert effects.py to effects/ package
  src/actions/effects.py
  src/actions/effects/__init__.py
  src/actions/effects/base.py
  src/actions/effects/conditions.py
  src/actions/effects/kwargs.py
  src/actions/effects/modifiers.py
  src/actions/effects/registry.py
  src/actions/models.py
Due: getattr-literal

fix: restore config model imports for Django discovery, regenerate migration
  src/actions/migrations/0001_initial.py
  src/actions/models.py
Due: getattr-literal

docs: add post-effect system implementation plan
  docs/plans/2026-03-02-post-effect-system-implementation.md
Due: none

feat: implement apply_effects dispatch registry
  src/actions/effects/registry.py
  src/actions/tests/test_effects.py
Due: getattr-literal

chore: remove completed implementation plan artifacts
  docs/plans/2026-03-02-post-effect-system-design.md
  docs/plans/2026-03-02-post-effect-system-implementation.md
Due: none

feat: implement effect handlers for all three config types
  src/actions/effects/base.py
  src/actions/effects/conditions.py
  src/actions/effects/kwargs.py
  src/actions/effects/modifiers.py
  src/actions/tests/test_effects.py
Due: getattr-literal

fix: update scenario tests to use FK-backed config models
  src/actions/tests/test_enhancements.py
Due: getattr-literal

docs: update actions CLAUDE.md for FK-backed effect system
  src/actions/CLAUDE.md
Due: none

refactor: convert models.py to models/ package, absorb effect_configs
  src/actions/effects/conditions.py
  src/actions/effects/kwargs.py
  src/actions/effects/modifiers.py
  src/actions/effects/registry.py
  src/actions/models/__init__.py
  src/actions/models/effect_configs.py
  src/actions/models/enhancement.py
  src/actions/tests/test_effects.py
  src/actions/tests/test_enhancements.py
Due: getattr-literal

feat(magic): align cantrips with techniques via intensity/control stats
  docs/roadmap/ROADMAP.md
  docs/roadmap/achievements.md
  docs/roadmap/character-creation.md
  docs/roadmap/character-progression.md
  docs/roadmap/codex.md
  docs/roadmap/combat.md
  docs/roadmap/crafting-economy.md
  docs/roadmap/items-equipment.md
  docs/roadmap/journals.md
  docs/roadmap/magic.md
  docs/roadmap/missions.md
  docs/roadmap/ooc-social.md
  docs/roadmap/relationships.md
  docs/roadmap/rp-scenes.md
  docs/roadmap/societies.md
  docs/roadmap/stories-gm.md
  docs/roadmap/tooling.md
  docs/systems/magic.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/migrations/0004_add_intensity_control_and_cantrip_mechanics.py
  src/world/magic/models.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_models.py
  src/world/magic/tests/test_serializers.py
  src/world/magic/tests/test_technique.py
Due: getattr-literal, eslint, typescript, prettier

fix(magic): address code review findings from cantrip-technique alignment
  docs/roadmap/magic.md
  docs/systems/magic.md
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/tests/test_serializers.py
Due: getattr-literal

feat(magic): add source_cantrip FK to Technique for template traceability
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/admin.py
  src/world/magic/migrations/0005_add_source_cantrip_to_technique.py
  src/world/magic/models.py
  src/world/magic/serializers.py
Due: getattr-literal, eslint, typescript, prettier

feat(magic): align cantrips with techniques via intensity/control stats (#320)
  docs/roadmap/ROADMAP.md
  docs/roadmap/achievements.md
  docs/roadmap/character-creation.md
  docs/roadmap/character-progression.md
  docs/roadmap/codex.md
  docs/roadmap/combat.md
  docs/roadmap/crafting-economy.md
  docs/roadmap/items-equipment.md
  docs/roadmap/journals.md
  docs/roadmap/magic.md
  docs/roadmap/missions.md
  docs/roadmap/ooc-social.md
  docs/roadmap/relationships.md
  docs/roadmap/rp-scenes.md
  docs/roadmap/societies.md
  docs/roadmap/stories-gm.md
  docs/roadmap/tooling.md
  docs/systems/magic.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/migrations/0004_add_intensity_control_and_cantrip_mechanics.py
  src/world/magic/migrations/0005_add_source_cantrip_to_technique.py
  src/world/magic/models.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_models.py
  src/world/magic/tests/test_serializers.py
  src/world/magic/tests/test_technique.py
Due: getattr-literal, eslint, typescript, prettier

feat(obstacles): scaffold obstacles app with constants
  src/server/conf/settings.py
  src/world/obstacles/__init__.py
  src/world/obstacles/admin.py
  src/world/obstacles/apps.py
  src/world/obstacles/constants.py
  src/world/obstacles/factories.py
  src/world/obstacles/migrations/__init__.py
  src/world/obstacles/models.py
  src/world/obstacles/services.py
  src/world/obstacles/tests/__init__.py
  src/world/obstacles/types.py
Due: getattr-literal

feat(obstacles): add ObstacleProperty and BypassOption models
  src/world/obstacles/factories.py
  src/world/obstacles/migrations/0001_initial.py
  src/world/obstacles/models.py
  src/world/obstacles/tests/test_models.py
Due: getattr-literal

feat(obstacles): add bypass capability and check requirement models
  src/world/obstacles/factories.py
  src/world/obstacles/migrations/0002_bypasscheckrequirement_bypasscapabilityrequirement.py
  src/world/obstacles/models.py
  src/world/obstacles/tests/test_models.py
Due: getattr-literal

feat(obstacles): add ObstacleTemplate and ObstacleInstance models
  src/world/obstacles/factories.py
  src/world/obstacles/migrations/0003_obstacletemplate_obstacleinstance.py
  src/world/obstacles/models.py
  src/world/obstacles/tests/test_models.py
Due: getattr-literal

feat(obstacles): add character discovery and bypass record models
  src/world/obstacles/factories.py
  src/world/obstacles/migrations/0004_characterbypassrecord_characterbypassdiscovery.py
  src/world/obstacles/models.py
  src/world/obstacles/tests/test_models.py
Due: getattr-literal

feat(obstacles): add get_obstacles_for_object service
  src/world/obstacles/services.py
  src/world/obstacles/tests/test_services.py
Due: getattr-literal

feat(obstacles): add get_bypass_options_for_character service
  src/world/obstacles/services.py
  src/world/obstacles/tests/test_services.py
  src/world/obstacles/types.py
Due: getattr-literal

feat(obstacles): add attempt_bypass service with check integration
  src/world/obstacles/services.py
  src/world/obstacles/tests/test_services.py
  src/world/obstacles/types.py
Due: getattr-literal

feat(obstacles): integrate obstacle checking into TraverseExitAction
  src/actions/definitions/movement.py
  src/actions/tests/test_actions.py
Due: getattr-literal

feat(obstacles): add Django admin configuration
  src/world/obstacles/admin.py
Due: getattr-literal

chore(obstacles): squash migrations into single initial
  src/world/obstacles/migrations/0001_initial.py
  src/world/obstacles/migrations/0002_bypasscheckrequirement_bypasscapabilityrequirement.py
  src/world/obstacles/migrations/0003_obstacletemplate_obstacleinstance.py
  src/world/obstacles/migrations/0004_characterbypassrecord_characterbypassdiscovery.py
Due: getattr-literal

docs(obstacles): update systems index and design doc status
  docs/systems/INDEX.md
Due: none

Add obstacle system (#321)
  docs/systems/INDEX.md
  src/actions/definitions/movement.py
  src/actions/tests/test_actions.py
  src/server/conf/settings.py
  src/world/obstacles/__init__.py
  src/world/obstacles/admin.py
  src/world/obstacles/apps.py
  src/world/obstacles/constants.py
  src/world/obstacles/factories.py
  src/world/obstacles/migrations/0001_initial.py
  src/world/obstacles/migrations/__init__.py
  src/world/obstacles/models.py
  src/world/obstacles/services.py
  src/world/obstacles/tests/__init__.py
  src/world/obstacles/tests/test_models.py
  src/world/obstacles/tests/test_services.py
  src/world/obstacles/types.py
Due: getattr-literal
