Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(codex): add SubjectCard component
  frontend/src/codex/components/SubjectCard.tsx
Due: eslint, typescript, prettier

feat(codex): add CategoryCard component
  frontend/src/codex/components/CategoryCard.tsx
Due: eslint, typescript, prettier

feat(codex): add MasonryGrid component with responsive breakpoints
  frontend/src/codex/components/MasonryGrid.tsx
Due: eslint, typescript, prettier

feat(codex): add WelcomeSplash component with auth-aware text
  frontend/src/codex/components/WelcomeSplash.tsx
Due: eslint, typescript, prettier

feat(codex): add clickable Breadcrumb component
  frontend/src/codex/components/Breadcrumb.tsx
Due: eslint, typescript, prettier

feat(codex): add EntryGrid component with 3-column layout
  frontend/src/codex/components/EntryGrid.tsx
Due: eslint, typescript, prettier

feat(codex): add CodexContent state machine and EntryDetail component
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/components/EntryDetail.tsx
Due: eslint, typescript, prettier

feat(codex): refactor CodexPage and CodexTree for hierarchical navigation
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/pages/CodexPage.tsx
Due: eslint, typescript, prettier

chore(codex): export new components from index
  frontend/src/codex/index.ts
Due: eslint, typescript, prettier

fix: use cached tree data in CategoryView instead of separate API call
  frontend/src/codex/components/CodexContent.tsx
Due: eslint, typescript, prettier

refactor(codex): remove unused props and dead code
  frontend/src/codex/api.ts
  frontend/src/codex/components/CategoryCard.tsx
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/components/SubjectCard.tsx
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/codex/queries.ts
Due: eslint, typescript, prettier

Feature/codex navigation redesign (#259)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/codex/api.ts
  frontend/src/codex/components/Breadcrumb.tsx
  frontend/src/codex/components/CategoryCard.tsx
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/components/EntryGrid.tsx
  frontend/src/codex/components/MasonryGrid.tsx
  frontend/src/codex/components/SubjectCard.tsx
  frontend/src/codex/components/WelcomeSplash.tsx
  frontend/src/codex/index.ts
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/codex/queries.ts
Due: eslint, typescript, prettier

fix(codex): show welcome splash at home view instead of category cards
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/pages/CodexPage.tsx
Due: eslint, typescript, prettier

fix(codex): show welcome splash at home view instead of category cards (#260)
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/pages/CodexPage.tsx
Due: eslint, typescript, prettier

feat: add StatCard component for attributes grid redesign
  frontend/src/character-creation/components/StatCard.tsx
  frontend/src/character-creation/components/index.ts
Due: eslint, typescript, prettier

feat: add FreePointsWidget component for attributes grid redesign
  frontend/src/character-creation/components/FreePointsWidget.tsx
  frontend/src/character-creation/components/index.ts
Due: eslint, typescript, prettier

feat: add StatModal component for mobile tap-to-reveal
  frontend/src/character-creation/components/StatModal.tsx
  frontend/src/character-creation/components/index.ts
Due: eslint, typescript, prettier

refactor: update AttributesStage with grid layout and new components
  frontend/src/character-creation/components/AttributesStage.tsx
Due: eslint, typescript, prettier

refactor: remove unused description prop from StatCard
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/StatCard.tsx
Due: eslint, typescript, prettier

test: update AttributesStage tests for new grid layout
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
Due: eslint, typescript, prettier

fix: add fallback for undefined stat description
  frontend/src/character-creation/components/AttributesStage.tsx
Due: eslint, typescript, prettier

Feature/attributes grid redesign (#261)
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/FreePointsWidget.tsx
  frontend/src/character-creation/components/StatCard.tsx
  frontend/src/character-creation/components/StatModal.tsx
  frontend/src/character-creation/components/index.ts
Due: eslint, typescript, prettier

docs: add proactive quality checks section to CLAUDE.md
  CLAUDE.md
Due: none

docs: add proactive quality checks section to CLAUDE.md (#262)
  CLAUDE.md
Due: none

fix(magic-stage): remove vestigial aura distribution sliders
  frontend/src/character-creation/components/MagicStage.tsx
Due: eslint, typescript, prettier

fix(distinctions): remove duplicate DistinctionEffect records
  src/world/distinctions/migrations/0003_remove_duplicate_effects.py
Due: getattr-literal

fix(distinctions): update resonance names in effect descriptions
  src/world/distinctions/migrations/0004_fix_resonance_description_names.py
Due: getattr-literal

fix(distinctions): remove redundant Allure definition from effect description
  src/world/distinctions/migrations/0005_fix_attractive_allure_description.py
Due: getattr-literal

feat(codex): split content field into lore_content and mechanics_content
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/filters.py
  src/world/codex/migrations/0006_split_content_to_lore_and_mechanics.py
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_models.py
  src/world/codex/tests/test_views.py
Due: getattr-literal

feat(codex): add two-section IC/OOC layout for codex entries
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/CodexModal.tsx
  frontend/src/codex/components/ContentSections.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/types.ts
Due: eslint, typescript, prettier

feat(api): add codex_entry_id to distinction effect and resonance serializers
  src/world/codex/admin.py
  src/world/codex/migrations/0007_codexentry_modifier_type.py
  src/world/codex/models.py
  src/world/distinctions/serializers.py
  src/world/distinctions/tests/test_serializers.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_serializers.py
Due: getattr-literal

perf(api): prefetch codex_entry in views to avoid N+1 queries
  src/world/distinctions/views.py
  src/world/magic/views.py
Due: getattr-literal

perf(magic): prefetch codex_entry for CharacterGiftViewSet resonances
  src/world/magic/views.py
Due: getattr-literal

feat(cg): use CodexTerm for linkable distinction effects
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/types/distinctions.ts
  src/world/distinctions/serializers.py
Due: getattr-literal, eslint, typescript, prettier

fix(codex): stop click propagation in CodexTerm component
  frontend/src/codex/components/CodexTerm.tsx
Due: eslint, typescript, prettier

refactor: improve code clarity in codex components
  frontend/src/codex/components/CodexTerm.tsx
  frontend/src/codex/components/ContentSections.tsx
  src/world/codex/serializers.py
Due: getattr-literal, eslint, typescript, prettier

Feature/codex ic ooc split (#263)
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/CodexModal.tsx
  frontend/src/codex/components/CodexTerm.tsx
  frontend/src/codex/components/ContentSections.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/types.ts
  frontend/src/types/distinctions.ts
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/filters.py
  src/world/codex/migrations/0006_split_content_to_lore_and_mechanics.py
  src/world/codex/migrations/0007_codexentry_modifier_type.py
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_models.py
  src/world/codex/tests/test_views.py
  src/world/distinctions/migrations/0003_remove_duplicate_effects.py
  src/world/distinctions/migrations/0004_fix_resonance_description_names.py
  src/world/distinctions/migrations/0005_fix_attractive_allure_description.py
  src/world/distinctions/serializers.py
  src/world/distinctions/tests/test_serializers.py
  src/world/distinctions/views.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_serializers.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix audit findings: N+1 queries, TextChoices placement, unused dep
  CLAUDE.md
  pyproject.toml
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/codex/constants.py
  src/world/codex/models.py
  src/world/conditions/views.py
  src/world/distinctions/serializers.py
  src/world/distinctions/views.py
  src/world/magic/admin.py
  uv.lock
Due: getattr-literal

Address review feedback: Prefetch to_attr, typed helpers, SharedMemoryModel fix
  src/world/character_creation/models.py
  src/world/conditions/types.py
  src/world/conditions/views.py
  src/world/distinctions/serializers.py
  src/world/distinctions/views.py
Due: getattr-literal

Cleanup/audit fixes (#264)
  CLAUDE.md
  pyproject.toml
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/codex/constants.py
  src/world/codex/models.py
  src/world/conditions/types.py
  src/world/conditions/views.py
  src/world/distinctions/serializers.py
  src/world/distinctions/views.py
  src/world/magic/admin.py
  uv.lock
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
