Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Add per-tab browsing identity store and seed-only hydration (#3479 task 1)
  frontend/src/evennia_replacements/queries.test.tsx
  frontend/src/evennia_replacements/queries.tsx
  frontend/src/store/__tests__/browsingIdentity.test.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/browsingIdentity.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Scene page: one map, GM levers in the rail, idle panels folded during a fight (#3557)
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

Page test: drop the stale useCombatEncounter mock and assert the check-call prompt stays inline (#3557)
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

Extract narrate_privately from the dormant-vow whisper so reactive protections can reuse it (#3574)
  src/world/covenants/perks/services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_narrate_privately.py
Due: getattr-literal

Technique-guardian fizzle tells the guardian and the room instead of returning silently (#3574)
  src/world/combat/services.py
  src/world/combat/tests/test_guardian_reactions.py
Due: getattr-literal

Reaction-budget declines tell the guardian why, privately (#3574)
  src/world/combat/services.py
  src/world/combat/tests/test_reaction_economy.py
  src/world/combat/tests/test_sent_flying.py
Due: getattr-literal

Drop em-dashes reintroduced by docstring rewrap in #3574 fix
  src/world/combat/services.py
Due: getattr-literal

Standing wards say so when they cannot pay to answer a blow (#3574)
  src/world/magic/services/effect_handlers.py
  src/world/magic/tests/test_absorb_pool.py
Due: getattr-literal

Ward upkeep lapses tell the payer, the bearer and the room (#3574)
  src/world/combat/services.py
  src/world/combat/tests/test_reactive_upkeep.py
  src/world/magic/tests/test_ally_ward_costs.py
Due: getattr-literal

Docs: reactive protections narrate fizzles and lapses; ADR-0270 amends 0161 (#3574)
  docs/adr/0161-telegraphed-windups-downgrade-not-cancel-reaction-budget.md
  docs/adr/0270-declined-and-fizzled-reactions-always-narrate-to-the-actor.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/COMBAT_DEFENSES.md
  docs/systems/INDEX.md
  src/world/combat/AGENT_GLOSSARY.md
Due: none

Guard panel warns when the guardian cannot pay the next fire (#3574)
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
Due: eslint, typescript, prettier

Fix remaining em-dash caught by the diff-scan gate (#3574)
  src/world/covenants/tests/test_dormant_vow.py
Due: getattr-literal

Replace em-dash with hyphen in dormant-vow narration line (#3574)
  src/world/covenants/perks/services.py
  src/world/covenants/tests/test_dormant_vow.py
Due: getattr-literal

Test the post-declare Guard unaffordable-hint path (#3574)
  frontend/src/combat/__tests__/YourTurn.test.tsx
Due: eslint, typescript, prettier

Docs and ADR-0270 for the scene page combat layout (#3557)
  docs/adr/0270-scene-page-combat-layout-one-map-one-home-per-lever.md
  docs/adr/README.md
  docs/architecture/unified-combat-ui-design.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
Due: none

Add WITNESS reaction-window kind and WitnessReactionTarget sidecar (#2987)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/justice/models.py
  src/world/justice/tests/test_witness_reaction_kind.py
  src/world/migrations/0221_alter_reactionwindow_kind_witnessreactiontarget.py
  src/world/migrations/max_migration.txt
  src/world/scenes/constants.py
Due: getattr-literal

Add effective_owner_for_area: downward ownership fallback for areas (#696 gap 4)
  src/world/locations/services.py
  src/world/locations/tests/test_owner_service.py
Due: getattr-literal

House charter models join CONTENT_MODELS: SuccessionLaw, HoldingKind, HouseFeature, HouseTemplate (#2875)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  src/core_management/content_export.py
  src/core_management/prose_fields.py
  src/world/migrations/0221_holdingkind_reviewed_by_holdingkind_reviewed_on_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/houses/models.py
  src/world/societies/tests/test_house_charter_content.py
Due: getattr-literal

Add bound player media upload fields: quota, per-file cap, file size (#3164)
  docs/systems/INDEX.md
  docs/systems/roster.md
  src/.env.example
  src/evennia_extensions/admin.py
  src/evennia_extensions/factories.py
  src/evennia_extensions/models.py
  src/evennia_extensions/tests/test_models.py
  src/server/conf/settings.py
  src/world/migrations/0221_media_file_size_bytes_playerdata_media_quota_bytes.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Fix round 1 (#3479 task 1): gate the owned-and-stored branch on Redux state
  frontend/src/evennia_replacements/queries.test.tsx
  frontend/src/evennia_replacements/queries.tsx
Due: eslint, typescript, prettier

Retire PlayerData.max_storage/max_file_size: dead columns, superseded by #3164 quota fields
  frontend/src/roster/types.ts
  src/evennia_extensions/admin.py
  src/evennia_extensions/models.py
  src/world/migrations/0221_remove_playerdata_max_file_size_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Final review folds: place the #3557 roadmap note after the #2006 bullet, disambiguate ADR-0111, state the draft-loss caveat (#3557)
  docs/adr/0270-scene-page-combat-layout-one-map-one-home-per-lever.md
  docs/roadmap/combat.md
Due: none

Add CodexEntryFiling: cross-file a codex entry under a second subject
  docs/adr/0270-codex-entries-cross-filed-under-several-subjects.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/codex.md
  src/core_management/content_export.py
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/models.py
  src/world/codex/services.py
  src/world/codex/tests/test_entry_filings.py
  src/world/migrations/0221_codex_entry_filing.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Cover the opponent exclusion path of buildBystanders and state the fold caveat in the page comment (#3557)
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
Due: eslint, typescript, prettier

Extract report_witnessed_crime and add the WITNESS reaction kind (#2987)
  docs/systems/INDEX.md
  docs/systems/justice.md
  src/world/justice/apps.py
  src/world/justice/models.py
  src/world/justice/reaction_kinds.py
  src/world/justice/services.py
  src/world/justice/tests/test_witness_reaction_kind.py
  src/world/missions/integrations/crime_watch.py
Due: getattr-literal

Enforce per-file and quota checks in CloudinaryGalleryService.upload_image (#3164)
  docs/systems/INDEX.md
  docs/systems/roster.md
  src/world/roster/services/gallery_services.py
  src/world/roster/tests/test_cloudinary_services.py
Due: getattr-literal

Maturation milestones widen with age and stop at 75; starting under 21 costs one CG point (#3639)
  docs/adr/0172-age-axes-points-ride-biological-years-cosmetic-age-is-free.md
  docs/systems/INDEX.md
  frontend/src/character_sheets/components/MaturationPanel.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_maturation_api.py
  src/world/character_sheets/views.py
  src/world/progression/constants.py
  src/world/progression/services/maturation.py
  src/world/progression/tests/test_maturation.py
Due: getattr-literal, eslint, typescript, prettier

Declare LegendLevelCalibration as required content on the admin panel (#3642)
  src/web/admin/tests/test_required_content.py
  src/web/admin/tuning/required_content.py
Due: getattr-literal

Room art appears on the scene page banner and behind the tactical map (#3641)
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/areas/components/TacticalMap.test.tsx
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/CLAUDE.md
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/components/SceneTacticalMap.tsx
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  frontend/src/scenes/components/__tests__/ScenarioCard.test.tsx
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_scene_art_serializer.py
Due: getattr-literal, eslint, typescript, prettier

Technique and NPC-attack flavor never reaches the round narration, and the GM's condition note is stored but never shown (#3640)
  docs/adr/0270-authored-outcome-flavor-replaces-the-head-never-the-ledger.md
  docs/adr/README.md
  docs/architecture/combat-outcome-broadcast.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/conditions.md
  docs/systems/magic.md
  frontend/src/combat/components/ConditionBadge.tsx
  frontend/src/combat/components/__tests__/ConditionBadge.test.tsx
  frontend/src/combat/modals/ConditionDetailModal.tsx
  frontend/src/combat/modals/__tests__/DeepLinkModalHost.test.tsx
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
  src/core_management/prose_fields.py
  src/world/combat/admin.py
  src/world/combat/interaction_services.py
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/combat/tests/test_outcome_broadcast.py
  src/world/combat/tests/test_outcome_narration.py
  src/world/combat/tests/test_outcome_narration_fields.py
  src/world/magic/models/techniques.py
  src/world/magic/narration.py
  src/world/migrations/0221_technique_and_threat_entry_outcome_narration.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Encounter conclusion fires legend, consequences, and beat tiers silently: no player-facing aftermath digest (#3643)
  docs/architecture/combat-resolution-loop.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/components/AftermathDigest.tsx
  frontend/src/combat/components/CombatRail.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/EncounterOutcomeBanner.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
  src/schema.json
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/aftermath.py
  src/world/combat/constants.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_aftermath_digest.py
  src/world/combat/tests/test_encounter_aftermath.py
  src/world/combat/types.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

Boss phase, break bar, morale, held-back participants and the escalation curve are engine state nobody at the table can see or set (#3644)
  docs/architecture/combat-resolution-loop.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/generated/api.d.ts
  src/actions/definitions/gm_combat.py
  src/actions/tests/test_gm_combat_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/tests/test_encounter_command.py
  src/schema.json
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/constants.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_boss_phase.py
  src/world/combat/tests/test_escalation_curve_catalog.py
  src/world/combat/tests/test_held_back_line.py
  src/world/combat/tests/test_opponent_state_fields.py
  src/world/combat/tests/test_services.py
  src/world/combat/tests/test_views.py
  src/world/combat/urls.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix round 1 for #2896 Task 1: em-dashes in codex.md, ADR-0270 index entry
  docs/adr/README.md
  docs/systems/codex.md
Due: none

Seeder stops owning the house charter: crown/society become config prerequisites (#2875)
  docs/systems/INDEX.md
  docs/systems/houses.md
  src/core_management/content_export.py
  src/world/seeds/config_prerequisites.py
  src/world/seeds/houses.py
  src/world/societies/tests/test_house_charter_content.py
Due: getattr-literal

Fix round 1 for #2987 Task 2 review: em-dashes, room fallback, idempotent open
  docs/systems/INDEX.md
  docs/systems/justice.md
  src/world/justice/apps.py
  src/world/justice/reaction_kinds.py
  src/world/justice/services.py
  src/world/justice/tests/test_witness_reaction_kind.py
  src/world/missions/integrations/crime_watch.py
Due: getattr-literal

Fix round 1 for #2875 Task 2: no em-dashes in added text
  docs/systems/houses.md
  src/world/seeds/houses.py
  src/world/societies/tests/test_house_charter_content.py
Due: getattr-literal

Area elevation: an earned, player-declared level increase (#696 gap 3)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/areas.md
  src/actions/CLAUDE.md
  src/actions/definitions/areas.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/areas/AGENT_GLOSSARY.md
  src/world/areas/admin.py
  src/world/areas/elevation_services.py
  src/world/areas/models.py
  src/world/areas/seeds.py
  src/world/areas/tests/test_elevation.py
  src/world/migrations/0221_areaelevationrequirement.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

House charter round trip: export, wipe, load a full HouseTemplate (#2875 Task 3)
  docs/systems/INDEX.md
  docs/systems/houses.md
  src/world/societies/tests/test_house_charter_content.py
Due: getattr-literal

Open the WITNESS window from deed creation when public, crime-tagged, and interaction-anchored (#2987)
  docs/systems/INDEX.md
  docs/systems/justice.md
  src/world/societies/services.py
  src/world/societies/tests/test_scandal.py
Due: getattr-literal

Reactive protections fizzle and lapse silently when the payer can't afford them: no line to the guardian, the bearer, or the table (#3645)
  docs/adr/0161-telegraphed-windups-downgrade-not-cancel-reaction-budget.md
  docs/adr/0271-declined-and-fizzled-reactions-always-narrate-to-the-actor.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/COMBAT_DEFENSES.md
  docs/systems/INDEX.md
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/services.py
  src/world/combat/tests/test_guardian_reactions.py
  src/world/combat/tests/test_reaction_economy.py
  src/world/combat/tests/test_reactive_upkeep.py
  src/world/combat/tests/test_sent_flying.py
  src/world/covenants/perks/services.py
  src/world/covenants/tests/test_dormant_vow.py
  src/world/magic/services/effect_handlers.py
  src/world/magic/tests/test_absorb_pool.py
  src/world/magic/tests/test_ally_ward_costs.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_narrate_privately.py
Due: getattr-literal, eslint, typescript, prettier
