Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Hyphen, not an em-dash, in the track docstring (#3568)
  src/world/missions/tests/test_services_resolution_track.py
Due: getattr-literal

Scenario graph: track on the beat payloads; Studio fields for CONTEST and track nodes (#3568)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/missions/serializers.py
  src/world/missions/services/play.py
  src/world/missions/tests/test_api_editor_crud.py
  src/world/missions/tests/test_serializers.py
  src/world/missions/tests/test_track_presentation.py
  src/world/missions/types.py
Due: getattr-literal, eslint, typescript, prettier

Scenario graph: track pips on the beat cards; CONTEST and track fields in the Studio (#3568)
  frontend/src/components/__tests__/Pips.test.tsx
  frontend/src/components/ui/pips.tsx
  frontend/src/missions/__tests__/GroupBeatCard.test.tsx
  frontend/src/missions/__tests__/GroupBeatCard.track.test.tsx
  frontend/src/missions/__tests__/NodePage.test.tsx
  frontend/src/missions/__tests__/OptionPage.test.tsx
  frontend/src/missions/__tests__/StoryTray.test.tsx
  frontend/src/missions/__tests__/computeLayout.test.ts
  frontend/src/missions/components/BeatCard.tsx
  frontend/src/missions/components/GroupBeatCard.tsx
  frontend/src/missions/components/MissionCanvas.tsx
  frontend/src/missions/pages/NodePage.tsx
  frontend/src/missions/pages/OptionPage.tsx
Due: eslint, typescript, prettier

Scenario graph: docs, glossary, ADR-0265, MODEL_MAP (#3568)
  docs/adr/0265-the-scenario-graph-is-the-stage-engine.md
  docs/adr/README.md
  docs/architecture/mechanics-api.md
  docs/architecture/property-capability-action.md
  docs/roadmap/capabilities-and-challenges.md
  docs/roadmap/missions.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/missions/AGENT_GLOSSARY.md
Due: none

Scenario graph: opposition_sheet is PROTECT; failure-target and per-step consequence tests (#3568)
  src/world/migrations/0215_remove_situationchallengelink_depends_on_and_more.py
  src/world/missions/models.py
  src/world/missions/tests/test_models_contest_and_track.py
  src/world/missions/tests/test_services_resolution_track.py
Due: getattr-literal

Sonar: shared BeatTrack component, stable pip keys, split track validation (#3568)
  frontend/src/components/ui/pips.tsx
  frontend/src/missions/components/BeatCard.tsx
  frontend/src/missions/components/BeatTrack.tsx
  frontend/src/missions/components/GroupBeatCard.tsx
  frontend/src/missions/types.ts
  src/world/missions/models.py
Due: getattr-literal, eslint, typescript, prettier

Hyphen, not an em-dash, in the BeatTrack doc comment (#3568)
  frontend/src/missions/components/BeatTrack.tsx
Due: eslint, typescript, prettier

Views memoize per-request state as instance attributes with class-level None defaults; replace with explicit per-request context (#3610)
  .pre-commit-config.yaml
  CLAUDE.md
  django_notes.md
  docs/systems/INDEX.md
  docs/systems/codex.md
  docs/systems/covenants.md
  docs/systems/roster.md
  docs/systems/scenes.md
  src/evennia_extensions/models.py
  src/typeclasses/accounts.py
  src/typeclasses/tests/test_account_caches.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/codex/models.py
  src/world/codex/tests/test_container_visibility.py
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
  src/world/covenants/models.py
  src/world/covenants/serializers.py
  src/world/covenants/tests/test_engagement_views.py
  src/world/covenants/tests/test_exit_views.py
  src/world/covenants/tests/test_standing_treasury_serializers.py
  src/world/covenants/tests/test_views.py
  src/world/covenants/views.py
  src/world/scenes/interaction_permissions.py
  src/world/scenes/models.py
  src/world/scenes/place_views.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/tests/test_place_views.py
  tools/lint_view_memo.py
  tools/noqa_ratchet_baseline.txt
  tools/tests/test_lint_view_memo.py
Due: getattr-literal

Evennia errors reach Sentry; production game logs move to /var/log/arxii (#3599) (#3612)
  docs/operations/observability-baseline.md
  docs/operations/ops-access.md
  docs/operations/sentry-triage.md
  infra/README.md
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/secrets_vault/templates/arxii.env.j2
  infra/scripts/acceptance.sh
  src/evennia_extensions/observability/log_bridge.py
  src/evennia_extensions/observability/log_paths.py
  src/evennia_extensions/observability/sentry_twisted.py
  src/evennia_extensions/observability/tests/test_log_bridge.py
  src/evennia_extensions/observability/tests/test_log_paths.py
  src/evennia_extensions/observability/tests/test_sentry_twisted.py
  src/server/CLAUDE.md
  src/server/README.md
  src/server/conf/settings.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Fix six findings #3609 did not actually clear (#3611)
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/scenes/components/ActionResult.tsx
  frontend/src/submissions/pages/PetitionPage.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  sonar-rules.yaml
Due: eslint, typescript, prettier

No committed MFA key literal: CI and hooks mint a throwaway key, the check refuses the all-zero one (#3591)
  .github/workflows/ci.yml
  .gitleaks.toml
  docs/adr/0267-mfa-secrets-encrypted-under-a-dedicated-vault-key.md
  src/evennia_extensions/CLAUDE.md
  src/evennia_extensions/checks.py
  src/evennia_extensions/tests/test_mfa_adapter.py
  tools/check_migrations.py
  tools/check_partition_sql_drift.py
Due: getattr-literal

Merge fix: the noqa ratchet baseline is 120, one per side of the merge
  tools/noqa_ratchet_baseline.txt
Due: none

Reproduce the CG stepper reporting finished stages as incomplete
  src/world/character_creation/tests/test_stage_completion_freshness.py
Due: getattr-literal

Stop caching stage validation on the idmapper-shared draft instance
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

just pull-prod works from the devcontainer, and can only ever drop a local database
  .devcontainer/init-firewall.sh
  infra/scripts/pull_prod_db.sh
Due: none

Document the locality gate and the devcontainer firewall entry pull-prod needs
  infra/README.md
Due: none

Allowlist the Linode endpoint as a rotating pool, not a one-shot dig
  .devcontainer/init-firewall.sh
Due: none

The documented pull-prod invocation never worked
  docs/operations/observability-baseline.md
  infra/README.md
  infra/scripts/acceptance.sh
  justfile
Due: none

Drop the lazy technique-options memo off the CG ViewSet
  src/world/character_creation/views.py
Due: getattr-literal

Admin template comments render as page text: {# #} is single-line only
  .pre-commit-config.yaml
  src/web/admin/tests/test_admin_template_comments.py
  src/web/templates/admin/forms/formtraitoption/change_list.html
  src/web/templates/admin/index.html
  src/web/templates/admin/tuning/_economy_panel.html
  tools/lint_template_comment.py
  tools/tests/test_lint_template_comment.py
Due: getattr-literal

Resolved rows ride validated_data, not the serializer instance
  src/world/npc_services/serializers.py
  src/world/npc_services/views.py
  src/world/progression/serializers/__init__.py
  src/world/progression/views.py
Due: getattr-literal

Battle's current round travels in the serializer context, not on self
  src/world/battles/serializers.py
  src/world/battles/views.py
Due: getattr-literal

Serializers stop caching per-request state on themselves
  src/world/forms/serializers.py
  src/world/forms/views.py
  src/world/magic/serializers.py
Due: getattr-literal

Admin template comments render as page text: Django's {# #} is single-line only (#3624)
  .pre-commit-config.yaml
  src/web/admin/tests/test_admin_template_comments.py
  src/web/templates/admin/forms/formtraitoption/change_list.html
  src/web/templates/admin/index.html
  src/web/templates/admin/tuning/_economy_panel.html
  tools/lint_template_comment.py
  tools/tests/test_lint_template_comment.py
Due: getattr-literal

Teach the view-memo linter the lazy spelling
  .pre-commit-config.yaml
  CLAUDE.md
  django_notes.md
  docs/adr/0260-request-user-is-the-account-typeclass.md
  tools/lint_view_memo.py
  tools/tests/test_lint_view_memo.py
Due: getattr-literal

Character creation stage badges stop reporting finished stages as incomplete (#3622)
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/tests/test_stage_completion_freshness.py
  src/world/character_creation/views.py
Due: getattr-literal

just pull-prod works from the devcontainer, and can only ever drop a local database (#3623)
  .devcontainer/init-firewall.sh
  docs/operations/observability-baseline.md
  infra/README.md
  infra/scripts/acceptance.sh
  infra/scripts/pull_prod_db.sh
  justfile
Due: none

Keep implementation notes out of the published API description
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/battles/serializers.py
  src/world/forms/serializers.py
Due: getattr-literal, eslint, typescript, prettier

Seed the row-export corpus through the authoring path, not the addition gate's bypass
  src/web/admin/tests/test_content_row_export_views.py
Due: getattr-literal

Seed the row-export corpus through the authoring path, not the addition gate's bypass (#3626)
  src/web/admin/tests/test_content_row_export_views.py
Due: getattr-literal

Kill per-request state on views and serializers, and teach the linter to keep it dead (#3625)
  .pre-commit-config.yaml
  CLAUDE.md
  django_notes.md
  docs/adr/0260-request-user-is-the-account-typeclass.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/battles/serializers.py
  src/world/battles/views.py
  src/world/forms/serializers.py
  src/world/forms/views.py
  src/world/magic/serializers.py
  src/world/npc_services/serializers.py
  src/world/npc_services/views.py
  src/world/progression/serializers/__init__.py
  src/world/progression/views.py
  tools/lint_view_memo.py
  tools/tests/test_lint_view_memo.py
Due: getattr-literal, eslint, typescript, prettier

CG folio: the interview shell, contents rail and page-turn replace the stepper and footer (#3540)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/folio/ContentsRail.tsx
  frontend/src/character-creation/folio/PageTurn.tsx
  frontend/src/character-creation/folio/index.ts
  frontend/src/components/Layout.tsx
  frontend/src/index.css
Due: eslint, typescript, prettier

CG folio: the arrival plate is the first night moment (#3540)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/folio/NightPlate.tsx
  frontend/src/character-creation/folio/index.ts
Due: eslint, typescript, prettier

CG folio: mark the restart copy as placeholder (#3540)
  frontend/src/character-creation/CharacterCreationPage.tsx
Due: eslint, typescript, prettier

CG folio: Chapter the First is one question and six entries; the realm enters on choose (#3540)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/components/OriginStage.tsx
Due: eslint, typescript, prettier

CG folio: chapter leaf, record rail, entries, instrument frame and confirm primitives (#3540)
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/folio/ChapterLeaf.tsx
  frontend/src/character-creation/folio/ConfirmDialog.tsx
  frontend/src/character-creation/folio/Entry.tsx
  frontend/src/character-creation/folio/InstrumentFrame.tsx
  frontend/src/character-creation/folio/RecordRail.tsx
  frontend/src/character-creation/folio/index.ts
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
