Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Require every pull request to close a tracked issue (#3894)
  .github/workflows/spec-evidence.yml
  tools/skills/README.md
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/scripts/enqueue-pr.sh
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
  tools/skills/issue-to-merged-pr/templates/pr-body.md
  tools/tests/test_open_pr_body.py
  tools/tests/test_validate_review_evidence.py
  tools/validate_review_evidence.py
Due: getattr-literal

Sheet payload: the plate's looks, its ink, and a per-character thread filter
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/types.py
  src/world/magic/filters.py
  src/world/migrations/0142_reference_sheet_plate.py
  src/world/migrations/max_migration.txt
  src/world/roster/models/settings.py
Due: getattr-literal

The character sheet becomes the Reference Sheet
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/AbilitiesBand.tsx
  frontend/src/character_sheets/components/sheet/CastRow.tsx
  frontend/src/character_sheets/components/sheet/GuidelinesBand.tsx
  frontend/src/character_sheets/components/sheet/LooksStrip.tsx
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/character_sheets/components/sheet/SectionRow.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/character_sheets/components/sheet/primitives.tsx
  frontend/src/character_sheets/sheet.css
  frontend/src/magic/api.ts
  frontend/src/magic/queries.ts
  frontend/src/roster/api.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/roster/queries.ts
Due: eslint, typescript, prettier

Tests for the Reference Sheet's gating, looks and query cost
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal, eslint, typescript, prettier

Fixes from looking at the rendered sheet
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/character_sheets/sheet.css
Due: eslint, typescript, prettier

Retire the sheet's portrait and gallery list, and move Friends to the account
  frontend/src/App.tsx
  frontend/src/character_sheets/components/sheet/LooksStrip.tsx
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/components/character/CharacterPortrait.tsx
  frontend/src/components/character/GalleriesSection.tsx
  frontend/src/components/character/index.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

Docs for the Reference Sheet
  docs/roadmap/ROADMAP.md
  docs/roadmap/character-progression.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  src/world/character_sheets/AGENT_GLOSSARY.md
Due: none

Fix three defects the demo-fidelity review found
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/distinctions/components/DistinctionsTab.test.tsx
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
Due: getattr-literal, eslint, typescript, prettier

Worn pieces ride the sheet, and the gift names what it resonates with
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/sheet.css
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
Due: getattr-literal, eslint, typescript, prettier

Re-skin the six composed panels, and give Ties its mentors
  frontend/src/achievements/components/TitlesPanel.tsx
  frontend/src/achievements/components/__tests__/TitlesPanel.test.tsx
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/LanguagesSection.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/character_sheets/components/sheet/primitives.tsx
  frontend/src/character_sheets/sheet.css
  frontend/src/clues/components/CluesTab.tsx
  frontend/src/clues/components/__tests__/CluesTab.test.tsx
  frontend/src/components/character/RelationshipsSection.tsx
  frontend/src/components/character/__tests__/RelationshipsSection.test.tsx
  frontend/src/distinctions/components/DistinctionsTab.test.tsx
  frontend/src/distinctions/components/DistinctionsTab.tsx
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  frontend/src/kinship/components/KinshipPanel.tsx
  frontend/src/magic/__tests__/SoulTetherStatusPanel.test.tsx
  frontend/src/magic/components/SoulTetherStatusPanel.tsx
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/SpellbookTab.tsx
  frontend/src/relationships/components/ForeignRelationshipTimeline.tsx
  frontend/src/relationships/components/OwnRelationshipsList.tsx
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/secrets/__tests__/GossipPanel.test.tsx
  frontend/src/secrets/__tests__/SecretsTab.test.tsx
  frontend/src/secrets/components/GossipPanel.tsx
  frontend/src/secrets/components/SecretsTab.tsx
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
Due: getattr-literal, eslint, typescript, prettier

Docs for the re-skin, the worn payload and the mentors block
  docs/roadmap/ROADMAP.md
  docs/systems/character_sheets.md
  src/world/character_sheets/AGENT_GLOSSARY.md
Due: none

Carry the plate ink onto the page, where its tokens are declared
  frontend/src/progression/components/advancement/XpLedgerCard.test.tsx
  frontend/src/progression/components/advancement/XpLedgerCard.tsx
  frontend/src/renown/components/PersonaSelectionShell.tsx
  frontend/src/renown/components/RenownCardPanel.test.tsx
  frontend/src/renown/components/RenownPanel.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

Draw the aura as a strip, and stop promising what the sheet does not do
  docs/roadmap/ROADMAP.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/character_sheets/sheet.css
  frontend/src/magic/components/MotifStylePanel.tsx
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/SpellbookTab.tsx
  frontend/src/magic/components/TechniqueProgressPanel.tsx
Due: eslint, typescript, prettier

Magic splits into a rail, Carried fills in, and a rank stops being a number
  docs/roadmap/ROADMAP.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/components/MaturationPanel.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/distinctions/components/DistinctionsTab.test.tsx
  frontend/src/distinctions/components/DistinctionsTab.tsx
  frontend/src/magic/components/SpellbookTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

Rank comes back, the anima ritual appears, and Covenant gets its own block
  docs/roadmap/ROADMAP.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/distinctions/components/DistinctionsTab.test.tsx
  frontend/src/distinctions/components/DistinctionsTab.tsx
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/SpellbookTab.tsx
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/worship/__tests__/WorshipSection.test.tsx
  frontend/src/worship/components/WorshipSection.tsx
Due: eslint, typescript, prettier

Fold in the last of it: two panels re-skinned, Ties in the demo's order
  docs/roadmap/ROADMAP.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/components/MaturationPanel.tsx
  frontend/src/character_sheets/components/StatPointPanel.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
Due: eslint, typescript, prettier

Review evidence for the Reference Sheet
  docs/reviews/3898/ink-verdigris.png
  docs/reviews/3898/owner-distinctions.png
  docs/reviews/3898/owner-growth.png
  docs/reviews/3898/owner-holdings.png
  docs/reviews/3898/owner-knowledge.png
  docs/reviews/3898/owner-magic.png
  docs/reviews/3898/owner-physical.png
  docs/reviews/3898/owner-sheet-phone.png
  docs/reviews/3898/owner-sheet.png
  docs/reviews/3898/owner-ties.png
  docs/reviews/3898/review-evidence.md
  docs/reviews/3898/stranger-physical.png
  docs/reviews/3898/stranger-sheet.png
  docs/reviews/3898/stranger-ties.png
Due: none

Take the review evidence back out of the tree
  docs/reviews/3898/ink-verdigris.png
  docs/reviews/3898/owner-distinctions.png
  docs/reviews/3898/owner-growth.png
  docs/reviews/3898/owner-holdings.png
  docs/reviews/3898/owner-knowledge.png
  docs/reviews/3898/owner-magic.png
  docs/reviews/3898/owner-physical.png
  docs/reviews/3898/owner-sheet-phone.png
  docs/reviews/3898/owner-sheet.png
  docs/reviews/3898/owner-ties.png
  docs/reviews/3898/review-evidence.md
  docs/reviews/3898/stranger-physical.png
  docs/reviews/3898/stranger-sheet.png
  docs/reviews/3898/stranger-ties.png
Due: none

Block/Mute does not gate tagging: a blocked or muted player can still be targeted in scene interactions (#3896)
  docs/adr/0204-account-first-block-mute-extends-1278.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scene-interaction-threads.md
  docs/systems/scenes.md
  src/world/scenes/CLAUDE.md
  src/world/scenes/block_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_target_reachability.py
Due: getattr-literal

test: cover companion order round changes
  src/world/combat/tests/test_companion_orders_cache.py
Due: getattr-literal

Holdings becomes Estate, and its dead domains line becomes a real read
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/SectionRow.tsx
  frontend/src/character_sheets/components/sheet/__tests__/EstateDomains.test.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/locations/components/LocationsTab.test.tsx
  frontend/src/locations/components/LocationsTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/locations/services.py
  src/world/locations/tests/test_permissions.py
  src/world/ships/views.py
Due: getattr-literal, eslint, typescript, prettier

Audit to_attr= for the plain-property-defeats-prefetch bug; reconsider CachedRowsHandler consumers; caching/querying skill (#3897)
  .pre-commit-config.yaml
  docs/systems/character_creation.md
  docs/systems/magic.md
  docs/systems/scenes.md
  src/evennia_extensions/CACHED_PROPERTY_STANDARD.md
  src/evennia_extensions/handlers.py
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_companion_orders_cache.py
  src/world/combat/views.py
  src/world/companions/handlers.py
  tools/lint_noqa_ratchet.py
  tools/lint_prefetch_string.py
  tools/lint_prefetch_to_attr.py
  tools/noqa_ratchet_baseline.txt
  tools/skills/sharedmemory-model/SKILL.md
Due: getattr-literal

Join the domains read, and make the ships queryset match its docstring
  docs/systems/INDEX.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/ships/views.py
Due: getattr-literal

Review evidence for the Estate rename and the domains read
  docs/reviews/3901/owner-estate-phone.png
  docs/reviews/3901/owner-estate.png
  docs/reviews/3901/owner-physical.png
  docs/reviews/3901/review-evidence.md
Due: none

Take the review evidence back out of the tree
  docs/reviews/3901/owner-estate-phone.png
  docs/reviews/3901/owner-estate.png
  docs/reviews/3901/owner-physical.png
  docs/reviews/3901/review-evidence.md
Due: none

The sheet's Holdings section becomes Estate, and its domains line becomes real (#3907)
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/PhysicalPanel.tsx
  frontend/src/character_sheets/components/sheet/SectionRow.tsx
  frontend/src/character_sheets/components/sheet/__tests__/EstateDomains.test.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/locations/components/LocationsTab.test.tsx
  frontend/src/locations/components/LocationsTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/locations/services.py
  src/world/locations/tests/test_permissions.py
  src/world/ships/views.py
Due: getattr-literal, eslint, typescript, prettier

Standing and covenants ride the sheet, so a friend can actually see them
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/migrations/0143_standing_visibility.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Ties reads standing and covenants off the sheet payload
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/__tests__/TiesPanel.test.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

Docs: Ties visibility ruled, and the three open calls have issues now
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/character_sheets.md
Due: none

Standing and Covenant vanish when empty rather than claiming nobody
  frontend/src/character_sheets/components/sheet/__tests__/TiesPanel.test.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
Due: eslint, typescript, prettier

Docs: why the standing rail vanishes rather than speaking when empty
  docs/systems/character_sheets.md
Due: none

Review evidence for the Ties visibility rulings
  docs/reviews/3906/friend-ties-phone.png
  docs/reviews/3906/friend-ties.png
  docs/reviews/3906/owner-ties.png
  docs/reviews/3906/report.md
  docs/reviews/3906/stranger-ties.png
Due: none

Move the review evidence out of the branch tip and into the PR comment
  docs/reviews/3906/friend-ties-phone.png
  docs/reviews/3906/friend-ties.png
  docs/reviews/3906/owner-ties.png
  docs/reviews/3906/report.md
  docs/reviews/3906/stranger-ties.png
Due: none

Sort the imports and reflow the lines my rebase resolution left crooked
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
Due: getattr-literal

Allow backup guardians to answer interpose reactions
  src/world/combat/services.py
  src/world/combat/tests/test_reaction_economy.py
Due: getattr-literal

fix: recover locationless game sessions (#3742)
  frontend/e2e/feed-notes.spec.ts
  frontend/e2e/feed-wrap.spec.ts
  frontend/e2e/game-entry.spec.ts
  frontend/e2e/narrative-play-delivery.spec.ts
  frontend/e2e/selected-character-chip.spec.ts
  frontend/e2e/support/gameHarness.ts
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.selection.test.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/RoomPanel.test.tsx
  frontend/src/game/components/RoomPanel.tsx
Due: eslint, typescript, prettier

Add read-only production traceback scanner
  docs/adr/0304-read-only-production-traceback-scan.md
  docs/operations/ops-access.md
  infra/scripts/scan_prod_logs.py
  justfile
  pyproject.toml
  tools/tests/test_scan_prod_logs.py
Due: getattr-literal

fix(combat): scale prepared encounters for intended party
  frontend/src/combat/api.ts
  src/actions/definitions/gm_story.py
  src/actions/tests/test_gm_story_run_beat.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
  src/world/missions/services/encounter_option.py
  src/world/missions/tests/test_encounter_option.py
Due: getattr-literal, eslint, typescript, prettier

Ties visibility: Covenant is public, Standing is friends-by-default (#3908)
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/__tests__/TiesPanel.test.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/migrations/0143_standing_visibility.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
