Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Fix round 1: wire area elevation seeding, drop em-dashes (#696 gap 3)
  src/actions/definitions/areas.py
  src/world/areas/elevation_services.py
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

Validate player media uploads through MediaUploadSerializer (#3164)
  docs/systems/INDEX.md
  docs/systems/roster.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/media.py
  src/world/roster/tests/test_viewset.py
  src/world/roster/views/media_views.py
Due: getattr-literal, eslint, typescript, prettier

Codex subject listings include filed entries; entry serializer exposes also_filed_under (#2896 Task 2)
  docs/systems/codex.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/codex/filters.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_entry_filings.py
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix round 1 for #2987 Task 3: thread the Interaction from combat aftermath into the WITNESS deed call
  src/world/checks/tests/test_legend_award_handler.py
  src/world/checks/types.py
  src/world/combat/services.py
  src/world/mechanics/effect_handlers.py
  src/world/scenes/action_services.py
Due: getattr-literal

Task 2 (#3479) part 1: useBrowsingIdentity hook + Hall/Tidings/Wardrobe/Magic
  frontend/src/home/hall/CharactersBand.tsx
  frontend/src/home/hall/OffscreenActsPlate.tsx
  frontend/src/home/hall/WorldBand.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/home/hall/__tests__/OffscreenActsPlate.test.tsx
  frontend/src/home/hall/__tests__/WorldBand.test.tsx
  frontend/src/inventory/pages/WardrobePage.tsx
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/magic/pages/MagicProgressionPage.tsx
  frontend/src/magic/pages/ThreadHubPage.tsx
  frontend/src/roster/__tests__/useBrowsingIdentity.test.tsx
  frontend/src/roster/useBrowsingIdentity.ts
  frontend/src/tidings/pages/TidingsPage.tsx
Due: eslint, typescript, prettier

Task 2 (#3479) part 2: remaining ambient pages onto useBrowsingIdentity
  frontend/src/conditions/components/TreatActionPanel.test.tsx
  frontend/src/conditions/components/TreatActionPanel.tsx
  frontend/src/fashion/FashionPresentationPanel.tsx
  frontend/src/fashion/__tests__/FashionPresentationPanel.test.tsx
  frontend/src/gm-adjudication/__tests__/useActiveCharacterId.test.tsx
  frontend/src/gm-adjudication/useActiveCharacterId.ts
  frontend/src/goals/components/GoalsPanel.test.tsx
  frontend/src/goals/components/GoalsPanel.tsx
  frontend/src/market/MarketPage.tsx
  frontend/src/narrative/components/UnreadNarrativeBadge.test.tsx
  frontend/src/narrative/components/UnreadNarrativeBadge.tsx
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/story-builder/pages/StoryBuilderPage.tsx
  frontend/src/world-builder/useWorldBuilderActor.ts
Due: eslint, typescript, prettier

Fix round 2 for #2987 Task 3: correct docs to name the actual gap
  docs/systems/INDEX.md
  docs/systems/justice.md
Due: none

Final fix wave for #2875: charter admins, SuccessionLaw.description, choices, type hints
  docs/systems/INDEX.md
  docs/systems/houses.md
  src/world/migrations/0221_holdingkind_reviewed_by_holdingkind_reviewed_on_and_more.py
  src/world/seeds/config_prerequisites.py
  src/world/seeds/houses.py
  src/world/societies/admin.py
  src/world/societies/houses/models.py
Due: getattr-literal

Codex browser shows an entry's secondary filings (#2896 Task 3)
  docs/systems/codex.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/codex/__tests__/CodexModal.test.tsx
  frontend/src/codex/__tests__/EntryDetail.test.tsx
  frontend/src/codex/__tests__/EntryGrid.test.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/Breadcrumb.tsx
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/components/EntryGrid.tsx
  frontend/src/codex/types.ts
  frontend/src/home/__tests__/GatefoldPage.test.tsx
  frontend/src/home/__tests__/queries.test.ts
Due: eslint, typescript, prettier

Round-trip test uses real IncomeStreamKind members for HoldingKind.stream_kind (#2875)
  src/world/societies/tests/test_house_charter_content.py
Due: getattr-literal

Domain defenses and the garrison seam: predation now reads effective defenses (#696 gap 5)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  docs/systems/predators.md
  src/actions/CLAUDE.md
  src/actions/definitions/domains.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_domains.py
  src/world/migrations/0222_domain_defenses_domaingarrisonpost.py
  src/world/migrations/max_migration.txt
  src/world/predators/constants.py
  src/world/predators/services.py
  src/world/predators/tests/test_services.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_garrison.py
Due: getattr-literal

Fix message leakage and silent frontend error swallowing in media uploads (#3164)
  docs/systems/roster.md
  frontend/src/generated/api.d.ts
  frontend/src/roster/__tests__/api.upload.test.ts
  frontend/src/roster/api.ts
  src/schema.json
  src/world/roster/serializers/media.py
  src/world/roster/services/gallery_services.py
  src/world/roster/tests/test_cloudinary_services.py
  src/world/roster/tests/test_viewset.py
Due: getattr-literal, eslint, typescript, prettier

Devcontainer resource limits + throwaway-DB Postgres tuning to stop host crash-lockups
  .devcontainer/docker-compose.yml
  docs/devcontainer-setup.md
Due: none

Rework as machine-local compose override; shared compose stays untouched
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/sync-env.sh
  .gitignore
  docs/devcontainer-setup.md
Due: none

Renumber ADR-0270 to ADR-0272: main took 0270/0271 while this branch was in flight (#2896)
  docs/adr/0272-codex-entries-cross-filed-under-several-subjects.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/codex.md
  frontend/src/codex/components/EntryGrid.tsx
  src/world/codex/models.py
Due: getattr-literal, eslint, typescript, prettier

House charters become authored content: HouseTemplate and its catalog rows join the Workbench, the seeder hands them over (#3647)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  src/core_management/content_export.py
  src/core_management/prose_fields.py
  src/world/migrations/0222_holdingkind_reviewed_by_holdingkind_reviewed_on_and_more.py
  src/world/migrations/max_migration.txt
  src/world/seeds/config_prerequisites.py
  src/world/seeds/houses.py
  src/world/societies/admin.py
  src/world/societies/houses/models.py
  src/world/societies/tests/test_house_charter_content.py
Due: getattr-literal

Machine-local devcontainer compose overrides (crash-lockup defense stays per-machine) (#3649)
  .devcontainer/devcontainer.json
  .devcontainer/sync-env.sh
  .gitignore
  docs/devcontainer-setup.md
Due: none

Fix round 1 for #3479 Task 2 review: Wardrobe WS actions stay on the live-session character, dash sweep, useMemo
  frontend/src/conditions/components/TreatActionPanel.test.tsx
  frontend/src/conditions/components/TreatActionPanel.tsx
  frontend/src/home/hall/CharactersBand.tsx
  frontend/src/home/hall/OffscreenActsPlate.tsx
  frontend/src/home/hall/WorldBand.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/inventory/pages/WardrobePage.tsx
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/magic/pages/MagicProgressionPage.tsx
  frontend/src/magic/pages/ThreadHubPage.tsx
  frontend/src/narrative/components/UnreadNarrativeBadge.test.tsx
  frontend/src/narrative/components/UnreadNarrativeBadge.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/roster/__tests__/useBrowsingIdentity.test.tsx
  frontend/src/roster/useBrowsingIdentity.ts
  frontend/src/tidings/pages/TidingsPage.tsx
  frontend/src/world-builder/useWorldBuilderActor.ts
Due: eslint, typescript, prettier

Fix round 1 for #696 Task 3 review: batch the robbery defense lookup
  src/world/predators/services.py
Due: getattr-literal

Final fix wave for #2896: filing visibility, admin backstop, docstring/scoping cleanups
  src/world/codex/models.py
  src/world/codex/tests/test_entry_filings.py
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
Due: getattr-literal

Pending reaction windows endpoint (#2987 Task 4): GET /reaction-windows/pending/
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/reaction_views.py
  src/world/scenes/tests/test_reaction_views.py
Due: getattr-literal, eslint, typescript, prettier

In-game switches stop writing the account default (#3479 Task 3): tab-local browsing identity only
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/GameTopBar.selection.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.selection.test.tsx
  frontend/src/game/components/GameWindow.tsx
Due: eslint, typescript, prettier

Relationships can target a Companion; surge records carry a companion subject (#3575)
  src/world/combat/models.py
  src/world/combat/tests/test_surge_record_companion.py
  src/world/migrations/0223_companion_relationship_target.py
  src/world/migrations/max_migration.txt
  src/world/relationships/models.py
  src/world/relationships/tests/test_companion_target.py
  src/world/relationships/tests/test_models.py
Due: getattr-literal

A bonded companion's defeat surges its owner through the ALLY_FALLEN leg (#3575)
  src/world/combat/escalation.py
  src/world/combat/services.py
  src/world/combat/tests/test_escalation_companion_fall.py
Due: getattr-literal

Wrap the companion resolver signature to the line limit (#3575)
  src/world/combat/escalation.py
Due: getattr-literal

First impressions can target a bonded companion, owner-only and active at once (#3575)
  src/world/relationships/services.py
  src/world/relationships/tests/test_companion_target.py
Due: getattr-literal

Relationship verbs accept a bonded companion as the target (#3575)
  src/actions/definitions/relationships.py
  src/actions/tests/test_relationships.py
Due: getattr-literal

Telnet relationship verbs resolve a room-present companion as the target (#3575)
  src/commands/relationships.py
  src/commands/tests/test_relationships_command.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Companion resolver uses the reverse manager directly; drop the noqa ratchet bump (#3575)
  src/commands/relationships.py
  src/commands/weave.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Web relationship verbs take target_companion_id; rows carry target_companion (#3575)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/relationships/admin.py
  src/world/relationships/serializers.py
  src/world/relationships/tests/test_views.py
  src/world/relationships/views.py
Due: getattr-literal, eslint, typescript, prettier

Relationship pull terms ignore a companion-targeted bond thread (#3575)
  src/world/magic/services/pull_applicability.py
  src/world/magic/services/pull_modulation_relationship.py
  src/world/magic/tests/test_pull_applicability_relationship.py
  src/world/magic/tests/test_pull_modulation_relationship.py
Due: getattr-literal

Sheet and thread renderers name a companion-targeted bond (#3575)
  src/commands/account/sheet_sections.py
  src/commands/tests/test_sheet_relationships_section.py
  src/commands/threads.py
  src/world/magic/crossing/handlers.py
  src/world/magic/tests/test_crossing.py
Due: getattr-literal

Own relationships list narrows the row target without a cast (#3575)
  frontend/src/relationships/components/OwnRelationshipsList.tsx
Due: eslint, typescript, prettier

Web: write about a bonded companion; relationship rows and dialog take a companion target (#3575)
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/relationships/components/CompanionBondList.tsx
  frontend/src/relationships/components/OwnRelationshipsList.tsx
  frontend/src/relationships/components/RelationshipPanel.tsx
  frontend/src/relationships/components/RelationshipWriteupDialog.tsx
  frontend/src/relationships/components/__tests__/CompanionBondList.test.tsx
  frontend/src/relationships/components/__tests__/RelationshipWriteupDialog.test.tsx
Due: eslint, typescript, prettier

Weave partner picker skips companion bonds (#3575)
  frontend/src/magic/components/threads/WeaveThreadWizard.tsx
  frontend/src/magic/components/threads/__tests__/WeaveThreadWizard.test.tsx
Due: eslint, typescript, prettier

Bound player media uploads: per-account quota and per-file cap at the upload choke point (#3650)
  docs/systems/INDEX.md
  docs/systems/roster.md
  frontend/src/generated/api.d.ts
  frontend/src/roster/__tests__/api.upload.test.ts
  frontend/src/roster/api.ts
  frontend/src/roster/types.ts
  src/.env.example
  src/evennia_extensions/admin.py
  src/evennia_extensions/factories.py
  src/evennia_extensions/models.py
  src/evennia_extensions/tests/test_models.py
  src/schema.json
  src/server/conf/settings.py
  src/world/migrations/0223_remove_playerdata_max_file_size_and_more.py
  src/world/migrations/max_migration.txt
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/media.py
  src/world/roster/services/gallery_services.py
  src/world/roster/tests/test_cloudinary_services.py
  src/world/roster/tests/test_viewset.py
  src/world/roster/views/media_views.py
Due: getattr-literal, eslint, typescript, prettier

Docs: companion-targeted relationships and the companion fall surge, ADR-0270 (#3575)
  docs/adr/0272-relationships-target-companions-companions-have-no-sheet.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/companions.md
  src/world/combat/AGENT_GLOSSARY.md
  src/world/companions/AGENT_GLOSSARY.md
  src/world/relationships/AGENT_GLOSSARY.md
  src/world/relationships/models.py
  src/world/relationships/services.py
Due: getattr-literal

Plain summons never emit a companion fall; complaint admin names a companion subject (#3575)
  src/world/combat/tests/test_escalation_companion_fall.py
  src/world/relationships/admin.py
Due: getattr-literal

Relationships app guide covers companion targets (#3575)
  src/world/relationships/CLAUDE.md
Due: none

Renumber the companion-target ADR to 0272 after main took 0270 and 0271 (#3575)
  src/world/relationships/CLAUDE.md
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
