Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix: resolve migration conflict + update max_migration.txt (#2019)
  src/world/areas/migrations/max_migration.txt
  src/world/conditions/migrations/0017_add_position_targeting_fields.py
  src/world/conditions/migrations/max_migration.txt
  src/world/room_features/migrations/max_migration.txt
Due: getattr-literal

Webclient RP UX & playability audit (epic #2155) + fix-on-sight doc corrections
  docs/audits/2026-06-25-player-reachability-coverage.md
  docs/audits/2026-07-10-webclient-rp-ux-audit.md
  docs/roadmap/ooc-social.md
  docs/roadmap/rp-scenes.md
Due: none

Webclient RP UX & playability audit (epic #2155) + fix-on-sight doc corrections (#2164)
  docs/audits/2026-06-25-player-reachability-coverage.md
  docs/audits/2026-07-10-webclient-rp-ux-audit.md
  docs/roadmap/ooc-social.md
  docs/roadmap/rp-scenes.md
Due: none

fix: renumber areas migration 0014→0015 to resolve conflict with main (#2019)
  src/world/areas/migrations/0015_add_obstacle_lifecycle_fields.py
Due: getattr-literal

Battlefield shaping goes live: cast-time position targeting, obstacle lifecycle, and shoving enemies (#2145)
  docs/adr/0109-obstacle-both-sides-block-counterplay.md
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/world/areas/migrations/0015_add_obstacle_lifecycle_fields.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/positioning/models.py
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/test_obstacle_lifecycle.py
  src/world/areas/positioning/tests/test_round_tick_expiry.py
  src/world/conditions/migrations/0017_add_position_targeting_fields.py
  src/world/conditions/migrations/max_migration.txt
  src/world/conditions/models.py
  src/world/conditions/tests/test_position_fields.py
  src/world/magic/effect_palette_content.py
  src/world/magic/services/condition_application.py
  src/world/magic/services/effect_handlers.py
  src/world/magic/tests/integration/test_battlefield_shaping_e2e.py
  src/world/magic/tests/test_effect_palette_simple.py
  src/world/magic/tests/test_force_move_handler.py
  src/world/magic/tests/test_zone_hazard_handler.py
  src/world/room_features/migrations/0008_add_zone_hazard_fields.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/tests/test_zone_hazards.py
  src/world/room_features/trap_services.py
  src/world/scenes/cast_services.py
  src/world/vitals/services.py
Due: getattr-literal

feat(battles): battle-map blueprint + unit template catalog models (#2010)
  src/world/battles/admin.py
  src/world/battles/factories.py
  src/world/battles/migrations/0025_battlemapblueprint_battleunittemplate_and_more.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/tests/test_models_staging_catalog.py
Due: getattr-literal

feat(battles): staging services — stage_battle, blueprint instantiation, template spawn (#2010)
  src/world/battles/exceptions.py
  src/world/battles/services.py
  src/world/battles/staging.py
  src/world/battles/tests/test_staging_services.py
Due: getattr-literal

feat(actions): JUNIOR-gated battle staging actions (#2010)
  src/actions/definitions/battles.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_battle_staging_actions.py
Due: getattr-literal

fix(actions): graceful malformed-id handling + review fold-ins for staging actions (#2010)
  src/actions/definitions/battles.py
  src/actions/tests/test_battle_staging_actions.py
Due: getattr-literal

feat(room_features): Social Hub feature — designation + install (#1694 slice 1)
  src/world/room_features/apps.py
  src/world/room_features/constants.py
  src/world/room_features/migrations/0009_alter_roomfeaturekind_service_strategy.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/seeds.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_social_hub.py
Due: getattr-literal

feat(room_features): Social Hub crowd-draw + spread amplification (#1694 slices 2-3)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  src/world/locations/services.py
  src/world/room_features/constants.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_social_hub.py
Due: getattr-literal

feat(room_features): Social Hub — owner-upgradeable rooms that amplify crowd + fame (#1694) (#2167)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  src/world/locations/services.py
  src/world/room_features/apps.py
  src/world/room_features/constants.py
  src/world/room_features/migrations/0009_alter_roomfeaturekind_service_strategy.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/seeds.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_social_hub.py
Due: getattr-literal

feat(commands): battle staging telnet subverbs + E2E journey (#2010)
  src/commands/battle.py
  src/integration_tests/pipeline/test_battle_staging_telnet_e2e.py
Due: getattr-literal

fix(battles): bind staged battle scene to the staging GM's room (#2010)
  docs/systems/battles.md
  src/actions/definitions/battles.py
  src/actions/tests/test_battle_staging_actions.py
  src/commands/battle.py
  src/integration_tests/pipeline/test_battle_staging_telnet_e2e.py
  src/world/battles/services.py
  src/world/battles/staging.py
  src/world/battles/tests/test_staging_services.py
Due: getattr-literal

feat(battles): read-only staging catalog API (#2010)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/battles/serializers.py
  src/world/battles/tests/test_catalog_viewsets.py
  src/world/battles/urls.py
  src/world/battles/views.py
  src/world/gm/permissions.py
Due: getattr-literal, eslint, typescript, prettier

feat(societies): prestige spreads like fame — permanent slow counterpart (#2168)
  docs/roadmap/societies.md
  docs/systems/societies.md
  src/world/societies/renown.py
  src/world/societies/spread_services.py
  src/world/societies/tests/test_spread_prestige.py
Due: getattr-literal

feat(frontend): minimal battle staging panel on the battle map page (#2010)
  frontend/src/battles/api.ts
  frontend/src/battles/components/StagingPanel.test.tsx
  frontend/src/battles/components/StagingPanel.tsx
  frontend/src/battles/pages/BattleMapPage.tsx
  frontend/src/battles/queries.ts
  frontend/src/battles/types.ts
Due: eslint, typescript, prettier

fix(frontend): surface staging dispatch outcomes + a11y/bounds fold-ins (#2010)
  frontend/src/battles/components/StagingPanel.test.tsx
  frontend/src/battles/components/StagingPanel.tsx
Due: eslint, typescript, prettier

fix(#1796): change Beat's 8 predicate-config FKs from CASCADE to SET_NULL
  src/world/stories/migrations/0024_alter_beat_referenced_chapter_and_more.py
  src/world/stories/models.py
  src/world/stories/tests/test_beat.py
Due: getattr-literal

feat(items): add CraftingRecipeModifier and CraftedItemRecipe models (#1567)
  src/world/items/crafting/models.py
  src/world/items/migrations/0029_crafted_recipe_modifiers.py
  src/world/items/models.py
Due: getattr-literal

feat(items): add ItemInstance.crafted_modifier_value method (#1567)
  src/world/items/models.py
  src/world/items/tests/test_crafted_modifiers.py
Due: getattr-literal

test(items): add factories for CraftingRecipeModifier and CraftedItemRecipe (#1567)
  src/world/items/factories.py
Due: getattr-literal

feat(items): add crafted_modifier_total to CharacterEquipmentHandler (#1567)
  src/world/items/handlers.py
  src/world/items/tests/test_crafted_modifiers.py
Due: getattr-literal

feat(checks): integrate crafted modifiers into collect_check_modifiers (#1567)
  src/world/checks/services.py
  src/world/items/tests/test_crafted_modifiers.py
Due: getattr-literal

feat(items): write CraftedItemRecipe on successful craft + cache invalidation (#1567)
  src/world/items/crafting/services.py
  src/world/items/tests/test_crafted_modifiers.py
Due: getattr-literal

feat(mechanics): integrate crafted modifiers into get_modifier_total (#1567)
  src/world/items/tests/test_crafted_modifiers.py
  src/world/mechanics/services.py
Due: getattr-literal

test(items): bump query count baselines for crafted recipe prefetch (#1567)
  src/world/items/tests/test_crafting_query_counts.py
  src/world/items/tests/test_visible_worn_query_counts.py
Due: getattr-literal

chore(items): update max_migration.txt for new migration (#1567)
  src/world/items/migrations/max_migration.txt
Due: none

chore(#1796): update max_migration.txt for stories
  src/world/stories/migrations/max_migration.txt
Due: none

docs: add CraftingRecipeModifier and CraftedItemRecipe to MODEL_MAP (#1567)
  docs/systems/MODEL_MAP.md
Due: none

feat(societies): prestige spreads like fame — permanent slow counterpart (#2168) (#2169)
  docs/roadmap/societies.md
  docs/systems/societies.md
  src/world/societies/renown.py
  src/world/societies/spread_services.py
  src/world/societies/tests/test_spread_prestige.py
Due: getattr-literal

fix(actions,frontend): expose dispatch success on the wire; staging panel distinguishes failures (#2010)
  frontend/src/battles/components/StagingPanel.test.tsx
  frontend/src/battles/components/StagingPanel.tsx
  frontend/src/combat/types.ts
  src/actions/serializers.py
  src/actions/tests/test_player_action_api.py
Due: getattr-literal, eslint, typescript, prettier

feat(seeds),docs: starter staging catalog + staging docs/ADR/glossary (#2010)
  docs/adr/0111-battle-staging-is-catalog-and-instantiate.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/battles.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
  src/world/battles/AGENT_GLOSSARY.md
  src/world/battles/tests/test_seed_staging_catalog.py
  src/world/scenes/CLAUDE.md
  src/world/seeds/clusters.py
  src/world/seeds/game_content/battles.py
Due: getattr-literal

Crafting-driven per-instance item modifiers (beyond template-level ItemCheckModifier) (#2171)
  docs/systems/MODEL_MAP.md
  src/world/checks/services.py
  src/world/items/crafting/models.py
  src/world/items/crafting/services.py
  src/world/items/factories.py
  src/world/items/handlers.py
  src/world/items/migrations/0029_crafted_recipe_modifiers.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_crafted_modifiers.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/items/tests/test_visible_worn_query_counts.py
  src/world/mechanics/services.py
Due: getattr-literal

Beat's 8 predicate-config FKs use CASCADE, conflicting with never-hard-delete tenet (#2172)
  src/world/stories/migrations/0024_alter_beat_referenced_chapter_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/tests/test_beat.py
Due: getattr-literal

feat(secrets): Leverage model + mint/query services (#1680 slice 1a)
  src/world/secrets/factories.py
  src/world/secrets/migrations/0009_leverage.py
  src/world/secrets/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_leverage.py
Due: getattr-literal

chore(magic): bump authored ThreadPullEffect amounts that round to zero at low levels (#1845)
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/world/covenants/factories.py
  src/world/magic/tests/test_relationship_pull_content.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

feat(actions): Blackmail action + blackmail consent category (#1680 slice 1b)
  src/actions/definitions/social.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/secrets/services.py
  src/world/seeds/consent.py
  src/world/seeds/social_actions.py
  src/world/seeds/tests/test_consent_seed.py
Due: getattr-literal

fix(actions,scenes,frontend): surface staging actions to web, isolate battle scenes from room RP resolution (#2010)
  docs/adr/README.md
  docs/systems/battles.md
  frontend/src/battles/components/StagingPanel.test.tsx
  frontend/src/battles/components/StagingPanel.tsx
  frontend/src/combat/types.ts
  src/actions/definitions/battles.py
  src/actions/player_interface.py
  src/actions/tests/test_player_action_api.py
  src/commands/CLAUDE.md
  src/commands/battle.py
  src/commands/scene.py
  src/world/battles/services.py
  src/world/battles/staging.py
  src/world/battles/tests/test_conclusion.py
  src/world/battles/tests/test_staging_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/managers.py
  src/world/scenes/place_services.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(scenes): pose co-location validation + viewer_is_present on places (#2156)
  src/world/scenes/interaction_serializers.py
  src/world/scenes/place_views.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/tests/test_place_views.py
Due: getattr-literal
