Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

CG folio: the skills frame gets a mounting test; canonical placeholder marker (#3540)
  frontend/src/character-creation/__tests__/SkillsSection.test.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
Due: eslint, typescript, prettier

CG folio: Origin keeps its loading and error coverage (#3540)
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/components/OriginStage.tsx
Due: eslint, typescript, prettier

CG folio: Chapter the Seventh puts the instruments in a frame with the purse at its head (#3540)
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/SkillsSection.tsx
Due: eslint, typescript, prettier

CG folio: Chapter the Last quotes the player and closes the record on the night (#3540)
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
Due: eslint, typescript, prettier

CG folio: skills test restores real timers in afterEach (#3540)
  frontend/src/character-creation/__tests__/SkillsSection.test.tsx
Due: eslint, typescript, prettier

CG folio: drop stray em-dashes from Chapter the Last's new comments (#3540)
  frontend/src/character-creation/components/ReviewStage.tsx
Due: eslint, typescript, prettier

CG folio: the approved testament keeps its door into the world; staff, not reviewers (#3540)
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
Due: eslint, typescript, prettier

CG folio: chapter copy keys, em-dash free seed, docs in tandem (#3540)
  docs/roadmap/character-creation.md
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

CG folio: every chapter opens on the leaf; stage internals unchanged (#3540)
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
Due: eslint, typescript, prettier

CG folio: remove the stepper, area cards, stat cards, points widget and glow (#3540)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/StageStepper.test.tsx
  frontend/src/character-creation/components/FreePointsWidget.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/character-creation/components/StartingAreaCard.tsx
  frontend/src/character-creation/components/StatCard.tsx
  frontend/src/character-creation/components/StatModal.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/utils.ts
  frontend/src/hooks/usePageBackgrounds.ts
  frontend/src/index.css
Due: eslint, typescript, prettier

CG folio: the seed test also refuses en-dashes; folio barrel in the doc tree (#3540)
  frontend/src/character-creation/CLAUDE.md
  src/world/character_creation/tests/test_lore_seed.py
Due: getattr-literal, prettier

CG folio: final review fixes: revisions state, scoped stylesheet, muted contrast, skills reasons (#3540)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/SkillsSection.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/SkillsSection.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/folio/ConfirmDialog.tsx
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

CG folio: quiet door declares font-style once, after the font shorthand (#3540)
  frontend/src/character-creation/cg.css
Due: prettier

Task 1 review fixes: em-dashes in comments, factory docstring (#3617)
  frontend/src/character-creation/types.ts
  src/world/roster/factories.py
  src/world/roster/seeds.py
  tools/check_migration_seed_data.py
Due: getattr-literal, eslint, typescript, prettier

Family kinds become authored rows and families carry influence (#3617)
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_house_claim_api.py
  src/world/migrations/0219_familykind_family_kind_influence.py
  src/world/migrations/max_migration.txt
  src/world/predators/tests/test_services.py
  src/world/roster/admin.py
  src/world/roster/constants.py
  src/world/roster/factories.py
  src/world/roster/filters.py
  src/world/roster/models/__init__.py
  src/world/roster/models/families.py
  src/world/roster/seeds.py
  src/world/roster/serializers/families.py
  src/world/roster/tests/test_family_kind.py
  src/world/roster/tests/test_kin_api.py
  src/world/roster/tests/test_kinship.py
  src/world/roster/views/family_views.py
  src/world/scenes/tests/test_persona_serializer.py
  src/world/seeds/character_creation.py
  src/world/seeds/clusters.py
  src/world/seeds/houses.py
  src/world/seeds/kinship.py
  src/world/seeds/tests/test_cg_seed_gaps.py
  src/world/societies/admin.py
  src/world/societies/houses/creator.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_house_creator.py
  src/world/societies/tests/test_houses.py
  src/world/societies/tests/test_pacts.py
  src/world/societies/tests/test_stature.py
  tools/check_migration_seed_data.py
Due: getattr-literal, eslint, typescript, prettier

Task 2 review fix: backfill helper covers both branches and is tested (#3617)
  src/world/character_creation/tests/test_upbringing_models.py
  src/world/migrations/0220_upbringings.py
Due: getattr-literal

Upbringing schema: costs, family paths, prompt choices; family_known retired (#3617)
  src/core_management/content_export.py
  src/world/character_creation/admin.py
  src/world/character_creation/constants.py
  src/world/character_creation/factories.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_origin_story_api.py
  src/world/character_creation/tests/test_origin_story_models.py
  src/world/character_creation/tests/test_origin_story_services.py
  src/world/character_creation/tests/test_upbringing_models.py
  src/world/migrations/0220_upbringings.py
  src/world/migrations/max_migration.txt
  src/world/seeds/character_creation.py
  tools/check_migration_seed_data.py
Due: getattr-literal

Lineage validates the Upbringing, its family path and prompts; upbringing cost line (#3617)
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_upbringing_validation.py
  src/world/character_creation/validators.py
  src/world/societies/houses/creator.py
Due: getattr-literal

Test fixtures use an Unknown Upbringing instead of the retired orphan flag (#3617)
  src/world/character_creation/tests/finalization_fixtures.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

world.npc_services test fixture uses an Unknown Upbringing instead of the retired orphan flag (#3617)
  src/world/npc_services/tests/test_settle_obligation_offer.py
Due: getattr-literal

world.tarot lineage-completion tests rewritten for the Upbringing model (#3617)
  src/world/tarot/tests/test_lineage_completion.py
Due: getattr-literal

world.seeds test fixtures drop the retired Beginnings.family_known assertions and orphan flag (#3617)
  src/world/seeds/tests/test_cg_seed_gaps.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal

world.scenes test fixture uses an Unknown Upbringing instead of the retired orphan flag (#3617)
  src/world/scenes/tests/test_cast_per_character_check.py
Due: getattr-literal

core_management fixture round-trip test drops the retired Beginnings.family_known assertion (#3617)
  src/core_management/tests/test_content_fixtures.py
  src/world/magic/tests/test_character_cast_check.py
Due: getattr-literal

Approval creates player-named families, stores prompt choices, locks costed picks (#3617)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_origin_story_api.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/tests/test_upbringing_finalize.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/views.py
Due: getattr-literal

Task 5 review fix: create the named family before the character name is built (#3617)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_upbringing_finalize.py
  src/world/character_sheets/views.py
Due: getattr-literal

Task 5 review fix: remove em-dashes from new docstrings (#3617)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_upbringing_finalize.py
Due: getattr-literal

Task 6 review fix: prefetch claimable kinds; ADR-0251 counts resynced (#3617)
  docs/adr/0251-content-dependencies-are-a-live-db-registry.md
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_upbringing_api.py
  src/world/character_creation/views.py
Due: getattr-literal

CG API exposes Upbringings with prompts and costs; sentinel flags beginnings without one (#3617)
  docs/adr/0251-content-dependencies-are-a-live-db-registry.md
  src/web/admin/tests/test_required_content.py
  src/web/admin/tuning/required_content.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_upbringing_api.py
  src/world/character_creation/views.py
Due: getattr-literal

Docs: family authoring recipes, ADR-0268/0269, system docs and glossary for Upbringings (#3617)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0268-family-standing-uses-existing-organisation-mechanisms-and-kinds-are-rows.md
  docs/adr/0269-upbringings-price-standing-as-family-influence-times-position.md
  docs/adr/README.md
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/family-authoring-recipes.md
  docs/systems/houses.md
  docs/systems/kinship.md
  docs/systems/roster.md
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/tests/test_upbringing_recipes.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/societies/AGENT_GLOSSARY.md
Due: getattr-literal

One test per family-authoring recipe (#3617)
  src/world/character_creation/tests/test_upbringing_recipes.py
Due: getattr-literal

Task 8 review fix: INDEX Houses entry; styles_as_house wording (#3617)
  docs/systems/INDEX.md
  docs/systems/family-authoring-recipes.md
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/models/families.py
Due: getattr-literal

Lineage step rebuilt around Upbringings: picker, prompts with costed choices, family paths (#3617)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/queries.test.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/OriginStorySection.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/components/lineage/FamilyPathSection.tsx
  frontend/src/character-creation/components/lineage/UpbringingPicker.tsx
  frontend/src/character-creation/components/lineage/UpbringingPrompts.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/home/__tests__/queries.test.ts
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  src/schema.json
Due: eslint, typescript, prettier

Final review fixes: path switch clears stale family state; hidden-prompt choices ignored; playable check; clear-origin-slot lock (#3617)
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_origin_story_api.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/tests/test_upbringing_api.py
  src/world/character_creation/tests/test_upbringing_finalize.py
  src/world/character_creation/tests/test_upbringing_validation.py
  src/world/character_creation/validators.py
  src/world/character_sheets/views.py
Due: getattr-literal

CG copy keys for the Upbringing step; families fetch only on the claim path (#3617)
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/queries.ts
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Regenerate API schema and types after the clear-origin-slot docstring change (#3617)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Character creation folio: OOC chrome sweep per Apostate ruling (#3540)
  docs/roadmap/character-creation.md
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/CodexWord.test.tsx
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/folio/ChapterLeaf.tsx
  frontend/src/character-creation/folio/CodexWord.tsx
  frontend/src/character-creation/folio/ContentsRail.tsx
  frontend/src/character-creation/folio/Entry.tsx
  frontend/src/character-creation/folio/NightPlate.tsx
  frontend/src/character-creation/folio/PageTurn.tsx
  frontend/src/character-creation/folio/RecordRail.tsx
  frontend/src/character-creation/folio/index.ts
  frontend/src/codex/queries.ts
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Character creation folio: last book-metaphor strings out of the chrome (#3540)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/folio/ContentsRail.tsx
Due: eslint, typescript, prettier

Character creation: the interface is out of character (OOC chrome sweep, #3540 follow-up) (#3629)
  docs/roadmap/character-creation.md
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/CodexWord.test.tsx
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/folio/ChapterLeaf.tsx
  frontend/src/character-creation/folio/CodexWord.tsx
  frontend/src/character-creation/folio/ContentsRail.tsx
  frontend/src/character-creation/folio/Entry.tsx
  frontend/src/character-creation/folio/NightPlate.tsx
  frontend/src/character-creation/folio/PageTurn.tsx
  frontend/src/character-creation/folio/RecordRail.tsx
  frontend/src/character-creation/folio/index.ts
  frontend/src/codex/queries.ts
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
