Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(covenants): add CovenantMembershipHandler attached as covenant.member_roster
  src/world/covenants/handlers.py
  src/world/covenants/models.py
  src/world/covenants/tests/test_handlers.py
Due: getattr-literal

feat(covenants): add can_engage_durance_membership shared prerequisite helper
  src/world/covenants/handlers.py
  src/world/covenants/tests/test_engagement_prerequisite.py
Due: getattr-literal

feat(magic): add accept_session service with row-level locking
  src/world/magic/services/sessions.py
  src/world/magic/tests/test_session_services.py
Due: getattr-literal

feat(magic): add draft_session service with participant-count validation
  src/world/magic/services/sessions.py
  src/world/magic/tests/test_session_services.py
Due: getattr-literal

feat(magic): add factories for RitualSession + Participant + Reference
  src/world/magic/factories.py
  src/world/magic/tests/test_session_factories.py
Due: getattr-literal

feat(magic): add fire_session with select_for_update + dispatch
  src/world/magic/services/sessions.py
  src/world/magic/tests/test_session_services.py
Due: getattr-literal

feat(magic): add decline_session with threshold-killing delete
  src/world/magic/services/sessions.py
  src/world/magic/tests/test_session_services.py
Due: getattr-literal

feat(magic): add cancel_session
  src/world/magic/services/sessions.py
  src/world/magic/tests/test_session_services.py
Due: getattr-literal

feat(covenants): add create_covenant_via_session wrapper for FORMATION fire
  src/world/covenants/services.py
  src/world/covenants/tests/test_services.py
Due: getattr-literal

feat(magic): add CovenantFormation + CovenantInduction ritual factories
  src/world/magic/factories.py
  src/world/magic/tests/test_session_factories.py
Due: getattr-literal

feat(magic): add accept_soul_tether_via_session wrapper for BILATERAL fire
  src/world/magic/services/soul_tether.py
  src/world/magic/tests/test_soul_tether_session.py
Due: getattr-literal

feat(covenants): add induct_member_via_session wrapper for INDUCTION fire
  src/world/covenants/services.py
  src/world/covenants/tests/test_services.py
Due: getattr-literal

feat(magic): retrofit Soul Tether ritual factory to BILATERAL session flow
  src/world/magic/factories.py
  src/world/magic/tests/test_soul_tether_factories.py
  src/world/magic/tests/test_soul_tether_models.py
Due: getattr-literal

feat(covenants): add evaluate_scene_engagement auto-engage service
  src/world/covenants/services.py
  src/world/covenants/tests/test_services.py
Due: getattr-literal

feat(covenants): add IsOwnMembership permission + engage/disengage view actions
  pyproject.toml
  src/world/covenants/permissions.py
  src/world/covenants/serializers.py
  src/world/covenants/tests/test_engagement_views.py
  src/world/covenants/views.py
Due: getattr-literal

feat(covenants): wire evaluate_scene_engagement into movement + scene callsites
  src/flows/service_functions/movement.py
  src/world/covenants/tests/integration/__init__.py
  src/world/covenants/tests/integration/test_scene_auto_engage.py
  src/world/scenes/interaction_services.py
  src/world/scenes/place_services.py
Due: getattr-literal

feat(magic): add RitualSession API surface (Slice B §4.12)
  src/world/magic/filters.py
  src/world/magic/models/sessions.py
  src/world/magic/permissions.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_session_views.py
  src/world/magic/urls.py
  src/world/magic/views.py
Due: getattr-literal

chore(api): regenerate types for RitualSession endpoints (Slice B §4.12)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

feat(rituals): add HTTP calls + react-query hooks for ritual sessions
  frontend/src/rituals/api.ts
  frontend/src/rituals/queries.ts
Due: eslint, typescript, prettier

feat(rituals): add RitualSessionInbox + Detail pages + Draft/Response dialogs
  frontend/src/App.tsx
  frontend/src/rituals/__tests__/RitualSessionPages.test.tsx
  frontend/src/rituals/components/RitualSessionDraftDialog.tsx
  frontend/src/rituals/components/RitualSessionResponseDialog.tsx
  frontend/src/rituals/pages/RitualSessionDetailPage.tsx
  frontend/src/rituals/pages/RitualSessionInboxPage.tsx
Due: eslint, typescript, prettier

feat(rituals): add covenant_picker / covenant_role_picker / soul_tether_role_picker field types
  frontend/src/generated/api.d.ts
  frontend/src/rituals/components/fields/CovenantPickerField.tsx
  frontend/src/rituals/components/fields/CovenantRolePickerField.tsx
  frontend/src/rituals/components/fields/SoulTetherRolePickerField.tsx
  frontend/src/rituals/components/fields/index.ts
  frontend/src/rituals/types.ts
  src/world/covenants/filters.py
  src/world/covenants/urls.py
  src/world/covenants/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(covenants,rituals): add covenant pages, rewire Soul Tether, inbox badge
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/covenants/api.ts
  frontend/src/covenants/pages/CovenantDetailPage.tsx
  frontend/src/covenants/pages/CovenantsListPage.tsx
  frontend/src/covenants/queries.ts
  frontend/src/rituals/components/RitualCard.tsx
  frontend/src/rituals/queries.ts
Due: eslint, typescript, prettier

docs(covenants): mark Slice B shipped + document RitualSession primitive and Soul Tether BILATERAL retrofit
  docs/roadmap/covenants.md
Due: none

fix(covenants): use setUp instead of setUpTestData in tests touching ObjectDB
  src/world/covenants/tests/test_engagement_prerequisite.py
  src/world/covenants/tests/test_services.py
Due: getattr-literal

fix(magic): expose participation_rule on RitualSerializer + correct create response schema
  frontend/src/generated/api.d.ts
  frontend/src/rituals/__tests__/queries.test.tsx
  frontend/src/rituals/api.ts
  src/world/magic/serializers.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

docs(rooms): location lifecycle write helpers design
  docs/plans/2026-05-11-location-lifecycle-helpers-design.md
Due: none

feat(locations): private validators for lifecycle helpers
  src/world/locations/services.py
  src/world/locations/tests/test_lifecycle.py
Due: getattr-literal

docs(locations): note cross-domain reuse in _validate_holder_kwargs
  src/world/locations/services.py
Due: getattr-literal

feat(locations): transfer_ownership lifecycle helper
  src/world/locations/services.py
  src/world/locations/tests/test_lifecycle.py
Due: getattr-literal

refactor(locations): serialize concurrent transfers via select_for_update
  src/world/locations/services.py
Due: getattr-literal

feat(locations): grant_tenancy lifecycle helper
  src/world/locations/services.py
  src/world/locations/tests/test_lifecycle.py
Due: getattr-literal

feat(locations): end_tenancy lifecycle helper
  src/world/locations/services.py
  src/world/locations/tests/test_lifecycle.py
Due: getattr-literal

docs(locations): CLAUDE.md lifecycle helpers section
  src/world/locations/CLAUDE.md
Due: none

docs(covenants): roadmap cleanup — sworn objective + Slice C/D reframe
  docs/roadmap/covenants.md
Due: none

Feature/location lifecycle helpers (#436)
  docs/plans/2026-05-11-location-lifecycle-helpers-design.md
  src/world/locations/CLAUDE.md
  src/world/locations/services.py
  src/world/locations/tests/test_lifecycle.py
Due: getattr-literal

docs(rooms): location substrate polish design
  docs/plans/2026-05-12-location-substrate-polish-design.md
Due: none

feat(locations): _bulk_room_profiles_and_ancestors private helper
  src/world/locations/services.py
  src/world/locations/tests/test_bulk_reads.py
Due: getattr-literal

feat(locations): effective_stats_for_rooms bulk helper
  src/world/locations/services.py
  src/world/locations/tests/test_bulk_reads.py
Due: getattr-literal

feat(locations): effective_owners_for_rooms bulk helper
  src/world/locations/services.py
  src/world/locations/tests/test_bulk_reads.py
Due: getattr-literal
