Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

The Here panel lists you first, and pressing your own row looks at yourself
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/FocusPanel.test.tsx
  frontend/src/game/components/FocusPanel.tsx
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/CharactersList.test.tsx
  frontend/src/game/components/room-panel/CharactersList.tsx
Due: eslint, typescript, prettier

The feed-notes journeys run in the browser, the error note reads in the dark theme, and the backend docs carry the typed-frame contract
  docs/systems/narrative.md
  frontend/e2e/feed-notes.spec.ts
  frontend/src/game/components/FeedNoteBlock.tsx
  src/commands/CLAUDE.md
  src/typeclasses/CLAUDE.md
Due: eslint, typescript, prettier

The look note's title keeps the note's own weight and the "you" tag is plain text, as the demo draws them
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/components/room-panel/CharactersList.tsx
Due: eslint, typescript, prettier

Review evidence for #3856 PR 1: the notes in both readers and the you row, against the approved demo
  docs/reviews/3856/notes-exploration-1280.png
  docs/reviews/3856/notes-scene-chronological-1280.png
  docs/reviews/3856/notes-scene-dark-1280.png
  docs/reviews/3856/notes-scene-threads-1280.png
  docs/reviews/3856/report.md
Due: none

Remove the review evidence files from the branch; the report lives on PR #3871 as a comment
  docs/reviews/3856/notes-exploration-1280.png
  docs/reviews/3856/notes-scene-chronological-1280.png
  docs/reviews/3856/notes-scene-dark-1280.png
  docs/reviews/3856/notes-scene-threads-1280.png
  docs/reviews/3856/report.md
Due: none

Three integration-test collectors unwrap the typed tuple an error line now arrives as
  src/integration_tests/pipeline/test_audere_telnet_e2e.py
  src/integration_tests/pipeline/test_missions_telnet_e2e.py
  src/integration_tests/pipeline/test_tutorial_chain_e2e.py
Due: getattr-literal

A session remembers which feed blocks the viewer folded or dismissed, and attention can follow the chips
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

The feed's filter chips exist as a pure model and persist with the play preferences
  frontend/src/game/feedChips.test.ts
  frontend/src/game/feedChips.ts
  frontend/src/game/playPreferences.test.ts
  frontend/src/game/playPreferences.ts
Due: eslint, typescript, prettier

The chips sort the live column, All empties it, and any block folds or leaves the view
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/FeedBlockFrame.test.tsx
  frontend/src/game/components/FeedBlockFrame.tsx
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/feedBlockControls.ts
Due: eslint, typescript, prettier

The chip strip and its editor
  frontend/src/game/components/FeedChipStrip.test.tsx
  frontend/src/game/components/FeedChipStrip.tsx
Due: eslint, typescript, prettier

The chip journeys run in the browser, the editor reads at a glance, and the docs carry the chips
  docs/systems/scenes.md
  frontend/e2e/feed-chips.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/FeedChipStrip.tsx
  frontend/src/store/CLAUDE.md
Due: eslint, typescript, prettier

A pressed chip is filled with the primary token, and a right-click open leaves the chip's name unselected
  frontend/src/game/components/FeedChipStrip.tsx
Due: eslint, typescript, prettier

docs: require value tracing for wired surfaces
  tools/skills/verify-against-code/SKILL.md
Due: none

The notes journey checks for the old system lane's own hooks, not for the word System
  frontend/e2e/feed-notes.spec.ts
Due: eslint, typescript, prettier

Review evidence for #3856 PR 2: the chips, the editor, wake, minimise and dismiss, against the approved demo
  docs/reviews/3856/chips-all-off-1280.png
  docs/reviews/3856/chips-editor-1280.png
  docs/reviews/3856/chips-minimised-1280.png
  docs/reviews/3856/chips-new-pill-1280.png
  docs/reviews/3856/chips-rest-1280.png
  docs/reviews/3856/chips-roleplay-only-1280.png
  docs/reviews/3856/chips-system-off-1280.png
  docs/reviews/3856/chips-three-custom-1280.png
  docs/reviews/3856/notes-exploration-1280.png
  docs/reviews/3856/notes-scene-chronological-1280.png
  docs/reviews/3856/notes-scene-dark-1280.png
  docs/reviews/3856/notes-scene-threads-1280.png
  docs/reviews/3856/report.md
Due: none

Remove the review evidence files from the branch; the report lives on PR #3873 as a comment
  docs/reviews/3856/chips-all-off-1280.png
  docs/reviews/3856/chips-editor-1280.png
  docs/reviews/3856/chips-minimised-1280.png
  docs/reviews/3856/chips-new-pill-1280.png
  docs/reviews/3856/chips-rest-1280.png
  docs/reviews/3856/chips-roleplay-only-1280.png
  docs/reviews/3856/chips-system-off-1280.png
  docs/reviews/3856/chips-three-custom-1280.png
  docs/reviews/3856/notes-exploration-1280.png
  docs/reviews/3856/notes-scene-chronological-1280.png
  docs/reviews/3856/notes-scene-dark-1280.png
  docs/reviews/3856/notes-scene-threads-1280.png
  docs/reviews/3856/report.md
Due: none

The Here panel's nine sections move under an Actions fold at the foot of the room view
  frontend/e2e/feed-actions-fold.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/SidebarTabPanel.test.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

The Actions fold stays under an open section, so the next section is one press away
  frontend/e2e/feed-actions-fold.spec.ts
  frontend/src/game/components/SidebarTabPanel.test.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

Review evidence for #3856 PR 3: the Actions fold, against the approved demo
  docs/reviews/3856/actions-fold-1280.png
  docs/reviews/3856/actions-fold-closed-1280.png
  docs/reviews/3856/actions-section-1280.png
  docs/reviews/3856/report.md
Due: none

Remove the review evidence files from the branch; the report lives on PR #3874 as a comment
  docs/reviews/3856/actions-fold-1280.png
  docs/reviews/3856/actions-fold-closed-1280.png
  docs/reviews/3856/actions-section-1280.png
  docs/reviews/3856/report.md
Due: none

A staff console line's output is tagged so the web client can keep it out of the column
  src/server/conf/inputfuncs.py
  src/server/conf/serversession.py
  src/server/conf/settings.py
  src/web/tests/test_console_capture.py
Due: getattr-literal

The composer poses by default, a slash escapes to a command, and staff get a Commands mode with a console
  frontend/src/components/RichTextInput.tsx
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/attention.test.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/StaffConsole.test.tsx
  frontend/src/game/components/StaffConsole.tsx
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/scenes/components/ModeSelector.test.tsx
  frontend/src/scenes/components/ModeSelector.tsx
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

A slash line in a scene is a command, the console can be closed, and the docs and journey for #3857
  docs/systems/scenes.md
  frontend/e2e/composer-commands.spec.ts
  frontend/e2e/support/gameHarness.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/StaffConsole.test.tsx
  frontend/src/game/components/StaffConsole.tsx
  frontend/src/hooks/CLAUDE.md
  frontend/src/store/CLAUDE.md
  src/server/CLAUDE.md
Due: eslint, typescript, prettier

Fold in the demo-fidelity review: the console sits beside the play surface, echoes each line, and has a text Close
  frontend/e2e/composer-commands.spec.ts
  frontend/src/components/ui/sheet.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/StaffConsole.test.tsx
  frontend/src/game/components/StaffConsole.tsx
  frontend/src/hooks/CLAUDE.md
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Review evidence screenshots for #3857 (removed again before merge)
  docs/reviews/3857/composer-console-1280.png
  docs/reviews/3857/composer-slash-1280.png
  docs/reviews/3857/composer-staff-menu-1280.png
Due: none

Review evidence report for #3857 (removed again before merge)
  docs/reviews/3857/report.md
Due: none

Remove the review evidence files from the branch; the report lives on PR #3875 as a comment
  docs/reviews/3857/composer-console-1280.png
  docs/reviews/3857/composer-slash-1280.png
  docs/reviews/3857/composer-staff-menu-1280.png
  docs/reviews/3857/report.md
Due: none

Feed filter chips: the editor, custom chips, All, wake, minimise and dismiss (#3856, PR 2 of 3) (#3873)
  docs/systems/scenes.md
  frontend/e2e/feed-chips.spec.ts
  frontend/e2e/feed-notes.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/FeedBlockFrame.test.tsx
  frontend/src/game/components/FeedBlockFrame.tsx
  frontend/src/game/components/FeedChipStrip.test.tsx
  frontend/src/game/components/FeedChipStrip.tsx
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/feedBlockControls.ts
  frontend/src/game/feedChips.test.ts
  frontend/src/game/feedChips.ts
  frontend/src/game/playPreferences.test.ts
  frontend/src/game/playPreferences.ts
  frontend/src/store/CLAUDE.md
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

The Here panel's sections move under an Actions fold at the foot of the room view (#3856, PR 3 of 3) (#3874)
  frontend/e2e/feed-actions-fold.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/SidebarTabPanel.test.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

docs: require value tracing for wired surfaces (#3872)
  tools/skills/verify-against-code/SKILL.md
Due: none

The server renders the actor into every pose and say line, for the web payload, the REST row and telnet
  src/actions/definitions/communication.py
  src/actions/definitions/companions.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_companion_emote_action.py
  src/commands/evennia_overrides/communication.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/line_rendering.py
  src/world/scenes/tests/test_interaction_serializers.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_language_interactions.py
  src/world/scenes/tests/test_line_rendering.py
  src/world/scenes/types.py
Due: getattr-literal

The readers show the server's line as the body, with the actor's name set heavier
  frontend/src/game/components/ExplorationReader.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/ActorLine.tsx
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/types.ts
Due: eslint, typescript, prettier

The line rides the live payload into the reader, and the docs, ADR-0299, glossary and journey describe it
  docs/adr/0299-the-actor-is-rendered-into-the-line-at-display-time.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/e2e/feed-sentences.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/CLAUDE.md
  frontend/src/scenes/components/ActorLine.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/hooks/wsPayloadToInteraction.test.ts
  src/schema.json
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/scenes/CLAUDE.md
Due: eslint, typescript, prettier

Fold in the demo-fidelity review: the line for a muted row and a masked persona is pinned; evidence screenshots for #3858 (removed again before merge)
  docs/reviews/3858/feed-sentences-1280.png
  docs/reviews/3858/feed-sentences-emit-companion-1280.png
  src/world/scenes/tests/test_interaction_serializers.py
Due: getattr-literal

Review evidence report for #3858 (removed again before merge)
  docs/reviews/3858/report.md
Due: none

Remove the review evidence files from the branch; the report lives on PR #3876 as a comment
  docs/reviews/3858/feed-sentences-1280.png
  docs/reviews/3858/feed-sentences-emit-companion-1280.png
  docs/reviews/3858/report.md
Due: none

The composer poses by default, a slash escapes to a command, and staff get a Commands mode with a console (#3857) (#3875)
  docs/systems/scenes.md
  frontend/e2e/composer-commands.spec.ts
  frontend/e2e/support/gameHarness.ts
  frontend/src/components/RichTextInput.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/attention.test.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/StaffConsole.test.tsx
  frontend/src/game/components/StaffConsole.tsx
  frontend/src/hooks/CLAUDE.md
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/scenes/components/ModeSelector.test.tsx
  frontend/src/scenes/components/ModeSelector.tsx
  frontend/src/store/CLAUDE.md
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
  src/server/CLAUDE.md
  src/server/conf/inputfuncs.py
  src/server/conf/serversession.py
  src/server/conf/settings.py
  src/web/tests/test_console_capture.py
Due: getattr-literal, eslint, typescript, prettier

Scene participation is read off the log: the first line is the entrance, the threshold is not addressable, and room_state marks it
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/participation.py
  src/world/scenes/reachability.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/tests/test_participation.py
  src/world/scenes/tests/test_reachability.py
Due: getattr-literal

Say and pose read as whole sentences: the actor is rendered into the line on web and telnet (#3858) (#3876)
  docs/adr/0299-the-actor-is-rendered-into-the-line-at-display-time.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/e2e/feed-sentences.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/ExplorationReader.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/generated/api.d.ts
  frontend/src/hooks/types.ts
  frontend/src/scenes/CLAUDE.md
  frontend/src/scenes/components/ActorLine.tsx
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/hooks/wsPayloadToInteraction.test.ts
  frontend/src/scenes/types.ts
  src/actions/definitions/communication.py
  src/actions/definitions/companions.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_companion_emote_action.py
  src/commands/evennia_overrides/communication.py
  src/schema.json
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/scenes/CLAUDE.md
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/line_rendering.py
  src/world/scenes/tests/test_interaction_serializers.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_language_interactions.py
  src/world/scenes/tests/test_line_rendering.py
  src/world/scenes/types.py
Due: getattr-literal, eslint, typescript, prettier
