Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(cg): invalidate draft cache on magic mutations, add restart button
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

fix(cg): invalidate draft cache on magic mutations, add restart button (#312)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

feat(cg): add stage validation error tooltips and fix attributes budget bug
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/types.test.ts
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_models.py
Due: getattr-literal, eslint, typescript, prettier

refactor(cg): extract validation to validators.py, add StageValidationErrors type
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/types.py
  src/world/character_creation/validators.py
  src/world/character_creation/views.py
Due: getattr-literal

feat(cg): add stage validation error tooltips and fix attributes budg… (#313)
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/types.test.ts
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/types.py
  src/world/character_creation/validators.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(cg): navigate away after approve/deny, log finalize errors
  frontend/src/staff/pages/StaffApplicationDetailPage.tsx
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(cg): complete approve-application flow with roster tenure creation
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_application_services.py
Due: getattr-literal

fix(cg): preserve application audit trail after draft deletion
  frontend/src/staff/pages/StaffApplicationDetailPage.tsx
  src/world/character_creation/migrations/0004_draftapplication_character_name_and_more.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(cg): navigate away after approve/deny, log finalize errors (#314)
  frontend/src/staff/pages/StaffApplicationDetailPage.tsx
  src/world/character_creation/migrations/0004_draftapplication_character_name_and_more.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(cg): store orphan flag in draft_data so backend validates it
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/types.ts
Due: eslint, typescript, prettier

fix(cg): store orphan flag in draft_data so backend validates it (#315)
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/types.ts
Due: eslint, typescript, prettier

fix(cg): derive heritage from Beginnings FK instead of hardcoding Normal
  src/world/character_creation/migrations/0005_beginnings_heritage.py
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

fix(cg): finalize form traits into true form during character creation
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

fix(cg): create CharacterAura and save glimpse_story during finalization
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/migrations/0002_characteraura_glimpse_story.py
  src/world/magic/models.py
Due: getattr-literal

feat(cg): add concept and quote fields to Identity stage
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal, eslint, typescript, prettier

refactor(cg): review cleanup — dead code, test mixin, validation hardening
  frontend/src/character-creation/components/IdentityStage.tsx
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal, eslint, typescript, prettier

Fix/heritage from beginnings (#316)
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/types.ts
  src/world/character_creation/migrations/0005_beginnings_heritage.py
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/magic/migrations/0002_characteraura_glimpse_story.py
  src/world/magic/models.py
Due: getattr-literal, eslint, typescript, prettier

feat(character-sheets): add read-only API endpoint with can_edit logic
  src/web/urls.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/urls.py
  src/world/character_sheets/views.py
Due: getattr-literal

feat(character-sheets): add identity and appearance serializer sections
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

feat(character-sheets): add stats and skills serializer sections
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

feat(character-sheets): add stats and skills serializer sections
  src/world/character_sheets/serializers.py
Due: getattr-literal

feat(character-sheets): add path detail and distinctions serializer sections
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

feat(character-sheets): add magic section to character sheet serializer
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

feat(character-sheets): add story, goals, guises, theming, profile_picture sections with query count test
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

refactor(character-sheets): remove slug fields from theming section
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal

refactor(character-sheets): replace dict[str, Any] returns with TypedDicts
  src/world/character_sheets/serializers.py
  src/world/character_sheets/types.py
Due: getattr-literal

refactor(character-sheets): co-locate prefetch declarations with to_attr
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

refactor(character-sheets): add first_tenure property and extract can_edit to service function
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/roster/models/roster_core.py
Due: getattr-literal

refactor(character-sheets): switch root model to CharacterSheet, eliminate SerializerMethodField
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/views.py
Due: getattr-literal

docs(character-sheets): restore per-query breakdown comment for query count test
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal

fix(character-sheets): correct AuraData/AuraThemingData types to Decimal, tighten _build_magic_aura type
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
Due: getattr-literal

Feature/character sheet api (#317)
  src/web/urls.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/character_sheets/urls.py
  src/world/character_sheets/views.py
  src/world/roster/models/roster_core.py
Due: getattr-literal

feat(magic): add Cantrip model for simplified CG magic selection
  src/world/magic/admin.py
  src/world/magic/constants.py
  src/world/magic/factories.py
  src/world/magic/migrations/0003_cantrip.py
  src/world/magic/models.py
  src/world/magic/tests/test_models.py
Due: getattr-literal

feat(magic): add Cantrip API endpoint for CG magic stage
  src/world/character_creation/urls.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_views.py
  src/world/magic/views.py
Due: getattr-literal

feat(magic): rewrite magic stage validation for cantrip selection
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/validators.py
Due: getattr-literal

feat(cg): make tradition optional, remove from Path & Skills validation
  src/world/character_creation/validators.py
Due: getattr-literal

feat(magic): rewrite finalize_magic_data for cantrip system
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

refactor(cg): remove Draft* and Template models, views, serializers
  src/world/character_creation/admin.py
  src/world/character_creation/constants.py
  src/world/character_creation/factories.py
  src/world/character_creation/migrations/0006_remove_draft_magic_and_template_models.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_projected_resonances.py
  src/world/character_creation/tests/test_traditions.py
  src/world/character_creation/types.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/distinctions/tests/test_views.py
  src/world/distinctions/views.py
Due: getattr-literal

feat(cg): add has_existing_characters flag to draft API response
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_serializers.py
Due: getattr-literal

feat(cg): add cantrip types, API, and query hook
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
Due: eslint, typescript, prettier
