Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

docs(adr-0171): fix fury registration claim (#2724)
  docs/adr/0171-code-required-content-rows-are-declared-config.md
Due: none

docs: ADR-0171 for the code-required content-row carve-out (#2724)
  docs/adr/0168-content-models-registration-is-the-seed-boundary.md
  docs/adr/0171-code-required-content-rows-are-declared-config.md
  docs/adr/README.md
Due: none

docs: document CONFIG_PREREQUISITES, owner_sheet, EXPORT_FILTERS (#2724)
  docs/systems/INDEX.md
  docs/systems/checks.md
  docs/systems/magic.md
Due: none

docs: regenerate MODEL_MAP; fix stale ADR-0169 ref (#2724)
  docs/systems/MODEL_MAP.md
  src/world/seeds/config_prerequisites.py
Due: getattr-literal

Fix dreams' if-created trait trap; promote stat-trait defaults to world.traits (#2724)
  src/world/dreams/conditions.py
  src/world/fatigue/constants.py
  src/world/fatigue/services.py
  src/world/seeds/config_prerequisites.py
  src/world/seeds/tests/test_config_prerequisites.py
  src/world/traits/constants.py
  src/world/traits/services.py
Due: getattr-literal

Magic: how absolute is Subtle casting, and what seam carries cast observation? (#2735)
  docs/adr/0170-cast-observation-is-a-per-observer-resolution-at-the-pose-seam.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/commands/pull_parsing.py
  src/schema.json
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/constants.py
  src/world/magic/factories.py
  src/world/magic/migrations/0133_techniquestyle_cast_concealment.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/techniques.py
  src/world/magic/narration.py
  src/world/magic/services/cast_observation.py
  src/world/magic/tests/services/test_cast_observation.py
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/constants.py
  src/world/scenes/interaction_permissions.py
  src/world/scenes/interaction_services.py
  src/world/scenes/migrations/0057_alter_interaction_visibility.py
  src/world/scenes/migrations/0058_sceneactionrequest_cast_openly.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_cast_concealment.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal, eslint, typescript, prettier

Gameplay paths lazily create CONTENT_MODELS rows, injecting content into the corpus outside any Big Button press (#2738)
  docs/adr/0168-content-models-registration-is-the-seed-boundary.md
  docs/adr/0171-code-required-content-rows-are-declared-config.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/checks.md
  docs/systems/magic.md
  src/core_management/content_export.py
  src/core_management/tests/test_content_export.py
  src/world/character_creation/tests/test_services.py
  src/world/checks/admin.py
  src/world/checks/migrations/0028_checktype_owner_sheet.py
  src/world/checks/migrations/max_migration.txt
  src/world/checks/models.py
  src/world/dreams/conditions.py
  src/world/fatigue/constants.py
  src/world/fatigue/services.py
  src/world/magic/seeds_checks.py
  src/world/magic/services/anima.py
  src/world/magic/services/fury.py
  src/world/magic/tests/test_anima_ritual_name.py
  src/world/magic/tests/test_character_cast_check.py
  src/world/projects/services.py
  src/world/seeds/config_prerequisites.py
  src/world/seeds/database.py
  src/world/seeds/tests/test_config_prerequisites.py
  src/world/traits/constants.py
  src/world/traits/services.py
Due: getattr-literal

feat: add enhances_assessment and assess_prose fields + migrations (#2716)
  src/world/combat/migrations/0062_opponenttiertemplate_assess_prose.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_models.py
  src/world/covenants/migrations/0051_covenantrole_enhances_assessment.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_weakness.py
Due: getattr-literal

feat(combat): add consider_opponent service function and enhancement detection (#2716)
  src/world/combat/consider.py
  src/world/combat/tests/test_consider.py
Due: getattr-literal

feat(combat): add ConsiderReadingSerializer + REST endpoint (#2716)
  src/world/combat/serializers.py
  src/world/combat/tests/test_consider.py
  src/world/combat/views.py
Due: getattr-literal

feat(combat): add ConsiderReading model, band computation, and skew logic (#2716)
  src/world/combat/consider.py
  src/world/combat/migrations/0063_considerreading.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_consider.py
  src/world/combat/tests/test_models.py
Due: getattr-literal

feat(commands): add consider telnet command (#2716)
  src/commands/consider.py
  src/commands/default_cmdsets.py
Due: getattr-literal

docs: update glossary for consider and enhanced assessment (#2716)
  src/world/combat/AGENT_GLOSSARY.md
  src/world/covenants/AGENT_GLOSSARY.md
Due: none

fix: regenerate API types for consider endpoint (#2716)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Roster taxonomy: RosterType as the single typed key (#2728 phase 1) (#2737)
  docs/systems/INDEX.md
  docs/systems/roster.md
  src/typeclasses/tests/test_account_puppet_broadcast.py
  src/typeclasses/tests/test_cmdset_updates.py
  src/web/api/payload_helpers.py
  src/web/api/serializers.py
  src/web/tests/test_account_player_serializer_available_chars.py
  src/web/tests/test_account_player_serializer_full_payload.py
  src/web/tests/test_api.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/tests/test_email_service.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_services.py
  src/world/character_sheets/tests/test_oc_cap.py
  src/world/magic/tests/test_character_cast_check.py
  src/world/roster/admin.py
  src/world/roster/factories.py
  src/world/roster/managers.py
  src/world/roster/migrations/0010_roster_roster_type.py
  src/world/roster/migrations/0011_alter_roster_roster_type.py
  src/world/roster/migrations/0012_roster_roster_roster_type_in_vocabulary.py
  src/world/roster/migrations/max_migration.txt
  src/world/roster/models/choices.py
  src/world/roster/models/roster_core.py
  src/world/roster/policy_service.py
  src/world/roster/seeds.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_cloudinary_services.py
  src/world/roster/tests/test_models.py
  src/world/roster/tests/test_roster_seed.py
  src/world/roster/tests/test_roster_type.py
  src/world/roster/tests/test_serializers.py
  src/world/roster/tests/test_services.py
  src/world/roster/tests/test_viewset.py
  src/world/roster/views/roster_views.py
  src/world/scenes/tests/test_cast_per_character_check.py
  src/world/seeds/character_creation.py
  src/world/seeds/clusters.py
Due: getattr-literal

fix: regenerate API types from fresh schema build (#2716)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Shared absence vocabulary + OOC/IC state split (#2728 phase 2)
  docs/systems/INDEX.md
  docs/systems/stakes.md
  src/world/character_sheets/managers.py
  src/world/character_sheets/migrations/0014_alter_charactersheet_lifecycle_state.py
  src/world/character_sheets/migrations/max_migration.txt
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_managers.py
  src/world/character_sheets/types.py
  src/world/roster/managers.py
  src/world/roster/services/activity.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_managers.py
  src/world/stories/migrations/0029_alter_stakeresolution_machine_match_lifecycle_state_and_more.py
  src/world/stories/migrations/max_migration.txt
Due: getattr-literal

Regenerate API types for the LifecycleState.UNKNOWN split (#2728)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Narrative /consider — a threat readout built on the opponent level #2707 exposed (#2743)
  frontend/src/generated/api.d.ts
  src/commands/consider.py
  src/commands/default_cmdsets.py
  src/schema.json
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/consider.py
  src/world/combat/migrations/0062_opponenttiertemplate_assess_prose.py
  src/world/combat/migrations/0063_considerreading.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_consider.py
  src/world/combat/tests/test_models.py
  src/world/combat/views.py
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/covenants/migrations/0051_covenantrole_enhances_assessment.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_weakness.py
Due: getattr-literal, eslint, typescript, prettier

Sweep scoping, auto-release, and per-character activity bar (#2728 phase 3)
  docs/systems/INDEX.md
  docs/systems/roster.md
  src/typeclasses/characters.py
  src/world/buildings/mothball_services.py
  src/world/character_sheets/managers.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_managers.py
  src/world/roster/admin.py
  src/world/roster/migrations/0013_remove_roster_activity_requirement_and_more.py
  src/world/roster/migrations/max_migration.txt
  src/world/roster/models/applications.py
  src/world/roster/models/roster_core.py
  src/world/roster/seeds.py
  src/world/roster/services/activity.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_auto_release.py
  src/world/roster/tests/test_roster_seed.py
Due: getattr-literal

feat(combat): Overconfident distinction biases consider toward underestimating (#2742)
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/consider.py
  src/world/combat/tests/test_consider.py
Due: getattr-literal

Shared absence vocabulary + OOC/IC state split (#2728 phase 2) (#2744)
  docs/systems/INDEX.md
  docs/systems/stakes.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_sheets/managers.py
  src/world/character_sheets/migrations/0014_alter_charactersheet_lifecycle_state.py
  src/world/character_sheets/migrations/max_migration.txt
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_managers.py
  src/world/character_sheets/types.py
  src/world/roster/managers.py
  src/world/roster/services/activity.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_managers.py
  src/world/stories/migrations/0029_alter_stakeresolution_machine_match_lifecycle_state_and_more.py
  src/world/stories/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Overconfident distinction — biases consider failures toward underestimating (#2751)
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/consider.py
  src/world/combat/tests/test_consider.py
Due: getattr-literal

Compose Resist Corruption + Medicine checks, wire into factories/seeds (#2747, #2748)
  src/world/magic/factories.py
  src/world/magic/seeds_checks.py
  src/world/vitals/constants.py
  src/world/vitals/seeds.py
  src/world/vitals/services.py
Due: getattr-literal

Fix test assertions for Resist Corruption + 6th magic check type (#2747)
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/world/magic/tests/test_reference_corruption_content.py
  src/world/magic/tests/test_seeds_checks.py
Due: getattr-literal

Compose Resist Corruption + Medicine checks, wire into factories/seeds (#2747, #2748) (#2755)
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/world/magic/factories.py
  src/world/magic/seeds_checks.py
  src/world/magic/tests/test_reference_corruption_content.py
  src/world/magic/tests/test_seeds_checks.py
  src/world/vitals/constants.py
  src/world/vitals/seeds.py
  src/world/vitals/services.py
Due: getattr-literal

feat(checks): add perform_check_with_modifiers helper (#2750)
  src/world/checks/services.py
  src/world/checks/tests/test_perform_check_with_modifiers.py
Due: getattr-literal

refactor: route 46 perform_check callers through aggregator (#2750)
  src/world/agriculture/services/collection.py
  src/world/assets/effects.py
  src/world/battles/tests/test_resolution.py
  src/world/ceremonies/leak.py
  src/world/ceremonies/services.py
  src/world/clues/services.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_advance_resist.py
  src/world/conditions/tests/test_apply_resist_check.py
  src/world/currency/services.py
  src/world/fatigue/services.py
  src/world/fatigue/tests/test_services.py
  src/world/forms/services/identification.py
  src/world/items/crafting/services.py
  src/world/items/gems/services.py
  src/world/items/services/reclamation.py
  src/world/justice/case_file.py
  src/world/justice/evidence.py
  src/world/justice/lifecycle.py
  src/world/justice/pipeline.py
  src/world/magic/services/anima.py
  src/world/magic/services/cast_observation.py
  src/world/magic/services/condition_application.py
  src/world/magic/services/fury.py
  src/world/magic/services/resonance_environment.py
  src/world/magic/services/soul_tether.py
  src/world/magic/services/technique_training.py
  src/world/magic/tests/services/test_cast_observation.py
  src/world/magic/tests/test_condition_application.py
  src/world/magic/tests/test_pending_stage_advance_offer.py
  src/world/magic/tests/test_soul_tether_subscribers.py
  src/world/missions/services/report.py
  src/world/npc_services/guard_services.py
  src/world/npc_services/services.py
  src/world/projects/services.py
  src/world/secrets/gossip.py
  src/world/societies/scandal.py
  src/world/vitals/services.py
Due: getattr-literal

docs: document perform_check_with_modifiers helper (#2750)
  src/world/checks/CLAUDE.md
Due: none

CI fixes: match CI's api.d.ts consequence-pool id form; static birthday-tick log line
  frontend/src/generated/api.d.ts
  src/world/game_clock/tasks.py
Due: getattr-literal, eslint, typescript, prettier

CI fixes: identity-keys test gains the age-axis fields; birthday pair on remaining finalize-test drafts
  src/world/character_sheets/tests/test_viewset.py
  src/world/magic/tests/test_character_cast_check.py
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/scenes/tests/test_cast_per_character_check.py
  src/world/seeds/tests/test_playable_slice.py
  src/world/tidings/tests/test_birthday_feed.py
Due: getattr-literal

fix: update test patches and query count for aggregator migration (#2750)
  src/world/agriculture/tests/test_collection_events.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/magic/tests/test_resonance_environment_service.py
  src/world/magic/tests/test_technique_training.py
Due: getattr-literal

fix: update E2E test patch for vitals aggregator migration (#2750)
  src/integration_tests/pipeline/test_battle_peril_rescue_e2e.py
Due: getattr-literal

feat: add SpeciesGiftGrant.inheritable flag + form-trait ancestor walk
  src/world/forms/services/__init__.py
  src/world/forms/tests/test_services.py
  src/world/species/migrations/0006_speciesgiftgrant_inheritable.py
  src/world/species/migrations/max_migration.txt
  src/world/species/models.py
  src/world/species/services.py
  src/world/species/tests/test_provision_species_gifts.py
Due: getattr-literal

Sweep scoping, auto-release, and per-character activity bar (#2728 phase 3) (#2745)
  docs/systems/INDEX.md
  docs/systems/roster.md
  src/typeclasses/characters.py
  src/world/buildings/mothball_services.py
  src/world/character_sheets/managers.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_managers.py
  src/world/roster/admin.py
  src/world/roster/migrations/0013_remove_roster_activity_requirement_and_more.py
  src/world/roster/migrations/max_migration.txt
  src/world/roster/models/applications.py
  src/world/roster/models/roster_core.py
  src/world/roster/seeds.py
  src/world/roster/services/activity.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_auto_release.py
  src/world/roster/tests/test_roster_seed.py
Due: getattr-literal

Species parent-chain fixes: inheritable flag + form-trait ancestor walk (#2763)
  src/world/forms/services/__init__.py
  src/world/forms/tests/test_services.py
  src/world/species/migrations/0007_speciesgiftgrant_inheritable.py
  src/world/species/migrations/max_migration.txt
  src/world/species/models.py
  src/world/species/services.py
  src/world/species/tests/test_provision_species_gifts.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
