Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(character_sheets): add CharacterIdentity model with guise/persona auto-creation
  src/world/character_sheets/factories.py
  src/world/character_sheets/identity_services.py
  src/world/character_sheets/migrations/0004_characteridentity.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_models.py
Due: getattr-literal

docs: persona simplification design — collapse Guise + Persona into Persona
  docs/plans/2026-03-22-persona-simplification-design.md
Due: none

docs: persona simplification implementation plan (19 tasks)
  docs/plans/2026-03-22-persona-simplification-plan.md
Due: none

Fix test failures from Persona Simplification refactor
  src/world/character_sheets/tests/test_viewset.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_permissions.py
  src/world/scenes/tests/test_summary_views.py
  src/world/scenes/tests/test_view_actions_permissions.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/views.py
  src/world/societies/migrations/0002_create_legend_materialized_views.py
  src/world/societies/tests/test_services.py
Due: getattr-literal

docs: update guidance to preserve dev database
  CLAUDE.md
  django_notes.md
  docs/architecture/property-capability-action.md
  docs/roadmap/capabilities-and-challenges.md
Due: none

fix: add missing materialized view migrations for areas and codex
  src/world/areas/migrations/0002_create_areaclosure_view.py
  src/world/codex/migrations/0003_create_subjectbreadcrumb_view.py
Due: getattr-literal

docs: remove 'no production data' language from partition SQL comments
  src/world/scenes/sql/partition_interaction_forward.sql
Due: none

fix: update stale Guise references in docs, tests, and models
  docs/roadmap/rp-scenes.md
  docs/scenes-technical.md
  docs/systems/character_sheets.md
  docs/systems/societies.md
  src/world/CLAUDE.md
  src/world/character_sheets/CLAUDE.md
  src/world/character_sheets/tests/test_models.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/models.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/societies/CLAUDE.md
  src/world/societies/models.py
  src/world/societies/tests/test_models.py
  src/world/societies/tests/test_services.py
Due: getattr-literal

Add Place, PlacePresence, InteractionReceiver models and place FK on Interaction
  src/world/scenes/admin.py
  src/world/scenes/constants.py
  src/world/scenes/factories.py
  src/world/scenes/migrations/0002_place_interaction_place_placepresence_and_more.py
  src/world/scenes/models.py
  src/world/scenes/place_models.py
  src/world/scenes/tests/test_place_models.py
Due: getattr-literal

Refactor interaction system to use InteractionReceiver, remove InteractionAudience
  src/world/scenes/admin.py
  src/world/scenes/factories.py
  src/world/scenes/interaction_permissions.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/migrations/0003_delete_interactionaudience.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/tests/test_models.py
Due: getattr-literal

Add SceneActionRequest model for social action checks in scenes
  src/world/scenes/action_constants.py
  src/world/scenes/action_models.py
  src/world/scenes/factories.py
  src/world/scenes/migrations/0004_sceneactionrequest.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_action_models.py
Due: getattr-literal

Add social action stubs: intimidate, persuade, deceive, flirt, perform, entrance
  src/actions/definitions/social.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_social.py
Due: getattr-literal

Add resolve_scene_action and consent flow for scene action requests
  src/actions/services.py
  src/actions/tests/test_scene_resolution.py
  src/actions/types.py
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

Add API endpoints for scene action requests and place management
  src/world/scenes/action_filters.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/place_filters.py
  src/world/scenes/place_services.py
  src/world/scenes/place_views.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_place_services.py
  src/world/scenes/urls.py
Due: getattr-literal

Add frontend components for scene checks and place management
  frontend/src/scenes/actionQueries.test.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/ActionResult.test.tsx
  frontend/src/scenes/components/ActionResult.tsx
  frontend/src/scenes/components/ConsentPrompt.test.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  frontend/src/scenes/components/PlaceBar.tsx
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
Due: eslint, typescript, prettier

docs: mark Phase 5.6 (scene check integration) as DONE
  docs/roadmap/capabilities-and-challenges.md
Due: none

docs: SceneMessage deprecation phase 1 implementation plan (7 tasks)
  docs/plans/2026-03-23-scenemessage-deprecation-plan.md
Due: none

docs: SceneMessage deprecation design — WebSocket interactions + REST history
  docs/plans/2026-03-23-scenemessage-deprecation-design.md
Due: none

feat(scenes): add push_interaction() and wire into record_interaction
  src/world/scenes/admin.py
  src/world/scenes/factories.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/migrations/0002_interactionreaction.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_interaction_reactions.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/urls.py
Due: getattr-literal

feat(scenes): InteractionReaction, push_interaction, reaction API
  src/world/scenes/interaction_serializers.py
  src/world/scenes/migrations/0005_interactionreaction.py
  src/world/scenes/sql/partition_interaction_forward.sql
  src/world/scenes/sql/partition_interaction_reverse.sql
Due: getattr-literal

feat(frontend): switch scene feed to Interaction API + WebSocket
  frontend/src/hooks/handleInteractionPayload.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

fix: resolve review issues — persona serializer, cursor pagination, WebSocket filtering
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/handleScenePayload.ts
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/types.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  src/world/scenes/interaction_filters.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_interaction_views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(scenes): remove SceneMessage model and all legacy code
  frontend/src/scenes/CLAUDE.md
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
  src/flows/tests/test_message_location.py
  src/world/CLAUDE.md
  src/world/scenes/CLAUDE.md
  src/world/scenes/admin.py
  src/world/scenes/constants.py
  src/world/scenes/factories.py
  src/world/scenes/filters.py
  src/world/scenes/migrations/0006_remove_scenemessagereaction_message_and_more.py
  src/world/scenes/models.py
  src/world/scenes/pagination.py
  src/world/scenes/permissions.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_permissions.py
  src/world/scenes/tests/test_view_actions_permissions.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/urls.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(frontend): update test mocks for clearSceneInteractions dispatching
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/__tests__/handleScenePayload.test.ts
Due: eslint, typescript, prettier

docs: update rp-scenes roadmap with current state
  docs/roadmap/rp-scenes.md
Due: none

docs: rich text editor design — markdown + xterm-256 colors
  docs/plans/2026-03-23-rich-text-editor-design.md
Due: none

docs: rich text editor implementation plan (7 tasks)
  docs/plans/2026-03-23-rich-text-editor-plan.md
Due: none

feat(frontend): xterm-256 lookup, content parser, and FormattedContent renderer
  frontend/src/components/FormattedContent.tsx
  frontend/src/components/__tests__/FormattedContent.test.tsx
  frontend/src/lib/__tests__/formatParser.test.ts
  frontend/src/lib/__tests__/xterm256.test.ts
  frontend/src/lib/formatParser.ts
  frontend/src/lib/xterm256.ts
Due: eslint, typescript, prettier

feat(frontend): RichTextInput with toolbar, keyboard shortcuts, and color picker
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/components/__tests__/ColorPicker.test.tsx
  frontend/src/components/__tests__/RichTextInput.test.tsx
Due: eslint, typescript, prettier

feat(frontend): integrate RichTextInput and FormattedContent into game UI
  frontend/src/game/components/CommandInput.tsx
  frontend/src/scenes/components/SceneMessages.tsx
Due: eslint, typescript, prettier

fix(frontend): review fixes — memoization, union types, newline boundary, aria labels
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/FormattedContent.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/lib/__tests__/formatParser.test.ts
  frontend/src/lib/formatParser.ts
Due: eslint, typescript, prettier

Feature/rich text editor (#350)
  docs/plans/2026-03-23-rich-text-editor-design.md
  docs/plans/2026-03-23-rich-text-editor-plan.md
  docs/roadmap/rp-scenes.md
  frontend/src/components/ColorPicker.tsx
  frontend/src/components/FormattedContent.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/components/__tests__/ColorPicker.test.tsx
  frontend/src/components/__tests__/FormattedContent.test.tsx
  frontend/src/components/__tests__/RichTextInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/lib/__tests__/formatParser.test.ts
  frontend/src/lib/__tests__/xterm256.test.ts
  frontend/src/lib/formatParser.ts
  frontend/src/lib/xterm256.ts
  frontend/src/scenes/components/SceneMessages.tsx
Due: eslint, typescript, prettier

feat(scenes): ephemeral scene real-time delivery without persistence
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_interaction_services.py
Due: getattr-literal

fix(scenes): ephemeral whisper privacy, ID collisions, shared payload builder
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_interaction_services.py
Due: getattr-literal

fix(scenes): partition SQL, persona PROTECT, DB-backed active_scene, whisper privacy
  src/world/scenes/interaction_services.py
  src/world/scenes/migrations/0007_alter_interaction_persona_and_more.py
  src/world/scenes/models.py
  src/world/scenes/sql/partition_interaction_forward.sql
  src/world/scenes/sql/partition_interaction_reverse.sql
  src/world/scenes/tests/test_interaction_services.py
Due: getattr-literal

fix(scenes): resolve tech debt — N+1 caching, discovery normalization, cleanup
  src/flows/service_functions/movement.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/migrations/0008_personadiscovery_persona_discovery_normalized_order.py
  src/world/scenes/models.py
  src/world/scenes/place_models.py
  src/world/scenes/place_services.py
  src/world/scenes/sql/partition_interaction_forward.sql
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_models.py
Due: getattr-literal
