Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

GM combat lifecycle on web: encounter creation, NPC opponent spawn, manual round control, ready-toggle wiring (#3067)
  docs/roadmap/ROADMAP.md
  docs/roadmap/combat.md
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
  src/schema.json
  src/world/combat/permissions.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_views.py
  src/world/combat/urls.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

GM adjudication on web: check invocation, awards, conditions, and situation placement panel (#3070)
  frontend/src/generated/api.d.ts
  frontend/src/gm-adjudication/api.ts
  frontend/src/gm-adjudication/queries.ts
  frontend/src/gm-adjudication/types.ts
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
  src/schema.json
  src/world/checks/filters.py
  src/world/checks/serializers.py
  src/world/checks/tests/test_check_type_api.py
  src/world/checks/urls.py
  src/world/checks/views.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal, eslint, typescript, prettier

Docs in tandem: GMAdjudicationPanel web surface (#3070)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
Due: none

Social-scene wiring: web Start Scene converges on StartSceneAction, event RSVP web affordance, page verb reaches telnet (#3069) (#3074)
  docs/roadmap/events.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/events/components/EventInvitations.test.tsx
  frontend/src/events/components/EventInvitations.tsx
  frontend/src/events/queries.ts
  frontend/src/events/types.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  src/world/scenes/tests/test_permissions.py
  src/world/scenes/tests/test_protagonism_lock_scene.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

Group combo discoveries are shared-for-all: one grant_achievement call per combo group + shared flag on DiscoverySerializer (#3063) (#3076)
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/achievements/CLAUDE.md
  src/world/achievements/serializers.py
  src/world/achievements/tests/test_views.py
  src/world/combat/combo_discovery.py
  src/world/combat/tests/test_combo_discovery.py
Due: getattr-literal, eslint, typescript, prettier

Admit ActionEnhancement, TechniqueVariant and MagicalAlterationTemplate to the content catalog (#3034) (#3077)
  docs/roadmap/magic.md
  docs/systems/magic.md
  src/actions/models/enhancement.py
  src/core_management/content_export.py
  src/core_management/prose_fields.py
  src/core_management/tests/test_content_export.py
  src/world/magic/models/alterations.py
  src/world/magic/specialization/models.py
Due: getattr-literal

GM combat lifecycle on web: encounter creation, NPC opponent spawn, manual round control, ready-toggle wiring (#3067) (#3078)
  docs/roadmap/ROADMAP.md
  docs/roadmap/combat.md
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
  src/schema.json
  src/world/combat/permissions.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_views.py
  src/world/combat/urls.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

GM adjudication on web: check invocation, awards, conditions, and situation placement panel (#3070) (#3079)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  frontend/src/gm-adjudication/api.ts
  frontend/src/gm-adjudication/queries.ts
  frontend/src/gm-adjudication/types.ts
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
  src/schema.json
  src/world/checks/filters.py
  src/world/checks/serializers.py
  src/world/checks/tests/test_check_type_api.py
  src/world/checks/urls.py
  src/world/checks/views.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal, eslint, typescript, prettier

Guarded beta-reset command: hardcoded constant, one-way release latch, typed phrase, dry-run default (#3055 PR 2)
  .github/workflows/ci.yml
  AGENT_GLOSSARY_MAP.md
  docs/adr/0207-beta-reset-guarded-by-hardcoded-constant-and-one-way-latch.md
  docs/adr/README.md
  docs/roadmap/character-progression.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/beta_reset.md
  src/world/beta_reset/AGENT_GLOSSARY.md
  src/world/beta_reset/__init__.py
  src/world/beta_reset/exceptions.py
  src/world/beta_reset/models.py
  src/world/beta_reset/services.py
  src/world/beta_reset/tests/__init__.py
  src/world/beta_reset/tests/test_command.py
  src/world/beta_reset/tests/test_service.py
  src/world/management/commands/beta_reset.py
  src/world/management/commands/mark_beta_release.py
  src/world/migrations/0124_beta_reset_release_latch.py
  src/world/migrations/max_migration.txt
  src/world/models.py
Due: getattr-literal

Invitation-gated registration: closed by default, staff invites, DB-singleton toggle (#3054)
  .github/workflows/ci.yml
  src/evennia_extensions/adapters.py
  src/server/conf/connection_screens.py
  src/server/conf/settings.py
  src/typeclasses/tests/test_connection_screen_web_pointer.py
  src/web/api/tests/test_registration_verification_flow.py
  src/web/urls.py
  src/world/admin.py
  src/world/migrations/0124_accountinvite_registrationconfig.py
  src/world/migrations/max_migration.txt
  src/world/models.py
  src/world/registration/__init__.py
  src/world/registration/admin.py
  src/world/registration/constants.py
  src/world/registration/factories.py
  src/world/registration/filters.py
  src/world/registration/models.py
  src/world/registration/serializers.py
  src/world/registration/services.py
  src/world/registration/staff_urls.py
  src/world/registration/tests/__init__.py
  src/world/registration/tests/test_adapter.py
  src/world/registration/tests/test_api.py
  src/world/registration/tests/test_models.py
  src/world/registration/tests/test_services.py
  src/world/registration/tests/test_signup_journey.py
  src/world/registration/urls.py
  src/world/registration/views.py
Due: getattr-literal

Invitation-gated registration: frontend signup gate + staff invites UI (#3054)
  frontend/src/App.tsx
  frontend/src/evennia_replacements/RegisterPage.test.tsx
  frontend/src/evennia_replacements/RegisterPage.tsx
  frontend/src/evennia_replacements/api.ts
  frontend/src/evennia_replacements/queries.tsx
  frontend/src/evennia_replacements/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffHubPage.tsx
  frontend/src/staff/pages/StaffInvitesPage.test.tsx
  frontend/src/staff/pages/StaffInvitesPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
  src/schema.json
Due: eslint, typescript, prettier

docs: registration system doc, INDEX/MODEL_MAP regen, ADR-0208, deploy runbook note (#3054)
  docs/adr/0208-invite-gated-registration-db-singleton-toggle.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/registration.md
  infra/README.md
Due: none

Advancement on web: breakthroughs, class unlocks, training allocation, and Durance cards on the sheet (#3045)
  docs/roadmap/character-progression.md
  docs/systems/INDEX.md
  docs/systems/progression.md
  frontend/src/generated/api.d.ts
  frontend/src/goals/api.ts
  frontend/src/goals/components/GoalsPanel.test.tsx
  frontend/src/goals/components/GoalsPanel.tsx
  frontend/src/goals/queries.ts
  frontend/src/goals/types.ts
  frontend/src/progression/XpKudosPage.tsx
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
  frontend/src/progression/api.ts
  frontend/src/progression/components/advancement/AdvancementTab.test.tsx
  frontend/src/progression/components/advancement/AdvancementTab.tsx
  frontend/src/progression/components/advancement/BreakthroughsCard.test.tsx
  frontend/src/progression/components/advancement/BreakthroughsCard.tsx
  frontend/src/progression/components/advancement/ClassUnlocksCard.test.tsx
  frontend/src/progression/components/advancement/ClassUnlocksCard.tsx
  frontend/src/progression/components/advancement/DuranceCard.test.tsx
  frontend/src/progression/components/advancement/DuranceCard.tsx
  frontend/src/progression/components/advancement/TrainingCard.test.tsx
  frontend/src/progression/components/advancement/TrainingCard.tsx
  frontend/src/progression/components/advancement/UnlockItemRow.tsx
  frontend/src/progression/queries.ts
  frontend/src/progression/types.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/skills/api.ts
  frontend/src/skills/queries.ts
  frontend/src/skills/types.ts
  src/schema.json
  src/world/magic/views.py
  src/world/progression/serializers/durance.py
  src/world/progression/tests/test_durance_status_view.py
  src/world/progression/tests/test_durance_web_join_autofire.py
  src/world/progression/urls.py
  src/world/progression/views.py
Due: getattr-literal, eslint, typescript, prettier

Mission discovery on web: board dialog, examine-on-click, and NPC talk in the room view (#3044)
  docs/roadmap/missions.md
  docs/systems/INDEX.md
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/NpcGiversBlock.test.tsx
  frontend/src/game/components/room-panel/NpcGiversBlock.tsx
  frontend/src/game/components/room-panel/ObjectsList.test.tsx
  frontend/src/game/components/room-panel/ObjectsList.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/missions/__tests__/MissionBoardDialog.test.tsx
  frontend/src/missions/components/MissionBoardDialog.tsx
  frontend/src/missions/queries.ts
  frontend/src/store/gameSlice.ts
  src/actions/definitions/perception.py
  src/actions/tests/test_actions.py
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
  src/world/missions/AGENT_GLOSSARY.md
  src/world/missions/tests/test_trigger_dispatch.py
  src/world/npc_services/AGENT_GLOSSARY.md
Due: getattr-literal, eslint, typescript, prettier

Player trap loop: detection rides search, visible traps read endpoint, disarm affordance on web and telnet (#3011)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/TrapsBlock.test.tsx
  frontend/src/game/components/room-panel/TrapsBlock.tsx
  frontend/src/generated/api.d.ts
  frontend/src/room_features/api.ts
  frontend/src/room_features/queries.ts
  src/actions/definitions/investigation.py
  src/actions/tests/test_investigation.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_traps.py
  src/commands/traps.py
  src/schema.json
  src/world/migrations/0124_alter_trap_is_hidden.py
  src/world/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/serializers_traps.py
  src/world/room_features/tests/test_traps.py
  src/world/room_features/tests/test_views_traps.py
  src/world/room_features/trap_services.py
  src/world/room_features/urls.py
  src/world/room_features/views_traps.py
Due: getattr-literal, eslint, typescript, prettier

Lethal NPC duels: GM-initiated, consent-gated, from the combat panel (#3068)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/combat/DuelChallengeNotifier.tsx
  frontend/src/combat/__tests__/DuelChallengeNotifier.test.tsx
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/generated/api.d.ts
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_lethal_duel_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/schema.json
  src/world/combat/constants.py
  src/world/combat/duels.py
  src/world/combat/models.py
  src/world/combat/permissions.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_duels_services.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
  src/world/migrations/0124_duelchallenge_is_lethal_duelchallenge_opponent_name_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Guarded beta-reset command: hardcoded constant, one-way release latch, typed phrase, dry-run default (#3055 PR 2) (#3080)
  .github/workflows/ci.yml
  AGENT_GLOSSARY_MAP.md
  docs/adr/0207-beta-reset-guarded-by-hardcoded-constant-and-one-way-latch.md
  docs/adr/README.md
  docs/roadmap/character-progression.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/beta_reset.md
  src/world/beta_reset/AGENT_GLOSSARY.md
  src/world/beta_reset/__init__.py
  src/world/beta_reset/exceptions.py
  src/world/beta_reset/models.py
  src/world/beta_reset/services.py
  src/world/beta_reset/tests/__init__.py
  src/world/beta_reset/tests/test_command.py
  src/world/beta_reset/tests/test_service.py
  src/world/management/commands/beta_reset.py
  src/world/management/commands/mark_beta_release.py
  src/world/migrations/0124_beta_reset_release_latch.py
  src/world/migrations/max_migration.txt
  src/world/models.py
Due: getattr-literal

Mission discovery on web: board dialog, examine-on-click, and NPC talk in the room view (#3044) (#3083)
  docs/roadmap/missions.md
  docs/systems/INDEX.md
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/NpcGiversBlock.test.tsx
  frontend/src/game/components/room-panel/NpcGiversBlock.tsx
  frontend/src/game/components/room-panel/ObjectsList.test.tsx
  frontend/src/game/components/room-panel/ObjectsList.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/missions/__tests__/MissionBoardDialog.test.tsx
  frontend/src/missions/components/MissionBoardDialog.tsx
  frontend/src/missions/queries.ts
  frontend/src/store/gameSlice.ts
  src/actions/definitions/perception.py
  src/actions/tests/test_actions.py
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
  src/world/missions/AGENT_GLOSSARY.md
  src/world/missions/tests/test_trigger_dispatch.py
  src/world/npc_services/AGENT_GLOSSARY.md
Due: getattr-literal, eslint, typescript, prettier

Pre-scene RP capture: scene start adopts participants' unattached poses, consent-gated for others, starter truncation (#3069)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/scenes.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/PrecaptureConsentNotifier.test.tsx
  frontend/src/scenes/components/PrecaptureConsentNotifier.tsx
  frontend/src/scenes/components/PrecapturePanel.test.tsx
  frontend/src/scenes/components/PrecapturePanel.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/precaptureQueries.ts
  frontend/src/scenes/types.ts
  src/actions/definitions/scenes.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_precapture_actions.py
  src/commands/scene.py
  src/schema.json
  src/world/migrations/0124_precapture_consent_request.py
  src/world/migrations/max_migration.txt
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/scenes/apps.py
  src/world/scenes/models.py
  src/world/scenes/precapture_models.py
  src/world/scenes/precapture_offer_handler.py
  src/world/scenes/precapture_services.py
  src/world/scenes/precapture_views.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_precapture_services.py
  src/world/scenes/tests/test_precapture_views.py
  src/world/scenes/urls.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

Advancement on web: breakthroughs, class unlocks, training allocation, and Durance cards on the sheet (#3045) (#3082)
  docs/roadmap/character-progression.md
  docs/systems/INDEX.md
  docs/systems/progression.md
  frontend/src/generated/api.d.ts
  frontend/src/goals/api.ts
  frontend/src/goals/components/GoalsPanel.test.tsx
  frontend/src/goals/components/GoalsPanel.tsx
  frontend/src/goals/queries.ts
  frontend/src/goals/types.ts
  frontend/src/progression/XpKudosPage.tsx
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
  frontend/src/progression/api.ts
  frontend/src/progression/components/advancement/AdvancementTab.test.tsx
  frontend/src/progression/components/advancement/AdvancementTab.tsx
  frontend/src/progression/components/advancement/BreakthroughsCard.test.tsx
  frontend/src/progression/components/advancement/BreakthroughsCard.tsx
  frontend/src/progression/components/advancement/ClassUnlocksCard.test.tsx
  frontend/src/progression/components/advancement/ClassUnlocksCard.tsx
  frontend/src/progression/components/advancement/DuranceCard.test.tsx
  frontend/src/progression/components/advancement/DuranceCard.tsx
  frontend/src/progression/components/advancement/TrainingCard.test.tsx
  frontend/src/progression/components/advancement/TrainingCard.tsx
  frontend/src/progression/components/advancement/UnlockItemRow.tsx
  frontend/src/progression/queries.ts
  frontend/src/progression/types.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/skills/api.ts
  frontend/src/skills/queries.ts
  frontend/src/skills/types.ts
  src/schema.json
  src/world/magic/views.py
  src/world/progression/serializers/durance.py
  src/world/progression/tests/test_durance_status_view.py
  src/world/progression/tests/test_durance_web_join_autofire.py
  src/world/progression/urls.py
  src/world/progression/views.py
Due: getattr-literal, eslint, typescript, prettier

Player trap loop: detection rides search, visible traps read endpoint, disarm affordance on web and telnet (#3011) (#3085)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/TrapsBlock.test.tsx
  frontend/src/game/components/room-panel/TrapsBlock.tsx
  frontend/src/generated/api.d.ts
  frontend/src/room_features/api.ts
  frontend/src/room_features/queries.ts
  src/actions/definitions/investigation.py
  src/actions/tests/test_investigation.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_traps.py
  src/commands/traps.py
  src/schema.json
  src/world/migrations/0126_alter_trap_is_hidden.py
  src/world/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/serializers_traps.py
  src/world/room_features/tests/test_traps.py
  src/world/room_features/tests/test_views_traps.py
  src/world/room_features/trap_services.py
  src/world/room_features/urls.py
  src/world/room_features/views_traps.py
Due: getattr-literal, eslint, typescript, prettier

Make SIGNIFICANT_NPC_TIERS an ordered tuple so the generated OpenAPI enum is deterministic (api-types-drift CI fix)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/constants.py
Due: getattr-literal, eslint, typescript, prettier

Lethal NPC duels: GM-initiated, consent-gated, from the combat panel (#3068) (#3086)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/combat/DuelChallengeNotifier.tsx
  frontend/src/combat/__tests__/DuelChallengeNotifier.test.tsx
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/generated/api.d.ts
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_lethal_duel_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/schema.json
  src/world/combat/constants.py
  src/world/combat/duels.py
  src/world/combat/models.py
  src/world/combat/permissions.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_duels_services.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
  src/world/migrations/0127_duelchallenge_is_lethal_duelchallenge_opponent_name_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Pre-scene RP capture: scene start adopts participants' unattached poses, consent-gated for others, starter truncation (#3069) (#3088)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/scenes.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/PrecaptureConsentNotifier.test.tsx
  frontend/src/scenes/components/PrecaptureConsentNotifier.tsx
  frontend/src/scenes/components/PrecapturePanel.test.tsx
  frontend/src/scenes/components/PrecapturePanel.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/precaptureQueries.ts
  frontend/src/scenes/types.ts
  src/actions/definitions/scenes.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_precapture_actions.py
  src/commands/scene.py
  src/schema.json
  src/world/migrations/0128_precapture_consent_request.py
  src/world/migrations/max_migration.txt
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/scenes/apps.py
  src/world/scenes/models.py
  src/world/scenes/precapture_models.py
  src/world/scenes/precapture_offer_handler.py
  src/world/scenes/precapture_services.py
  src/world/scenes/precapture_views.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_precapture_services.py
  src/world/scenes/tests/test_precapture_views.py
  src/world/scenes/urls.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

Align committed schema with CI's regen for the consequence-pool catalog (api-types-drift fix)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Reconcile the consequence layer's content registration with seeder bootstrap rows: written_by content-side split + natural-key crafting assertion (#3071 CI fix)
  src/core_management/content_export.py
  src/core_management/tests/test_content_export.py
  src/world/items/crafting/models.py
  src/world/items/tests/test_crafting_natural_keys.py
Due: getattr-literal

feat(#3091): six-step TitleTier, stature/prestige-rank models, union stature vocabulary
  src/world/migrations/0131_prestigerankband_statureband_and_more.py
  src/world/migrations/max_migration.txt
  src/world/roster/models/families.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
Due: getattr-literal

feat(#3091): stature computation, perception lag, seams, weekly tick, predation weighting
  src/world/game_clock/tasks.py
  src/world/societies/apps.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/crisis_services.py
  src/world/societies/houses/services.py
  src/world/societies/houses/stature_services.py
  src/world/societies/tests/test_stature.py
  src/world/vitals/services.py
Due: getattr-literal

feat(#3091): stature espionage, API panel payload, tidings, realm ranks
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/migrations/0132_taskoutcomeroute_whisper_stature_delta.py
  src/world/migrations/0133_housestature_realm_cohort_size_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/stature_services.py
  src/world/societies/serializers.py
  src/world/societies/views.py
  src/world/tasking/models.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
  src/world/tidings/constants.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

feat(#3091): stature org-page panel, domain stature telnet, seeds, docs in tandem
  AGENT_GLOSSARY_MAP.md
  docs/adr/0209-stature-is-perceived-vs-true-and-embodied.md
  docs/adr/0210-prestige-benefits-are-rank-relative-and-pay-through-prosperity.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  frontend/src/orgs/api.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  src/commands/domains.py
  src/commands/tests/test_domain_command.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/seeds/clusters.py
  src/world/seeds/stature.py
  src/world/societies/AGENT_GLOSSARY.md
Due: getattr-literal, eslint, typescript, prettier

fix(#3091): register the stature seed cluster in the registry inventory
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

feat(#3093): predator bands on the slow menace ladder, Afflictions, grand displays
  .github/workflows/ci.yml
  docs/adr/0211-predators-are-a-thin-dedicated-model-on-a-slow-ladder.md
  docs/systems/predators.md
  src/world/events/services.py
  src/world/game_clock/tasks.py
  src/world/migrations/0134_predatorkind_domaincrisis_spread_count_and_more.py
  src/world/migrations/0135_orgtask_target_band_and_more.py
  src/world/migrations/0136_alter_statureshift_cause.py
  src/world/migrations/max_migration.txt
  src/world/models.py
  src/world/predators/__init__.py
  src/world/predators/constants.py
  src/world/predators/factories.py
  src/world/predators/models.py
  src/world/predators/services.py
  src/world/predators/tests/__init__.py
  src/world/predators/tests/test_services.py
  src/world/seeds/clusters.py
  src/world/seeds/predators.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/crisis_services.py
  src/world/societies/houses/models.py
  src/world/societies/houses/stature_services.py
  src/world/societies/tests/test_stature.py
  src/world/tasking/constants.py
  src/world/tasking/models.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
  src/world/tidings/constants.py
  src/world/tidings/services.py
Due: getattr-literal

docs(#3093): predator ecology docs in tandem + schema/type regen
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/societies/AGENT_GLOSSARY.md
Due: eslint, typescript, prettier

feat(#2999): OrgPact instrument, betrothal, wedding rite, match dossier
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/orgs/api.ts
  frontend/src/orgs/pages/DossierPage.tsx
  src/commands/default_cmdsets.py
  src/commands/pacts.py
  src/schema.json
  src/world/ceremonies/constants.py
  src/world/ceremonies/services.py
  src/world/migrations/0137_pactkind_betrothal_betrothalterm_orgpact.py
  src/world/migrations/0138_alter_ceremonytype_key.py
  src/world/migrations/max_migration.txt
  src/world/seeds/clusters.py
  src/world/seeds/pacts.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/dossier_services.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/pact_services.py
  src/world/societies/houses/stature_services.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_pacts.py
  src/world/societies/views.py
  src/world/tasking/services.py
Due: getattr-literal, eslint, typescript, prettier

docs(#2999): pacts/betrothal/dossier docs in tandem
  AGENT_GLOSSARY_MAP.md
  docs/adr/0212-orgpact-is-a-sibling-of-marriagepact-not-a-generalization.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  src/commands/CLAUDE.md
  src/world/societies/AGENT_GLOSSARY.md
Due: none

Predator ecology: predator bands with slow menace ladder, Afflictions, grand displays - deterrence arc phase 2 (#3094)
  .github/workflows/ci.yml
  docs/adr/0211-predators-are-a-thin-dedicated-model-on-a-slow-ladder.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/predators.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/events/services.py
  src/world/game_clock/tasks.py
  src/world/migrations/0134_predatorkind_domaincrisis_spread_count_and_more.py
  src/world/migrations/0135_orgtask_target_band_and_more.py
  src/world/migrations/0136_alter_statureshift_cause.py
  src/world/migrations/max_migration.txt
  src/world/models.py
  src/world/predators/__init__.py
  src/world/predators/constants.py
  src/world/predators/factories.py
  src/world/predators/models.py
  src/world/predators/services.py
  src/world/predators/tests/__init__.py
  src/world/predators/tests/test_services.py
  src/world/seeds/clusters.py
  src/world/seeds/predators.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/houses/constants.py
  src/world/societies/houses/crisis_services.py
  src/world/societies/houses/models.py
  src/world/societies/houses/stature_services.py
  src/world/societies/tests/test_stature.py
  src/world/tasking/constants.py
  src/world/tasking/models.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
  src/world/tidings/constants.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
