Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Web reach: persona display_name, name-display prefs endpoint, family particle payload (#3261)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/roster/serializers/families.py
  src/world/roster/tests/test_kin_api.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_persona_serializer.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

Docs in tandem: houses system doc, INDEX, glossary, roadmap, ADR-0218 (#3261)
  docs/adr/0218-derived-display-names-and-nee-grammar.md
  docs/adr/README.md
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/houses.md
  src/world/societies/AGENT_GLOSSARY.md
Due: none

CG live particle preview on family selection (#3261)
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/types.ts
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
Due: eslint, typescript, prettier

feat(roster): staff review endpoints for roster applications (#3265)
  src/world/roster/filters.py
  src/world/roster/permissions.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/applications.py
  src/world/roster/tests/test_application_views.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/application_views.py
Due: getattr-literal

feat(staff): roster-application queue page and hub cards (#3265)
  frontend/src/App.tsx
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffHubPage.tsx
  frontend/src/staff/pages/StaffRosterApplicationsPage.test.tsx
  frontend/src/staff/pages/StaffRosterApplicationsPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
Due: eslint, typescript, prettier

feat(secrets): staff authoring endpoints and subject_aware mint kwarg (#3266)
  src/web/urls.py
  src/world/secrets/serializers.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_authoring_api.py
  src/world/secrets/urls.py
  src/world/secrets/views.py
Due: getattr-literal

feat(staff): roster-application detail page with approve/deny (#3265)
  frontend/src/App.tsx
  frontend/src/staff/pages/StaffRosterApplicationDetailPage.test.tsx
  frontend/src/staff/pages/StaffRosterApplicationDetailPage.tsx
Due: eslint, typescript, prettier

feat(secrets): staff secrets panel and author dialog on character sheet (#3266)
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/secrets/api.ts
  frontend/src/secrets/components/AuthorSecretDialog.tsx
  frontend/src/secrets/components/StaffSecretsPanel.test.tsx
  frontend/src/secrets/components/StaffSecretsPanel.tsx
  frontend/src/secrets/queries.ts
  frontend/src/secrets/types.ts
  src/schema.json
  src/world/secrets/views.py
Due: getattr-literal, eslint, typescript, prettier

docs: record staff roster-application review surface (#3265)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/roster.md
Due: none

fix(secrets): handle optional content in staff secrets table (#3266)
  frontend/src/secrets/components/StaffSecretsPanel.tsx
Due: eslint, typescript, prettier

docs: staff secret authoring surface (#3266)
  docs/systems/INDEX.md
  docs/systems/secrets.md
Due: none

Fix roster application review response type and stale FK hop (#3265 review)
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffRosterApplicationDetailPage.test.tsx
  frontend/src/staff/types.ts
  src/world/roster/serializers/applications.py
  src/world/roster/tests/test_serializers.py
Due: getattr-literal, eslint, typescript, prettier

Regenerate MODEL_MAP and reject non-numeric ?subject= on secret authoring API (#3266)
  docs/systems/MODEL_MAP.md
  src/world/secrets/tests/test_authoring_api.py
  src/world/secrets/views.py
Due: getattr-literal

Fix SonarCloud quality gate on PR #3270: dedupe staff list scaffolding, tighten roster-review nits
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffBugReportsPage.tsx
  frontend/src/staff/pages/StaffFeedbackPage.tsx
  frontend/src/staff/pages/StaffGMApplicationsPage.tsx
  frontend/src/staff/pages/StaffPlayerReportsPage.tsx
  frontend/src/staff/pages/StaffRosterApplicationDetailPage.tsx
  frontend/src/staff/pages/StaffRosterApplicationsPage.tsx
Due: eslint, typescript, prettier

Regional nobiliary particles: canon vocabulary, née grammar, and automated display-name composition (#3267)
  docs/adr/0218-derived-display-names-and-nee-grammar.md
  docs/adr/README.md
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/houses.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  src/schema.json
  src/world/character_creation/services.py
  src/world/migrations/0158_alter_nobiliaryparticle_options_and_more.py
  src/world/migrations/max_migration.txt
  src/world/roster/models/families.py
  src/world/roster/serializers/families.py
  src/world/roster/services/kinship.py
  src/world/roster/tests/test_kin_api.py
  src/world/scenes/models.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_persona_serializer.py
  src/world/scenes/views.py
  src/world/seeds/houses.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal, eslint, typescript, prettier

Regenerate OpenAPI schema and frontend types for roster applications
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Staff approval of roster-character applications has no web surface (Django admin only) (#3270)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/roster.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffBugReportsPage.tsx
  frontend/src/staff/pages/StaffFeedbackPage.tsx
  frontend/src/staff/pages/StaffGMApplicationsPage.tsx
  frontend/src/staff/pages/StaffHubPage.tsx
  frontend/src/staff/pages/StaffPlayerReportsPage.tsx
  frontend/src/staff/pages/StaffRosterApplicationDetailPage.test.tsx
  frontend/src/staff/pages/StaffRosterApplicationDetailPage.tsx
  frontend/src/staff/pages/StaffRosterApplicationsPage.test.tsx
  frontend/src/staff/pages/StaffRosterApplicationsPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
  src/schema.json
  src/world/roster/filters.py
  src/world/roster/permissions.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/applications.py
  src/world/roster/tests/test_application_views.py
  src/world/roster/tests/test_serializers.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/application_views.py
Due: getattr-literal, eslint, typescript, prettier

fix(gm): finalize-gm completeness gate, resonance catch, dashboard counts (#3268)
  src/world/character_creation/services.py
  src/world/character_creation/tests/finalization_fixtures.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/views.py
  src/world/gm/tests/test_gm_dashboard.py
  src/world/gm/views.py
Due: getattr-literal

feat(tables): recruitment tab with invites and application queue (#3268)
  frontend/src/tables/api.ts
  frontend/src/tables/components/MintInviteDialog.tsx
  frontend/src/tables/components/RecruitmentTab.test.tsx
  frontend/src/tables/components/RecruitmentTab.tsx
  frontend/src/tables/pages/TableDetailPage.tsx
  frontend/src/tables/queries.ts
  frontend/src/tables/types.ts
Due: eslint, typescript, prettier

fix(gm): link the finalize success panel to the specific table, plug a stale-draft cache leak, correct roadmap credit (#3268)
  docs/roadmap/gm-system.md
  frontend/src/character-creation/__tests__/components/FinalizeForTableDialog.test.tsx
  frontend/src/character-creation/components/FinalizeForTableDialog.tsx
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

feat(gm): finalize-for-table dialog, invite claim page, dashboard counts (#3268)
  docs/roadmap/gm-system.md
  frontend/src/App.tsx
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/FinalizeForTableDialog.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/FinalizeForTableDialog.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/queries.ts
  frontend/src/stories/__tests__/GMDashboardPage.test.tsx
  frontend/src/stories/pages/GMDashboardPage.tsx
  frontend/src/tables/CLAUDE.md
  frontend/src/tables/__tests__/ClaimInvitePage.test.tsx
  frontend/src/tables/api.ts
  frontend/src/tables/pages/ClaimInvitePage.tsx
  frontend/src/tables/queries.ts
  frontend/src/tables/types.ts
Due: eslint, typescript, prettier

fix(gm-roster): gate Mint Invite on account.is_gm, not just staff (#3268)
  frontend/src/tables/components/RecruitmentTab.test.tsx
  frontend/src/tables/components/RecruitmentTab.tsx
Due: eslint, typescript, prettier

docs: GM roster recruitment frontend and finalize-gm gate (#3268)
  docs/systems/INDEX.md
  docs/systems/character_creation.md
Due: none

needs-design: secret authoring for roster characters — service exists, no endpoint, no UI, not part of creation (#3271)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/secrets/api.ts
  frontend/src/secrets/components/AuthorSecretDialog.tsx
  frontend/src/secrets/components/StaffSecretsPanel.test.tsx
  frontend/src/secrets/components/StaffSecretsPanel.tsx
  frontend/src/secrets/queries.ts
  frontend/src/secrets/types.ts
  src/schema.json
  src/web/urls.py
  src/world/secrets/serializers.py
  src/world/secrets/services.py
  src/world/secrets/tests/test_authoring_api.py
  src/world/secrets/urls.py
  src/world/secrets/views.py
Due: getattr-literal, eslint, typescript, prettier

World builder Phase A: relational dig, recoverability, navigation, search (#3269)
  frontend/src/generated/api.d.ts
  frontend/src/map-canvas/MapCanvasShell.tsx
  frontend/src/map-canvas/useGridCanvasNodes.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/DigRoomDialog.tsx
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/components/WorldCanvas.test.tsx
  frontend/src/world-builder/components/WorldCanvas.tsx
  frontend/src/world-builder/components/WorldRoomNode.test.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  frontend/src/world-builder/queries.ts
  frontend/src/world-builder/types.ts
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
  src/core_management/grid_export.py
  src/evennia_extensions/models.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/constants.py
  src/world/areas/filters.py
  src/world/areas/grid_services.py
  src/world/areas/models.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_grid_services.py
  src/world/buildings/room_constants.py
  src/world/locations/services.py
  src/world/migrations/0158_roomprofile_exported_at.py
Due: getattr-literal, eslint, typescript, prettier

Docs in tandem: INDEX action count, tooling roadmap, areas deferred list, ADR-0219/0220 (#3269)
  docs/adr/0219-relational-dig-restored-coordinates-demoted.md
  docs/adr/0220-deletion-gates-on-exported-at-not-fixture-key.md
  docs/adr/README.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  src/actions/definitions/world_builder.py
Due: getattr-literal

Rebase migration onto main's 0158 (nobiliary particles): exported_at becomes 0159
  src/world/migrations/0159_roomprofile_exported_at.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

GM-owned roster creation has no frontend: finalize-gm, GM roster invites, and the GM application queue are backend-only (#3272)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  frontend/src/App.tsx
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/FinalizeForTableDialog.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/FinalizeForTableDialog.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/queries.ts
  frontend/src/stories/__tests__/GMDashboardPage.test.tsx
  frontend/src/stories/pages/GMDashboardPage.tsx
  frontend/src/tables/CLAUDE.md
  frontend/src/tables/__tests__/ClaimInvitePage.test.tsx
  frontend/src/tables/api.ts
  frontend/src/tables/components/MintInviteDialog.tsx
  frontend/src/tables/components/RecruitmentTab.test.tsx
  frontend/src/tables/components/RecruitmentTab.tsx
  frontend/src/tables/pages/ClaimInvitePage.tsx
  frontend/src/tables/pages/TableDetailPage.tsx
  frontend/src/tables/queries.ts
  frontend/src/tables/types.ts
  src/world/character_creation/services.py
  src/world/character_creation/tests/finalization_fixtures.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/views.py
  src/world/gm/tests/test_gm_dashboard.py
  src/world/gm/views.py
Due: getattr-literal, eslint, typescript, prettier

World builder Phase A: relational grid bootstrap, recoverable mistakes, navigation and search (#3273)
  docs/adr/0219-relational-dig-restored-coordinates-demoted.md
  docs/adr/0220-deletion-gates-on-exported-at-not-fixture-key.md
  docs/adr/README.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  frontend/src/generated/api.d.ts
  frontend/src/map-canvas/MapCanvasShell.tsx
  frontend/src/map-canvas/useGridCanvasNodes.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/DigRoomDialog.tsx
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/components/WorldCanvas.test.tsx
  frontend/src/world-builder/components/WorldCanvas.tsx
  frontend/src/world-builder/components/WorldRoomNode.test.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  frontend/src/world-builder/queries.ts
  frontend/src/world-builder/types.ts
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
  src/core_management/grid_export.py
  src/evennia_extensions/models.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/constants.py
  src/world/areas/filters.py
  src/world/areas/grid_services.py
  src/world/areas/models.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_grid_services.py
  src/world/buildings/room_constants.py
  src/world/locations/services.py
  src/world/migrations/0159_roomprofile_exported_at.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Fix nav dropdowns opening at a fixed spot instead of under their trigger
  frontend/src/components/Header.tsx
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/components/ui/navigation-menu.tsx
Due: eslint, typescript, prettier

World builder Phase A: relational dig, recoverability, navigation, search (#3269)
  src/world/migrations/0158_roomprofile_exported_at.py
Due: getattr-literal

Rebase migration onto main's 0158 (nobiliary particles): exported_at becomes 0159
  src/world/migrations/0158_roomprofile_exported_at.py
Due: getattr-literal

World builder Phase B backend: full room authoring + durable export (#3269)
  frontend/src/world-builder/types.ts
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
  src/core_management/content_export.py
  src/core_management/grid_export.py
  src/core_management/grid_import.py
  src/core_management/tests/test_grid_phase_b_sections.py
  src/world/areas/builder_views.py
  src/world/areas/positioning/models.py
  src/world/areas/serializers.py
  src/world/locations/constants.py
  src/world/migrations/0160_blueprintposition_reviewed_by_and_more.py
  src/world/migrations/max_migration.txt
  src/world/narrative/admin.py
  src/world/room_features/services.py
  src/world/scenes/place_views.py
Due: getattr-literal, eslint, typescript, prettier

World builder Phase B frontend: sectioned room authoring panel (#3269)
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/RoomAuthoringSections.tsx
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/components/WorldCanvas.test.tsx
  frontend/src/world-builder/components/WorldRoomNode.test.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  frontend/src/world-builder/queries.ts
  frontend/src/world-builder/types.ts
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
Due: getattr-literal, eslint, typescript, prettier

World builder Phase C: area metadata UI + ward arrange canvas; docs (#3269)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/components/AreaArrangeCanvas.tsx
  frontend/src/world-builder/components/AreaTreePanel.test.tsx
  frontend/src/world-builder/components/EditAreaDialog.tsx
  frontend/src/world-builder/components/PromoteAreaButton.test.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
Due: getattr-literal, eslint, typescript, prettier

World builder Phases B+C: full room authoring, durable export, area metadata (#3275)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/AreaArrangeCanvas.tsx
  frontend/src/world-builder/components/AreaTreePanel.test.tsx
  frontend/src/world-builder/components/EditAreaDialog.tsx
  frontend/src/world-builder/components/PromoteAreaButton.test.tsx
  frontend/src/world-builder/components/RoomAuthoringSections.tsx
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/components/WorldCanvas.test.tsx
  frontend/src/world-builder/components/WorldRoomNode.test.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  frontend/src/world-builder/queries.ts
  frontend/src/world-builder/types.ts
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
  src/core_management/content_export.py
  src/core_management/grid_export.py
  src/core_management/grid_import.py
  src/core_management/tests/test_grid_phase_b_sections.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/positioning/models.py
  src/world/areas/serializers.py
  src/world/locations/constants.py
  src/world/migrations/0160_blueprintposition_reviewed_by_and_more.py
  src/world/migrations/max_migration.txt
  src/world/narrative/admin.py
  src/world/room_features/services.py
  src/world/scenes/place_views.py
Due: getattr-literal, eslint, typescript, prettier

Fix nav dropdowns opening at a fixed spot instead of under their trigger (#3274)
  frontend/src/components/Header.tsx
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/components/ui/navigation-menu.tsx
Due: eslint, typescript, prettier

SQLite test tier: create empty stand-in tables for matview-backed models
  src/server/conf/sqlite_test_runner.py
  src/world/codex/tests/test_models.py
Due: getattr-literal

Codex: hide empty containers; account-wide knowledge union with known_by
  src/world/codex/serializers.py
  src/world/codex/services.py
  src/world/codex/tests/test_container_visibility.py
  src/world/codex/tests/test_link_resolution.py
  src/world/codex/tests/test_views.py
  src/world/codex/types.py
  src/world/codex/views.py
Due: getattr-literal

Codex frontend: character knowledge scope selector and known-by badges
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/codex/__tests__/CodexModal.test.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/api.ts
  frontend/src/codex/components/CodexContent.tsx
  frontend/src/codex/components/CodexTree.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/components/EntryGrid.tsx
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/codex/queries.ts
  frontend/src/codex/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
