Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Bound the covenant list query count (member_count / legend_total / storylines N+1) (#2453)
  docs/systems/MODEL_MAP.md
  src/world/covenants/serializers.py
  src/world/covenants/tests/test_views.py
  src/world/covenants/views.py
  src/world/societies/services.py
Due: getattr-literal

CI: 8 runtime-balanced shards, generated world.magic split, coverage guard (#2447)
  .github/workflows/ci.yml
  docs/adr/0137-ci-shards-balanced-by-measured-runtime-with-generated-splits.md
  docs/adr/README.md
  src/integration_tests/test_covenant_slice_d_flow.py
  src/integration_tests/test_crafting_facet_pull.py
  src/world/battles/tests/test_city_defense.py
  src/world/battles/tests/test_war_funding.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/projects/services.py
  src/world/projects/tests/test_lifecycle.py
  src/world/projects/tests/test_services.py
  src/world/projects/tests/test_tiered_resolution.py
  src/world/roster/tests/test_mail_viewset.py
  src/world/societies/tests/test_gang_turf.py
  tools/lint_shard_coverage.py
  tools/split_test_labels.py
Due: getattr-literal

fix: GM tables bulletin write path — end-to-end repair (audit2 S2)
  frontend/src/tables/__tests__/bulletin.test.tsx
  frontend/src/tables/api.ts
  frontend/src/tables/bulletinErrors.ts
  frontend/src/tables/components/BulletinPostCard.tsx
  frontend/src/tables/components/BulletinReplyRow.tsx
  frontend/src/tables/components/CreateBulletinPostDialog.tsx
  frontend/src/tables/components/InviteToTableDialog.tsx
  frontend/src/tables/components/TableBulletin.tsx
  frontend/src/tables/components/TableFormDialog.tsx
  frontend/src/tables/queries.ts
  frontend/src/tables/types.ts
  src/world/stories/serializers.py
  src/world/stories/tests/test_views_bulletin.py
Due: getattr-literal, eslint, typescript, prettier

Correct shard balance from measured run; split world.combat too
  .github/workflows/ci.yml
Due: none

refactor: dedup bulletin field-error render blocks (SonarCloud new-code dup gate)
  frontend/src/generated/api.d.ts
  frontend/src/tables/components/BulletinPostCard.tsx
  frontend/src/tables/components/BulletinReplyRow.tsx
  frontend/src/tables/components/CreateBulletinPostDialog.tsx
  frontend/src/tables/components/FieldError.tsx
  frontend/src/tables/components/InviteToTableDialog.tsx
  frontend/src/tables/components/TableFormDialog.tsx
  src/schema.json
Due: eslint, typescript, prettier

Audit2 S2: GM tables bulletin write path — end-to-end repair (#2432)
  frontend/src/generated/api.d.ts
  frontend/src/tables/__tests__/bulletin.test.tsx
  frontend/src/tables/api.ts
  frontend/src/tables/bulletinErrors.ts
  frontend/src/tables/components/BulletinPostCard.tsx
  frontend/src/tables/components/BulletinReplyRow.tsx
  frontend/src/tables/components/CreateBulletinPostDialog.tsx
  frontend/src/tables/components/FieldError.tsx
  frontend/src/tables/components/InviteToTableDialog.tsx
  frontend/src/tables/components/TableBulletin.tsx
  frontend/src/tables/components/TableFormDialog.tsx
  frontend/src/tables/queries.ts
  frontend/src/tables/types.ts
  src/schema.json
  src/world/stories/serializers.py
  src/world/stories/tests/test_views_bulletin.py
Due: getattr-literal, eslint, typescript, prettier

Fix conclusion-hook snapshot clobber that dropped the ship hook process-wide
  src/world/battles/tests/test_conclusion_hooks.py
Due: getattr-literal

Correct CI shard balance from measured run; split world.combat like world.magic (#2455)
  .github/workflows/ci.yml
  src/world/battles/tests/test_conclusion_hooks.py
Due: getattr-literal

feat(#2448): grid identity + origin fields; natural keys for Climate/RoomSizeTier
  src/evennia_extensions/migrations/0010_roomprofile_fixture_key_roomprofile_origin.py
  src/evennia_extensions/migrations/max_migration.txt
  src/evennia_extensions/models.py
  src/evennia_extensions/tests/test_room_profile_identity.py
  src/world/areas/constants.py
  src/world/areas/migrations/0020_area_origin_area_slug.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/models.py
  src/world/areas/tests/test_existing.py
  src/world/weather/models.py
  src/world/weather/tests/test_climate.py
Due: getattr-literal

feat(#2448): StartingArea room link via RoomProfile; export allowlist gains startingarea/climate/roomsizetier
  src/core_management/content_export.py
  src/world/character_creation/admin.py
  src/world/character_creation/constants.py
  src/world/character_creation/migrations/0010_alter_startingarea_default_starting_room.py
  src/world/character_creation/migrations/max_migration.txt
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_services.py
  src/world/seeds/character_creation.py
Due: getattr-literal

fix(#2448): batch authored-room counts in export preview/check paths
  src/core_management/grid_export.py
  src/web/admin/content_export_views.py
  tools/export_content.py
Due: getattr-literal

feat(#2448): multi-pass grid bundle importer (upsert, report-never-delete)
  src/core_management/grid_import.py
  src/core_management/tests/_grid_fixtures.py
  src/core_management/tests/test_grid_export.py
  src/core_management/tests/test_grid_import.py
Due: getattr-literal

feat(#2448): graph-aware area-bundle grid exporter
  src/core_management/grid_export.py
  src/core_management/tests/test_grid_export.py
  src/web/admin/content_export_views.py
  src/web/templates/admin/content_export_preview.html
  tools/export_content.py
Due: getattr-literal

fix(#2448): change_per_day round-trips as int; cover orphaned-area report
  src/core_management/grid_export.py
  src/core_management/grid_import.py
  src/core_management/tests/test_grid_export.py
  src/core_management/tests/test_grid_import.py
Due: getattr-literal

feat(#2448): load_world_content driver with deferred natural-key FK resolution
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_fixtures.py
  src/core_management/tests/test_load_sequencing.py
  src/web/admin/content_load_views.py
  tools/build_content_fixtures.py
Due: getattr-literal

test(#2448): round-trip journey + admin export/push view tests; consolidate content-repo path resolution
  src/core_management/content_export.py
  src/core_management/content_push.py
  src/core_management/content_repo.py
  src/core_management/grid_export.py
  src/core_management/grid_import.py
  src/core_management/tests/test_grid_roundtrip.py
  src/web/admin/CLAUDE.md
  src/web/admin/content_export_views.py
  src/web/admin/content_load_views.py
  src/web/admin/content_push_views.py
  src/web/admin/game_setup_views.py
  src/web/admin/tests/test_content_export_views.py
  src/web/admin/tests/test_content_push_views.py
  tools/build_content_fixtures.py
  tools/export_content.py
  tools/push_content.py
Due: getattr-literal

docs(#2448): ADR + systems/glossary/roadmap for grid bundles; MODEL_MAP regen
  AGENT_GLOSSARY_MAP.md
  docs/adr/0136-grid-content-exports-as-graph-aware-area-bundles.md
  docs/adr/README.md
  docs/evennia-quirks.md
  docs/roadmap/rooms-and-estates.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/web/admin/CLAUDE.md
  src/world/areas/AGENT_GLOSSARY.md
Due: none

docs(#2448): drop wrong #2450 tag from GM-dashboard bullet (GM story areas is a different scope)
  docs/roadmap/tooling.md
Due: none

docs(#2448): renumber grid-bundle ADR 0136->0137 (0136 claimed by in-flight PR #2444)
  docs/adr/0137-grid-content-exports-as-graph-aware-area-bundles.md
  docs/adr/README.md
  docs/evennia-quirks.md
  docs/roadmap/rooms-and-estates.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  src/world/areas/AGENT_GLOSSARY.md
Due: none

fix(#2448): house fallback room in reserved authored area; export loudly rejects unhoused authored rooms
  docs/adr/0137-grid-content-exports-as-graph-aware-area-bundles.md
  docs/systems/INDEX.md
  src/core_management/grid_export.py
  src/core_management/tests/test_grid_export.py
  src/core_management/tests/test_load_sequencing.py
  src/web/admin/content_export_views.py
  src/web/templates/admin/content_export_preview.html
  src/world/seeds/character_creation.py
  tools/export_content.py
Due: getattr-literal

docs(#2448): renumber grid-bundle ADR 0137->0138 (0137 claimed by CI-shards ADR merged to main)
  docs/adr/0138-grid-content-exports-as-graph-aware-area-bundles.md
  docs/adr/README.md
  docs/evennia-quirks.md
  docs/roadmap/rooms-and-estates.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  src/world/areas/AGENT_GLOSSARY.md
Due: none

feat: paginate list endpoints by default; explicit opt-out (ADR-0138)
  django_notes.md
  docs/adr/0138-paginate-list-endpoints-by-default-with-explicit-opt-out.md
  docs/adr/README.md
  src/server/conf/settings.py
  src/web/api/pagination.py
  src/world/achievements/views.py
  src/world/character_creation/views.py
  src/world/character_sheets/views.py
  src/world/conditions/views.py
  src/world/distinctions/views.py
  src/world/forms/views.py
  src/world/goals/views.py
  src/world/items/market/views.py
  src/world/items/views.py
  src/world/magic/views.py
  src/world/magic/views_sanctum.py
  src/world/mechanics/views.py
  src/world/progression/views.py
  src/world/roster/views/family_views.py
  src/world/roster/views/media_views.py
  src/world/roster/views/roster_views.py
  src/world/scenes/reaction_views.py
  src/world/scenes/speaker_queue_views.py
  src/world/travel/views.py
Due: getattr-literal

feat: add admin FK widget system check + fix all 208 violations (#2435)
  src/evennia_extensions/admin.py
  src/web/admin/apps.py
  src/web/admin/checks.py
  src/web/admin/tests/test_admin_checks.py
  src/world/agriculture/admin.py
  src/world/battles/admin.py
  src/world/boundaries/admin.py
  src/world/captivity/admin.py
  src/world/character_creation/admin.py
  src/world/character_sheets/admin.py
  src/world/clues/admin.py
  src/world/codex/admin.py
  src/world/combat/admin.py
  src/world/companions/admin.py
  src/world/conditions/admin.py
  src/world/covenants/admin.py
  src/world/distinctions/admin.py
  src/world/dreams/admin.py
  src/world/fatigue/admin.py
  src/world/forms/admin.py
  src/world/game_clock/admin.py
  src/world/instances/admin.py
  src/world/items/admin.py
  src/world/journals/admin.py
  src/world/magic/admin.py
  src/world/mechanics/admin.py
  src/world/player_submissions/admin.py
  src/world/progression/admin/kudos_admin.py
  src/world/progression/admin/rewards_admin.py
  src/world/progression/admin/unlocks_admin.py
  src/world/relationships/admin.py
  src/world/room_features/admin.py
  src/world/roster/admin.py
  src/world/scenes/admin.py
  src/world/secrets/admin.py
  src/world/skills/admin.py
  src/world/societies/admin.py
  src/world/stories/admin.py
  src/world/traits/admin.py
  src/world/vitals/admin.py
Due: getattr-literal

Arx beginnings content: Caretaker/Sleeper/Misbegotten seeds, Vigil tradition links, content-export wiring
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  src/core_management/content_export.py
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/models.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_cg_seed_gaps.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
  src/world/seeds/tests/test_playable_slice.py
  tools/ensure_content_repo.sh
Due: getattr-literal

Paginate list endpoints by default; explicit opt-out (ADR-0138) (#2457)
  django_notes.md
  docs/adr/0138-paginate-list-endpoints-by-default-with-explicit-opt-out.md
  docs/adr/README.md
  src/server/conf/settings.py
  src/web/api/pagination.py
  src/world/achievements/views.py
  src/world/character_creation/views.py
  src/world/character_sheets/views.py
  src/world/conditions/views.py
  src/world/distinctions/views.py
  src/world/forms/views.py
  src/world/goals/views.py
  src/world/items/market/views.py
  src/world/items/views.py
  src/world/magic/views.py
  src/world/magic/views_sanctum.py
  src/world/mechanics/views.py
  src/world/progression/views.py
  src/world/roster/views/family_views.py
  src/world/roster/views/media_views.py
  src/world/roster/views/roster_views.py
  src/world/scenes/reaction_views.py
  src/world/scenes/speaker_queue_views.py
  src/world/travel/views.py
Due: getattr-literal

Strip content from PR: seeds/tests reverted to main; structural wiring only
  docs/roadmap/character-creation.md
  docs/systems/character_creation.md
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_cg_seed_gaps.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal

fix(items): decrement-and-delete-at-zero material consumption (#2454)
  src/world/items/crafting/cost.py
  src/world/items/services/materials.py
  src/world/items/tests/test_crafting_cost.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/items/tests/test_materials_service.py
  src/world/magic/services/ritual_components.py
Due: getattr-literal

Fix shard-composition flake: pin fixture chapter/episode order in authoring-fields tests
  src/world/stories/tests/test_serializers_authoring_fields.py
Due: getattr-literal

Audit admin FK widgets: default <select> will crash on large in-game tables (#2458)
  src/evennia_extensions/admin.py
  src/web/admin/apps.py
  src/web/admin/checks.py
  src/web/admin/tests/test_admin_checks.py
  src/world/agriculture/admin.py
  src/world/battles/admin.py
  src/world/boundaries/admin.py
  src/world/captivity/admin.py
  src/world/character_creation/admin.py
  src/world/character_sheets/admin.py
  src/world/clues/admin.py
  src/world/codex/admin.py
  src/world/combat/admin.py
  src/world/companions/admin.py
  src/world/conditions/admin.py
  src/world/covenants/admin.py
  src/world/distinctions/admin.py
  src/world/dreams/admin.py
  src/world/fatigue/admin.py
  src/world/forms/admin.py
  src/world/game_clock/admin.py
  src/world/instances/admin.py
  src/world/items/admin.py
  src/world/journals/admin.py
  src/world/magic/admin.py
  src/world/mechanics/admin.py
  src/world/player_submissions/admin.py
  src/world/progression/admin/kudos_admin.py
  src/world/progression/admin/rewards_admin.py
  src/world/progression/admin/unlocks_admin.py
  src/world/relationships/admin.py
  src/world/room_features/admin.py
  src/world/roster/admin.py
  src/world/scenes/admin.py
  src/world/secrets/admin.py
  src/world/skills/admin.py
  src/world/societies/admin.py
  src/world/stories/admin.py
  src/world/traits/admin.py
  src/world/vitals/admin.py
Due: getattr-literal

Content-export wiring for CG content: Beginnings/CGExplanation in CONTENT_MODELS, lore-repo hook (#2459)
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  src/core_management/content_export.py
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/models.py
  src/world/stories/tests/test_serializers_authoring_fields.py
  tools/ensure_content_repo.sh
Due: getattr-literal

Material consumption deletes whole ItemInstance stacks: over-consumes (req 1 eats stack of 5) and fans out delete-cascades on every craft (#2464)
  src/world/items/crafting/cost.py
  src/world/items/services/materials.py
  src/world/items/tests/test_crafting_cost.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/items/tests/test_materials_service.py
  src/world/magic/services/ritual_components.py
Due: getattr-literal

feat(#2428): Golden Hare favor tokens — mint/redeem
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/currency/AGENT_GLOSSARY.md
  src/world/currency/admin.py
  src/world/currency/factories.py
  src/world/currency/migrations/0009_favortokendetails.py
  src/world/currency/migrations/max_migration.txt
  src/world/currency/models.py
  src/world/currency/services.py
  src/world/currency/tests/test_favor_tokens.py
Due: getattr-literal

docs(#2428): obligation services in societies CLAUDE.md
  src/world/societies/CLAUDE.md
Due: none

feat(#2428): OrganizationObligation + settlement via Golden Hares
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/societies.md
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/constants.py
  src/world/societies/exceptions.py
  src/world/societies/factories.py
  src/world/societies/migrations/0030_organizationobligation.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/obligation_services.py
  src/world/societies/tests/test_obligations.py
Due: getattr-literal

feat(#2428): CG entrance obligations + Shroudwatch Academy seed
  docs/systems/character_creation.md
  docs/systems/societies.md
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/constants.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
  src/world/societies/CLAUDE.md
Due: getattr-literal

refactor(#2428): consolidate Unbound name literals onto the canonical constant
  src/world/seeds/character_creation.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

feat(#2428): Golden Hare minting via GM adjudication
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
  src/commands/CLAUDE.md
  src/commands/gm_ops.py
  src/commands/tests/test_gm_ops_adjudication.py
Due: getattr-literal

docs(#2428): seeder narrative covers orphaned-tradition + Metallic Order steps
  docs/systems/character_creation.md
Due: none
