Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#3305): finished_after scene filter; remove orphaned /api/status endpoint
  src/web/api/urls.py
  src/web/api/views/general_views.py
  src/web/tests/test_api.py
  src/world/scenes/filters.py
  src/world/scenes/tests/test_scene_finished_after_filter.py
Due: getattr-literal

chore(#3305): regen api schema/types for finished_after + /api/status removal
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Reframe PlayerMail as the OOC player-to-player message surface (#3303)
  docs/adr/0116-playermail-is-the-letters-surface-at-mvp.md
  docs/adr/0226-playermail-is-ooc-ic-missives-are-a-separate-system.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/roster.md
  frontend/src/game/components/CharacterCardDrawer.test.tsx
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/game/components/MessagePlayerDialog.tsx
  frontend/src/mail/CLAUDE.md
  frontend/src/mail/api.ts
  frontend/src/mail/components/ComposeMailForm.tsx
  frontend/src/mail/components/UnreadMailBadge.tsx
  frontend/src/mail/queries.ts
  frontend/src/pages/SettingsPage.tsx
  src/commands/presence.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/CLAUDE.md
Due: getattr-literal, eslint, typescript, prettier

Wire the canon-review request loop and GLOBAL-scope authoring gate (#3304)
  docs/roadmap/stories-gm.md
  docs/systems/stories.md
  frontend/src/stories/__tests__/StaffWorkloadPage.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/PendingCanonReviewsPanel.tsx
  frontend/src/stories/components/clearanceShared.tsx
  frontend/src/stories/pages/StaffWorkloadPage.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
  src/commands/story.py
  src/commands/tests/test_canon_review_command.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/serializers.py
  src/world/stories/services/canon_review.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_canon_review.py
  src/world/stories/tests/test_views_story_assign.py
  src/world/stories/tests/test_views_story_impact.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#3305): rename to Arx; EB Garamond; favicon + meta/OG
  frontend/e2e/stories-author.spec.ts
  frontend/e2e/stories-player.spec.ts
  frontend/index.html
  frontend/public/favicon.svg
  frontend/src/character-creation/types.ts
  frontend/src/config.ts
  frontend/tailwind.config.js
  src/server/conf/settings.py
Due: getattr-literal, eslint, typescript, prettier

Emote through your companion: social-RP puppeting (#3294)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/companions.md
  docs/systems/scenes.md
  frontend/src/companions/api.ts
  frontend/src/companions/queries.ts
  frontend/src/companions/types.ts
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/CompanionSelector.tsx
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/types.ts
  src/actions/definitions/companions.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_companion_emote_action.py
  src/commands/CLAUDE.md
  src/commands/companion.py
  src/commands/tests/test_companion_command.py
  src/world/companions/serializers.py
  src/world/companions/tests/test_e2e_bind_journey.py
  src/world/companions/views.py
  src/world/migrations/0163_interaction_attributed_companion.py
  src/world/migrations/max_migration.txt
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/types.py
  tools/check_partition_sql_drift.py
Due: getattr-literal, eslint, typescript, prettier

Black journal mechanics: private-entry afterlife on estate settlement (#3287)
  docs/adr/0226-posthumous-journal-disposition-is-author-controlled.md
  docs/adr/README.md
  docs/roadmap/journals.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/estates.md
  frontend/src/journals/api.ts
  frontend/src/journals/components/JournalComposerDialog.tsx
  frontend/src/journals/pages/JournalsPage.tsx
  frontend/src/journals/queries.ts
  src/actions/definitions/journals.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/journals.py
  src/world/character_sheets/models.py
  src/world/character_sheets/types.py
  src/world/estates/AGENT_GLOSSARY.md
  src/world/estates/constants.py
  src/world/estates/models.py
  src/world/estates/serializers.py
  src/world/estates/services.py
  src/world/estates/tests/test_settlement.py
  src/world/journals/AGENT_GLOSSARY.md
  src/world/journals/admin.py
  src/world/journals/constants.py
  src/world/journals/factories.py
  src/world/journals/models.py
  src/world/journals/serializers.py
  src/world/journals/services.py
  src/world/journals/tests/test_posthumous.py
  src/world/journals/tests/test_views.py
  src/world/journals/types.py
  src/world/journals/views.py
  src/world/migrations/0163_journalbequestgrant_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Renumber ADR-0226 to ADR-0227 to resolve collision with #3303
  docs/adr/0227-posthumous-journal-disposition-is-author-controlled.md
  docs/adr/README.md
  docs/roadmap/journals.md
  docs/systems/INDEX.md
  docs/systems/estates.md
Due: none

Fix ensure_canon_review_for_story idempotency after auto-clear (#3304)
  src/world/stories/services/canon_review.py
Due: getattr-literal

Add VoteButton to public journal entries (#3302)
  docs/roadmap/journals.md
  frontend/src/journals/__tests__/JournalsPage.voteButton.test.tsx
  frontend/src/journals/components/JournalTab.tsx
  frontend/src/journals/pages/JournalsPage.tsx
Due: eslint, typescript, prettier

Fix companion-emote location comparison + payload test (#3294)
  src/actions/definitions/companions.py
  src/actions/prerequisites.py
  src/world/companions/serializers.py
  src/world/companions/views.py
  src/world/scenes/tests/test_interaction_services.py
Due: getattr-literal

Fix 404 on entries/disposition/ - wire the missing URL pattern
  src/world/journals/urls.py
Due: getattr-literal

Renumber ADR-0226 to ADR-0228 (collision with #3303/#3287)
  docs/adr/0228-board-posts-are-authored-by-persona.md
  docs/adr/README.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/boards.md
Due: none

feat(#3305): forced-realm context with stored-choice restore; ModeToggle system cycle
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/__tests__/realm-theme-provider.test.tsx
  frontend/src/components/realm-theme-provider.tsx
Due: eslint, typescript, prettier

Seasonal and time-of-day room description variants (#3291)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
  src/evennia_extensions/admin.py
  src/evennia_extensions/factories.py
  src/evennia_extensions/models.py
  src/evennia_extensions/services/room_desc_variants.py
  src/evennia_extensions/tests/test_admin.py
  src/evennia_extensions/tests/test_room_desc_variants.py
  src/flows/object_states/room_state.py
  src/flows/tests/test_room_state.py
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/migrations/0163_roomdescvariant.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Prettier formatting for PendingCanonReviewsPanel (CI pre-commit)
  frontend/src/stories/components/PendingCanonReviewsPanel.tsx
Due: eslint, typescript, prettier

fix(#3305): seed forcedRealm as undefined so forcedTheme prop changes propagate
  frontend/src/components/__tests__/realm-theme-provider.test.tsx
  frontend/src/components/realm-theme-provider.tsx
Due: eslint, typescript, prettier

Cap parallel test workers by available memory, not core count
  src/cli/arx.py
  src/core_management/tests/test_arx_cli.py
Due: getattr-literal

Org leaders can declare favor/disfavor standing (#3290)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/societies.md
  frontend/src/orgs/api.ts
  frontend/src/orgs/components/DeclareStandingDialog.test.tsx
  frontend/src/orgs/components/DeclareStandingDialog.tsx
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/orgs/queries.ts
  src/actions/definitions/standing_declarations.py
  src/actions/registry.py
  src/commands/organizations.py
  src/world/migrations/0163_organizationrank_can_declare_standing_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/constants.py
  src/world/societies/exceptions.py
  src/world/societies/filters.py
  src/world/societies/membership_services.py
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/standing_services.py
  src/world/societies/tests/test_standing_declarations.py
  src/world/societies/urls.py
  src/world/societies/views.py
Due: getattr-literal, eslint, typescript, prettier

Regenerate API types for standing declarations (#3290)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Regenerate API types for canon-review wiring (#3304)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

feat(#3305): landing page data hooks (public shop-window reads)
  frontend/src/home/__tests__/queries.test.ts
  frontend/src/home/api.ts
  frontend/src/home/queries.ts
Due: eslint, typescript, prettier

Regenerate API types for companion emote (#3294)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Regenerate API types for black journal afterlife (#3287)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Regenerate API types for bulletin boards (#3286)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Regenerate API types for room desc variants (#3291)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Scene check invocation: player self-checks, GM calls, proposal pipeline (#3295)
  docs/roadmap/capabilities-and-challenges.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/checks.md
  frontend/src/checks/api.ts
  frontend/src/checks/queries.ts
  frontend/src/checks/types.ts
  frontend/src/scenes/components/CheckCallPromptCard.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
  frontend/src/scenes/components/SelfCheckPanel.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/actions/definitions/gm_adjudication.py
  src/actions/definitions/scene_checks.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_scene_checks_actions.py
  src/commands/default_cmdsets.py
  src/commands/scene_checks.py
  src/world/checks/AGENT_GLOSSARY.md
  src/world/checks/admin.py
  src/world/checks/catalog_invocation.py
  src/world/checks/constants.py
  src/world/checks/models.py
  src/world/checks/serializers.py
  src/world/checks/urls.py
  src/world/checks/views.py
  src/world/migrations/0163_checkcall_checkproposal_checkcalltarget.py
  src/world/migrations/max_migration.txt
  src/world/player_submissions/constants.py
  src/world/player_submissions/factories.py
  src/world/player_submissions/models.py
  src/world/player_submissions/serializers.py
  src/world/player_submissions/services.py
  src/world/player_submissions/tests/test_check_proposal.py
  src/world/player_submissions/urls.py
  src/world/player_submissions/views.py
  src/world/staff_inbox/services.py
  src/world/staff_inbox/tests/test_services.py
Due: getattr-literal, eslint, typescript, prettier

Add tavern games: coin-stakes dice gambling at a Place (#3292)
  .github/workflows/ci.yml
  AGENT_GLOSSARY_MAP.md
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/tavern-games.md
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/TavernGameWidget.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/actions/definitions/tavern_games.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_tavern_games_actions.py
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/tavern_games.py
  src/commands/tests/test_tavern_games.py
  src/web/urls.py
  src/world/admin.py
  src/world/migrations/0163_taverngamblingconfig_taverngame_gamesession_and_more.py
  src/world/migrations/max_migration.txt
  src/world/models.py
  src/world/seeds/clusters.py
  src/world/tavern_games/AGENT_GLOSSARY.md
  src/world/tavern_games/__init__.py
  src/world/tavern_games/admin.py
  src/world/tavern_games/constants.py
  src/world/tavern_games/exceptions.py
  src/world/tavern_games/factories.py
  src/world/tavern_games/filters.py
  src/world/tavern_games/models.py
  src/world/tavern_games/seeds.py
  src/world/tavern_games/serializers.py
  src/world/tavern_games/services.py
  src/world/tavern_games/tests/__init__.py
  src/world/tavern_games/tests/test_services.py
  src/world/tavern_games/tests/test_views.py
  src/world/tavern_games/urls.py
  src/world/tavern_games/views.py
Due: getattr-literal, eslint, typescript, prettier

Commit regenerated OpenAPI schema alongside API types (#3304)
  src/schema.json
Due: none

Commit regenerated OpenAPI schema alongside API types (#3290)
  src/schema.json
Due: none

Appeals to organizations: OrgAppeal/OrgAppealSignon models, actions, telnet, API, panel (#3293)
  docs/adr/0231-org-appeals-are-distinct-from-ooc-petitions.md
  docs/adr/README.md
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/societies.md
  frontend/src/orgs/api.ts
  frontend/src/orgs/components/AppealsPanel.tsx
  frontend/src/orgs/components/LodgeAppealDialog.tsx
  frontend/src/orgs/pages/DossierPage.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/orgs/queries.ts
  src/actions/definitions/org_appeals.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/organizations.py
  src/world/migrations/0163_organizationrank_can_resolve_appeals_orgappeal_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/appeal_services.py
  src/world/societies/constants.py
  src/world/societies/exceptions.py
  src/world/societies/factories.py
  src/world/societies/filters.py
  src/world/societies/membership_services.py
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_org_appeal_api.py
  src/world/societies/tests/test_org_appeals.py
  src/world/societies/urls.py
  src/world/societies/views.py
Due: getattr-literal, eslint, typescript, prettier

Commit regenerated OpenAPI schema alongside API types (#3294)
  src/schema.json
Due: none

Commit regenerated OpenAPI schema alongside API types (#3287)
  src/schema.json
Due: none

Commit regenerated OpenAPI schema alongside API types (#3286)
  src/schema.json
Due: none

Commit regenerated OpenAPI schema alongside API types (#3291)
  src/schema.json
Due: none

Regenerate OpenAPI schema and API types for scene checks (#3295)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Regenerate OpenAPI schema and API types for tavern games (#3292)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Regenerate OpenAPI schema and API types for org appeals (#3293)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Prettier formatting for journals frontend files (CI pre-commit)
  frontend/src/journals/api.ts
  frontend/src/journals/components/JournalComposerDialog.tsx
  frontend/src/journals/pages/JournalsPage.tsx
  frontend/src/journals/queries.ts
Due: eslint, typescript, prettier
