Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

CG selection cards should expand to lore/codex modals (#2410)
  frontend/src/codex/__tests__/CodexModal.test.tsx
  frontend/src/codex/__tests__/ContentSections.test.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/CodexInlineLink.tsx
  frontend/src/codex/components/CodexModal.tsx
  frontend/src/codex/components/ContentSections.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/codex/serializers.py
  src/world/codex/services.py
  src/world/codex/tests/test_link_resolution.py
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

feat: extend content pipeline to load raw fixture JSON from lore repo
  justfile
  src/.env.example
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_fixtures.py
  src/web/admin/content_load_views.py
  src/world/character_creation/models.py
  src/world/magic/models/cantrips.py
  src/world/skills/models.py
  src/world/tarot/models.py
  src/world/weather/models.py
  tools/build_content_fixtures.py
  tools/ensure_content_repo.sh
Due: getattr-literal

fix: show character-required message instead of 403 for no-character users
  frontend/src/App.tsx
  frontend/src/components/RequireCharacter.tsx
  frontend/src/components/__tests__/RequireCharacter.test.tsx
  frontend/src/magic/__tests__/PendingAlterationBanner.test.tsx
  frontend/src/magic/queries.ts
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
Due: eslint, typescript, prettier

test: add available_characters to alterationQueries test fixture
  frontend/src/magic/__tests__/alterationQueries.test.tsx
Due: eslint, typescript, prettier

403 on progression page for users without a character (#2413)
  frontend/src/App.tsx
  frontend/src/components/RequireCharacter.tsx
  frontend/src/components/__tests__/RequireCharacter.test.tsx
  frontend/src/magic/__tests__/PendingAlterationBanner.test.tsx
  frontend/src/magic/__tests__/alterationQueries.test.tsx
  frontend/src/magic/queries.ts
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
Due: eslint, typescript, prettier

Extend content pipeline to load raw fixture JSON from the private lore repo (#2414)
  justfile
  src/.env.example
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_fixtures.py
  src/web/admin/content_load_views.py
  src/world/character_creation/models.py
  src/world/magic/models/cantrips.py
  src/world/skills/models.py
  src/world/tarot/models.py
  src/world/weather/models.py
  tools/build_content_fixtures.py
  tools/ensure_content_repo.sh
Due: getattr-literal

fix: add Go Home and Reload buttons to ErrorBoundary recovery
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
Due: eslint, typescript, prettier

fix: ThrowOnRender return type for TS build compatibility
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
Due: eslint, typescript, prettier

feat: rivalry declaration web API + consent-tree onboarding primer (#2170)
  src/world/missions/tests/test_tutorial_seed.py
  src/world/scenes/friend_serializers.py
  src/world/scenes/friend_views.py
  src/world/scenes/tests/test_rivalry_api.py
  src/world/scenes/urls.py
  src/world/seeds/game_content/tutorial.py
Due: getattr-literal

feat: RivalButton web surface + api types + docs (#2170)
  docs/roadmap/missions.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/consent.md
  frontend/src/friends/__tests__/RivalButton.test.tsx
  frontend/src/friends/api.ts
  frontend/src/friends/components/RivalButton.tsx
  frontend/src/friends/queries.ts
  frontend/src/friends/types.ts
  frontend/src/game/components/CharacterCardDrawer.test.tsx
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/schema.json
  src/world/scenes/CLAUDE.md
Due: eslint, typescript, prettier

test: e2e tutor-offer count 4 → 5 for the consent primer (#2170)
  src/integration_tests/pipeline/test_tutorial_chain_e2e.py
Due: getattr-literal

Antagonism-consent: finish remaining consumers (register + theft already shipped — #1698/#1141/#1909) (#2416)
  docs/roadmap/missions.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/consent.md
  frontend/src/friends/__tests__/RivalButton.test.tsx
  frontend/src/friends/api.ts
  frontend/src/friends/components/RivalButton.tsx
  frontend/src/friends/queries.ts
  frontend/src/friends/types.ts
  frontend/src/game/components/CharacterCardDrawer.test.tsx
  frontend/src/game/components/CharacterCardDrawer.tsx
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/integration_tests/pipeline/test_tutorial_chain_e2e.py
  src/schema.json
  src/world/missions/tests/test_tutorial_seed.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/friend_serializers.py
  src/world/scenes/friend_views.py
  src/world/scenes/tests/test_rivalry_api.py
  src/world/scenes/urls.py
  src/world/seeds/game_content/tutorial.py
Due: getattr-literal, eslint, typescript, prettier

Error boundary traps users — no way to recover without hard refresh (#2415)
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
Due: eslint, typescript, prettier

fix: pose/action authorship is the worn face, derived server-side (#981 audit)
  docs/systems/scenes.md
  frontend/src/conditions/components/TreatActionPanel.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/hooks/handleInteractionPayload.ts
  frontend/src/roster/persona.ts
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/EndorsementControl.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/ReactionStrip.tsx
  frontend/src/scenes/components/SpeakerQueueBar.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/world/scenes/action_views.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
Due: getattr-literal, eslint, typescript, prettier

fix: typed API errors, FormData uploads, route-level error boundary (audit item 2)
  frontend/src/App.tsx
  frontend/src/evennia_replacements/api.test.ts
  frontend/src/evennia_replacements/api.ts
  frontend/src/lib/__tests__/errors.test.ts
  frontend/src/lib/errors.ts
  frontend/src/queryClient.ts
  frontend/src/roster/components/MediaUploadForm.tsx
Due: eslint, typescript, prettier

fix: query-key factories produce matchable prefixes; dead keys retargeted (audit item 3)
  frontend/src/conditions/queries.ts
  frontend/src/magic/__tests__/queries.test.tsx
  frontend/src/magic/queries.ts
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  frontend/src/scenes/components/PlaceBar.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/secrets/queries.ts
  frontend/src/stories/queries.ts
  frontend/src/tables/queries.ts
Due: eslint, typescript, prettier

fix: WS reconnect + guarded scene-buffer clear + multiplayer liveness polls (audit item 4)
  frontend/src/game/GamePage.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/__tests__/handleScenePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/handleScenePayload.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/missions/queries.ts
  frontend/src/rituals/queries.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

fix: CG draft sync — backend key-merge, optimistic client, lifecycle fixes (audit item 5)
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/hooks/useDistinctions.ts
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_serializers.py
Due: getattr-literal, eslint, typescript, prettier

fix: pagination — follow-all-pages reads, picker caps, unbounded viewsets (audit item 6)
  frontend/src/generated/api.d.ts
  frontend/src/inventory/api.ts
  frontend/src/lib/pagination.ts
  frontend/src/missions/api.ts
  frontend/src/missions/pages/TriggerGiversPage.tsx
  frontend/src/missions/queries.ts
  frontend/src/npc_services/pages/NPCRoleEditorPage.tsx
  src/schema.json
  src/world/achievements/tests/test_views.py
  src/world/achievements/views.py
  src/world/stories/tests/test_canon_review.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

feat: export authored content to private lore repo fixtures directory
  justfile
  src/core_management/content_export.py
  src/core_management/tests/test_content_export.py
  src/web/admin/content_export_views.py
  src/web/admin/urls.py
  src/web/templates/admin/content_export_preview.html
  src/web/templates/admin/game_setup.html
  tools/export_content.py
Due: getattr-literal

Audit fix 1: pose/action authorship is the worn face, derived server-side (#2417)
  docs/systems/scenes.md
  frontend/src/conditions/components/TreatActionPanel.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/hooks/handleInteractionPayload.ts
  frontend/src/roster/persona.ts
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/EndorsementControl.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/ReactionStrip.tsx
  frontend/src/scenes/components/SpeakerQueueBar.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/world/scenes/action_views.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
Due: getattr-literal, eslint, typescript, prettier

Audit fix 2: typed API errors, FormData uploads, route-level error boundary (#2418)
  frontend/src/App.tsx
  frontend/src/evennia_replacements/api.test.ts
  frontend/src/evennia_replacements/api.ts
  frontend/src/lib/__tests__/errors.test.ts
  frontend/src/lib/errors.ts
  frontend/src/queryClient.ts
  frontend/src/roster/components/MediaUploadForm.tsx
Due: eslint, typescript, prettier

feat: commit+push lore repo fixtures from CLI and admin
  justfile
  pyproject.toml
  src/core_management/content_push.py
  src/core_management/tests/test_content_push.py
  src/web/admin/content_push_views.py
  src/web/admin/urls.py
  src/web/templates/admin/content_push_confirm.html
  src/web/templates/admin/game_setup.html
  tools/push_content.py
Due: getattr-literal

fix: mark tools scripts executable in git index
  tools/export_content.py
  tools/push_content.py
Due: getattr-literal

Audit fix 3: query-key factories produce matchable prefixes; dead keys retargeted (#2419)
  frontend/src/conditions/queries.ts
  frontend/src/magic/__tests__/queries.test.tsx
  frontend/src/magic/queries.ts
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  frontend/src/scenes/components/PlaceBar.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/secrets/queries.ts
  frontend/src/stories/queries.ts
  frontend/src/tables/queries.ts
Due: eslint, typescript, prettier

Audit fix 4: WS reconnect, guarded scene-buffer clear, multiplayer liveness polls (#2420)
  frontend/src/game/GamePage.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/__tests__/handleScenePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/handleScenePayload.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/missions/queries.ts
  frontend/src/rituals/queries.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Audit fix 5: CG draft sync — backend key-merge, optimistic client, lifecycle fixes (#2421)
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/hooks/useDistinctions.ts
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_serializers.py
Due: getattr-literal, eslint, typescript, prettier

Audit fix 6: pagination — follow-all-pages reads, picker caps, unbounded viewsets (#2422)
  frontend/src/generated/api.d.ts
  frontend/src/inventory/api.ts
  frontend/src/lib/pagination.ts
  frontend/src/missions/api.ts
  frontend/src/missions/pages/TriggerGiversPage.tsx
  frontend/src/missions/queries.ts
  frontend/src/npc_services/pages/NPCRoleEditorPage.tsx
  src/schema.json
  src/world/achievements/tests/test_views.py
  src/world/achievements/views.py
  src/world/stories/tests/test_canon_review.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

Export authored content to the private lore repo's fixtures/ directory (#2425)
  justfile
  pyproject.toml
  src/core_management/content_export.py
  src/core_management/content_push.py
  src/core_management/tests/test_content_export.py
  src/core_management/tests/test_content_push.py
  src/web/admin/content_export_views.py
  src/web/admin/content_push_views.py
  src/web/admin/urls.py
  src/web/templates/admin/content_export_preview.html
  src/web/templates/admin/content_push_confirm.html
  src/web/templates/admin/game_setup.html
  tools/export_content.py
  tools/push_content.py
Due: getattr-literal

fix: magic correctness — web imbuing, Sineating PKs, weave race, XP invalidations (audit2 S1)
  frontend/src/events/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/SineatingRequestDialog.test.tsx
  frontend/src/magic/api.ts
  frontend/src/magic/components/SineatingRequestDialog.tsx
  frontend/src/magic/components/threads/WeaveThreadWizard.tsx
  frontend/src/magic/queries.ts
  frontend/src/rituals/__tests__/fields.test.tsx
  frontend/src/rituals/__tests__/queries.test.tsx
  frontend/src/stories/__tests__/ScheduleEventDialog.test.tsx
  src/schema.json
  src/world/magic/constants.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_api.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

chore: remove superseded implementations (audit item 8)
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/StatCategory.tsx
  frontend/src/character-creation/components/StatSlider.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/ThreadList.test.tsx
  frontend/src/magic/components/ThreadList.tsx
  frontend/src/stories/CLAUDE.md
  frontend/src/stories/api.ts
  frontend/src/stories/queries.ts
  frontend/src/utils/urls.ts
Due: eslint, typescript, prettier

Audit fix 8: remove superseded implementations (#2424)
  frontend/src/character-creation/components/FamilySelection.tsx
  frontend/src/character-creation/components/PlaceholderStages.tsx
  frontend/src/character-creation/components/StatCategory.tsx
  frontend/src/character-creation/components/StatSlider.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/ThreadList.test.tsx
  frontend/src/magic/components/ThreadList.tsx
  frontend/src/stories/CLAUDE.md
  frontend/src/stories/api.ts
  frontend/src/stories/queries.ts
  frontend/src/utils/urls.ts
Due: eslint, typescript, prettier

Audit2 S1: magic correctness — web imbuing, Sineating PKs, weave race, XP invalidations (#2429)
  frontend/src/events/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/SineatingRequestDialog.test.tsx
  frontend/src/magic/api.ts
  frontend/src/magic/components/SineatingRequestDialog.tsx
  frontend/src/magic/components/threads/WeaveThreadWizard.tsx
  frontend/src/magic/queries.ts
  frontend/src/rituals/__tests__/fields.test.tsx
  frontend/src/rituals/__tests__/queries.test.tsx
  frontend/src/stories/__tests__/ScheduleEventDialog.test.tsx
  src/schema.json
  src/world/magic/constants.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_api.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

fix: mission invites visible without any participation (audit2 S3)
  frontend/src/generated/api.d.ts
  frontend/src/missions/api.ts
  frontend/src/missions/pages/JournalPage.tsx
  frontend/src/missions/queries.ts
  src/schema.json
  src/world/missions/services/journal.py
  src/world/missions/tests/test_api_mission_invite.py
  src/world/missions/tests/test_journal_invite_payload.py
  src/world/missions/views.py
Due: getattr-literal, eslint, typescript, prettier

fix: EpisodeFormDialog data loss — seed from full detail, not list shape (audit2 S4)
  frontend/src/stories/__tests__/EpisodeFormDialog.test.tsx
  frontend/src/stories/components/EpisodeFormDialog.tsx
Due: eslint, typescript, prettier

perf: backend N+1 + read-only-GET fixes (audit2 S5)
  src/world/goals/tests/test_views.py
  src/world/goals/views.py
  src/world/magic/serializers.py
  src/world/magic/views.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_organization_api.py
  src/world/societies/views.py
Due: getattr-literal

refactor: consolidate persona search into shared usePersonaSearch hook (audit2 S6)
  frontend/src/estates/components/BequestEditor.tsx
  frontend/src/estates/components/ExecutorEditor.tsx
  frontend/src/magic/components/SineatingRequestDialog.tsx
  frontend/src/rituals/components/RitualSessionDraftDialog.tsx
  frontend/src/rituals/components/fields/CharacterSearchField.tsx
  frontend/src/roster/__tests__/usePersonaSearch.test.tsx
  frontend/src/roster/usePersonaSearch.ts
  frontend/src/stories/components/ScheduleEventDialog.tsx
  frontend/src/tables/CLAUDE.md
  frontend/src/tables/components/InviteToTableDialog.tsx
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
