Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Fix CI hygiene for log scanner
  .gitleaksignore
  infra/scripts/scan_prod_logs.py
Due: getattr-literal

chore(api): regenerate types for optional soak
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Ask the model which visibility tiers exist instead of listing four by hand
  docs/systems/character_sheets.md
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  tools/agents/README.md
  tools/agents/enumerated-set-reviewer.md
Due: getattr-literal

Standing was withheld from friends: derive the visibility tiers from the model (#3924)
  docs/systems/character_sheets.md
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  tools/agents/README.md
  tools/agents/enumerated-set-reviewer.md
Due: getattr-literal

fix: guard legend record querysets
  src/world/societies/models.py
Due: getattr-literal

fix(combat): scale prepared encounters for intended party (#3920)
  frontend/src/combat/api.ts
  frontend/src/generated/api.d.ts
  src/actions/definitions/gm_story.py
  src/actions/tests/test_gm_story_run_beat.py
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
  src/world/missions/services/encounter_option.py
  src/world/missions/tests/test_encounter_option.py
Due: getattr-literal, eslint, typescript, prettier

Allow backup guardians to answer interpose reactions (#3921)
  src/world/combat/services.py
  src/world/combat/tests/test_reaction_economy.py
Due: getattr-literal

Wire ordinary story completions to Legend settlement
  src/actions/definitions/gm_story.py
  src/world/migrations/0144_stake_activation_participants.py
  src/world/migrations/max_migration.txt
  src/world/stories/admin.py
  src/world/stories/models.py
  src/world/stories/services/beats.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_legend_completion.py
Due: getattr-literal

fix: allow re-entering a locationless character
  frontend/src/game/components/RoomPanel.test.tsx
  frontend/src/game/components/RoomPanel.tsx
Due: eslint, typescript, prettier

test: fix legend completion count assertion
  src/world/stories/tests/test_legend_completion.py
Due: getattr-literal

feat: record causal story recognition evidence
  frontend/src/combat/components/AftermathDigest.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/aftermath.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/types.py
  src/world/migrations/0145_causal_recognition_3914.py
  src/world/migrations/max_migration.txt
  src/world/societies/admin.py
  src/world/societies/causal_recognition.py
  src/world/societies/models.py
  src/world/societies/tests/test_causal_recognition.py
  src/world/stories/services/legend_settlement.py
Due: getattr-literal, eslint, typescript, prettier

chore: refresh generated API types
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

feat(combat): expose authored objective branches
  docs/systems/stakes.md
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/components/AftermathDigest.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/aftermath.py
  src/world/combat/objective_branches.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_objective_branches.py
  src/world/combat/types.py
Due: getattr-literal, eslint, typescript, prettier

feat(combat): expose browser encounter decisions
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/components/CommitmentPanel.tsx
  frontend/src/combat/components/SpecialistChoicePanel.test.tsx
  frontend/src/combat/components/SpecialistChoicePanel.tsx
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/scenes/pages/SceneDetailPage.tsx
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

test: align combat fixtures with generated API
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat: make ordinary cast strain benefit-bearing (#3912)
  docs/adr/0304-ordinary-cast-strain-is-a-benefit-bearing-push.md
  docs/architecture/clash-design.md
  docs/architecture/non-clash-casting.md
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionTypes.ts
  src/actions/player_interface.py
  src/actions/serializers.py
  src/actions/types.py
  src/schema.json
  src/world/combat/clash.py
  src/world/combat/interaction_services.py
  src/world/combat/services.py
  src/world/combat/types.py
  src/world/combat/views_outcome_details.py
  src/world/magic/services/__init__.py
  src/world/magic/services/strain.py
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_strain_contract.py
  src/world/magic/types/techniques.py
  src/world/migrations/0146_interaction_strain_metadata.py
  src/world/migrations/max_migration.txt
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/models.py
  src/world/scenes/sql/partition_interaction_forward.sql
  src/world/scenes/sql/partition_interaction_reverse.sql
Due: getattr-literal, eslint, typescript, prettier

test(combat): add bridge evacuation acceptance gate
  docs/pr-evidence/3917-bridge-evacuation-acceptance.md
  src/world/combat/tests/test_bridge_evacuation_acceptance.py
Due: getattr-literal

docs: bind bridge acceptance evidence to reviewed revision
  docs/pr-evidence/3917-bridge-evacuation-acceptance.md
Due: none

test(combat): sample coordinated balance tactics
  src/world/combat/tests/test_bridge_evacuation_acceptance.py
Due: getattr-literal

test: align query and strain fixtures with dependency wave
  src/world/combat/tests/test_view_query_counts.py
  src/world/scenes/tests/test_create_action_request_strain.py
Due: getattr-literal

docs: record deterministic balance sample
  docs/pr-evidence/3917-bridge-evacuation-acceptance.md
Due: none

test(combat): cover representative balance dimensions
  src/world/combat/tests/test_bridge_evacuation_acceptance.py
Due: getattr-literal

fix: validate combo composition and preserve support effects
  src/world/combat/services.py
  src/world/combat/tests/test_combos.py
  src/world/combat/tests/test_round_orchestrator.py
Due: getattr-literal

test(combat): add bridge journey acceptance paths
  src/world/combat/tests/test_bridge_evacuation_acceptance.py
Due: getattr-literal

test: declare complete combo composition before upgrade
  src/integration_tests/test_boss_fight_journey.py
Due: getattr-literal

A grant says which rung it confers: guest, tenant or trustee
  src/world/locations/admin.py
  src/world/locations/constants.py
  src/world/locations/models.py
  src/world/migrations/0144_location_grant_role.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

One gate that names its rung, replacing is_owner-or-is_tenant everywhere
  src/actions/prerequisites.py
  src/actions/tests/test_npc_ambience_actions.py
  src/flows/object_states/exit_state.py
  src/flows/tests/test_object_state_permissions.py
  src/world/character_creation/services.py
  src/world/companions/services.py
  src/world/locations/factories.py
  src/world/locations/services.py
  src/world/locations/tests/test_lifecycle.py
  src/world/locations/tests/test_permissions.py
  src/world/locations/tests/test_residence.py
  src/world/locations/tests/test_room_editor.py
  src/world/locations/tests/test_tenancy_services.py
  src/world/magic/services/portal_travel.py
  src/world/npc_services/guard_services.py
  src/world/npc_services/servant_ambience.py
  src/world/npc_services/servant_fetch.py
  src/world/npc_services/tests/test_guard_detection.py
  src/world/npc_services/tests/test_servant_ambience.py
  src/world/npc_services/tests/test_servant_fetch.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_defenses.py
Due: getattr-literal

Tests say which rung they mean
  src/actions/tests/test_npc_ambience_actions.py
  src/actions/tests/test_room_edit_action.py
  src/actions/tests/test_room_tenant_prerequisite_room_id.py
  src/world/companions/tests/test_services.py
  src/world/npc_services/tests/test_servant_ambience.py
  src/world/npc_services/tests/test_servant_fetch.py
Due: getattr-literal

A trustee controls home state: structural building work stops being owner-only
  src/world/buildings/property_grant_services.py
  src/world/buildings/renovation_services.py
  src/world/buildings/room_services.py
  src/world/buildings/upgrade_services.py
Due: getattr-literal

The keyring, and the docs for the ladder
  AGENT_GLOSSARY_MAP.md
  docs/adr/0304-location-access-is-a-four-rung-ladder-on-the-grant.md
  docs/adr/README.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/panels.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/world/buildings/views.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/types.py
  src/world/locations/AGENT_GLOSSARY.md
  src/world/locations/CLAUDE.md
  src/world/locations/tests/test_role_ladder.py
Due: getattr-literal, eslint, typescript, prettier

Tests for the ladder and the keyring
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal

Frontend tests for the keyring, and the prop typecheck could not see
  frontend/src/character_sheets/components/sheet/__tests__/EstateDomains.test.tsx
Due: eslint, typescript, prettier

Regenerate the model map for granted_by
  docs/systems/MODEL_MAP.md
Due: none

Add keyring to the page test fixture, and correct the previous commit
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
Due: eslint, typescript, prettier

Every fixture states its rung, not just the ones I predicted
  src/commands/tests/test_dispatchers.py
  src/world/buildings/tests/test_renown_polish.py
  src/world/buildings/tests/test_renown_upkeep.py
  src/world/estates/tests/test_intestate.py
  src/world/items/tests/test_renown_polish.py
  src/world/locations/tests/test_permissions.py
  src/world/locations/tests/test_tenancy.py
  src/world/locations/tests/test_tenant_service.py
  src/world/societies/tests/test_renown_owned_dwellings.py
Due: getattr-literal

The keyring shows who gave the key, which its own line already promised
  frontend/src/character_sheets/components/sheet/__tests__/EstateDomains.test.tsx
  frontend/src/character_sheets/components/sheet/panels.tsx
Due: eslint, typescript, prettier

room/evict takes the strongest grant, not an arbitrary one
  src/commands/locations.py
Due: getattr-literal

test(combat): update warm encounter query budget
  src/world/combat/tests/test_view_query_counts.py
Due: getattr-literal
