Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

refactor(conditions): simplify ConditionCapabilityEffect to additive value
  src/world/conditions/constants.py
  src/world/conditions/migrations/0003_remove_conditioncapabilityeffect_effect_type_and_more.py
  src/world/conditions/models.py
Due: getattr-literal

refactor(conditions): update ConditionCapabilityEffect factory to use value
  src/world/conditions/factories.py
Due: getattr-literal

feat(conditions): add capability resolution service functions
  src/world/conditions/services.py
  src/world/conditions/types.py
  src/world/conditions/views.py
Due: getattr-literal

test(conditions): rewrite capability tests for additive model
  src/world/conditions/tests/test_services.py
Due: getattr-literal

feat(actions): wire real capability data into TraverseExitAction
  src/actions/definitions/movement.py
Due: getattr-literal

refactor(conditions): update views aggregation for additive capabilities
  src/world/conditions/types.py
  src/world/conditions/views.py
Due: getattr-literal

docs: update capability documentation for additive model
  docs/systems/INDEX.md
  docs/systems/conditions.md
Due: none

docs(mechanics): add TECH_DEBT.md documenting modifier system issues
  src/world/mechanics/TECH_DEBT.md
Due: none

Add capability resolution (#322)
  docs/systems/INDEX.md
  docs/systems/conditions.md
  src/actions/definitions/movement.py
  src/world/conditions/constants.py
  src/world/conditions/factories.py
  src/world/conditions/migrations/0003_remove_conditioncapabilityeffect_effect_type_and_more.py
  src/world/conditions/models.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_services.py
  src/world/conditions/types.py
  src/world/conditions/views.py
  src/world/mechanics/TECH_DEBT.md
Due: getattr-literal

feat(magic): add path_id filtering to cantrip endpoint
  src/world/magic/tests/test_views.py
  src/world/magic/views.py
Due: getattr-literal

feat(cg): add path-aware cantrip fetching and mode branching
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

docs: update magic and CG docs for path-based cantrip filtering
  frontend/src/character-creation/CLAUDE.md
  src/world/magic/CLAUDE.md
Due: prettier

fix: harden path filter test and add lint justification
  frontend/src/character-creation/components/MagicStage.tsx
  src/world/magic/tests/test_views.py
Due: getattr-literal, eslint, typescript, prettier

fix(cg): use undefined instead of null for optional draft_data fields
  frontend/src/character-creation/components/MagicStage.tsx
Due: eslint, typescript, prettier

Feature/cantrip path filter (#323)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/queries.ts
  src/world/magic/CLAUDE.md
  src/world/magic/tests/test_views.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

docs: add ModifierType → ModifierTarget rename design
  docs/plans/2026-03-05-modifier-target-rename-design.md
Due: none

docs: add ModifierTarget rename implementation plan
  docs/plans/2026-03-05-modifier-target-rename-plan.md
Due: none

refactor(mechanics): rename ModifierType to ModifierTarget
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/codex/models.py
  src/world/conditions/models.py
  src/world/distinctions/factories.py
  src/world/distinctions/models.py
  src/world/goals/models.py
  src/world/goals/serializers.py
  src/world/goals/services.py
  src/world/magic/factories.py
  src/world/magic/models.py
  src/world/magic/serializers.py
  src/world/magic/services.py
  src/world/magic/views.py
  src/world/mechanics/admin.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0002_rename_modifiertype_to_modifiertarget.py
  src/world/mechanics/migrations/0003_alter_charactermodifier_source_and_more.py
  src/world/mechanics/models.py
  src/world/mechanics/serializers.py
  src/world/mechanics/services.py
  src/world/mechanics/types.py
  src/world/mechanics/urls.py
  src/world/mechanics/views.py
  src/world/relationships/models.py
Due: getattr-literal

refactor: fix remaining ModifierType references in comments, docstrings, and factories
  src/world/character_creation/models.py
  src/world/conditions/models.py
  src/world/distinctions/models.py
  src/world/goals/admin.py
  src/world/goals/factories.py
  src/world/goals/migrations/0002_alter_charactergoal_domain.py
  src/world/goals/models.py
  src/world/goals/types.py
  src/world/goals/views.py
  src/world/magic/models.py
  src/world/magic/urls.py
Due: getattr-literal

feat(mechanics): add target_trait FK, remove string-based lookups, stub consumers
  src/world/action_points/models.py
  src/world/mechanics/migrations/0004_modifiertarget_target_trait.py
  src/world/mechanics/models.py
  src/world/mechanics/services.py
  src/world/progression/services/awards.py
  src/world/traits/handlers.py
Due: getattr-literal

refactor: move dead TRAIT_CATEGORY_TO_DEVELOPMENT_MODIFIER into TODO docstring
  src/world/progression/services/awards.py
Due: getattr-literal

test: update all tests for ModifierTarget rename and new FK
  src/web/admin/tests/test_export_import.py
  src/world/action_points/tests/test_models.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_services.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/conditions/tests/test_services.py
  src/world/distinctions/tests/test_models.py
  src/world/distinctions/tests/test_serializers.py
  src/world/distinctions/tests/test_views.py
  src/world/goals/tests/test_serializers.py
  src/world/goals/tests/test_services.py
  src/world/magic/tests/test_affinity_totals.py
  src/world/magic/tests/test_anima_ritual.py
  src/world/magic/tests/test_models.py
  src/world/magic/tests/test_motif.py
  src/world/magic/tests/test_serializers.py
  src/world/magic/tests/test_services.py
  src/world/magic/tests/test_traditions.py
  src/world/magic/tests/test_views.py
  src/world/mechanics/tests/test_models.py
  src/world/mechanics/tests/test_resonance_integration.py
  src/world/mechanics/tests/test_services.py
  src/world/mechanics/tests/test_types.py
  src/world/mechanics/tests/test_views.py
  src/world/progression/tests/test_services.py
  src/world/relationships/tests/test_models.py
  src/world/relationships/tests/test_views.py
  src/world/skills/tests/test_models.py
  src/world/traits/tests.py
Due: getattr-literal

refactor: fix stale ModifierType comment in magic/admin.py
  src/world/magic/admin.py
Due: getattr-literal

docs: update all documentation for ModifierTarget rename
  docs/roadmap/ROADMAP.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/action_points.md
  docs/systems/codex.md
  docs/systems/conditions.md
  docs/systems/goals.md
  docs/systems/magic.md
  docs/systems/mechanics.md
  docs/systems/progression.md
  src/world/magic/CLAUDE.md
  src/world/mechanics/CLAUDE.md
  src/world/mechanics/TECH_DEBT.md
Due: none

fix: rename remaining modifiertype references in web.admin export/import tests
  src/web/admin/tests/test_export_import.py
Due: getattr-literal

Rename CodexEntry.modifier_type to modifier_target
  src/world/codex/admin.py
  src/world/codex/migrations/0003_remove_codexentry_modifier_type_and_more.py
  src/world/codex/models.py
  src/world/distinctions/tests/test_serializers.py
  src/world/magic/tests/test_serializers.py
Due: getattr-literal

Rename CodexEntry.modifier_type to modifier_target (#325)
  src/world/codex/admin.py
  src/world/codex/migrations/0003_remove_codexentry_modifier_type_and_more.py
  src/world/codex/models.py
  src/world/distinctions/tests/test_serializers.py
  src/world/magic/tests/test_serializers.py
Due: getattr-literal

feat(magic): add Affinity and Resonance domain models with factories and tests
  src/world/magic/factories.py
  src/world/magic/models.py
  src/world/magic/tests/test_affinity_resonance.py
Due: getattr-literal

refactor(magic): update all FKs from ModifierTarget to Resonance/Affinity
  src/world/magic/admin.py
  src/world/magic/migrations/0004_affinity_and_more.py
  src/world/magic/models.py
Due: getattr-literal

refactor(mechanics): strip resonance fields from ModifierTarget
  src/world/mechanics/constants.py
  src/world/mechanics/migrations/0002_remove_modifiertarget_affiliated_affinity_and_more.py
  src/world/mechanics/models.py
  src/world/mechanics/serializers.py
Due: getattr-literal

refactor(magic): update factories to use Resonance/Affinity models
  src/world/magic/factories.py
Due: getattr-literal

refactor(magic): update services for Resonance/Affinity models
  src/world/magic/services.py
Due: getattr-literal

refactor(magic): update serializers for Resonance/Affinity models
  src/world/magic/serializers.py
Due: getattr-literal

refactor(magic): update views for Resonance/Affinity models
  src/world/magic/views.py
Due: getattr-literal

refactor(conditions): update DamageType.resonance FK to magic.Resonance
  src/world/conditions/migrations/0004_alter_damagetype_resonance.py
  src/world/conditions/models.py
Due: getattr-literal

refactor(mechanics): update services for Resonance model
  src/world/mechanics/services.py
Due: getattr-literal

test(admin): update export/import tests for ModifierTarget field removal
  src/web/admin/tests/test_export_import.py
Due: getattr-literal

refactor: repoint conditions FKs to checks.CheckType and delete duplicate model
  src/world/conditions/admin.py
  src/world/conditions/factories.py
  src/world/conditions/migrations/0004_alter_conditiontemplate_cure_check_type_and_more.py
  src/world/conditions/models.py
  src/world/conditions/serializers.py
  src/world/conditions/services.py
  src/world/conditions/views.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
