Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Worktrees are ~10 min to create/delete: uv venv full-copies (cache on overlay vs worktrees on D:\ WSL2 mount) (#1038)
  .devcontainer/docker-compose.yml
  .devcontainer/fix-volume-perms.sh
  docs/devcontainer-setup.md
Due: none

feat(#1036): group mission resolution via API — GROUP_VOTE vs JOINT
  docs/roadmap/missions.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/missions/constants.py
  src/world/missions/factories.py
  src/world/missions/migrations/0016_group_vote_ballot_and_conflict_mode.py
  src/world/missions/migrations/max_migration.txt
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/__init__.py
  src/world/missions/services/cron.py
  src/world/missions/services/multiplayer.py
  src/world/missions/services/play.py
  src/world/missions/tests/test_1036_group_play.py
  src/world/missions/tests/test_api_editor_crud.py
  src/world/missions/tests/test_models_node.py
  src/world/missions/tests/test_services_multiplayer.py
  src/world/missions/tests/test_services_resolution_beat.py
  src/world/missions/types.py
  src/world/missions/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(#1036): address adversarial review — correctness, FE build, cron registration
  frontend/src/missions/__tests__/computeLayout.test.ts
  frontend/src/missions/pages/NodePage.tsx
  src/world/game_clock/tasks.py
  src/world/missions/factories.py
  src/world/missions/services/cron.py
  src/world/missions/services/multiplayer.py
  src/world/missions/tests/test_1036_group_play.py
  src/world/missions/types.py
Due: getattr-literal, eslint, typescript, prettier

feat(#520): RoundStatus + SceneRoundParticipantStatus enums
  src/world/scenes/constants.py
  src/world/scenes/tests/test_round_models.py
Due: getattr-literal

feat(#520): SceneRound + SceneRoundParticipant models
  src/world/scenes/constants.py
  src/world/scenes/migrations/0022_sceneround_sceneroundparticipant_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/tests/test_round_models.py
Due: getattr-literal

test(#520): factories for SceneRound + participant
  src/world/scenes/factories.py
  src/world/scenes/tests/test_round_models.py
Due: getattr-literal

feat(#520): shared tick_round_for_targets orchestrator
  src/world/conditions/tests/test_round_tick_shared.py
  src/world/vitals/services.py
Due: getattr-literal

refactor(#520): combat round tick uses shared tick_round_for_targets
  src/world/combat/services.py
Due: getattr-literal

feat(#520): scene round lifecycle services (start/advance/end)
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

feat(#520): SceneRoundContext + seam branch in get_active_round_context
  src/actions/round_context.py
  src/actions/tests/test_get_player_actions_enhancements.py
  src/world/scenes/round_context.py
  src/world/scenes/tests/test_round_context.py
Due: getattr-literal

feat(#520): opt-in start/join/leave/end round registry actions
  src/actions/definitions/rounds.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_round_actions.py
Due: getattr-literal

test(#520): non-combat round drives DoT + AFK-safety; lint/typecheck pass
  src/world/scenes/migrations/0022_sceneround_sceneroundparticipant_and_more.py
  src/world/scenes/round_context.py
  src/world/scenes/tests/test_round_integration.py
  src/world/scenes/tests/test_round_models.py
  src/world/vitals/services.py
Due: getattr-literal

fix(#520): satisfy custom linters (objectdb/string/getattr) + safe sheet_data access
  src/actions/definitions/rounds.py
  src/world/vitals/services.py
Due: getattr-literal

Group mission resolution via API — converge (group-vote) vs parallel (JOINT) (#1040)
  docs/roadmap/missions.md
  frontend/src/generated/api.d.ts
  frontend/src/missions/__tests__/computeLayout.test.ts
  frontend/src/missions/pages/NodePage.tsx
  src/schema.json
  src/world/game_clock/tasks.py
  src/world/missions/constants.py
  src/world/missions/factories.py
  src/world/missions/migrations/0016_group_vote_ballot_and_conflict_mode.py
  src/world/missions/migrations/max_migration.txt
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/__init__.py
  src/world/missions/services/cron.py
  src/world/missions/services/multiplayer.py
  src/world/missions/services/play.py
  src/world/missions/tests/test_1036_group_play.py
  src/world/missions/tests/test_api_editor_crud.py
  src/world/missions/tests/test_models_node.py
  src/world/missions/tests/test_services_multiplayer.py
  src/world/missions/tests/test_services_resolution_beat.py
  src/world/missions/types.py
  src/world/missions/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#520): non-combat round/turn framework + shared tick (foundation, PR 1/series) (#1042)
  src/actions/definitions/rounds.py
  src/actions/registry.py
  src/actions/round_context.py
  src/actions/tests/test_base.py
  src/actions/tests/test_get_player_actions_enhancements.py
  src/actions/tests/test_round_actions.py
  src/world/combat/services.py
  src/world/conditions/tests/test_round_tick_shared.py
  src/world/scenes/constants.py
  src/world/scenes/factories.py
  src/world/scenes/migrations/0022_sceneround_sceneroundparticipant_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/round_context.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_context.py
  src/world/scenes/tests/test_round_integration.py
  src/world/scenes/tests/test_round_models.py
  src/world/scenes/tests/test_round_services.py
  src/world/vitals/services.py
Due: getattr-literal

feat(#520): scene rounds are tick-on-action (is_declaration_open=False)
  src/world/scenes/round_context.py
  src/world/scenes/tests/test_round_context.py
Due: getattr-literal

feat(#981): active-persona resolution — durable, fail-closed; replace primary-fallback resolvers
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_sheets/migrations/0006_active_persona.py
  src/world/character_sheets/migrations/max_migration.txt
  src/world/character_sheets/models.py
  src/world/currency/views.py
  src/world/magic/views_sanctum.py
  src/world/scenes/serializers.py
  src/world/scenes/services.py
  src/world/scenes/tests/test_active_persona.py
  src/world/scenes/views.py
  src/world/societies/fame_reactions.py
  src/world/societies/ranking_views.py
Due: getattr-literal, eslint, typescript, prettier

fix(#981): address adversarial review — convert two missed leak sites + model guard
  src/typeclasses/mixins.py
  src/world/character_sheets/models.py
  src/world/currency/tests/test_views.py
  src/world/societies/knowledge_services.py
Due: getattr-literal

feat(#520): advance_scene_round_for_action (per-action tick + danger end-condition)
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

perf(#1039): consolidate group-play endpoint queries
  src/world/missions/services/multiplayer.py
  src/world/missions/services/play.py
  src/world/missions/tests/test_services_multiplayer.py
Due: getattr-literal

feat(#520): danger auto-start scene round + present-character enrolment
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_danger.py
Due: getattr-literal

feat(#520): non-combat Bleeding-Out auto-starts a danger scene round
  src/world/vitals/services.py
  src/world/vitals/tests/test_services.py
Due: getattr-literal

feat(#520): CHALLENGE action ticks the scene round; dedupe round-context resolution
  src/actions/player_interface.py
  src/actions/tests/test_dispatch_scene_tick.py
  src/actions/tests/test_get_player_actions_enhancements.py
Due: getattr-literal

test(#520): acute-tier integration (danger round, AFK-safety, combat precedence)
  src/world/scenes/tests/test_acute_integration.py
Due: getattr-literal

feat(#887): apply the location conjunct per participant in group play
  src/world/missions/services/multiplayer.py
  src/world/missions/services/resolution.py
  src/world/missions/tests/test_services_multiplayer.py
Due: getattr-literal

feat(#520): acute tier — action-driven scene-round tick + danger auto-start (PR 2/series) (#1046)
  src/actions/player_interface.py
  src/actions/tests/test_dispatch_scene_tick.py
  src/actions/tests/test_get_player_actions_enhancements.py
  src/world/scenes/round_context.py
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_acute_integration.py
  src/world/scenes/tests/test_round_context.py
  src/world/scenes/tests/test_round_danger.py
  src/world/scenes/tests/test_round_services.py
  src/world/vitals/services.py
  src/world/vitals/tests/test_services.py
Due: getattr-literal

feat(#532): expose current_position on combat participant/opponent serializers
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/tests/test_position_serializer_fields.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#533): add Technique.reach (SAME/ADJACENT/ANY, default ANY)
  src/world/magic/constants.py
  src/world/magic/migrations/0025_technique_reach.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/techniques.py
  src/world/magic/tests/test_technique_reach.py
Due: getattr-literal

refactor(#532): type current_position via nested PositionSummarySerializer
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/serializers.py
Due: getattr-literal, eslint, typescript, prettier

feat(#533): position reach predicate (position_reachable + technique_can_reach)
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/__init__.py
  src/world/areas/positioning/tests/test_position_reachable.py
  src/world/combat/reach.py
  src/world/combat/tests/test_technique_can_reach.py
Due: getattr-literal

feat(#533): enforce technique reach at declare time (authoritative)
  src/world/combat/services.py
  src/world/combat/tests/test_declare_reach_gate.py
Due: getattr-literal

fix(#533): surface out-of-reach as ActionDispatchError (clean 400 via dispatch)
  src/actions/errors.py
  src/world/combat/services.py
  src/world/combat/tests/test_declare_reach_gate.py
Due: getattr-literal

refactor(#533): remove vestigial in_same_zone TargetFilters flag
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/__tests__/TargetPicker.test.tsx
  src/actions/serializers.py
  src/actions/tests/test_target_spec.py
  src/actions/types.py
  src/schema.json
Due: getattr-literal, eslint, typescript, prettier

feat(#533): surface technique reach + room adjacency (combat reach client data)
  frontend/src/generated/api.d.ts
  src/actions/player_interface.py
  src/actions/serializers.py
  src/actions/types.py
  src/schema.json
  src/world/areas/positioning/services.py
  src/world/combat/serializers.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#533): combat reach pre-filter — disable unreachable targets in declaration UI
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/actions/types.ts
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/__tests__/reach.test.ts
  frontend/src/combat/reach.ts
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/combat/types.ts
  frontend/src/scenes/actionTypes.ts
Due: eslint, typescript, prettier

feat(#532): show current position in CombatantsList rows
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/sections/CombatantsList.tsx
Due: eslint, typescript, prettier

fix(#533): annotate position_adjacency schema; drop FE type override
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/serializers.py
Due: getattr-literal, eslint, typescript, prettier

feat(#532): surface move-to-position actions in combat declaration UI
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/combat/types.ts
  frontend/src/scenes/actionTypes.ts
Due: eslint, typescript, prettier

style(#532, #533): apply ruff-format + prettier (pre-commit CI fix)
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/scenes/components/__tests__/TargetPicker.test.tsx
  src/world/combat/serializers.py
  src/world/magic/migrations/0025_technique_reach.py
Due: getattr-literal, eslint, typescript, prettier

Org-books (and rankings) gate on PRIMARY persona, not the presented persona (#1044)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/typeclasses/mixins.py
  src/world/character_sheets/migrations/0006_active_persona.py
  src/world/character_sheets/migrations/max_migration.txt
  src/world/character_sheets/models.py
  src/world/currency/tests/test_views.py
  src/world/currency/views.py
  src/world/magic/views_sanctum.py
  src/world/scenes/serializers.py
  src/world/scenes/services.py
  src/world/scenes/tests/test_active_persona.py
  src/world/scenes/views.py
  src/world/societies/fame_reactions.py
  src/world/societies/knowledge_services.py
  src/world/societies/ranking_views.py
Due: getattr-literal, eslint, typescript, prettier
