Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

fix(scenes): can_view_interaction gates PERCEIVED_ONLY reactions (#2710)
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

feat(magic): resolve who perceived a cast, per observer (#2710)
  src/world/magic/constants.py
  src/world/magic/services/cast_observation.py
  src/world/magic/tests/services/test_cast_observation.py
Due: getattr-literal

fix(scenes): CanViewInteraction checked public-scene before receiver-scoped gate (#2710)
  src/world/scenes/interaction_permissions.py
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

test(magic): make the zero-concealment test actually discriminate (#2710)
  src/world/magic/tests/services/test_cast_observation.py
Due: getattr-literal

fix(magic): stop sharing a mutable CastAudience singleton (#2710)
  src/world/magic/services/cast_observation.py
Due: getattr-literal

feat(scenes): conceal cast poses from observers who did not perceive them (#2710)
  src/world/magic/narration.py
  src/world/scenes/cast_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_cast_concealment.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

fix(scenes): prove caster can read their own concealed ACTION row (#2710 review r1)
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

fix(scenes): a concealed cast must not leak through its request row (#2710)
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

fix(scenes): stop sharing the _account_playing cache across TestCase classes (#2710 review r2)
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

feat(scenes): let a subtle caster waive concealment with cast_openly (#2710)
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/commands/pull_parsing.py
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/migrations/0058_sceneactionrequest_cast_openly.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

docs(adr): record ADR-0167 for the cast-observation seam (#2710)
  docs/adr/0167-cast-observation-is-a-per-observer-resolution-at-the-pose-seam.md
Due: none

docs(magic): document the cast-observation seam (#2710)
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
Due: none

docs(magic): regenerate MODEL_MAP.md
  docs/systems/MODEL_MAP.md
Due: none

docs(magic,scenes): glossary entries for cast concealment/audience (#2710)
  src/world/magic/AGENT_GLOSSARY.md
  src/world/scenes/AGENT_GLOSSARY.md
Due: none

docs(magic,scenes,adr): qualify PERCEIVED_ONLY's GM exception as a scene-log guarantee
  docs/adr/0167-cast-observation-is-a-per-observer-resolution-at-the-pose-seam.md
  docs/systems/magic.md
  src/world/scenes/AGENT_GLOSSARY.md
Due: none

docs(scenes): document InteractionVisibility tiers in scenes.md
  docs/systems/scenes.md
Due: none

refactor(magic): remove dead CastDetail TextChoices
  src/world/magic/constants.py
Due: getattr-literal

docs(scenes): qualify InteractionVisibility's GM exception in constants.py too
  src/world/scenes/constants.py
Due: getattr-literal

docs(magic): comment-only clarifications in cast_observation.py
  src/world/magic/services/cast_observation.py
Due: getattr-literal

refactor(scenes): extract ACTION-row concealment block from _resolve_and_pose_cast
  src/world/scenes/cast_services.py
Due: getattr-literal

docs(adr): renumber cast-observation ADR 0167 -> 0170 after main renumbered #2700's
  docs/adr/0170-cast-observation-is-a-per-observer-resolution-at-the-pose-seam.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/scenes.md
  src/world/magic/AGENT_GLOSSARY.md
  src/world/scenes/AGENT_GLOSSARY.md
Due: none

fix(seeds): gate training content behind authored_or_sample (#2727)
  src/world/magic/migrations/0131_training_outcome_award.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

Conditions: break-free-from-behavior-altering-effect mechanic (PC + NPC, power-tier weighted) (#2733)
  src/actions/definitions/conditions.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_break_free_actions.py
  src/commands/conditions.py
  src/commands/default_cmdsets.py
  src/world/checks/services.py
  src/world/checks/tests/test_break_free_level_override.py
  src/world/conditions/charm_content.py
  src/world/conditions/constants.py
  src/world/conditions/migrations/0027_conditioninstance_is_aware_and_more.py
  src/world/conditions/migrations/max_migration.txt
  src/world/conditions/models.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_attempt_break_free.py
  src/world/conditions/tests/test_break_free_fields.py
  src/world/conditions/tests/test_decay_tick.py
  src/world/conditions/types.py
  src/world/vitals/services.py
Due: getattr-literal

Fix whole-branch review findings: factory determinism, vocabulary constraint, runtime lookups, docs (#2728)
  docs/systems/INDEX.md
  docs/systems/roster.md
  src/typeclasses/tests/test_account_puppet_broadcast.py
  src/typeclasses/tests/test_cmdset_updates.py
  src/web/api/serializers.py
  src/web/tests/test_account_player_serializer_available_chars.py
  src/web/tests/test_account_player_serializer_full_payload.py
  src/web/tests/test_api.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_application_services.py
  src/world/character_creation/tests/test_email_service.py
  src/world/character_creation/tests/test_gm_finalize_view.py
  src/world/character_creation/tests/test_services.py
  src/world/character_sheets/tests/test_oc_cap.py
  src/world/magic/tests/test_character_cast_check.py
  src/world/roster/admin.py
  src/world/roster/migrations/0012_roster_roster_roster_type_in_vocabulary.py
  src/world/roster/migrations/max_migration.txt
  src/world/roster/models/roster_core.py
  src/world/roster/seeds.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_cloudinary_services.py
  src/world/roster/tests/test_roster_type.py
  src/world/roster/tests/test_services.py
  src/world/roster/tests/test_viewset.py
  src/world/roster/views/roster_views.py
  src/world/scenes/tests/test_cast_per_character_check.py
  src/world/seeds/clusters.py
Due: getattr-literal

Check-based technique learning: checks should determine training progress, with teacher skill / technique difficulty / learner level setting difficulty (#2729)
  docs/systems/INDEX.md
  src/world/magic/admin.py
  src/world/magic/migrations/0131_training_outcome_award.py
  src/world/magic/migrations/0132_giftacquisitionconfig_training_knobs.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/gift_unlocks.py
  src/world/magic/models/training_outcome.py
  src/world/magic/services/technique_progress.py
  src/world/magic/services/technique_training.py
  src/world/magic/tests/test_contribute_to_progress.py
  src/world/magic/tests/test_technique_progress_e2e.py
  src/world/magic/tests/test_technique_training.py
  src/world/magic/types/training.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

fix(ci): reformat renumbered migration and regenerate API schema
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/magic/migrations/0131_techniquestyle_cast_concealment.py
Due: getattr-literal, eslint, typescript, prettier

Fold in re-review findings: N+1, factory determinism, doc staleness (#2728)
  docs/systems/roster.md
  src/web/api/payload_helpers.py
  src/world/roster/factories.py
  src/world/roster/tests/test_models.py
  src/world/roster/tests/test_roster_type.py
  src/world/roster/tests/test_serializers.py
Due: getattr-literal

fix(magic): close the ritual-name TOCTOU race with a savepoint-scoped retry (#2724)
  src/world/magic/services/anima.py
  src/world/magic/tests/test_anima_ritual_name.py
Due: getattr-literal

fix(fatigue,magic): attach CheckTypeTrait composition unconditionally (#2724)
  src/world/fatigue/services.py
  src/world/magic/services/fury.py
Due: getattr-literal

fix(magic): uniquify player anima ritual names so CG survives a first-name collision (#2724)
  src/world/magic/services/anima.py
  src/world/magic/tests/test_anima_ritual_name.py
Due: getattr-literal

test(character_creation): two characters sharing a first name both finalize (#2724)
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

fix(fatigue): create the missing stat Trait instead of skipping (#2724)
  src/world/fatigue/constants.py
  src/world/fatigue/services.py
Due: getattr-literal

feat(seeds): declare code-required content rows in CONFIG_PREREQUISITES (#2724)
  src/world/seeds/config_prerequisites.py
  src/world/seeds/database.py
  src/world/seeds/tests/test_config_prerequisites.py
Due: getattr-literal

docs(magic): document why fury's tolerant Trait skip stays as is (#2724)
  src/world/magic/services/fury.py
Due: getattr-literal

test(seeds): cover CONFIG_PREREQUISITES against zero pre-existing Traits (#2724)
  src/world/seeds/tests/test_config_prerequisites.py
Due: getattr-literal

docs(content-export): document EXPORT_FILTERS' AND-only limitation (#2724)
  src/core_management/content_export.py
Due: getattr-literal

feat(seeds): register the remaining code-required content rows (#2724)
  src/world/projects/services.py
  src/world/seeds/config_prerequisites.py
  src/world/seeds/tests/test_config_prerequisites.py
Due: getattr-literal

feat(content-export): exclude player-owned rows via EXPORT_FILTERS (#2724)
  src/core_management/content_export.py
  src/core_management/tests/test_content_export.py
Due: getattr-literal

feat(checks): add CheckType.owner_sheet for per-character synthesized rows (#2724)
  src/world/checks/admin.py
  src/world/checks/migrations/0028_checktype_owner_sheet.py
  src/world/checks/migrations/max_migration.txt
  src/world/checks/models.py
  src/world/magic/seeds_checks.py
  src/world/magic/tests/test_character_cast_check.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
