Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(checks): add extra_contributions + skip_fashion to perform_check_with_modifiers (#2758)
  src/world/checks/services.py
  src/world/checks/tests/test_modifier_breakdown.py
  src/world/checks/tests/test_perform_check_with_modifiers.py
Due: getattr-literal

feat(checks): add ModifierSourceKind.SOULFRAY for soulfray provenance (#2758)
  src/world/checks/constants.py
  src/world/checks/migrations/0029_alter_consequenceoutcomemodifier_source_kind.py
Due: getattr-literal

feat(items): link Fashion Presentation CheckType to ModifierTarget (#2758)
  src/world/items/migrations/0050_link_fashion_presentation_modifier_target.py
  src/world/items/tests/test_fashion_presentation_service.py
Due: getattr-literal

refactor(conditions): route break-free check through aggregator (#2758)
  src/world/conditions/services.py
Due: getattr-literal

refactor(magic): route soulfray resilience check through aggregator (#2758)
  src/world/magic/services/soulfray.py
Due: getattr-literal

refactor(items): route fashion_presentation check through aggregator (#2758)
  src/world/items/services/fashion_presentation.py
Due: getattr-literal

docs(checks): update for extra_contributions + skip_fashion on aggregator seam (#2758)
  src/world/checks/CLAUDE.md
Due: none

fix: update max_migration.txt for checks + items (#2758)
  src/world/checks/migrations/max_migration.txt
  src/world/items/migrations/max_migration.txt
Due: none

fix: regenerate API types for ModifierSourceKind.SOULFRAY (#2758)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(forms): FEATURE trait type + SpeciesFormTrait.is_required (#2815)
  src/world/forms/migrations/0014_speciesformtrait_is_required_and_more.py
  src/world/forms/migrations/max_migration.txt
  src/world/forms/models.py
  src/world/forms/tests/test_models.py
Due: getattr-literal

feat(roster): kinsperson species/power_band, pinned trait values, ritual invoker (#2815)
  src/world/roster/constants.py
  src/world/roster/factories.py
  src/world/roster/migrations/0014_kinspersontraitvalue_kinsperson_power_band_and_more.py
  src/world/roster/migrations/max_migration.txt
  src/world/roster/models/__init__.py
  src/world/roster/models/families.py
  src/world/roster/tests/test_heredity.py
Due: getattr-literal

feat(roster): heredity service — Parent Dominance + inherited options (#2815)
  src/world/roster/services/heredity.py
  src/world/roster/tests/test_heredity.py
Due: getattr-literal

feat(character_creation): invented parents + approval-time back-inference pinning (#2815)
  src/world/character_creation/migrations/0020_characterdraft_second_parent_species.py
  src/world/character_creation/migrations/max_migration.txt
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_heredity_cg.py
Due: getattr-literal

feat(character_creation): heredity validation at submit/approval (#2815)
  src/world/character_creation/tests/test_heredity_cg.py
  src/world/character_creation/validators.py
Due: getattr-literal

feat(character_creation): parent-aware form options endpoint (#2815)
  src/world/character_creation/tests/test_heredity_cg.py
  src/world/character_creation/views.py
Due: getattr-literal

feat(seeds): structural FEATURE traits + sample Infernal heredity gating (#2815)
  src/world/seeds/character_creation.py
Due: getattr-literal

feat(frontend+admin): parent definition card + inherited trait options in CG (#2815)
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/roster/admin.py
Due: getattr-literal, eslint, typescript, prettier

docs: species inheritance system docs, ADR-0173, glossaries, MODEL_MAP (#2815)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0173-parent-dominance-one-directional-validation-lazy-pinning.md
  docs/roadmap/species.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  docs/systems/forms.md
  docs/systems/kinship.md
  docs/systems/species.md
  frontend/src/character-creation/CLAUDE.md
  src/world/CLAUDE.md
  src/world/character_creation/CLAUDE.md
  src/world/roster/AGENT_GLOSSARY.md
  src/world/species/AGENT_GLOSSARY.md
Due: prettier

Revert "fix: regenerate API types for ModifierSourceKind.SOULFRAY (#2758)"
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix: add soulfray to API schema enum for ModifierSourceKind (#2758)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

test(mechanics): update soulfray tests for perform_check_with_modifiers (#2758)
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

fix(character_creation): scope form-trait legality to offered traits (#2815)
  src/world/character_creation/validators.py
Due: getattr-literal

fix(seeds): align sample FEATURE trait names to canonical content vocabulary (#2815)
  src/world/seeds/character_creation.py
Due: getattr-literal

docs: exclusion-based palette framing (Apostate ruling, #2815)
  docs/systems/species.md
  src/world/seeds/character_creation.py
  src/world/species/AGENT_GLOSSARY.md
Due: getattr-literal

Align sample FEATURE trait names to canonical content vocabulary (#2815 follow-up) (#2818)
  docs/systems/species.md
  src/world/seeds/character_creation.py
  src/world/species/AGENT_GLOSSARY.md
Due: getattr-literal

feat(roster+cg): defined-parents narrowing — children work from the family look (#2815)
  docs/systems/kinship.md
  src/world/character_creation/tests/test_heredity_cg.py
  src/world/character_creation/validators.py
  src/world/character_creation/views.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/services/heredity.py
  src/world/roster/tests/test_heredity.py
Due: getattr-literal

Route own-modifier perform_check callers through the aggregator (#2816)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/checks/CLAUDE.md
  src/world/checks/constants.py
  src/world/checks/migrations/0029_alter_consequenceoutcomemodifier_source_kind.py
  src/world/checks/migrations/max_migration.txt
  src/world/checks/services.py
  src/world/checks/tests/test_modifier_breakdown.py
  src/world/checks/tests/test_perform_check_with_modifiers.py
  src/world/conditions/services.py
  src/world/items/migrations/0050_link_fashion_presentation_modifier_target.py
  src/world/items/migrations/max_migration.txt
  src/world/items/services/fashion_presentation.py
  src/world/items/tests/test_fashion_presentation_service.py
  src/world/magic/services/soulfray.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal, eslint, typescript, prettier

Defined-parents narrowing: children of pinned parents work from the family look (#2815 follow-up) (#2819)
  docs/systems/kinship.md
  src/world/character_creation/tests/test_heredity_cg.py
  src/world/character_creation/validators.py
  src/world/character_creation/views.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/services/heredity.py
  src/world/roster/tests/test_heredity.py
Due: getattr-literal

feat(tasking): app core models — dual-fulfillment job primitive (#2820 phase 1)
  .github/workflows/ci.yml
  src/server/conf/settings.py
  src/world/tasking/__init__.py
  src/world/tasking/admin.py
  src/world/tasking/apps.py
  src/world/tasking/constants.py
  src/world/tasking/factories.py
  src/world/tasking/migrations/0001_initial.py
  src/world/tasking/migrations/__init__.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/tests/__init__.py
  src/world/tasking/tests/test_models.py
Due: getattr-literal

refactor(assets): promote draw_clue_from_pool to assets.services
  src/world/assets/effects.py
  src/world/assets/services.py
Due: getattr-literal

feat(tasking): assign/resolve services + hourly resolution cron (#2820)
  src/world/checks/types.py
  src/world/game_clock/tasks.py
  src/world/mechanics/effect_handlers.py
  src/world/tasking/exceptions.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_services.py
Due: getattr-literal

feat(tasking): org task board API (#2820)
  src/web/urls.py
  src/world/tasking/filters.py
  src/world/tasking/permissions.py
  src/world/tasking/serializers.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_views.py
  src/world/tasking/urls.py
  src/world/tasking/views.py
Due: getattr-literal

feat(tasking): generated API types + Operations panel on OrgPage (#2820)
  frontend/src/generated/api.d.ts
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/tasking/api.ts
  frontend/src/tasking/components/OperationsSection.tsx
  frontend/src/tasking/queries.ts
  src/schema.json
  src/world/tasking/serializers.py
Due: getattr-literal, eslint, typescript, prettier

docs(tasking): system doc, INDEX entry, MODEL_MAP regen, glossary, ADR-0174, roadmap (#2820)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0174-dual-fulfillment-tasking-primitive.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/tasking.md
  src/world/tasking/AGENT_GLOSSARY.md
Due: none

test(orgs): mock tasking queries in OrgPage tests (#2820)
  frontend/src/orgs/pages/OrgPage.test.tsx
Due: eslint, typescript, prettier

Add GlimpseTag affinity nudge: TONE/TRIGGER tags nudge aura at CG finalize (#2694)
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/magic/admin.py
  src/world/magic/migrations/0134_glimpse_tag_affinity.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/glimpse.py
  src/world/magic/services/glimpse.py
  src/world/magic/tests/test_glimpse_affinity_nudge.py
Due: getattr-literal

feat(covert-orgs): covert types, parent orgs, membership secrets, org-held agents, spymaster oversight (#2820 phase 2)
  src/world/assets/migrations/0012_npcasset_promoter_org_and_more.py
  src/world/assets/migrations/max_migration.txt
  src/world/assets/models.py
  src/world/assets/services.py
  src/world/assets/views.py
  src/world/events/views.py
  src/world/societies/constants.py
  src/world/societies/membership_services.py
  src/world/societies/migrations/0034_organization_parent_org_and_more.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/office_services.py
  src/world/societies/tests/test_covert_membership.py
  src/world/tasking/filters.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_covert_layer.py
  src/world/tasking/urls.py
  src/world/tasking/views.py
Due: getattr-literal

feat(tasking): listener posts — standing informants, weekly buzz sweep, in-person harvest collection (#2820 phase 3)
  src/world/game_clock/tasks.py
  src/world/npc_services/migrations/0028_alter_npcassignment_assignment_role.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/tasking/constants.py
  src/world/tasking/listener_services.py
  src/world/tasking/migrations/0002_listenerpost_listenerharvest.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/tests/test_listener_loop.py
  src/world/tasking/urls.py
  src/world/tasking/views.py
Due: getattr-literal
