Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Unbreak the deploy: 0220 is schema-only, and migrations may no longer mix DDL with DML
  .devcontainer/post-create.sh
  .pre-commit-config.yaml
  CLAUDE.md
  docs/adr/0237-alpha-is-durable-the-production-database-is-the-master-copy.md
  src/world/character_creation/tests/test_upbringing_models.py
  src/world/migrations/0220_upbringings.py
  tools/agents/README.md
  tools/agents/migration-reviewer.md
  tools/check_migration_seed_data.py
  tools/lint_migration_ddl_dml.py
  tools/skills/reviewing-migrations/SKILL.md
  tools/tests/test_lint_migration_ddl_dml.py
Due: getattr-literal

Pin the devcontainer's postgresql-client to 17 so pg_dump can read the dev database
  .devcontainer/Dockerfile
  tools/skills/reviewing-migrations/SKILL.md
Due: none

Unbreak the deploy: 0220 is schema-only, and migrations may no longer mix DDL with DML (#3631)
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
  .pre-commit-config.yaml
  CLAUDE.md
  docs/adr/0237-alpha-is-durable-the-production-database-is-the-master-copy.md
  src/world/character_creation/tests/test_upbringing_models.py
  src/world/migrations/0220_upbringings.py
  tools/agents/README.md
  tools/agents/migration-reviewer.md
  tools/check_migration_seed_data.py
  tools/lint_migration_ddl_dml.py
  tools/skills/reviewing-migrations/SKILL.md
  tools/tests/test_lint_migration_ddl_dml.py
Due: getattr-literal

Character creation folio: Heritage on entries, species and gender rows (#3630)
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/PerspectivesPanel.tsx
  frontend/src/character-creation/components/SpeciesCard.tsx
  frontend/src/character-creation/components/StatBonusBadges.tsx
Due: eslint, typescript, prettier

Character creation folio: ChoiceRow and Field primitives, Entry lead slot (#3630)
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/folio/ChoiceRow.tsx
  frontend/src/character-creation/folio/Entry.tsx
  frontend/src/character-creation/folio/Field.tsx
  frontend/src/character-creation/folio/index.ts
Due: eslint, typescript, prettier

Fix round 1 (#3630): restore CodexTerm links dropped from Heritage entries
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
Due: eslint, typescript, prettier

Character creation folio: Distinctions as an instrument with the purse at its head (#3630)
  frontend/src/character-creation/__tests__/components/DistinctionsStage.test.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
Due: eslint, typescript, prettier

Fix round 1 (#3630 Task 4): shared Paragraphs component, restore Path icon fallback
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/folio/Paragraphs.tsx
  frontend/src/character-creation/folio/index.ts
Due: eslint, typescript, prettier

Character creation folio: Path on entries, icon kept as the lead (#3630)
  frontend/src/character-creation/__tests__/components/PathStage.test.tsx
  frontend/src/character-creation/components/PathStage.tsx
Due: eslint, typescript, prettier

Character creation folio: the Gift funnel as nested entries, pickers off cards (#3630)
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/components/GiftStage.test.tsx
  frontend/src/character-creation/__tests__/components/gift/GiftSelector.test.tsx
  frontend/src/character-creation/__tests__/components/gift/TechniqueSelector.test.tsx
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/gift/AnimaCheckStep.tsx
  frontend/src/character-creation/components/gift/GiftSelector.tsx
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
  frontend/src/character-creation/components/gift/TechniqueSelector.tsx
Due: eslint, typescript, prettier

Character creation folio: Appearance as fields and choice rows, markings as entries (#3630)
  frontend/src/character-creation/__tests__/components/AppearanceStage.test.tsx
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/MarkingsEditor.tsx
Due: eslint, typescript, prettier

Task 6 fix round 1: no em-dash in moved markings copy, drop unused MarkingsEditor draftId prop (#3630)
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/MarkingsEditor.tsx
Due: eslint, typescript, prettier

Character creation folio: Identity as fields, worship as selects on the hairline (#3630)
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/IdentityStage.tsx
Due: eslint, typescript, prettier

Character creation folio: Final Touches as one instrument with the purse at its head (#3630)
  frontend/src/character-creation/__tests__/components/FinalTouchesStage.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/FinalTouchesStage.tsx
Due: eslint, typescript, prettier

Task 8 fix round 1: goal-row keeps a usable points column under 40rem; memoize goals derivation (#3630)
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/FinalTouchesStage.tsx
Due: eslint, typescript, prettier

Character creation folio: retire CGPointsWidget, seed the stage copy keys, docs (#3630)
  docs/roadmap/character-creation.md
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/CGPointsWidget.test.tsx
  frontend/src/character-creation/components/CGPointsWidget.tsx
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Folio primitives: CodexLine, formatHeight, .entry-art
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/__tests__/utils.test.ts
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/folio/CodexLine.tsx
  frontend/src/character-creation/folio/index.ts
  frontend/src/character-creation/utils.ts
Due: eslint, typescript, prettier

Character creation stages: restore the lost features, fix the margin grammar
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/components/DistinctionsStage.test.tsx
  frontend/src/character-creation/__tests__/components/GiftStage.test.tsx
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/gift/GiftSelector.test.tsx
  frontend/src/character-creation/__tests__/components/gift/TechniqueSelector.test.tsx
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/MarkingsEditor.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/PerspectivesPanel.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/gift/GiftSelector.tsx
  frontend/src/character-creation/components/gift/TechniqueSelector.tsx
Due: eslint, typescript, prettier

Character creation docs and goal-note seed copy
  docs/plans/2026-03-14-species-drilldown-design.md
  docs/roadmap/character-creation.md
  frontend/src/character-creation/CLAUDE.md
  src/world/seeds/character_creation.py
Due: getattr-literal, prettier

Goals note continues its lead; Distinctions margin keeps its codex link inline
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Heritage entries: drop the family-known line; Upbringings (#3617) took that field off Beginnings
  frontend/src/character-creation/components/HeritageStage.tsx
Due: eslint, typescript, prettier

Stop twistd's captured stderr reaching Sentry as errors (the 2026-09-04 deploy outage)
  src/evennia_extensions/observability/log_bridge.py
  src/evennia_extensions/observability/sentry_twisted.py
  src/evennia_extensions/observability/tests/test_sentry_twisted.py
Due: getattr-literal

Stop twistd's captured stderr reaching Sentry as errors (the 2026-09-04 deploy outage) (#3633)
  src/evennia_extensions/observability/log_bridge.py
  src/evennia_extensions/observability/sentry_twisted.py
  src/evennia_extensions/observability/tests/test_sentry_twisted.py
Due: getattr-literal

Name the box, so Sentry's server_name stops saying "localhost"
  docs/operations/sentry-triage.md
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Sync fix: flatten the condition-ref ternary for main's no-nested-ternary rule (#3534)
  frontend/src/world-builder/components/RoomAuthoringSections.tsx
Due: eslint, typescript, prettier

Builder marginalia phase 2: category doors, resonance data, warrant-shaped UI (#3543)
  docs/roadmap/tooling.md
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/atlas/AreaPage.tsx
  frontend/src/world-builder/atlas/AtlasPage.tsx
  frontend/src/world-builder/atlas/IndexRail.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AreaPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/AtlasPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/IndexRail.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/components/RoomAuthoringSections.tsx
  frontend/src/world-builder/document/AreaDocument.tsx
  frontend/src/world-builder/document/CategoryDoorDialog.tsx
  frontend/src/world-builder/document/Marginalia.tsx
  frontend/src/world-builder/document/RoomDocument.tsx
  frontend/src/world-builder/document/__tests__/AreaDocument.test.tsx
  frontend/src/world-builder/document/__tests__/CategoryDoorDialog.test.tsx
  frontend/src/world-builder/document/__tests__/Marginalia.test.tsx
  frontend/src/world-builder/document/__tests__/RoomDocument.test.tsx
  frontend/src/world-builder/queries.ts
  frontend/src/world-builder/types.ts
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_builder_views.py
  src/world/magic/services/resonance_environment.py
Due: getattr-literal, eslint, typescript, prettier

Name the box, so Sentry's server_name stops saying "localhost" (#3634)
  docs/operations/sentry-triage.md
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Combo round scan: every slot filled or open, rider in the payload, combat combos telnet listing (#3553)
  src/commands/combat_maneuvers.py
  src/commands/tests/test_combat_maneuvers_command.py
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_combos.py
  src/world/combat/tests/test_views.py
  src/world/combat/types.py
  src/world/combat/views.py
Due: getattr-literal

Draw engagement locks, cover and hop distance on the tactical map (#3555)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/actions/__tests__/ActionDeclarationCard.test.tsx
  frontend/src/areas/components/PositionMapNode.tsx
  frontend/src/areas/components/TacticalMap.test.tsx
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/reach.test.ts
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/CombatTacticalMap.tsx
  frontend/src/combat/reach.ts
  frontend/src/combat/sections/CombatantsList.tsx
Due: eslint, typescript, prettier

Combo row shows its slot strip, rider and what a partial fill still needs (#3553)
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

Docs: round combos in INDEX, combat UI architecture, roadmap, glossary and model map (#3553)
  docs/architecture/unified-combat-ui-design.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/combat/AGENT_GLOSSARY.md
Due: none

Tactical map does not draw engagement locks, cover, or hop distance the encounter already knows (#3636)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/actions/__tests__/ActionDeclarationCard.test.tsx
  frontend/src/areas/components/PositionMapNode.tsx
  frontend/src/areas/components/TacticalMap.test.tsx
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/reach.test.ts
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/CombatTacticalMap.tsx
  frontend/src/combat/reach.ts
  frontend/src/combat/sections/CombatantsList.tsx
Due: eslint, typescript, prettier

Split the slot-fill search and the telnet combo renderer into helpers (Sonar S3776)
  src/commands/combat_maneuvers.py
  src/world/combat/services.py
Due: getattr-literal

Combo upgrade is no longer a blind button: slot composition, partner fill, rider preview and one-more-needed hints (#3553) (#3637)
  docs/architecture/unified-combat-ui-design.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/commands/combat_maneuvers.py
  src/commands/tests/test_combat_maneuvers_command.py
  src/schema.json
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_combos.py
  src/world/combat/tests/test_views.py
  src/world/combat/types.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

Maturation milestones widen with age and stop at 75; starting under 21 costs one CG point (#3635)
  docs/adr/0172-age-axes-points-ride-biological-years-cosmetic-age-is-free.md
  docs/systems/INDEX.md
  frontend/src/character_sheets/components/MaturationPanel.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/views.py
  src/world/progression/constants.py
  src/world/progression/services/maturation.py
  src/world/progression/tests/test_maturation.py
Due: getattr-literal, eslint, typescript, prettier

Technique and ThreatPoolEntry carry authored hit/miss narration (#3554)
  src/world/combat/models.py
  src/world/combat/tests/test_outcome_narration_fields.py
  src/world/magic/models/techniques.py
  src/world/migrations/0221_technique_and_threat_entry_outcome_narration.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Authored hit/miss text replaces the OUTCOME head, never the ledger (#3554)
  src/world/combat/interaction_services.py
  src/world/combat/tests/test_outcome_narration.py
  src/world/magic/narration.py
Due: getattr-literal

Round resolution reads the authored hit/miss lines on PC and NPC actions (#3554)
  src/world/combat/services.py
  src/world/combat/tests/test_outcome_broadcast.py
Due: getattr-literal
