Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Every Defense technique read as an attack: base_power is magnitude, not intent (#3682)
  docs/adr/0278-base-power-is-magnitude-not-hostility.md
  docs/adr/README.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/tuning.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/TechniqueEffectSummary.tsx
  frontend/src/magic/types.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/__tests__/EntranceTechniqueAttachment.test.tsx
  src/schema.json
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/technique_analytics.py
  src/web/admin/tuning/views.py
  src/world/conditions/admin.py
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/models/techniques.py
  src/world/magic/serializers.py
  src/world/magic/services/hostility.py
  src/world/magic/services/targeting.py
  src/world/magic/services/technique_effects.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_hostility.py
  src/world/magic/tests/test_technique_authoring_admin.py
  src/world/magic/tests/test_technique_effect_surfaces.py
  src/world/magic/tests/test_technique_effects.py
  src/world/magic/tests/test_technique_targeting.py
  src/world/magic/types/technique_effects.py
  tools/agents/README.md
  tools/agents/derived-classifier-reviewer.md
Due: getattr-literal, eslint, typescript, prettier

Prefetch the fifth payload family so the spellbook summary stays flat (#3682)
  src/commands/tests/test_cast_listing.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/scenes/cast_services.py
Due: getattr-literal

Glimpse tag offers live behind a handler (ADR-0278); the personality chapter is the actor's sheet (#3675)
  docs/systems/magic.md
  src/web/admin/CLAUDE.md
  src/web/admin/tests/test_authoring_builders_panel.py
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/tests/test_offers.py
  src/world/character_creation/views.py
  src/world/distinctions/types.py
  src/world/magic/admin.py
  src/world/magic/models/__init__.py
  src/world/magic/models/glimpse.py
  src/world/magic/tests/test_glimpse_tag_offers_handler.py
  src/world/migrations/0109_distinction_offers_expand.py
Due: getattr-literal

Fix round 1: replace two em dashes added by the ADR-0278 handler PR (#3675)
  docs/systems/magic.md
  src/world/character_creation/views.py
Due: getattr-literal

Regenerate the OpenAPI schema and types for chapter offers (#3675)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

CG types, api and hooks for chapter offers (#3675)
  frontend/src/character-creation/__tests__/api.offers.test.ts
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/hooks/useDistinctions.ts
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/glimpse/GlimpseEditorDialog.tsx
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
  frontend/src/types/distinctions.ts
Due: eslint, typescript, prettier

One definition of the technique payload prefetch set (#3682)
  src/world/character_sheets/serializers.py
  src/world/magic/admin.py
  src/world/magic/services/technique_effects.py
  src/world/scenes/cast_services.py
Due: getattr-literal

Fix round 1: restore GlimpseEditorDialog's own distinction link/unlink (#3675)
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/glimpse/DistinctionLinkChips.tsx
  frontend/src/magic/components/glimpse/GlimpseEditorDialog.tsx
  frontend/src/magic/types.ts
Due: eslint, typescript, prettier

ChapterOffers and the schooling set under a living tradition (#3675)
  frontend/src/character-creation/__tests__/components/GiftStage.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/__tests__/components/offers/SchoolingStances.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/character-creation/components/offers/SchoolingStances.tsx
Due: eslint, typescript, prettier

Task 12 fix round 1: CSS reachability, DRY sync helpers, Gift rail fidelity (#3675)
  frontend/src/character-creation/__tests__/components/GiftStage.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/__tests__/components/offers/SchoolingStances.test.tsx
  frontend/src/character-creation/__tests__/components/offers/classGuard.ts
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/character-creation/components/offers/RankControl.tsx
  frontend/src/character-creation/components/offers/SchoolingStances.tsx
  frontend/src/character-creation/components/offers/syncHelpers.ts
Due: eslint, typescript, prettier

Glimpse offers sit inside their axis, opened by the chosen tag (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/gift/GlimpseSection.test.tsx
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/__tests__/GlimpseFlow.test.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
Due: eslint, typescript, prettier

Fix round 1: the Glimpse in the folio grammar, offers per chosen tag (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/GiftStage.test.tsx
  frontend/src/character-creation/__tests__/components/gift/GlimpseSection.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/gift/GlimpseAxes.tsx
  frontend/src/character-creation/components/gift/GlimpseSection.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/__tests__/GlimpseFlow.test.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
Due: eslint, typescript, prettier

Fix round 2: optional chip on offer headings, closed hint scoped per tag (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/api.offers.test.ts
  frontend/src/character-creation/__tests__/components/gift/GlimpseSection.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/components/gift/GlimpseAxes.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/offers.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_offers.py
  src/world/character_creation/tests/test_offers_api.py
  src/world/character_creation/types.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

An Upbringing answer offers and bundles; the route's closed list prints its reason (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/lineage/UpbringingPrompts.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/components/lineage/UpbringingPrompts.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
Due: eslint, typescript, prettier

Fix round 1: Lineage offers matched by id, class guard tolerates colon classes (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/lineage/UpbringingPrompts.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/__tests__/components/offers/classGuard.test.ts
  frontend/src/character-creation/__tests__/components/offers/classGuard.ts
  frontend/src/character-creation/components/lineage/UpbringingPrompts.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
Due: eslint, typescript, prettier

Appearance and the Actor's Sheet offer their distinctions (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/AppearanceStage.test.tsx
  frontend/src/character-creation/__tests__/components/FinalTouchesStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

The Towering hint is an authored column on the height band, not a name match (#3675)
  docs/systems/forms.md
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/AppearanceStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/tests/test_lore_seed.py
  src/world/forms/models.py
  src/world/forms/serializers.py
  src/world/migrations/0112_heightband_cg_hint.py
  src/world/migrations/max_migration.txt
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

The Distinctions stage is gone from the folio (#3675)
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/CharacterCreationPage.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/__tests__/components/DistinctionsStage.test.tsx
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/index.ts
  frontend/src/character-creation/folio/ContentsRail.tsx
Due: eslint, typescript, prettier

Fix a pre-existing api mock gap in CharacterCreationPage.test.tsx (#3675)
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
Due: eslint, typescript, prettier

Fix round 1: eyebrow clamps to the page's own fallback; Lineage's Next lands on Path (#3675)
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/folio/ContentsRail.tsx
Due: eslint, typescript, prettier

Journey tests: every chapter offers, picks land, finalize writes the rows (#3675)
  src/world/character_creation/tests/test_offers_journeys.py
  src/world/distinctions/serializers.py
Due: getattr-literal

Regenerate API types for the typed draft distinction entry (#3675)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Docs, glossary and ADR-0280 for chapter offers (#3675)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0280-distinctions-are-offered-by-chapter.md
  docs/adr/README.md
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  docs/systems/distinctions.md
  docs/systems/magic.md
  src/world/distinctions/AGENT_GLOSSARY.md
  src/world/magic/AGENT_GLOSSARY.md
  src/world/roster/AGENT_GLOSSARY.md
Due: none

Fix round 1: exclusion locks the offer; family recipes author bundled offers on the builder (#3675)
  docs/adr/0280-distinctions-are-offered-by-chapter.md
  docs/roadmap/seed-and-integration-tests.md
  docs/systems/distinctions.md
  docs/systems/family-authoring-recipes.md
Due: none

Final wave: Glimpse offers matched by id, class guard escapes names, axis copy keyed, schooling label takes a {tradition} token, Review lists what you carry (#3675)
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/components/GiftStage.test.tsx
  frontend/src/character-creation/__tests__/components/offers/classGuard.test.ts
  frontend/src/character-creation/__tests__/components/offers/classGuard.ts
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/gift/GlimpseAxes.tsx
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Final wave: closed_for fetches once, bundled opener labels batched, journey price literal (#3675)
  src/world/character_creation/offers.py
  src/world/character_creation/tests/test_offers_journeys.py
  src/world/distinctions/serializers.py
Due: getattr-literal

Final fix: the 0110 data migration is tested on historical rows again (#3675)
  src/world/character_creation/tests/test_offers_migration.py
Due: getattr-literal

Final fix: class guards exempt only what the component emits (#3675)
  frontend/src/character-creation/__tests__/components/AppearanceStage.test.tsx
  frontend/src/character-creation/__tests__/components/FinalTouchesStage.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
Due: eslint, typescript, prettier

Final fix: slate offer checks in one query (#3675)
  src/web/admin/tradition_slate/live.py
Due: getattr-literal

Final fix: finalize reconciles before the purse check (#3675)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_offers_journeys.py
Due: getattr-literal

Final fix: sync sends only chosen offers (#3675)
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/__tests__/components/offers/syncHelpers.test.ts
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/character-creation/components/offers/syncHelpers.ts
Due: eslint, typescript, prettier

Final fix: exclusions fetched once; closed hints carry opener ids (#3675)
  frontend/src/character-creation/__tests__/api.offers.test.ts
  frontend/src/character-creation/__tests__/components/AppearanceStage.test.tsx
  frontend/src/character-creation/__tests__/components/FinalTouchesStage.test.tsx
  frontend/src/character-creation/__tests__/components/gift/GlimpseSection.test.tsx
  frontend/src/character-creation/__tests__/components/lineage/UpbringingPrompts.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/components/gift/GlimpseAxes.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/offers.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_offers.py
  src/world/character_creation/tests/test_offers_api.py
  src/world/character_creation/tests/test_traditions.py
  src/world/character_creation/types.py
  src/world/character_creation/views.py
  src/world/distinctions/serializers.py
  src/world/distinctions/types.py
  src/world/distinctions/views.py
Due: getattr-literal, eslint, typescript, prettier

Final fix: controls wait for the save; every price word is a copy row (#3675)
  frontend/src/character-creation/__tests__/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/components/offers/ChapterOffers.test.tsx
  frontend/src/character-creation/__tests__/components/offers/SchoolingStances.test.tsx
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/gift/GlimpseAxes.tsx
  frontend/src/character-creation/components/lineage/UpbringingPrompts.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/character-creation/components/offers/SchoolingStances.tsx
  src/world/character_creation/tests/test_lore_seed.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

Final fix: the migration test restores the schema through addCleanup, even when the rewind fails (#3675)
  src/world/character_creation/tests/test_offers_migration.py
Due: getattr-literal

CI fix: the slate row and the height band are credited content; the prose registry names their fields (#3675)
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/forms.md
  src/core_management/prose_fields.py
  src/web/admin/tests/test_tradition_slate.py
  src/web/admin/tradition_slate/views.py
  src/web/templates/admin/authoring/_builders_panel.html
  src/world/character_creation/models.py
  src/world/character_creation/offers.py
  src/world/forms/models.py
  src/world/migrations/0113_credited_slate_and_height_band.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

The TypeScript pre-commit hook runs once per commit, never per filename batch (#3707)
  .pre-commit-config.yaml
Due: none

TypeScript pre-commit hook runs once per commit, never per filename batch (#3707) (#3708)
  .pre-commit-config.yaml
Due: none

Every Defense technique read as an attack: base_power is magnitude, not intent (#3682) (#3683)
  docs/adr/0281-base-power-is-magnitude-not-hostility.md
  docs/adr/README.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/tuning.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/TechniqueEffectSummary.tsx
  frontend/src/magic/types.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/__tests__/EntranceTechniqueAttachment.test.tsx
  src/commands/tests/test_cast_listing.py
  src/schema.json
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/technique_analytics.py
  src/web/admin/tuning/views.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/conditions/admin.py
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/models/techniques.py
  src/world/magic/serializers.py
  src/world/magic/services/hostility.py
  src/world/magic/services/targeting.py
  src/world/magic/services/technique_effects.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_hostility.py
  src/world/magic/tests/test_technique_authoring_admin.py
  src/world/magic/tests/test_technique_effect_surfaces.py
  src/world/magic/tests/test_technique_effects.py
  src/world/magic/tests/test_technique_targeting.py
  src/world/magic/types/technique_effects.py
  src/world/scenes/cast_services.py
  tools/agents/README.md
  tools/agents/derived-classifier-reviewer.md
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal, eslint, typescript, prettier

Persist Prime Agent auth across devcontainer rebuilds
  .devcontainer/docker-compose.yml
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
