Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

docs: fix stories permission description - auth required for all access
  docs/systems/stories.md
Due: none

fix(codex): make all breadcrumb segments clickable in entry detail view
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/codex/types.ts
  src/world/codex/models.py
  src/world/codex/serializers.py
Due: getattr-literal, eslint, typescript, prettier

perf(codex): materialize breadcrumb paths to eliminate N+1 queries
  CLAUDE.md
  src/world/codex/migrations/0002_subject_breadcrumb_view.py
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_models.py
  src/world/codex/views.py
Due: getattr-literal

fix(codex): make all breadcrumb segments clickable in entry detail view (#303)
  CLAUDE.md
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/pages/CodexPage.tsx
  frontend/src/codex/types.ts
  src/world/codex/migrations/0002_subject_breadcrumb_view.py
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_models.py
  src/world/codex/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix/misc cleanup overnight (#302)
  docs/systems/INDEX.md
  docs/systems/action_points.md
  docs/systems/areas.md
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  docs/systems/checks.md
  docs/systems/classes.md
  docs/systems/codex.md
  docs/systems/conditions.md
  docs/systems/consent.md
  docs/systems/forms.md
  docs/systems/goals.md
  docs/systems/instances.md
  docs/systems/magic.md
  docs/systems/mechanics.md
  docs/systems/progression.md
  docs/systems/realms.md
  docs/systems/roster.md
  docs/systems/scenes.md
  docs/systems/skills.md
  docs/systems/societies.md
  docs/systems/species.md
  docs/systems/stories.md
  docs/systems/traits.md
  src/server/conf/settings.py
  src/world/roster/email_service.py
  src/world/scenes/tests/test_views.py
  src/world/scenes/views.py
Due: getattr-literal

feat(codex): add hover detail panel to TraditionPicker in CG
  frontend/src/character-creation/components/TraditionPicker.tsx
Due: eslint, typescript, prettier

feat(codex): use CodexTerm links for tradition names in CG picker (#304)
  frontend/src/character-creation/components/TraditionPicker.tsx
Due: eslint, typescript, prettier

feat(cg): add hover detail panels to Path and Species selection
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/SpeciesCard.tsx
Due: eslint, typescript, prettier

refactor(cg): extract StatBonusBadges, add mobile panels, remove redundant card
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/SpeciesCard.tsx
  frontend/src/character-creation/components/StatBonusBadges.tsx
Due: eslint, typescript, prettier

fix(cg): add mobile fallbacks for Distinctions and Magic detail panels
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/MagicStage.tsx
Due: eslint, typescript, prettier

feat(cg): add admin-editable CGExplanations for all CG stage copy
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/admin.py
  src/world/character_creation/migrations/0003_cgexplanations.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(tests): update CG test mocks for getCGExplanations API function
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/components/AnimaRitualForm.test.tsx
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/queries.test.tsx
  frontend/src/character-creation/__tests__/testUtils.tsx
  src/world/character_creation/CLAUDE.md
Due: eslint, typescript, prettier

feat(cg): add hover detail panels to Path and Species selection (#305)
  frontend/src/character-creation/__tests__/AttributesStage.test.tsx
  frontend/src/character-creation/__tests__/CharacterCreationPage.test.tsx
  frontend/src/character-creation/__tests__/components/AnimaRitualForm.test.tsx
  frontend/src/character-creation/__tests__/components/HeritageStage.test.tsx
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/ReviewStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/queries.test.tsx
  frontend/src/character-creation/__tests__/testUtils.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/MagicStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/character-creation/components/SpeciesCard.tsx
  frontend/src/character-creation/components/StatBonusBadges.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/admin.py
  src/world/character_creation/migrations/0003_cgexplanations.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(cg): replace CGExplanations singleton with key-value table
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/admin.py
  src/world/character_creation/migrations/0004_cgexplanation_kv.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/views.py
  tools/check_migration_seed_data.py
Due: getattr-literal, eslint, typescript, prettier

fix: address code review — CLAUDE.md stale ref, admin list_filter
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/admin.py
Due: getattr-literal

fix: restore RunSQL for materialized views lost in migration squash
  src/world/areas/migrations/0001_initial.py
  src/world/codex/migrations/0001_initial.py
  src/world/codex/migrations/0002_initial.py
Due: getattr-literal

chore: remove flow-dependent command/flow tests
  src/commands/tests/test_cmd_get_drop_give_home.py
  src/commands/tests/test_cmd_inventory_say_whisper_pose.py
  src/commands/tests/test_cmd_lock_unlock.py
  src/commands/tests/test_cmd_look.py
  src/flows/tests/test_look_flow.py
Due: getattr-literal

docs: add roadmap reference to CLAUDE.md
  CLAUDE.md
Due: none

refactor: extract materialized view DDL to .sql files
  src/world/areas/migrations/0001_initial.py
  src/world/areas/sql/areaclosure.sql
  src/world/codex/migrations/0002_initial.py
  src/world/codex/sql/subjectbreadcrumb.sql
Due: getattr-literal

refactor: extract materialized view DDL to .sql files (#307)
  src/world/areas/migrations/0001_initial.py
  src/world/areas/sql/areaclosure.sql
  src/world/codex/migrations/0002_initial.py
  src/world/codex/sql/subjectbreadcrumb.sql
Due: getattr-literal

feat(cg): add sticky budget sidebar and collapsible specializations to skills stage
  frontend/src/character-creation/components/PathStage.tsx
Due: eslint, typescript, prettier

fix(cg): reorder attributes grid so categories read as columns
  frontend/src/character-creation/components/AttributesStage.tsx
Due: eslint, typescript, prettier

fix(cg): fix stage completion bugs and CG points calculation
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(cg): address review feedback on CG bug fixes
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/types.ts
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(cg): add type annotations to all function args and return types
  src/world/character_creation/models.py
  src/world/character_creation/types.py
Due: getattr-literal

fix(cg): add character_creation to ty scope and fix M2M .all() call
  pyproject.toml
  src/world/character_creation/models.py
Due: getattr-literal

feat: add pre-commit hook enforcing type annotations in typed apps
  .pre-commit-config.yaml
  tools/check_type_annotations.py
Due: getattr-literal

docs: add type annotation enforcement guidance to CLAUDE.md
  CLAUDE.md
Due: none

fix: use git-staged files for ANN hook so CI --all-files passes
  .pre-commit-config.yaml
  tools/check_type_annotations.py
Due: getattr-literal

fix: skip ANN hook in CI environments
  tools/check_type_annotations.py
Due: getattr-literal

Feat/skills sticky sidebar accordion (#308)
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/AppearanceStage.tsx
  frontend/src/character-creation/components/AttributesStage.tsx
  frontend/src/character-creation/components/DistinctionsStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/types.ts
  pyproject.toml
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_models.py
  src/world/character_creation/tests/test_services.py
  src/world/character_creation/types.py
  src/world/character_creation/views.py
  tools/check_type_annotations.py
Due: getattr-literal, eslint, typescript, prettier

refactor: improve type safety in flow steps and story permissions
  src/flows/models/flows.py
  src/world/stories/models.py
  src/world/stories/permissions.py
Due: getattr-literal

refactor: replace Any types with specific types and TypedDicts
  src/commands/handlers/base.py
  src/flows/flow_event.py
  src/flows/flow_execution.py
  src/flows/flow_stack.py
  src/flows/helpers/logic.py
  src/flows/helpers/payloads.py
  src/flows/object_states/base_state.py
  src/flows/scene_data_manager.py
  src/flows/service_functions/communication.py
  src/flows/service_functions/serializers/communication.py
  src/flows/service_functions/serializers/room_state.py
  src/flows/types.py
  src/world/character_creation/services.py
  src/world/progression/services/spends.py
  src/world/progression/types.py
  src/world/roster/models/applications.py
  src/world/roster/policy_service.py
  src/world/roster/types.py
Due: getattr-literal

fix: address code review feedback on type replacements
  src/commands/handlers/base.py
  src/flows/flow_event.py
  src/flows/helpers/logic.py
  src/flows/types.py
  src/world/progression/types.py
Due: getattr-literal

refactor: remove unused **kwargs from communication service functions
  src/flows/service_functions/communication.py
Due: getattr-literal

Refactor/remove unused kwargs communication (#311)
  src/commands/handlers/base.py
  src/flows/flow_event.py
  src/flows/flow_execution.py
  src/flows/flow_stack.py
  src/flows/helpers/logic.py
  src/flows/helpers/payloads.py
  src/flows/object_states/base_state.py
  src/flows/scene_data_manager.py
  src/flows/service_functions/communication.py
  src/flows/service_functions/serializers/communication.py
  src/flows/service_functions/serializers/room_state.py
  src/flows/types.py
  src/world/character_creation/services.py
  src/world/progression/services/spends.py
  src/world/progression/types.py
  src/world/roster/models/applications.py
  src/world/roster/policy_service.py
  src/world/roster/types.py
Due: getattr-literal
