Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(checks): spec-in-checks engine + social-check retrofit (#1688) (#1689)
  docs/roadmap/design-tenets.md
  docs/systems/MODEL_MAP.md
  src/world/checks/CLAUDE.md
  src/world/checks/factories.py
  src/world/checks/migrations/0017_checktypespecialization.py
  src/world/checks/migrations/max_migration.txt
  src/world/checks/models.py
  src/world/checks/services.py
  src/world/checks/tests/test_specialization_checks.py
  src/world/checks/types.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/seeds/clusters.py
  src/world/seeds/social_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_social_checks.py
  src/world/skills/services.py
Due: getattr-literal

refactor(magic): extract grant_gift_to_character shared primitive (#1579)
  src/world/magic/services/path_magic.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_grant_gift_to_character.py
  src/world/species/services.py
Due: getattr-literal

refactor(progression): add cross_into_path seam; cross_threshold uses it (#1579)
  src/world/magic/audere_majora.py
  src/world/magic/tests/test_path_magic_grant.py
  src/world/progression/services/advancement.py
Due: getattr-literal

feat(progression): Durance level-3 POTENTIAL semi-crossing grants path magic (#1579)
  src/world/progression/services/advancement.py
  src/world/progression/tests/test_advancement.py
Due: getattr-literal

docs: Durance level-3 semi-crossing + cross_into_path seam + ADR-0063 (#1579)
  docs/adr/0063-level-3-semi-crossing-lives-in-the-durance.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/progression/CLAUDE.md
Due: none

test(progression): E2E level-3 Durance semi-crossing via fire_session (#1579)
  src/integration_tests/pipeline/test_durance_e2e.py
Due: getattr-literal

docs: cite #1700 for the telnet-Durance follow-up (#1579)
  docs/roadmap/character-progression.md
  docs/roadmap/magic.md
  docs/systems/magic.md
  src/world/progression/CLAUDE.md
Due: none

Level -> power: advancing actually grants gifts/techniques (#1692)
  docs/adr/0055-one-specialization-engine-resonance-times-entity.md
  docs/adr/0063-level-3-semi-crossing-lives-in-the-durance.md
  docs/adr/README.md
  docs/roadmap/character-progression.md
  docs/roadmap/magic.md
  docs/roadmap/player-capability-ledger.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  src/integration_tests/pipeline/test_durance_e2e.py
  src/world/achievements/constants.py
  src/world/magic/CLAUDE.md
  src/world/magic/audere_majora.py
  src/world/magic/migrations/0064_pathgiftgrant.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/grants.py
  src/world/magic/services/path_magic.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/integration/test_path_crossing_grant_e2e.py
  src/world/magic/tests/majora_fixtures.py
  src/world/magic/tests/test_audere_majora_crossing.py
  src/world/magic/tests/test_grant_gift_to_character.py
  src/world/magic/tests/test_path_gift_grant_model.py
  src/world/magic/tests/test_path_magic_grant.py
  src/world/magic/types/path_magic.py
  src/world/progression/CLAUDE.md
  src/world/progression/services/advancement.py
  src/world/progression/tests/test_advancement.py
  src/world/species/services.py
Due: getattr-literal

feat(secrets): gossip — regional Level-1-secret spread mechanic (#1572)
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/social/gossip.py
  src/evennia_extensions/migrations/0006_roomprofile_is_social_hub.py
  src/evennia_extensions/migrations/max_migration.txt
  src/evennia_extensions/models.py
  src/typeclasses/rooms.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/tasks.py
  src/world/secrets/constants.py
  src/world/secrets/gossip.py
  src/world/secrets/migrations/0007_secretgossip.py
  src/world/secrets/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/secrets/tests/test_gossip.py
  src/world/seeds/social_checks.py
Due: getattr-literal

feat(checks): wire collect_check_modifiers into social-action resolution (#1696)
  src/world/checks/CLAUDE.md
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

fix(secrets): mark gossip weighting RNG as game-RNG for the Sonar hotspot gate
  src/world/secrets/gossip.py
Due: getattr-literal

feat(magic): dispel/cleanse technique path (#1585)
  docs/adr/0064-dispel-is-a-technique-payload-not-an-effectkind.md
  docs/adr/README.md
  docs/architecture/combat-conditions.md
  docs/roadmap/player-capability-ledger.md
  docs/systems/MODEL_MAP.md
  frontend/src/magic/components/TechniqueBuilderForm.tsx
  frontend/src/magic/components/TechniquePayloadEditors.tsx
  frontend/src/magic/types.ts
  src/commands/technique.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
  src/world/combat/types.py
  src/world/conditions/types.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/migrations/0065_techniquedraftremovedcondition_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/technique_draft.py
  src/world/magic/models/techniques.py
  src/world/magic/serializers.py
  src/world/magic/services/condition_application.py
  src/world/magic/services/hostility.py
  src/world/magic/services/targeting.py
  src/world/magic/services/technique_builder.py
  src/world/magic/services/technique_draft.py
  src/world/magic/tests/integration/test_dispel_cast_e2e.py
  src/world/magic/tests/test_condition_application.py
  src/world/magic/tests/test_hostility.py
  src/world/magic/tests/test_technique_builder_service.py
  src/world/magic/tests/test_technique_draft_service.py
  src/world/magic/tests/test_technique_targeting.py
  src/world/magic/types/technique_builder.py
  src/world/scenes/cast_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(skills): bridge harness-agnostic skills to polytoken
  .devcontainer/post-create.sh
  .gitignore
  justfile
  tools/skills/README.md
  tools/skills/codebase-indexing/SKILL.md
  tools/skills/design-vocabulary/SKILL.md
  tools/skills/domain-glossary-and-adr/SKILL.md
  tools/skills/github-operations/SKILL.md
  tools/skills/running-tests/SKILL.md
  tools/skills/sharedmemory-model/SKILL.md
  tools/skills/sync-polytoken-skills.sh
  tools/skills/verify-against-code/SKILL.md
Due: none

feat(secrets): gossip — regional Level-1-secret spread mechanic (#1572) (#1701)
  docs/systems/MODEL_MAP.md
  docs/systems/secrets.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/social/gossip.py
  src/evennia_extensions/migrations/0006_roomprofile_is_social_hub.py
  src/evennia_extensions/migrations/max_migration.txt
  src/evennia_extensions/models.py
  src/typeclasses/rooms.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/tasks.py
  src/world/secrets/constants.py
  src/world/secrets/gossip.py
  src/world/secrets/migrations/0007_secretgossip.py
  src/world/secrets/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/secrets/tests/test_gossip.py
  src/world/seeds/social_checks.py
Due: getattr-literal

feat(checks): wire collect_check_modifiers into social-action resolution (#1696) (#1702)
  src/world/checks/CLAUDE.md
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

feat(skills): bridge harness-agnostic skills to polytoken (#1704)
  .devcontainer/post-create.sh
  .gitignore
  justfile
  tools/skills/README.md
  tools/skills/codebase-indexing/SKILL.md
  tools/skills/design-vocabulary/SKILL.md
  tools/skills/domain-glossary-and-adr/SKILL.md
  tools/skills/github-operations/SKILL.md
  tools/skills/running-tests/SKILL.md
  tools/skills/sharedmemory-model/SKILL.md
  tools/skills/sync-polytoken-skills.sh
  tools/skills/verify-against-code/SKILL.md
Due: none

feat(relationships): directed allure engine — relationship-gated check contributions (#1696)
  src/world/checks/CLAUDE.md
  src/world/checks/constants.py
  src/world/checks/migrations/0018_alter_consequenceoutcomemodifier_source_kind.py
  src/world/checks/migrations/max_migration.txt
  src/world/relationships/CLAUDE.md
  src/world/relationships/services.py
  src/world/relationships/tests/test_gated_contributions.py
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

refactor: collapse duplicated blocks flagged by SonarCloud (PR #1703)
  frontend/src/magic/components/TechniquePayloadEditors.tsx
  src/commands/technique.py
  src/world/magic/models/techniques.py
Due: getattr-literal, eslint, typescript, prettier

feat(seeds): seed the Search check — perception + Investigation (#1705)
  src/world/seeds/clusters.py
  src/world/seeds/investigation_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_investigation_checks.py
Due: getattr-literal

chore(api): regen api types for the RELATIONSHIP ModifierSourceKind (#1696)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(relationships): directed allure engine — relationship-gated check contributions (#1696) (#1707)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/checks/CLAUDE.md
  src/world/checks/constants.py
  src/world/checks/migrations/0018_alter_consequenceoutcomemodifier_source_kind.py
  src/world/checks/migrations/max_migration.txt
  src/world/relationships/CLAUDE.md
  src/world/relationships/services.py
  src/world/relationships/tests/test_gated_contributions.py
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(progression): DuranceTrainingSite room↔trainer binding (#1700)
  src/world/progression/factories.py
  src/world/progression/migrations/0008_durancetrainingsite.py
  src/world/progression/migrations/max_migration.txt
  src/world/progression/models/__init__.py
  src/world/progression/models/advancement.py
  src/world/progression/tests/test_training_site.py
Due: getattr-literal

test(progression): exercise witness-exclusion path (inductee interacts) (#1700)
  src/world/progression/tests/test_advancement_witnesses.py
Due: getattr-literal

feat(progression): record scene-attendee witnesses on Durance receipt (#1700)
  src/world/progression/migrations/0009_classleveladvancement_witnesses.py
  src/world/progression/migrations/max_migration.txt
  src/world/progression/models/advancement.py
  src/world/progression/services/advancement.py
  src/world/progression/tests/test_advancement_witnesses.py
Due: getattr-literal

refactor(progression): shared eligible-advanced-paths selectors (#1700)
  src/world/progression/selectors.py
  src/world/progression/services/advancement.py
  src/world/progression/tests/test_eligible_paths.py
Due: getattr-literal

feat(commands): auto-fire site Durance + surface advancement errors (#1700)
  src/commands/ritual.py
  src/commands/tests/test_ritual_durance.py
Due: getattr-literal

feat(progression): convene_durance_at_site + NoDuranceSiteError (#1700)
  src/world/progression/exceptions.py
  src/world/progression/services/advancement.py
  src/world/progression/tests/test_convene_site.py
Due: getattr-literal

feat(commands): DuranceAdapter parses testament+path on ritual join (#1700)
  src/commands/ritual_adapters.py
  src/commands/tests/test_ritual_adapters.py
Due: getattr-literal

feat(commands): CmdDurance status/intent/convene (#1700)
  src/commands/default_cmdsets.py
  src/commands/durance.py
  src/commands/tests/test_durance_command.py
Due: getattr-literal

test(durance): telnet E2E for witnessed + site-assisted Durance (#1700)
  src/integration_tests/pipeline/test_durance_telnet_e2e.py
Due: getattr-literal

fix(durance): auto-fire only genuinely site-convened sessions (#1700)
  src/commands/CLAUDE.md
  src/commands/ritual_adapters.py
  src/commands/tests/test_ritual_durance.py
  src/world/progression/CLAUDE.md
  src/world/progression/services/advancement.py
Due: getattr-literal

docs: Durance telnet surface + trainer-of-record ADR (#1700)
  docs/adr/0064-durance-trainer-of-record-enables-automated-self-conduct.md
  docs/adr/README.md
  docs/roadmap/character-progression.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/progression.md
  src/commands/CLAUDE.md
  src/world/progression/AGENT_GLOSSARY.md
  src/world/progression/CLAUDE.md
Due: none

feat(seeds): seed the Search check — perception + Investigation (#1705) (#1708)
  src/world/seeds/clusters.py
  src/world/seeds/investigation_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_investigation_checks.py
Due: getattr-literal

Dispel / cleanse: remove a condition via a technique (#1703)
  docs/adr/0064-dispel-is-a-technique-payload-not-an-effectkind.md
  docs/adr/README.md
  docs/architecture/combat-conditions.md
  docs/roadmap/player-capability-ledger.md
  docs/systems/MODEL_MAP.md
  frontend/src/magic/components/TechniqueBuilderForm.tsx
  frontend/src/magic/components/TechniquePayloadEditors.tsx
  frontend/src/magic/types.ts
  src/commands/technique.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
  src/world/combat/types.py
  src/world/conditions/types.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/migrations/0065_techniquedraftremovedcondition_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/technique_draft.py
  src/world/magic/models/techniques.py
  src/world/magic/serializers.py
  src/world/magic/services/condition_application.py
  src/world/magic/services/hostility.py
  src/world/magic/services/targeting.py
  src/world/magic/services/technique_builder.py
  src/world/magic/services/technique_draft.py
  src/world/magic/tests/integration/test_dispel_cast_e2e.py
  src/world/magic/tests/test_condition_application.py
  src/world/magic/tests/test_hostility.py
  src/world/magic/tests/test_technique_builder_service.py
  src/world/magic/tests/test_technique_draft_service.py
  src/world/magic/tests/test_technique_targeting.py
  src/world/magic/types/technique_builder.py
  src/world/scenes/cast_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(covenants): create_covenant COURT arm (leader kwarg + guards)
  src/world/covenants/services.py
  src/world/covenants/tests/test_court_services.py
Due: getattr-literal

feat(covenants): CovenantType.COURT + Covenant.leader FK + validation
  src/world/covenants/constants.py
  src/world/covenants/exceptions.py
  src/world/covenants/migrations/0018_covenant_leader_alter_covenant_covenant_type_and_more.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_court_model.py
Due: getattr-literal

feat(covenants): CourtPact bond + swear/release services
  src/world/covenants/exceptions.py
  src/world/covenants/migrations/0019_courtpact.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_court_pact.py
Due: getattr-literal

fix(covenants): CourtPact FKs PROTECT + race-safe swear_court_pact
  src/world/covenants/migrations/0019_courtpact.py
  src/world/covenants/models.py
  src/world/covenants/services.py
Due: getattr-literal

fix(covenants): wrap CourtPact create in transaction.atomic savepoint
  src/world/covenants/services.py
Due: getattr-literal

feat(magic): bound Court-role thread pulls by the master's granted cap
  src/world/magic/services/threads.py
  src/world/magic/tests/test_court_pull_cap.py
Due: getattr-literal
