Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(#729): trigger-giver editor — backend foundation (templates M2M + CRUD API) (#863)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/missions/filters.py
  src/world/missions/migrations/0010_missiongiver_templates.py
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/tests/test_api_givers.py
  src/world/missions/urls.py
  src/world/missions/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#729): Phase 2 — trigger mission dispatch on room-entry + examine
  src/typeclasses/characters.py
  src/typeclasses/mixins.py
  src/world/missions/migrations/0011_missiongivercooldown.py
  src/world/missions/models.py
  src/world/missions/services/trigger_dispatch.py
  src/world/missions/tests/test_trigger_dispatch.py
Due: getattr-literal

feat(#729): Phase 3 — trigger giver staff editor page
  frontend/src/App.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/pages/TriggerGiversPage.tsx
  frontend/src/missions/queries.ts
  frontend/src/missions/types.ts
  frontend/src/staff/pages/StaffHubPage.tsx
Due: eslint, typescript, prettier

fix(#729): draw via select_weighted, not random.choice (SonarCloud hotspot)
  src/world/missions/services/trigger_dispatch.py
Due: getattr-literal

docs: slim CLAUDE.md to invariants + pointers; extract command reference
  CLAUDE.md
  docs/dev-commands.md
Due: none

feat(#729): trigger giver dispatch + staff editor (Phases 2 & 3) (#868)
  frontend/src/App.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/pages/TriggerGiversPage.tsx
  frontend/src/missions/queries.ts
  frontend/src/missions/types.ts
  frontend/src/staff/pages/StaffHubPage.tsx
  src/typeclasses/characters.py
  src/typeclasses/mixins.py
  src/world/missions/migrations/0011_missiongivercooldown.py
  src/world/missions/models.py
  src/world/missions/services/trigger_dispatch.py
  src/world/missions/tests/test_trigger_dispatch.py
Due: getattr-literal, eslint, typescript, prettier

docs: make CI the full-regression gate; fast SQLite tier locally
  CLAUDE.md
  tools/skills/running-tests/SKILL.md
Due: none

docs: correct Architecture Overview to the action-centric model
  CLAUDE.md
Due: none

docs: thin the Architecture Overview to mental model + app-guide pointers
  CLAUDE.md
Due: none

docs: state the architecture positively (drop define-by-negation)
  CLAUDE.md
Due: none

feat(#870): mission visibility as OPEN/RESTRICTED eligibility — model + unified gate
  src/world/missions/constants.py
  src/world/missions/factories.py
  src/world/missions/filters.py
  src/world/missions/migrations/0012_remove_missiontemplate_access_tier_and_more.py
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/copy.py
  src/world/missions/services/trigger_dispatch.py
  src/world/missions/services/visibility.py
  src/world/missions/tests/test_686_unified_offer_gates.py
  src/world/missions/tests/test_api_copy_actions.py
  src/world/missions/tests/test_api_template_create.py
  src/world/missions/tests/test_models_giver.py
  src/world/missions/tests/test_models_template.py
  src/world/missions/tests/test_resolvers.py
  src/world/missions/tests/test_template_visibility.py
  src/world/missions/tests/test_trigger_dispatch.py
  src/world/missions/views.py
  src/world/npc_services/services.py
Due: getattr-literal

feat(#870): predicate leaves (min_org_rank, min_resonance_level, is_member_of_society) + server-side tree validator
  src/server/conf/settings.py
  src/world/predicates/catalog.py
  src/world/predicates/predicates.py
  src/world/predicates/tests/test_validation.py
  src/world/predicates/validation.py
Due: getattr-literal

feat(#870): FE — visibility toggle, inline rule builder on create, regen API types
  frontend/src/generated/api.d.ts
  frontend/src/missions/__tests__/StaffActions.test.tsx
  frontend/src/missions/__tests__/queries.test.tsx
  frontend/src/missions/components/MissionDetailPanel.tsx
  frontend/src/missions/components/StaffActionsCard.tsx
  frontend/src/missions/pages/CreateMissionPage.tsx
  frontend/src/missions/pages/MissionBrowserPage.tsx
  frontend/src/missions/types.ts
  src/schema.json
Due: eslint, typescript, prettier

docs: slim CLAUDE.md to invariants + pointers; CI-gated regression (#869)
  CLAUDE.md
  docs/dev-commands.md
  tools/skills/running-tests/SKILL.md
Due: none

fix(#870): adversarial-review fixes — leafless-rule hole, tier-value validation, simplifications
  src/world/missions/services/trigger_dispatch.py
  src/world/missions/services/visibility.py
  src/world/missions/tests/test_686_unified_offer_gates.py
  src/world/missions/tests/test_template_visibility.py
  src/world/predicates/catalog.py
  src/world/predicates/predicates.py
  src/world/predicates/tests/test_validation.py
  src/world/predicates/validation.py
Due: getattr-literal

feat(#870): trigger dispatch gates on the presented persona
  src/world/missions/services/trigger_dispatch.py
  src/world/missions/tests/test_template_visibility.py
Due: getattr-literal

docs(roadmap): sync combat/magic roadmaps to code-verified state (2026-06-09 audit)
  docs/roadmap/ROADMAP.md
  docs/roadmap/combat.md
  docs/roadmap/magic.md
Due: none

feat(#870): mission visibility as OPEN/RESTRICTED eligibility (retire access_tier) (#871)
  frontend/src/generated/api.d.ts
  frontend/src/missions/__tests__/StaffActions.test.tsx
  frontend/src/missions/__tests__/queries.test.tsx
  frontend/src/missions/components/MissionDetailPanel.tsx
  frontend/src/missions/components/StaffActionsCard.tsx
  frontend/src/missions/pages/CreateMissionPage.tsx
  frontend/src/missions/pages/MissionBrowserPage.tsx
  frontend/src/missions/types.ts
  src/schema.json
  src/server/conf/settings.py
  src/world/missions/constants.py
  src/world/missions/factories.py
  src/world/missions/filters.py
  src/world/missions/migrations/0012_remove_missiontemplate_access_tier_and_more.py
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/copy.py
  src/world/missions/services/trigger_dispatch.py
  src/world/missions/services/visibility.py
  src/world/missions/tests/test_686_unified_offer_gates.py
  src/world/missions/tests/test_api_copy_actions.py
  src/world/missions/tests/test_api_template_create.py
  src/world/missions/tests/test_models_giver.py
  src/world/missions/tests/test_models_template.py
  src/world/missions/tests/test_resolvers.py
  src/world/missions/tests/test_template_visibility.py
  src/world/missions/tests/test_trigger_dispatch.py
  src/world/missions/views.py
  src/world/npc_services/services.py
  src/world/predicates/catalog.py
  src/world/predicates/predicates.py
  src/world/predicates/tests/test_validation.py
  src/world/predicates/validation.py
Due: getattr-literal, eslint, typescript, prettier

docs(roadmap): sync combat/magic roadmaps to code-verified state (2026-06-09 audit) (#880)
  docs/roadmap/ROADMAP.md
  docs/roadmap/combat.md
  docs/roadmap/magic.md
Due: none

chore: backlog-audit doc fixes — commit migration playbook, fix stale claims
  CLAUDE.md
  docs/architecture/migration-nuke-and-rebuild-plan.md
  docs/roadmap/magic.md
Due: none

feat(#885): mission play loop backend — located options, journal compass, play API
  src/world/missions/constants.py
  src/world/missions/migrations/0013_missioninstance_anchor_room_and_more.py
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/__init__.py
  src/world/missions/services/journal.py
  src/world/missions/services/offer_handler.py
  src/world/missions/services/play.py
  src/world/missions/services/resolution.py
  src/world/missions/services/run.py
  src/world/missions/tests/test_play_surface.py
  src/world/missions/tests/test_services_journal.py
  src/world/missions/types.py
  src/world/missions/urls.py
  src/world/missions/views.py
  src/world/narrative/admin.py
  src/world/narrative/migrations/0004_ambientstirline.py
  src/world/narrative/models.py
  src/world/narrative/services.py
Due: getattr-literal

feat(#885): FE — story tray, beat card, journal page
  frontend/src/App.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/generated/api.d.ts
  frontend/src/missions/__tests__/StoryTray.test.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/components/BeatCard.tsx
  frontend/src/missions/components/StoryTray.tsx
  frontend/src/missions/pages/JournalPage.tsx
  frontend/src/missions/queries.ts
  frontend/src/missions/types.ts
  src/schema.json
Due: eslint, typescript, prettier

fix(#885): create Evennia objects in setUp, not setUpTestData
  src/world/missions/tests/test_play_surface.py
Due: getattr-literal

Mission quest journal + in-progress persistence (node→room binding, multi-room lifecycle) (#889)
  frontend/src/App.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/generated/api.d.ts
  frontend/src/missions/__tests__/StoryTray.test.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/components/BeatCard.tsx
  frontend/src/missions/components/StoryTray.tsx
  frontend/src/missions/pages/JournalPage.tsx
  frontend/src/missions/queries.ts
  frontend/src/missions/types.ts
  src/schema.json
  src/world/missions/constants.py
  src/world/missions/migrations/0013_missioninstance_anchor_room_and_more.py
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/__init__.py
  src/world/missions/services/journal.py
  src/world/missions/services/offer_handler.py
  src/world/missions/services/play.py
  src/world/missions/services/resolution.py
  src/world/missions/services/run.py
  src/world/missions/tests/test_play_surface.py
  src/world/missions/tests/test_services_journal.py
  src/world/missions/types.py
  src/world/missions/urls.py
  src/world/missions/views.py
  src/world/narrative/admin.py
  src/world/narrative/migrations/0004_ambientstirline.py
  src/world/narrative/models.py
  src/world/narrative/services.py
Due: getattr-literal, eslint, typescript, prettier

fix(#855): two scene tests error on the SQLite fast tier
  src/world/scenes/tests/test_action_services.py
  src/world/scenes/tests/test_scene_magic_integration.py
Due: getattr-literal

chore(#756): workflow friction — test gotchas doc, just commit recipe, api-types CI drift gate
  .github/workflows/ci.yml
  CLAUDE.md
  justfile
  tools/skills/running-tests/SKILL.md
Due: none

fix(#756): drift gate needs no database — drop the Postgres block
  .github/workflows/ci.yml
Due: none

chore(#756): drift gate emits the diff as an annotation (CI logs unreadable from the devcontainer)
  .github/workflows/ci.yml
Due: none

fix(#756): drift gate regenerates against migrated Postgres (trust-auth, passwordless)
  .github/workflows/ci.yml
Due: none

fix(#756): SHA-pin third-party actions in the drift job (SonarCloud supply-chain hotspots)
  .github/workflows/ci.yml
Due: none

feat(#778): CombatOpponent.objectdb OneToOne→FK + per-encounter constraint; EncounterRiskAcknowledgement model (#777)
  src/world/combat/constants.py
  src/world/combat/migrations/0005_encounterriskacknowledgement_and_more.py
  src/world/combat/models.py
Due: getattr-literal

fix(#778): reuse-or-refuse existing opponent row on DECLARING feed; cover the feed edge cases
  src/world/combat/cast_seed.py
  src/world/combat/tests/test_cast_seed.py
Due: getattr-literal

feat(#777): acknowledgement service + gate query; record at self-join and cast initiation
  src/world/combat/cast_seed.py
  src/world/combat/services.py
  src/world/combat/tests/test_risk_acknowledgement.py
Due: getattr-literal

feat(#777): surface combat_risk_level on pending requests; ConsentPrompt risk warning
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ConsentPrompt.test.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  src/schema.json
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_scene_action_request_serializer.py
Due: getattr-literal, eslint, typescript, prettier

feat(#777): risk gate reroutes hostile casts through consent; hostile accept seeds combat
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

docs(roadmap): record #777 risk gate + #778 cast-seed hardening as shipped
  docs/roadmap/combat.md
  docs/roadmap/magic.md
Due: none

feat(#854): SceneCastPullDeclaration model for benign-cast pull persistence
  src/world/scenes/action_constants.py
  src/world/scenes/action_models.py
  src/world/scenes/migrations/0015_scenecastpulldeclaration.py
  src/world/scenes/tests/test_action_models.py
Due: getattr-literal

fix(#854): drop needless Meta.ordering; use CastPullTier enum in test
  src/world/scenes/action_models.py
  src/world/scenes/migrations/0015_scenecastpulldeclaration.py
  src/world/scenes/tests/test_action_models.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
