Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat: public-reaction news feed — pull/browse slice (#1450)
  .github/workflows/ci.yml
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/news/__tests__/NewsFeed.test.tsx
  frontend/src/news/api.ts
  frontend/src/news/components/NewsFeed.tsx
  frontend/src/news/pages/NewsPage.tsx
  frontend/src/news/queries.ts
  frontend/src/news/types.ts
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/social/gossip.py
  src/commands/tests/test_gossip_command.py
  src/server/conf/settings.py
  src/web/urls.py
  src/world/news/__init__.py
  src/world/news/apps.py
  src/world/news/constants.py
  src/world/news/serializers.py
  src/world/news/services.py
  src/world/news/tests/__init__.py
  src/world/news/tests/test_services.py
  src/world/news/urls.py
  src/world/news/views.py
Due: getattr-literal, eslint, typescript, prettier

chore: regenerate API types for the news feed endpoint (#1450)
  frontend/src/generated/api.d.ts
  frontend/src/news/types.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#1330): cast round_declaration honors action_slot kwarg
  src/actions/definitions/cast.py
  src/integration_tests/pipeline/test_combat_cast_telnet_e2e.py
Due: getattr-literal

refactor: rename the public-reaction feed news → tidings (#1450)
  .github/workflows/ci.yml
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/generated/api.d.ts
  frontend/src/tidings/__tests__/TidingsFeed.test.tsx
  frontend/src/tidings/api.ts
  frontend/src/tidings/components/TidingsFeed.tsx
  frontend/src/tidings/pages/TidingsPage.tsx
  frontend/src/tidings/queries.ts
  frontend/src/tidings/types.ts
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/social/tidings.py
  src/commands/tests/test_tidings_command.py
  src/schema.json
  src/server/conf/settings.py
  src/web/urls.py
  src/world/news/urls.py
  src/world/tidings/__init__.py
  src/world/tidings/apps.py
  src/world/tidings/constants.py
  src/world/tidings/serializers.py
  src/world/tidings/services.py
  src/world/tidings/tests/__init__.py
  src/world/tidings/tests/test_services.py
  src/world/tidings/urls.py
  src/world/tidings/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#1330): telnet cast — secondary-action keyword + technique-driven targeting
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/integration_tests/pipeline/test_combat_cast_telnet_e2e.py
Due: getattr-literal

feat(#1451): telnet clash command — commit technique + strain
  src/commands/CLAUDE.md
  src/commands/combat.py
  src/commands/default_cmdsets.py
  src/integration_tests/pipeline/test_combat_clash_telnet_e2e.py
Due: getattr-literal

docs(#1330,#1451): telnet cast targeting/secondary + clash; tick audit
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/commands/CLAUDE.md
Due: none

feat: public-reaction news feed — pull/browse slice (#1450) (#1456)
  .github/workflows/ci.yml
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/generated/api.d.ts
  frontend/src/tidings/__tests__/TidingsFeed.test.tsx
  frontend/src/tidings/api.ts
  frontend/src/tidings/components/TidingsFeed.tsx
  frontend/src/tidings/pages/TidingsPage.tsx
  frontend/src/tidings/queries.ts
  frontend/src/tidings/types.ts
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/social/tidings.py
  src/commands/tests/test_tidings_command.py
  src/schema.json
  src/server/conf/settings.py
  src/web/urls.py
  src/world/tidings/__init__.py
  src/world/tidings/apps.py
  src/world/tidings/constants.py
  src/world/tidings/serializers.py
  src/world/tidings/services.py
  src/world/tidings/tests/__init__.py
  src/world/tidings/tests/test_services.py
  src/world/tidings/urls.py
  src/world/tidings/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(#1330): replace ReDoS-flagged secondary-keyword regex with string ops
  src/commands/combat.py
Due: getattr-literal

fix(#1330): update CmdDeclareTechnique unit tests for technique-driven targeting
  src/commands/tests/test_combat_commands.py
Due: getattr-literal

feat(#1330,#1451): telnet combat — cast targeting/secondary + clash strain (#1457)
  docs/audits/2026-06-21-telnet-driveability-ui-parity.md
  src/actions/definitions/cast.py
  src/commands/CLAUDE.md
  src/commands/combat.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_combat_commands.py
  src/integration_tests/pipeline/test_combat_cast_telnet_e2e.py
  src/integration_tests/pipeline/test_combat_clash_telnet_e2e.py
Due: getattr-literal

feat: gemit reach — staff/GM push vector for the public-reaction center (#1450)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/narrative.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/gemit.py
  src/commands/tests/test_gemit_command.py
  src/world/narrative/constants.py
  src/world/narrative/migrations/0005_gemit_reach_gemit_reach_organizations_and_more.py
  src/world/narrative/migrations/max_migration.txt
  src/world/narrative/models.py
  src/world/narrative/serializers.py
  src/world/narrative/services.py
  src/world/narrative/tests/test_gemit_reach.py
  src/world/narrative/views.py
Due: getattr-literal

feat: sheet/standing + sheet/covenant telnet sections
  src/commands/CLAUDE.md
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
Due: getattr-literal

test: persona-level edge cases for the tidings feed (#1450)
  src/commands/tests/test_tidings_command.py
Due: getattr-literal

chore: regenerate API types for gemit reach (#1450)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat: gemit reach — staff/GM push vector for the public-reaction center (#1450) (#1458)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/narrative.md
  frontend/src/generated/api.d.ts
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/gemit.py
  src/commands/tests/test_gemit_command.py
  src/schema.json
  src/world/narrative/constants.py
  src/world/narrative/migrations/0005_gemit_reach_gemit_reach_organizations_and_more.py
  src/world/narrative/migrations/max_migration.txt
  src/world/narrative/models.py
  src/world/narrative/serializers.py
  src/world/narrative/services.py
  src/world/narrative/tests/test_gemit_reach.py
  src/world/narrative/views.py
Due: getattr-literal, eslint, typescript, prettier

feat: sheet/standing + sheet/covenant telnet sections (#1459)
  src/commands/CLAUDE.md
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
Due: getattr-literal

test: persona-level edge cases for the tidings feed (#1450) (#1460)
  src/commands/tests/test_tidings_command.py
Due: getattr-literal

feat(combat): toggle_action_ready service + FleeAction on shared seam (#1453)
  src/actions/definitions/combat_maneuvers.py
  src/actions/registry.py
  src/actions/tests/test_combat_maneuvers.py
  src/world/combat/services.py
Due: getattr-literal

feat(combat): cover/interpose/ready/combo/revert/join/leave actions (#1453, #1452)
  src/actions/definitions/combat_maneuvers.py
  src/actions/registry.py
  src/actions/tests/test_combat_maneuvers.py
Due: getattr-literal

feat(combat): CmdCombat subverb namespace telnet command (#1453, #1452)
  src/commands/combat_maneuvers.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_combat_maneuvers_command.py
Due: getattr-literal

refactor(combat): web endpoints dispatch through shared actions, removing the bypass (#1453, #1452)
  src/world/combat/views.py
Due: getattr-literal

docs(combat): document shared maneuver actions + combat command namespace (#1453, #1452)
  docs/roadmap/combat.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
Due: none

test(combat): E2E coverage for shared maneuver actions via dispatch seam (#1453, #1452)
  src/world/combat/tests/test_combat_maneuvers_e2e.py
Due: getattr-literal

test(combat): cover telnet combat join room-resolution path (#1453)
  src/world/combat/tests/test_combat_maneuvers_e2e.py
Due: getattr-literal

test(actions): register new combat_* action keys in registry invariant (#1453, #1452)
  src/actions/tests/test_base.py
Due: getattr-literal

Combat verbs as shared actions: flee/cover/interpose/ready/join/leave/combo + telnet combat namespace (#1453, #1452) (#1461)
  docs/roadmap/combat.md
  src/actions/CLAUDE.md
  src/actions/definitions/combat_maneuvers.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_combat_maneuvers.py
  src/commands/CLAUDE.md
  src/commands/combat_maneuvers.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_combat_maneuvers_command.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_maneuvers_e2e.py
  src/world/combat/views.py
Due: getattr-literal

feat(#1455): refuse a pull with no applicable effect instead of charging
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_pull_service.py
  src/world/magic/tests/test_use_technique_power_terms.py
Due: getattr-literal

fix(#1455): apply pulled FLAT_BONUS/INTENSITY_BUMP to non-combat casts
  src/integration_tests/pipeline/test_alteration_pipeline.py
  src/integration_tests/pipeline/test_audere_offer_pipeline.py
  src/integration_tests/pipeline/test_corruption_per_cast_pipeline.py
  src/world/combat/clash.py
  src/world/combat/tests/test_duels_integration.py
  src/world/magic/services/techniques.py
  src/world/magic/tests/integration/test_corruption_flow.py
  src/world/magic/tests/test_fury_integration.py
  src/world/magic/tests/test_nonlethal_cap.py
  src/world/magic/tests/test_reactive_integration.py
  src/world/magic/tests/test_resonance_environment_service.py
  src/world/magic/tests/test_use_technique.py
  src/world/magic/tests/test_use_technique_control_penalty.py
  src/world/magic/tests/test_use_technique_power_terms.py
  src/world/mechanics/tests/test_pipeline_integration.py
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
Due: getattr-literal

fix(#1455): restore cancelled-cast-never-charges-pull invariant
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_use_technique_power_terms.py
Due: getattr-literal

feat(#1455): telnet cast carries a thread-pull (non-combat)
  src/actions/definitions/cast.py
  src/actions/tests/test_cast_action.py
  src/commands/combat.py
  src/commands/tests/test_combat_commands.py
Due: getattr-literal

fix(#1455): make effort= order-independent with pull=/resonance=/tier= in CmdDeclareTechnique
  src/commands/combat.py
  src/commands/tests/test_combat_commands.py
Due: getattr-literal

feat(#1455): combat cast declaration commits the pull as a CombatPull
  src/actions/definitions/cast.py
  src/actions/errors.py
  src/world/combat/tests/test_cast_round_declaration_pull.py
Due: getattr-literal

feat(#1455): clash commit carries a thread-pull; clash result responds
  src/actions/definitions/cast.py
  src/actions/player_interface.py
  src/commands/combat.py
  src/world/combat/pull_helpers.py
  src/world/combat/tests/test_clash_round_declaration_pull.py
Due: getattr-literal

feat(#1455): web combat cast/clash carries thread pull via raw IDs (Task 6)
  src/actions/definitions/cast.py
  src/actions/player_interface.py
  src/world/combat/pull_helpers.py
  src/world/combat/tests/test_web_pull_id_form.py
  src/world/scenes/action_serializers.py
Due: getattr-literal

fix(#1455): repair pull tests broken by the refuse-when-inert guard
  src/world/scenes/tests/cast_test_helpers.py
Due: getattr-literal

fix(#1455): pass owner_sheet_id int to build_cast_pull_declaration, drop extra sheet SELECT
  src/world/combat/pull_helpers.py
  src/world/combat/tests/test_web_pull_id_form.py
  src/world/scenes/action_serializers.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal

feat(#1455): combat inline pull — dispatch kwargs + retire standalone commit UX
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/magic/components/threads/PullEffectPreview.tsx
  frontend/src/magic/components/threads/ThreadPullDialog.tsx
  frontend/src/magic/components/threads/__tests__/PullEffectPreview.test.tsx
  frontend/src/magic/components/threads/__tests__/ThreadPullDialog.test.tsx
  frontend/src/magic/pages/__tests__/ThreadDetailPage.test.tsx
Due: eslint, typescript, prettier

feat(#1455): remove standalone pull surfaces (telnet + web + frontend) + regen api types
  frontend/src/generated/api.d.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/queries.test.tsx
  frontend/src/magic/api.ts
  frontend/src/magic/components/threads/ThreadPullDialog.tsx
  frontend/src/magic/queries.ts
  frontend/src/magic/types.ts
  src/actions/definitions/pull.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/pull.py
  src/commands/tests/test_pull_cmd.py
  src/integration_tests/pipeline/test_weave_imbue_pull_journey_e2e.py
  src/schema.json
  src/world/magic/serializers.py
  src/world/magic/tests/test_thread_pull_commit_view.py
  src/world/magic/urls.py
  src/world/magic/views.py
  src/world/scenes/action_serializers.py
Due: getattr-literal, eslint, typescript, prettier

test(#1455): prove pull changes action OUTCOME across 4 contexts (Task 9)
  src/integration_tests/pipeline/test_pull_outcome_cross_context_e2e.py
  src/integration_tests/pipeline/test_weave_imbue_pull_journey_e2e.py
Due: getattr-literal
