Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Docs: item, clue and codex stake rewards (#3566)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/investigation_and_discovery.md
  docs/systems/stakes.md
  src/world/clues/AGENT_GLOSSARY.md
  src/world/gm/AGENT_GLOSSARY.md
  src/world/stories/AGENT_GLOSSARY.md
Due: none

Fix round: clue search filters before slicing, correct clue-reward doc, drop dead page_size param (#3566)
  docs/systems/stakes.md
  frontend/src/stories/api.ts
  src/world/clues/tests/test_clue_search_view.py
  src/world/clues/views.py
Due: getattr-literal, eslint, typescript, prettier

Refresh the FilterSet comment on ClueSearchView after the policy moved into the queryset (#3566)
  src/world/clues/views.py
Due: getattr-literal

Scene clocks: Beat.clock_size, SceneClock, tick and close services (#3567)
  src/world/migrations/0215_beat_clock_size_sceneclock.py
  src/world/migrations/max_migration.txt
  src/world/scenes/clock_services.py
  src/world/scenes/constants.py
  src/world/scenes/factories.py
  src/world/scenes/models.py
  src/world/scenes/scene_admin_services.py
  src/world/scenes/tests/test_scene_clock.py
  src/world/stories/models.py
  src/world/stories/services/beats.py
Due: getattr-literal

Scene clocks: RunBeat opens, rounds and advance_clock tick, story clock telnet (#3567)
  src/actions/definitions/gm_story.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_gm_story_clock.py
  src/commands/story.py
  src/commands/tests/test_story_clock_command.py
  src/world/combat/services.py
  src/world/combat/tests/test_round_start_ticks_scene_clock.py
Due: getattr-literal

Sentinel probe: the 2FA secrets key must still decrypt stored authenticators (#3591)
  src/web/admin/tests/test_required_content.py
  src/web/admin/tuning/required_content.py
Due: getattr-literal

Install allauth.mfa with its extra and the account-settings allauth settings (#3591)
  .github/workflows/ci.yml
  pyproject.toml
  src/.env.example
  src/server/conf/settings.py
  src/web/api/tests/test_mfa_wiring.py
  uv.lock
Due: getattr-literal

Key allauth rate limits on Caddy's X-Real-IP (#3591)
  src/evennia_extensions/adapters.py
  src/world/registration/tests/test_adapter.py
Due: getattr-literal

Encrypt 2FA secrets under MFA_SECRETS_KEY and refuse to start on a bad key (#3591)
  src/evennia_extensions/apps.py
  src/evennia_extensions/checks.py
  src/evennia_extensions/mfa_adapter.py
  src/evennia_extensions/tests/test_mfa_adapter.py
  src/server/conf/settings.py
Due: getattr-literal

Validate X-Real-IP before keying rate limits on it (#3591)
  src/evennia_extensions/adapters.py
  src/world/registration/tests/test_adapter.py
Due: getattr-literal

PlayerData.block_telnet_login_with_2fa and the account security-settings endpoint (#3591)
  src/evennia_extensions/models.py
  src/web/api/serializers.py
  src/web/api/tests/test_account_security_settings.py
  src/web/api/urls.py
  src/web/api/views/account_settings_views.py
  src/world/migrations/0215_playerdata_block_telnet_login_with_2fa.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Opt-in telnet refusal for 2FA accounts in Account.authenticate (#3591)
  src/typeclasses/accounts.py
  src/typeclasses/tests/test_account_authenticate_2fa.py
Due: getattr-literal

Assert the exact 403 for anonymous security-settings access (#3591)
  src/web/api/tests/test_account_security_settings.py
Due: getattr-literal

Journey tests for password, email, reauth and 2FA at the headless endpoints (#3591)
  src/web/api/tests/test_account_settings_journey.py
Due: getattr-literal

Admin redirect to the site login only for anonymous visitors (#3591)
  src/web/admin/__init__.py
  src/web/admin/tests/test_admin_login_2fa.py
Due: getattr-literal

Admin signs in through the site login; Authenticator admin hides secrets (#3591)
  src/evennia_extensions/admin.py
  src/server/conf/settings.py
  src/web/admin/__init__.py
  src/web/admin/tests/test_admin_login_2fa.py
Due: getattr-literal

Account settings client: headless email/password/reauth/2FA fetchers and hooks (#3591)
  frontend/src/account/__tests__/api.test.ts
  frontend/src/account/api.ts
  frontend/src/account/hooks.ts
  frontend/src/account/types.ts
  frontend/src/evennia_replacements/api.ts
Due: eslint, typescript, prettier

Login asks for a second factor when the account has 2FA, honours a same-origin next (#3591)
  frontend/src/evennia_replacements/LoginPage.test.tsx
  frontend/src/evennia_replacements/LoginPage.tsx
  frontend/src/evennia_replacements/api.ts
  frontend/src/evennia_replacements/queries.tsx
  frontend/src/evennia_replacements/types.ts
Due: eslint, typescript, prettier

Reauth guard resolves every waiter; password change refreshes the account (#3591)
  frontend/src/account/__tests__/hooks.test.tsx
  frontend/src/account/hooks.ts
Due: eslint, typescript, prettier

Account tab cards: email, password, two-factor with reauthentication dialog (#3591)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/account/__tests__/EmailCard.test.tsx
  frontend/src/account/__tests__/PasswordCard.test.tsx
  frontend/src/account/__tests__/ReauthDialog.test.tsx
  frontend/src/account/__tests__/TwoFactorCard.test.tsx
  frontend/src/account/components/EmailCard.tsx
  frontend/src/account/components/PasswordCard.tsx
  frontend/src/account/components/ReauthDialog.tsx
  frontend/src/account/components/RecoveryCodesDialog.tsx
  frontend/src/account/components/TotpEnrolDialog.tsx
  frontend/src/account/components/TwoFactorCard.tsx
Due: eslint, typescript, prettier

Account tab at /profile/account; Connected accounts moves there (#3591)
  frontend/src/App.tsx
  frontend/src/account/__tests__/AccountSettingsPage.test.tsx
  frontend/src/account/pages/AccountSettingsPage.tsx
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/SettingsPage.visibility.test.tsx
Due: eslint, typescript, prettier

Plumb ARXII_MFA_SECRETS_KEY through the vault; pin systemd-timesyncd on the host (#3591)
  .github/workflows/standup.yml
  infra/README.md
  infra/ansible/group_vars/secrets.env.example
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/secrets_vault/defaults/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/rehearse.sh
  infra/scripts/standup.sh
Due: none

Docs: account settings, 2FA runbooks, ADR-0264 and ADR-0265, glossary (#3591)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0264-two-factor-is-opt-in-and-telnet-blocking-is-a-second-opt-in.md
  docs/adr/0265-mfa-secrets-encrypted-under-a-dedicated-vault-key.md
  docs/adr/README.md
  docs/operations/ops-access.md
  docs/systems/INDEX.md
  docs/systems/registration.md
  src/evennia_extensions/CLAUDE.md
Due: none

Login: dash-free comments and a stricter same-origin next (#3591)
  frontend/src/evennia_replacements/LoginPage.test.tsx
  frontend/src/evennia_replacements/LoginPage.tsx
  frontend/src/evennia_replacements/api.ts
  frontend/src/evennia_replacements/types.ts
Due: eslint, typescript, prettier

Playwright: account settings password change and TOTP enrolment (#3591)
  frontend/e2e/account-settings.spec.ts
Due: eslint, typescript, prettier

Docs: one MFA table, no line-number citation, rotation covers migrated_codes (#3591)
  docs/systems/registration.md
Due: none

Playwright account-settings: bounded reauth wait, MFA-aware login helper (#3591)
  frontend/e2e/account-settings.spec.ts
Due: eslint, typescript, prettier

Regenerate OpenAPI schema and frontend types for account security settings (#3591)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Scene clocks: clock on the scene payload, clock_size on beat, rail and runnable rows (#3567)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/rail_serializers.py
  src/world/scenes/rail_services.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_gm_rail_views.py
  src/world/scenes/tests/test_scene_clock_payload.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_serializers_beat.py
Due: getattr-literal, eslint, typescript, prettier

Docs: test_mfa_wiring covers wiring, not the key check (#3591)
  docs/systems/registration.md
Due: none

CI: zero-byte CI Fernet key, gitleaks allowlist for the retired value, dash-free task name (#3591)
  .github/workflows/ci.yml
  .gitleaks.toml
  infra/ansible/roles/base/tasks/main.yml
Due: none

Playwright account-settings: CSPRNG for the test-account suffix (#3591)
  frontend/e2e/account-settings.spec.ts
Due: eslint, typescript, prettier

Scene clocks: header pips, GM rail advance, runnable rows and beat editor (#3567)
  frontend/src/gm-adjudication/types.ts
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
  frontend/src/scenes/components/GMStoryRail.tsx
  frontend/src/scenes/components/SceneClockPips.test.tsx
  frontend/src/scenes/components/SceneClockPips.tsx
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  frontend/src/scenes/components/__tests__/ScenarioCard.test.tsx
  frontend/src/scenes/types.ts
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

pre-commit: Django-backed hooks default MFA_SECRETS_KEY; format the renumbered migration (#3591)
  src/world/migrations/0215_playerdata_block_telnet_login_with_2fa.py
  tools/check_migrations.py
  tools/check_partition_sql_drift.py
Due: getattr-literal

Scene clocks: docs, glossary, ADR-0264, MODEL_MAP (#3567)
  docs/adr/0264-scene-clock-fills-complete-after-commit.md
  docs/adr/README.md
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/scenes.md
  docs/systems/stories.md
  src/commands/CLAUDE.md
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/stories/AGENT_GLOSSARY.md
Due: none

Docs: running_beat rides SceneListSerializer, not the detail serializer alone (#3567)
  docs/systems/scenes.md
Due: none

Docs: running_beat payload shape in stories.md matches the serializer (#3567)
  docs/systems/stories.md
Due: none

Scene clocks: end-to-end clock fill test and a truthful test name (#3567)
  src/actions/tests/test_gm_story_clock.py
  src/world/scenes/tests/test_scene_clock.py
Due: getattr-literal

Scenario graph: CONTEST option, track node fields, MissionTrackProgress; remove depends_on (#3568)
  src/world/mechanics/models.py
  src/world/mechanics/serializers.py
  src/world/mechanics/tests/test_challenge_models.py
  src/world/migrations/0215_remove_situationchallengelink_depends_on_and_more.py
  src/world/migrations/max_migration.txt
  src/world/missions/constants.py
  src/world/missions/factories.py
  src/world/missions/models.py
  src/world/missions/tests/test_models_contest_and_track.py
Due: getattr-literal

Scenario graph: CONTEST resolves against the opposition's level term; track nodes count and route (#3568)
  src/world/missions/services/beat.py
  src/world/missions/services/multiplayer.py
  src/world/missions/services/resolution.py
  src/world/missions/tests/test_services_beat.py
  src/world/missions/tests/test_services_resolution_contest.py
  src/world/missions/tests/test_services_resolution_track.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
