Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Match the-hall's typecheck script form (tsc -b --noEmit)
  frontend/package.json
Due: prettier

Session prep on story beats: authored opponent/staging lines + Run Beat (ruled from needs-design) (#3459)
  docs/roadmap/stories-gm.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/scenes.md
  docs/systems/stories.md
  frontend/src/generated/api.d.ts
  frontend/src/gm-adjudication/types.ts
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
  frontend/src/scenes/types.ts
  frontend/src/stories/__tests__/AGMOpportunitiesPage.test.tsx
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/__tests__/BeatList.test.tsx
  frontend/src/stories/__tests__/BeatRow.test.tsx
  frontend/src/stories/__tests__/ContributeBeatDialog.test.tsx
  frontend/src/stories/__tests__/MarkBeatDialog.test.tsx
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/types.ts
  src/actions/definitions/gm_story.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_gm_story_run_beat.py
  src/schema.json
  src/world/migrations/0188_scene_running_beat_beatopponentline_and_more.py
  src/world/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/scene_admin_services.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_scene_admin_services.py
  src/world/stories/admin.py
  src/world/stories/factories.py
  src/world/stories/models.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_serializers_beat_session_prep.py
Due: getattr-literal, eslint, typescript, prettier

Push-yourself is invisible outside Clashes: strain_commitment is accepted by the cast API but no ordinary-cast surface exposes it (#3457)
  docs/architecture/combat-magic-integration.md
  docs/roadmap/combat.md
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/actions/__tests__/ActionDeclarationCard.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/world/combat/round_context.py
  src/world/combat/services.py
  src/world/combat/tests/test_strain_declaration.py
Due: getattr-literal, eslint, typescript, prettier

Extract the shared lifecycle display rules (#3412 slice 3)
  frontend/src/components/SelectedCharacterChip.tsx
  frontend/src/home/hall/CharactersBand.tsx
  frontend/src/home/hall/OffscreenActsPlate.tsx
  frontend/src/roster/lifecycleDisplay.ts
Due: eslint, typescript, prettier

Story-NPC statline presets: curated archetypes applied at mint (ruled from needs-design) (#3458)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/npc-lifecycle.md
  frontend/src/generated/api.d.ts
  frontend/src/stories/__tests__/GMDashboardPage.test.tsx
  frontend/src/stories/pages/GMDashboardPage.tsx
  src/actions/definitions/gm_npcs.py
  src/actions/tests/test_gm_npcs.py
  src/commands/gm_ops.py
  src/core_management/content_export.py
  src/schema.json
  src/world/migrations/0189_alter_charactertraitchange_source_npcstatlinepreset_and_more.py
  src/world/migrations/max_migration.txt
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/roster/admin.py
  src/world/roster/factories.py
  src/world/roster/models/__init__.py
  src/world/roster/models/npc_presets.py
  src/world/roster/seeds.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/npc_presets.py
  src/world/roster/services/staff_characters.py
  src/world/roster/tests/test_npc_presets.py
  src/world/roster/urls.py
  src/world/roster/views/__init__.py
  src/world/roster/views/npc_preset_views.py
  src/world/seeds/clusters.py
  src/world/traits/models.py
Due: getattr-literal, eslint, typescript, prettier

State-3 mode coherence: in-world routing, sheet access, IC clock (#3412 slice 4) (#3435)
  docs/adr/0247-state-3-mode-coherence-live-connection-redirect-and-sheet-in-new-tab.md
  docs/adr/README.md
  docs/roadmap/ROADMAP.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/home/GatefoldPage.tsx
  frontend/src/home/__tests__/GatefoldPage.test.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

needs-design: the cast-time capability-grant seam - casting a capability-granting technique does nothing with its grants, and three payload families are parked on that absence (#3454)
  docs/adr/0248-cast-time-capability-effects-ride-the-condition-channel.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/worship.md
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/audere_majora.py
  src/world/magic/models/__init__.py
  src/world/magic/models/signature.py
  src/world/magic/services/technique_power_eval.py
  src/world/magic/tests/test_signature_motif_bonus_model.py
  src/world/migrations/0190_remove_miraclecapabilitygrant_capability_and_more.py
  src/world/migrations/max_migration.txt
  src/world/worship/admin.py
  src/world/worship/models.py
Due: getattr-literal

NPC-held clues: a CLUE_REVEAL offer kind on the NPC interaction loop (ruled from needs-design) (#3460)
  docs/roadmap/ROADMAP.md
  docs/roadmap/investigation-discovery.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/investigation_and_discovery.md
  docs/systems/npc-lifecycle.md
  frontend/src/generated/api.d.ts
  frontend/src/npc_services/api.ts
  frontend/src/npc_services/pages/NPCRoleEditorPage.test.tsx
  frontend/src/npc_services/pages/NPCRoleEditorPage.tsx
  frontend/src/npc_services/queries.ts
  frontend/src/npc_services/types.ts
  src/actions/tests/test_language_speech.py
  src/schema.json
  src/world/admin.py
  src/world/clues/AGENT_GLOSSARY.md
  src/world/migrations/0191_alter_npcserviceoffer_kind_cluerevealofferdetails.py
  src/world/migrations/max_migration.txt
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/admin.py
  src/world/npc_services/constants.py
  src/world/npc_services/effects.py
  src/world/npc_services/factories.py
  src/world/npc_services/filters.py
  src/world/npc_services/models.py
  src/world/npc_services/serializers.py
  src/world/npc_services/services.py
  src/world/npc_services/tests/test_clue_reveal_offer.py
  src/world/npc_services/urls.py
  src/world/npc_services/views.py
Due: getattr-literal, eslint, typescript, prettier

Scene-header risk badge: surface the running beat's declared stakes (#3433)
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_scene_declared_risk.py
Due: getattr-literal, eslint, typescript, prettier

Extend CharacterVitalsView with the #3434 scene-GM carve-out
  src/world/vitals/tests/test_scene_gm_carveout.py
  src/world/vitals/views.py
Due: getattr-literal

Add GET /api/scenes/{id}/gm-rail/ - the GM story rail composed read
  src/world/scenes/rail_serializers.py
  src/world/scenes/rail_services.py
  src/world/scenes/tests/test_gm_rail_views.py
  src/world/scenes/views.py
Due: getattr-literal

Add the GMStoryRail frontend component (#3434)
  frontend/src/scenes/components/GMStoryRail.tsx
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
Due: eslint, typescript, prettier

Regenerate API types for the gm-rail endpoint; drop stray em-dashes
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/rail_serializers.py
  src/world/scenes/rail_services.py
  src/world/scenes/tests/test_gm_rail_views.py
  src/world/scenes/views.py
  src/world/vitals/tests/test_scene_gm_carveout.py
  src/world/vitals/views.py
Due: getattr-literal, eslint, typescript, prettier

Docs in tandem for #3434: gm-rail endpoint, roadmap, Pool opacity split
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
Due: none

Scene-header risk badge: surface the running beat's declared stakes (#3433) (#3461)
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_scene_declared_risk.py
Due: getattr-literal, eslint, typescript, prettier

GM story rail: running beat's authored material + participant conditions/vitals (#3462)
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/GMStoryRail.tsx
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/rail_serializers.py
  src/world/scenes/rail_services.py
  src/world/scenes/tests/test_gm_rail_views.py
  src/world/scenes/views.py
  src/world/vitals/tests/test_scene_gm_carveout.py
  src/world/vitals/views.py
Due: getattr-literal, eslint, typescript, prettier

Caller-count is not evidence: ledger states ROLE, and covers removals (#3464)
  CLAUDE.md
  docs/spec-template.md
  tools/skills/brainstorming/SKILL.md
  tools/skills/intent-provenance/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/verify-against-code/SKILL.md
Due: none

Fix red main: GMStoryRail test fixture missing declared_risk
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
Due: eslint, typescript, prettier

Caller-count is not evidence: make the anti-reinvention ledger state a surface's ROLE, and cover removals (#3465)
  CLAUDE.md
  docs/spec-template.md
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  tools/skills/brainstorming/SKILL.md
  tools/skills/intent-provenance/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/verify-against-code/SKILL.md
Due: eslint, typescript, prettier

Legend station + contribution ledger + effective-risk floor (#3463)
  src/world/mechanics/effect_handlers.py
  src/world/migrations/0192_legendentry_earned_at_level_and_more.py
  src/world/migrations/max_migration.txt
  src/world/progression/models/unlocks.py
  src/world/societies/constants.py
  src/world/societies/models.py
  src/world/stories/services/stakes.py
Due: getattr-literal

The settlement seam, and the band gate that reads its stamp (#3463)
  src/world/progression/models/unlocks.py
  src/world/societies/legend_settlement.py
  src/world/societies/services.py
  src/world/stories/services/legend_settlement.py
Due: getattr-literal

Renown's legend axis becomes a wager, not a payout (#3463, ADR-0245)
  src/world/societies/renown.py
Due: getattr-literal

Audere Majora is structurally legendary, and always mints (#3463)
  src/world/magic/audere_majora.py
  src/world/societies/renown.py
Due: getattr-literal

Legend awards move onto RiskCalibration, where staff can actually tune them (#3463)
  src/world/migrations/0193_riskcalibration_legend_award.py
  src/world/migrations/max_migration.txt
  src/world/societies/constants.py
  src/world/societies/legend_settlement.py
  src/world/stories/models.py
  src/world/stories/services/legend_settlement.py
Due: getattr-literal

Every settlement number becomes a lookup table; constants demoted to defaults (#3463)
  src/world/migrations/0194_legendsettlementconfig_renownmagnitudeaward.py
  src/world/migrations/max_migration.txt
  src/world/societies/constants.py
  src/world/societies/legend_settlement.py
  src/world/societies/models.py
  src/world/societies/renown.py
Due: getattr-literal

Store base values untuned; apply the station multiplier on read (#3463)
  src/world/progression/models/unlocks.py
  src/world/societies/legend_settlement.py
  src/world/societies/models.py
  src/world/societies/renown.py
  src/world/societies/services.py
Due: getattr-literal

Per-act and safe-source Legend mints go to zero (#3463)
  src/actions/definitions/doors.py
  src/flows/service_functions/inventory.py
  src/world/ceremonies/services.py
  src/world/events/services.py
  src/world/items/crafting/reward.py
  src/world/magic/services/feeding.py
Due: getattr-literal

Update renown tests for ADR-0245: a declaration is not a payout (#3463)
  src/world/societies/tests/test_renown_phase_b.py
  src/world/societies/tests/test_renown_phase_c.py
Due: getattr-literal

Surface the unauthored Legend tables on the Game Setup inventory (#3463)
  src/world/seeds/clusters.py
Due: getattr-literal

The peril floor becomes a PER-PERSON filter (#3463)
  src/world/societies/legend_settlement.py
  src/world/stories/services/legend_settlement.py
Due: getattr-literal

ADR-0249: declared risk is a wager, not a payout (#3463)
  docs/adr/0249-declared-risk-is-a-wager-not-a-payout.md
  docs/adr/README.md
  src/world/societies/legend_settlement.py
  src/world/societies/models.py
  src/world/societies/renown.py
  src/world/societies/tests/test_renown_phase_b.py
  src/world/stories/services/stakes.py
Due: getattr-literal

Wire the contribution ledger, and share the running-beat resolution (#3463)
  src/world/checks/services.py
  src/world/checks/tests/test_legend_award_handler.py
  src/world/scenes/beat_selectors.py
  src/world/scenes/serializers.py
Due: getattr-literal

Tests for the settlement seam, written as the rulings (#3463)
  src/world/societies/tests/test_legend_settlement.py
Due: getattr-literal

Docs in tandem: systems, glossary, roadmap, MODEL_MAP (#3463, ADR-0249)
  docs/roadmap/character-progression.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/progression.md
  docs/systems/societies.md
  src/world/progression/CLAUDE.md
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/CLAUDE.md
Due: none

Test updates: two more assertions of the ungated path (#3463)
  src/world/progression/tests/test_advancement.py
  src/world/stories/tests/test_services_beats.py
Due: getattr-literal

Fix four spread-awareness tests CI caught; correct a bad local triage (#3463)
  src/world/societies/tests/test_renown_spread_awareness.py
Due: getattr-literal

Fix the postgres-tagged legend gate tests; untag one (#3463)
  src/world/progression/tests/test_advancement.py
  src/world/progression/tests/test_models.py
Due: getattr-literal

Collapse two crafting-fame tests into one (#3463)
  src/world/items/tests/test_reward_pricing.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
