Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(worship): CG worship declarations, secret mint, sheet identity exposure (#2355)
  src/world/character_creation/migrations/0008_characterdraft_public_worship_and_more.py
  src/world/character_creation/migrations/max_migration.txt
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_worship_declaration.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/worship/secrets.py
  src/world/worship/serializers.py
Due: getattr-literal

feat(ceremonies): ceremony models, config singleton, one-open-per-location (#2289)
  src/world/ceremonies/admin.py
  src/world/ceremonies/constants.py
  src/world/ceremonies/factories.py
  src/world/ceremonies/migrations/0001_initial.py
  src/world/ceremonies/migrations/max_migration.txt
  src/world/ceremonies/models.py
  src/world/ceremonies/tests/test_models.py
Due: getattr-literal

feat(ceremonies): lifecycle services, twisted-rite leak, will seam (#2289)
  src/world/ceremonies/leak.py
  src/world/ceremonies/services.py
  src/world/ceremonies/tests/test_services.py
Due: getattr-literal

feat(ceremonies): bounded auto-abandon sweep (#2289)
  src/world/ceremonies/tests/test_auto_abandon.py
  src/world/game_clock/tasks.py
Due: getattr-literal

feat(ceremonies): five ceremony actions + funeral ghost-window container (#2289)
  src/actions/definitions/ceremonies.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_ceremony_actions.py
Due: getattr-literal

feat(vitals): friends-list corpse-handler exemption on take (#2289)
  src/flows/service_functions/inventory.py
  src/world/items/tests/test_corpse_handler.py
Due: getattr-literal

feat(ceremonies): telnet ceremony command family (#2289)
  src/commands/ceremonies.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_ceremony_command.py
Due: getattr-literal

feat(ceremonies): read API for ceremonies + worshipped-being catalog (#2289 #2355)
  src/web/api/urls.py
  src/world/ceremonies/serializers.py
  src/world/ceremonies/tests/test_api.py
  src/world/ceremonies/urls.py
  src/world/ceremonies/views.py
  src/world/worship/urls.py
  src/world/worship/views.py
Due: getattr-literal

feat(ceremonies): room ceremony card in the game view (#2289)
  frontend/src/ceremonies/CeremonyRoomCard.tsx
  frontend/src/game/GamePage.tsx
  src/world/ceremonies/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(worship): CG worship pickers + api types regen (#2355)
  frontend/src/character-creation/__tests__/components/CantripSelector.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/IdentityStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

docs: worship+ceremonies system docs, ADR-0132, glossaries, model map, roadmap (#2355 #2289)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0131-death-offramp-is-automated-and-bounded.md
  docs/adr/0132-gods-are-worshipped-beings-not-charactersheets.md
  docs/roadmap/events.md
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/world/ceremonies/AGENT_GLOSSARY.md
  src/world/worship/AGENT_GLOSSARY.md
Due: none

fix(ceremonies): add location__objectdb filter to generated api types (#2289)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix(worship): mock getWorshippedBeings in IdentityStage tests (#2355)
  frontend/src/character-creation/__tests__/components/IdentityStage.test.tsx
Due: eslint, typescript, prettier

feat(projects): add CITY_DEFENSE to ProjectKind enum (#1892)
  src/world/projects/constants.py
  src/world/projects/migrations/0019_add_city_defense_kind.py
  src/world/projects/migrations/max_migration.txt
Due: getattr-literal

feat(battles): add CityDefenseDetails, tier threshold, integrity bonus models (#1892)
  src/world/battles/admin.py
  src/world/battles/migrations/0029_city_defense_models.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
Due: getattr-literal

feat(battles): register CITY_DEFENSE kind handler + tiered resolver (#1892)
  src/world/battles/apps.py
Due: getattr-literal

feat(battles): add city_defense_services — start, resolve, complete, bonus helper (#1892)
  src/world/battles/city_defense_services.py
Due: getattr-literal

feat(battles): apply city-defense integrity bonus in create_fortification (#1892)
  src/world/battles/services.py
Due: getattr-literal

docs(battles): add City Defense Preparation section (#1892)
  docs/systems/battles.md
Due: none

test(battles): add city defense journey + unit tests (#1892)
  src/world/battles/city_defense_services.py
Due: getattr-literal

test(battles): add city defense journey + unit tests (#1892)
  src/world/battles/tests/test_city_defense.py
Due: getattr-literal

CITY_DEFENSE project kind: staff-bespoke battle preparation graded at deadline (slice of #673) (#2364)
  docs/systems/battles.md
  src/world/battles/admin.py
  src/world/battles/apps.py
  src/world/battles/city_defense_services.py
  src/world/battles/migrations/0029_city_defense_models.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/services.py
  src/world/battles/tests/test_city_defense.py
  src/world/projects/constants.py
  src/world/projects/migrations/0019_add_city_defense_kind.py
  src/world/projects/migrations/max_migration.txt
Due: getattr-literal

feat: rotating clue pool for asset intel tasks (#2293)
  docs/systems/INDEX.md
  src/world/assets/admin.py
  src/world/assets/effects.py
  src/world/assets/factories.py
  src/world/assets/migrations/0008_clue_pool.py
  src/world/assets/migrations/max_migration.txt
  src/world/assets/models.py
  src/world/assets/tests/test_asset_tasking.py
  src/world/npc_services/services.py
Due: getattr-literal

Recurring intel feed: rotating clue pool for asset intel tasks (#2365)
  docs/systems/INDEX.md
  src/world/assets/admin.py
  src/world/assets/effects.py
  src/world/assets/factories.py
  src/world/assets/migrations/0008_clue_pool.py
  src/world/assets/migrations/max_migration.txt
  src/world/assets/models.py
  src/world/assets/tests/test_asset_tasking.py
  src/world/npc_services/services.py
Due: getattr-literal

feat(#1619): alt-self resonance shift + multi-resonance cast-time variant picker
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/world/forms/admin.py
  src/world/forms/migrations/0010_alternateself_resonance.py
  src/world/forms/migrations/max_migration.txt
  src/world/forms/models.py
  src/world/forms/serializers.py
  src/world/magic/migrations/0102_gift_thread_multi_resonance.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/threads.py
  src/world/magic/services/techniques.py
  src/world/magic/services/threads.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_alt_self_resonance_shift.py
  src/world/magic/tests/test_multi_resonance_variants.py
  src/world/scenes/cast_services.py
Due: getattr-literal

chore: regenerate API types for AlternateSelf.resonance_name field
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(room_features): add BRIG service strategy + constants (#1862)
  src/world/room_features/constants.py
  src/world/room_features/migrations/0016_alter_roomfeaturekind_service_strategy.py
  src/world/room_features/migrations/max_migration.txt
Due: getattr-literal

fix: update tests for multi-resonance constraint + cache alt-self resonance query
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_thread_target_gift.py
  src/world/magic/tests/test_weave_gift_thread.py
Due: getattr-literal

feat(captivity): Brig room feature — holding_room capture path, BrigDetails, routing (#1862)
  src/typeclasses/mixins.py
  src/world/captivity/migrations/0007_captivity_holding_room_captivity_return_location_and_more.py
  src/world/captivity/migrations/max_migration.txt
  src/world/captivity/models.py
  src/world/captivity/services.py
  src/world/captivity/tests/test_services.py
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_effect_handlers.py
  src/world/room_features/admin.py
  src/world/room_features/apps.py
  src/world/room_features/brig_services.py
  src/world/room_features/migrations/0017_brigdetails.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/seeds.py
Due: getattr-literal

fix: remove unused variable in Brig routing test (#1862)
  src/world/mechanics/tests/test_effect_handlers.py
Due: getattr-literal

fix: move alt-self resonance override from gift_resonances_for to resolver only
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_alt_self_resonance_shift.py
  src/world/magic/tests/test_multi_resonance_variants.py
Due: getattr-literal

Multi-resonance / cast-time variant picker for a gift (design) (#2366)
  frontend/src/generated/api.d.ts
  src/actions/definitions/cast.py
  src/commands/combat.py
  src/schema.json
  src/world/forms/admin.py
  src/world/forms/migrations/0010_alternateself_resonance.py
  src/world/forms/migrations/max_migration.txt
  src/world/forms/models.py
  src/world/forms/serializers.py
  src/world/magic/migrations/0102_gift_thread_multi_resonance.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/threads.py
  src/world/magic/services/techniques.py
  src/world/magic/services/threads.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_alt_self_resonance_shift.py
  src/world/magic/tests/test_multi_resonance_variants.py
  src/world/magic/tests/test_thread_target_gift.py
  src/world/magic/tests/test_weave_gift_thread.py
  src/world/scenes/cast_services.py
Due: getattr-literal, eslint, typescript, prettier

Brig (prisoner/capture system) — needs-design (#2367)
  src/typeclasses/mixins.py
  src/world/captivity/migrations/0007_captivity_holding_room_captivity_return_location_and_more.py
  src/world/captivity/migrations/max_migration.txt
  src/world/captivity/models.py
  src/world/captivity/services.py
  src/world/captivity/tests/test_services.py
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_effect_handlers.py
  src/world/room_features/admin.py
  src/world/room_features/apps.py
  src/world/room_features/brig_services.py
  src/world/room_features/constants.py
  src/world/room_features/migrations/0016_alter_roomfeaturekind_service_strategy.py
  src/world/room_features/migrations/0017_brigdetails.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/seeds.py
Due: getattr-literal

feat(estates): app skeleton — wills, bequests, executors, settlements, claims, config (#1985)
  .github/workflows/ci.yml
  src/server/conf/settings.py
  src/world/estates/__init__.py
  src/world/estates/admin.py
  src/world/estates/apps.py
  src/world/estates/constants.py
  src/world/estates/exceptions.py
  src/world/estates/factories.py
  src/world/estates/migrations/0001_initial.py
  src/world/estates/migrations/__init__.py
  src/world/estates/migrations/max_migration.txt
  src/world/estates/models.py
  src/world/estates/tests/__init__.py
  src/world/estates/tests/test_models.py
Due: getattr-literal

feat(consent,flows): receiving-stolen-goods consent category gates hot-item gives (#1985)
  src/flows/service_functions/inventory.py
  src/world/consent/services.py
  src/world/items/exceptions.py
  src/world/items/tests/test_hot_goods_consent.py
  src/world/seeds/consent.py
Due: getattr-literal

feat(items): INHERITED ownership event + hot-provenance ledger reads (#1985)
  src/world/items/constants.py
  src/world/items/migrations/0035_alter_ownershipevent_event_type.py
  src/world/items/migrations/max_migration.txt
  src/world/items/services/provenance.py
  src/world/items/tests/test_provenance.py
Due: getattr-literal

feat(estates,vitals): settlement window opens at death; marriage-pact seam wired (#1985)
  src/world/estates/services.py
  src/world/estates/tests/test_settlement_open.py
  src/world/vitals/services.py
Due: getattr-literal

feat(estates): execute_settlement spine — debts-first, kind-major bequests, sweep, claims (#1985)
  src/world/estates/models.py
  src/world/estates/services.py
  src/world/estates/tests/test_settlement.py
Due: getattr-literal

feat(estates): intestacy cascade — family-org head, public-record kin, escheat (#1985)
  src/world/estates/services.py
  src/world/estates/tests/test_intestate.py
  src/world/vitals/services.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
