Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Retire the placeholder covenant roles: the 13-vow roster is lore content now (#2671)
  docs/roadmap/covenants.md
  src/integration_tests/game_content/items.py
  src/integration_tests/game_content/tests/test_seed_items_dev.py
  src/integration_tests/test_covenant_rite_flow.py
  src/world/covenants/factories.py
  src/world/covenants/tests/test_rite_seed.py
  src/world/seeds/clusters.py
  src/world/seeds/game_content/covenant_roles.py
  src/world/seeds/game_content/items.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

Regen api types for the MENACE reaction metric (drift gate)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Menace: allure's fear-facing sibling, named and wired (#2632) (#2672)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/mechanics/AGENT_GLOSSARY.md
  src/world/npc_services/constants.py
  src/world/npc_services/migrations/0027_alter_npcreactionline_metric.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/reactions.py
  src/world/seeds/social_checks.py
  src/world/seeds/tests/test_menace_target.py
Due: getattr-literal, eslint, typescript, prettier

fix: regenerate API types + add is_featured/featured_order to test mocks (#2430)
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix: add is_featured/featured_order to remaining test mocks (#2430)
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/codex/__tests__/CodexModal.test.tsx
Due: eslint, typescript, prettier

Lore onboarding: introduce the Gifted and the Durance across front page, CG, and roster (#2673)
  frontend/src/character-creation/__tests__/components/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/codex/__tests__/CodexModal.test.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/api.ts
  frontend/src/codex/queries.ts
  frontend/src/codex/types.ts
  frontend/src/evennia_replacements/CLAUDE.md
  frontend/src/evennia_replacements/FeaturedLore.tsx
  frontend/src/evennia_replacements/HomePage.tsx
  frontend/src/evennia_replacements/LoreTabs.tsx
  frontend/src/evennia_replacements/__tests__/FeaturedLore.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/RosterListPage.test.tsx
  frontend/src/roster/pages/RosterListPage.tsx
  src/schema.json
  src/world/character_creation/tests/test_lore_seed.py
  src/world/codex/AGENT_GLOSSARY.md
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/filters.py
  src/world/codex/migrations/0006_codexentry_featured_order_codexentry_is_featured.py
  src/world/codex/migrations/max_migration.txt
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_models.py
  src/world/codex/tests/test_views.py
  src/world/seeds/character_creation.py
Due: getattr-literal, eslint, typescript, prettier

feat(combat): add CombatMark model + declare_mark service (#2664)
  src/world/combat/migrations/0058_combatmark.py
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_mark.py
Due: getattr-literal

feat(covenants): add hold-family situations + creator-map entry (#2664)
  src/world/covenants/migrations/0049_add_hold_family_situations.py
  src/world/covenants/perks/constants.py
Due: getattr-literal

feat(magic): add TechniqueFunction.HOLD enum value (#2664)
  src/world/covenants/migrations/0048_alter_covenantroletechniquespecialty_function.py
  src/world/magic/constants.py
  src/world/magic/migrations/0121_alter_techniquefunctiontag_function.py
Due: getattr-literal

docs(covenants): fix stale docstring on CovenantRoleTechniqueSpecialty (#2664)
  src/world/covenants/models.py
Due: getattr-literal

feat(covenants): add hold-family + mark situation evaluators (#2664)
  src/world/covenants/perks/evaluators.py
  src/world/covenants/tests/test_hold_family_evaluators.py
Due: getattr-literal

docs: update for hold-family situations, CombatMark, and HOLD enum (#2664)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/covenants.md
  docs/systems/magic.md
Due: none

chore: update migration tracking files (#2664)
  src/world/combat/migrations/max_migration.txt
  src/world/covenants/migrations/max_migration.txt
  src/world/magic/migrations/max_migration.txt
Due: none

fix: regenerate API types for HOLD enum + new situations (#2664)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat: add PendingSelection, WeaknessPoolEntry, reveals_weakness flag, creature_template FK, factories, admin, content export (#2665)
  src/core_management/content_export.py
  src/world/combat/admin.py
  src/world/combat/constants.py
  src/world/combat/factories.py
  src/world/combat/migrations/0058_combatopponent_creature_template_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0048_covenantrole_reveals_weakness_weaknesspoolentry.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
Due: getattr-literal

feat: weakness-reading rider, combat wiring, admin, tests (#2665)
  src/world/combat/admin.py
  src/world/combat/services.py
  src/world/covenants/admin.py
  src/world/covenants/tests/test_weakness.py
  src/world/covenants/weakness.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

feat(commands): add generic select command for pending selections (#2665)
  src/commands/default_cmdsets.py
  src/commands/select.py
  src/commands/tests/test_select_command.py
Due: getattr-literal

docs: add Weakness Reading and Pending Selection glossary entries (#2665)
  src/world/covenants/AGENT_GLOSSARY.md
Due: none

Annotate genuinely-generic ObjectDB FKs with keeper rationale (#2608)
  src/behaviors/models.py
  src/evennia_extensions/models.py
  src/flows/models/triggers.py
  src/world/areas/positioning/models.py
  src/world/captivity/models.py
  src/world/character_sheets/models.py
  src/world/companions/models.py
  src/world/items/models.py
  src/world/player_submissions/models.py
  src/world/societies/models.py
Due: getattr-literal

Retarget skills/traits/classes character FKs from ObjectDB to CharacterSheet (#2608)
  src/actions/definitions/progression.py
  src/commands/progression.py
  src/evennia_extensions/data_handlers/character_data.py
  src/world/character_creation/services.py
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/checks/services.py
  src/world/classes/factories.py
  src/world/classes/migrations/0006_alter_characterclasslevel_character.py
  src/world/classes/migrations/max_migration.txt
  src/world/classes/models.py
  src/world/classes/services.py
  src/world/classes/tests/test_services.py
  src/world/magic/services/anima.py
  src/world/mechanics/services.py
  src/world/missions/services/report.py
  src/world/predicates/predicates.py
  src/world/progression/models/unlocks.py
  src/world/progression/services/awards.py
  src/world/progression/services/skill_development.py
  src/world/progression/services/spends.py
  src/world/relationships/helpers.py
  src/world/roster/filters.py
  src/world/skills/factories.py
  src/world/skills/migrations/0003_alter_characterskillvalue_character_and_more.py
  src/world/skills/migrations/max_migration.txt
  src/world/skills/models.py
  src/world/skills/services.py
  src/world/skills/tests/test_breakthrough.py
  src/world/skills/tests/test_models.py
  src/world/skills/tests/test_training.py
  src/world/skills/tests/test_training_views.py
  src/world/skills/views.py
  src/world/traits/handlers.py
  src/world/traits/migrations/0002_alter_charactertraitvalue_character.py
  src/world/traits/migrations/max_migration.txt
  src/world/traits/models.py
  src/world/traits/tests.py
  src/world/vitals/services.py
Due: getattr-literal

Cross-app fallout for the sheet-FK retargets (#2608)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_models.py
  src/world/character_sheets/tests/test_privacy_tiers.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
  src/world/character_sheets/tests/test_sheet_command.py
  src/world/character_sheets/tests/test_viewset.py
Due: getattr-literal

13-vow roster code support: missing Situation vocabulary, HOLD-family TechniqueFunction, creator-map coverage, and the Fulmination mark (#2675)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/covenants.md
  docs/systems/magic.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/migrations/0058_combatmark.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_mark.py
  src/world/covenants/migrations/0048_alter_covenantroletechniquespecialty_function.py
  src/world/covenants/migrations/0049_add_hold_family_situations.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/perks/constants.py
  src/world/covenants/perks/evaluators.py
  src/world/covenants/tests/test_hold_family_evaluators.py
  src/world/magic/constants.py
  src/world/magic/migrations/0121_alter_techniquefunctiontag_function.py
  src/world/magic/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

fix: renumber covenants migration to 0050 to resolve leaf-node conflict with main
  src/world/covenants/migrations/0050_covenantrole_reveals_weakness_weaknesspoolentry.py
  src/world/covenants/migrations/max_migration.txt
Due: getattr-literal

CI round 2: sheet-back remaining bare fixtures + last instance-passing sites (#2608)
  src/actions/tests/test_goals_actions.py
  src/actions/tests/test_progression.py
  src/commands/tests/test_journals_goals_journey_e2e.py
  src/world/character_sheets/tests/test_sheet_command.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/checks/tests/test_security.py
  src/world/checks/tests/test_services.py
  src/world/checks/tests/test_specialization_checks.py
  src/world/combat/tests/test_covenant_combat_blend.py
  src/world/combat/tests/test_guardian_reactions.py
  src/world/goals/tests/test_models.py
  src/world/goals/tests/test_serializers.py
  src/world/mechanics/tests/test_resonant_pool_unblended.py
Due: getattr-literal

CI round 3: last query/assign sites in gossip, goals e2e, seeds, tutorial chain (#2608)
  src/actions/tests/test_goals_actions.py
  src/actions/tests/test_smear_action.py
  src/commands/tests/test_journals_goals_journey_e2e.py
  src/integration_tests/pipeline/test_gossip_telnet_e2e.py
  src/integration_tests/pipeline/test_tutorial_chain_e2e.py
  src/world/secrets/tests/test_gossip.py
  src/world/seeds/tests/test_playable_slice.py
  src/world/seeds/tests/test_social_checks.py
Due: getattr-literal

CI round 4: last three trait-value fixture sites (scenes, mechanics) (#2608)
  src/world/mechanics/tests/test_capability_sources.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

CI round 5: gossip e2e seeker spec write (#2608)
  src/integration_tests/pipeline/test_gossip_telnet_e2e.py
Due: getattr-literal

Sage boss weak-point pool: authored candidate weaknesses, pick-and-actualize on a successful reading (#2676)
  src/commands/default_cmdsets.py
  src/commands/select.py
  src/commands/tests/test_select_command.py
  src/core_management/content_export.py
  src/world/combat/admin.py
  src/world/combat/constants.py
  src/world/combat/factories.py
  src/world/combat/migrations/0059_combatopponent_creature_template_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0050_covenantrole_reveals_weakness_weaknesspoolentry.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_weakness.py
  src/world/covenants/weakness.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

feat(conditions): add skip_engagement_gate to perform_treatment (#2668)
  src/world/conditions/services.py
  src/world/conditions/tests/test_treatment_aftermath.py
Due: getattr-literal

feat(magic): add TechniqueTreatment payload row model (#2668)
  src/world/magic/migrations/0121_techniquetreatment.py
  src/world/magic/models/__init__.py
  src/world/magic/models/techniques.py
Due: getattr-literal

feat: wire apply_technique_treatments into both cast pipelines (#2668)
  src/world/combat/services.py
  src/world/scenes/cast_services.py
Due: getattr-literal

feat(magic): add apply_technique_treatments dispatch service (#2668)
  src/world/magic/services/condition_application.py
  src/world/magic/tests/test_technique_treatment.py
Due: getattr-literal

feat(magic): add draft workbench + serializer + admin for treatments (#2668)
  src/world/magic/admin.py
  src/world/magic/migrations/0122_techniquedrafttreatment.py
  src/world/magic/models/__init__.py
  src/world/magic/models/technique_draft.py
  src/world/magic/serializers.py
  src/world/magic/services/technique_draft.py
Due: getattr-literal

feat(magic): add TreatmentSpec + budget builder integration (#2668)
  src/world/magic/services/technique_builder.py
  src/world/magic/types/technique_builder.py
Due: getattr-literal

docs: update healing note + ADR-0157 + magic.md treatment section (#2668)
  docs/adr/0157-magical-treatment-bypasses-engagement-gate.md
  docs/systems/magic.md
  src/world/magic/CLAUDE.md
Due: none

Regen api types after main merge (blend field; known drift hunks hand-reverted)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Dye composition + learnable exotic styles (#2632) (#2662)
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/items.py
  src/schema.json
  src/world/forms/migrations/0012_formtrait_composite_option_and_more.py
  src/world/forms/migrations/max_migration.txt
  src/world/forms/models.py
  src/world/forms/services/__init__.py
  src/world/items/exceptions.py
  src/world/items/serializers.py
  src/world/items/services/usage.py
  src/world/items/tests/test_blend_and_known_styles.py
  src/world/items/views.py
  src/world/npc_services/effects.py
  src/world/npc_services/tests/test_styling_seeds.py
  src/world/seeds/character_creation.py
  src/world/seeds/styling.py
Due: getattr-literal, eslint, typescript, prettier
