Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(combat): only a steady group holds; verbs agree with the group's active members (#4147)
  docs/systems/INDEX.md
  src/world/combat/spectacle.py
  src/world/combat/tests/test_spectacle.py
Due: getattr-literal

Post spectacle credit lines on commit, not mid-round (#4147)
  src/world/combat/spectacle.py
  src/world/combat/tests/test_spectacle_wiring.py
Due: getattr-literal

Drop SpectacleRecord.encounter, derivable from the opponent (#4147)
  docs/systems/MODEL_MAP.md
  src/world/combat/admin.py
  src/world/combat/factories.py
  src/world/combat/models.py
  src/world/combat/spectacle.py
  src/world/combat/tests/test_spectacle_models.py
  src/world/combat/tests/test_spectacle_wiring.py
  src/world/migrations/0205_spectacleconfig_and_more.py
Due: getattr-literal

docs: every spectacle line posts after commit (#4147)
  docs/adr/adr-4147-earned-displays-shake-witnesses.md
  docs/systems/INDEX.md
  src/world/combat/spectacle.py
Due: getattr-literal

Escape SpectacleReactionLine.text help so admin shows the placeholders
  src/world/combat/models.py
  src/world/combat/tests/test_spectacle_models.py
  src/world/migrations/0205_spectacleconfig_and_more.py
Due: getattr-literal

Show the morale terms ease on the standoff Terms section
  frontend/src/combat/standoff/StandoffCard.tsx
  frontend/src/combat/standoff/__tests__/StandoffCard.test.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/standoffs/serializers.py
  src/world/standoffs/services/verbs.py
  src/world/standoffs/services/view.py
  src/world/standoffs/tests/test_display_press.py
Due: getattr-literal, eslint, typescript, prettier

review evidence: demo fidelity for #4147 (removed before merge)
  docs/reviews/4147/app-admin-approach.png
  docs/reviews/4147/app-admin-audere.png
  docs/reviews/4147/app-admin-config.png
  docs/reviews/4147/app-admin-line.png
  docs/reviews/4147/app-admin-lines.png
  docs/reviews/4147/app-admin-majora.png
  docs/reviews/4147/app-admin-standoffcfg.png
  docs/reviews/4147/app-feed-light.png
  docs/reviews/4147/app-gm-light.png
  docs/reviews/4147/app-player-light.png
  docs/reviews/4147/app-standoff-dark.png
  docs/reviews/4147/app-standoff-display-open-light.png
  docs/reviews/4147/app-standoff-display-select-light.png
  docs/reviews/4147/app-standoff-light.png
  docs/reviews/4147/app-standoff-terms-light.png
  docs/reviews/4147/demo-screen1.png
  docs/reviews/4147/demo-screen2.png
  docs/reviews/4147/demo-screen3.png
  docs/reviews/4147/report.md
Due: none

Authoring Workbench: the change form's deep link opens the page, not the bare fragment (#4155)
  src/web/admin/CLAUDE.md
  src/web/admin/authoring/links.py
  src/web/admin/authoring/views.py
  src/web/admin/templatetags/authoring_tags.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/admin/tests/test_change_form_workbench_link.py
  src/web/templates/admin/authoring/dashboard.html
  tools/agents/README.md
  tools/agents/fragment-as-page-reviewer.md
Due: getattr-literal

remove review evidence from the branch (lives in the PR comment)
  docs/reviews/4147/app-admin-approach.png
  docs/reviews/4147/app-admin-audere.png
  docs/reviews/4147/app-admin-config.png
  docs/reviews/4147/app-admin-line.png
  docs/reviews/4147/app-admin-lines.png
  docs/reviews/4147/app-admin-majora.png
  docs/reviews/4147/app-admin-standoffcfg.png
  docs/reviews/4147/app-feed-light.png
  docs/reviews/4147/app-gm-light.png
  docs/reviews/4147/app-player-light.png
  docs/reviews/4147/app-standoff-dark.png
  docs/reviews/4147/app-standoff-display-open-light.png
  docs/reviews/4147/app-standoff-display-select-light.png
  docs/reviews/4147/app-standoff-light.png
  docs/reviews/4147/app-standoff-terms-light.png
  docs/reviews/4147/demo-screen1.png
  docs/reviews/4147/demo-screen2.png
  docs/reviews/4147/demo-screen3.png
  docs/reviews/4147/report.md
Due: none

Never floor a roll that has no technique behind it (#4147)
  src/world/magic/services/ultimates.py
  src/world/magic/tests/test_ultimate_never_fails.py
Due: getattr-literal

Give sustained-cast test doubles concrete spectacle inputs (#4147)
  src/world/combat/tests/test_sustained_declaration.py
  src/world/combat/tests/test_sustained_maturation.py
Due: getattr-literal

docs: publish issue #4032 review image application-authored-ignite-menu.png
  .github/issue-evidence/4032/20261005T182624Z-application-authored-ignite-menu.png
Due: none

docs: publish issue #4032 review image application-authored-risk.png
  .github/issue-evidence/4032/20261005T182624Z-application-authored-risk.png
Due: none

docs: publish issue #4032 review image application-cosmetic-use-chooser.png
  .github/issue-evidence/4032/20261005T182624Z-application-cosmetic-use-chooser.png
Due: none

docs: publish issue #4032 review image application-dark-theme.png
  .github/issue-evidence/4032/20261005T182624Z-application-dark-theme.png
Due: none

docs: publish issue #4032 review image application-exit-blocked-go.png
  .github/issue-evidence/4032/20261005T182624Z-application-exit-blocked-go.png
Due: none

docs: publish issue #4032 review image application-give-chooser.png
  .github/issue-evidence/4032/20261005T182624Z-application-give-chooser.png
Due: none

docs: publish issue #4032 review image application-inventory-carried-item-menu.png
  .github/issue-evidence/4032/20261005T182624Z-application-inventory-carried-item-menu.png
Due: none

docs: publish issue #4032 review image application-inventory-worn-item-menu.png
  .github/issue-evidence/4032/20261005T182624Z-application-inventory-worn-item-menu.png
Due: none

docs: publish issue #4032 review image application-left-click-item-detail.png
  .github/issue-evidence/4032/20261005T182624Z-application-left-click-item-detail.png
Due: none

docs: publish issue #4032 review image application-look-dialog-worn-row.png
  .github/issue-evidence/4032/20261005T182624Z-application-look-dialog-worn-row.png
Due: none

docs: publish issue #4032 review image application-loose-item-get.png
  .github/issue-evidence/4032/20261005T182624Z-application-loose-item-get.png
Due: none

docs: publish issue #4032 review image application-no-candidates.png
  .github/issue-evidence/4032/20261005T182624Z-application-no-candidates.png
Due: none

docs: publish issue #4032 review image application-open-menu-cache-snapshot.png
  .github/issue-evidence/4032/20261005T182624Z-application-open-menu-cache-snapshot.png
Due: none

docs: publish issue #4032 review image application-place-join.png
  .github/issue-evidence/4032/20261005T182624Z-application-place-join.png
Due: none

docs: publish issue #4032 review image application-place-leave.png
  .github/issue-evidence/4032/20261005T182624Z-application-place-leave.png
Due: none

docs: publish issue #4032 review image application-put-in-chooser.png
  .github/issue-evidence/4032/20261005T182624Z-application-put-in-chooser.png
Due: none

docs: publish issue #4032 review image application-room-object.png
  .github/issue-evidence/4032/20261005T182624Z-application-room-object.png
Due: none

docs: publish issue #4032 review image application-touch-long-press.png
  .github/issue-evidence/4032/20261005T182624Z-application-touch-long-press.png
Due: none

docs: publish issue #4032 review image application-usable-item-menu.png
  .github/issue-evidence/4032/20261005T182624Z-application-usable-item-menu.png
Due: none

docs: publish issue #4032 review image application-use-target-chooser.png
  .github/issue-evidence/4032/20261005T182624Z-application-use-target-chooser.png
Due: none

docs: publish issue #4032 review image reference-example-01-carried-item.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-01-carried-item.png
Due: none

docs: publish issue #4032 review image reference-example-02-worn-item.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-02-worn-item.png
Due: none

docs: publish issue #4032 review image reference-example-03-no-candidates.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-03-no-candidates.png
Due: none

docs: publish issue #4032 review image reference-example-04-not-at-place.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-04-not-at-place.png
Due: none

docs: publish issue #4032 review image reference-example-05-already-at-place.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-05-already-at-place.png
Due: none

docs: publish issue #4032 review image reference-example-06-authored-torch-example.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-06-authored-torch-example.png
Due: none

docs: publish issue #4032 review image reference-example-07-visible-persona.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-07-visible-persona.png
Due: none

docs: publish issue #4032 review image reference-example-08-exit.png
  .github/issue-evidence/4032/20261005T182624Z-reference-example-08-exit.png
Due: none
