Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(magic): compute capability_grant_value at pull-commit time (#2730)
  src/world/magic/services/resonance.py
  src/world/magic/types/pull.py
Due: getattr-literal

feat(combat): add active_pull_capability_grants accessor (#2730)
  src/world/combat/handlers.py
  src/world/combat/tests/test_combat_pull_handler.py
Due: getattr-literal

feat(conditions): fold paid-pull capability grants into oracle (#2730)
  src/world/conditions/services.py
  src/world/conditions/tests/test_effective_capability_value.py
Due: getattr-literal

docs: add ADR-0173 and update magic docs for paid-pull capability grants (#2730)
  docs/adr/0173-paid-pull-capability-grant-snapshots-at-commit-with-context-free-power.md
  docs/systems/magic.md
Due: none

test(combat): verify capability_grant_value constraints and frozen snapshot (#2730)
  src/world/combat/tests/test_combat_pull.py
Due: getattr-literal

chore: update max_migration.txt for combat app (#2730)
  src/world/combat/migrations/max_migration.txt
Due: none

Make achievements importable/exportable as arx2-lore fixtures (CONTENT_MODELS plumbing + seeder refactor) (#2838)
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/core_management/content_export.py
  src/world/achievements/migrations/0006_achievementrequirement_unique_achievement_requirement_and_more.py
  src/world/achievements/migrations/max_migration.txt
  src/world/achievements/models.py
  src/world/achievements/tests/test_natural_keys.py
  src/world/npc_services/seeds.py
  src/world/npc_services/tests/test_great_archive_seed.py
  src/world/seeds/game_content/combos.py
  src/world/seeds/game_content/magic.py
  src/world/seeds/worship_content.py
Due: getattr-literal

A paid thread pull's CAPABILITY_GRANT confers nothing (no consumer reads it) (#2841)
  docs/adr/0173-paid-pull-capability-grant-snapshots-at-commit-with-context-free-power.md
  docs/systems/magic.md
  src/world/combat/admin.py
  src/world/combat/factories.py
  src/world/combat/handlers.py
  src/world/combat/migrations/0064_combatpullresolvedeffect_capability_grant_value.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_combat_pull.py
  src/world/combat/tests/test_combat_pull_handler.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_effective_capability_value.py
  src/world/magic/services/resonance.py
  src/world/magic/types/pull.py
Due: getattr-literal

Spy Job Kit: ten route payouts + incriminating residue + cross-system espionage (#2833) (#2834)
  docs/systems/INDEX.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/seeds/clusters.py
  src/world/seeds/spy_tasks.py
  src/world/seeds/tests/test_clusters.py
  src/world/tasking/exceptions.py
  src/world/tasking/migrations/0005_taskoutcomeroute_building_condition_delta_and_more.py
  src/world/tasking/migrations/0006_taskoutcomeroute_domain_report_and_more.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/services.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
Due: getattr-literal, eslint, typescript, prettier

style: ruff-format views.py (merge commit bypassed hooks)
  src/world/tasking/views.py
Due: getattr-literal

Threat & opportunity loop: activated crisis engine, covert window, spy counterplay (#2837) (#2839)
  docs/adr/0177-generalized-crisis-engine-covert-window.md
  docs/systems/INDEX.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/tasking.py
  src/schema.json
  src/world/currency/services.py
  src/world/game_clock/tasks.py
  src/world/seeds/clusters.py
  src/world/seeds/crisis_types.py
  src/world/seeds/spy_tasks.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/crisis_services.py
  src/world/societies/houses/models.py
  src/world/societies/migrations/0035_crisisintel_domaincrisis_org_and_more.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/serializers.py
  src/world/societies/tests/test_crisis_lifecycle.py
  src/world/societies/views.py
  src/world/tasking/constants.py
  src/world/tasking/migrations/0007_orgtask_target_crisis_alter_orgtask_target_kind_and_more.py
  src/world/tasking/migrations/0008_taskoutcomeroute_crisis_severity_delta_and_more.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/services.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
  src/world/tasking/views.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

feat(societies): proclamations & domain edicts — stance vectors, never prose (#2842, ADR-0178)
  docs/adr/0178-proclamations-judge-vectors-never-prose.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/currency/services.py
  src/world/game_clock/tasks.py
  src/world/seeds/clusters.py
  src/world/seeds/proclamations.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/houses/models.py
  src/world/societies/migrations/0036_stancearchetype_proclamation_edictkind_domainedict.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/proclamations.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_proclamations.py
  src/world/societies/urls.py
  src/world/societies/views.py
  src/world/tasking/spy_payouts.py
  src/world/tidings/constants.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

refactor(societies): extract PrincipleVector abstract base — SonarCloud dedup
  src/world/societies/models.py
Due: getattr-literal

feat(proclamations): full implementation — models, service, feed, edict income/unrest, API, seeds, admin, ADR + docs (#2842)
  .github/workflows/ci.yml
  docs/adr/0178-proclamations-vectors-not-prose-asymmetric-tier-scaling.md
  docs/systems/INDEX.md
  docs/systems/proclamations.md
  src/server/conf/settings.py
  src/web/urls.py
  src/world/currency/services.py
  src/world/game_clock/tasks.py
  src/world/proclamations/__init__.py
  src/world/proclamations/admin.py
  src/world/proclamations/apps.py
  src/world/proclamations/factories.py
  src/world/proclamations/migrations/0001_initial.py
  src/world/proclamations/migrations/__init__.py
  src/world/proclamations/migrations/max_migration.txt
  src/world/proclamations/models.py
  src/world/proclamations/serializers.py
  src/world/proclamations/services.py
  src/world/proclamations/tests/__init__.py
  src/world/proclamations/tests/test_models.py
  src/world/proclamations/tests/test_services.py
  src/world/proclamations/urls.py
  src/world/proclamations/views.py
  src/world/seeds/clusters.py
  src/world/seeds/proclamations.py
  src/world/tidings/constants.py
  src/world/tidings/services.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

feat(locations,items): SUN mitigation axis + is_revealing garment flag (#2846)
  src/world/buildings/migrations/0025_alter_decorationaffinity_stat_key_and_more.py
  src/world/buildings/migrations/max_migration.txt
  src/world/items/migrations/0051_itemtemplate_is_revealing_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/locations/constants.py
  src/world/locations/migrations/0009_alter_locationvaluemodifier_stat_key_and_more.py
  src/world/locations/migrations/max_migration.txt
  src/world/weather/migrations/0004_alter_weathertypeexposure_stat_key.py
  src/world/weather/migrations/max_migration.txt
Due: getattr-literal

chore: regen API schema + types for proclamations endpoints (#2842)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

chore: regen API schema to fix pre-existing drift (consequence pool id type + action_category filter)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

test(seeds): add proclamations to expected cluster registry (#2842)
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

feat(species): graded felt sun exposure + distinction-anchored bane/allergy tiers (#2846)
  src/world/scenes/tests/test_sunlight_exposure_e2e.py
  src/world/species/factories.py
  src/world/species/services.py
  src/world/species/sun_constants.py
  src/world/species/sun_exposure.py
  src/world/species/sun_sensitivity.py
  src/world/species/tests/test_felt_sun_exposure.py
  src/world/species/tests/test_provision_species_gifts.py
  src/world/species/tests/test_sunlight_exposure.py
  src/world/species/tests/test_sunlight_exposure_seed.py
Due: getattr-literal

fix(proclamations): add proclamations to seeded_models_by_cluster + fix edict test shared state (#2842)
  src/world/proclamations/tests/test_models.py
  src/world/proclamations/tests/test_services.py
  src/world/seeds/clusters.py
Due: getattr-literal

fix(proclamations): enact_edict uses save() instead of bulk update() for SharedMemoryModel cache safety (#2842)
  src/world/proclamations/services.py
Due: getattr-literal

feat(species): sun reconcile cron + wardrobe/position re-check hooks (#2846)
  src/world/areas/positioning/services.py
  src/world/game_clock/tasks.py
  src/world/items/services/equip.py
  src/world/species/services.py
  src/world/species/tasks.py
  src/world/species/tests/test_sun_tasks.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

feat(conditions,species,actions,frontend): hazard prompt + AFK auto-flee + CG gate + species seeds (#2846)
  frontend/src/App.tsx
  frontend/src/game/components/HazardPromptNotifier.tsx
  frontend/src/hooks/hazardPromptBus.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.ts
  src/actions/definitions/hazards.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/web/webclient/message_types.py
  src/world/conditions/hazard_prompt.py
  src/world/conditions/migrations/0028_hazardresponsestate.py
  src/world/conditions/migrations/max_migration.txt
  src/world/conditions/models.py
  src/world/conditions/tests/test_hazard_prompt.py
  src/world/distinctions/tests/test_views.py
  src/world/distinctions/views.py
  src/world/seeds/character_creation.py
  src/world/species/admin.py
  src/world/species/services.py
  src/world/species/sun_refuge.py
  src/world/species/tasks.py
  src/world/species/tests/test_sun_refuge.py
  src/world/species/tests/test_sunlight_exposure.py
Due: getattr-literal, eslint, typescript, prettier

docs(#2846): ADR-0179 + species/items/conditions/INDEX/MODEL_MAP/glossaries/roadmap in tandem
  docs/adr/0179-graded-sun-exposure-distinction-anchored-sensitivity.md
  docs/roadmap/world-clock.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/conditions.md
  docs/systems/items.md
  docs/systems/species.md
  src/world/conditions/AGENT_GLOSSARY.md
  src/world/items/AGENT_GLOSSARY.md
  src/world/species/AGENT_GLOSSARY.md
Due: none

test(scenes,combat): succor E2Es on the staged sunlight model (#2846)
  src/world/combat/tests/test_succor_e2e.py
  src/world/scenes/tests/test_succor_scene_e2e.py
Due: getattr-literal

fix(seeds): route sun distinctions/grants through authored_or_sample (#2846)
  src/world/seeds/character_creation.py
Due: getattr-literal

Proclamations & domain edicts: stance vectors, never prose (#2842) (#2843)
  docs/adr/0178-proclamations-judge-vectors-never-prose.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/currency/services.py
  src/world/game_clock/tasks.py
  src/world/seeds/clusters.py
  src/world/seeds/proclamations.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/houses/models.py
  src/world/societies/migrations/0036_stancearchetype_proclamation_edictkind_domainedict.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/proclamations.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_proclamations.py
  src/world/societies/urls.py
  src/world/societies/views.py
  src/world/tasking/spy_payouts.py
  src/world/tidings/constants.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

docs(adr-0178): combatant relationship models remain separate
  docs/adr/0178-combatant-relationships-remain-separate.md
  docs/adr/README.md
  src/world/combat/models.py
Due: getattr-literal

feat(commands): time command shows server clock (US-Eastern) + the moon at night (#2845)
  src/commands/weather.py
  src/world/weather/tests/test_views.py
Due: getattr-literal

feat(weather,game_clock): cloud cover shelters the sun; moon phases on the clock (#2845, ADR-0180)
  docs/adr/0180-cloud-cover-is-area-wide-hazard-shelter.md
  docs/roadmap/world-clock.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  frontend/src/weather/components/WeatherWidget.tsx
  src/core_management/content_export.py
  src/schema.json
  src/world/game_clock/constants.py
  src/world/game_clock/services.py
  src/world/game_clock/tests/test_services.py
  src/world/weather/CLAUDE.md
  src/world/weather/factories.py
  src/world/weather/migrations/0005_weathertypeshelter.py
  src/world/weather/migrations/max_migration.txt
  src/world/weather/models.py
  src/world/weather/seed.py
  src/world/weather/serializers.py
  src/world/weather/services.py
  src/world/weather/tests/test_weather.py
  src/world/weather/types.py
Due: getattr-literal, eslint, typescript, prettier

feat(weather): roll + echo at IC phase boundaries, not a wall-clock interval (#2845)
  src/world/game_clock/tasks.py
  src/world/weather/tasks.py
  src/world/weather/tests/test_weather.py
Due: getattr-literal

feat(weather): authored transition graph — weather trends instead of jump-cutting (#2845, ADR-0181)
  docs/adr/0181-weather-walks-an-authored-transition-graph.md
  src/core_management/content_export.py
  src/world/weather/CLAUDE.md
  src/world/weather/factories.py
  src/world/weather/migrations/0006_weathertransition.py
  src/world/weather/migrations/max_migration.txt
  src/world/weather/models.py
  src/world/weather/seed.py
  src/world/weather/services.py
  src/world/weather/tests/test_weather.py
Due: getattr-literal

fix(schema): hand-align schema.json consequence-pool hunks to CI's regen form (#2845)
  src/schema.json
Due: none

fix(weather): clockless worlds keep the legacy 2h weather cadence (#2845)
  src/world/weather/tasks.py
  src/world/weather/tests/test_weather.py
Due: getattr-literal

General combatant-relationship model: should EngagementLock, Clash, and CombatMark share a base? (#2850)
  docs/adr/0178-combatant-relationships-remain-separate.md
  docs/adr/README.md
  src/world/combat/models.py
Due: getattr-literal

feat(magic,species): appetite anima economy — glut, upkeep drains, regen skip, Ravenous (#2853)
  src/world/game_clock/tasks.py
  src/world/magic/migrations/0136_characteranima_glut_appetiteupkeep_feedingrecord_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/anima.py
  src/world/magic/models/appetites.py
  src/world/magic/services/anima.py
  src/world/magic/services/appetites.py
  src/world/magic/tests/test_anima_regen_tick.py
  src/world/magic/tests/test_appetites.py
  src/world/species/appetites.py
  src/world/species/factories.py
  src/world/species/sun_exposure.py
Due: getattr-literal

Celestial layer: cloud cover shelters the sun; moon phases on the clock (#2845) [stacked on #2849] (#2851)
  docs/adr/0180-cloud-cover-is-area-wide-hazard-shelter.md
  docs/adr/0181-weather-walks-an-authored-transition-graph.md
  docs/roadmap/world-clock.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  frontend/src/weather/components/WeatherWidget.tsx
  src/commands/weather.py
  src/core_management/content_export.py
  src/schema.json
  src/world/game_clock/constants.py
  src/world/game_clock/services.py
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_services.py
  src/world/weather/CLAUDE.md
  src/world/weather/factories.py
  src/world/weather/migrations/0005_weathertypeshelter.py
  src/world/weather/migrations/0006_weathertransition.py
  src/world/weather/migrations/max_migration.txt
  src/world/weather/models.py
  src/world/weather/seed.py
  src/world/weather/serializers.py
  src/world/weather/services.py
  src/world/weather/tasks.py
  src/world/weather/tests/test_views.py
  src/world/weather/tests/test_weather.py
  src/world/weather/types.py
Due: getattr-literal, eslint, typescript, prettier

feat(combat): add NaturalKeyMixin + unique name to CreatureTemplate (#2847)
  src/world/combat/migrations/0065_alter_creaturetemplate_name.py
  src/world/combat/models.py
  src/world/combat/tests/test_boss_anatomy_models.py
Due: getattr-literal

feat(covenants): add NaturalKeyMixin to CovenantRoleGiftGrant (#2847)
  src/world/covenants/models.py
  src/world/covenants/tests/test_covenant_role_gift_grant_natural_key.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
