Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Point evidence report at the retrigger commit; keep it the tip
  docs/reviews/3760-narrative-play-delivery.md
Due: none

fix(issue-to-merged-pr): open-pr.sh must backtick-wrap a local evidence path
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

chore(#3759): regenerate API schema/types for POST /api/play/read/ and GET /api/play/threads/
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Apply ruff-format to the PoseSubmission migration (CI pre-commit fix)
  src/world/migrations/0120_pose_submission.py
Due: getattr-literal

Point evidence report at the ruff-format fix commit
  docs/reviews/3760-narrative-play-delivery.md
Due: none

docs(#3759): re-stamp review evidence's reviewed revision to the PR's actual tip
  docs/design-proposals/narrative-play/3759-pr-review-evidence.md
Due: none

Deliver #3760's review evidence via PR comment instead of a committed file
  docs/reviews/3760-narrative-play-delivery.md
  docs/reviews/screenshots/3760/1-composing.png
  docs/reviews/screenshots/3760/2-send-pending.png
  docs/reviews/screenshots/3760/3a-rejected.png
  docs/reviews/screenshots/3760/3b-unknown-outcome.png
  docs/reviews/screenshots/3760/4-stranded-draft.png
  docs/reviews/screenshots/3760/5-storage-unavailable.png
  docs/reviews/screenshots/3760/6-reconnecting.png
  docs/reviews/screenshots/3760/7a-action-attachment-pending.png
  docs/reviews/screenshots/3760/7b-action-attachment-acknowledged.png
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

docs(#3759): move review evidence to issue comments, out of version control
  docs/design-proposals/narrative-play/3759-demo-fidelity-review.md
  docs/design-proposals/narrative-play/3759-pr-review-evidence.md
  docs/design-proposals/narrative-play/review-evidence/01-threads-view.png
  docs/design-proposals/narrative-play/review-evidence/02-threads-view-toggled.png
  docs/design-proposals/narrative-play/review-evidence/03-chronological-view.png
  docs/design-proposals/narrative-play/review-evidence/04-history-tab-browse.png
  docs/design-proposals/narrative-play/review-evidence/05-history-tab-search-results.png
  docs/design-proposals/narrative-play/review-evidence/06-reference-mode.png
  docs/design-proposals/narrative-play/review-evidence/07-returned-to-live.png
  docs/design-proposals/narrative-play/review-evidence/08-after-load-earlier.png
  docs/design-proposals/narrative-play/review-evidence/09-wave9-threads-view.png
  docs/design-proposals/narrative-play/review-evidence/10-wave9-latest-activity.png
  docs/design-proposals/narrative-play/review-evidence/11-wave9-load-earlier-replies.png
  docs/design-proposals/narrative-play/review-evidence/12-wave9-thread-gamma-expanded.png
  docs/design-proposals/narrative-play/review-evidence/13-wave9-legacy-pose-plain.png
  docs/design-proposals/narrative-play/review-evidence/14-wave9-reference-mode-toolbar-check.png
  docs/design-proposals/narrative-play/review-evidence/demo-reference-desktop.png
  docs/design-proposals/narrative-play/review-evidence/demo-reference-reference-mode.png
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/evidence-screenshots-not-in-main.md
Due: none

docs(issue-to-merged-pr): evidence comment belongs on the PR, not the issue
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/evidence-screenshots-not-in-main.md
Due: none

Regenerate schema.json/api.d.ts after the merge (CI api-types-drift fix)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Flatten Facet: drop the Category>Subcategory>Specific hierarchy (#3776)
  src/core/natural_keys.py
  src/web/admin/tests/test_export_import.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/models/motifs.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_models.py
  src/world/magic/tests/test_serializers.py
  src/world/magic/tests/test_views.py
  src/world/magic/views.py
  src/world/migrations/0122_alter_facet_options_alter_facet_unique_together_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Simplify the thread-weaving Facet picker to a flat searchable list
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/inventory/components/AttachFacetDialog.tsx
  frontend/src/inventory/components/ItemDetailPanel.tsx
  frontend/src/inventory/components/__tests__/AttachFacetDialog.test.tsx
  frontend/src/inventory/components/__tests__/ItemDetailPanel.test.tsx
  frontend/src/magic/components/threads/WeaveThreadWizard.tsx
  frontend/src/magic/components/threads/__tests__/WeaveThreadWizard.test.tsx
Due: eslint, typescript, prettier

Add BeingFacet: WorshippedBeing draws from the shared Facet pool
  src/world/migrations/0123_beingfacet.py
  src/world/migrations/max_migration.txt
  src/world/worship/admin.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Add ItemTemplate.inherent_facets, auto-stamped onto every new instance
  docs/systems/MODEL_MAP.md
  src/world/items/models.py
  src/world/items/services/facets.py
  src/world/items/tests/test_services_facets.py
  src/world/migrations/0124_itemfacet_is_inherent_itemtemplate_inherent_facets.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Document ItemTemplate.inherent_facets in docs/systems/INDEX.md
  docs/systems/INDEX.md
Due: none

Guard stamp_inherent_facets against unconfigured QualityTier
  src/world/items/exceptions.py
  src/world/items/services/facets.py
  src/world/items/tests/test_services_facets.py
Due: getattr-literal

Add BeingNickname and Organization.patron_nickname
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/societies.md
  docs/systems/worship.md
  src/world/migrations/0125_beingnickname_organization_patron_nickname_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/models.py
  src/world/societies/tests/test_models.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Add BeingResonance: favored (2x) vs associated (1x) worship tiers
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/world/migrations/0126_beingresonance.py
  src/world/migrations/max_migration.txt
  src/world/worship/constants.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Add WorshippedBeing.domains as plain text
  docs/systems/worship.md
  src/world/migrations/0127_worshippedbeing_domains.py
  src/world/migrations/max_migration.txt
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Sync INDEX.md's Worship models summary with WorshippedBeing.domains
  docs/systems/INDEX.md
Due: none

Add ADR-0289: combat narration shares the pose Interaction model
  docs/adr/0289-combat-narration-shares-the-pose-interaction-model.md
  docs/adr/README.md
Due: none

Add BeingRelationship: one public-story field, no hidden-truth field
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/world/migrations/0128_beingrelationship.py
  src/world/migrations/max_migration.txt
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/constants.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Add WorshipFeastDay, tarot_cards, and the birth-favor helper
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/world/migrations/0129_worshippedbeing_tarot_cards_worshipfeastday.py
  src/world/migrations/max_migration.txt
  src/world/tarot/factories.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/services.py
  src/world/worship/tests/test_models.py
  src/world/worship/tests/test_services.py
Due: getattr-literal

Add CodexEntry.quote: an italic intro line for any entry
  src/world/codex/models.py
  src/world/codex/tests/test_models.py
  src/world/migrations/0130_codexentry_quote.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Add WorshippedBeing.codex_entry, mirroring Gift/Technique's own pattern
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/world/migrations/0131_worshippedbeing_codex_entry.py
  src/world/migrations/max_migration.txt
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Change WorshippedBeing.codex_entry to on_delete=PROTECT, matching Gift/Technique/HouseAspectOption precedent
  docs/systems/worship.md
  src/world/migrations/0131_worshippedbeing_codex_entry.py
  src/world/worship/models.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Lift sidebar mode + Here sub-tab state to GamePage for #3761
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/PlaySidebar.test.tsx
  frontend/src/game/components/PlaySidebar.tsx
  frontend/src/game/components/SidebarTabPanel.test.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

Add persistent Combat nav icon to PlaySidebar for #3761
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/PlaySidebar.test.tsx
  frontend/src/game/components/PlaySidebar.tsx
Due: eslint, typescript, prettier

Add dismissable combat banner to GameTopBar for #3761
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
Due: eslint, typescript, prettier

Fix em-dash in CombatBanner copy for #3761
  frontend/src/game/components/GameTopBar.tsx
Due: eslint, typescript, prettier

Register pantheon foundation models in admin; update worship/codex docs
  docs/systems/INDEX.md
  docs/systems/codex.md
  docs/systems/worship.md
  src/world/worship/admin.py
Due: getattr-literal

Wire viewerCanGm/scene/onDismissOutcome into CombatRail from GamePage for #3761
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
Due: eslint, typescript, prettier

Retire RoomHeader's off-page In Combat badge link for #3761
  frontend/src/game/components/room-panel/RoomHeader.test.tsx
  frontend/src/game/components/room-panel/RoomHeader.tsx
Due: eslint, typescript, prettier

Fix Task 12 review findings: regen API types, wire quote into codex admin
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/codex/admin.py
Due: getattr-literal, eslint, typescript, prettier

State the OOC channel gap explicitly and fix a stale doc reference for #3761
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/ConversationSidebar.test.tsx
  frontend/src/game/components/ConversationSidebar.tsx
Due: eslint, typescript, prettier

Add Playwright journey proving cross-mode encounter reachability for #3761
  frontend/e2e/narrative-play-encounter-reachability.spec.ts
  frontend/e2e/support/gameHarness.ts
Due: eslint, typescript, prettier

Guard inherent facets from detach; expose is_inherent; short-circuit stamping
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/codex/__tests__/CodexModal.test.tsx
  frontend/src/codex/__tests__/EntryDetail.test.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/AttachFacetDialog.tsx
  frontend/src/inventory/components/ItemDetailPanel.tsx
  src/actions/definitions/crafting.py
  src/actions/tests/test_crafting_actions.py
  src/schema.json
  src/world/codex/serializers.py
  src/world/items/exceptions.py
  src/world/items/serializers.py
  src/world/items/services/facets.py
  src/world/items/tests/test_services_facets.py
Due: getattr-literal, eslint, typescript, prettier
