Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Scene-log reread honours active understanding conditions (#4090)
  src/world/scenes/interaction_serializers.py
  src/world/scenes/tests/test_language_interactions.py
Due: getattr-literal

Fix idmapper prefetch-staleness flake in the reread query-count test (#4090)
  src/world/scenes/tests/test_language_interactions.py
Due: getattr-literal

One comprehension rule for live feed and reread (#4090, Controller ruling F2)
  src/world/scenes/interaction_serializers.py
  src/world/species/language_services.py
Due: getattr-literal

Buy language breakthroughs in the unlock shop and telnet (#4090)
  src/actions/definitions/progression.py
  src/actions/tests/test_progression.py
  src/commands/progression.py
  src/commands/tests/test_progression_commands.py
  src/world/progression/serializers/unlocks.py
  src/world/progression/tests/test_unlock_views.py
  src/world/progression/views.py
Due: getattr-literal

Breakthroughs card lists language breakthroughs (#4090)
  frontend/src/generated/api.d.ts
  frontend/src/progression/api.ts
  frontend/src/progression/components/advancement/BreakthroughsCard.test.tsx
  frontend/src/progression/components/advancement/BreakthroughsCard.tsx
  frontend/src/progression/queries.ts
  frontend/src/progression/types.ts
  src/schema.json
Due: eslint, typescript, prettier

My-languages reports effective and temporary levels (#4090)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/species/serializers.py
  src/world/species/tests/test_language_views.py
  src/world/species/types.py
  src/world/species/views.py
Due: getattr-literal, eslint, typescript, prettier

Sheet shows temporary language levels; picker and Speaks stay trained (#4090)
  frontend/src/character_sheets/components/LanguagesSection.test.tsx
  frontend/src/character_sheets/components/LanguagesSection.tsx
  frontend/src/character_sheets/sheet.css
  frontend/src/game/components/LanguageSelector.test.tsx
  frontend/src/game/components/LanguageSelector.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

Fix LanguageSelector test: query the trigger by title, not computed name (#4090)
  frontend/src/game/components/LanguageSelector.test.tsx
Due: eslint, typescript, prettier

Docs: comprehension from active conditions, language XP locks (#4090)
  docs/adr/0214-languages-are-traits-comprehension-recomputed-live.md
  docs/roadmap/species.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/conditions.md
  docs/systems/magic.md
  docs/systems/progression.md
  docs/systems/species.md
  src/world/species/AGENT_GLOSSARY.md
Due: none

Fix double-spend window in language and skill breakthrough purchases
  src/world/skills/services.py
  src/world/species/language_progression.py
  src/world/species/tests/test_language_progression.py
Due: getattr-literal

Invalidate myLanguages cache after a language breakthrough purchase
  frontend/src/progression/queries.test.tsx
  frontend/src/progression/queries.ts
Due: eslint, typescript, prettier

Use factories in PurchaseLanguageBreakthroughActionTests; add unknown-id test
  src/actions/tests/test_progression.py
Due: getattr-literal

Review evidence for #4090 (temporary, removed before merge)
  docs/reviews/4090/images/demo-screen1-reference.png
  docs/reviews/4090/images/demo-screen2-reference.png
  docs/reviews/4090/images/demo-screen3-reference.png
  docs/reviews/4090/images/screen1-after-strong-cast.png
  docs/reviews/4090/images/screen1-before-cast.png
  docs/reviews/4090/images/screen2-weaker-cast.png
  docs/reviews/4090/images/screen3-after-effect-ends.png
  docs/reviews/4090/images/screen3-while-effect-lasts.png
  docs/reviews/4090/review.md
Due: none

Remove #4090 review evidence before merge
  docs/reviews/4090/images/demo-screen1-reference.png
  docs/reviews/4090/images/demo-screen2-reference.png
  docs/reviews/4090/images/demo-screen3-reference.png
  docs/reviews/4090/images/screen1-after-strong-cast.png
  docs/reviews/4090/images/screen1-before-cast.png
  docs/reviews/4090/images/screen2-weaker-cast.png
  docs/reviews/4090/images/screen3-after-effect-ends.png
  docs/reviews/4090/images/screen3-while-effect-lasts.png
  docs/reviews/4090/review.md
Due: none

Evidence gate: a demo link in the spec requires a report, whatever the labels (#4125)
  tools/agents/demo-fidelity-reviewer.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/_evidence-helpers.sh
  tools/skills/issue-to-merged-pr/scripts/enqueue-pr.sh
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
  tools/skills/issue-to-merged-pr/scripts/pickup-issue.sh
  tools/tests/test_open_pr_body.py
Due: getattr-literal

Docs: a Technique is a Gift x Path; XP, development and Legend are three currencies (#4117)
  AGENT_GLOSSARY_MAP.md
  docs/adr/adr-4088-xp-development-and-legend-are-three-currencies.md
  docs/architecture/runtime-modifiers-audere.md
  docs/systems/classes.md
  docs/systems/progression.md
  src/world/classes/models.py
  src/world/magic/AGENT_GLOSSARY.md
  src/world/progression/AGENT_GLOSSARY.md
Due: getattr-literal

Sheet: goals are the owner's and staff's, and a house membership carries a standing (#4106) (#4107)
  docs/adr/0327-a-houses-verdict-on-a-member-is-a-standing-on-the-membership.md
  docs/systems/INDEX.md
  docs/systems/character_sheets.md
  docs/systems/goals.md
  docs/systems/societies.md
  frontend/e2e/evidence/sheet-goals-and-favor-4106.spec.ts
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/GuidelinesBand.tsx
  frontend/src/character_sheets/components/sheet/__tests__/TiesPanel.test.tsx
  frontend/src/character_sheets/components/sheet/primitives.tsx
  frontend/src/generated/api.d.ts
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
  src/schema.json
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_privacy_tiers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/goals/models.py
  src/world/migrations/0194_membership_favor_and_goals_untiered.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/constants.py
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_admin_codex_grants.py
Due: getattr-literal, eslint, typescript, prettier

Backgrounds: the beat library, its chapter, and a draft's beats (#4124)
  src/core_management/content_export.py
  src/world/character_creation/constants.py
  src/world/character_creation/factories.py
  src/world/character_creation/models.py
  src/world/character_creation/offers.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_beats.py
  src/world/character_creation/types.py
  src/world/character_creation/views.py
  src/world/character_sheets/models.py
  src/world/distinctions/views.py
  src/world/migrations/0195_backgrounds_beats.py
  src/world/migrations/0196_backgrounds_beats_constraints.py
  src/world/migrations/max_migration.txt
  src/world/secrets/models.py
  src/world/species/models.py
Due: getattr-literal

Lead-ins for whisper emotes and tabletalk in render_line (#4128)
  src/actions/definitions/communication.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/line_rendering.py
  src/world/scenes/tests/test_line_rendering.py
Due: getattr-literal

Batch fold and hide reducers for the feed (#4128)
  frontend/src/game/components/FeedBlockFrame.test.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/feedBlockControls.ts
  frontend/src/store/CLAUDE.md
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Right-click folds a line; the avatar's right-click or a held press opens the sorting menu (#4128)
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/FeedBlockFrame.test.tsx
  frontend/src/game/components/FeedBlockFrame.tsx
  frontend/src/game/components/LineMenu.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/hooks/useLineGestures.test.tsx
  frontend/src/game/hooks/useLineGestures.ts
  frontend/src/test/setup.ts
Due: eslint, typescript, prettier

Poses render as one prose line with the avatar as an indent (#4128)
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/scenes/components/PersonaMenu.tsx
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/ReactionStrip.test.tsx
  frontend/src/scenes/components/ReactionStrip.tsx
  frontend/src/scenes/components/SceneMessages.test.tsx
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/hooks/useKudos.test.ts
  frontend/src/scenes/hooks/useKudos.ts
Due: eslint, typescript, prettier

Drop the per-line role label; Minimize, not Minimise (#4128)
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/feedChips.ts
  frontend/src/store/__tests__/gameSlice.test.ts
Due: eslint, typescript, prettier

The quiet room's ambient poses are prose lines too (#4128)
  frontend/src/game/components/ExplorationReader.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
Due: eslint, typescript, prettier

Docs for the prose line and the two menus (#4128)
  docs/adr/adr-4128-a-pose-is-a-prose-line-left-click-plays-right-click-sorts.md
  frontend/src/game/CLAUDE.md
  frontend/src/scenes/CLAUDE.md
Due: prettier

The fold replaces the per-pose collapse and Reply link; a browser spec for the line (#4128)
  frontend/e2e/pose-lines.spec.ts
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/scenes/components/PoseUnit.tsx
Due: eslint, typescript, prettier

The avatar fits one line of text; the browser spec serves the play menu's items (#4128)
  frontend/e2e/pose-lines.spec.ts
  frontend/src/components/PersonaAvatar.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/scenes/components/PoseUnit.tsx
Due: eslint, typescript, prettier

Review fixes: telnet parity for a named pose, gestures stay on the line, keyboard and touch (#4128)
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/FeedNoteBlock.test.tsx
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/hooks/useLineGestures.test.tsx
  frontend/src/game/hooks/useLineGestures.ts
  frontend/src/scenes/components/ActorLine.tsx
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  src/actions/definitions/communication.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/line_rendering.py
  src/world/scenes/tests/test_line_rendering.py
Due: getattr-literal, eslint, typescript, prettier

Backgrounds: beats finalize onto the sheet, draft the told story, and age stops banking (#4124)
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_beats.py
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/progression/services/maturation.py
  src/world/secrets/services.py
  src/world/vitals/aging.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Review evidence for #4128 (temporary, removed before merge)
  docs/reviews/4128/images/folded-1600.png
  docs/reviews/4128/images/menu-1600.png
  docs/reviews/4128/images/paragraphs-1600.png
  docs/reviews/4128/images/play-menu-1600.png
  docs/reviews/4128/review.md
Due: none

Remove the review evidence from the branch (it lives on PR #4130)
  docs/reviews/4128/images/folded-1600.png
  docs/reviews/4128/images/menu-1600.png
  docs/reviews/4128/images/paragraphs-1600.png
  docs/reviews/4128/images/play-menu-1600.png
  docs/reviews/4128/review.md
Due: none

A sheetless actor's telnet pose uses its key for the already-named check (#4128)
  src/actions/definitions/communication.py
Due: getattr-literal

Backgrounds: the beat library in the admin and the Distinction Builder (#4124)
  src/web/admin/distinction_builder/forms.py
  src/web/templates/admin/distinction_builder/page.html
  src/world/character_creation/admin.py
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_beats.py
  src/world/species/admin.py
Due: getattr-literal

Backgrounds: the beats at Lineage, and the private sheet (#4124)
  frontend/e2e/evidence/sheet-goals-and-favor-4106.spec.ts
  frontend/e2e/ties.spec.ts
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/offers/ChapterOffers.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/GuidelinesBand.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/sheet.css
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  src/world/character_creation/offers.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_beats.py
  src/world/character_creation/types.py
Due: getattr-literal, eslint, typescript, prettier

Backgrounds: the beats block and the beats band, the files the last commit named (#4124)
  frontend/src/character-creation/__tests__/components/lineage/BeatsBlock.test.tsx
  frontend/src/character-creation/components/lineage/BeatsBlock.tsx
  frontend/src/character_sheets/components/sheet/BeatsBand.tsx
Due: eslint, typescript, prettier

Backgrounds: docs, the ADR, the glossary, and the regenerated schema (#4124)
  AGENT_GLOSSARY_MAP.md
  docs/adr/adr-4124-a-background-is-beats-from-one-library-priced-and-private.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  docs/systems/distinctions.md
  docs/systems/species.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/AGENT_GLOSSARY.md
  src/world/character_creation/models.py
Due: getattr-literal, eslint, typescript, prettier

Backgrounds: the beat's mode line and the Unknown word, from the demo (#4124)
  frontend/src/character-creation/__tests__/components/lineage/BeatsBlock.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/lineage/BeatsBlock.tsx
  frontend/src/character_sheets/components/sheet/BeatsBand.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
Due: eslint, typescript, prettier

Backgrounds: a beat pick is priced on the purse, asserted (#4124)
  src/world/character_creation/tests/test_beats.py
Due: getattr-literal
