Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

docs: renumber service-functions ADR 0097→0100 (second 0097 collision) + record the minting convention
  docs/adr/0100-service-functions-use-cached-handlers-not-queries.md
  docs/adr/README.md
Due: none

Add apply_dramatic_surge shared primitive; refactor grief spike onto it (#2013)
  src/world/combat/escalation.py
  src/world/combat/tests/test_dramatic_surge_primitive.py
  src/world/combat/types.py
Due: getattr-literal

Add DramaticSurgeRecord, SurgeTriggerKind, StakesEscalationModifier models (#2013)
  src/world/combat/constants.py
  src/world/combat/factories.py
  src/world/combat/migrations/0033_escalationcurve_hated_foe_spike_intensity_amount_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_dramatic_surge_models.py
  src/world/relationships/migrations/0008_alter_relationshiptrack_fuels_escalation_spikes.py
  src/world/relationships/migrations/max_migration.txt
  src/world/relationships/models.py
Due: getattr-literal

Add the hated-foe escalation spike leg (#2013)
  src/world/combat/escalation.py
  src/world/combat/services.py
  src/world/combat/tests/test_escalation_hated_foe.py
Due: getattr-literal

docs(#2013): fix stale acute_peril_condition_names reference in areas.md
  docs/systems/areas.md
Due: none

Add the mortal-peril escalation spike leg (#2013)
  src/world/combat/escalation.py
  src/world/combat/factories.py
  src/world/combat/tests/test_escalation_peril_spike.py
  src/world/scenes/round_services.py
  src/world/vitals/CLAUDE.md
  src/world/vitals/peril_resolution.py
Due: getattr-literal

docs(#2013): initial stakes surge shares the start_round gate — fix wrong docstring
  src/world/combat/escalation.py
Due: getattr-literal

Add the stakes escalation leg (#2013)
  src/world/combat/cast_seed.py
  src/world/combat/duels.py
  src/world/combat/escalation.py
  src/world/combat/tests/test_escalation_stakes.py
  src/world/combat/views.py
Due: getattr-literal

Surface dramatic surge beats on the encounter serializer (#2013)
  src/world/combat/serializers.py
  src/world/combat/tests/test_dramatic_surge_primitive.py
  src/world/combat/tests/test_escalation_serializer_fields.py
  src/world/combat/tests/test_view_query_counts.py
Due: getattr-literal

Render dramatic surge beats in the web combat panel (#2013)
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/sections/RoundFlow.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Ship default content for the dramatic surge engine (#2013)
  src/world/combat/factories.py
  src/world/seeds/clusters.py
  src/world/seeds/game_content/combat.py
  src/world/seeds/tests/test_game_content_combat.py
Due: getattr-literal

Add the dramatic-surge-engine definition-of-done E2E (#2013)
  src/world/combat/tests/test_dramatic_surge_e2e.py
Due: getattr-literal

Document the dramatic surge engine: ADR-0098 + systems/roadmap/glossary (#2013)
  docs/adr/0098-dramatic-surge-engine-one-lever-curve-gated.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  src/world/combat/AGENT_GLOSSARY.md
Due: none

docs: renumber service-functions ADR 0097→0100 (second number collision) + record minting convention (#2072)
  docs/adr/0100-service-functions-use-cached-handlers-not-queries.md
  docs/adr/README.md
Due: none

fix(#2013): add surge_beats to frontend test mocks
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
Due: eslint, typescript, prettier

fix(ci): query-count baseline + frontend dedup for SonarCloud
  frontend/src/stories/components/DenyClearanceDialog.tsx
  frontend/src/stories/components/EscalateClearanceButton.tsx
  frontend/src/stories/components/GrantClearanceDialog.tsx
  frontend/src/stories/components/ResolveClearanceDialog.tsx
  frontend/src/stories/components/RevokeClearanceButton.tsx
  frontend/src/stories/components/clearanceShared.tsx
  src/world/items/tests/test_crafting_query_counts.py
Due: getattr-literal, eslint, typescript, prettier

House creator: CG-defined houses on set-aside titles (#1884 Phase D)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/seeds/houses.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/creator.py
  src/world/societies/houses/models.py
  src/world/societies/migrations/0024_housetemplate_houseclaim.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/tests/test_house_creator.py
Due: getattr-literal, eslint, typescript, prettier

feat(stories): add CrossoverInvite model + ran_by_table audit field (#2002)
  src/world/gm/admin.py
  src/world/stories/admin.py
  src/world/stories/constants.py
  src/world/stories/migrations/0020_crossoverinvite_beatcompletion_ran_by_table.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
Due: getattr-literal

feat(stories): crossover invite service + wire deferred EpisodeScene link on scene spawn (#2002)
  src/world/events/services.py
  src/world/stories/services/crossover.py
  src/world/stories/tests/test_crossover.py
Due: getattr-literal

test+feat(stories): multi-story stakes E2E + ran_by_table audit population (#2002)
  src/world/stories/services/beats.py
  src/world/stories/tests/test_crossover_e2e.py
  src/world/stories/tests/test_services_beats.py
Due: getattr-literal

feat(stories): crossover invite DRF viewset + serializers + permissions (#2002)
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_crossover_views.py
  src/world/stories/urls.py
  src/world/stories/views.py
Due: getattr-literal

feat(commands): story crossover telnet subverbs (#2002)
  src/commands/story.py
  src/commands/tests/test_story_command.py
Due: getattr-literal

test(stories): battle-climax scheduling + cross-table custody screening E2E (#2002)
  src/world/stories/tests/test_crossover_e2e.py
Due: getattr-literal

docs(stories): crossover events system doc + telnet command reference (#2002)
  docs/systems/stories.md
  src/commands/CLAUDE.md
Due: none

chore: regenerate OpenAPI schema + frontend types for crossover endpoints (#2002)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Noble houses, merchant houses, crime families as significant orgs (+ last-name → house mapping) (#2071)
  docs/adr/0098-houses-are-organizations-with-kinship-recognition.md
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  frontend/src/generated/api.d.ts
  frontend/src/orgs/api.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/orgs/queries.ts
  src/commands/account/sheet_sections.py
  src/schema.json
  src/world/projects/constants.py
  src/world/projects/migrations/0014_alter_contributionmethod_kind_alter_project_kind.py
  src/world/projects/migrations/max_migration.txt
  src/world/seeds/clusters.py
  src/world/seeds/houses.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/apps.py
  src/world/societies/houses/__init__.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/migrations/0024_holdingkind_organization_family_domain_domaincrisis_and_more.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_houses.py
  src/world/societies/views.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

fix(security): use safe user_message instead of str(exc) for crossover errors (#2002)
  src/commands/story.py
  src/commands/tests/test_story_command.py
  src/world/stories/exceptions.py
  src/world/stories/services/crossover.py
  src/world/stories/tests/test_crossover.py
  src/world/stories/tests/test_exceptions.py
  src/world/stories/views.py
Due: getattr-literal

Bump craft_attach_facet query pin +2 for the market ItemInstance FKs
  src/world/items/tests/test_crafting_query_counts.py
Due: getattr-literal

Market: capital market squares (materials + unfinished wares) and crafter shops as distributed RP hubs (#2069)
  docs/roadmap/crafting-economy.md
  docs/roadmap/design-tenets.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/market.md
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/market/MarketPage.tsx
  frontend/src/market/api.ts
  src/actions/definitions/market.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/market.py
  src/schema.json
  src/world/items/AGENT_GLOSSARY.md
  src/world/items/market/__init__.py
  src/world/items/market/models.py
  src/world/items/market/serializers.py
  src/world/items/market/services.py
  src/world/items/market/views.py
  src/world/items/migrations/0028_iteminstance_designer_character_sheet_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_crafting_query_counts.py
  src/world/items/tests/test_market.py
  src/world/items/urls.py
  src/world/seeds/clusters.py
  src/world/seeds/market.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal, eslint, typescript, prettier

Crossover events: co-GM scenes resolving beats across multiple stories (#2076)
  docs/systems/stories.md
  frontend/src/generated/api.d.ts
  src/commands/CLAUDE.md
  src/commands/story.py
  src/commands/tests/test_story_command.py
  src/schema.json
  src/world/events/services.py
  src/world/gm/admin.py
  src/world/stories/admin.py
  src/world/stories/constants.py
  src/world/stories/exceptions.py
  src/world/stories/migrations/0020_crossoverinvite_beatcompletion_ran_by_table.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/beats.py
  src/world/stories/services/crossover.py
  src/world/stories/tests/test_crossover.py
  src/world/stories/tests/test_crossover_e2e.py
  src/world/stories/tests/test_crossover_views.py
  src/world/stories/tests/test_exceptions.py
  src/world/stories/tests/test_services_beats.py
  src/world/stories/urls.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix api-types drift: ConsequencePool id param is integer
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

House creator: CG-defined houses on set-aside titles (#1884 Phase D) (#2074)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/houses.md
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/LineageTarot.test.tsx
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/urls.py
  src/world/character_creation/views.py
  src/world/seeds/houses.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/creator.py
  src/world/societies/houses/models.py
  src/world/societies/migrations/0025_housetemplate_houseclaim.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/tests/test_house_creator.py
Due: getattr-literal, eslint, typescript, prettier

feat(missions): add character_name to GroupBallotState (#2049)
  src/world/missions/serializers.py
  src/world/missions/services/play.py
  src/world/missions/tests/test_1036_group_play.py
  src/world/missions/types.py
Due: getattr-literal

feat(missions): add pending_invites + participant_count to journal (#2049)
  src/world/missions/serializers.py
  src/world/missions/services/journal.py
  src/world/missions/tests/test_journal_invite_payload.py
  src/world/missions/tests/test_services_journal.py
  src/world/missions/types.py
Due: getattr-literal

feat(api): room-occupant search returns character id (#2049)
  src/web/api/tests/test_room_character_search.py
  src/web/api/views/search_views.py
Due: getattr-literal

chore(frontend): regenerate API types for #2049 serializer additions
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

feat(missions): add group-beat + invite API wrappers and hooks (#2049)
  frontend/src/missions/api.ts
  frontend/src/missions/queries.ts
  frontend/src/missions/types.ts
Due: eslint, typescript, prettier
