Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Fix two substance errors in warm-cache docstring paragraph (round 4 finding)
  src/world/scenes/tests/test_interaction_views.py
Due: getattr-literal

Cite #3836 for the FK-reassignment gap, standardize the peek-before-write cache pattern, and two doc cleanups (#3816 fix round 5, Parts C+D+E+F)
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/scenes.md
  src/world/character_creation/models.py
  src/world/magic/models/glimpse.py
  src/world/magic/services/cast_observation.py
  src/world/scenes/interaction_link_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/reaction_toggle_services.py
  src/world/scenes/tests/test_interaction_cached_properties.py
Due: getattr-literal

Move internal docstring prose off two SerializerMethodFields into comments (#3816 fix round 5, Part B)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/scenes/interaction_serializers.py
Due: getattr-literal, eslint, typescript, prettier

Part A (final review, corrected): opt-in FK-unchanged skip, not generic
  src/evennia_extensions/mixins.py
  src/evennia_extensions/tests/test_related_cache_clearing_mixin.py
  src/world/combat/models.py
  src/world/magic/models/aura.py
  src/world/magic/models/endorsement.py
Due: getattr-literal

Rename reassignment test to match what it actually asserts (fold-in)
  src/evennia_extensions/tests/test_related_cache_clearing_mixin.py
Due: getattr-literal

Renumber ADR-0296 to ADR-0298 (rebase collision with main's #3814 ADR)
  docs/adr/0263-no-to-attr-prefetch-onto-identity-mapped-instances.md
  docs/adr/0278-cached-rows-live-behind-a-handler-not-a-prefetch.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  docs/systems/magic.md
  docs/systems/scenes.md
  src/evennia_extensions/cached_property.py
  src/evennia_extensions/handlers.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_magic_stage.py
  src/world/character_creation/tests/test_upbringing_questions_cached_property.py
  src/world/character_creation/views.py
  src/world/character_sheets/serializers.py
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/admin.py
  src/world/magic/models/glimpse.py
  src/world/magic/services/gain.py
  src/world/magic/tests/test_character_resonance_cached_property.py
  src/world/magic/tests/test_glimpse_tag_offers_cached_property.py
  tools/lint_prefetch_to_attr.py
Due: getattr-literal

Fix current SonarCloud findings
  docs/systems/character_creation.md
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/hooks/useGameSocket.ts
  frontend/src/world-builder/atlas/AddDialog.tsx
  src/actions/definitions/communication.py
  src/web/admin/authoring/views.py
  src/web/admin/distinction_builder/live.py
  src/web/admin/distinction_builder/paste.py
  src/web/admin/tradition_slate/views.py
  src/web/templates/admin/authoring/dashboard.html
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/distinctions/views.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/play_views.py
Due: getattr-literal, eslint, typescript, prettier

Fix all current SonarCloud findings (#3861)
  docs/systems/character_creation.md
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/hooks/useGameSocket.ts
  frontend/src/world-builder/atlas/AddDialog.tsx
  src/actions/definitions/communication.py
  src/web/admin/authoring/views.py
  src/web/admin/distinction_builder/live.py
  src/web/admin/distinction_builder/paste.py
  src/web/admin/tradition_slate/views.py
  src/web/templates/admin/authoring/dashboard.html
  src/world/character_creation/models.py
  src/world/character_creation/services.py
  src/world/distinctions/views.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/play_views.py
Due: getattr-literal, eslint, typescript, prettier

Support well-known password and security endpoints
  src/web/tests/test_well_known.py
  src/web/urls.py
  src/web/views.py
Due: getattr-literal

Split formula and estimate DE in a helper, naming the readiness flags (#3716)
  src/world/magic/services/technique_power_eval.py
  src/world/magic/tests/test_technique_power_eval.py
  src/world/magic/types/technique_power.py
Due: getattr-literal

WIP #3716: carry over orphaned starting-kit valuation work (pre-spec, unreviewed)
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/technique_analytics.py
  src/web/admin/tuning/views.py
  src/web/templates/admin/tuning/_techniques_panel.html
  src/world/magic/services/technique_power_eval.py
  src/world/magic/tests/test_technique_power_eval.py
  src/world/magic/types/technique_power.py
Due: getattr-literal

Starting kits on the Techniques panel: kit form, pool scan and a real Refresh (#3716)
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/views.py
  src/web/templates/admin/tuning/_techniques_panel.html
  src/web/templates/admin/tuning/_techniques_pool_scan.html
Due: getattr-literal

Scan every path starter pool against the combat floor (#3716)
  src/web/admin/tests/test_tuning_starting_kit.py
  src/web/admin/tuning/technique_analytics.py
Due: getattr-literal

Price a starting kit as the picks a new character gets, at level 1 and thread 0 (#3716)
  src/web/admin/tests/test_tuning_starting_kit.py
  src/web/admin/tuning/technique_analytics.py
  src/web/admin/tuning/views.py
Due: getattr-literal

Document starting kits and the pool scan on the Techniques panel (#3716)
  docs/systems/INDEX.md
  docs/systems/tuning.md
Due: none

Fix round 1 for the Techniques panel starting kits (#3716)
  docs/systems/tuning.md
  src/web/admin/tests/test_tuning_starting_kit.py
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/technique_analytics.py
  src/web/admin/tuning/views.py
  src/web/templates/admin/tuning/_techniques_panel.html
  src/web/templates/admin/tuning/_techniques_pool_scan.html
Due: getattr-literal

Fix pool scan builder review findings: sibling-style import, Refresh clears the starting corpus too
  src/web/admin/tests/test_tuning_starting_kit.py
  src/web/admin/tuning/technique_analytics.py
Due: getattr-literal

Fix round 2 for Techniques panel starting kits: roller points, required content (#3716)
  src/web/admin/tests/test_tuning_starting_kit.py
  src/web/admin/tuning/required_content.py
  src/web/admin/tuning/technique_analytics.py
Due: getattr-literal

Define provenance_split's formula side positively (#3716)
  src/world/magic/services/technique_power_eval.py
Due: getattr-literal

Kit form gift/species reach and panel form-state fixes (#3716)
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/views.py
Due: getattr-literal

Demo-fidelity fixes for the Techniques panel templates (#3716)
  src/web/templates/admin/tuning/_techniques_panel.html
  src/web/templates/admin/tuning/_techniques_pool_scan.html
Due: none

Sync tuning.md with the #3716 fix round 2 changes
  docs/systems/tuning.md
Due: none

Feed bodies wrap an unbroken run at the column edge instead of scrolling sideways
  frontend/src/components/CLAUDE.md
  frontend/src/components/FormattedContent.tsx
  frontend/src/components/__tests__/FormattedContent.test.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/EvenniaMessage.test.tsx
  frontend/src/game/components/EvenniaMessage.tsx
Due: eslint, typescript, prettier

Review evidence for #3862: a real-browser proof that an unbroken pose wraps, with the rule removed as the control
  docs/reviews/3862-feed-wrap.md
  docs/reviews/3862/after-1040.png
  docs/reviews/3862/after-1280-composer.png
  docs/reviews/3862/after-1280.png
  docs/reviews/3862/before-1280.png
  frontend/e2e/feed-wrap.spec.ts
Due: eslint, typescript, prettier

Take the #3862 review evidence off the branch; it lives on PR #3868 as a comment
  docs/reviews/3862-feed-wrap.md
  docs/reviews/3862/after-1040.png
  docs/reviews/3862/after-1280-composer.png
  docs/reviews/3862/after-1280.png
  docs/reviews/3862/before-1280.png
Due: none

The tuning panel prices one technique at a fixed anchor, so no one can see what a starting kit is worth (#3866)
  docs/systems/INDEX.md
  docs/systems/tuning.md
  src/web/admin/tests/test_tuning_starting_kit.py
  src/web/admin/tests/test_tuning_technique_panel.py
  src/web/admin/tuning/required_content.py
  src/web/admin/tuning/technique_analytics.py
  src/web/admin/tuning/views.py
  src/web/templates/admin/tuning/_techniques_panel.html
  src/web/templates/admin/tuning/_techniques_pool_scan.html
  src/world/magic/services/technique_power_eval.py
  src/world/magic/tests/test_technique_power_eval.py
  src/world/magic/types/technique_power.py
Due: getattr-literal

Deploy restarts the Portal when Portal-loaded code changed, offers a full_restart button input, and probes the public websocket after every reload or restart
  .github/workflows/standup.yml
  docs/adr/0291-websocket-liveness-is-a-server-side-auto-ping.md
  docs/operations/websocket-liveness.md
  infra/README.md
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/standup.sh
  src/server/README.md
  tools/agents/README.md
  tools/agents/portal-code-deploy-reviewer.md
Due: none

Keep the probe task's name free of a mid-name Jinja expression (ansible-lint name[template])
  infra/ansible/roles/app_deploy/tasks/main.yml
Due: none

Header chip and Hall card read the character's live session instead of claiming they are offscreen
  frontend/src/components/CLAUDE.md
  frontend/src/components/SelectedCharacterChip.tsx
  frontend/src/components/__tests__/SelectedCharacterChip.test.tsx
  frontend/src/home/hall/CharactersBand.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/roster/lifecycleDisplay.ts
Due: eslint, typescript, prettier

Review evidence for #3859: the Hall over a live session, before and after Leave the world, in a real browser
  docs/reviews/3859-selected-character-chip.md
  docs/reviews/3859/hall-after-leave-1280.png
  docs/reviews/3859/hall-live-1280.png
  docs/reviews/3859/hall-no-session-1280.png
  frontend/e2e/selected-character-chip.spec.ts
Due: eslint, typescript, prettier

Take the #3859 review evidence off the branch; it lives on PR #3870 as a comment
  docs/reviews/3859-selected-character-chip.md
  docs/reviews/3859/hall-after-leave-1280.png
  docs/reviews/3859/hall-live-1280.png
  docs/reviews/3859/hall-no-session-1280.png
Due: none

Feed text never wraps a long unbroken line: the pose runs under the side panel and the feed scrolls sideways (#3868)
  frontend/e2e/feed-wrap.spec.ts
  frontend/src/components/CLAUDE.md
  frontend/src/components/FormattedContent.tsx
  frontend/src/components/__tests__/FormattedContent.test.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/EvenniaMessage.test.tsx
  frontend/src/game/components/EvenniaMessage.tsx
Due: eslint, typescript, prettier

Production websocket still drops idle sessions at 125s: the keepalive is Portal-side and evennia reload never restarts the Portal (#3869)
  .github/workflows/standup.yml
  docs/adr/0291-websocket-liveness-is-a-server-side-auto-ping.md
  docs/operations/websocket-liveness.md
  infra/README.md
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/standup.sh
  src/server/README.md
  tools/agents/README.md
  tools/agents/portal-code-deploy-reviewer.md
Due: none

Header chip claims you are offscreen while your character is live in the world (#3870)
  frontend/e2e/selected-character-chip.spec.ts
  frontend/src/components/CLAUDE.md
  frontend/src/components/SelectedCharacterChip.tsx
  frontend/src/components/__tests__/SelectedCharacterChip.test.tsx
  frontend/src/home/hall/CharactersBand.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/roster/lifecycleDisplay.ts
Due: eslint, typescript, prettier

Support well-known password and security endpoints (#3865)
  src/web/tests/test_well_known.py
  src/web/urls.py
  src/web/views.py
Due: getattr-literal

Commands type the text frames they send: look, item handling, errors, and an unmatched command name
  src/commands/command.py
  src/commands/currency.py
  src/commands/default_cmdsets.py
  src/commands/evennia_overrides/items.py
  src/commands/evennia_overrides/movement.py
  src/commands/evennia_overrides/perception.py
  src/commands/evennia_overrides/system.py
  src/commands/tests/test_door.py
  src/commands/tests/test_feed_kind.py
  src/commands/tests/test_grant_distinction.py
  src/commands/tests/test_grant_item.py
  src/commands/tests/test_handlers.py
Due: getattr-literal

Typed frames ride Evennia's tuple form, a failed result is typed error, and the narrative service's types actually reach the wire
  src/commands/command.py
  src/commands/evennia_overrides/perception.py
  src/commands/evennia_overrides/system.py
  src/commands/tests/message_capture.py
  src/commands/tests/test_dispatchers.py
  src/commands/tests/test_door.py
  src/commands/tests/test_feed_kind.py
  src/commands/tests/test_grant_distinction.py
  src/commands/tests/test_grant_item.py
  src/commands/tests/test_handlers.py
  src/commands/tests/test_identification.py
  src/commands/tests/test_story_room_commands.py
  src/commands/tests/test_traps.py
  src/world/narrative/services.py
  src/world/narrative/tests/test_services.py
Due: getattr-literal

The client sorts every text frame into a feed note by kind, and an arrival is typed arrive
  frontend/src/game/attention.test.ts
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/feedKinds.test.ts
  frontend/src/game/feedKinds.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
  src/typeclasses/characters.py
  src/typeclasses/tests/test_move_announcements.py
Due: getattr-literal, eslint, typescript, prettier

Both readers show the notes at their time among the poses, and the system lane goes
  docs/roadmap/rp-scenes.md
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/ExplorationReader.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/FeedNoteBlock.test.tsx
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/SystemLane.test.tsx
  frontend/src/game/components/SystemLane.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/game/feedRows.test.ts
  frontend/src/game/feedRows.ts
  frontend/src/hooks/CLAUDE.md
  frontend/src/store/CLAUDE.md
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
