Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(roster): enforce character slots at creation, application and approval (#3996)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/gm/serializers.py
  src/world/roster/admin.py
  src/world/roster/models/applications.py
  src/world/roster/models/choices.py
  src/world/roster/serializers/applications.py
  src/world/roster/tests/test_character_slots.py
Due: getattr-literal

feat(roster): provenance decides roster versus original character; players give up roster characters (#3996)
  src/world/character_sheets/admin.py
  src/world/character_sheets/managers.py
  src/world/character_sheets/models.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_oc_cap.py
  src/world/migrations/0159_is_oc_to_provenance.py
  src/world/migrations/0160_remove_charactersheet_is_oc_created_by.py
  src/world/migrations/max_migration.txt
  src/world/roster/services/activity.py
  src/world/roster/tests/test_activity_services.py
  src/world/roster/tests/test_auto_release.py
  src/world/roster/tests/test_release_tenure.py
Due: getattr-literal

feat(api): slot ledger on the account payload; freeze, thaw and give-up entry actions (#3996)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/api/payload_helpers.py
  src/web/api/serializers.py
  src/world/roster/serializers/__init__.py
  src/world/roster/serializers/roster_core.py
  src/world/roster/tests/test_slot_actions.py
  src/world/roster/views/entry_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(commands): @characters shows the slot line; stock charcreate and chardelete removed (#3996)
  src/commands/account/character_switching.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_characters_command_slots.py
Due: getattr-literal

feat(hall): start a new character from the Hall; freeze, thaw and give up from the card (#3996)
  frontend/src/character-creation/__tests__/mocks.ts
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/components/__tests__/SelectedCharacterChip.test.tsx
  frontend/src/components/character/__tests__/ApplicationSlot.test.tsx
  frontend/src/evennia_replacements/queries.test.tsx
  frontend/src/evennia_replacements/types.ts
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/GameTopBar.menu.test.tsx
  frontend/src/game/components/GameTopBar.select.test.tsx
  frontend/src/game/components/GameTopBar.selection.test.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameWindow.selection.test.tsx
  frontend/src/home/__tests__/HallPage.test.tsx
  frontend/src/home/hall/CharacterActionsMenu.tsx
  frontend/src/home/hall/CharactersBand.tsx
  frontend/src/home/hall/NewCharacterTile.tsx
  frontend/src/home/hall/SlotActionDialog.tsx
  frontend/src/home/hall/__tests__/AttentionBand.test.tsx
  frontend/src/home/hall/__tests__/CharacterActionsMenu.test.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/home/hall/__tests__/GMSlot.test.tsx
  frontend/src/home/hall/__tests__/NewCharacterTile.test.tsx
  frontend/src/home/hall/__tests__/OffscreenActsPlate.test.tsx
  frontend/src/home/hall/slotActions.ts
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/magic/__tests__/CharacterAuthorSelect.test.tsx
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/narrative/__tests__/queries.test.tsx
  frontend/src/roster/__tests__/selectionQueries.test.tsx
  frontend/src/roster/api.ts
  frontend/src/roster/queries.ts
  frontend/src/roster/types.ts
  frontend/src/test/mocks/account.ts
Due: eslint, typescript, prettier

docs: character slots, provenance rule, ADR-0317, glossary (#3996)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0317-character-slots-are-one-ledger-and-provenance-splits-roster-from-original.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/roster.md
  src/world/roster/AGENT_GLOSSARY.md
Due: none

Review evidence for #3996: the Hall slot tile, card menu and dialog rendered from the real build
  docs/reviews/3996/1-hall-free-slot.png
  docs/reviews/3996/2-hall-full.png
  docs/reviews/3996/3-card-menu-freeze.png
  docs/reviews/3996/4-give-up-confirm.png
  docs/reviews/3996/5-frozen-card-thaw.png
  docs/reviews/3996/6-staff-no-count.png
  docs/reviews/3996/7-phone-full.png
  docs/reviews/3996/report.md
  frontend/e2e/evidence/character-slots-3996.spec.ts
Due: eslint, typescript, prettier

fix(roster): provenance values are lowercase; compare and backfill with the stored strings (#3996)
  docs/reviews/3996/4-give-up-confirm.png
  frontend/e2e/evidence/character-slots-3996.spec.ts
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/components/__tests__/SelectedCharacterChip.test.tsx
  frontend/src/evennia_replacements/queries.test.tsx
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/GameTopBar.menu.test.tsx
  frontend/src/game/components/GameTopBar.select.test.tsx
  frontend/src/game/components/GameTopBar.selection.test.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameWindow.selection.test.tsx
  frontend/src/home/__tests__/HallPage.test.tsx
  frontend/src/home/hall/__tests__/AttentionBand.test.tsx
  frontend/src/home/hall/__tests__/CharacterActionsMenu.test.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/home/hall/__tests__/GMSlot.test.tsx
  frontend/src/home/hall/__tests__/NewCharacterTile.test.tsx
  frontend/src/home/hall/__tests__/OffscreenActsPlate.test.tsx
  frontend/src/home/hall/slotActions.ts
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/magic/__tests__/CharacterAuthorSelect.test.tsx
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/roster/__tests__/selectionQueries.test.tsx
  src/world/migrations/0159_is_oc_to_provenance.py
Due: getattr-literal, eslint, typescript, prettier

Review evidence for #3996 restated at the provenance fix
  docs/reviews/3996/report.md
Due: none

fix(roster): entry-less applications hold a slot without crashing; staff creation sites set provenance (#3996)
  src/web/api/serializers.py
  src/world/npc_services/lifecycle.py
  src/world/npc_services/tests/test_lifecycle.py
  src/world/roster/services/slots.py
  src/world/roster/services/staff_characters.py
  src/world/roster/tests/test_character_slots.py
Due: getattr-literal

Review evidence for #3996 restated at the blast-radius fixes
  docs/reviews/3996/report.md
Due: none

Remove the committed review evidence; it lives in the issue comment (#3996)
  docs/reviews/3996/1-hall-free-slot.png
  docs/reviews/3996/2-hall-full.png
  docs/reviews/3996/3-card-menu-freeze.png
  docs/reviews/3996/4-give-up-confirm.png
  docs/reviews/3996/5-frozen-card-thaw.png
  docs/reviews/3996/6-staff-no-count.png
  docs/reviews/3996/7-phone-full.png
  docs/reviews/3996/report.md
Due: none

fix(types): narrow the entry before use and cast the account for the slot check (#3996)
  src/world/character_creation/services.py
  src/world/roster/services/activity.py
  src/world/roster/views/entry_views.py
Due: getattr-literal

fix(roster): historical shelf rows are roster characters; the slope test sweeps roster characters (#3996)
  src/world/migrations/0159_is_oc_to_provenance.py
  src/world/roster/tests/test_sweep_query_slope.py
Due: getattr-literal

Re-arm the tick heal at boot and add a staff @reboot command (#4001)
  src/commands/account/reboot.py
  src/commands/account/tests/test_reboot.py
  src/commands/default_cmdsets.py
  src/evennia_extensions/reboot.py
  src/evennia_extensions/tests/test_reboot.py
  src/world/game_clock/scripts.py
  src/world/game_clock/tests/test_scripts.py
Due: getattr-literal

Staff console: a Restart game control that asks first, then sends @reboot (#4001)
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/StaffConsole.test.tsx
  frontend/src/game/components/StaffConsole.tsx
Due: eslint, typescript, prettier

Watchdog: start the unit again after a staff @reboot request (#4001)
  infra/ansible/roles/app_deploy/templates/arxii-watchdog.sh.j2
  infra/scripts/acceptance.sh
Due: none

Docs, ADR-0318 and the unarmed-safeguard reviewer for the reboot work (#4001)
  docs/adr/0318-a-staff-reboot-is-a-request-file-the-watchdog-honours.md
  docs/operations/ops-access.md
  docs/systems/INDEX.md
  frontend/e2e/evidence/staff-reboot-4001.spec.ts
  infra/README.md
  src/commands/CLAUDE.md
  src/world/game_clock/CLAUDE.md
  tools/agents/README.md
  tools/agents/unarmed-safeguard-reviewer.md
Due: eslint, typescript, prettier

Fix post-merge cleanup cwd; review constraints over existing rows
  tools/agents/migration-reviewer.md
  tools/skills/issue-to-merged-pr/scripts/post-merge-cleanup.sh
  tools/skills/reviewing-migrations/SKILL.md
  tools/tests/test_post_merge_cleanup.py
Due: getattr-literal

Autospec the handler and loop doubles; document reboot.py; settle the sheet before capture (#4001)
  frontend/e2e/evidence/staff-reboot-4001.spec.ts
  src/evennia_extensions/CLAUDE.md
  src/evennia_extensions/tests/test_reboot.py
  src/world/game_clock/tests/test_scripts.py
Due: getattr-literal, eslint, typescript, prettier

Review fold-ins: consume the reboot request in every non-active branch, respect a staff pause, name the requester (#4001)
  infra/ansible/roles/app_deploy/templates/arxii-watchdog.sh.j2
  infra/scripts/acceptance.sh
  src/world/game_clock/scripts.py
  src/world/game_clock/tests/test_scripts.py
Due: getattr-literal

Review evidence for #4001 (transient: removed again before the PR opens)
  docs/reviews/4001/console-restart-confirm-1280.png
  docs/reviews/4001/console-restart-confirm-390.png
  docs/reviews/4001/console-restart-control-1280.png
  docs/reviews/4001/console-restart-sent-1280.png
  docs/reviews/4001/review-evidence.md
Due: none

Remove the transient review evidence; it lives in the issue comment (#4001)
  docs/reviews/4001/console-restart-confirm-1280.png
  docs/reviews/4001/console-restart-confirm-390.png
  docs/reviews/4001/console-restart-control-1280.png
  docs/reviews/4001/console-restart-sent-1280.png
  docs/reviews/4001/review-evidence.md
Due: none

Stop caching deploy-window 404s for frontend assets
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/caddy/templates/Caddyfile.rehearsal.j2
  infra/scripts/acceptance.sh
  infra/terraform/modules/cloudflare_zone_security/main.tf
Due: none

Re-arm the tick-level DB heal at boot; staff @reboot with a console Restart control (#4003)
  docs/adr/0318-a-staff-reboot-is-a-request-file-the-watchdog-honours.md
  docs/operations/ops-access.md
  docs/systems/INDEX.md
  frontend/e2e/evidence/staff-reboot-4001.spec.ts
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/StaffConsole.test.tsx
  frontend/src/game/components/StaffConsole.tsx
  infra/README.md
  infra/ansible/roles/app_deploy/templates/arxii-watchdog.sh.j2
  infra/scripts/acceptance.sh
  src/commands/CLAUDE.md
  src/commands/account/reboot.py
  src/commands/account/tests/test_reboot.py
  src/commands/default_cmdsets.py
  src/evennia_extensions/CLAUDE.md
  src/evennia_extensions/reboot.py
  src/evennia_extensions/tests/test_reboot.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/scripts.py
  src/world/game_clock/tests/test_scripts.py
  tools/agents/README.md
  tools/agents/unarmed-safeguard-reviewer.md
Due: getattr-literal, eslint, typescript, prettier

Make the prod snapshot path one command and catch the constraint shape that broke the 2026-09-24 deploy
  .devcontainer/sync-env.sh
  .pre-commit-config.yaml
  docs/dev-commands.md
  docs/devcontainer-setup.md
  infra/README.md
  infra/scripts/dev_reader_env.sh
  infra/scripts/pull_prod_db.sh
  justfile
  tools/agents/migration-reviewer.md
  tools/lint_migration_constraint_on_new_column.py
  tools/skills/reviewing-migrations/SKILL.md
  tools/tests/test_lint_migration_constraint_on_new_column.py
Due: getattr-literal

Make the prod snapshot path one command and catch the constraint shape that broke the 2026-09-24 deploy (#4006)
  .devcontainer/sync-env.sh
  .pre-commit-config.yaml
  docs/dev-commands.md
  docs/devcontainer-setup.md
  infra/README.md
  infra/scripts/dev_reader_env.sh
  infra/scripts/pull_prod_db.sh
  justfile
  tools/agents/migration-reviewer.md
  tools/lint_migration_constraint_on_new_column.py
  tools/skills/reviewing-migrations/SKILL.md
  tools/tests/test_lint_migration_constraint_on_new_column.py
Due: getattr-literal

Fix post-merge cleanup after removing the current worktree (#3978) (#4002)
  tools/agents/migration-reviewer.md
  tools/skills/issue-to-merged-pr/scripts/post-merge-cleanup.sh
  tools/skills/reviewing-migrations/SKILL.md
  tools/tests/test_post_merge_cleanup.py
Due: getattr-literal

Stop caching deploy-window 404s for frontend assets (#4004) (#4005)
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/caddy/templates/Caddyfile.rehearsal.j2
  infra/scripts/acceptance.sh
  infra/terraform/modules/cloudflare_zone_security/main.tf
Due: none

fix: verify discovery phase transitions
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/references/legacy-approved-issues.txt
  tools/skills/issue-to-merged-pr/scripts/transition-issue-phase.sh
  tools/skills/issue-to-merged-pr/scripts/validate-discovery.sh
  tools/tests/test_transition_issue_phase.py
  tools/tests/test_validate_discovery.py
Due: getattr-literal

fix: verify discovery phase transitions (#4010)
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/references/legacy-approved-issues.txt
  tools/skills/issue-to-merged-pr/scripts/transition-issue-phase.sh
  tools/skills/issue-to-merged-pr/scripts/validate-discovery.sh
  tools/tests/test_transition_issue_phase.py
  tools/tests/test_validate_discovery.py
Due: getattr-literal

Scope the worktree and parallel-agent rules by machine; move harness incident narratives out of CLAUDE.md
  CLAUDE.md
  docs/agent-harness-notes.md
  docs/architecture/skill-friction-audit-and-takeaways-design.md
  docs/devcontainer-setup.md
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/_wt-helpers.sh
  tools/skills/issue-to-merged-pr/scripts/post-merge-cleanup.sh
  tools/skills/issue-to-merged-pr/scripts/start-work.sh
  tools/skills/using-git-worktrees/SKILL.md
  tools/skills/workflow-friction-audit/SKILL.md
  tools/skills/workflow-friction-audit/secret-patterns-defaults.txt
  tools/tests/test_branch_in_place.py
  tools/tests/test_post_merge_cleanup.py
Due: getattr-literal

Add Portal transport correlation diagnostics
  docs/operations/websocket-liveness.md
  src/server/conf/settings.py
  src/server/portal/diagnostics.py
  src/server/portal/secure_websocket.py
  src/server/portal/tests/test_portal_correlation.py
Due: getattr-literal

Add alpha connection diagnostics recorder
  frontend/src/diagnostics/ConnectionDiagnosticsSettings.tsx
  frontend/src/diagnostics/connectionDiagnostics.test.ts
  frontend/src/diagnostics/connectionDiagnostics.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/pages/SettingsPage.tsx
Due: eslint, typescript, prettier

Fix puppet entry readiness failures
  frontend/src/game/components/ExplorationReader.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/hooks/useGameSocket.ts
  frontend/src/store/gameSlice.ts
  src/typeclasses/accounts.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_login_entry.py
  src/typeclasses/tests/test_puppet_session_hooks.py
Due: getattr-literal, eslint, typescript, prettier

Fix covenant scaling for combat rally
  src/world/combat/services.py
  src/world/combat/tests/test_social_combat_e2e.py
Due: getattr-literal

Add Portal transport correlation diagnostics (#4009) (#4011)
  docs/operations/websocket-liveness.md
  src/server/conf/settings.py
  src/server/portal/diagnostics.py
  src/server/portal/secure_websocket.py
  src/server/portal/tests/test_portal_correlation.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
