Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Add _build_affected_targets helper resolving target_kind → ObjectDB
  src/world/combat/services.py
  src/world/combat/tests/test_build_affected_targets.py
Due: getattr-literal

Add compute_effective_intensity aggregating intensity + INTENSITY_BUMP pulls
  src/world/combat/services.py
  src/world/combat/tests/test_effective_intensity.py
Due: getattr-literal

Add cleanup_completed_encounter; wire into resolve_round completion
  src/world/combat/services.py
  src/world/combat/tests/test_cleanup_completed_encounter.py
Due: getattr-literal

resolve_combat_technique passes resolved targets to use_technique
  src/world/combat/services.py
  src/world/combat/tests/test_combat_magic_non_attack_integration.py
Due: getattr-literal

Remove base_power-None no-op branch from _resolve_pc_action
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
  src/world/combat/tests/test_round_orchestrator.py
Due: getattr-literal

Implement CombatTechniqueResolver._apply_conditions with formula scaling
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
Due: getattr-literal

Add target validation: XOR, kind alignment, damage requires opponent
  src/world/combat/services.py
  src/world/combat/tests/test_declare_action.py
  src/world/combat/views.py
Due: getattr-literal

Wire process_round_start/end into combat round lifecycle
  src/world/combat/services.py
  src/world/combat/tests/test_round_tick_integration.py
Due: getattr-literal

Roadmap: document Phase 4 (magic pipeline) and Phase 5 (non-attack effects + CombatOpponent refactor)
  docs/roadmap/combat.md
Due: none

fix(server): make execute_action _id resolver opt-in via Action.objectdb_target_kwargs
  src/actions/base.py
  src/actions/definitions/communication.py
  src/actions/definitions/items.py
  src/actions/definitions/movement.py
  src/actions/definitions/perception.py
  src/server/conf/inputfuncs.py
  src/web/tests/test_execute_action_inputfunc.py
Due: getattr-literal

fix(items): scope GET queryset on outfit/slot/inventory viewsets to user's own characters
  src/world/items/tests/test_item_instance_views.py
  src/world/items/tests/test_outfit_views.py
  src/world/items/views.py
Due: getattr-literal

Fix flaky frontend tests: ScheduleEventDialog hardcoded today's date
  frontend/src/stories/__tests__/ScheduleEventDialog.test.tsx
Due: eslint, typescript, prettier

Pass nohome=True to all create_object calls introduced by this branch
  src/world/combat/factories.py
  src/world/combat/services.py
  src/world/combat/tests/test_add_opponent.py
  src/world/combat/tests/test_cleanup_completed_encounter.py
  src/world/combat/tests/test_combat_npc_typeclass.py
  src/world/combat/tests/test_identity_guards.py
  src/world/combat/tests/test_models.py
Due: getattr-literal

fix(items): add_outfit_slot validates item is owned by outfit's character account
  src/flows/service_functions/outfits.py
  src/world/items/serializers.py
  src/world/items/tests/test_outfit_services.py
  src/world/items/tests/test_outfit_views.py
Due: getattr-literal

fix(flows): save_outfit validates wardrobe reachability
  src/flows/service_functions/outfits.py
  src/world/items/serializers.py
  src/world/items/tests/test_outfit_services.py
  src/world/items/tests/test_outfit_views.py
Due: getattr-literal

fix(items): outfit character_sheet and wardrobe are write-once via serializer
  src/world/items/serializers.py
  src/world/items/tests/test_outfit_views.py
Due: getattr-literal

fix(flows): apply_outfit raises OutfitIncomplete with collected missing-slot info
  src/flows/service_functions/outfits.py
  src/world/items/tests/test_outfit_services.py
Due: getattr-literal

fix(actions): use EventName constants in outfit action intent/result events
  src/actions/definitions/outfits.py
  src/flows/constants.py
  src/flows/migrations/0010_alter_triggerdefinition_event_name.py
  src/flows/tests/test_event_names.py
Due: getattr-literal

Outfits phase a followup (#414)
  src/actions/base.py
  src/actions/definitions/communication.py
  src/actions/definitions/items.py
  src/actions/definitions/movement.py
  src/actions/definitions/outfits.py
  src/actions/definitions/perception.py
  src/flows/constants.py
  src/flows/migrations/0010_alter_triggerdefinition_event_name.py
  src/flows/service_functions/outfits.py
  src/flows/tests/test_event_names.py
  src/server/conf/inputfuncs.py
  src/web/tests/test_execute_action_inputfunc.py
  src/world/items/serializers.py
  src/world/items/tests/test_item_instance_views.py
  src/world/items/tests/test_outfit_services.py
  src/world/items/tests/test_outfit_views.py
  src/world/items/views.py
Due: getattr-literal

Spec: damage scaling by effective intensity
  docs/superpowers/specs/2026-05-01-damage-scaling-design.md
Due: none

Spec: partial unique constraint for null damage_type + grep guidance
  docs/superpowers/specs/2026-05-01-damage-scaling-design.md
Due: none

Spec: replace resistance service function with CharacterConditionHandler
  docs/superpowers/specs/2026-05-01-damage-scaling-design.md
Due: none

Spec: distinct to_attr names; document typeclass invariant for handler access
  docs/superpowers/specs/2026-05-01-damage-scaling-design.md
Due: none

Add CharacterConditionHandler; wire as character.conditions
  src/typeclasses/characters.py
  src/world/conditions/handlers.py
  src/world/conditions/tests/test_character_condition_handler.py
Due: getattr-literal

Add DamageSuccessLevelMultiplier lookup + get_damage_multiplier helper
  src/world/conditions/factories.py
  src/world/conditions/migrations/0006_damagesuccesslevelmultiplier.py
  src/world/conditions/models.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_damage_multiplier.py
Due: getattr-literal

Spec: clarifications from reviewer
  docs/superpowers/specs/2026-05-01-damage-scaling-design.md
Due: none

Wire CharacterConditionHandler.invalidate into condition-mutation services
  src/world/conditions/services.py
  src/world/conditions/tests/test_character_condition_handler.py
Due: getattr-literal

Add TechniqueDamageProfile model with formula scaling
  src/world/magic/factories.py
  src/world/magic/migrations/0039_techniquedamageprofile.py
  src/world/magic/models/__init__.py
  src/world/magic/models/techniques.py
  src/world/magic/tests/test_technique_damage_profile.py
Due: getattr-literal

TechniqueFactory.post_generation seeds damage profile from EffectType.base_power
  src/world/magic/factories.py
  src/world/magic/tests/test_technique_damage_profile.py
Due: getattr-literal

Add ThreatPoolEntry.damage_type FK
  src/world/combat/factories.py
  src/world/combat/migrations/0007_threatpoolentry_damage_type.py
  src/world/combat/models.py
  src/world/combat/tests/test_models.py
Due: getattr-literal

TechniqueCapabilityGrant.calculate_value: keyword-only effective_intensity
  src/world/magic/models/techniques.py
  src/world/magic/tests/test_capability_grants.py
Due: getattr-literal

Migrate DamagePreApplyPayload / DamageAppliedPayload damage_type str → FK
  src/flows/events/payloads.py
  src/world/combat/services.py
  src/world/combat/tests/test_damage_payload_type.py
Due: getattr-literal
