Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Regenerate API types for GlimpseTag affinity field (#2694)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(tasking): spy-vs-spy counterplay — suppress, flip, plant, detect, clear (#2820 phase 4)
  src/world/seeds/consent.py
  src/world/tasking/counterplay_services.py
  src/world/tasking/listener_services.py
  src/world/tasking/migrations/0003_listenerharvest_planted_clue_and_more.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/tests/test_counterplay.py
  src/world/tasking/urls.py
  src/world/tasking/views.py
Due: getattr-literal

feat(tasking): PC mission pickup — one outcome table, two execution engines (#2820 phase 5)
  src/world/missions/services/resolution.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_pc_pickup.py
  src/world/tasking/views.py
Due: getattr-literal

feat(tasking): board panels (Roster/Postings), generated types, docs in tandem (#2820 finish)
  docs/adr/0175-surveillance-harvests-mechanical-records-never-prose.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/tasking/api.ts
  frontend/src/tasking/components/OperationsSection.tsx
  frontend/src/tasking/queries.ts
  src/schema.json
  src/world/tasking/AGENT_GLOSSARY.md
Due: eslint, typescript, prettier

GlimpseTag affinity nudge: TONE/TRIGGER tags nudge aura at CG finalize (#2694) (#2821)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/magic/admin.py
  src/world/magic/migrations/0134_glimpse_tag_affinity.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/glimpse.py
  src/world/magic/services/glimpse.py
  src/world/magic/tests/test_glimpse_affinity_nudge.py
Due: getattr-literal, eslint, typescript, prettier

Fix CI: ty type errors, ruff N803/PLR0913, SonarCloud S3699 bugs
  src/actions/definitions/distinctions.py
  src/world/character_creation/services.py
  src/world/combat/services.py
  src/world/estates/serializers.py
  src/world/justice/models.py
  src/world/magic/services/condition_application.py
  src/world/vitals/services.py
Due: getattr-literal

Fix all 50 SonarCloud findings: S1192, S3776, S3735
  frontend/src/estates/components/BequestEditor.tsx
  src/actions/definitions/distinctions.py
  src/actions/definitions/evidence.py
  src/commands/select.py
  src/world/areas/positioning/models.py
  src/world/battles/models.py
  src/world/character_creation/services.py
  src/world/character_sheets/serializers.py
  src/world/combat/services.py
  src/world/conditions/models.py
  src/world/covenants/factories.py
  src/world/covenants/models.py
  src/world/currency/models.py
  src/world/distinctions/factories.py
  src/world/distinctions/models.py
  src/world/estates/models.py
  src/world/estates/serializers.py
  src/world/estates/services.py
  src/world/forms/factories.py
  src/world/forms/models.py
  src/world/forms/services/__init__.py
  src/world/goals/factories.py
  src/world/goals/models.py
  src/world/items/models.py
  src/world/items/org_vault_models.py
  src/world/items/services/usage.py
  src/world/justice/models.py
  src/world/magic/factories.py
  src/world/magic/models/fall_redemption.py
  src/world/magic/seeds_checks.py
  src/world/magic/services/condition_application.py
  src/world/missions/models.py
  src/world/progression/factories.py
  src/world/room_features/models.py
  src/world/seeds/checks.py
  src/world/skills/factories.py
  src/world/skills/models.py
  src/world/vitals/aging.py
  src/world/vitals/services.py
  src/world/worship/models.py
Due: getattr-literal, eslint, typescript, prettier

Fix all 50 SonarCloud high-severity findings (S1192 + S3776 + S3735) (#2825)
  frontend/src/estates/components/BequestEditor.tsx
  src/actions/definitions/distinctions.py
  src/actions/definitions/evidence.py
  src/commands/select.py
  src/world/areas/positioning/models.py
  src/world/battles/models.py
  src/world/character_creation/services.py
  src/world/character_sheets/serializers.py
  src/world/combat/services.py
  src/world/conditions/models.py
  src/world/covenants/factories.py
  src/world/covenants/models.py
  src/world/currency/models.py
  src/world/distinctions/factories.py
  src/world/distinctions/models.py
  src/world/estates/models.py
  src/world/estates/serializers.py
  src/world/estates/services.py
  src/world/forms/factories.py
  src/world/forms/models.py
  src/world/forms/services/__init__.py
  src/world/goals/factories.py
  src/world/goals/models.py
  src/world/items/models.py
  src/world/items/org_vault_models.py
  src/world/items/services/usage.py
  src/world/justice/models.py
  src/world/magic/factories.py
  src/world/magic/models/fall_redemption.py
  src/world/magic/seeds_checks.py
  src/world/magic/services/condition_application.py
  src/world/missions/models.py
  src/world/progression/factories.py
  src/world/room_features/models.py
  src/world/seeds/checks.py
  src/world/skills/factories.py
  src/world/skills/models.py
  src/world/vitals/aging.py
  src/world/vitals/services.py
  src/world/worship/models.py
Due: getattr-literal, eslint, typescript, prettier

feat(tasking): actions layer + telnet network command family (#2820 follow-up)
  docs/systems/INDEX.md
  docs/systems/tasking.md
  src/actions/definitions/tasking.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_tasking_actions.py
  src/commands/default_cmdsets.py
  src/commands/network.py
  src/commands/tests/test_network_command.py
  src/world/tasking/views.py
Due: getattr-literal

chore(tasking): regen api types after viewset docstring changes (#2820 follow-up)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(npc-services): venue auto-staffing — StaffingProfile applied on building activation (#2827 phase 1)
  src/world/buildings/property_grant_services.py
  src/world/game_clock/tasks.py
  src/world/npc_services/factories.py
  src/world/npc_services/filters.py
  src/world/npc_services/migrations/0029_functionary_persona_staffingprofile_and_more.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/serializers.py
  src/world/npc_services/staffing.py
  src/world/npc_services/tests/test_staffing.py
  src/world/npc_services/urls.py
  src/world/npc_services/views.py
Due: getattr-literal

feat(npc-services): name cultures + instantiate-on-engagement (#2827 phase 2)
  src/actions/definitions/npc_services.py
  src/world/npc_services/instantiation.py
  src/world/npc_services/migrations/0030_nameculture_namecultureentry.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_instantiation.py
Due: getattr-literal

feat(assets): dual-mode recruitment — in-place by default, extraction as a choice (#2827 phase 3)
  src/world/assets/effects.py
  src/world/assets/services.py
  src/world/assets/tests/test_dual_mode_recruitment.py
  src/world/assets/tests/test_e2e_promotion_journey.py
  src/world/assets/tests/test_effects.py
  src/world/assets/views.py
Due: getattr-literal

feat(npc-services+tasking): thin personality layer + task aptitudes (#2827 phase 4)
  src/world/assets/effects.py
  src/world/npc_services/instantiation.py
  src/world/npc_services/migrations/0031_personalitytrait_npcpreference.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/personality.py
  src/world/npc_services/tests/test_personality.py
  src/world/tasking/counterplay_services.py
  src/world/tasking/listener_services.py
  src/world/tasking/migrations/0004_npctaskaptitude.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/services.py
Due: getattr-literal

feat(npc-services): ladder lifecycle — standing promotion, demotion, roster graduation (#2827 phase 5)
  src/world/npc_services/lifecycle.py
  src/world/npc_services/tests/test_lifecycle.py
  src/world/npc_services/urls.py
  src/world/npc_services/views.py
Due: getattr-literal

docs(npc-lifecycle): system doc, INDEX, MODEL_MAP, glossary, ADR-0176, roadmap + api types regen (#2827 finish)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0176-sheet-is-the-person-personas-are-faces.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/npc-lifecycle.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/npc_services/AGENT_GLOSSARY.md
Due: eslint, typescript, prettier

feat(seeds): regional name cultures — Umbran/Luxenne/Ariwnese/Aythirn/Infernal + Common Tongue default (#2827)
  src/world/npc_services/tests/test_name_culture_seed.py
  src/world/seeds/clusters.py
  src/world/seeds/name_cultures.py
Due: getattr-literal

feat(tasking): Spy Job Kit — six payout types + incriminating residue (#2833)
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/seeds/clusters.py
  src/world/seeds/spy_tasks.py
  src/world/tasking/exceptions.py
  src/world/tasking/migrations/0004_taskoutcomeroute_building_condition_delta_and_more.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/services.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
Due: getattr-literal, eslint, typescript, prettier

feat(tasking): cross-system spy payouts — domains, orgs, military strength (#2833 addendum)
  docs/systems/INDEX.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/seeds/spy_tasks.py
  src/world/tasking/migrations/0005_taskoutcomeroute_domain_report_and_more.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/services.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
Due: getattr-literal, eslint, typescript, prettier

fix(seeds): register spy_tasks cluster in the registry tests + Game Setup inventory
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

feat(combat): add consider_bias_direction ModifierTarget + Overconfident wiring
  src/world/combat/consider.py
  src/world/combat/tests/test_consider.py
Due: getattr-literal

refactor(combat): rewrite bias_direction to use get_modifier_total
  src/world/combat/consider.py
  src/world/combat/tests/test_consider.py
Due: getattr-literal

Add CHOOSING + REFLECTION glimpse axes (#2694)
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/__tests__/GlimpseFlow.test.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
  src/schema.json
  src/world/magic/constants.py
  src/world/magic/migrations/0135_alter_glimpsetag_axis.py
  src/world/magic/migrations/max_migration.txt
  src/world/progression/seeds.py
  src/world/seeds/tests/content_stub.py
Due: getattr-literal, eslint, typescript, prettier

feat(seeds): attach traditionless DistinctionTags to drawback seeds
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
Due: getattr-literal

feat(tasking): actions layer + telnet 'network' command family (#2820 follow-up) (#2826)
  docs/systems/INDEX.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/tasking.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_tasking_actions.py
  src/commands/default_cmdsets.py
  src/commands/network.py
  src/commands/tests/test_network_command.py
  src/schema.json
  src/world/tasking/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(magic): tradition_membership queries by DistinctionTag not slug
  src/world/magic/services/tradition_membership.py
  src/world/magic/tests/test_tradition_membership.py
Due: getattr-literal

docs: update for data-driven distinction effects (#2752)
  src/world/combat/AGENT_GLOSSARY.md
  src/world/distinctions/CLAUDE.md
Due: none

Restore DB-dependent schema spots clobbered by local type regen (#2694)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Add CHOOSING + REFLECTION glimpse axes (#2694) (#2835)
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/glimpse/GlimpseFlow.tsx
  frontend/src/magic/components/glimpse/__tests__/GlimpseFlow.test.tsx
  frontend/src/magic/components/glimpse/glimpseTypes.ts
  src/schema.json
  src/world/magic/constants.py
  src/world/magic/migrations/0135_alter_glimpsetag_axis.py
  src/world/magic/migrations/max_migration.txt
  src/world/progression/seeds.py
  src/world/seeds/tests/content_stub.py
Due: getattr-literal, eslint, typescript, prettier

Hardcoded distinction slug lookups in code — should be data-driven effects (#2836)
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/consider.py
  src/world/combat/tests/test_consider.py
  src/world/distinctions/CLAUDE.md
  src/world/magic/services/tradition_membership.py
  src/world/magic/tests/test_tradition_membership.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
Due: getattr-literal

feat(content): register 5 achievement models in CONTENT_MODELS (#2832)
  src/core_management/content_export.py
Due: getattr-literal

refactor(seeds): convert 3 Achievement seeders to authored_or_sample lookups (#2832)
  src/world/npc_services/seeds.py
  src/world/npc_services/tests/test_great_archive_seed.py
  src/world/seeds/game_content/magic.py
  src/world/seeds/worship_content.py
Due: getattr-literal

feat(achievements): add natural keys to 5 content models for fixture export (#2832)
  src/world/achievements/migrations/0006_achievementrequirement_unique_achievement_requirement_and_more.py
  src/world/achievements/migrations/max_migration.txt
  src/world/achievements/models.py
  src/world/achievements/tests/test_natural_keys.py
Due: getattr-literal

docs: note achievement definitions are fixture-shippable via CONTENT_MODELS (#2832)
  docs/systems/INDEX.md
  docs/systems/magic.md
Due: none

fix(seeds): convert combo discovery AchievementFactory to authored_or_sample (#2832)
  src/world/seeds/game_content/combos.py
Due: getattr-literal

feat(crisis+tasking): threat & opportunity loop — generalized crisis engine, covert window, spy counterplay (#2837)
  docs/adr/0177-generalized-crisis-engine-covert-window.md
  docs/systems/INDEX.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/currency/services.py
  src/world/game_clock/tasks.py
  src/world/seeds/clusters.py
  src/world/seeds/crisis_types.py
  src/world/seeds/spy_tasks.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/crisis_services.py
  src/world/societies/houses/models.py
  src/world/societies/migrations/0035_crisisintel_domaincrisis_org_and_more.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/serializers.py
  src/world/societies/tests/test_crisis_lifecycle.py
  src/world/societies/views.py
  src/world/tasking/constants.py
  src/world/tasking/migrations/0006_orgtask_target_crisis_alter_orgtask_target_kind_and_more.py
  src/world/tasking/migrations/0007_taskoutcomeroute_crisis_severity_delta_and_more.py
  src/world/tasking/migrations/max_migration.txt
  src/world/tasking/models.py
  src/world/tasking/serializers.py
  src/world/tasking/services.py
  src/world/tasking/spy_payouts.py
  src/world/tasking/tests/test_spy_payouts.py
  src/world/tasking/views.py
  src/world/tidings/services.py
Due: getattr-literal, eslint, typescript, prettier

feat(combat): add capability_grant_value column to CombatPullResolvedEffect (#2730)
  src/world/combat/admin.py
  src/world/combat/factories.py
  src/world/combat/migrations/0064_combatpullresolvedeffect_capability_grant_value.py
  src/world/combat/models.py
  src/world/combat/tests/test_combat_pull.py
Due: getattr-literal
