Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Companion player surface: telnet command + web writes + ReleaseCompanionAction (#1918) (#1927)
  docs/systems/companions.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/companions.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_companion_actions.py
  src/commands/CLAUDE.md
  src/commands/command.py
  src/commands/companion.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_companion_command.py
  src/schema.json
  src/world/companions/serializers.py
  src/world/companions/tests/test_e2e_bind_journey.py
  src/world/companions/tests/test_views.py
  src/world/companions/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(items): remove dead Outfit serializer create/update + redundant refresh (final review finding)
  src/world/items/serializers.py
  src/world/items/views.py
Due: getattr-literal

test: add missing dispatch + ownership-rejection coverage for crafting/outfit (final review finding)
  src/actions/tests/test_outfit_actions.py
  src/commands/tests/test_crafting.py
  src/commands/tests/test_outfit.py
Due: getattr-literal

ruff autofixes
  src/commands/tests/test_consent_commands.py
  src/world/scenes/tests/test_social_pull.py
Due: getattr-literal

test(flows,docs): door-lock gate tenant/no-sheet branch coverage + command_error payload assertion (final review finding)
  docs/systems/items.md
  src/commands/tests/test_door.py
  src/flows/tests/test_object_state_permissions.py
Due: getattr-literal

Address review findings: preview params, fizzle_note rendering, schema regen
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/magic/serializers.py
  src/world/magic/views.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
Due: getattr-literal, eslint, typescript, prettier

Update magic docs + model map for outcome-tier award consolidation
  docs/systems/MODEL_MAP.md
  src/world/magic/CLAUDE.md
Due: none

Mark superseded SoulfrayConfig.ritual_budget_* fields in soulfray-recovery.md
  docs/architecture/soulfray-recovery.md
Due: none

Fix frontend type: make exclude_gift/scene_id optional on PullPreviewRequest
  frontend/src/magic/types.ts
Due: eslint, typescript, prettier

fix(stories): scope BeatViewSet list by story visibility + gate internal_description (#1923)
  src/world/stories/serializers.py
  src/world/stories/tests/test_beat_visibility_1923.py
  src/world/stories/tests/test_serializers_beat.py
  src/world/stories/views.py
Due: getattr-literal

Thread pulls on social actions (#1919) (#1929)
  frontend/src/generated/api.d.ts
  frontend/src/magic/types.ts
  src/commands/combat.py
  src/commands/consent.py
  src/commands/pull_parsing.py
  src/commands/tests/test_consent_commands.py
  src/schema.json
  src/world/magic/serializers.py
  src/world/magic/services/resonance.py
  src/world/magic/types/pull.py
  src/world/magic/views.py
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/migrations/0047_sceneactionpulldeclaration.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/tests/test_action_models.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_cast_services.py
  src/world/scenes/tests/test_social_pull.py
  src/world/scenes/types.py
Due: getattr-literal, eslint, typescript, prettier

chore: regenerate API schema + types (drift from Task 3/7/10 docstring updates)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Seed 3 sanctum award tables + register 4 award models in admin (#1207)
  src/integration_tests/game_content/magic.py
  src/world/magic/admin.py
Due: getattr-literal

BeatViewSet list() leaks internal_description + SECRET beats to any authenticated user (#1932)
  src/world/stories/serializers.py
  src/world/stories/tests/test_beat_visibility_1923.py
  src/world/stories/tests/test_serializers_beat.py
  src/world/stories/views.py
Due: getattr-literal

coverage-gap: no telnet command for crafting, clue search, outfit management, Places, or door lock/unlock (#1931)
  docs/roadmap/crafting-economy.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/items.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/crafting.py
  src/actions/definitions/doors.py
  src/actions/definitions/outfits.py
  src/actions/definitions/places.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_crafting_actions.py
  src/actions/tests/test_door_actions.py
  src/actions/tests/test_outfit_actions.py
  src/actions/tests/test_places_actions.py
  src/commands/CLAUDE.md
  src/commands/crafting.py
  src/commands/default_cmdsets.py
  src/commands/door.py
  src/commands/investigation.py
  src/commands/outfit.py
  src/commands/places.py
  src/commands/tests/test_crafting.py
  src/commands/tests/test_door.py
  src/commands/tests/test_investigation.py
  src/commands/tests/test_outfit.py
  src/commands/tests/test_places.py
  src/flows/object_states/exit_state.py
  src/flows/service_functions/outfits.py
  src/flows/tests/test_object_state_permissions.py
  src/schema.json
  src/world/items/serializers.py
  src/world/items/tests/test_outfit_views.py
  src/world/items/views.py
  src/world/scenes/place_views.py
Due: getattr-literal, eslint, typescript, prettier

Generalize outcome-tier→scalar lookup (GangTurfReputationAward pattern); retire anima/sanctum private tier constants (#1933)
  docs/architecture/soulfray-recovery.md
  docs/systems/MODEL_MAP.md
  frontend/src/magic/sanctumTypes.ts
  src/actions/definitions/sanctum.py
  src/actions/tests/test_sanctum_actions.py
  src/integration_tests/game_content/magic.py
  src/world/checks/models.py
  src/world/checks/tests/test_outcome_tier_award.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/migrations/0087_remove_soulfrayconfig_ritual_budget_critical_success_and_more.py
  src/world/magic/migrations/0088_sanctumdissolutionrecoveryaward_and_more.py
  src/world/magic/migrations/0089_merge_20260706_0645.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/sanctum.py
  src/world/magic/models/soulfray.py
  src/world/magic/services/anima.py
  src/world/magic/services/ritual_checks.py
  src/world/magic/services/sanctum_install.py
  src/world/magic/services/sanctum_rituals.py
  src/world/magic/tests/integration/test_soulfray_recovery_flow.py
  src/world/magic/tests/test_anima_ritual_action.py
  src/world/magic/tests/test_anima_ritual_gaps.py
  src/world/magic/tests/test_anima_ritual_service.py
  src/world/magic/tests/test_ritual_checks.py
  src/world/magic/tests/test_sanctification_touchstone_e2e.py
  src/world/magic/tests/test_sanctum_award_models.py
  src/world/magic/tests/test_sanctum_install.py
  src/world/magic/tests/test_sanctum_install_action_components.py
  src/world/magic/tests/test_sanctum_journey_e2e.py
  src/world/magic/tests/test_sanctum_rituals.py
  src/world/magic/tests/test_sanctum_viewset.py
  src/world/magic/tests/test_soulfray_models.py
  src/world/societies/migrations/0022_alter_gangturfreputationaward_outcome_tier.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
Due: getattr-literal, eslint, typescript, prettier

feat(companions): add order_companion service (#1921)
  src/world/companions/services.py
  src/world/companions/tests/test_order_service.py
Due: getattr-literal

feat(companions): add CompanionAbility + CompanionOrder models (#1921)
  src/world/companions/admin.py
  src/world/companions/constants.py
  src/world/companions/migrations/0005_companion_ability_order.py
  src/world/companions/migrations/max_migration.txt
  src/world/companions/models.py
  src/world/companions/tests/test_companion_ability_order_models.py
Due: getattr-literal

feat(companions): add OrderCompanionAction + registry (#1921)
  src/actions/definitions/companions.py
  src/actions/registry.py
  src/actions/tests/test_base.py
Due: getattr-literal

feat(combat): companion order round-tick integration (#1921)
  src/world/combat/services.py
  src/world/combat/tests/test_companion_order_round.py
Due: getattr-literal

feat(commands): companion order telnet subverb (#1921)
  src/commands/companion.py
  src/commands/tests/test_companion_command.py
Due: getattr-literal

feat(combat): companion DEFEND_ALLY damage interception (#1921)
  src/world/combat/services.py
  src/world/combat/tests/test_companion_defend_ally.py
Due: getattr-literal

feat(companions): web order endpoint (#1921)
  src/world/companions/serializers.py
  src/world/companions/views.py
Due: getattr-literal

feat(battles): companion order battle-scale integration (#1921)
  src/world/battles/resolution.py
Due: getattr-literal

feat(companions): seed sample companion abilities (#1921)
  src/world/companions/content.py
  src/world/companions/tests/test_content.py
Due: getattr-literal

chore: regenerate API types for companion order endpoint (#1921)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat: companion ordering + abilities (#1921) (#1934)
  frontend/src/generated/api.d.ts
  src/actions/definitions/companions.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/companion.py
  src/commands/tests/test_companion_command.py
  src/schema.json
  src/world/battles/resolution.py
  src/world/combat/services.py
  src/world/combat/tests/test_companion_defend_ally.py
  src/world/combat/tests/test_companion_order_round.py
  src/world/companions/admin.py
  src/world/companions/constants.py
  src/world/companions/content.py
  src/world/companions/migrations/0005_companion_ability_order.py
  src/world/companions/migrations/max_migration.txt
  src/world/companions/models.py
  src/world/companions/serializers.py
  src/world/companions/services.py
  src/world/companions/tests/test_companion_ability_order_models.py
  src/world/companions/tests/test_content.py
  src/world/companions/tests/test_order_service.py
  src/world/companions/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(admin): HTMX plumbing + Game Tuning dashboard skeleton (#1221)
  pyproject.toml
  src/server/conf/settings.py
  src/web/admin/game_setup_views.py
  src/web/admin/tests/test_tuning_views.py
  src/web/admin/tuning/__init__.py
  src/web/admin/tuning/views.py
  src/web/admin/urls.py
  src/web/static/admin/js/vendor/htmx.min.js
  src/web/templates/admin/base_site.html
  src/web/templates/admin/game_setup.html
  src/web/templates/admin/tuning/dashboard.html
  uv.lock
Due: getattr-literal

fix(admin): move htmx script tag to dashboard body per task-1 brief
  src/web/templates/admin/tuning/dashboard.html
Due: none

feat(admin): check-success-by-tier analytics panel (#1221)
  src/web/admin/tests/test_checks_analytics.py
  src/web/admin/tuning/checks_analytics.py
  src/web/admin/tuning/views.py
  src/web/admin/urls.py
  src/web/templates/admin/tuning/_checks_panel.html
Due: getattr-literal

fix(admin): checks panel percent display, matchup rank semantics, themed success color (#1221)
  src/web/admin/tests/test_checks_analytics.py
  src/web/admin/tuning/checks_analytics.py
  src/web/templates/admin/tuning/_checks_panel.html
Due: getattr-literal

feat(admin): consequence-pool inspector panel (#1221)
  src/web/admin/tests/test_consequence_analytics.py
  src/web/admin/tuning/consequence_analytics.py
  src/web/admin/tuning/views.py
  src/web/admin/urls.py
  src/web/templates/admin/tuning/_consequences_panel.html
Due: getattr-literal

feat(admin): condition danger analytics panel (#1221)
  src/web/admin/tests/test_condition_analytics.py
  src/web/admin/tuning/condition_analytics.py
  src/web/admin/tuning/views.py
  src/web/admin/urls.py
  src/web/templates/admin/tuning/_conditions_panel.html
Due: getattr-literal

feat(combat): Monte Carlo party-vs-boss simulator over the real engine (#1221)
  src/world/combat/simulation.py
  src/world/combat/tests/test_simulation.py
Due: getattr-literal

feat(vitals): seed stat compositions for resist checks (#1706)
  src/world/areas/positioning/plummet_content.py
  src/world/combat/factories.py
  src/world/vitals/services.py
  src/world/vitals/tests/test_check_compositions.py
Due: getattr-literal

feat(checks): seed Melee Combat skill catalog + Melee Attack check (#1706)
  src/world/seeds/combat_checks.py
  src/world/seeds/tests/test_combat_checks.py
Due: getattr-literal

feat(combat): route physical techniques to Melee Attack ActionTemplate (#1706)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/combat/factories.py
  src/world/magic/serializers.py
  src/world/magic/services/technique_builder.py
  src/world/magic/tests/test_technique_builder_api.py
  src/world/magic/tests/test_technique_builder_service.py
Due: getattr-literal

feat(seeds): wire combat_checks cluster + docs (#1706)
  docs/roadmap/design-tenets.md
  docs/systems/checks.md
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

feat(combat): retrofit penetration + flee to stat + skill (#1706)
  src/world/combat/factories.py
  src/world/combat/tests/test_combat_seeds.py
  src/world/combat/tests/test_flee_seed.py
  src/world/combat/tests/test_penetration_seed.py
Due: getattr-literal

test: update penetration contest integration test for skill leg (#1706)
  src/integration_tests/game_content/tests/test_combat_seed.py
Due: getattr-literal
