Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Address spec review round 1: field-name corrections + EventName extension
  docs/superpowers/specs/2026-04-25-magic-scope-7-corruption-design.md
Due: none

Magic Scope #7 Corruption design spec
  docs/superpowers/specs/2026-04-25-magic-scope-7-corruption-design.md
Due: none

Polish: address spec review NITs
  docs/superpowers/specs/2026-04-25-magic-scope-7-corruption-design.md
Due: none

Add AdvancementOutcome enum + outcome field on SeverityAdvanceResult
  src/world/conditions/types.py
Due: getattr-literal

Add EventName variants for Corruption foundation
  src/flows/constants.py
  src/flows/migrations/0009_alter_triggerdefinition_event_name.py
  src/flows/tests/test_event_names.py
Due: getattr-literal

Add docstrings on Phase 1 TextChoices to match codebase convention
  src/world/conditions/types.py
  src/world/magic/types/corruption.py
Due: getattr-literal

Add corruption type declarations module
  src/world/magic/types/corruption.py
Due: getattr-literal

Add ConditionStage.advancement_resist_failure_kind + ConditionTemplate.corruption_resonance
  src/world/conditions/migrations/0004_conditionstage_advancement_resist_failure_kind_and_more.py
  src/world/conditions/models.py
  src/world/conditions/tests/test_corruption_fields.py
  src/world/conditions/types.py
Due: getattr-literal

Soulfray retrofit: wire resist-check parameters via data migration
  src/world/conditions/migrations/0005_soulfray_retrofit.py
Due: getattr-literal

Wire resist-check-gated stage advancement via HOLD_OVERFLOW
  src/world/conditions/services.py
  src/world/conditions/tests/test_advance_resist.py
Due: getattr-literal

Phase 5: Magic schema additions for Corruption foundation (Scope #7)
  src/world/magic/constants.py
  src/world/magic/factories.py
  src/world/magic/migrations/0030_characterresonance_corruption_current_and_more.py
  src/world/magic/migrations/0031_corruptionconfig.py
  src/world/magic/models/__init__.py
  src/world/magic/models/alterations.py
  src/world/magic/models/aura.py
  src/world/magic/models/corruption_config.py
  src/world/magic/services/corruption.py
  src/world/magic/tests/test_corruption_models.py
Due: getattr-literal

Add CorruptionError + ProtagonismLockedError typed exceptions
  src/world/magic/exceptions.py
  src/world/magic/tests/test_corruption_exceptions.py
Due: getattr-literal

Add CharacterSheet.get_corruption_stage + is_protagonism_locked + with_corruption_at_stage helper
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_corruption_methods.py
  src/world/magic/factories.py
Due: getattr-literal

Add accrue_corruption + reduce_corruption services
  src/world/magic/services/corruption.py
  src/world/magic/tests/test_corruption_services.py
  src/world/magic/types/corruption.py
Due: getattr-literal

Author Atonement Rite Ritual + service + factory (Scope #7 Phase 8)
  src/world/magic/factories.py
  src/world/magic/services/atonement.py
  src/world/magic/tests/test_atonement.py
Due: getattr-literal

Author Primal + Abyssal reference Corruption content factories (Scope #7 Phase 9)
  src/world/magic/tests/test_reference_corruption_content.py
Due: getattr-literal

Sync corruption_current via decay_condition_severity for Corruption-kind conditions
  src/world/conditions/services.py
  src/world/conditions/tests/test_decay_corruption_sync.py
  src/world/magic/services/corruption.py
Due: getattr-literal

Gate AP regen on is_protagonism_locked (Phase 10.3)
  src/world/game_clock/tasks.py
  src/world/game_clock/tests/test_tasks.py
Due: getattr-literal

Gate resonance gain on is_protagonism_locked (Phase 10.1)
  src/world/magic/services/gain.py
  src/world/magic/tests/test_gain_services.py
Due: getattr-literal

Gate XP spend on is_protagonism_locked (Phase 10.2)
  src/world/progression/services/spends.py
  src/world/progression/tests/test_protagonism_lock_spend.py
Due: getattr-literal

Gate scene initiation on is_protagonism_locked (Phase 10.5)
  src/world/scenes/tests/test_protagonism_lock_scene.py
  src/world/scenes/views.py
Due: getattr-literal

Gate story participation on is_protagonism_locked (Phase 10.4)
  src/world/stories/services/participation.py
  src/world/stories/tests/test_protagonism_lock_participation.py
  src/world/stories/views.py
Due: getattr-literal

Gate resonance currency spends on is_protagonism_locked (Phase 10.6)
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_resonance_services.py
Due: getattr-literal

Add Corruption character-loss advisory to Audere offer at stage 3+
  src/world/magic/audere.py
  src/world/magic/tests/test_audere_corruption_advisory.py
Due: getattr-literal

Add Corruption foundation integration tests (excluding cast-pipeline scenarios pending Phase 6.4)
  src/world/magic/tests/integration/test_corruption_flow.py
Due: getattr-literal

Cycle ConditionStageFactory.stage_order in 1..5 to prevent severity_multiplier DecimalField overflow
  src/world/conditions/factories.py
Due: getattr-literal

Update magic roadmap: Scope #7 Corruption foundation DONE
  docs/roadmap/magic.md
Due: none

docs(stories): Phase 4 frontend implementation plan
  docs/plans/2026-04-25-stories-system-phase4-implementation.md
Due: none

Extend TechniqueUseResult with per-resonance involvement
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_technique_use_result_shape.py
  src/world/magic/types/__init__.py
  src/world/magic/types/techniques.py
Due: getattr-literal

Set technique field on use_technique early-exit returns
  src/world/magic/services/techniques.py
Due: getattr-literal

Add accrue_corruption_for_cast per-cast orchestrator
  src/world/magic/services/corruption.py
  src/world/magic/tests/test_corruption_for_cast.py
Due: getattr-literal

Hook accrue_corruption_for_cast into use_technique pipeline
  src/world/magic/services/techniques.py
  src/world/magic/tests/integration/test_corruption_flow.py
Due: getattr-literal

Update Scope #7 roadmap — per-cast hook follow-up shipped
  docs/roadmap/magic.md
Due: none

chore(frontend): regenerate API types after Phase 2/3 backend additions
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

feat(frontend): bootstrap stories and narrative feature folders
  frontend/src/narrative/CLAUDE.md
  frontend/src/narrative/api.ts
  frontend/src/narrative/components/.gitkeep
  frontend/src/narrative/pages/.gitkeep
  frontend/src/narrative/queries.ts
  frontend/src/narrative/types.ts
  frontend/src/stories/CLAUDE.md
  frontend/src/stories/api.ts
  frontend/src/stories/components/.gitkeep
  frontend/src/stories/pages/.gitkeep
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

feat(narrative-fe): API client and React Query hooks
  frontend/src/narrative/__tests__/queries.test.tsx
  frontend/src/narrative/api.ts
  frontend/src/narrative/queries.ts
  frontend/src/narrative/types.ts
Due: eslint, typescript, prettier

feat(narrative-fe): inline rendering of narrative messages in main text feed
  frontend/src/game/components/ChatWindow.test.tsx
  frontend/src/game/components/ChatWindow.tsx
  frontend/src/hooks/parseGameMessage.ts
  frontend/src/hooks/types.ts
Due: eslint, typescript, prettier

feat(narrative-fe): messages section on character sheet page
  frontend/src/lib/relativeTime.ts
  frontend/src/narrative/__tests__/MessagesSection.test.tsx
  frontend/src/narrative/components/CategoryBadge.tsx
  frontend/src/narrative/components/MessageRow.tsx
  frontend/src/narrative/components/MessagesSection.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

feat(narrative-fe): unread-narrative counter in top-level nav
  frontend/src/components/Header.tsx
  frontend/src/narrative/__tests__/MessagesSection.test.tsx
  frontend/src/narrative/components/UnreadNarrativeBadge.tsx
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
