Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(#877): final-review polish — doc accuracy + banner plural copy
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/components/alterations/PendingAlterationBanner.tsx
Due: eslint, typescript, prettier

fix(#877): deflake invalidation test — assert the invalidateQueries call, not GC-raced cache state
  frontend/src/magic/__tests__/alterationQueries.test.tsx
Due: eslint, typescript, prettier

chore: backlog-audit doc fixes — commit migration playbook, fix stale claims (#720, #776, #883) (#884)
  CLAUDE.md
  docs/architecture/migration-nuke-and-rebuild-plan.md
  docs/roadmap/magic.md
Due: none

Two scene tests error on the SQLite fast tier (soulfray DISTINCT ON, kudos cache) (#890)
  src/world/scenes/tests/test_action_services.py
  src/world/scenes/tests/test_scene_magic_integration.py
Due: getattr-literal

Workflow friction: test-invocation/tooling docs, commit helper, gen-api-types drift gate (#891)
  .github/workflows/ci.yml
  CLAUDE.md
  justfile
  tools/skills/running-tests/SKILL.md
Due: none

Declare a paid thread pull alongside an out-of-combat cast (API + FE) (#896)
  docs/roadmap/combat.md
  docs/roadmap/magic.md
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  src/world/magic/narration.py
  src/world/scenes/action_constants.py
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/migrations/0015_scenecastpulldeclaration.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_action_models.py
  src/world/scenes/tests/test_action_serializers.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal, eslint, typescript, prettier

fix(scenes): whispers/table talk no longer leak in public-scene logs
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
Due: getattr-literal

Society-specific qualitative ranking — perception-consistent + web-surfaced (post-#676 Phase I) (#897)
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/ItemFocusView.tsx
  frontend/src/renown/components/RankingBoardCard.test.tsx
  frontend/src/renown/components/RankingBoardCard.tsx
  frontend/src/renown/queries.ts
  src/schema.json
  src/typeclasses/characters.py
  src/web/api/urls.py
  src/world/societies/admin.py
  src/world/societies/fame_reactions.py
  src/world/societies/migrations/0014_famereactionline_famereactioncooldown_and_more.py
  src/world/societies/models.py
  src/world/societies/ranking_services.py
  src/world/societies/ranking_views.py
  src/world/societies/tests/test_renown_fiction_layer.py
  src/world/societies/urls.py
Due: getattr-literal, eslint, typescript, prettier

chore: regen API types for #896's action_interaction field
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

chore: regen API types for #896's action_interaction (unblocks api-types-drift on all PRs) (#901)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix(scenes): whispers/table talk no longer leak in public-scene logs (#900)
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_interaction_views.py
Due: getattr-literal

Mage Scar resolution frontend — resolve PendingAlterations in the web UI (#899)
  docs/roadmap/magic.md
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/conditions/api.ts
  frontend/src/conditions/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/__tests__/AlterationResolveDialog.test.tsx
  frontend/src/magic/__tests__/PendingAlterationBanner.test.tsx
  frontend/src/magic/__tests__/alterationQueries.test.tsx
  frontend/src/magic/api.ts
  frontend/src/magic/components/alterations/AlterationAuthorForm.tsx
  frontend/src/magic/components/alterations/AlterationResolveDialog.tsx
  frontend/src/magic/components/alterations/PendingAlterationBanner.tsx
  frontend/src/magic/pages/AlterationResolutionPage.tsx
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
  frontend/src/magic/queries.ts
  frontend/src/magic/types.ts
  frontend/src/progression/XpKudosPage.tsx
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
  src/schema.json
  src/world/magic/serializers.py
  src/world/magic/tests/test_alteration_views.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(combat): trait-weighted penetration CheckType + check-scoped ModifierTarget seed (#767)
  src/world/combat/factories.py
  src/world/combat/tests/test_penetration_seed.py
  src/world/mechanics/constants.py
Due: getattr-literal

fix(combat): canonical trait categories + idmapper flush in penetration seed tests (#767)
  src/world/combat/factories.py
  src/world/combat/tests/test_penetration_seed.py
Due: getattr-literal

feat(checks): generic CHARACTER modifier source — ModifierTarget-scoped check buffs (#767)
  src/world/checks/constants.py
  src/world/checks/services.py
  src/world/checks/tests/test_collect_check_modifiers.py
Due: getattr-literal

feat(#903): delivery + delivery_receivers on SceneActionRequest
  src/world/scenes/action_models.py
  src/world/scenes/migrations/0016_sceneactionrequest_delivery_and_more.py
  src/world/scenes/tests/test_action_delivery.py
Due: getattr-literal

feat(#903): ActionDelivery enum + ActionTemplate.default_delivery
  src/actions/migrations/0006_actiontemplate_default_delivery.py
  src/actions/models/action_templates.py
  src/actions/tests/test_action_template_delivery.py
  src/world/scenes/action_constants.py
Due: getattr-literal

feat(#903): route result interactions by delivery (whisper/table-talk/pose)
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_delivery.py
Due: getattr-literal

feat(#903): delivery on the action-request API + FE delivery picker
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  src/actions/serializers.py
  src/actions/tests/test_action_template_delivery.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_action_views_delivery.py
Due: getattr-literal, eslint, typescript, prettier

chore(#903): regen api types
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(combat): penetration check honors the shared modifier seam (#767)
  src/world/combat/services.py
  src/world/combat/tests/test_penetration.py
Due: getattr-literal

fix(combat): accurate modifier-source docs + constant in seam test (#767)
  src/world/combat/services.py
  src/world/combat/tests/test_penetration.py
Due: getattr-literal

refactor(#903): address SonarCloud findings
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
  src/world/scenes/action_models.py
  src/world/scenes/action_services.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_action_delivery.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(seed): seed_penetration_contest() in game_content/combat.py, composed into seed_magic_dev (#767)
  src/integration_tests/game_content/combat.py
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_combat_seed.py
Due: getattr-literal

fix(#903): typed mock response + dedupe submenu test setup
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
Due: eslint, typescript, prettier

test(combat): end-to-end +penetration modifier proof; roadmap updates (#767)
  docs/roadmap/magic.md
  docs/roadmap/seed-and-integration-tests.md
  src/integration_tests/game_content/combat.py
  src/integration_tests/game_content/tests/test_combat_seed.py
  src/world/combat/tests/penetration_helpers.py
  src/world/combat/tests/test_penetration.py
  src/world/combat/tests/test_penetration_seed.py
Due: getattr-literal

chore(checks): choices migration for ModifierSourceKind.CHARACTER (#767)
  src/world/checks/migrations/0006_alter_consequenceoutcomemodifier_source_kind.py
Due: getattr-literal

chore: getattr-literal lint fix + formatted migration (#767)
  src/world/checks/migrations/0006_alter_consequenceoutcomemodifier_source_kind.py
  src/world/combat/tests/test_penetration.py
Due: getattr-literal

style: ruff-format collapse of seam-test filter (#767)
  src/world/combat/tests/test_penetration.py
Due: getattr-literal

Action delivery types: pose / whisper / table talk / emit / mutter audience control on scene actions (#908)
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  src/actions/migrations/0006_actiontemplate_default_delivery.py
  src/actions/models/action_templates.py
  src/actions/serializers.py
  src/actions/tests/test_action_template_delivery.py
  src/schema.json
  src/world/scenes/action_constants.py
  src/world/scenes/action_models.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/migrations/0016_sceneactionrequest_delivery_and_more.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_action_delivery.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_action_views_delivery.py
Due: getattr-literal, eslint, typescript, prettier

chore: regen API types for ModifierSourceKind.CHARACTER (#767)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Penetration: seed production content + penetration-scoped modifier (#910)
  docs/roadmap/magic.md
  docs/roadmap/seed-and-integration-tests.md
  frontend/src/generated/api.d.ts
  src/integration_tests/game_content/combat.py
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_combat_seed.py
  src/schema.json
  src/world/checks/constants.py
  src/world/checks/migrations/0006_alter_consequenceoutcomemodifier_source_kind.py
  src/world/checks/services.py
  src/world/checks/tests/test_collect_check_modifiers.py
  src/world/combat/factories.py
  src/world/combat/services.py
  src/world/combat/tests/penetration_helpers.py
  src/world/combat/tests/test_penetration.py
  src/world/combat/tests/test_penetration_seed.py
  src/world/mechanics/constants.py
Due: getattr-literal, eslint, typescript, prettier

feat(#904): reaction-window primitive + Make an Entrance kind
  src/world/magic/apps.py
  src/world/magic/reaction_kinds.py
  src/world/magic/tests/test_entrance_reaction_kind.py
  src/world/progression/services/scene_rewards.py
  src/world/scenes/constants.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/migrations/0017_reactionwindow_windowreaction_and_more.py
  src/world/scenes/models.py
  src/world/scenes/reaction_models.py
  src/world/scenes/reaction_services.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/tests/test_reaction_windows.py
Due: getattr-literal

chore(#904): regen api types
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#904): reaction API surface + frontend strip + entrance composer toggle
  frontend/src/game/components/CommandInput.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/ReactionStrip.test.tsx
  frontend/src/scenes/components/ReactionStrip.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_views.py
  src/world/scenes/reaction_views.py
  src/world/scenes/tests/test_reaction_api.py
  src/world/scenes/urls.py
Due: getattr-literal, eslint, typescript, prettier

refactor(fatigue): get_full_status takes caller-supplied pool, never creates on read
  src/world/fatigue/services.py
  src/world/fatigue/tests/test_services.py
  src/world/fatigue/views.py
Due: getattr-literal

feat(vitals): gated vitals read endpoint for the character sheet (#521)
  src/web/urls.py
  src/world/vitals/serializers.py
  src/world/vitals/tests/test_api.py
  src/world/vitals/urls.py
  src/world/vitals/views.py
Due: getattr-literal

refactor(fatigue): remove consumer-less FatigueStatusView, superseded by /api/vitals/ (#521)
  src/world/fatigue/tests/test_views.py
  src/world/fatigue/urls.py
  src/world/fatigue/views.py
Due: getattr-literal
