Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix: use flush_test_caches for query-count test, revert migration cache
  .github/workflows/ci.yml
Due: none

fix(#1760): wire outcome_key/machine_match_lifecycle_state/faction-standing fields into API+admin
  src/world/stories/admin.py
  src/world/stories/models.py
  src/world/stories/serializers.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/tests/test_serializers_beat.py
  src/world/stories/tests/test_serializers_stakes.py
  src/world/stories/tests/test_services_stake_resolution.py
Due: getattr-literal

chore(#1760): regenerate API schema/types for the newly-wired serializer fields
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix: make crafting query-count test DB-vendor-aware
  src/world/items/tests/test_crafting_query_counts.py
Due: getattr-literal

perf: rebalance CI to 6 shards + --parallel for test-fast + promote test-affected (#1789)
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  justfile
  src/world/items/tests/test_crafting_query_counts.py
  tools/skills/running-tests/SKILL.md
  tools/skills/using-git-worktrees/SKILL.md
Due: getattr-literal

fix(areas): societies_for_scene walks the ancestor chain (#1464 early component)
  src/world/areas/services.py
  src/world/areas/tests.py
Due: getattr-literal

fix(#1760): resolve bump_society_reputation merge collision with #1765
  src/world/societies/renown.py
Due: getattr-literal

Battle system: command hierarchy & the Champion (#1795)
  AGENT_GLOSSARY_MAP.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/battles.md
  src/actions/definitions/battles.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/battle.py
  src/integration_tests/game_content/battles.py
  src/world/battles/AGENT_GLOSSARY.md
  src/world/battles/constants.py
  src/world/battles/duel_wiring.py
  src/world/battles/exceptions.py
  src/world/battles/factories.py
  src/world/battles/migrations/0006_battleside_covenant.py
  src/world/battles/migrations/0007_battleactiondeclaration_scope_and_more.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/tests/test_actions.py
  src/world/battles/tests/test_command.py
  src/world/battles/tests/test_duel_wiring.py
  src/world/battles/tests/test_models.py
  src/world/battles/tests/test_resolution.py
  src/world/battles/tests/test_services_setup.py
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/covenants/constants.py
  src/world/covenants/migrations/0020_covenantrole_command_tier_and_more.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_models.py
  src/world/covenants/tests/test_services.py
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

docs(issue-to-merged-pr): clarify PR-opening is continuous, not a separate gate
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

feat(societies): scandal reach & containment minting at deed birth (#1464, ADR-0082)
  docs/adr/0082-scandal-reach-derived-at-act-birth.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/secrets.md
  src/world/seeds/clusters.py
  src/world/seeds/stealth_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/constants.py
  src/world/societies/scandal.py
  src/world/societies/services.py
  src/world/societies/tests/test_scandal.py
Due: getattr-literal

Multi-objective beat↔scene linkage: one encounter resolving several independent beats (#1798)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/stakes.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/beat_wiring.py
  src/world/combat/migrations/0029_combatencounter_story_beat.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_encounter_beat_wiring.py
  src/world/societies/CLAUDE.md
  src/world/societies/renown.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/admin.py
  src/world/stories/constants.py
  src/world/stories/migrations/0010_alter_stakeresolution_options_and_more.py
  src/world/stories/migrations/0011_stakeresolution_machine_match_lifecycle_state.py
  src/world/stories/migrations/0012_remove_stakeresolution_npc_affection_delta_and_more.py
  src/world/stories/migrations/0013_beat_required_organization_beat_required_society_and_more.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/serializers.py
  src/world/stories/services/beats.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/tests/test_beat.py
  src/world/stories/tests/test_models_stakes.py
  src/world/stories/tests/test_serializers_beat.py
  src/world/stories/tests/test_serializers_stakes.py
  src/world/stories/tests/test_services_beats.py
  src/world/stories/tests/test_services_stake_resolution.py
  src/world/stories/views.py
  tools/skills/issue-to-merged-pr/SKILL.md
Due: getattr-literal, eslint, typescript, prettier

docs: fold-in-not-file default for review-surfaced gaps
  CLAUDE.md
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

docs: triviality disqualifies filing, not just lack of a blocker
  CLAUDE.md
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

docs: trim CLAUDE.md fold-in-not-file section to a pointer
  CLAUDE.md
Due: none

docs: fold-in-not-file default for review-surfaced gaps (#1800)
  CLAUDE.md
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

feat(magic): has_property reads runtime ObjectProperty (#1793)
  src/typeclasses/characters.py
  src/world/magic/tests/test_reactive_scars.py
Due: getattr-literal

feat(flows): add has_capability reactive-trigger DSL op (#1793)
  src/flows/filters/evaluator.py
  src/flows/tests/test_filters/test_evaluator.py
  src/typeclasses/characters.py
  src/world/magic/tests/test_reactive_scars.py
Due: getattr-literal

test(magic): prove target-state has_property cancels DAMAGE_PRE_APPLY (#1793)
  src/world/magic/tests/test_reactive_scars.py
Due: getattr-literal

feat(battles): add ROUT/RALLY/REPEL/HOLD action kinds + morale/VP tuning constants
  src/world/battles/constants.py
  src/world/battles/migrations/0008_alter_battleactiondeclaration_action_kind.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/tests/test_constants.py
Due: getattr-literal

feat(battles): add BattleUnit.morale + BattlePlace.controlled_by fields
  src/world/battles/admin.py
  src/world/battles/migrations/0009_battleplace_controlled_by_battleunit_morale.py
  src/world/battles/migrations/0010_alter_battleplace_movement_cost.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/services.py
  src/world/battles/tests/test_models.py
Due: getattr-literal

feat(battles): add PlaceScopeRequiredError for REPEL/HOLD scope validation
  src/world/battles/exceptions.py
  src/world/battles/tests/test_exceptions.py
Due: getattr-literal

feat(magic): seed curated technique-cast consequence-pool catalog
  src/integration_tests/game_content/magic.py
  src/world/magic/seeds_cast.py
  src/world/magic/tests/test_seeds_cast.py
Due: getattr-literal

feat(battles): derive unit status from strength+morale jointly, not strength alone
  docs/systems/battles.md
  src/world/battles/duel_wiring.py
  src/world/battles/resolution.py
  src/world/battles/tests/test_duel_wiring.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

fix(magic): derive catalog ActionTemplate pipeline/target_type from the base template
  src/world/magic/seeds_cast.py
  src/world/magic/tests/test_seeds_cast.py
Due: getattr-literal

feat(battles): add ROUT and RALLY resolution handlers
  src/world/battles/resolution.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

feat(magic): add Technique.target_prerequisites (#1793)
  src/world/magic/admin.py
  src/world/magic/migrations/0076_technique_target_prerequisites.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/techniques.py
  src/world/magic/tests/test_techniques.py
Due: getattr-literal

feat(battles): require scope=PLACE for REPEL/HOLD declarations
  src/world/battles/services.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

feat(magic): resolve technique action_template from a catalog pool choice
  src/world/magic/exceptions.py
  src/world/magic/services/technique_builder.py
  src/world/magic/tests/test_technique_builder_service.py
  src/world/magic/types/technique_builder.py
Due: getattr-literal

feat(magic): enforce Technique.target_prerequisites in non-combat casts (#1793)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

feat(battles): add REPEL resolution handler with same-round defense bonus
  src/world/battles/resolution.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

feat(battles): add HOLD resolution handler
  src/world/battles/resolution.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

test(battles): cover HOLD dispatch through resolve_battle_round end-to-end (#1712)
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

fix(magic): enforce target_prerequisites for SELF-type technique casts (#1793)
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

feat(magic): expose consequence-pool catalog selection on the technique author API
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/magic/serializers.py
  src/world/magic/tests/test_technique_builder_api.py
  src/world/magic/tests/test_views.py
  src/world/magic/urls.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(battles): add telnet grammar for rout/rally/repel/hold
  src/commands/battle.py
  src/world/battles/tests/test_command.py
Due: getattr-literal

refactor(battles): extract _declare_ally_scoped, drop C901 noqa (#1712)
  src/commands/battle.py
Due: getattr-literal

test(magic): add catalog-pool-choice scenario to the technique authoring journey (red, pending Task 5)
  src/world/magic/tests/test_technique_authoring_journey.py
Due: getattr-literal

feat(combat): enforce Technique.target_prerequisites in combat casts (#1793)
  src/world/combat/services.py
  src/world/combat/tests/test_combat_magic_integration.py
Due: getattr-literal

docs(battles): document rout/rally/repel/hold, morale, and front control
  docs/adr/0082-battle-morale-derives-status-objective-lives-on-place.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/battles.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
  src/world/battles/AGENT_GLOSSARY.md
  src/world/battles/duel_wiring.py
Due: getattr-literal
