Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#567): fury resolution service (provocation cap, clamp, control-retention outcome)
  src/world/magic/services/fury.py
  src/world/magic/tests/test_fury_service.py
Due: getattr-literal

fix(#567): resolve_fury always routes through provocation_cap; cover real path
  src/world/magic/services/fury.py
  src/world/magic/tests/test_fury_service.py
Due: getattr-literal

feat(#567): control_penalty param on use_technique (lowers runtime control before cost+mishap)
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_use_technique_control_penalty.py
Due: getattr-literal

feat(#567): authored Berserk ConditionTemplate factory (seed + test data)
  src/world/magic/factories.py
  src/world/magic/tests/test_berserk_template.py
Due: getattr-literal

feat(#567): remove-condition-on-check effect (apply-on-check existed; remove did not)
  src/actions/effects/conditions.py
  src/actions/effects/registry.py
  src/actions/migrations/0009_removeconditiononcheckconfig.py
  src/actions/migrations/max_migration.txt
  src/actions/models/__init__.py
  src/actions/models/effect_configs.py
  src/actions/tests/test_remove_condition_effect.py
Due: getattr-literal

feat(#567): thread fury through serializer + scene/cast services; apply Berserk + audit
  src/world/magic/services/fury.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_fury_threading.py
  src/world/scenes/types.py
Due: getattr-literal

feat(#567): RestoreSenseAction + authored ActionTemplate (talk a berserk ally down)
  src/actions/definitions/social.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_restore_sense_action.py
  src/world/magic/factories.py
Due: getattr-literal

test(#567): end-to-end Fury berserker loop + audit + edge cases
  src/world/magic/tests/test_fury_integration.py
Due: getattr-literal

fix(#567): restrict fury to technique casts; I2 deferred to follow-up
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_fury_threading.py
Due: getattr-literal

docs: regen MODEL_MAP + add clues/captivity to introspect TARGET_APPS (#1167)
  docs/systems/MODEL_MAP.md
  tools/introspect_models.py
Due: getattr-literal

feat(#1151,#1152): magical-aesthetic axis Phases B+C — style crafting, fashion vogue, perception payoff (closes #546) (#1169)
  docs/roadmap/magic.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/items/migrations/0019_fashionstyle_in_vogue_styles.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/serializers.py
  src/world/items/services/crafting.py
  src/world/items/tests/test_style_crafting.py
  src/world/items/types.py
  src/world/items/urls.py
  src/world/items/views.py
  src/world/magic/CLAUDE.md
  src/world/magic/constants.py
  src/world/magic/factories.py
  src/world/magic/migrations/0033_stylepresentationendorsement_and_more.py
  src/world/magic/migrations/0034_style_presentation_grant.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/endorsement.py
  src/world/magic/models/gain_config.py
  src/world/magic/models/grant.py
  src/world/magic/serializers.py
  src/world/magic/services/gain.py
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_gain_views.py
  src/world/magic/tests/test_style_presentation.py
  src/world/magic/urls.py
  src/world/magic/views.py
  src/world/mechanics/migrations/0004_aestheticaxisconfig_perception_breadth_cap_and_more.py
  src/world/mechanics/migrations/max_migration.txt
  src/world/mechanics/models.py
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_aesthetic_composition.py
  src/world/mechanics/tests/test_fashion_bonus.py
  src/world/mechanics/tests/test_perception_multiplier.py
Due: getattr-literal, eslint, typescript, prettier

feat(#566): encounter scaling + GM tooling — tier-default scaling by story context + party composition (#1170)
  docs/roadmap/combat.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/combat/admin.py
  src/world/combat/constants.py
  src/world/combat/factories.py
  src/world/combat/migrations/0013_opponenttiertemplate_riskscalingmodifier_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/scaling.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_add_opponent_scaling.py
  src/world/combat/tests/test_scaling_api.py
  src/world/combat/tests/test_scaling_compute.py
  src/world/combat/tests/test_scaling_models.py
  src/world/combat/tests/test_scaling_party.py
  src/world/combat/tests/test_scaling_stakes.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

docs(#567): mark Fury lever DONE in combat roadmap
  docs/roadmap/combat.md
Due: none

feat(#1164): bespoke error capture — SystemErrorReport + run_safely boundary (#1168)
  src/typeclasses/characters.py
  src/typeclasses/mixins.py
  src/world/clues/services.py
  src/world/missions/services/trigger_dispatch.py
  src/world/narrative/services.py
  src/world/player_submissions/admin.py
  src/world/player_submissions/constants.py
  src/world/player_submissions/factories.py
  src/world/player_submissions/migrations/0003_systemerrorreport.py
  src/world/player_submissions/migrations/max_migration.txt
  src/world/player_submissions/models.py
  src/world/player_submissions/services.py
  src/world/player_submissions/tests/test_error_capture.py
  src/world/stories/services/tables.py
Due: getattr-literal

feat(#568): duel enums + CombatEncounter.is_lethal
  src/world/combat/constants.py
  src/world/combat/migrations/0013_alter_combatencounter_encounter_type_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_duel_models.py
Due: getattr-literal

feat(#568): passive duel-mirror opponent surface
  src/world/combat/migrations/0014_combatopponent_mirrors_participant.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/combat/tests/test_duel_models.py
Due: getattr-literal

Regenerate API types for the system-errors endpoint (#1164)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Extract shared StatusFilterBar + NextPrevPagination for staff list pages
  frontend/src/staff/components/listControls.tsx
  frontend/src/staff/pages/StaffBugReportsPage.tsx
  frontend/src/staff/pages/StaffFeedbackPage.tsx
  frontend/src/staff/pages/StaffGMApplicationsPage.tsx
  frontend/src/staff/pages/StaffPlayerReportsPage.tsx
  frontend/src/staff/pages/StaffSystemErrorsPage.tsx
Due: eslint, typescript, prettier

feat(#568): CombatEncounter.duel_winner
  src/world/combat/migrations/0015_combatencounter_duel_winner.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_duel_models.py
Due: getattr-literal

feat(#568): DuelChallenge model + factory
  src/world/combat/factories.py
  src/world/combat/migrations/0016_duelchallenge.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_duel_models.py
Due: getattr-literal

feat(#568): create_pvp_duel symmetric mirror setup
  src/world/combat/duels.py
  src/world/combat/factories.py
  src/world/combat/tests/test_duels_services.py
Due: getattr-literal

Keep shared list controls scoped to the new page only
  frontend/src/staff/pages/StaffBugReportsPage.tsx
  frontend/src/staff/pages/StaffFeedbackPage.tsx
  frontend/src/staff/pages/StaffGMApplicationsPage.tsx
  frontend/src/staff/pages/StaffPlayerReportsPage.tsx
Due: eslint, typescript, prettier

feat(#568): create_lethal_duel PC-vs-significant-NPC
  src/world/combat/duels.py
  src/world/combat/factories.py
  src/world/combat/tests/test_duels_services.py
Due: getattr-literal

fix(#567): keep post-partition fury_committed_id out of partition SQL; migrate on PG
  src/world/scenes/sql/partition_interaction_forward.sql
  src/world/scenes/sql/partition_interaction_reverse.sql
  tools/check_partition_sql_drift.py
Due: getattr-literal

feat(#568): duel end conditions (defeat/yield)
  src/world/combat/duels.py
  src/world/combat/services.py
  src/world/combat/tests/test_duels_services.py
Due: getattr-literal

feat(#568): enforce PvP-never-lethal invariant
  src/world/combat/duels.py
  src/world/combat/services.py
  src/world/combat/tests/test_duel_models.py
Due: getattr-literal

Staff triage view for SystemErrorReport (#1164 followup) (#1171)
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/staff/api.ts
  frontend/src/staff/components/listControls.tsx
  frontend/src/staff/pages/StaffHubPage.tsx
  frontend/src/staff/pages/StaffInboxPage.tsx
  frontend/src/staff/pages/StaffSystemErrorDetailPage.tsx
  frontend/src/staff/pages/StaffSystemErrorsPage.tsx
  frontend/src/staff/queries.ts
  frontend/src/staff/types.ts
  frontend/src/staff/utils.ts
  src/schema.json
  src/world/player_submissions/filters.py
  src/world/player_submissions/serializers.py
  src/world/player_submissions/tests/test_views.py
  src/world/player_submissions/urls.py
  src/world/player_submissions/views.py
  src/world/staff_inbox/services.py
  src/world/staff_inbox/tests/test_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(#568): non-lethal cap on soulfray/overburn
  src/world/combat/services.py
  src/world/magic/services/anima.py
  src/world/magic/services/soulfray.py
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_nonlethal_cap.py
Due: getattr-literal

feat(#568): challenge action with social-consent gate
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_duel_actions.py
Due: getattr-literal

fix(#568): guard _consent_blocked against None tenure to prevent AttributeError crash
  src/actions/definitions/duels.py
  src/actions/tests/test_duel_actions.py
Due: getattr-literal

feat(#568): accept/decline/withdraw duel challenge
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_duel_actions.py
  src/world/combat/duels.py
Due: getattr-literal

feat(#750): route defensive combat check through modifier seam with scene
  src/world/combat/services.py
  src/world/combat/tests/test_defense.py
Due: getattr-literal

feat(#750): pass scene-derived society to offense/penetration/flee/environmental/clash checks
  src/world/combat/clash.py
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
Due: getattr-literal

test(#750): accept extra_modifiers in resolve_npc_attack perform_check stubs
  src/world/combat/tests/test_reactive_integration.py
Due: getattr-literal

docs(#750): document scene->perceiving-society resolution in combat checks
  docs/roadmap/items-equipment.md
  src/world/checks/CLAUDE.md
Due: none

feat(#568): yield action + gate YIELD maneuver to DUEL encounters only
  src/actions/definitions/duels.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_duel_actions.py
  src/world/combat/services.py
  src/world/combat/tests/test_duels_services.py
Due: getattr-literal

feat(#572): SceneActionTarget through-model + target_personas M2M
  src/world/scenes/action_models.py
  src/world/scenes/factories.py
  src/world/scenes/migrations/0024_sceneactiontarget_sceneactionrequest_target_personas_and_more.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/tests/test_action_models.py
Due: getattr-literal

feat(#572): per-target consent + NPC auto-resolve services
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal

refactor(#572): extract _resolve_action_against_persona shared resolver
  src/world/scenes/action_services.py
Due: getattr-literal

fix(#572): thread target_persona through _create_result_interaction for additional targets
  src/world/scenes/action_services.py
  src/world/scenes/tests/test_action_services.py
Due: getattr-literal
