Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(estates): three settlement doors — funeral seam delegation, will_reading action, deadline sweeper (#1985)
  src/actions/definitions/estates.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/ceremonies/services.py
  src/world/estates/tests/test_doors.py
  src/world/game_clock/tasks.py
Due: getattr-literal

docs(estates): system doc, INDEX, MODEL_MAP regen, ADR-0133, glossaries, roadmap (#1985)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0133-estate-settlement-is-player-first-and-timer-backed.md
  docs/adr/README.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/estates.md
  src/world/ceremonies/AGENT_GLOSSARY.md
  src/world/estates/AGENT_GLOSSARY.md
Due: none

feat(estates): Agreements tab — will builder, executors, settlement + claim surfaces (#1985)
  frontend/src/estates/__tests__/AgreementsPanel.test.tsx
  frontend/src/estates/components/AgreementsPanel.tsx
  frontend/src/estates/components/BequestEditor.tsx
  frontend/src/estates/components/ExecutorEditor.tsx
  frontend/src/estates/estatesQueries.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

feat(estates): API — will/bequest/executor CRUD, settlement + claim reads, api types (#1985)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/api/urls.py
  src/world/estates/serializers.py
  src/world/estates/tests/test_api.py
  src/world/estates/urls.py
  src/world/estates/views.py
Due: getattr-literal, eslint, typescript, prettier

test(items): craft_attach_facet query count +2 — estates FKs join the material-delete cascade (#1985)
  src/world/items/tests/test_crafting_query_counts.py
Due: getattr-literal

fix(api-types): restore action_category query param dropped by local regen (#1985)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(assets): relax asset_persona to ForeignKey for co-ownership (#2295)
  src/world/assets/constants.py
  src/world/assets/migrations/0009_asset_persona_fk_and_introduction.py
  src/world/assets/models.py
  src/world/assets/tests/test_models.py
Due: getattr-literal

fix(assets): scope coercion block to COERCION-sourced assets (#2295)
  src/world/assets/services.py
  src/world/assets/tests/test_coercion.py
Due: getattr-literal

feat(actions): add IntroduceAssetAction for co-ownership (#2295)
  src/actions/definitions/assets.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_introduce_asset_action.py
Due: getattr-literal

feat(assets): add introduce_asset service for co-ownership (#2295)
  src/world/assets/services.py
  src/world/assets/tests/test_introduction.py
Due: getattr-literal

test(assets): add E2E journey test for co-ownership (#2295)
  src/world/assets/tests/test_e2e_introduction_journey.py
Due: getattr-literal

feat(assets): add introduce web endpoint, telnet command, and ADR-0133 (#2295)
  docs/adr/0133-asset-co-ownership-is-independent-per-owner.md
  src/commands/assets.py
  src/commands/default_cmdsets.py
  src/world/assets/views.py
Due: getattr-literal

chore(assets): update max_migration.txt for 0009 (#2295)
  src/world/assets/migrations/max_migration.txt
Due: none

chore: regenerate API schema + types for introduce endpoint (#2295)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Voluntary asset sharing: multi-owner or transfer model for NPCAssets (#2370)
  docs/adr/0133-asset-co-ownership-is-independent-per-owner.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/assets.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_introduce_asset_action.py
  src/commands/assets.py
  src/commands/default_cmdsets.py
  src/schema.json
  src/world/assets/constants.py
  src/world/assets/migrations/0009_asset_persona_fk_and_introduction.py
  src/world/assets/migrations/max_migration.txt
  src/world/assets/models.py
  src/world/assets/services.py
  src/world/assets/tests/test_coercion.py
  src/world/assets/tests/test_e2e_introduction_journey.py
  src/world/assets/tests/test_introduction.py
  src/world/assets/tests/test_models.py
  src/world/assets/views.py
Due: getattr-literal, eslint, typescript, prettier

chore: remove TEMP harness-bundling workaround — regression fixed by CC 2.1.208 (#883)
  CLAUDE.md
  tools/skills/README.md
  tools/skills/grounding-before-action/SKILL.md
Due: none

feat(currency): add collect_asset_income service (#2294)
  src/world/currency/services.py
  src/world/currency/tests/test_asset_collection.py
Due: getattr-literal

feat(npc_services): add ASSET_TASK_COLLECT OfferKind (#2294)
  src/world/npc_services/constants.py
  src/world/npc_services/migrations/0022_alter_npcserviceoffer_kind.py
Due: getattr-literal

feat(assets): add weekly_income and uncollected_pool to NPCAsset (#2294)
  src/world/assets/admin.py
  src/world/assets/factories.py
  src/world/assets/migrations/0009_asset_income_fields.py
  src/world/assets/models.py
  src/world/assets/tests/test_models.py
Due: getattr-literal

feat(currency): accrue asset income in weekly economy cron (#2294)
  src/world/currency/services.py
  src/world/currency/tests/test_currency.py
Due: getattr-literal

feat(npc_services): add eligibility gate for ASSET_TASK_COLLECT (#2294)
  src/world/assets/tests/test_asset_collection_task.py
  src/world/npc_services/services.py
Due: getattr-literal

feat(assets): add ASSET_TASK_COLLECT effect handler (#2294)
  src/world/assets/apps.py
  src/world/assets/effects.py
  src/world/assets/tests/test_asset_collection_task.py
Due: getattr-literal

feat(assets): seed ASSET_TASK_COLLECT offer (#2294)
  src/world/assets/content.py
  src/world/assets/tests/test_content.py
Due: getattr-literal

docs: update model map and index for asset income collection (#2294)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
Due: none

chore: update max_migration tracking files (#2294)
  src/world/assets/migrations/0010_asset_income_fields.py
  src/world/assets/migrations/max_migration.txt
  src/world/npc_services/migrations/max_migration.txt
Due: getattr-literal

chore: regenerate API schema for ASSET_TASK_COLLECT OfferKind (#2294)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

chore: remove TEMP harness-bundling workaround — regression fixed by CC 2.1.208 (#883) (#2371)
  CLAUDE.md
  tools/skills/README.md
  tools/skills/grounding-before-action/SKILL.md
Due: none

feat(#2218): food collection mini-game — pre/post events + pool-size difficulty
  docs/systems/INDEX.md
  src/actions/definitions/collect_food.py
  src/flows/constants.py
  src/flows/events/payloads.py
  src/flows/migrations/0010_alter_triggerdefinition_event_name.py
  src/flows/migrations/max_migration.txt
  src/flows/service_functions/__init__.py
  src/flows/service_functions/agriculture.py
  src/flows/tests/test_event_names.py
  src/world/agriculture/constants.py
  src/world/agriculture/migrations/0003_foodconfig_pool_difficulty_fields.py
  src/world/agriculture/migrations/max_migration.txt
  src/world/agriculture/models.py
  src/world/agriculture/services/collection.py
  src/world/agriculture/tests/test_action.py
  src/world/agriculture/tests/test_collection.py
  src/world/agriculture/tests/test_collection_events.py
  src/world/agriculture/types.py
Due: getattr-literal

Asset money streams: personal income from owned assets (#2372)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/assets/admin.py
  src/world/assets/apps.py
  src/world/assets/content.py
  src/world/assets/effects.py
  src/world/assets/factories.py
  src/world/assets/migrations/0010_asset_income_fields.py
  src/world/assets/migrations/max_migration.txt
  src/world/assets/models.py
  src/world/assets/tests/test_asset_collection_task.py
  src/world/assets/tests/test_content.py
  src/world/assets/tests/test_models.py
  src/world/currency/services.py
  src/world/currency/tests/test_asset_collection.py
  src/world/currency/tests/test_currency.py
  src/world/npc_services/constants.py
  src/world/npc_services/migrations/0022_alter_npcserviceoffer_kind.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/services.py
Due: getattr-literal, eslint, typescript, prettier

Food collection mini-game — needs-design (#2373)
  docs/systems/INDEX.md
  src/actions/definitions/collect_food.py
  src/flows/constants.py
  src/flows/events/payloads.py
  src/flows/migrations/0010_alter_triggerdefinition_event_name.py
  src/flows/migrations/max_migration.txt
  src/flows/service_functions/__init__.py
  src/flows/service_functions/agriculture.py
  src/flows/tests/test_event_names.py
  src/world/agriculture/constants.py
  src/world/agriculture/migrations/0003_foodconfig_pool_difficulty_fields.py
  src/world/agriculture/migrations/max_migration.txt
  src/world/agriculture/models.py
  src/world/agriculture/services/collection.py
  src/world/agriculture/tests/test_action.py
  src/world/agriculture/tests/test_collection.py
  src/world/agriculture/tests/test_collection_events.py
  src/world/agriculture/types.py
Due: getattr-literal

Fall / Redemption: asymmetric resonance conversion (#1583)
  docs/adr/0134-resonance-as-drift-compromising-acts-grant-spendable-non-native-resonance.md
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/constants.py
  src/world/magic/exceptions.py
  src/world/magic/factories.py
  src/world/magic/migrations/0103_fall_redemption_models.py
  src/world/magic/migrations/0104_alter_fallredemptionconfig_help_text.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/fall_redemption.py
  src/world/magic/models/grant.py
  src/world/magic/services/atonement.py
  src/world/magic/services/conversion.py
  src/world/magic/services/fall_redemption.py
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_atonement.py
  src/world/magic/tests/test_fall_redemption.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

Regenerate API types for new GainSource values (#1583)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Fix SonarCloud: extract constants and helper to reduce cognitive complexity (#1583)
  src/world/magic/models/fall_redemption.py
  src/world/magic/services/atonement.py
Due: getattr-literal

Reduce cognitive complexity: extract _convert_partial and _convert_full helpers (#1583)
  src/world/magic/services/conversion.py
Due: getattr-literal

Fall / Redemption: asymmetric resonance conversion (#2374)
  docs/adr/0134-resonance-as-drift-compromising-acts-grant-spendable-non-native-resonance.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/constants.py
  src/world/magic/exceptions.py
  src/world/magic/factories.py
  src/world/magic/migrations/0103_fall_redemption_models.py
  src/world/magic/migrations/0104_alter_fallredemptionconfig_help_text.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/fall_redemption.py
  src/world/magic/models/grant.py
  src/world/magic/services/atonement.py
  src/world/magic/services/conversion.py
  src/world/magic/services/fall_redemption.py
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_atonement.py
  src/world/magic/tests/test_fall_redemption.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal, eslint, typescript, prettier

feat(military): add MilitaryUnit, Army, ArmyMembership models
  .github/workflows/ci.yml
  src/server/conf/settings.py
  src/world/military/__init__.py
  src/world/military/admin.py
  src/world/military/apps.py
  src/world/military/constants.py
  src/world/military/factories.py
  src/world/military/migrations/0001_initial.py
  src/world/military/migrations/__init__.py
  src/world/military/migrations/max_migration.txt
  src/world/military/models.py
  src/world/military/tests/__init__.py
  src/world/military/tests/test_models.py
Due: getattr-literal

refactor(battles): add military_unit FK to BattleUnit + data migration
  src/world/battles/migrations/0030_battleunit_military_unit.py
  src/world/battles/migrations/0031_populate_military_units.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  tools/check_migration_seed_data.py
Due: getattr-literal

refactor(battles): BattleUnit → thin join over MilitaryUnit
  src/commands/battle.py
  src/world/battles/admin.py
  src/world/battles/factories.py
  src/world/battles/legend_wiring.py
  src/world/battles/migrations/0032_remove_battleunit_capabilities_and_more.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/staging.py
  src/world/battles/tests/test_actions.py
  src/world/battles/tests/test_api.py
  src/world/battles/tests/test_command.py
  src/world/battles/tests/test_duel_wiring.py
  src/world/battles/tests/test_environmental_effects.py
  src/world/battles/tests/test_legend_wiring.py
  src/world/battles/tests/test_models.py
  src/world/battles/tests/test_move.py
  src/world/battles/tests/test_outcome_trigger_coexistence.py
  src/world/battles/tests/test_place_encounter_wiring.py
  src/world/battles/tests/test_query_scaling.py
  src/world/battles/tests/test_resolution.py
  src/world/battles/tests/test_services_setup.py
  src/world/battles/tests/test_siege.py
  src/world/battles/tests/test_staging_services.py
  src/world/battles/tests/test_vehicle_journey.py
  src/world/battles/wiring_helpers.py
  src/world/companions/services.py
  src/world/ships/battle_bridge.py
  src/world/ships/tests/test_battle_bridge.py
  src/world/ships/tests/test_ship_journey.py
Due: getattr-literal

feat(military): add services, tests, and ADR-0125
  docs/adr/0125-battleunit-is-thin-join-over-militaryunit.md
  src/world/military/services.py
  src/world/military/tests/test_services.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
