Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Add ADR-0296 and sync docs for #3807 outcome delivery + resolution theater
  docs/adr/0296-every-resolved-outcome-is-delivered-and-the-wheel-shows-the-raw-chart.md
  docs/adr/README.md
  docs/architecture/non-clash-casting.md
  docs/architecture/scene-magic-enhancement.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/checks.md
  docs/systems/scenes.md
  src/world/checks/AGENT_GLOSSARY.md
  src/world/checks/CLAUDE.md
  src/world/scenes/CLAUDE.md
Due: none

Renumber the #3807 ADR to 0297; open PR #3826 claims 0296
  docs/adr/0297-every-resolved-outcome-is-delivered-and-the-wheel-shows-the-raw-chart.md
  docs/adr/README.md
  docs/architecture/non-clash-casting.md
  docs/architecture/scene-magic-enhancement.md
  docs/systems/INDEX.md
  docs/systems/checks.md
  src/world/checks/AGENT_GLOSSARY.md
  src/world/checks/CLAUDE.md
  src/world/scenes/CLAUDE.md
Due: none

Drop hardcoded bullet-count numeral from polytoken skill intro line
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
Due: none

Add Playwright evidence for #3807 outcome delivery + resolution wheel
  docs/reviews/3807-shots/build-mobile-400.png
  docs/reviews/3807-shots/build-screen1-reader.png
  docs/reviews/3807-shots/build-screen2-landed-dark.png
  docs/reviews/3807-shots/build-screen2-landed.png
  docs/reviews/3807-shots/build-screen2-spinning.png
  docs/reviews/3807-shots/build-screen3-two-outcomes.png
  docs/reviews/3807-shots/demo-screen1.png
  docs/reviews/3807-shots/demo-screen2-dark.png
  docs/reviews/3807-shots/demo-screen2.png
  docs/reviews/3807-shots/demo-screen3.png
  frontend/e2e/resolution-wheel.spec.ts
Due: eslint, typescript, prettier

Fix #3807 review finding: result card matches the approved demo width/caption
  frontend/src/components/roulette/RouletteModal.tsx
  frontend/src/components/roulette/RouletteResult.tsx
  frontend/src/components/roulette/__tests__/RouletteResult.test.tsx
Due: eslint, typescript, prettier

Refresh #3807 evidence: dialog-settle waits, stacking check, reader crop fix
  docs/reviews/3807-shots/build-mobile-400.png
  docs/reviews/3807-shots/build-screen1-reader.png
  docs/reviews/3807-shots/build-screen2-landed-dark.png
  docs/reviews/3807-shots/build-screen2-landed.png
  docs/reviews/3807-shots/build-screen2-spinning.png
  docs/reviews/3807-shots/build-screen3-two-outcomes.png
  frontend/e2e/resolution-wheel.spec.ts
Due: eslint, typescript, prettier

Add #3807 review evidence report
  docs/reviews/3807-review.md
Due: none

Move #3807 review evidence to the PR comment; keep it out of main
  docs/reviews/3807-review.md
  docs/reviews/3807-shots/build-mobile-400.png
  docs/reviews/3807-shots/build-screen1-reader.png
  docs/reviews/3807-shots/build-screen2-landed-dark.png
  docs/reviews/3807-shots/build-screen2-landed.png
  docs/reviews/3807-shots/build-screen2-spinning.png
  docs/reviews/3807-shots/build-screen3-two-outcomes.png
  docs/reviews/3807-shots/demo-screen1.png
  docs/reviews/3807-shots/demo-screen2-dark.png
  docs/reviews/3807-shots/demo-screen2.png
  docs/reviews/3807-shots/demo-screen3.png
Due: none

Mark the wheel's cosmetic landing roll NOSONAR (S2245 false positive)
  frontend/src/components/roulette/RouletteWheel.tsx
Due: eslint, typescript, prettier

Deliver check outcomes live on web and telnet, and spin the success-level wheel for social checks (#3830)
  .pre-commit-config.yaml
  docs/adr/0297-every-resolved-outcome-is-delivered-and-the-wheel-shows-the-raw-chart.md
  docs/adr/README.md
  docs/architecture/non-clash-casting.md
  docs/architecture/scene-magic-enhancement.md
  docs/roadmap/design-tenets.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/checks.md
  docs/systems/scenes.md
  frontend/e2e/resolution-wheel.spec.ts
  frontend/src/components/roulette/RouletteModal.tsx
  frontend/src/components/roulette/RouletteResult.tsx
  frontend/src/components/roulette/RouletteWheel.tsx
  frontend/src/components/roulette/__tests__/RouletteResult.test.tsx
  frontend/src/components/roulette/__tests__/RouletteWheel.test.tsx
  frontend/src/components/roulette/constants.ts
  src/world/checks/AGENT_GLOSSARY.md
  src/world/checks/CLAUDE.md
  src/world/checks/tests/test_theater_check_faces.py
  src/world/checks/theater.py
  src/world/magic/audere_majora.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_outcome_delivery.py
  tools/agents/README.md
  tools/agents/outcome-delivery-reviewer.md
  tools/lint_undelivered_interaction.py
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/tests/test_lint_undelivered_interaction.py
Due: getattr-literal, eslint, typescript, prettier

Workbench queue opens on To write, counts only the filtered rows, and To review means written-not-reviewed
  src/web/admin/authoring/views.py
  src/web/admin/constants.py
  src/web/admin/tests/test_authoring_views.py
  src/web/templates/admin/authoring/_queue_panel.html
Due: getattr-literal

Workbench filters survive a credit and a reload, and each queue row tells the editor where it came from
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_views.py
  src/web/templates/admin/authoring/_queue_panel.html
  src/web/templates/admin/authoring/dashboard.html
Due: getattr-literal

Workbench editor puts the prose box first and sits above the queue; the open row is shaded
  src/web/admin/tests/test_authoring_editor.py
  src/web/admin/tests/test_authoring_views.py
  src/web/templates/admin/authoring/_editor_panel.html
  src/web/templates/admin/authoring/_queue_panel.html
  src/web/templates/admin/authoring/dashboard.html
Due: getattr-literal

Workbench editor gets a Next control that follows the queue it was opened from
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/templates/admin/authoring/_editor_panel.html
Due: getattr-literal

Stats panel speaks the queue's vocabulary, and the docs describe the writing pass
  docs/systems/INDEX.md
  docs/systems/content-authoring.md
  src/web/admin/CLAUDE.md
  src/web/admin/authoring/backlog.py
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_backlog.py
  src/web/admin/tests/test_authoring_views.py
  src/web/templates/admin/authoring/_stats_panel.html
  src/world/contributors/admin.py
Due: getattr-literal

Fold in the demo-fidelity review: approved copy for the position line, and a rule for successnote
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/admin/tests/test_authoring_views.py
  src/web/templates/admin/authoring/_editor_panel.html
  src/web/templates/admin/authoring/dashboard.html
Due: getattr-literal

Broadcast room_state on Place join and leave (#3810)
  src/world/scenes/place_services.py
  src/world/scenes/tests/test_place_services.py
Due: getattr-literal

Add place assignment to the room_state payload (#3810)
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
Due: getattr-literal

Source the viewer's own current Place from Redux, not a stale fetch (#3810)
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
Due: eslint, typescript, prettier

Thread place_id/viewer_place_id through the room_state Redux mapping (#3810)
  frontend/src/game/GamePage.test.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Fix em-dash slip in a #3810 test comment (review finding)
  frontend/src/game/components/CommandInput.test.tsx
Due: eslint, typescript, prettier

Recheck tag reachability live on mode switch and room_state change (#3810)
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
Due: eslint, typescript, prettier

Add tagReachability, a client mirror of persona_can_receive (#3810)
  frontend/src/scenes/__tests__/tagReachability.test.ts
  frontend/src/scenes/tagReachability.ts
Due: eslint, typescript, prettier

Correct persona_can_receive docs: this branch adds a second client-side mirror (#3810)
  docs/systems/INDEX.md
  docs/systems/scene-interaction-threads.md
Due: none

Fix tagReachability's place check to gate on tt mode, not actor seating (#3810)
  frontend/src/scenes/__tests__/tagReachability.test.ts
  frontend/src/scenes/tagReachability.ts
Due: eslint, typescript, prettier

Add demo-fidelity review evidence for #3810
  docs/pr-evidence/3810-demo-fidelity-report.md
  docs/pr-evidence/3810-render-evidence/midDraft-a-reachable-same-place.html
  docs/pr-evidence/3810-render-evidence/midDraft-b-live-refusal-after-room-state-push.html
  docs/pr-evidence/3810-render-evidence/screen1-whisper-no-refusal.html
  docs/pr-evidence/3810-render-evidence/screen2-tt-live-refusal.html
Due: none

Move place_id into ObjectStateSerializer via context, matching is_mission_board (#3810)
  src/flows/service_functions/serializers/room_state.py
  src/flows/types.py
Due: getattr-literal

Add live-rerender tests proving tagRefusal recomputes on prop/selector change (#3810)
  docs/pr-evidence/3810-rerender-test-addition-report.md
  frontend/src/game/components/CommandInput.test.tsx
Due: eslint, typescript, prettier

Test the symmetric actor-place-change trigger for tag reachability (#3810)
  frontend/src/game/components/CommandInput.test.tsx
Due: eslint, typescript, prettier

Reformat demo-fidelity evidence to the required review-evidence schema (#3810)
  docs/pr-evidence/3810-actor-place-change-test-report.md
  docs/pr-evidence/3810-demo-fidelity-report.md
Due: none

Tagging tells you too late: check reachability against frontend room state, not after send (#3833)
  docs/pr-evidence/3810-actor-place-change-test-report.md
  docs/pr-evidence/3810-demo-fidelity-report.md
  docs/pr-evidence/3810-render-evidence/midDraft-a-reachable-same-place.html
  docs/pr-evidence/3810-render-evidence/midDraft-b-live-refusal-after-room-state-push.html
  docs/pr-evidence/3810-render-evidence/screen1-whisper-no-refusal.html
  docs/pr-evidence/3810-render-evidence/screen2-tt-live-refusal.html
  docs/pr-evidence/3810-rerender-test-addition-report.md
  docs/systems/INDEX.md
  docs/systems/scene-interaction-threads.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/scenes/__tests__/tagReachability.test.ts
  frontend/src/scenes/tagReachability.ts
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
  src/flows/service_functions/serializers/room_state.py
  src/flows/tests/test_room_state_serializer.py
  src/flows/types.py
  src/world/scenes/place_services.py
  src/world/scenes/tests/test_place_services.py
Due: getattr-literal, eslint, typescript, prettier

Authoring Workbench opens on To write, keeps its filters, puts prose first, and adds Next (#3832)
  docs/systems/INDEX.md
  docs/systems/content-authoring.md
  src/web/admin/CLAUDE.md
  src/web/admin/authoring/backlog.py
  src/web/admin/authoring/views.py
  src/web/admin/constants.py
  src/web/admin/tests/test_authoring_backlog.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/admin/tests/test_authoring_views.py
  src/web/templates/admin/authoring/_editor_panel.html
  src/web/templates/admin/authoring/_queue_panel.html
  src/web/templates/admin/authoring/_stats_panel.html
  src/web/templates/admin/authoring/dashboard.html
  src/world/contributors/admin.py
Due: getattr-literal

Pre-commit hook that never clears the worktree, so implementers can share one (#3826)
  .devcontainer/post-create.sh
  .pre-commit-config.yaml
  CLAUDE.md
  docs/adr/0296-the-commit-hook-never-clears-the-worktree.md
  docs/adr/README.md
  docs/dev-commands.md
  justfile
  tools/githooks/install.sh
  tools/githooks/pre-commit
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/tests/test_githook_pre_commit.py
Due: getattr-literal

Link every Required content row to the admin page that authors it (#3831)
  docs/systems/INDEX.md
  docs/systems/tuning.md
  src/web/admin/authoring/links.py
  src/web/admin/tests/test_required_content.py
  src/web/admin/tuning/required_content.py
  src/web/templates/admin/tuning/_required_content_panel.html
Due: getattr-literal

Register admin pages for societies, houses, scenes and weather config tables (#3831)
  src/web/admin/tests/test_config_table_admins.py
  src/world/scenes/admin.py
  src/world/societies/admin.py
  src/world/weather/admin.py
Due: getattr-literal

Register admin pages for NPC services, predators, progression and roster config tables (#3831)
  src/web/admin/tests/test_config_table_admins.py
  src/world/admin.py
  src/world/npc_services/admin.py
  src/world/predators/admin.py
  src/world/progression/admin/__init__.py
  src/world/progression/admin/advancement_admin.py
  src/world/progression/admin/unlocks_admin.py
  src/world/roster/admin.py
Due: getattr-literal

Register admin pages for combat, conditions, buildings, positioning and other config tables (#3831)
  src/actions/admin.py
  src/behaviors/admin.py
  src/web/admin/tests/test_authoring_links.py
  src/web/admin/tests/test_config_table_admins.py
  src/world/areas/admin.py
  src/world/buildings/admin.py
  src/world/captivity/admin.py
  src/world/character_creation/admin.py
  src/world/checks/admin.py
  src/world/classes/admin.py
  src/world/combat/admin.py
  src/world/companions/admin.py
  src/world/conditions/admin.py
Due: getattr-literal

Register admin pages for magic, mechanics and mission config tables (#3831)
  src/web/admin/tests/test_config_table_admins.py
  src/web/admin/tests/test_content_row_export_views.py
  src/world/admin.py
  src/world/magic/admin.py
  src/world/mechanics/admin.py
  src/world/missions/admin.py
Due: getattr-literal

Register admin pages for covenants, dreams, currency, crafting, mantle and justice config tables (#3831)
  src/web/admin/tests/test_config_table_admins.py
  src/world/covenants/admin.py
  src/world/currency/admin.py
  src/world/dreams/admin.py
  src/world/items/admin.py
  src/world/justice/admin.py
Due: getattr-literal

Correct docs that deferred config seeding to an unbuilt startup page (#3831)
  docs/adr/0251-content-dependencies-are-a-live-db-registry.md
  docs/architecture/damage-scaling.md
  docs/roadmap/combat-build-history.md
  src/web/admin/CLAUDE.md
  src/web/admin/authoring/links.py
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/admin/tests/test_content_row_export_views.py
  src/world/conditions/models.py
  src/world/missions/admin.py
  src/world/npc_services/admin.py
Due: getattr-literal
