Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Fix round 2: pending dig-links capture their world at dig time (#3477)
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/document/Compass.tsx
  frontend/src/world-builder/document/RoomDocument.tsx
  frontend/src/world-builder/document/__tests__/Compass.test.tsx
  frontend/src/world-builder/document/__tests__/RoomDocument.test.tsx
Due: eslint, typescript, prettier

Fix round 2: room budgets enforced; AddDialog stops wiping typed input (#3477)
  frontend/src/world-builder/atlas/AddDialog.tsx
  src/actions/CLAUDE.md
  src/actions/definitions/world_builder.py
  src/actions/prerequisites.py
  src/actions/tests/test_prerequisites.py
  src/world/gm/models.py
  src/world/gm/services.py
Due: getattr-literal, eslint, typescript, prettier

CI fix: the unplan glyph answers the keyboard too (#3477)
  frontend/src/world-builder/atlas/Lattice.tsx
Due: eslint, typescript, prettier

Hall polish: theme toggle never renders empty; mail/occasions/crier copy lands
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/__tests__/ModeToggle.test.tsx
  frontend/src/home/hall/AttentionBand.tsx
  frontend/src/home/hall/WorldBand.tsx
  frontend/src/home/hall/__tests__/AttentionBand.test.tsx
Due: eslint, typescript, prettier

The Calendar becomes Time: IC clock + docked character's weather; occasions copy (#3539 round 2)
  frontend/src/generated/api.d.ts
  frontend/src/home/hall/WorldBand.tsx
  frontend/src/home/hall/__tests__/WorldBand.test.tsx
  frontend/src/weather/api.ts
  frontend/src/weather/queries.ts
  src/schema.json
  src/world/weather/serializers.py
  src/world/weather/tests/test_views.py
  src/world/weather/views.py
Due: getattr-literal, eslint, typescript, prettier

Hall polish: theme toggle never renders empty; honest mail states; occasions/crier copy (#3539)
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/__tests__/ModeToggle.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/home/hall/AttentionBand.tsx
  frontend/src/home/hall/WorldBand.tsx
  frontend/src/home/hall/__tests__/AttentionBand.test.tsx
  frontend/src/home/hall/__tests__/WorldBand.test.tsx
  frontend/src/weather/api.ts
  frontend/src/weather/queries.ts
  src/schema.json
  src/world/weather/serializers.py
  src/world/weather/tests/test_views.py
  src/world/weather/views.py
Due: getattr-literal, eslint, typescript, prettier

The primary Discovery slot is arbitrary: assert the credited set, not who sits in the FK (#3474)
  src/world/achievements/CLAUDE.md
  src/world/achievements/services.py
  src/world/combat/services.py
  src/world/combat/tests/test_encounter_aftermath.py
Due: getattr-literal

Retire the grid-first canvas: WorldBuilderPage, RoomEditorPage, and their orphans (#3538)
  frontend/src/App.tsx
  frontend/src/story-builder/pages/StoryBuilderPage.tsx
  frontend/src/world-builder/components/AreaArrangeCanvas.tsx
  frontend/src/world-builder/components/AreaTreePanel.test.tsx
  frontend/src/world-builder/components/AreaTreePanel.tsx
  frontend/src/world-builder/components/CreateAreaDialog.tsx
  frontend/src/world-builder/components/PromoteAreaButton.test.tsx
  frontend/src/world-builder/components/PromoteAreaButton.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/pages/RoomEditorPage.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
Due: eslint, typescript, prettier

Docs: the retired WorldBuilderPage stops being described in the present tense (#3538)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
Due: none

Hang art from the builder: art_id on the edit verbs, ArtDialog on both documents (#3535)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  frontend/src/world-builder/document/AreaDocument.tsx
  frontend/src/world-builder/document/ArtDialog.tsx
  frontend/src/world-builder/document/Marginalia.tsx
  frontend/src/world-builder/document/RoomDocument.tsx
  frontend/src/world-builder/document/__tests__/ArtDialog.test.tsx
  frontend/src/world-builder/document/__tests__/Marginalia.test.tsx
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
Due: getattr-literal, eslint, typescript, prettier

Retire the stranded grid-first canvas components (#3541)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  frontend/src/App.tsx
  frontend/src/story-builder/pages/StoryBuilderPage.tsx
  frontend/src/world-builder/components/AreaArrangeCanvas.tsx
  frontend/src/world-builder/components/AreaTreePanel.test.tsx
  frontend/src/world-builder/components/AreaTreePanel.tsx
  frontend/src/world-builder/components/CreateAreaDialog.tsx
  frontend/src/world-builder/components/PromoteAreaButton.test.tsx
  frontend/src/world-builder/components/PromoteAreaButton.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/pages/RoomEditorPage.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
Due: eslint, typescript, prettier

Room and area art authoring from the builder (#3542)
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  frontend/src/world-builder/document/AreaDocument.tsx
  frontend/src/world-builder/document/ArtDialog.tsx
  frontend/src/world-builder/document/Marginalia.tsx
  frontend/src/world-builder/document/RoomDocument.tsx
  frontend/src/world-builder/document/__tests__/ArtDialog.test.tsx
  frontend/src/world-builder/document/__tests__/Marginalia.test.tsx
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
Due: getattr-literal, eslint, typescript, prettier

Marginalia phase 2 backend: resonance readings, condition catalogs, grant-scoped reads (#3534)
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/atlas/__tests__/AreaPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/AtlasPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/IndexRail.test.tsx
  frontend/src/world-builder/document/__tests__/AreaDocument.test.tsx
  frontend/src/world-builder/document/__tests__/RoomDocument.test.tsx
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_builder_views.py
  src/world/magic/services/resonance_environment.py
Due: getattr-literal, eslint, typescript, prettier

Every marginalia category is a door: reused Phase B editors + real resonance (#3534)
  frontend/src/world-builder/components/RoomAuthoringSections.tsx
  frontend/src/world-builder/document/AreaDocument.tsx
  frontend/src/world-builder/document/CategoryDoorDialog.tsx
  frontend/src/world-builder/document/Marginalia.tsx
  frontend/src/world-builder/document/RoomDocument.tsx
  frontend/src/world-builder/document/__tests__/CategoryDoorDialog.test.tsx
  frontend/src/world-builder/document/__tests__/Marginalia.test.tsx
  frontend/src/world-builder/types.ts
Due: eslint, typescript, prettier

The atlas wears the warrant: grant rooting, ceiling-absent affordances, budgets (#3534)
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/atlas/AreaPage.tsx
  frontend/src/world-builder/atlas/AtlasPage.tsx
  frontend/src/world-builder/atlas/IndexRail.tsx
  frontend/src/world-builder/atlas/Lattice.tsx
  frontend/src/world-builder/atlas/__tests__/AreaPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/AtlasPage.test.tsx
  frontend/src/world-builder/atlas/__tests__/IndexRail.test.tsx
  frontend/src/world-builder/atlas/__tests__/Lattice.test.tsx
  frontend/src/world-builder/queries.ts
Due: eslint, typescript, prettier

Roadmap: record marginalia phase 2 (#3534)
  docs/roadmap/tooling.md
Due: none

Nightly migration replay: key sequence rows on the owning column, not the sequence name
  .pre-commit-config.yaml
  docs/adr/0200-schema-paths-are-diff-gated.md
  docs/adr/README.md
  docs/evennia-quirks.md
  tools/compare_schemas.py
  tools/tests/test_compare_schemas.py
Due: getattr-literal

Name the repeated literals SonarCloud flagged, and read data-* via .dataset
  src/commands/evennia_overrides/communication.py
  src/commands/positions.py
  src/web/admin/views.py
  src/web/templates/admin/export_preview.html
  src/web/templates/admin/import_preview.html
  src/world/character_creation/views.py
  src/world/events/factories.py
  src/world/journals/views.py
  src/world/mechanics/factories.py
  src/world/mechanics/models.py
  src/world/mechanics/serializers.py
  src/world/player_submissions/models.py
  src/world/player_submissions/serializers.py
  src/world/progression/factories.py
  src/world/relationships/factories.py
  src/world/relationships/serializers.py
  src/world/scenes/models.py
  src/world/seeds/social_actions.py
  src/world/societies/models.py
Due: getattr-literal

Read Sentry back: a daily pointer-only digest on the board
  .github/workflows/sentry-digest.yml
  docs/adr/0254-sentry-digest-is-a-pointer-not-a-reproduction.md
  docs/adr/README.md
  docs/operations/sentry-triage.md
  infra/README.md
  tools/sentry_constants.py
  tools/sentry_digest.py
  tools/sentry_resolve.py
  tools/tests/test_sentry_digest.py
Due: getattr-literal

Pull the gate blocks out of four functions SonarCloud called too complex
  src/web/admin/tuning/required_content.py
  src/world/items/services/org_vault.py
  src/world/items/services/usage.py
  src/world/societies/legend_settlement.py
Due: getattr-literal

Name the branching steps in six more functions SonarCloud called too complex
  src/actions/base.py
  src/actions/services.py
  src/world/progression/services/vote_processing.py
  src/world/scenes/action_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/serializers.py
Due: getattr-literal

Split four more complexity findings into the questions they were answering
  src/core/natural_keys.py
  src/core_management/management/commands/makemigrations.py
  src/world/mechanics/challenge_resolution.py
  src/world/mechanics/services.py
Due: getattr-literal

Correct the credential type: an org auth token cannot read issues
  docs/adr/0254-sentry-digest-is-a-pointer-not-a-reproduction.md
  docs/operations/sentry-triage.md
  infra/README.md
  tools/sentry_constants.py
Due: getattr-literal

Break up the eight TypeScript functions SonarCloud called too complex
  frontend/src/battles/components/BattleActionPanel.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/events/pages/EventsListPage.tsx
  frontend/src/flows-builder/pages/TriggerDefinitionEditorPage.tsx
  frontend/src/flows-builder/stepTree.ts
  frontend/src/lib/formatParser.ts
Due: eslint, typescript, prettier

Clear the six findings the refactors themselves introduced
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/events/pages/EventsListPage.tsx
  frontend/src/lib/formatParser.ts
Due: eslint, typescript, prettier

Ask Sentry for every unresolved issue, not a 14-day window
  tools/sentry_constants.py
  tools/tests/test_sentry_constants.py
Due: getattr-literal

Accept short ids, surface API errors, and document rigorous closing
  docs/operations/sentry-triage.md
  tools/sentry_constants.py
  tools/sentry_digest.py
  tools/sentry_resolve.py
  tools/tests/test_sentry_constants.py
  tools/tests/test_sentry_digest.py
Due: getattr-literal

Fix every open SonarCloud finding: 26 duplicate literals, 22 complexity refactors, 2 dataset reads (#3547)
  frontend/src/battles/components/BattleActionPanel.tsx
  frontend/src/character-creation/components/StageStepper.tsx
  frontend/src/components/RichTextInput.tsx
  frontend/src/events/pages/EventsListPage.tsx
  frontend/src/flows-builder/pages/TriggerDefinitionEditorPage.tsx
  frontend/src/flows-builder/stepTree.ts
  frontend/src/lib/formatParser.ts
  src/actions/base.py
  src/actions/services.py
  src/commands/evennia_overrides/communication.py
  src/commands/positions.py
  src/core/natural_keys.py
  src/core_management/management/commands/makemigrations.py
  src/web/admin/tuning/required_content.py
  src/web/admin/views.py
  src/web/templates/admin/export_preview.html
  src/web/templates/admin/import_preview.html
  src/world/character_creation/views.py
  src/world/events/factories.py
  src/world/items/services/org_vault.py
  src/world/items/services/usage.py
  src/world/journals/views.py
  src/world/mechanics/challenge_resolution.py
  src/world/mechanics/factories.py
  src/world/mechanics/models.py
  src/world/mechanics/serializers.py
  src/world/mechanics/services.py
  src/world/player_submissions/models.py
  src/world/player_submissions/serializers.py
  src/world/progression/factories.py
  src/world/progression/services/vote_processing.py
  src/world/relationships/factories.py
  src/world/relationships/serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/models.py
  src/world/scenes/serializers.py
  src/world/seeds/social_actions.py
  src/world/societies/legend_settlement.py
  src/world/societies/models.py
Due: getattr-literal, eslint, typescript, prettier

Record the executable bit on the Sentry scripts
  tools/sentry_digest.py
  tools/sentry_resolve.py
Due: getattr-literal

Read Sentry back: a daily pointer-only digest on the board (#3546)
  .github/workflows/sentry-digest.yml
  docs/adr/0254-sentry-digest-is-a-pointer-not-a-reproduction.md
  docs/adr/README.md
  docs/operations/sentry-triage.md
  infra/README.md
  tools/sentry_constants.py
  tools/sentry_digest.py
  tools/sentry_resolve.py
  tools/tests/test_sentry_constants.py
  tools/tests/test_sentry_digest.py
Due: getattr-literal

Make the SonarCloud rule policy a file in git that CI enforces
  .github/workflows/ci.yml
  docs/dev-commands.md
  sonar-project.properties
  sonar-rules.yaml
  tools/sonar_profile.py
  tools/tests/test_sonar_profile.py
Due: getattr-literal

Nightly migration replay: key sequence rows on the owning column, not the sequence name (#3545)
  .pre-commit-config.yaml
  docs/adr/0200-schema-paths-are-diff-gated.md
  docs/adr/README.md
  docs/evennia-quirks.md
  tools/compare_schemas.py
  tools/tests/test_compare_schemas.py
Due: getattr-literal

Record tools/sonar_profile.py as executable, matching its siblings
  tools/sonar_profile.py
Due: getattr-literal

SonarCloud rule policy as code: replace the multicriteria block that never worked (#3550)
  .github/workflows/ci.yml
  docs/dev-commands.md
  sonar-project.properties
  sonar-rules.yaml
  tools/sonar_profile.py
  tools/tests/test_sonar_profile.py
Due: getattr-literal

Reject 21 more SonarCloud rules the tail triage found to be ceremony
  sonar-rules.yaml
Due: none

Reject 21 more SonarCloud rules: the tail triage Phase 1 deferred (#3571)
  sonar-rules.yaml
Due: none

Apply the same flatness rules to tools/, which the first pass missed
  tools/lint_objectdb_param.py
  tools/lint_prefetch_string.py
  tools/lint_shared_memory.py
  tools/lint_use_filterset.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
