Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Add alpha browser connection diagnostics recorder (#3934) (#4012)
  frontend/src/diagnostics/ConnectionDiagnosticsSettings.tsx
  frontend/src/diagnostics/connectionDiagnostics.test.ts
  frontend/src/diagnostics/connectionDiagnostics.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/pages/SettingsPage.tsx
Due: eslint, typescript, prettier

Fix puppet entry readiness failures (#3993) (#4014)
  frontend/src/game/components/ExplorationReader.test.tsx
  frontend/src/game/components/ExplorationReader.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/hooks/useGameSocket.ts
  frontend/src/store/gameSlice.ts
  src/typeclasses/accounts.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_login_entry.py
  src/typeclasses/tests/test_puppet_session_hooks.py
Due: getattr-literal, eslint, typescript, prettier

Wire covenant scaling into combat rally (#4013)
  src/world/combat/services.py
  src/world/combat/tests/test_social_combat_e2e.py
Due: getattr-literal

fix(frontend): gate websocket reconnects on readiness
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
Due: eslint, typescript, prettier

Fix liveness config correlation hashing
  tools/telnet_idle_soak.py
Due: getattr-literal

test: add authenticated liveness soak harness
  docs/operations/liveness-soak.md
  frontend/e2e/liveness-soak.spec.ts
  frontend/liveness-soak.playwright.config.ts
  pyproject.toml
  tools/telnet_idle_soak.py
  tools/tests/test_telnet_idle_soak.py
Due: getattr-literal, eslint, typescript, prettier

fix: satisfy soak harness security checks
  tools/telnet_idle_soak.py
Due: getattr-literal

Make reconnect intent and readiness explicit (#4007) (#4015)
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
Due: eslint, typescript, prettier

test: cover survivability journeys
  src/integration_tests/test_survivability_journey.py
Due: getattr-literal

Add authenticated liveness soak harness (#4008) (#4016)
  docs/operations/liveness-soak.md
  frontend/e2e/liveness-soak.spec.ts
  frontend/liveness-soak.playwright.config.ts
  pyproject.toml
  tools/telnet_idle_soak.py
  tools/tests/test_telnet_idle_soak.py
Due: getattr-literal, eslint, typescript, prettier

CG pass 1: a Select mark on every picker entry, realm confirm only when it clears something, plain rail notes (#4022)
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/PathStage.test.tsx
  frontend/src/character-creation/__tests__/components/gift/GiftSelector.test.tsx
  frontend/src/character-creation/__tests__/components/gift/TechniqueSelector.test.tsx
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/gift/GiftSelector.tsx
  frontend/src/character-creation/components/gift/TechniqueSelector.tsx
  frontend/src/character-creation/folio/ContentsRail.tsx
  frontend/src/character-creation/folio/Entry.tsx
Due: eslint, typescript, prettier

Gender: is_cg_selectable replaces the unread is_default; CG lists and accepts only selectable rows (#4022)
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  frontend/e2e/evidence/cg-pass1-4022.spec.ts
  frontend/src/character-creation/CLAUDE.md
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_gender_options.py
  src/world/character_creation/views.py
  src/world/character_sheets/CLAUDE.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/models.py
  src/world/migrations/0160_remove_gender_is_default_gender_is_cg_selectable.py
  src/world/migrations/max_migration.txt
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_cg_seed_gaps.py
Due: getattr-literal, eslint, typescript, prettier

Review evidence for #4022 (transient: removed again before the PR opens)
  docs/reviews/4022/heritage-1280.png
  docs/reviews/4022/heritage-390.png
  docs/reviews/4022/heritage-species-chosen-1280.png
  docs/reviews/4022/origin-changed-no-confirm-1280.png
  docs/reviews/4022/origin-chosen-1280.png
  docs/reviews/4022/review-evidence.md
Due: none

Remove the transient review evidence; it lives in the issue comment (#4022)
  docs/reviews/4022/heritage-1280.png
  docs/reviews/4022/heritage-390.png
  docs/reviews/4022/heritage-species-chosen-1280.png
  docs/reviews/4022/origin-changed-no-confirm-1280.png
  docs/reviews/4022/origin-chosen-1280.png
  docs/reviews/4022/review-evidence.md
Due: none

Tests: look up a seeded gender, not the removed Unspecified row (#4022)
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal

CG walkthrough pass 1: a Select mark on every picker, realm confirm only when it clears something, plain rail notes, Gender cleanup (#4023)
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  frontend/e2e/evidence/cg-pass1-4022.spec.ts
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/ContentsRail.test.tsx
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/components/PathStage.test.tsx
  frontend/src/character-creation/__tests__/components/gift/GiftSelector.test.tsx
  frontend/src/character-creation/__tests__/components/gift/TechniqueSelector.test.tsx
  frontend/src/character-creation/__tests__/folio.test.tsx
  frontend/src/character-creation/cg.css
  frontend/src/character-creation/components/FinalTouchesStage.tsx
  frontend/src/character-creation/components/GiftStage.tsx
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/components/PathStage.tsx
  frontend/src/character-creation/components/TraditionPicker.tsx
  frontend/src/character-creation/components/gift/GiftSelector.tsx
  frontend/src/character-creation/components/gift/TechniqueSelector.tsx
  frontend/src/character-creation/folio/ContentsRail.tsx
  frontend/src/character-creation/folio/Entry.tsx
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_gender_options.py
  src/world/character_creation/views.py
  src/world/character_sheets/CLAUDE.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/models.py
  src/world/migrations/0160_remove_gender_is_default_gender_is_cg_selectable.py
  src/world/migrations/max_migration.txt
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_cg_seed_gaps.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal, eslint, typescript, prettier

Scope the worktree and parallel-agent rules by machine; move harness incident narratives out of CLAUDE.md (#4019)
  CLAUDE.md
  docs/agent-harness-notes.md
  docs/architecture/skill-friction-audit-and-takeaways-design.md
  docs/devcontainer-setup.md
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/_wt-helpers.sh
  tools/skills/issue-to-merged-pr/scripts/post-merge-cleanup.sh
  tools/skills/issue-to-merged-pr/scripts/start-work.sh
  tools/skills/using-git-worktrees/SKILL.md
  tools/skills/workflow-friction-audit/SKILL.md
  tools/skills/workflow-friction-audit/secret-patterns-defaults.txt
  tools/tests/test_branch_in_place.py
  tools/tests/test_post_merge_cleanup.py
Due: getattr-literal

test: cover survivability journeys (#4021)
  src/integration_tests/test_survivability_journey.py
Due: getattr-literal

fix(frontend): a window switch no longer leaks a live game session (#4026)
  docs/operations/websocket-liveness.md
  frontend/src/game/GamePage.tsx
  frontend/src/game/hooks/useWakeResume.test.ts
  frontend/src/game/hooks/useWakeResume.ts
  frontend/src/hooks/CLAUDE.md
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
  tools/agents/mock-fidelity-reviewer.md
Due: eslint, typescript, prettier

test(frontend): the socket mock also rejects long close reasons; a failed resume close is reported (#4026)
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
Due: eslint, typescript, prettier

Leaving the browser window and coming back opens a new game session and leaves the old one open (#4028)
  docs/operations/websocket-liveness.md
  frontend/src/game/GamePage.tsx
  frontend/src/game/hooks/useWakeResume.test.ts
  frontend/src/game/hooks/useWakeResume.ts
  frontend/src/hooks/CLAUDE.md
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
  tools/agents/mock-fidelity-reviewer.md
Due: eslint, typescript, prettier

Upbringing parentage: no known parents, adoptive parents, and your own family by default (#4024)
  frontend/src/generated/api.d.ts
  src/core_management/prose_fields.py
  src/schema.json
  src/web/admin/tests/test_upbringing_builder.py
  src/web/admin/upbringing_builder/forms.py
  src/world/character_creation/admin.py
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_upbringing_models.py
  src/world/character_creation/tests/test_upbringing_parentage.py
  src/world/character_creation/tests/test_upbringing_validation.py
  src/world/migrations/0161_origintemplate_parentage_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Lineage: the parentage note, an explained tarot for no known parents, adoptive framing, and plain family choices (#4024)
  frontend/e2e/almanach-founder.spec.ts
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/lineage/UpbringingPrompts.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/lineage/FamilyPathSection.tsx
  frontend/src/character-creation/types.ts
Due: eslint, typescript, prettier

Docs: Upbringing parentage, adoptive finalize, and the your-own-family default (#4024)
  docs/systems/character_creation.md
  frontend/src/character-creation/CLAUDE.md
Due: prettier

Adoptive parents pass nothing by blood: no heredity lines, pins, or species picker (#4024)
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_upbringing_parentage.py
  src/world/character_creation/validators.py
Due: getattr-literal, eslint, typescript, prettier

Evidence spec: walk both Misbegotten Upbringings on the production bundle (#4024)
  frontend/e2e/evidence/cg-parentage-4024.spec.ts
Due: eslint, typescript, prettier

Review evidence for #4024 (transient: removed again before the PR opens)
  docs/reviews/4024/cradle-390.png
  docs/reviews/4024/cradle-no-known-parents-1280.png
  docs/reviews/4024/review-evidence.md
  docs/reviews/4024/taken-in-adoptive-1280.png
Due: none

Remove the transient review evidence; it lives in the issue comment (#4024)
  docs/reviews/4024/cradle-390.png
  docs/reviews/4024/cradle-no-known-parents-1280.png
  docs/reviews/4024/review-evidence.md
  docs/reviews/4024/taken-in-adoptive-1280.png
Due: none

docs: publish issue #4029 review image comparison.png
  .github/issue-evidence/4029/20260927T050153Z-comparison.png
Due: none

docs: publish issue #4029 review image all-off-and-scope.png
  .github/issue-evidence/4029/20260927T050153Z-all-off-and-scope.png
Due: none

docs: publish issue #4029 review image comparison-v2.png
  .github/issue-evidence/4029/20260927T052327Z-comparison-v2.png
Due: none

CG Lineage: Upbringings with no known or adoptive parents, an explained tarot surname, and established-or-own families (#4031)
  docs/systems/character_creation.md
  frontend/e2e/almanach-founder.spec.ts
  frontend/e2e/evidence/cg-parentage-4024.spec.ts
  frontend/src/character-creation/CLAUDE.md
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/__tests__/components/lineage/UpbringingPrompts.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/lineage/FamilyPathSection.tsx
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  src/core_management/prose_fields.py
  src/schema.json
  src/web/admin/tests/test_upbringing_builder.py
  src/web/admin/upbringing_builder/forms.py
  src/world/character_creation/admin.py
  src/world/character_creation/constants.py
  src/world/character_creation/models.py
  src/world/character_creation/serializers.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_upbringing_models.py
  src/world/character_creation/tests/test_upbringing_parentage.py
  src/world/character_creation/tests/test_upbringing_validation.py
  src/world/character_creation/validators.py
  src/world/migrations/0161_origintemplate_parentage_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

feat(game): restore dismissed feed keys per character
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

feat(game): let players restore dismissed feed blocks
  docs/systems/scenes.md
  frontend/e2e/feed-restore.spec.ts
  frontend/e2e/support/gameHarness.ts
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/FeedChipStrip.tsx
  frontend/src/game/components/GameWindow.tsx
Due: eslint, typescript, prettier

docs: publish issue #4029 review image live-before-post-sync.png
  .github/issue-evidence/4029/20260927T060941Z-live-before-post-sync.png
Due: none

docs: publish issue #4029 review image live-dismissed-post-sync.png
  .github/issue-evidence/4029/20260927T060941Z-live-dismissed-post-sync.png
Due: none

docs: publish issue #4029 review image live-after-post-sync.png
  .github/issue-evidence/4029/20260927T060941Z-live-after-post-sync.png
Due: none

docs: publish issue #4029 review image live-all-off-post-sync.png
  .github/issue-evidence/4029/20260927T072210Z-live-all-off-post-sync.png
Due: none

chore: keep issue 4029 review images out of merge tree
  .github/issue-evidence/4029/20260927T050153Z-all-off-and-scope.png
  .github/issue-evidence/4029/20260927T050153Z-comparison.png
  .github/issue-evidence/4029/20260927T052327Z-comparison-v2.png
  .github/issue-evidence/4029/20260927T060941Z-live-after-post-sync.png
  .github/issue-evidence/4029/20260927T060941Z-live-before-post-sync.png
  .github/issue-evidence/4029/20260927T060941Z-live-dismissed-post-sync.png
  .github/issue-evidence/4029/20260927T072210Z-live-all-off-post-sync.png
Due: none

Restore dismissed game-column blocks without reloading (#4035)
  docs/systems/scenes.md
  frontend/e2e/feed-restore.spec.ts
  frontend/e2e/support/gameHarness.ts
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/FeedChipStrip.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
