Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

ProfileBeginnings: every origin a character holds, with its why (#3775)
  src/world/character_sheets/factories.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_profile_beginnings.py
  src/world/character_sheets/types.py
  src/world/migrations/0140_profilebeginnings.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

CG finalize records where play began on the profile (#3775)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_finalize_beginnings.py
Due: getattr-literal

fix: species holders avoid a per-sheet query, add covering test (#3775)
  src/world/codex/services.py
  src/world/codex/tests/test_grant_to_current_holders.py
Due: getattr-literal

grant_to_current_holders: a grant reaches the characters already in its group (#3775)
  src/world/codex/models.py
  src/world/codex/services.py
  src/world/codex/tests/test_grant_to_current_holders.py
Due: getattr-literal

A clue and the public flag refuse each other on a codex entry (#3775)
  src/world/clues/models.py
  src/world/clues/tests/test_models.py
  src/world/codex/models.py
  src/world/codex/tests/test_models.py
Due: getattr-literal

Fix line length and drop unused type: ignore in CodexEntry.clean()
  src/world/codex/models.py
Due: getattr-literal

Codex entry admin leads with who knows it: reach filter, grant inlines, publish and grant actions (#3775)
  src/world/codex/admin.py
  src/world/codex/tests/test_admin.py
Due: getattr-literal

Every admin that creates a grant row applies it; Profile admin adds origins with their why (#3775)
  src/world/character_creation/admin.py
  src/world/character_sheets/admin.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_profile_admin_beginnings.py
  src/world/classes/admin.py
  src/world/codex/admin.py
  src/world/codex/tests/test_admin.py
  src/world/distinctions/admin.py
  src/world/magic/admin.py
Due: getattr-literal

Codex page: the staff view says so (#3775)
  frontend/src/codex/__tests__/CodexPage.staff.test.tsx
  frontend/src/codex/pages/CodexPage.tsx
Due: eslint, typescript, prettier

Staff read the whole Codex (#3775)
  src/world/codex/serializers.py
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
Due: getattr-literal

Replace em dashes with hyphens in Profile admin origins comments (#3775)
  src/world/character_sheets/admin.py
Due: getattr-literal

Codex staff-line test: merge duplicate vitest import
  frontend/src/codex/__tests__/CodexPage.staff.test.tsx
Due: eslint, typescript, prettier

Docs: codex reach, ProfileBeginnings, staff view, ADR-0303 (#3775)
  docs/adr/0303-a-codex-entry-is-public-or-reached-by-a-path.md
  docs/adr/README.md
  docs/roadmap/codex.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  docs/systems/codex.md
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/codex/AGENT_GLOSSARY.md
Due: none

Known via names the perspective holder; the clue panel shows placements (#3775)
  src/world/codex/admin.py
  src/world/codex/tests/test_admin.py
Due: getattr-literal

Clue panel placements pluralize naturally (#3775)
  src/world/codex/admin.py
  src/world/codex/tests/test_admin.py
Due: getattr-literal

Review evidence for #3775 (removed before merge)
  docs/reviews/3775/report.md
  docs/reviews/3775/screen-1-changelist.png
  docs/reviews/3775/screen-1b-unreachable.png
  docs/reviews/3775/screen-2-entry-form.png
  docs/reviews/3775/screen-3-profile-form.png
  docs/reviews/3775/screen-5-codex-staff-line.png
  docs/reviews/3775/screen-5b-codex-player.png
Due: none

Remove review evidence from the branch tip (#3775)
  docs/reviews/3775/report.md
  docs/reviews/3775/screen-1-changelist.png
  docs/reviews/3775/screen-1b-unreachable.png
  docs/reviews/3775/screen-2-entry-form.png
  docs/reviews/3775/screen-3-profile-form.png
  docs/reviews/3775/screen-5-codex-staff-line.png
  docs/reviews/3775/screen-5b-codex-player.png
Due: none

Show the consequence-pool pick as a second wheel spin for template-driven checks (#3887)
  .github/workflows/spec-evidence.yml
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/checks.md
  frontend/src/combat/__tests__/consequenceOutcomes.test.tsx
  frontend/src/components/roulette/RouletteModal.tsx
  frontend/src/components/roulette/types.ts
  frontend/src/generated/api.d.ts
  src/actions/services.py
  src/actions/tests/test_resolution_pipeline.py
  src/actions/types.py
  src/schema.json
  src/world/checks/CLAUDE.md
  src/world/checks/filters.py
  src/world/checks/outcome_models.py
  src/world/checks/serializers.py
  src/world/checks/services.py
  src/world/checks/tests/test_consequence_outcome_model.py
  src/world/checks/tests/test_theater.py
  src/world/checks/theater.py
  src/world/checks/views.py
  src/world/migrations/0140_consequence_outcome_action_interaction.py
  src/world/migrations/max_migration.txt
  src/world/scenes/action_services.py
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/evidence-screenshots-not-in-main.md
  tools/skills/issue-to-merged-pr/references/pr-mergeability-checklist.md
  tools/skills/issue-to-merged-pr/scripts/publish-issue-images.sh
Due: getattr-literal, eslint, typescript, prettier

chore: remove temporary room resync evidence
  docs/pr-evidence/3824-room-state-resync-fixture.html
  docs/pr-evidence/3824-room-state-resync-review.md
  docs/pr-evidence/3824-room-state-resync.png
Due: none

Authoring Workbench editor: the row's name leads the heading, editable (#3890)
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/templates/admin/authoring/_editor_panel.html
Due: getattr-literal

docs: web/admin guide describes the editable name (#3890)
  src/web/admin/CLAUDE.md
Due: none

docs: sync content-authoring and INDEX with the editable rename (#3890)
  docs/systems/INDEX.md
  docs/systems/content-authoring.md
Due: none

Codex visibility: an entry is public or reached by a path, the admin leads with who knows it, origins are recorded with their why, and staff read everything (#3775) (#3889)
  docs/adr/0303-a-codex-entry-is-public-or-reached-by-a-path.md
  docs/adr/README.md
  docs/roadmap/codex.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  docs/systems/codex.md
  frontend/src/codex/__tests__/CodexPage.staff.test.tsx
  frontend/src/codex/pages/CodexPage.tsx
  src/world/character_creation/admin.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_finalize_beginnings.py
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_profile_admin_beginnings.py
  src/world/character_sheets/tests/test_profile_beginnings.py
  src/world/character_sheets/types.py
  src/world/classes/admin.py
  src/world/clues/models.py
  src/world/clues/tests/test_models.py
  src/world/codex/AGENT_GLOSSARY.md
  src/world/codex/admin.py
  src/world/codex/models.py
  src/world/codex/serializers.py
  src/world/codex/services.py
  src/world/codex/tests/test_admin.py
  src/world/codex/tests/test_grant_to_current_holders.py
  src/world/codex/tests/test_models.py
  src/world/codex/tests/test_views.py
  src/world/codex/views.py
  src/world/distinctions/admin.py
  src/world/magic/admin.py
  src/world/migrations/0141_profilebeginnings.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Authoring Workbench: the row's name leads the editor, editable (#3890) (#3891)
  docs/systems/INDEX.md
  docs/systems/content-authoring.md
  src/web/admin/CLAUDE.md
  src/web/admin/authoring/views.py
  src/web/admin/tests/test_authoring_editor.py
  src/web/templates/admin/authoring/_editor_panel.html
Due: getattr-literal

ci: guard image paths before commit
  .pre-commit-config.yaml
  tools/lint_image_paths.py
  tools/tests/test_lint_image_paths.py
Due: getattr-literal

ci: allow frontend public images
  .pre-commit-config.yaml
  tools/lint_image_paths.py
  tools/tests/test_lint_image_paths.py
Due: getattr-literal

feat: same-connection room-state resync (#3888)
  .pre-commit-config.yaml
  docs/frontend/architecture.md
  docs/frontend/message_types.md
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/RoomHeader.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  frontend/src/scenes/components/PlaceBar.tsx
  frontend/src/scenes/components/SceneInteractionPanel.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/store/gameSlice.ts
  src/flows/service_functions/communication.py
  src/flows/types.py
  src/server/conf/inputfuncs.py
  src/typeclasses/characters.py
  src/web/tests/test_room_state_resync_inputfunc.py
  src/web/webclient/message_types.py
  tools/lint_image_paths.py
  tools/tests/test_lint_image_paths.py
Due: getattr-literal, eslint, typescript, prettier

docs: sync societies and codex docs with the admin codex-grant wiring (#3788)
  docs/systems/codex.md
  docs/systems/societies.md
  src/world/societies/tests/test_admin_codex_grants.py
Due: getattr-literal

Organization membership is a Codex gate: admin applies codex grants (#3788)
  src/world/societies/admin.py
  src/world/societies/tests/test_admin_codex_grants.py
Due: getattr-literal

Organization membership is a Codex gate: the Organization admin authors its grants and admin-created members learn them (#3788) (#3892)
  docs/systems/codex.md
  docs/systems/societies.md
  src/world/societies/admin.py
  src/world/societies/tests/test_admin_codex_grants.py
Due: getattr-literal

ci: require pull requests to close an issue
  .github/workflows/spec-evidence.yml
  tools/skills/README.md
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/scripts/enqueue-pr.sh
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
  tools/skills/issue-to-merged-pr/templates/pr-body.md
  tools/tests/test_open_pr_body.py
  tools/tests/test_validate_review_evidence.py
  tools/validate_review_evidence.py
Due: getattr-literal

fix: clear old related caches on FK reassignment
  docs/systems/magic.md
  src/evennia_extensions/mixins.py
  src/evennia_extensions/tests/test_related_cache_clearing_mixin.py
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_upbringing_questions_cached_property.py
  src/world/magic/models/glimpse.py
  src/world/magic/tests/test_glimpse_tag_offers_cached_property.py
Due: getattr-literal

ci: exempt Dependabot from issue closing guard
  .github/workflows/spec-evidence.yml
  tools/skills/README.md
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/tests/test_validate_review_evidence.py
  tools/validate_review_evidence.py
Due: getattr-literal

docs: publish issue #3827 review image issue-3827-demo.png
  .github/issue-evidence/3827/20260917T232719Z-issue-3827-demo.png
Due: none

feat: gate scene targets through block and mute controls
  docs/adr/0204-account-first-block-mute-extends-1278.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scene-interaction-threads.md
  docs/systems/scenes.md
  src/world/scenes/CLAUDE.md
  src/world/scenes/block_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_target_reachability.py
Due: getattr-literal

docs: record issue 3827 review evidence
  docs/reviews/issue-3827-demo-fidelity.md
Due: none

chore: remove temporary review evidence artifacts
  .github/issue-evidence/3827/20260917T232719Z-issue-3827-demo.png
  docs/reviews/issue-3827-demo-fidelity.md
Due: none

refactor: remove cached companion order handlers
  .pre-commit-config.yaml
  docs/systems/character_creation.md
  docs/systems/magic.md
  docs/systems/scenes.md
  src/evennia_extensions/CACHED_PROPERTY_STANDARD.md
  src/evennia_extensions/handlers.py
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_companion_orders_cache.py
  src/world/combat/views.py
  src/world/companions/handlers.py
  tools/lint_noqa_ratchet.py
  tools/lint_prefetch_string.py
  tools/lint_prefetch_to_attr.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

docs: codify identity-map cache selection
  tools/skills/sharedmemory-model/SKILL.md
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
