Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

docs(magic,tuning): document the shared DE currency extension (#3390)
  docs/adr/0233-shared-de-currency-across-techniques-conditions-capabilities.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/tuning.md
Due: none

Fix CI: update exhaustive LockBreakReason choices assertion for REMOVED (#3382)
  src/world/combat/tests/test_constants.py
Due: getattr-literal

docs(adr): renumber ADR 0233 -> 0234 to avoid collision with #3399
  docs/adr/0234-shared-de-currency-across-techniques-conditions-capabilities.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/tuning.md
Due: none

Regenerate API schema/types (#3383)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Phase 1 (#3389): web round-action declaration panel for all 12 BattleActionKinds
  frontend/src/battles/components/BattleActionPanel.test.tsx
  frontend/src/battles/components/BattleActionPanel.tsx
  frontend/src/battles/constants.ts
  frontend/src/battles/pages/BattleMapPage.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/battles/serializers.py
  src/world/battles/tests/test_api.py
  src/world/battles/views.py
Due: getattr-literal, eslint, typescript, prettier

Fix SonarCloud duplication: shared GM-placement UI + position resolver (#3385)
  docs/systems/areas.md
  frontend/src/areas/components/GMPlacementControls.tsx
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/CombatTacticalMap.tsx
  frontend/src/scenes/components/SceneTacticalMap.test.tsx
  frontend/src/scenes/components/SceneTacticalMap.tsx
  frontend/src/test/utils/README.md
  frontend/src/test/utils/playerActionFixtures.ts
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/positions.py
  src/commands/utils/gm_resolution.py
Due: getattr-literal, eslint, typescript, prettier

Phase 2 (#3389): GM round-lifecycle controls (begin/resolve/conclude)
  docs/systems/battles.md
  frontend/src/battles/components/BattleActionPanel.test.tsx
  frontend/src/battles/components/BattleActionPanel.tsx
Due: eslint, typescript, prettier

Phase 3 (#3389): Champion duel challenge as a map affordance
  docs/roadmap/combat.md
  docs/systems/battles.md
  frontend/src/battles/components/PlaceDetailPanel.test.tsx
  frontend/src/battles/components/PlaceDetailPanel.tsx
  frontend/src/battles/pages/BattleMapPage.tsx
Due: eslint, typescript, prettier

Add dispel/treatment power journey tests + back-compat anchor (#3391)
  src/world/magic/tests/integration/test_dispel_cast_e2e.py
  src/world/magic/tests/integration/test_treatment_cast_e2e.py
  src/world/magic/tests/test_technique_treatment.py
Due: getattr-literal

Fix CI: BattleActionPanel.test.tsx fixture types (tsc -b, not --noEmit)
  frontend/src/battles/components/BattleActionPanel.test.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/battles/serializers.py
Due: getattr-literal, eslint, typescript, prettier

feat(currency): collections pay debt principal + allowances via collect_and_distribute (#2540)
  src/world/currency/services.py
  src/world/npc_services/effects.py
  src/world/npc_services/tests/test_collection_offers.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_collection_routes.py
Due: getattr-literal

feat(currency): discretionary treasury withdrawal action at the bank (#2540)
  src/actions/definitions/org_vault.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_org_vault_actions.py
Due: getattr-literal

feat(items): bank seed + deliver-the-take return leg — embezzlement goes live (#2540)
  src/actions/definitions/org_vault.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_org_vault_actions.py
  src/world/room_features/seeds.py
  src/world/room_features/tests/test_seeds.py
Due: getattr-literal

fix(items): reject keep_item_ids not among the carrier's open transits (#2540)
  src/actions/tests/test_org_vault_actions.py
  src/world/items/services/org_vault.py
  src/world/items/tests/test_org_vault.py
Due: getattr-literal

feat(currency): vault audit trail readable on the org books (#2540)
  docs/systems/INDEX.md
  src/world/currency/serializers.py
  src/world/currency/tests/test_views.py
  src/world/currency/views.py
Due: getattr-literal

fix(scenes): boon payload guard, CASCADE provenance fix, spec-hole flag (#2540)
  docs/roadmap/crafting-economy.md
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  src/world/migrations/0172_alter_affectionshift_boon.py
  src/world/migrations/max_migration.txt
  src/world/relationships/models.py
  src/world/scenes/action_constants.py
  src/world/scenes/action_services.py
  src/world/scenes/boon_models.py
  src/world/scenes/tests/test_boon.py
  src/world/seeds/social_checks.py
Due: getattr-literal, eslint, typescript, prettier

docs(economy): distribution wiring slice — docs in tandem + api types (#2540)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/currency/AGENT_GLOSSARY.md
  src/world/items/AGENT_GLOSSARY.md
Due: eslint, typescript, prettier

fix(items): bank seed wiring + deliver-leg holder/wedge/race hardening (#2540)
  src/actions/tests/test_org_vault_actions.py
  src/world/items/services/org_vault.py
  src/world/items/tests/test_org_vault.py
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

docs: correct three stale combat claims found by the 2026-08-26 audit (#3392)
  docs/roadmap/combat.md
  src/actions/CLAUDE.md
Due: none

Encounter creation is web-only: no telnet verb starts a combat encounter (#3395)
  src/actions/CLAUDE.md
  src/actions/definitions/gm_combat.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_gm_combat_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/tests/test_encounter_gm_lifecycle_e2e.py
  src/world/combat/permissions.py
  src/world/combat/services.py
  src/world/combat/views.py
Due: getattr-literal

Engagement locks are player-unreachable: combat_engage / combat_disengage shipped with no surface (#2020 follow-through) (#3396)
  docs/systems/INDEX.md
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/commands/combat_maneuvers.py
  src/commands/tests/test_combat_maneuvers_command.py
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_engagement_lock_serializer.py
  src/world/combat/tests/test_foil_duel_e2e.py
Due: getattr-literal, eslint, typescript, prettier

Conditions on NPC opponents never change the difficulty they present — the check channel is CharacterSheet-only (#3394)
  docs/adr/0166-level-is-a-two-sided-check-term.md
  docs/systems/conditions.md
  src/world/checks/services.py
  src/world/checks/tests/test_opposed_difficulty.py
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/tests/test_defense.py
  src/world/combat/tests/test_level_opposed_combat_journey.py
  src/world/conditions/AGENT_GLOSSARY.md
  src/world/conditions/services.py
  src/world/conditions/tests/test_opponent_condition_opposition.py
Due: getattr-literal

Distribution wiring: collections pay out, banks live, embezzlement armed (#2540 slice 1) (#3405)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/tasking.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  src/actions/definitions/org_vault.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_org_vault_actions.py
  src/schema.json
  src/world/currency/AGENT_GLOSSARY.md
  src/world/currency/serializers.py
  src/world/currency/services.py
  src/world/currency/tests/test_views.py
  src/world/currency/views.py
  src/world/items/AGENT_GLOSSARY.md
  src/world/items/services/org_vault.py
  src/world/items/tests/test_org_vault.py
  src/world/migrations/0173_alter_affectionshift_boon.py
  src/world/migrations/max_migration.txt
  src/world/npc_services/effects.py
  src/world/npc_services/tests/test_collection_offers.py
  src/world/relationships/models.py
  src/world/room_features/seeds.py
  src/world/room_features/tests/test_seeds.py
  src/world/scenes/action_constants.py
  src/world/scenes/action_services.py
  src/world/scenes/boon_models.py
  src/world/scenes/tests/test_boon.py
  src/world/seeds/clusters.py
  src/world/seeds/social_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_collection_routes.py
Due: getattr-literal, eslint, typescript, prettier

feat(items): material economy schema — rename gem stocks general, holding sources (#2540)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/currency/services.py
  src/world/currency/tests/test_weekly_mine_accrual.py
  src/world/currency/types.py
  src/world/items/admin.py
  src/world/items/constants.py
  src/world/items/crafting/cost.py
  src/world/items/exceptions.py
  src/world/items/factories.py
  src/world/items/gems/buckets.py
  src/world/items/gems/collection.py
  src/world/items/gems/mining.py
  src/world/items/gems/models.py
  src/world/items/materials_models.py
  src/world/items/models.py
  src/world/items/tests/test_crafting_cost.py
  src/world/items/tests/test_gem_collection.py
  src/world/items/tests/test_gem_mine_accrual.py
  src/world/items/tests/test_material_buckets.py
  src/world/items/tests/test_material_sources.py
  src/world/migrations/0174_material_economy_schema_rename.py
  src/world/migrations/max_migration.txt
  src/world/societies/houses/factories.py
  src/world/societies/houses/models.py
Due: getattr-literal

feat(items): per-holding material production on the weekly economy (#2540)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  src/world/currency/services.py
  src/world/currency/tests/test_weekly_mine_accrual.py
  src/world/items/constants.py
  src/world/items/gems/mining.py
  src/world/items/materials_production.py
  src/world/items/tests/test_gem_mine_accrual.py
  src/world/items/tests/test_materials_production.py
Due: getattr-literal

feat(currency): per-category material collection breakdown (#2540)
  src/world/currency/services.py
  src/world/currency/types.py
  src/world/items/gems/collection.py
  src/world/items/tests/test_gem_collection.py
Due: getattr-literal

feat(currency): materials allowance credits member buckets — the crafting draw (#2540)
  src/world/currency/constants.py
  src/world/currency/services.py
  src/world/currency/tests/test_material_allowance.py
  src/world/currency/types.py
  src/world/npc_services/effects.py
  src/world/tasking/services.py
Due: getattr-literal

test(currency): entry-path coverage for the materials allowance leg (#2540)
  src/world/currency/tests/test_distribution_dispatch.py
  src/world/npc_services/tests/test_collection_offers.py
  src/world/tasking/tests/test_collection_routes.py
Due: getattr-literal

docs(currency): document the materials allowance leg (#2540)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/currency/AGENT_GLOSSARY.md
Due: none

feat(market): personal material sales + org auto-sell of excess (#2540)
  src/actions/definitions/market.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_market_sell_materials.py
  src/world/currency/constants.py
  src/world/currency/services.py
  src/world/currency/tests/test_auto_sell_materials.py
  src/world/currency/tests/test_distribution_dispatch.py
  src/world/currency/types.py
  src/world/items/market/services.py
  src/world/items/market/tests/test_sell_materials.py
  src/world/npc_services/effects.py
  src/world/npc_services/tests/test_collection_offers.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_collection_routes.py
Due: getattr-literal

fix(market): atomic sell paths — no spent-but-unpaid sellers (#2540)
  src/world/items/market/services.py
  src/world/items/market/tests/test_fence.py
  src/world/items/market/tests/test_sell_materials.py
Due: getattr-literal

docs(economy): material economy ADR, glossaries, model map, api types (#2540)
  docs/adr/0234-material-economy-generalizes-stocks-allowance-driven-draw-and-selling.md
  docs/adr/README.md
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/items/AGENT_GLOSSARY.md
  src/world/societies/AGENT_GLOSSARY.md
Due: none

docs(economy): fix stale game_clock claim + ADR-0234 heading style (#2540)
  docs/adr/0234-material-economy-generalizes-stocks-allowance-driven-draw-and-selling.md
  docs/adr/README.md
  docs/systems/INDEX.md
Due: none

docs(economy): current symbol names in INDEX mine-collection bullet (#2540)
  docs/systems/INDEX.md
  src/world/items/tests/test_material_sources.py
Due: getattr-literal

docs: alpha is durable - production DB is the only master copy (ADR-0235/0236)
  CLAUDE.md
  django_notes.md
  docs/adr/0013-schema-only-migrations-pre-production.md
  docs/adr/0142-content-vs-config-boundary-in-the-dev-seed.md
  docs/adr/0235-alpha-is-durable-the-production-database-is-the-master-copy.md
  docs/adr/0236-content-repo-retired-database-is-the-authoring-surface.md
  docs/adr/README.md
  docs/devcontainer-setup.md
  docs/systems/roster.md
Due: none

docs: correct destructive-op scope and content-repo retirement wording
  CLAUDE.md
  django_notes.md
  docs/adr/0142-content-vs-config-boundary-in-the-dev-seed.md
  docs/adr/0235-alpha-is-durable-the-production-database-is-the-master-copy.md
  docs/adr/0236-content-repo-retired-database-is-the-authoring-surface.md
  docs/adr/README.md
  infra/ansible/roles/app_deploy/tasks/main.yml
Due: none

feat(knowledge): exact item pointers on clues, codex, secrets (#2540)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/codex.md
  docs/systems/investigation_and_discovery.md
  docs/systems/secrets.md
  src/world/clues/admin.py
  src/world/clues/constants.py
  src/world/clues/factories.py
  src/world/clues/models.py
  src/world/clues/services.py
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/models.py
  src/world/migrations/0175_boon_material_category_clue_target_item_instance_and_more.py
  src/world/migrations/max_migration.txt
  src/world/scenes/CLAUDE.md
  src/world/scenes/boon_models.py
  src/world/scenes/boon_services.py
  src/world/scenes/tests/test_item_pointers.py
  src/world/secrets/admin.py
  src/world/secrets/factories.py
  src/world/secrets/models.py
Due: getattr-literal

feat(scenes): MATERIAL boon kind with honest unavailability (#2540)
  docs/systems/INDEX.md
  src/world/migrations/0176_alter_boon_kind.py
  src/world/migrations/max_migration.txt
  src/world/scenes/CLAUDE.md
  src/world/scenes/action_constants.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/boon_services.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_boon_material.py
Due: getattr-literal
