Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

Review evidence for #4195 (removed before merge)
  docs/reviews/4195/01-root-fallback-1280.png
  docs/reviews/4195/report.md
Due: none

Review evidence for #4195 moved to the PR comment
  docs/reviews/4195/01-root-fallback-1280.png
  docs/reviews/4195/report.md
Due: none

Facets: create from the picker, see near-duplicates before you do, and merge duplicates into one (#4197)
  docs/adr/adr-4197-a-drifted-vocabulary-is-merged-never-deleted-and-its-spellings-route.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  docs/systems/worship.md
  frontend/e2e/evidence/facet-picker-4197.spec.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/AttachFacetDialog.tsx
  frontend/src/inventory/components/__tests__/AttachFacetDialog.test.tsx
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/components/FacetPicker.tsx
  frontend/src/magic/components/__tests__/FacetPicker.test.tsx
  frontend/src/magic/facetKey.ts
  frontend/src/pantheon/CLAUDE.md
  frontend/src/pantheon/pages/BeingEditPage.tsx
  src/core_management/content_export.py
  src/schema.json
  src/web/templates/admin/magic/facet/merge.html
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/admin.py
  src/world/magic/exceptions.py
  src/world/magic/models/__init__.py
  src/world/magic/models/motifs.py
  src/world/magic/permissions.py
  src/world/magic/serializers.py
  src/world/magic/services/facets.py
  src/world/magic/tests/test_facets.py
  src/world/magic/views.py
  src/world/migrations/0209_facet_alias.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Facet picker evidence spec: a bare-list fallback and the input by its role (#4197)
  frontend/e2e/evidence/facet-picker-4197.spec.ts
Due: eslint, typescript, prettier

Review evidence for #4197 (removed before merge)
  docs/reviews/4197/01-near-and-create-1280.png
  docs/reviews/4197/02-created-chip-1280.png
  docs/reviews/4197/03-resolves-no-create-1280.png
  docs/reviews/4197/report.md
Due: none

Review evidence for #4197 moved to the PR comment
  docs/reviews/4197/01-near-and-create-1280.png
  docs/reviews/4197/02-created-chip-1280.png
  docs/reviews/4197/03-resolves-no-create-1280.png
  docs/reviews/4197/report.md
Due: none

Root error boundary: Go home is a hard navigation, so the fallback depends on nothing above it (#4195) (#4196)
  frontend/CLAUDE.md
  frontend/e2e/evidence/root-boundary-4195.spec.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  tools/agents/README.md
  tools/agents/fallback-provider-reviewer.md
Due: eslint, typescript, prettier

Facets: create from the picker, see near-duplicates before you do, and merge duplicates into one (#4197) (#4199)
  docs/adr/adr-4197-a-drifted-vocabulary-is-merged-never-deleted-and-its-spellings-route.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  docs/systems/worship.md
  frontend/e2e/evidence/facet-picker-4197.spec.ts
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/AttachFacetDialog.tsx
  frontend/src/inventory/components/__tests__/AttachFacetDialog.test.tsx
  frontend/src/magic/CLAUDE.md
  frontend/src/magic/components/FacetPicker.tsx
  frontend/src/magic/components/__tests__/FacetPicker.test.tsx
  frontend/src/magic/facetKey.ts
  frontend/src/pantheon/CLAUDE.md
  frontend/src/pantheon/pages/BeingEditPage.tsx
  src/core_management/content_export.py
  src/schema.json
  src/web/templates/admin/magic/facet/merge.html
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/admin.py
  src/world/magic/exceptions.py
  src/world/magic/models/__init__.py
  src/world/magic/models/motifs.py
  src/world/magic/permissions.py
  src/world/magic/serializers.py
  src/world/magic/services/facets.py
  src/world/magic/tests/test_facets.py
  src/world/magic/views.py
  src/world/migrations/0209_facet_alias.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Upbringing Builder: the founder tier cap sits under Family paths; the name-path picker reads each template's description (#4202)
  docs/systems/character_creation.md
  docs/systems/family-authoring-recipes.md
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/components/lineage/FamilyPathSection.tsx
  src/web/admin/tests/test_upbringing_builder.py
  src/web/admin/upbringing_builder/forms.py
Due: getattr-literal, eslint, typescript, prettier

The name-path picker's evidence spec (#4202)
  frontend/e2e/evidence/upbringing-picker-4202.spec.ts
Due: eslint, typescript, prettier

Review evidence for #4202
  docs/reviews/4202/01-builder-family-paths-1280.png
  docs/reviews/4202/02-builder-fieldset-duchy-1280.png
  docs/reviews/4202/03-cg-name-path-picker-1280.png
  docs/reviews/4202/04-cg-name-path-picked-second-1280.png
  docs/reviews/4202/report.md
Due: none

Review evidence for #4202 moved to the PR comment
  docs/reviews/4202/01-builder-family-paths-1280.png
  docs/reviews/4202/02-builder-fieldset-duchy-1280.png
  docs/reviews/4202/03-cg-name-path-picker-1280.png
  docs/reviews/4202/04-cg-name-path-picked-second-1280.png
  docs/reviews/4202/report.md
Due: none

Succession law: a gender-preference tiebreak that breaks the ordering rule's ties and never outranks it (#4201)
  docs/systems/houses.md
  src/world/migrations/0210_succession_law_gender_tiebreak.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal

Codex companion: a deity's entry carries what its editor authors; tarot orientation, a story per side, IC dates as Masquing 18 (10/18) (#4198)
  src/world/codex/companions.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_companions.py
  src/world/codex/types.py
  src/world/codex/views.py
  src/world/events/tests/test_serializers.py
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/serializers.py
  src/world/game_clock/services.py
  src/world/game_clock/tests/test_services.py
  src/world/migrations/0210_being_tarot_orientation_and_relationship_sides.py
  src/world/migrations/max_migration.txt
  src/world/relationships/tests/test_reads.py
  src/world/worship/admin.py
  src/world/worship/apps.py
  src/world/worship/companion.py
  src/world/worship/editor_services.py
  src/world/worship/models.py
  src/world/worship/staff_serializers.py
  src/world/worship/tests/test_companion.py
  src/world/worship/tests/test_editor.py
  src/world/worship/tests/test_models.py
Due: getattr-literal

Web: the companion rail and sections on a Codex entry; the deity editor offers each card both ways up and writes this god's side of a relationship (#4198)
  docs/roadmap/world-clock.md
  frontend/e2e/evidence/codex-restricted-4191.spec.ts
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/ReviewStage.tsx
  frontend/src/codex/__tests__/CodexModal.test.tsx
  frontend/src/codex/__tests__/EntryDetail.test.tsx
  frontend/src/codex/__tests__/queries.test.tsx
  frontend/src/codex/codex.css
  frontend/src/codex/components/Companion.tsx
  frontend/src/codex/components/EntryDetail.tsx
  frontend/src/codex/types.ts
  frontend/src/events/components/EventInvitations.test.tsx
  frontend/src/events/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/home/hall/__tests__/WorldBand.test.tsx
  frontend/src/journals/__tests__/JournalRow.test.tsx
  frontend/src/journals/api.ts
  frontend/src/pantheon/pages/BeingEditPage.tsx
  frontend/src/pantheon/types.ts
  frontend/src/relationships/components/__tests__/fixtures.ts
  frontend/src/sheet_update_requests/components/RecordedProfilesSection.tsx
  src/schema.json
Due: eslint, typescript, prettier

Web: the Codex tree folds above the content on a phone; the companion's evidence spec (#4198)
  frontend/e2e/evidence/codex-companion-4198.spec.ts
  frontend/src/codex/pages/CodexPage.tsx
Due: eslint, typescript, prettier

Companion rides the research gate; one feast day reads singular; the section label takes the Lore's amber; the editor test for a reversed pick (#4198)
  frontend/e2e/evidence/codex-companion-4198.spec.ts
  frontend/src/codex/__tests__/EntryDetail.test.tsx
  frontend/src/codex/codex.css
  frontend/src/codex/components/Companion.tsx
  frontend/src/pantheon/__tests__/PantheonPages.test.tsx
  src/world/codex/serializers.py
  src/world/codex/tests/test_companions.py
  src/world/worship/companion.py
Due: getattr-literal, eslint, typescript, prettier

Docs: the Codex companion, the tarot orientation, the story per side, ADR-4198 (#4198)
  docs/adr/adr-4198-an-entry-s-owner-registers-its-companion-the-codex-imports-no-owner.md
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/codex.md
  docs/systems/worship.md
  frontend/src/pantheon/CLAUDE.md
  src/world/codex/AGENT_GLOSSARY.md
  src/world/worship/AGENT_GLOSSARY.md
Due: prettier

Tests: the sheet's birthday reads Thawing 15 (3/15) (#4198)
  src/world/character_sheets/tests/test_item_data_handler.py
  src/world/character_sheets/tests/test_sheet_command.py
Due: getattr-literal

Review evidence for #4198
  docs/reviews/4198/01-fleshreaper-staff-1280.png
  docs/reviews/4198/02-calyx-staff-1280.png
  docs/reviews/4198/03-calyx-stranger-1280.png
  docs/reviews/4198/04-fleshreaper-390.png
  docs/reviews/4198/report.md
Due: none

Review evidence for #4198 moved to the PR comment
  docs/reviews/4198/01-fleshreaper-staff-1280.png
  docs/reviews/4198/02-calyx-staff-1280.png
  docs/reviews/4198/03-calyx-stranger-1280.png
  docs/reviews/4198/04-fleshreaper-390.png
  docs/reviews/4198/report.md
Due: none

Sheet: the covenant block follows identity reveal, so a masked face no longer outs its character (#4207)
  docs/systems/character_sheets.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
Due: getattr-literal

Tests: a named alt with a hidden link withholds the covenant block too (#4207)
  src/world/character_sheets/tests/test_profile_identity_privacy.py
Due: getattr-literal

Upbringing Builder: the founder tier cap under Family paths; the name-path picker reads each template's description (#4202) (#4203)
  docs/systems/character_creation.md
  docs/systems/family-authoring-recipes.md
  frontend/e2e/evidence/upbringing-picker-4202.spec.ts
  frontend/src/character-creation/__tests__/components/LineageStage.test.tsx
  frontend/src/character-creation/components/lineage/FamilyPathSection.tsx
  src/web/admin/tests/test_upbringing_builder.py
  src/web/admin/upbringing_builder/forms.py
Due: getattr-literal, eslint, typescript, prettier

Kin block reads the family's description and links sheeted kin; the sheet's House row stops linking a Family pk into the org route (#4210)
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/kinship.md
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/__tests__/SheetPanel.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  frontend/src/kinship/components/KinshipPanel.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  src/schema.json
  src/world/roster/serializers/families.py
  src/world/roster/services/kinship.py
  src/world/roster/tests/test_kin_api.py
Due: getattr-literal, eslint, typescript, prettier

Review evidence for #4210: the family on the sheet (harness, report, screenshots)
  docs/reviews/4210/01-sheet-front-house-row-1280.png
  docs/reviews/4210/02-kin-block-house-description-1280.png
  docs/reviews/4210/03-kin-selected-sister-link-1280.png
  docs/reviews/4210/04-kin-selected-npc-no-link-1280.png
  docs/reviews/4210/05-kin-block-commoner-1280.png
  docs/reviews/4210/06-kin-block-390.png
  docs/reviews/4210/report.md
  frontend/e2e/evidence/family-kin-4210.spec.ts
Due: eslint, typescript, prettier

Remove the #4210 review evidence from the branch; the report lives on PR #4212
  docs/reviews/4210/01-sheet-front-house-row-1280.png
  docs/reviews/4210/02-kin-block-house-description-1280.png
  docs/reviews/4210/03-kin-selected-sister-link-1280.png
  docs/reviews/4210/04-kin-selected-npc-no-link-1280.png
  docs/reviews/4210/05-kin-block-commoner-1280.png
  docs/reviews/4210/06-kin-block-390.png
  docs/reviews/4210/report.md
Due: none

Family admin shows its kin and slot pools inline; a person added there gets a membership (#4213)
  docs/systems/kinship.md
  src/world/roster/admin.py
  src/world/roster/tests/test_family_admin.py
Due: getattr-literal

Sheet: the covenant block ignores the presented face and outs a masked character (#4211)
  docs/systems/character_sheets.md
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
Due: getattr-literal

Family admin shows its kin and slot pools inline; a person added there gets a membership (#4213) (#4214)
  docs/systems/kinship.md
  src/world/roster/admin.py
  src/world/roster/tests/test_family_admin.py
Due: getattr-literal

Family on the sheet: the House row stops linking a Family pk into the org route; the Kin block reads the family's description and links sheeted kin (#4210) (#4212)
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/kinship.md
  frontend/e2e/evidence/family-kin-4210.spec.ts
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/__tests__/SheetPanel.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  frontend/src/kinship/components/KinshipPanel.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  src/schema.json
  src/world/roster/serializers/families.py
  src/world/roster/services/kinship.py
  src/world/roster/tests/test_kin_api.py
Due: getattr-literal, eslint, typescript, prettier

Family tree payload reads as the family page needs it: the house gate, the realm, two names per node, and the roll one hop past the name (#4209)
  frontend/src/generated/api.d.ts
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/realms/__tests__/RealmPage.test.tsx
  src/schema.json
  src/world/roster/serializers/families.py
  src/world/roster/services/kinship.py
  src/world/roster/tests/test_kin_api.py
  src/world/roster/views/family_views.py
  src/world/societies/houses/services.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal, eslint, typescript, prettier

Succession law: a gender-preference tiebreak that breaks the ordering rule's ties and never outranks it (#4201) (#4204)
  docs/systems/houses.md
  src/world/migrations/0211_succession_law_gender_tiebreak.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal

Family page: one linkable page per family at /families/:id, and the sheet, org page and realm hub link to it (#4209)
  frontend/src/App.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/__tests__/SheetPanel.test.tsx
  frontend/src/kinship/__tests__/KinshipPanel.test.tsx
  frontend/src/kinship/api.ts
  frontend/src/kinship/components/KinTreeGraph.tsx
  frontend/src/kinship/components/KinshipPanel.tsx
  frontend/src/kinship/queries.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/realms/__tests__/RealmPage.test.tsx
  frontend/src/realms/pages/RealmPage.tsx
  frontend/src/utils/urls.ts
Due: eslint, typescript, prettier

Family page: the page, its stylesheet, the shared generation walk and the page test (#4209)
  frontend/src/kinship/__tests__/FamilyPage.test.tsx
  frontend/src/kinship/family.css
  frontend/src/kinship/generations.ts
  frontend/src/kinship/pages/FamilyPage.tsx
Due: eslint, typescript, prettier

Docs: the family page, its names and the widened roll, in the kinship, houses and realms docs, the glossaries and ADR-4209 (#4209)
  AGENT_GLOSSARY_MAP.md
  docs/adr/adr-4209-a-family-page-prints-no-tier-words-full-names-on-the-roll-short-in-the-tree.md
  docs/roadmap/character-creation.md
  docs/systems/INDEX.md
  docs/systems/houses.md
  docs/systems/kinship.md
  docs/systems/realms.md
  src/world/roster/AGENT_GLOSSARY.md
  src/world/societies/AGENT_GLOSSARY.md
Due: none

Family page: an article inside the app shell's main, not a second main (#4209)
  frontend/src/kinship/pages/FamilyPage.tsx
Due: eslint, typescript, prettier

House observances: a day of remembrance the founder writes beside the words and sigil, copied onto the house (#4206)
  docs/systems/MODEL_MAP.md
  src/actions/definitions/almanach.py
  src/actions/tests/test_almanach_actions.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_house_claim_api.py
  src/world/migrations/0212_house_observances.py
  src/world/migrations/max_migration.txt
  src/world/societies/admin.py
  src/world/societies/houses/almanach_reads.py
  src/world/societies/houses/almanach_serializers.py
  src/world/societies/houses/creator.py
  src/world/societies/houses/factories.py
  src/world/societies/houses/models.py
  src/world/societies/houses/types.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_almanach_api.py
  src/world/societies/tests/test_house_creator.py
  src/world/societies/tests/test_organization_api.py
  src/world/societies/views.py
Due: getattr-literal
