Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(commands): register CmdSeance in AccountCmdSet, not CharacterCmdSet (#2393)
  src/commands/default_cmdsets.py
Due: getattr-literal

docs: seance glossary/INDEX/ADR-0147 updates (#2393)
  docs/adr/0147-seance-puppet-grant-is-a-dedicated-account-method.md
  docs/systems/INDEX.md
  src/world/ceremonies/AGENT_GLOSSARY.md
Due: none

feat(frontend): seance offer banner + accept/decline dialog (#2393)
  frontend/src/ceremonies/SeanceOfferBanner.test.tsx
  frontend/src/ceremonies/SeanceOfferBanner.tsx
  frontend/src/ceremonies/SeanceOfferDialog.tsx
  frontend/src/ceremonies/api.ts
  frontend/src/ceremonies/queries.ts
  frontend/src/ceremonies/types.ts
  frontend/src/components/Layout.tsx
Due: eslint, typescript, prettier

fix(ceremonies): final-review cleanup — MODEL_MAP regen, real-retire test, seance container location filter, docstring accuracy (#2393)
  docs/systems/MODEL_MAP.md
  src/actions/prerequisites.py
  src/actions/tests/test_ceremony_actions.py
  src/typeclasses/accounts.py
  src/world/ceremonies/services.py
  src/world/ceremonies/tests/test_services.py
Due: getattr-literal

Per-room ambient emotes: authored periodic flavor lines outside the weather system (#2532)
  docs/adr/0148-ambient-reaction-triggers-are-derived-from-content.md
  docs/adr/README.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/core_management/grid_export.py
  src/core_management/grid_import.py
  src/core_management/tests/test_grid_export.py
  src/core_management/tests/test_grid_roundtrip.py
  src/flows/filters/evaluator.py
  src/flows/tests/test_filters/test_evaluator.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_character_ambient_conditions.py
  src/world/narrative/admin.py
  src/world/narrative/ambient_content.py
  src/world/narrative/constants.py
  src/world/narrative/factories.py
  src/world/narrative/migrations/0008_ambientemoteline_ambientemotecondition.py
  src/world/narrative/migrations/max_migration.txt
  src/world/narrative/models.py
  src/world/narrative/tests/test_ambient_content.py
  src/world/narrative/tests/test_ambient_emote_line.py
  src/world/narrative/tests/test_ambient_reaction_moved_integration.py
  src/world/societies/admin.py
  src/world/societies/fame_reactions.py
  src/world/societies/migrations/0032_remove_famereactionline_room_and_more.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/tests/test_renown_fiction_layer.py
Due: getattr-literal

Species content buildout: elf form traits + pipeline test (#2463) (#2530)
  src/core_management/tests/test_content_export.py
Due: getattr-literal

feat(items): gem cutting — risky value-add via perform_check, shatter on botch (Build 0b slice 3)
  src/world/items/crafting/constants.py
  src/world/items/gems/services.py
  src/world/items/migrations/0042_alter_craftingrecipe_kind.py
  src/world/items/migrations/max_migration.txt
  src/world/items/tests/test_gem_cut.py
Due: getattr-literal

docs: gem cutting (Build 0b slice 3) — INDEX + roadmap
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
Due: none

feat(items,currency): gems ride the collection dispatch — house stock + collector's stones (Build 0b)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/currency/services.py
  src/world/currency/types.py
  src/world/items/admin.py
  src/world/items/gems/collection.py
  src/world/items/gems/models.py
  src/world/items/migrations/0043_orggemstock.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_gem_collection.py
Due: getattr-literal

Gem cutting — risky value-add via perform_check, shatter on botch (Build 0b slice 3) (#2513)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  src/world/items/crafting/constants.py
  src/world/items/gems/services.py
  src/world/items/migrations/0042_alter_craftingrecipe_kind.py
  src/world/items/migrations/max_migration.txt
  src/world/items/tests/test_gem_cut.py
Due: getattr-literal

feat(items): common-gem value buckets + bulk value crafting requirements (Build 0b slice 5)
  src/world/items/admin.py
  src/world/items/crafting/cost.py
  src/world/items/crafting/models.py
  src/world/items/exceptions.py
  src/world/items/factories.py
  src/world/items/gems/buckets.py
  src/world/items/gems/models.py
  src/world/items/migrations/0043_commongembucket_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_common_gem_buckets.py
Due: getattr-literal

docs: common-gem value buckets + bulk requirements (Build 0b slice 5) — INDEX, roadmap, MODEL_MAP
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
Due: none

fix(items): consume_cost NONE return now includes common_gem_value:0 (test)
  src/world/items/tests/test_crafting_cost.py
Due: getattr-literal

feat(conditions): add DurationType.SCENE + expire_scene_scoped_conditions service (#2514)
  src/world/conditions/constants.py
  src/world/conditions/migrations/0020_durationtype_scene.py
  src/world/conditions/migrations/max_migration.txt
  src/world/conditions/services.py
  src/world/scenes/tests/test_scene_finish_expires_scene_conditions.py
Due: getattr-literal

feat(scenes): wire scene-scoped condition sweep into finish_scene_full (#2514)
  src/world/scenes/scene_admin_services.py
  src/world/scenes/tests/test_scene_finish_expires_scene_conditions.py
Due: getattr-literal

docs: document DurationType.SCENE + expire_scene_scoped_conditions (#2514)
  docs/systems/MODEL_MAP.md
  docs/systems/conditions.md
  docs/systems/scenes.md
Due: none

chore: regenerate API types for DurationType.SCENE (#2514)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(currency): withdraw_from_treasury — the discretionary treasury→member spend primitive (#2540)
  docs/systems/INDEX.md
  src/world/currency/services.py
  src/world/currency/tests/test_treasury_withdrawal.py
Due: getattr-literal

feat(currency): distribute_allowance — the non-discretionary house allowance rail (#2540)
  docs/systems/INDEX.md
  src/world/currency/constants.py
  src/world/currency/services.py
  src/world/currency/tests/test_house_allowance.py
  src/world/currency/types.py
Due: getattr-literal

Condition durations: scene-scoped expiry + AFK-safe in-game-time expiry (needs design) (#2539)
  docs/systems/MODEL_MAP.md
  docs/systems/conditions.md
  docs/systems/scenes.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/conditions/constants.py
  src/world/conditions/migrations/0020_durationtype_scene.py
  src/world/conditions/migrations/max_migration.txt
  src/world/conditions/services.py
  src/world/scenes/scene_admin_services.py
  src/world/scenes/tests/test_scene_finish_expires_scene_conditions.py
Due: getattr-literal, eslint, typescript, prettier

feat(scenes): Boon — structured social-ask payload + money fulfillment (#2540, slice 1)
  src/world/scenes/CLAUDE.md
  src/world/scenes/action_constants.py
  src/world/scenes/boon_models.py
  src/world/scenes/boon_services.py
  src/world/scenes/migrations/0053_boon.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/tests/test_boon.py
Due: getattr-literal

feat(covenants): replace archetype enum with SWORD/SHIELD/CROWN blend weights (#2529)
  src/world/combat/services.py
  src/world/covenants/admin.py
  src/world/covenants/factories.py
  src/world/covenants/migrations/0029_covenantroleactionscaling_and_more.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_blend_model.py
  src/world/covenants/tests/test_models.py
  src/world/covenants/tests/test_rites.py
  src/world/covenants/tests/test_role_granted_power.py
  src/world/covenants/tests/test_role_powers_catalog.py
  src/world/covenants/tests/test_subrole_constraints.py
  src/world/covenants/tests/test_vow_scaling.py
  src/world/magic/services/power_terms.py
  src/world/mechanics/services.py
  src/world/seeds/game_content/covenant_roles.py
  src/world/seeds/game_content/items.py
  tools/check_migration_seed_data.py
Due: getattr-literal

feat(covenants): re-key action scaling per-role (#2529)
  src/world/combat/services.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_vow_scaling.py
Due: getattr-literal

feat(magic): technique archetype alignment + covenant-role blend power term (#2529)
  src/world/magic/admin.py
  src/world/magic/migrations/0115_covenantroleblendconfig_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/power_config.py
  src/world/magic/models/techniques.py
  src/world/magic/services/power_terms.py
  src/world/magic/services/threads.py
  src/world/magic/tests/test_power_derivation.py
Due: getattr-literal

test(magic): re-pin modifier-total query budget to 9 after vow-gear short-circuit (#2529)
  src/world/magic/tests/integration/test_modifier_total_no_query.py
Due: getattr-literal

test(content): round-trip CovenantRole + action scaling through the content pipeline (#2529)
  src/core_management/tests/test_content_export.py
Due: getattr-literal

feat(seeds,content): placeholder blends in seeds; CovenantRole rides the lore-repo pipeline (#2529)
  src/core_management/content_export.py
  src/world/covenants/models.py
  src/world/seeds/game_content/covenant_roles.py
Due: getattr-literal

feat(combat,mechanics): read blend axes instead of archetype (#2529)
  src/world/combat/services.py
  src/world/covenants/tests/test_role_granted_power.py
  src/world/mechanics/services.py
Due: getattr-literal

docs: ADR-0149 blend model supersedes ADR-0108; sync system docs (#2529)
  docs/adr/0108-vows-as-combat-roles-three-pillars.md
  docs/adr/0149-covenant-role-blend-four-layer-vow-power.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/roadmap/covenants.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/covenants.md
  docs/systems/magic.md
  src/world/covenants/AGENT_GLOSSARY.md
Due: none

fix(frontend): specialized members show the anchor role's blend, + blendSummary tests (#2529)
  frontend/src/covenants/__tests__/CovenantDetailPage.blendSummary.test.ts
  frontend/src/covenants/pages/CovenantDetailPage.tsx
Due: eslint, typescript, prettier

feat(covenants,frontend): expose blend weights over the API and display them (#2529)
  frontend/src/covenants/__tests__/CovenantDetailPage.test.tsx
  frontend/src/covenants/components/__tests__/PromoteRoleDialog.test.tsx
  frontend/src/covenants/pages/CovenantDetailPage.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

test: final-review fixes — blend assertions in seed integration tests, honest vow-gear test, renames (#2529)
  src/integration_tests/game_content/tests/test_seed_items_dev.py
  src/world/covenants/tests/test_vow_scaling.py
  src/world/magic/services/power_terms.py
Due: getattr-literal

Review fixes: lock the fulfill_boon idempotency claim + guard targetless asks
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/scenes/boon_services.py
  src/world/scenes/tests/test_boon.py
Due: getattr-literal

Review fixes: lock the allowance pool cap + dedup the activity predicate
  src/world/currency/services.py
  src/world/currency/tests/test_house_allowance.py
Due: getattr-literal

Boon — structured social-ask payload + money fulfillment (#2540, slice 1) (#2542)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/scenes/CLAUDE.md
  src/world/scenes/action_constants.py
  src/world/scenes/boon_models.py
  src/world/scenes/boon_services.py
  src/world/scenes/migrations/0053_boon.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/tests/test_boon.py
Due: getattr-literal

Common-gem value buckets + bulk value crafting requirements (Build 0b slice 5) (#2518)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/items/admin.py
  src/world/items/crafting/cost.py
  src/world/items/crafting/models.py
  src/world/items/exceptions.py
  src/world/items/factories.py
  src/world/items/gems/buckets.py
  src/world/items/gems/models.py
  src/world/items/migrations/0043_commongembucket_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_common_gem_buckets.py
  src/world/items/tests/test_crafting_cost.py
Due: getattr-literal

Gems ride the collection dispatch — house stock + collector's stones (Build 0b, domain-cron collection) (#2535)
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/currency/services.py
  src/world/currency/types.py
  src/world/items/admin.py
  src/world/items/gems/collection.py
  src/world/items/gems/models.py
  src/world/items/migrations/0043_orggemstock.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_gem_collection.py
Due: getattr-literal

feat(conditions): add DurationType.INGAME_TIME enum value (#2537)
  src/world/conditions/constants.py
  src/world/conditions/migrations/0021_durationtype_ingame_time.py
  src/world/conditions/migrations/max_migration.txt
Due: getattr-literal
