Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(#2428): Orphaned Tradition drawback + Metallic Order example seed
  src/world/character_creation/tests/test_traditions.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
Due: getattr-literal

feat(#2440): TRAIN NPC offers converging on the technique-acquisition seam
  docs/roadmap/player-capability-ledger.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  src/world/achievements/constants.py
  src/world/magic/CLAUDE.md
  src/world/magic/services/gift_acquisition.py
  src/world/magic/tests/test_gift_acquisition_service.py
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/constants.py
  src/world/npc_services/effects.py
  src/world/npc_services/factories.py
  src/world/npc_services/migrations/0023_npcrole_teaches_tradition_alter_npcserviceoffer_kind_and_more.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_train_offers.py
Due: getattr-literal

fix(#2440): atomic TRAIN charge sequence, ap_cost guard
  src/world/npc_services/effects.py
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_train_offers.py
Due: getattr-literal

feat(#2440): Archive self-study gate + level-2 three-techniques requirement
  docs/roadmap/player-capability-ledger.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/progression.md
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/seeds.py
  src/world/npc_services/tests/test_great_archive_seed.py
  src/world/progression/AGENT_GLOSSARY.md
  src/world/progression/admin/unlocks_admin.py
  src/world/progression/migrations/0017_majorgifttechniquerequirement.py
  src/world/progression/migrations/max_migration.txt
  src/world/progression/models/__init__.py
  src/world/progression/models/unlocks.py
  src/world/progression/seeds.py
  src/world/progression/services/spends.py
  src/world/progression/tests/test_major_gift_technique_requirement.py
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

docs: never edit dependency code — venv edits poison the shared uv cache
  CLAUDE.md
Due: none

feat(#2441): tradition join/leave lifecycle with history
  docs/systems/INDEX.md
  src/world/distinctions/CLAUDE.md
  src/world/distinctions/types.py
  src/world/magic/exceptions.py
  src/world/magic/migrations/0108_alter_charactertradition_unique_together_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/gifts.py
  src/world/magic/services/tradition_membership.py
  src/world/magic/tests/test_tradition_membership.py
  src/world/magic/tests/test_traditions.py
  src/world/npc_services/effects.py
  src/world/npc_services/tests/test_train_offers.py
  src/world/societies/membership_services.py
Due: getattr-literal

docs(#2441): removal-caller traps — resonance permanence, Secret orphaning
  src/world/distinctions/CLAUDE.md
Due: none

feat(#2442): Unbound magic-learning AP surcharge
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/world/character_creation/constants.py
  src/world/character_creation/tests/test_traditions.py
  src/world/character_creation/views.py
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/constants.py
  src/world/magic/services/gift_acquisition.py
  src/world/magic/tests/test_gift_acquisition_service.py
  src/world/npc_services/tests/test_train_offers.py
  src/world/seeds/character_creation.py
  src/world/seeds/tests/test_character_creation_magic_seed.py
Due: getattr-literal

test(#2442): prove surcharge through real CG finalize + leave/reapply paths
  src/world/character_creation/tests/test_services.py
  src/world/magic/tests/test_gift_acquisition_service.py
Due: getattr-literal

docs(cluster): Golden Hare economy ADR, glossary + roadmap sweep
  docs/adr/0137-golden-hares-deed-denominated-academy-favor-tokens.md
  docs/adr/README.md
  docs/roadmap/character-creation.md
  docs/roadmap/magic.md
  src/world/magic/AGENT_GLOSSARY.md
Due: none

fix(#2428): wire obligation settlement (Registrar offer), seed Academy trainer, admin hardening
  docs/adr/0137-golden-hares-deed-denominated-academy-favor-tokens.md
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/societies.md
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
  src/world/magic/admin.py
  src/world/npc_services/constants.py
  src/world/npc_services/effects.py
  src/world/npc_services/migrations/0024_alter_npcserviceoffer_kind.py
  src/world/npc_services/migrations/max_migration.txt
  src/world/npc_services/seeds.py
  src/world/npc_services/tests/test_academy_registrar_and_generalist_seeds.py
  src/world/npc_services/tests/test_settle_obligation_offer.py
  src/world/seeds/clusters.py
  src/world/seeds/tests/test_playable_slice.py
  src/world/societies/CLAUDE.md
  src/world/societies/admin.py
Due: getattr-literal

chore(#2440): regenerate API types for TRAIN/SETTLE_OBLIGATION offer kinds
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

refactor(#2449): extract area-generic grid_services from buildings room_services
  src/world/areas/grid_services.py
  src/world/areas/tests/test_grid_services.py
  src/world/buildings/room_services.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

docs(#2449): acknowledge create_object hook side effects in grid_services
  src/world/areas/grid_services.py
Due: getattr-literal

feat(#2449): staff display-data bypass + promote_to_authored + fixture-key suggestion
  src/world/areas/grid_services.py
  src/world/areas/tests/test_grid_services.py
  src/world/locations/services.py
  src/world/locations/tests/test_room_editor.py
Due: getattr-literal

fix(#2449): promote_to_authored validates key prefix against the room's actual area slug
  src/world/areas/grid_services.py
  src/world/areas/tests/test_grid_services.py
Due: getattr-literal

fix(#2449): review fixes — parse guards, atomic remove, optional persona bypass, shared slug guard, contents-refusal
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
  src/world/areas/grid_services.py
  src/world/locations/services.py
  src/world/locations/tests/test_room_editor.py
Due: getattr-literal

docs(#2449): document bypass_ownership + optional persona on set_room_display_data
  src/world/locations/CLAUDE.md
Due: none

feat(#2449): staff world-builder actions (create/edit area, dig/link/place/edit/remove, promote)
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
Due: getattr-literal

feat(#2449): staff-only world-builder read API (area tree + area manager payload)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/urls.py
  src/world/areas/builder_urls.py
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/areas/tests/test_builder_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#2449): /staff/world-builder route — area tree, world canvas, staff room editing + promotion
  frontend/src/App.tsx
  frontend/src/components/ProfileDropdown.tsx
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/AreaTreePanel.test.tsx
  frontend/src/world-builder/components/AreaTreePanel.tsx
  frontend/src/world-builder/components/CreateAreaDialog.tsx
  frontend/src/world-builder/components/DigRoomDialog.tsx
  frontend/src/world-builder/components/LinkRoomsDialog.tsx
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/RoomDetailPanel.tsx
  frontend/src/world-builder/components/WorldCanvas.tsx
  frontend/src/world-builder/components/WorldRoomNode.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  frontend/src/world-builder/queries.ts
  frontend/src/world-builder/types.ts
  src/web/templates/admin/game_setup.html
Due: eslint, typescript, prettier

refactor(#2449): extract shared map-canvas primitives; buildings + battles consume
  frontend/src/battles/components/BattleMapCanvas.tsx
  frontend/src/battles/components/PlaceNode.tsx
  frontend/src/battles/mapMath.ts
  frontend/src/buildings/components/BuilderCanvas.tsx
  frontend/src/buildings/components/RoomNode.tsx
  frontend/src/buildings/gridMath.test.ts
  frontend/src/buildings/gridMath.ts
  frontend/src/map-canvas/MapCanvasShell.tsx
  frontend/src/map-canvas/coords.test.ts
  frontend/src/map-canvas/coords.ts
  frontend/src/map-canvas/edges.test.ts
  frontend/src/map-canvas/edges.ts
  frontend/src/map-canvas/useMapNodeInteraction.ts
Due: eslint, typescript, prettier

fix(#2449): dispatch success-flag handling, promote_area UI, ghost-cell promotion to map-canvas
  frontend/src/buildings/api.ts
  frontend/src/buildings/components/BuilderCanvas.tsx
  frontend/src/buildings/components/BuildingBuilderDialog.tsx
  frontend/src/buildings/components/RoomNode.tsx
  frontend/src/buildings/gridMath.ts
  frontend/src/buildings/queries.test.tsx
  frontend/src/buildings/queries.ts
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/RoomAuraPicker.test.tsx
  frontend/src/game/components/room-panel/RoomAuraPicker.tsx
  frontend/src/map-canvas/GhostNode.tsx
  frontend/src/map-canvas/ghosts.test.ts
  frontend/src/map-canvas/ghosts.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/AreaTreePanel.test.tsx
  frontend/src/world-builder/components/DigRoomDialog.tsx
  frontend/src/world-builder/components/PromoteAreaButton.test.tsx
  frontend/src/world-builder/components/PromoteAreaButton.tsx
  frontend/src/world-builder/components/WorldCanvas.tsx
  frontend/src/world-builder/pages/WorldBuilderPage.tsx
  frontend/src/world-builder/queries.test.tsx
  frontend/src/world-builder/queries.ts
Due: eslint, typescript, prettier

docs(#2449) + journey test: canvas verbs feed the grid-export pipeline
  docs/adr/0139-staff-world-builder-shares-the-map-canvas-layer-gated-by-staff-flag-not-gm-ladder.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  src/world/areas/AGENT_GLOSSARY.md
  src/world/areas/tests/test_world_builder_journey.py
Due: getattr-literal

fix(#2449): dig collision creates unplaced; fixture-key editable at dig time
  frontend/src/world-builder/components/DigRoomDialog.test.tsx
  frontend/src/world-builder/components/DigRoomDialog.tsx
  src/actions/definitions/world_builder.py
  src/actions/tests/test_world_builder_actions.py
Due: getattr-literal, eslint, typescript, prettier

docs(#2449): resolve main's double-booked ADR 0138 — grid ADR renumbers to 0140 (pagination keeps 0138: ~50 code refs vs ~10)
  docs/adr/0139-staff-world-builder-shares-the-map-canvas-layer-gated-by-staff-flag-not-gm-ladder.md
  docs/adr/0140-grid-content-exports-as-graph-aware-area-bundles.md
  docs/adr/README.md
  docs/evennia-quirks.md
  docs/roadmap/rooms-and-estates.md
  docs/roadmap/tooling.md
  docs/systems/INDEX.md
  src/world/areas/AGENT_GLOSSARY.md
  src/world/areas/grid_services.py
  src/world/areas/tests/test_world_builder_journey.py
Due: getattr-literal

fix(#2449): dedupe canvas composition + dispatch into shared map-canvas layer (Sonar gate)
  frontend/src/buildings/api.ts
  frontend/src/buildings/components/BuilderCanvas.tsx
  frontend/src/map-canvas/dispatch.ts
  frontend/src/map-canvas/useGridCanvasNodes.ts
  frontend/src/world-builder/api.ts
  frontend/src/world-builder/components/WorldCanvas.tsx
Due: eslint, typescript, prettier

perf: paginate the ResonanceGrant audit ledger (ADR-0138 follow-up)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/magic/tests/test_gain_views.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

perf: paginate the player media library (ADR-0138 follow-up)
  frontend/src/generated/api.d.ts
  frontend/src/roster/api.ts
  src/schema.json
  src/world/roster/tests/test_permissions.py
  src/world/roster/tests/test_viewset.py
  src/world/roster/views/media_views.py
Due: getattr-literal, eslint, typescript, prettier

Paginate the player media library (ADR-0138 follow-up) (#2469)
  frontend/src/generated/api.d.ts
  frontend/src/roster/api.ts
  src/schema.json
  src/world/roster/tests/test_permissions.py
  src/world/roster/tests/test_viewset.py
  src/world/roster/views/media_views.py
Due: getattr-literal, eslint, typescript, prettier

refactor: consolidate ad-hoc API error parsing onto throwApiError
  frontend/src/battles/api.ts
  frontend/src/buildings/api.ts
  frontend/src/character-creation/api.ts
  frontend/src/combat/api.ts
  frontend/src/fashion/queries.ts
  frontend/src/game/api/roomEditor.ts
  frontend/src/map-canvas/dispatch.ts
  frontend/src/market/api.ts
  frontend/src/npc_services/interaction.ts
  frontend/src/rituals/api.ts
  frontend/src/scenes/queries.ts
  frontend/src/spread/queries.ts
  frontend/src/stories/api.ts
  frontend/src/world-builder/api.ts
Due: eslint, typescript, prettier

feat(magic): add imbue_ap_cost field to GiftAcquisitionConfig (#2467)
  src/world/magic/migrations/0109_giftacquisitionconfig_imbue_ap_cost.py
  src/world/magic/models/gift_unlocks.py
Due: getattr-literal

refactor(magic): hoist AP surcharge resolver to public (#2467)
  src/world/magic/services/gift_acquisition.py
Due: getattr-literal

feat(magic): charge AP for imbuing with Unbound surcharge (#2467)
  src/actions/definitions/imbue.py
  src/world/magic/services/resonance.py
Due: getattr-literal

docs(magic): note AP cost for imbuing (#2467)
  src/world/magic/CLAUDE.md
Due: none

test(magic): AP charge for imbuing with Unbound surcharge (#2467)
  src/world/magic/tests/test_resonance_services.py
Due: getattr-literal

fix(magic): update max_migration.txt for imbue_ap_cost (#2467)
  src/world/magic/migrations/max_migration.txt
Due: none

docs: spec for MUSH %r/%t markup on telnet input
  docs/superpowers/specs/2026-07-17-mush-markup-telnet-input-design.md
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
