Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Perception taxonomy docs + glossary (#2997)
  AGENT_GLOSSARY_MAP.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  src/flows/CLAUDE.md
  src/world/checks/AGENT_GLOSSARY.md
  src/world/scenes/AGENT_GLOSSARY.md
Due: none

fix(#2997): route remaining exclusion call sites through the registry (review fix)
  docs/systems/scenes.md
  src/actions/definitions/communication.py
  src/actions/tests/test_language_speech.py
  src/flows/service_functions/perception_registry.py
  src/world/vitals/carry_services.py
Due: getattr-literal

Render the hardening overlay outside releases, symlink it into the one being deployed (#2236)
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/django_hardening/defaults/main.yml
  infra/scripts/acceptance.sh
Due: none

Render the hardening overlay outside releases, symlink it into the one being deployed (#3172)
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/django_hardening/defaults/main.yml
  infra/scripts/acceptance.sh
Due: none

needs-design: perception-override primitive — one 'who perceives what is real' seam for dreams, illusions, disguise (#3171)
  AGENT_GLOSSARY_MAP.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  src/actions/definitions/communication.py
  src/actions/tests/test_language_speech.py
  src/flows/CLAUDE.md
  src/flows/service_functions/communication.py
  src/flows/service_functions/perception_registry.py
  src/flows/tests/test_perception_registry.py
  src/world/checks/AGENT_GLOSSARY.md
  src/world/checks/perception_constants.py
  src/world/checks/perception_services.py
  src/world/checks/tests/test_perception_services.py
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/seeds/investigation_checks.py
  src/world/vitals/carry_services.py
Due: getattr-literal

Event grandeur: spend-driven prestige riding the catering pipeline (#2357)
  docs/roadmap/events.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/events/components/EventDetail.tsx
  frontend/src/events/components/EventInvitations.test.tsx
  frontend/src/events/components/GrandeurPanel.test.tsx
  frontend/src/events/components/GrandeurPanel.tsx
  frontend/src/events/pages/EventDetailPage.tsx
  frontend/src/events/queries.ts
  frontend/src/events/types.ts
  src/actions/definitions/events.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/events.py
  src/commands/tests/test_event_command_journey.py
  src/world/events/admin.py
  src/world/events/constants.py
  src/world/events/models.py
  src/world/events/serializers.py
  src/world/events/services.py
  src/world/events/tests/test_grandeur.py
  src/world/events/types.py
  src/world/events/views.py
  src/world/migrations/0144_eventgrandeurcontribution.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
Due: getattr-literal, eslint, typescript, prettier

fix(#2357): review fixes - api-types regen, completed-ceremony gate, nonrefundable ruling pinned
  docs/roadmap/events.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/events/services.py
  src/world/events/tests/test_grandeur.py
  src/world/events/types.py
Due: getattr-literal, eslint, typescript, prettier

Deploy from the org repo, and make a bad repo URL fail loudly (#2236)
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Deploy from the org repo, and make a bad repo URL fail loudly (#3174)
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Grant CREATE on schema public so migrations can run on PG15+ (#2236)
  infra/ansible/roles/postgres/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Grant CREATE on schema public so migrations can run on PG15+ (#3175)
  infra/ansible/roles/postgres/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

needs-design: event grandeur — prestige/wealth investment for once-in-a-lifetime events (#3173)
  docs/roadmap/events.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/events/components/EventDetail.tsx
  frontend/src/events/components/EventInvitations.test.tsx
  frontend/src/events/components/GrandeurPanel.test.tsx
  frontend/src/events/components/GrandeurPanel.tsx
  frontend/src/events/pages/EventDetailPage.tsx
  frontend/src/events/queries.ts
  frontend/src/events/types.ts
  frontend/src/generated/api.d.ts
  src/actions/definitions/events.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/events.py
  src/commands/tests/test_event_command_journey.py
  src/schema.json
  src/world/events/admin.py
  src/world/events/constants.py
  src/world/events/models.py
  src/world/events/serializers.py
  src/world/events/services.py
  src/world/events/tests/test_grandeur.py
  src/world/events/types.py
  src/world/events/views.py
  src/world/migrations/0144_eventgrandeurcontribution.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
Due: getattr-literal, eslint, typescript, prettier

Add Mood system: internal declared state + empathy-gated detection (#2994)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  src/actions/definitions/mood.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_mood_actions.py
  src/commands/default_cmdsets.py
  src/commands/mood.py
  src/core_management/content_export.py
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_models.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/migrations/0145_moodoption_charactersheet_current_mood.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

fix(#2994): telnet sense command + design-tenets doc sync (review fold-ins)
  docs/roadmap/design-tenets.md
  src/actions/definitions/mood.py
  src/actions/tests/test_mood_actions.py
  src/commands/default_cmdsets.py
  src/commands/mood.py
Due: getattr-literal

fix(#2994): MoodOption inherits CreditedContent (CONTENT_MODELS coverage test)
  src/world/character_sheets/models.py
  src/world/migrations/0146_moodoption_reviewed_by_moodoption_reviewed_on_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

style(#2994): ruff-format the rebase_migration-rewritten 0146 (CI)
  src/world/migrations/0146_moodoption_reviewed_by_moodoption_reviewed_on_and_more.py
Due: getattr-literal

needs-design: mood/stance system — declared expressive state instead of pose-parsing (#3170)
  docs/roadmap/design-tenets.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  src/actions/definitions/mood.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_mood_actions.py
  src/commands/default_cmdsets.py
  src/commands/mood.py
  src/core_management/content_export.py
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/factories.py
  src/world/character_sheets/models.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_models.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/migrations/0145_moodoption_charactersheet_current_mood.py
  src/world/migrations/0146_moodoption_reviewed_by_moodoption_reviewed_on_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Post-CG worship conversion: ceremony + temple routes, heart vs lip service (#2361)
  docs/adr/0215-conversion-historicizes-not-retires-and-sincerity-is-a-flag.md
  docs/adr/README.md
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/actions/definitions/ceremonies.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/ceremonies/AGENT_GLOSSARY.md
  src/world/ceremonies/constants.py
  src/world/ceremonies/factories.py
  src/world/ceremonies/models.py
  src/world/ceremonies/seeds.py
  src/world/ceremonies/services.py
  src/world/ceremonies/tests/test_seeds.py
  src/world/ceremonies/tests/test_services.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/migrations/0147_worshipdeclaration_public_is_sincere_and_more.py
  src/world/migrations/max_migration.txt
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/models.py
  src/world/worship/services.py
  src/world/worship/tests/test_services.py
Due: getattr-literal

fix(#2361): player-reachable conversion offers - viewset, telnet, frontend (review fix)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/worship.md
  frontend/src/ceremonies/ConversionOfferBanner.test.tsx
  frontend/src/ceremonies/ConversionOfferBanner.tsx
  frontend/src/ceremonies/ConversionOfferDialog.tsx
  frontend/src/ceremonies/api.ts
  frontend/src/ceremonies/queries.ts
  frontend/src/ceremonies/types.ts
  frontend/src/components/Layout.tsx
  frontend/src/generated/api.d.ts
  src/commands/conversion.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_conversion_command.py
  src/schema.json
  src/world/ceremonies/serializers.py
  src/world/ceremonies/tests/test_api.py
  src/world/ceremonies/urls.py
  src/world/ceremonies/views.py
Due: getattr-literal, eslint, typescript, prettier

Run deploy-time Django commands through django, not the evennia launcher
  .github/workflows/standup.yml
  infra/README.md
  infra/ansible/ansible.cfg
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

fix(#2988): ambient delivery honors broadcast-exclusion registry (review fix)
  src/world/narrative/ambient_texture.py
  src/world/narrative/tests/test_ambient_texture.py
Due: getattr-literal

Ambient room texture: roaming flavor emits + room-state risk telegraphing (#2988)
  AGENT_GLOSSARY_MAP.md
  docs/roadmap/design-tenets.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/narrative.md
  src/core_management/content_export.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  src/world/migrations/0148_ambientemit.py
  src/world/migrations/max_migration.txt
  src/world/narrative/AGENT_GLOSSARY.md
  src/world/narrative/ambient_texture.py
  src/world/narrative/factories.py
  src/world/narrative/models.py
  src/world/narrative/tests/test_ambient_texture.py
  src/world/weather/tasks.py
Due: getattr-literal

Run deploy-time Django commands through django, not the evennia launcher (#3179)
  .github/workflows/standup.yml
  infra/README.md
  infra/ansible/ansible.cfg
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Email invite links instead of making staff paste them by hand
  docs/systems/registration.md
  frontend/src/staff/api.ts
  frontend/src/staff/pages/StaffInvitesPage.tsx
  frontend/src/staff/queries.ts
  src/world/registration/email_service.py
  src/world/registration/services.py
  src/world/registration/tests/test_email_service.py
  src/world/registration/views.py
  src/world/templates/registration/email/account_invite.html
Due: getattr-literal, eslint, typescript, prettier

needs-design: ambient room texture — roaming flavor emits + room-state risk telegraphing (#3180)
  AGENT_GLOSSARY_MAP.md
  docs/roadmap/design-tenets.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/narrative.md
  src/core_management/content_export.py
  src/world/game_clock/task_registry.py
  src/world/game_clock/tasks.py
  src/world/migrations/0148_ambientemit.py
  src/world/migrations/max_migration.txt
  src/world/narrative/AGENT_GLOSSARY.md
  src/world/narrative/ambient_texture.py
  src/world/narrative/factories.py
  src/world/narrative/models.py
  src/world/narrative/tests/test_ambient_texture.py
  src/world/weather/tasks.py
Due: getattr-literal

Set lang="en" on the email templates (SonarQube accessibility rule)
  src/world/templates/registration/email/account_invite.html
  src/world/templates/roster/email/application_approved.html
  src/world/templates/roster/email/application_confirmation.html
  src/world/templates/roster/email/application_denied.html
  src/world/templates/roster/email/password_reset.html
  src/world/templates/roster/email/staff_notification.html
Due: none

Regenerate the API schema and frontend types for the resend endpoint
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Declare pyOpenSSL so the Portal can bind the SSL-telnet listener
  infra/README.md
  infra/scripts/acceptance.sh
  pyproject.toml
  uv.lock
Due: none

Declare pyOpenSSL so the Portal can bind the SSL-telnet listener (#3183)
  infra/README.md
  infra/scripts/acceptance.sh
  pyproject.toml
  uv.lock
Due: none

Servant daily-life behaviors: assignment, pampering ambience, doorman announcement, unresistable expulsion (#2989)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  src/actions/definitions/npc_ambience.py
  src/actions/definitions/npc_assignments.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_npc_ambience_actions.py
  src/actions/tests/test_npc_assignment_actions.py
  src/commands/default_cmdsets.py
  src/commands/doorman.py
  src/commands/expulsion.py
  src/commands/servant.py
  src/flows/service_functions/movement.py
  src/flows/tests/test_movement.py
  src/typeclasses/characters.py
  src/world/migrations/0149_expulsionbar.py
  src/world/migrations/max_migration.txt
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/doorman_services.py
  src/world/npc_services/expulsion_services.py
  src/world/npc_services/models.py
  src/world/npc_services/servant_ambience.py
  src/world/npc_services/tests/test_doorman_announce.py
  src/world/npc_services/tests/test_expulsion.py
  src/world/npc_services/tests/test_npc_assignment.py
  src/world/npc_services/tests/test_servant_ambience.py
Due: getattr-literal

docs(#2989): ExpulsionBar docstring lists all three enforcement routes
  src/world/npc_services/models.py
Due: getattr-literal

fix(#2989): expulsion bar covers portal/home routes; guard actions share the npc-role helpers (review fix)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  src/actions/definitions/movement.py
  src/actions/definitions/npc_assignments.py
  src/world/magic/services/portal_travel.py
  src/world/magic/tests/test_portal_travel.py
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/expulsion_services.py
  src/world/npc_services/models.py
  src/world/npc_services/tests/test_expulsion.py
Due: getattr-literal

Install AWS CLI v2 from Amazon's pinned bundle; Ubuntu 24.04 has no awscli
  infra/README.md
  infra/ansible/roles/backups/tasks/main.yml
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/offsite_replication/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Install AWS CLI v2 from Amazon's pinned bundle; Ubuntu 24.04 has no awscli (#3185)
  infra/README.md
  infra/ansible/roles/backups/tasks/main.yml
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/offsite_replication/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

fix(#2989): arrival hook is a no-op without a doorman (CI)
  src/world/npc_services/doorman_services.py
  src/world/npc_services/expulsion_services.py
Due: getattr-literal

Stop the app-checkout secret scan failing on dependency and runtime files
  infra/ansible/roles/secrets_perms/defaults/main.yml
  infra/ansible/roles/secrets_perms/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Stop the app-checkout secret scan failing on dependency and runtime files (#3186)
  infra/ansible/roles/secrets_perms/defaults/main.yml
  infra/ansible/roles/secrets_perms/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Servant daily-life behaviors — meal/bath prep, message-carrying, announcing visitors, guard/doorman duty (#3184)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  src/actions/definitions/movement.py
  src/actions/definitions/npc_ambience.py
  src/actions/definitions/npc_assignments.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_npc_ambience_actions.py
  src/actions/tests/test_npc_assignment_actions.py
  src/commands/default_cmdsets.py
  src/commands/doorman.py
  src/commands/expulsion.py
  src/commands/servant.py
  src/flows/service_functions/movement.py
  src/flows/tests/test_movement.py
  src/typeclasses/characters.py
  src/world/magic/services/portal_travel.py
  src/world/magic/tests/test_portal_travel.py
  src/world/migrations/0149_expulsionbar.py
  src/world/migrations/max_migration.txt
  src/world/npc_services/AGENT_GLOSSARY.md
  src/world/npc_services/doorman_services.py
  src/world/npc_services/expulsion_services.py
  src/world/npc_services/models.py
  src/world/npc_services/servant_ambience.py
  src/world/npc_services/tests/test_doorman_announce.py
  src/world/npc_services/tests/test_expulsion.py
  src/world/npc_services/tests/test_npc_assignment.py
  src/world/npc_services/tests/test_servant_ambience.py
Due: getattr-literal

Let Caddy traverse to /static: app root and releases dir become 0751
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
