Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(stories-fe): API + types + React Query hooks layer (Wave 2)
  frontend/src/stories/__tests__/queries.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

feat(stories-api): GET /api/stories/{id}/log/ action
  src/world/stories/tests/test_views_story_log.py
  src/world/stories/views.py
Due: getattr-literal

chore(frontend): regenerate API types for /api/stories/{id}/log/
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Add per-cast hooks to allow for accruing abyssal corruption (#403)
  docs/roadmap/magic.md
  src/world/magic/services/corruption.py
  src/world/magic/services/techniques.py
  src/world/magic/tests/integration/test_corruption_flow.py
  src/world/magic/tests/test_corruption_for_cast.py
  src/world/magic/tests/test_technique_use_result_shape.py
  src/world/magic/types/__init__.py
  src/world/magic/types/techniques.py
Due: getattr-literal

feat(stories-fe): My Active Stories page + Story detail read-only view (Wave 3, Tasks 3.1-3.2)
  frontend/src/stories/__tests__/MyActiveStoriesPage.test.tsx
  frontend/src/stories/__tests__/StoryDetailPage.test.tsx
  frontend/src/stories/components/AggregateProgressBar.tsx
  frontend/src/stories/components/BeatList.tsx
  frontend/src/stories/components/BeatOutcomeBadge.tsx
  frontend/src/stories/components/BeatRow.tsx
  frontend/src/stories/components/CurrentEpisodePanel.tsx
  frontend/src/stories/components/ScopeBadge.tsx
  frontend/src/stories/components/StatusBadge.tsx
  frontend/src/stories/components/StoryCard.tsx
  frontend/src/stories/pages/MyActiveStoriesPage.tsx
  frontend/src/stories/pages/StoryDetailPage.tsx
Due: eslint, typescript, prettier

feat(stories-fe): Story log reader timeline component (Wave 3, Task 3.3)
  frontend/src/stories/__tests__/StoryLog.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/StoryLog.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

feat(stories-fe): aggregate-contribute action dialog
  frontend/src/stories/__tests__/ContributeBeatDialog.test.tsx
  frontend/src/stories/__tests__/StoryDetailPage.test.tsx
  frontend/src/stories/components/BeatList.tsx
  frontend/src/stories/components/BeatRow.tsx
  frontend/src/stories/components/ContributeBeatDialog.tsx
  frontend/src/stories/components/CurrentEpisodePanel.tsx
Due: eslint, typescript, prettier

feat(stories-fe): player session-request status display
  frontend/src/stories/__tests__/SessionRequestStatusCard.test.tsx
  frontend/src/stories/components/SessionRequestStatusCard.tsx
  frontend/src/stories/pages/StoryDetailPage.tsx
  frontend/src/stories/queries.ts
Due: eslint, typescript, prettier

feat(stories-fe): Lead GM queue dashboard (read-only)
  frontend/src/stories/__tests__/GMQueuePage.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/AssignedSessionRequestRow.tsx
  frontend/src/stories/components/EpisodeReadyCard.tsx
  frontend/src/stories/components/PendingClaimRow.tsx
  frontend/src/stories/pages/GMQueuePage.tsx
Due: eslint, typescript, prettier

feat(stories-fe): ResolveEpisode + MarkBeat GM action dialogs (Wave 6, Tasks 6.1-6.2)
  frontend/src/stories/__tests__/MarkBeatDialog.test.tsx
  frontend/src/stories/__tests__/ResolveEpisodeDialog.test.tsx
  frontend/src/stories/__tests__/StoryDetailPage.test.tsx
  frontend/src/stories/components/BeatRow.tsx
  frontend/src/stories/components/EpisodeReadyCard.tsx
  frontend/src/stories/components/MarkBeatDialog.tsx
  frontend/src/stories/components/ResolveEpisodeDialog.tsx
  frontend/src/test/setup.ts
Due: eslint, typescript, prettier

feat(stories-fe): AGM claim approve/reject + schedule-event dialogs (Wave 6, Tasks 6.3-6.4)
  frontend/src/stories/__tests__/ApproveRejectClaimDialogs.test.tsx
  frontend/src/stories/__tests__/ScheduleEventDialog.test.tsx
  frontend/src/stories/components/ApproveClaimDialog.tsx
  frontend/src/stories/components/AssignedSessionRequestRow.tsx
  frontend/src/stories/components/PendingClaimRow.tsx
  frontend/src/stories/components/RejectClaimDialog.tsx
  frontend/src/stories/components/ScheduleEventDialog.tsx
Due: eslint, typescript, prettier

feat(stories-fe): AGM claim flow UI (Wave 7, Tasks 7.1-7.2)
  frontend/src/stories/__tests__/AGMOpportunitiesPage.test.tsx
  frontend/src/stories/__tests__/MyAGMClaimsPage.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/AGMOpportunityCard.tsx
  frontend/src/stories/components/MyClaimRow.tsx
  frontend/src/stories/components/RequestClaimDialog.tsx
  frontend/src/stories/pages/AGMOpportunitiesPage.tsx
  frontend/src/stories/pages/MyAGMClaimsPage.tsx
  frontend/src/stories/types.ts
  src/world/stories/filters.py
  src/world/stories/serializers.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(stories-fe): Staff workload dashboard
  frontend/src/stories/__tests__/StaffWorkloadPage.test.tsx
  frontend/src/stories/components/ExpireBeatsButton.tsx
  frontend/src/stories/components/FrontierStoriesTable.tsx
  frontend/src/stories/components/PerGMQueueTable.tsx
  frontend/src/stories/components/StaleStoriesTable.tsx
  frontend/src/stories/components/WorkloadStatCard.tsx
  frontend/src/stories/pages/StaffWorkloadPage.tsx
Due: eslint, typescript, prettier

Add seed-and-integration coverage audit (Phase A output)
  docs/audits/2026-04-26-seed-and-integration-coverage-audit.md
Due: none

Add seed-and-integration-tests cross-cutting roadmap (magic-first ordering)
  docs/audits/2026-04-26-seed-and-integration-coverage-audit.md
  docs/roadmap/ROADMAP.md
  docs/roadmap/seed-and-integration-tests.md
Due: none

feat(stories-api): add Transition / EpisodeProgressionRequirement / TransitionRequiredOutcome ViewSets
  frontend/src/generated/api.d.ts
  src/world/stories/filters.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/tests/test_views_episode_progression_requirements.py
  src/world/stories/tests/test_views_transition_required_outcomes.py
  src/world/stories/tests/test_views_transitions.py
  src/world/stories/urls.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

Audit seed and integration coverage (#404)
  docs/audits/2026-04-26-seed-and-integration-coverage-audit.md
  docs/roadmap/ROADMAP.md
  docs/roadmap/seed-and-integration-tests.md
Due: none

feat(stories): Wave 9 Task 9.1 — story/chapter/episode CRUD author page
  frontend/src/stories/__tests__/StoryAuthorPage.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/ChapterFormDialog.tsx
  frontend/src/stories/components/EpisodeFormDialog.tsx
  frontend/src/stories/components/StoryAuthorTree.tsx
  frontend/src/stories/components/StoryFormDialog.tsx
  frontend/src/stories/pages/StoryAuthorPage.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

feat(stories): Wave 9 Task 9.2 — BeatFormDialog with predicate config form
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/components/BeatFormDialog.tsx
Due: eslint, typescript, prettier

feat(stories): Wave 9 Tasks 9.3+9.4 — transition form + progression requirements
  frontend/src/stories/__tests__/TransitionFormDialog.test.tsx
  frontend/src/stories/components/ProgressionRequirementsEditor.tsx
  frontend/src/stories/components/TransitionFormDialog.tsx
Due: eslint, typescript, prettier

build(frontend): add @xyflow/react and dagre for episode DAG visualization
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

Add seed_magic_config() helper for magic singletons
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/__init__.py
  src/integration_tests/game_content/tests/test_magic_seed.py
Due: getattr-literal

feat(stories-fe): episode DAG visualization (read-only)
  frontend/src/stories/__tests__/EpisodeDAG.test.tsx
  frontend/src/stories/__tests__/StoryAuthorPage.test.tsx
  frontend/src/stories/components/EpisodeDAG.tsx
  frontend/src/stories/components/EpisodeNode.tsx
  frontend/src/stories/pages/StoryAuthorPage.tsx
Due: eslint, typescript, prettier

Fix CheckType orphan creation in seed_magic_config
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
Due: getattr-literal

Address code-review feedback for seed_magic_config
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
Due: getattr-literal

feat(stories-fe): routing, navigation, error boundaries, skeleton polish
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/stories/__tests__/ContributeBeatDialog.test.tsx
  frontend/src/stories/__tests__/MarkBeatDialog.test.tsx
  frontend/src/stories/pages/AGMOpportunitiesPage.tsx
  frontend/src/stories/pages/GMQueuePage.tsx
  frontend/src/stories/pages/MyAGMClaimsPage.tsx
  frontend/src/stories/pages/StaffWorkloadPage.tsx
  frontend/src/stories/pages/StoryAuthorPage.tsx
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

Add seed_canonical_rituals() for Imbuing + Atonement rites
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
Due: getattr-literal

Add seed_thread_pull_catalog() — ThreadPullCost + ThreadPullEffect
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
Due: getattr-literal

Add test_thread_pull_pipeline.py — Spec A end-to-end coverage
  src/integration_tests/pipeline/test_thread_pull_pipeline.py
  src/world/magic/services/resonance.py
  src/world/magic/types/pull.py
Due: getattr-literal

Add test_anima_regen_pipeline.py — daily regen + Soulfray gate
  src/integration_tests/pipeline/test_anima_regen_pipeline.py
Due: getattr-literal

Add test_situation_pipeline.py — Situation system end-to-end coverage
  src/integration_tests/pipeline/test_situation_pipeline.py
Due: getattr-literal

Add per-cast corruption pipeline coverage (Audere + multi-resonance)
  src/integration_tests/pipeline/test_corruption_per_cast_pipeline.py
Due: getattr-literal

Fix Decimal string literal in seed_magic_config SoulfrayConfig defaults
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/integration_tests/pipeline/test_corruption_per_cast_pipeline.py
Due: getattr-literal

Add seed_cantrip_starter_catalog() — 5 styles × 5 archetypes
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
Due: getattr-literal

test(stories-fe): Playwright e2e smoke tests for player and GM flows
  frontend/e2e/stories-gm.spec.ts
  frontend/e2e/stories-player.spec.ts
Due: eslint, typescript, prettier

docs(stories): Phase 4 frontend complete — roadmap + feature CLAUDE.md
  docs/roadmap/stories-gm.md
  frontend/src/narrative/CLAUDE.md
  frontend/src/stories/CLAUDE.md
Due: prettier

Add seed_magic_dev() orchestrator + idempotency fixes
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/world/magic/factories.py
Due: getattr-literal

Mark Phase 1 complete in seed-and-integration-tests roadmap
  docs/roadmap/seed-and-integration-tests.md
Due: none

Phase 1 — magic-cluster seed mechanism + integration tests (#405)
  docs/roadmap/seed-and-integration-tests.md
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/__init__.py
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/integration_tests/pipeline/test_anima_regen_pipeline.py
  src/integration_tests/pipeline/test_corruption_per_cast_pipeline.py
  src/integration_tests/pipeline/test_situation_pipeline.py
  src/integration_tests/pipeline/test_thread_pull_pipeline.py
  src/world/magic/factories.py
  src/world/magic/services/resonance.py
  src/world/magic/types/pull.py
Due: getattr-literal

refactor(stories): address Phase 4 review feedback
  docs/roadmap/stories-gm.md
  frontend/src/narrative/CLAUDE.md
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/__tests__/GMQueuePage.test.tsx
  frontend/src/stories/__tests__/ResolveEpisodeDialog.test.tsx
  frontend/src/stories/__tests__/queries.test.tsx
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/components/EpisodeReadyCard.tsx
  frontend/src/stories/components/MarkBeatDialog.tsx
  frontend/src/stories/components/ResolveEpisodeDialog.tsx
  frontend/src/stories/pages/StoryDetailPage.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
  src/world/stories/permissions.py
Due: getattr-literal, eslint, typescript, prettier
