Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(#854): reject duplicate thread_ids in the cast pull declaration
  src/world/scenes/action_serializers.py
  src/world/scenes/tests/test_action_serializers.py
Due: getattr-literal

feat(#854): nested pull declaration on the cast serializer
  src/world/scenes/action_serializers.py
  src/world/scenes/tests/test_action_serializers.py
Due: getattr-literal

refactor(#854): select_related effect_type, unknown-technique guard, tighter pull validation asserts
  src/world/scenes/action_serializers.py
  src/world/scenes/tests/test_action_serializers.py
Due: getattr-literal

feat(#854): thread cast_pull through the cast pipeline; benign persistence + consent fizzle
  src/world/magic/narration.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

feat(#854,#859): cast endpoint accepts pull declarations and exposes action_interaction
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal

fix(#854): degrade ResonanceInsufficient race to fizzle at consent; docstrings + retired-thread fizzle test
  src/world/magic/narration.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

feat(#859): standalone ACTION cards expand to outcome details; type the full cast response
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
Due: eslint, typescript, prettier

test(#859): assert action_interaction is non-null in cast response
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal

feat(#859): show the power ledger in the cast panel on immediate casts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

refactor(#859): type the full cast result payload; trim dead test mock plumbing
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
Due: eslint, typescript, prettier

feat(#854): thread-pull picker in the cast dialog
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

polish(#854): clear stale pull-conflict notice when no paid pull remains
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

polish(#859): clear stale cast ledger on popover close; assert panel closure in Done test
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

fix(#854): guard unresolved threads cache in pull constraint + commit; constraint regression test
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
Due: eslint, typescript, prettier

style: prettier + ruff-format normalization from batched pre-commit run
  frontend/src/scenes/components/ActionPanel.test.tsx
  src/world/scenes/migrations/0015_scenecastpulldeclaration.py
Due: getattr-literal, eslint, typescript, prettier

docs(roadmap): mark #854 cast pull declaration + #859 immediate ledger surface done
  docs/roadmap/combat.md
  docs/roadmap/magic.md
Due: none

fix(#854): degrade ANY charge-time MagicError to fizzle at consent (anchor/lock/race), with coverage
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

refactor: dedupe pull-fixture/test scaffolding + consent retry (SonarCloud new-code duplication gate)
  frontend/src/scenes/components/ActionPanel.test.tsx
  src/world/scenes/cast_services.py
  src/world/scenes/tests/cast_test_helpers.py
  src/world/scenes/tests/test_action_views.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal, eslint, typescript, prettier

Combat risk-acknowledgement gate for hostile-cast-seeded encounters (#894)
  docs/roadmap/combat.md
  docs/roadmap/magic.md
  frontend/src/generated/api.d.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ConsentPrompt.test.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  src/schema.json
  src/world/combat/cast_seed.py
  src/world/combat/constants.py
  src/world/combat/migrations/0005_encounterriskacknowledgement_and_more.py
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/combat/tests/test_cast_seed.py
  src/world/combat/tests/test_risk_acknowledgement.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_services.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
  src/world/scenes/tests/test_scene_action_request_serializer.py
Due: getattr-literal, eslint, typescript, prettier

feat(#761,#881): renown fiction layer backend — qualitative boards + fame reactions
  src/typeclasses/characters.py
  src/web/api/urls.py
  src/world/societies/admin.py
  src/world/societies/fame_reactions.py
  src/world/societies/migrations/0014_famereactionline_famereactioncooldown_and_more.py
  src/world/societies/models.py
  src/world/societies/ranking_services.py
  src/world/societies/ranking_views.py
  src/world/societies/tests/test_renown_fiction_layer.py
  src/world/societies/urls.py
Due: getattr-literal

feat(#761): FE — diegetic ranking board on focused in-world objects
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/ItemFocusView.tsx
  frontend/src/renown/components/RankingBoardCard.test.tsx
  frontend/src/renown/components/RankingBoardCard.tsx
  frontend/src/renown/queries.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#877): character attribution + schema annotations on pending-alteration API
  src/world/magic/serializers.py
  src/world/magic/tests/test_alteration_views.py
  src/world/magic/views.py
Due: getattr-literal

test(#877): assert character_name value, not just key presence
  src/world/magic/tests/test_alteration_views.py
Due: getattr-literal

chore(#877): regenerate API schema + types
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#877): pending-alteration API client + types
  frontend/src/magic/api.ts
  frontend/src/magic/types.ts
Due: eslint, typescript, prettier

fix(#877): unpaginated library schema at source + review polish on alteration client
  frontend/src/generated/api.d.ts
  frontend/src/magic/api.ts
  frontend/src/magic/types.ts
  src/schema.json
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

refactor(#877): shared useDamageTypes hook
  frontend/src/conditions/api.ts
  frontend/src/conditions/queries.ts
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
Due: eslint, typescript, prettier

feat(#877): pending-alteration query hooks
  frontend/src/magic/__tests__/alterationQueries.test.tsx
  frontend/src/magic/queries.ts
Due: eslint, typescript, prettier

test(#877): leaner store/mock + invalidation assertion for alteration hooks
  frontend/src/magic/__tests__/alterationQueries.test.tsx
  frontend/src/magic/queries.ts
Due: eslint, typescript, prettier

feat(#877): author-from-scratch path with tier-cap constraints
  frontend/src/magic/__tests__/AlterationResolveDialog.test.tsx
  frontend/src/magic/components/alterations/AlterationAuthorForm.tsx
Due: eslint, typescript, prettier

feat(#877): alteration resolve dialog — shell + library path
  frontend/src/magic/__tests__/AlterationResolveDialog.test.tsx
  frontend/src/magic/components/alterations/AlterationAuthorForm.tsx
  frontend/src/magic/components/alterations/AlterationResolveDialog.tsx
Due: eslint, typescript, prettier

feat(#877): /magic/alterations resolution page
  frontend/src/App.tsx
  frontend/src/magic/pages/AlterationResolutionPage.tsx
Due: eslint, typescript, prettier

fix(#877): preserve authored prose across tab switches + dialog polish
  frontend/src/magic/__tests__/AlterationResolveDialog.test.tsx
  frontend/src/magic/components/alterations/AlterationAuthorForm.tsx
  frontend/src/magic/components/alterations/AlterationResolveDialog.tsx
Due: eslint, typescript, prettier

feat(#877): XP page gate alert naming the scarred character
  frontend/src/progression/XpKudosPage.tsx
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
Due: eslint, typescript, prettier

feat(#877): site-wide pending Mage Scar banner
  frontend/src/components/Layout.tsx
  frontend/src/magic/__tests__/PendingAlterationBanner.test.tsx
  frontend/src/magic/components/alterations/PendingAlterationBanner.tsx
Due: eslint, typescript, prettier

fix(#877): gate-alert grammar keyed on distinct characters
  frontend/src/progression/XpKudosPage.tsx
Due: eslint, typescript, prettier

fix(#877): error state on resolution page + per-character banner copy
  frontend/src/magic/components/alterations/PendingAlterationBanner.tsx
  frontend/src/magic/pages/AlterationResolutionPage.tsx
  frontend/src/progression/XpKudosPage.tsx
  frontend/src/progression/__tests__/XpKudosPage.alterationGate.test.tsx
Due: eslint, typescript, prettier

docs(#877): roadmap + magic module inventory for scar resolution UI
  docs/roadmap/magic.md
  frontend/src/magic/CLAUDE.md
Due: prettier

docs(#877): correct confabulated API details in module inventory + roadmap
  docs/roadmap/magic.md
  frontend/src/magic/CLAUDE.md
Due: prettier

fix(#877): tsc -b strictness — optional library magnitudes + honest mock shapes
  frontend/src/magic/__tests__/AlterationResolveDialog.test.tsx
  frontend/src/magic/__tests__/alterationQueries.test.tsx
  frontend/src/magic/components/alterations/AlterationResolveDialog.tsx
Due: eslint, typescript, prettier
