Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#2165): GamePage conversation-tab wiring + integration tests
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/GameWindow.tsx
Due: eslint, typescript, prettier

feat(#2165): ConversationTabStrip component
  frontend/src/game/components/ConversationTabStrip.test.tsx
  frontend/src/game/components/ConversationTabStrip.tsx
Due: eslint, typescript, prettier

fix(#2165): gate tab-layout save on hydration landing (review race)
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
Due: eslint, typescript, prettier

docs(#2165): conversation tabs — game/store guides + scenes system doc
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/store/CLAUDE.md
  frontend/src/store/__tests__/gameSlice.test.ts
Due: eslint, typescript, prettier

feat(#2165): persist conversation-tab layout per character+scene
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/threadTabsStorage.test.ts
  frontend/src/game/threadTabsStorage.ts
Due: eslint, typescript, prettier

fix(#2165): sidebar row selection tracks the active conversation tab
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/ConversationSidebar.tsx
Due: eslint, typescript, prettier

Wire collect_food to telnet + web so the crop/food loop can close (#2237)
  docs/systems/INDEX.md
  src/actions/definitions/collect_food.py
  src/commands/agriculture.py
  src/commands/default_cmdsets.py
  src/web/urls.py
  src/world/agriculture/tests/test_action.py
  src/world/agriculture/urls.py
  src/world/agriculture/views.py
Due: getattr-literal

test(#2223): cross-Area action-seam travel test + hop-cap comment fix
  src/actions/tests/test_actions.py
  src/server/conf/settings.py
Due: getattr-literal

feat(#1107): Identification check seed + difficulty service (slice 5)
  src/world/forms/constants.py
  src/world/forms/services/identification.py
  src/world/forms/tests/test_identification.py
  src/world/forms/types.py
  src/world/seeds/investigation_checks.py
Due: getattr-literal

feat(#1107): attempt_identification with PersonaDiscovery write + Functionary botch (slice 5)
  src/world/clues/services.py
  src/world/forms/services/identification.py
  src/world/forms/tests/test_identification.py
  src/world/forms/types.py
  src/world/npc_services/functionaries.py
  src/world/npc_services/tests/test_functionaries.py
  src/world/scenes/services.py
Due: getattr-literal

feat(#1107): identify action + telnet command (slice 5)
  src/actions/definitions/identification.py
  src/actions/player_interface.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_identification.py
  src/commands/default_cmdsets.py
  src/commands/identification.py
  src/commands/tests/test_identification.py
  src/world/forms/services/identification.py
  src/world/forms/tests/test_identification.py
Due: getattr-literal

feat(#2222): PortalAnchorKind/PortalAnchor models + Technique.travel_anchor_kind
  src/world/magic/factories.py
  src/world/magic/migrations/0101_portalanchorkind_technique_travel_anchor_kind_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/portals.py
  src/world/magic/models/techniques.py
  src/world/magic/tests/test_portals.py
Due: getattr-literal

feat(#2222): portal branch in travel_to + install/dissolve actions + telnet
  src/actions/definitions/movement.py
  src/actions/definitions/portals.py
  src/actions/registry.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_base.py
  src/actions/tests/test_portals.py
  src/commands/default_cmdsets.py
  src/commands/portals.py
  src/commands/tests/test_portals_command.py
Due: getattr-literal

fix(#2222): portal broadcasts third-person for all viewers + exception msgs (task-2 review)
  src/world/magic/services/portal_travel.py
  src/world/magic/tests/test_portal_travel.py
Due: getattr-literal

feat(#2222): portal travel services (route/options/install/perform)
  src/server/conf/settings.py
  src/world/magic/exceptions.py
  src/world/magic/services/portal_travel.py
  src/world/magic/tests/test_portal_travel.py
  src/world/magic/types/portal_travel.py
Due: getattr-literal

feat(#2222): portal-destinations API + stale-anchor-id guard
  frontend/src/generated/api.d.ts
  src/actions/definitions/portals.py
  src/actions/tests/test_portals.py
  src/schema.json
  src/world/locations/serializers.py
  src/world/locations/tests/test_portal_destinations_views.py
  src/world/locations/urls.py
  src/world/locations/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(#2222): REST-safe int resolution for portal anchor actions + dissolve telnet tests
  src/actions/definitions/portals.py
  src/actions/tests/test_portals.py
  src/commands/tests/test_portals_command.py
Due: getattr-literal

feat(#2222): Portals block in room panel
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/PortalsBlock.test.tsx
  frontend/src/game/components/room-panel/PortalsBlock.tsx
  frontend/src/locations/api.ts
  frontend/src/locations/queries.ts
Due: eslint, typescript, prettier

feat(#2222): Mirrorwalking + mirror-anchor seed content
  src/integration_tests/game_content/tests/test_portal_travel_seed.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

fix(#2222): perform_portal_travel is transaction-atomic (final-review fold-in)
  src/world/magic/services/portal_travel.py
Due: getattr-literal

docs(#2222): portal travel — magic system doc, glossary, ADR, model map
  docs/adr/0121-portal-anchors-are-a-stackable-magic-model.md
  docs/adr/README.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  frontend/src/game/CLAUDE.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
  src/world/locations/CLAUDE.md
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/CLAUDE.md
Due: prettier

fix(#1107): identify web-dispatch via context menu, not the consent pipeline
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  src/actions/definitions/identification.py
  src/actions/player_interface.py
  src/actions/tests/test_identification.py
Due: getattr-literal, eslint, typescript, prettier

Regen API types for the /api/agriculture/collect/ endpoint (#2237)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

docs(#1107): identification loop — appearance doc fold-in, glossary, roadmap (slice 5)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/appearance_and_identity.md
  src/world/forms/AGENT_GLOSSARY.md
Due: none

Wire collect_food to telnet + web: the crop/food loop can close in play (#2237) (#2246)
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/collect_food.py
  src/commands/agriculture.py
  src/commands/default_cmdsets.py
  src/schema.json
  src/web/urls.py
  src/world/agriculture/tests/test_action.py
  src/world/agriculture/urls.py
  src/world/agriculture/views.py
Due: getattr-literal, eslint, typescript, prettier

Appearance & Identity architecture (epic) (#2250)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/appearance_and_identity.md
  frontend/src/scenes/components/PersonaContextMenu.test.tsx
  frontend/src/scenes/components/PersonaContextMenu.tsx
  src/actions/definitions/identification.py
  src/actions/player_interface.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_identification.py
  src/commands/default_cmdsets.py
  src/commands/identification.py
  src/commands/tests/test_identification.py
  src/world/clues/services.py
  src/world/forms/AGENT_GLOSSARY.md
  src/world/forms/constants.py
  src/world/forms/services/identification.py
  src/world/forms/tests/test_identification.py
  src/world/forms/types.py
  src/world/npc_services/functionaries.py
  src/world/npc_services/tests/test_functionaries.py
  src/world/scenes/services.py
  src/world/seeds/investigation_checks.py
Due: getattr-literal, eslint, typescript, prettier

Conversation tabs: keep several conversations straight at once (#2155) (#2245)
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/ConversationSidebar.tsx
  frontend/src/game/components/ConversationTabStrip.test.tsx
  frontend/src/game/components/ConversationTabStrip.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/threadTabsStorage.test.ts
  frontend/src/game/threadTabsStorage.ts
  frontend/src/scenes/components/ModeSelector.test.tsx
  frontend/src/scenes/components/ModeSelector.tsx
  frontend/src/scenes/hooks/__tests__/threadToComposerMode.test.ts
  frontend/src/scenes/hooks/__tests__/useThreading.test.ts
  frontend/src/scenes/hooks/threadToComposerMode.ts
  frontend/src/scenes/hooks/useThreading.ts
  frontend/src/store/CLAUDE.md
  frontend/src/store/__tests__/gameSlice.test.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

Telnet parity: CmdSeduce mirrors CmdFlirt (#1695 audit fold-in) (#2244)
  src/commands/CLAUDE.md
  src/commands/consent.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_consent_commands.py
Due: getattr-literal

#2236 Task A: terraform blockers + standup orchestration (group_vars wiring, token unset, backend flags)
  .github/workflows/standup.yml
  infra/README.md
  infra/ansible/.gitignore
  infra/ansible/group_vars/secrets.env.example
  infra/ansible/requirements.yml
  infra/scripts/standup.sh
  infra/terraform/bootstrap/outputs.tf
  infra/terraform/bootstrap/versions.tf
  infra/terraform/modules/linode_firewall/main.tf
  infra/terraform/modules/object_storage/main.tf
  infra/terraform/modules/object_storage/outputs.tf
  infra/terraform/modules/object_storage/variables.tf
  infra/terraform/modules/r2_offsite/main.tf
  infra/terraform/modules/r2_offsite/variables.tf
  infra/terraform/prod/main.tf
  infra/terraform/prod/outputs.tf
  infra/terraform/prod/versions.tf
Due: none

#2236 Task B: SSH admin identity, per-table nftables flush, role order, apt lock + fail-closed guards
  infra/ansible/inventory/hosts.yml.example
  infra/ansible/requirements.yml
  infra/ansible/roles/backups/tasks/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/ansible/roles/fail2ban/tasks/main.yml
  infra/ansible/roles/host_firewall/defaults/main.yml
  infra/ansible/roles/host_firewall/tasks/main.yml
  infra/ansible/roles/host_firewall/templates/nftables.conf.j2
  infra/ansible/roles/offbox_alerting/tasks/main.yml
  infra/ansible/roles/offsite_replication/tasks/main.yml
  infra/ansible/roles/postgres/tasks/main.yml
  infra/ansible/roles/secrets_vault/tasks/main.yml
  infra/ansible/roles/ssh_hardening/defaults/main.yml
  infra/ansible/roles/ssh_hardening/tasks/main.yml
  infra/ansible/roles/unattended_upgrades/tasks/main.yml
  infra/ansible/site.yml
Due: none

feat(#2227): add moment tag subverb for direct GM dramatic-moment tagging
  src/commands/dramatic_moments.py
  src/commands/tests/test_moment_command.py
Due: getattr-literal

docs(#2227): document moment tag telnet subverb
  src/commands/CLAUDE.md
  src/world/magic/CLAUDE.md
Due: none

Telnet parity question: direct GM dramatic-moment tagging (moment tag <char>=<type>) (#2251)
  src/commands/CLAUDE.md
  src/commands/dramatic_moments.py
  src/commands/tests/test_moment_command.py
  src/world/magic/CLAUDE.md
Due: getattr-literal

#2236 Task C: Caddy cloudflare-dns plugin, ws + static routes, real client IP, frontend wss same-origin, telnet cert renewal timer
  frontend/src/config.test.ts
  frontend/src/config.ts
  frontend/src/hooks/useGameSocket.ts
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/django_hardening/defaults/main.yml
  infra/ansible/roles/django_hardening/tasks/main.yml
  infra/ansible/roles/django_hardening/templates/secret_settings.py.j2
  infra/ansible/roles/tls_telnet_cert/tasks/main.yml
  infra/ansible/roles/tls_telnet_cert/templates/sync-telnet-cert.sh.j2
  infra/scripts/standup.sh
Due: eslint, typescript, prettier

Piece 1 — prosperity drives a domain holding's income (#2238)
  src/world/currency/services.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal

Cross-Area travel + Area/Building position coordinates for map rendering (#2247)
  docs/adr/0120-cross-area-travel-rides-the-exit-graph.md
  docs/adr/README.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/areas.md
  frontend/src/generated/api.d.ts
  src/actions/CLAUDE.md
  src/actions/tests/test_actions.py
  src/commands/CLAUDE.md
  src/schema.json
  src/server/conf/settings.py
  src/world/areas/admin.py
  src/world/areas/migrations/0017_area_grid_x_area_grid_y.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/models.py
  src/world/areas/positioning/tests/test_travel.py
  src/world/areas/positioning/travel.py
  src/world/areas/serializers.py
  src/world/areas/services.py
  src/world/areas/tests.py
Due: getattr-literal, eslint, typescript, prettier

Piece 2 — well-fed weeks recover prosperity + relax unrest (#2238)
  src/world/agriculture/migrations/0002_foodconfig_prosperity_equilibrium_and_more.py
  src/world/agriculture/migrations/max_migration.txt
  src/world/agriculture/models.py
  src/world/agriculture/services/consumption.py
  src/world/agriculture/tests/test_consumption.py
Due: getattr-literal

Piece 3 — unrest skims the food haul on collection (#2238)
  src/world/agriculture/constants.py
  src/world/agriculture/services/collection.py
  src/world/agriculture/tests/test_collection.py
Due: getattr-literal

Piece 4 — simmering unrest boils into a DomainCrisis on the weekly tick (#2238)
  src/world/agriculture/services/consumption.py
  src/world/agriculture/tests/test_consumption.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal
