Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

#2236 Task D: release-gated symlink + on-box frontend build, portal watchdog, backup auth + failure alerts, honest restore path
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/app_deploy/templates/arxii-watchdog.sh.j2
  infra/ansible/roles/backups/tasks/main.yml
  infra/ansible/roles/backups/templates/arxii-backup.sh.j2
  infra/ansible/roles/offbox_alerting/tasks/main.yml
  infra/ansible/roles/offbox_alerting/templates/arxii-alert-failure.sh.j2
  infra/ansible/roles/offbox_alerting/templates/arxii-heartbeat.sh.j2
  infra/ansible/roles/offsite_replication/tasks/main.yml
  infra/scripts/restore-rehearsal.sh
  infra/scripts/restore.sh
  infra/scripts/standup.sh
  infra/terraform/prod/outputs.tf
Due: none

Docs — civ-stats now drive income/collection/crises (#2238)
  docs/systems/INDEX.md
Due: none

docs: document battle-front technique entrance composition (#2225)
  docs/systems/battles.md
  src/actions/CLAUDE.md
Due: none

feat: compose technique entrance with battle-front stationing gate (#2225)
  src/actions/definitions/social.py
  src/actions/tests/test_entrance_battle.py
Due: getattr-literal

#2236 Task E: acceptance cross-file contract checks + runbook/docs sync
  docs/operations/observability-baseline.md
  infra/README.md
  infra/ansible/roles/backups/defaults/main.yml
  infra/ansible/roles/backups/templates/arxii-backup.sh.j2
  infra/ansible/roles/offsite_replication/defaults/main.yml
  infra/ansible/roles/secrets_perms/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Backend: mint quote + recipe-browse endpoints (#2240)
  src/world/items/serializers.py
  src/world/items/tests/test_crafting_api.py
  src/world/items/views.py
Due: getattr-literal

feat(#2166): sessionAttention two-tier helper
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
  frontend/src/scenes/hooks/useThreading.ts
  frontend/src/store/gameSlice.ts
Due: eslint, typescript, prettier

feat(#2166): direct/ambient attention tiers on character tabs
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
Due: eslint, typescript, prettier

fix(#2166): active puppet tab never renders an attention badge
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/components/GameWindow.tsx
Due: eslint, typescript, prettier

feat(#2166): background-whisper attention toasts with switch-through
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
  frontend/src/hooks/handleInteractionPayload.ts
  frontend/src/hooks/useGameSocket.ts
Due: eslint, typescript, prettier

fix(#2166): per-character whisper-toast dedupe key + bounded set
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
  frontend/src/hooks/handleInteractionPayload.ts
Due: eslint, typescript, prettier

feat(#2166): right-character duel dispatch + consent attention notifier
  frontend/src/App.tsx
  frontend/src/combat/DuelChallengeNotifier.tsx
  frontend/src/combat/__tests__/DuelChallengeNotifier.test.tsx
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ConsentAttentionNotifier.test.tsx
  frontend/src/scenes/components/ConsentAttentionNotifier.tsx
  src/world/scenes/action_filters.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#2166): speaking-as identity chip on the composer
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
Due: eslint, typescript, prettier

docs(#2166): multi-character attention — guides + scenes doc + roadmap
  docs/roadmap/rp-scenes.md
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
Due: eslint, typescript, prettier

Battle-front technique entrance: compose #2183's entrance path with #2008's front-stationing gate (#2253)
  docs/systems/battles.md
  src/actions/CLAUDE.md
  src/actions/definitions/social.py
  src/actions/tests/test_entrance_battle.py
Due: getattr-literal

fix(#2166): speaking-as chip on the combat composer too (final-review fold-in)
  frontend/src/combat/pages/CombatScenePage.tsx
Due: eslint, typescript, prettier

Web mint UI: CreateItemDialog + recipe browse + quote (#2240)
  frontend/src/generated/api.d.ts
  frontend/src/inventory/api.ts
  frontend/src/inventory/components/CreateItemDialog.tsx
  frontend/src/inventory/hooks/useItemCreation.ts
  frontend/src/inventory/pages/WardrobePage.tsx
  src/schema.json
  src/world/items/views.py
Due: getattr-literal, eslint, typescript, prettier

chore(#2166): regenerate API types for the role filter (CI drift check)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Docs — item-creation is now playable web-first (#2240)
  docs/systems/INDEX.md
Due: none

#2236 review fixes: wire the prod settings overlay for real (env contract), telnet cert path, IPv6 ssh allowlist, rehearsal ssh quoting
  .github/workflows/standup.yml
  infra/README.md
  infra/ansible/group_vars/secrets.env.example
  infra/ansible/roles/django_hardening/defaults/main.yml
  infra/ansible/roles/django_hardening/templates/secret_settings.py.j2
  infra/ansible/roles/host_firewall/templates/nftables.conf.j2
  infra/ansible/roles/offbox_alerting/defaults/main.yml
  infra/ansible/roles/offbox_alerting/templates/arxii-heartbeat.sh.j2
  infra/ansible/roles/postgres/tasks/main.yml
  infra/ansible/roles/secrets_vault/defaults/main.yml
  infra/ansible/roles/secrets_vault/templates/arxii.env.j2
  infra/ansible/roles/tls_telnet_cert/defaults/main.yml
  infra/ansible/roles/tls_telnet_cert/tasks/main.yml
  infra/ansible/roles/tls_telnet_cert/templates/sync-telnet-cert.sh.j2
  infra/scripts/acceptance.sh
  infra/scripts/restore-rehearsal.sh
  infra/scripts/standup.sh
  src/server/.gitignore
  src/server/conf/settings.py
Due: getattr-literal

Battle win-gated LegendEntry wiring (#2184)
  src/world/battles/apps.py
  src/world/battles/constants.py
  src/world/battles/legend_wiring.py
Due: getattr-literal

Tests for battle -> LegendEntry win-gated wiring (#2184)
  src/world/battles/tests/test_legend_wiring.py
Due: getattr-literal

Docs for battle -> LegendEntry win-gated wiring (#2184)
  docs/adr/0122-battle-legend-is-win-gated-with-standout-exceptions.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/battles.md
Due: none

ruff-format the agriculture migration (#2238 pre-commit)
  src/world/agriculture/migrations/0002_foodconfig_prosperity_equilibrium_and_more.py
Due: getattr-literal

Skip Victory LegendEvent when the winning side has no PCs (#2184)
  src/world/battles/legend_wiring.py
Due: getattr-literal

#2236 review cleanups: single tofu output read, shared helpers, guarded rebuilds, templated ws upstream
  infra/README.md
  infra/ansible/group_vars/secrets.env.example
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/app_deploy/templates/arxii-watchdog.sh.j2
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/offbox_alerting/tasks/main.yml
  infra/ansible/roles/offbox_alerting/templates/arxii-alert-failure.sh.j2
  infra/ansible/roles/offbox_alerting/templates/arxii-alert.sh.j2
  infra/ansible/roles/offbox_alerting/templates/arxii-heartbeat.sh.j2
  infra/scripts/acceptance.sh
  infra/scripts/lib.sh
  infra/scripts/restore-rehearsal.sh
  infra/scripts/restore.sh
  infra/scripts/standup.sh
Due: none

Make domain civ-stats drive gameplay: prosperity→income, recovery, unrest→collection/crises (#2238) (#2252)
  docs/systems/INDEX.md
  src/world/agriculture/constants.py
  src/world/agriculture/migrations/0002_foodconfig_prosperity_equilibrium_and_more.py
  src/world/agriculture/migrations/max_migration.txt
  src/world/agriculture/models.py
  src/world/agriculture/services/collection.py
  src/world/agriculture/services/consumption.py
  src/world/agriculture/tests/test_collection.py
  src/world/agriculture/tests/test_consumption.py
  src/world/currency/services.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/societies/tests/test_houses.py
Due: getattr-literal

#2236 CI fixes: tofu fmt, migration-path gitleaks allowlist, shellcheck directive, ansible-lint (changed_when/creates/name-template/no-handler noqa)
  .gitleaks.toml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/scripts/restore-rehearsal.sh
  infra/terraform/modules/linode_firewall/main.tf
Due: none

Add swarm-math resolution tests (#1841)
  src/world/battles/tests/test_swarm_math.py
Due: getattr-literal

Wire BattleUnit.individual_count into swarm-math resolution (#1841)
  src/world/battles/constants.py
  src/world/battles/resolution.py
Due: getattr-literal

Update swarm-math help_text/docstrings, migration (#1841)
  src/world/battles/migrations/0028_alter_battleunit_individual_count.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/services.py
Due: getattr-literal

Document swarm-math resolution (#1841)
  docs/adr/0122-swarm-math-is-derived-losses-not-a-second-health-pool.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/battles.md
  src/world/battles/AGENT_GLOSSARY.md
Due: none

Flip swarm bands negative: numbers resist breaking, not invite hits (#1841)
  docs/adr/0123-swarm-math-is-derived-losses-not-a-second-health-pool.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/battles.md
  src/world/battles/AGENT_GLOSSARY.md
  src/world/battles/constants.py
  src/world/battles/migrations/0028_alter_battleunit_individual_count.py
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/tests/test_swarm_math.py
Due: getattr-literal

Playing multiple characters simultaneously, sanely (#2155) (#2254)
  docs/roadmap/rp-scenes.md
  docs/systems/scenes.md
  frontend/src/App.tsx
  frontend/src/combat/DuelChallengeNotifier.tsx
  frontend/src/combat/__tests__/DuelChallengeNotifier.test.tsx
  frontend/src/combat/pages/CombatScenePage.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/generated/api.d.ts
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
  frontend/src/hooks/handleInteractionPayload.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ConsentAttentionNotifier.test.tsx
  frontend/src/scenes/components/ConsentAttentionNotifier.tsx
  frontend/src/scenes/hooks/useThreading.ts
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/store/gameSlice.ts
  src/schema.json
  src/world/scenes/action_filters.py
  src/world/scenes/tests/test_action_views.py
Due: getattr-literal, eslint, typescript, prettier

Battle system: war-scale outcome → win-gated LegendEntry creation wiring (design question) (#2256)
  docs/adr/0122-battle-legend-is-win-gated-with-standout-exceptions.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/battles.md
  src/world/battles/apps.py
  src/world/battles/constants.py
  src/world/battles/legend_wiring.py
  src/world/battles/tests/test_legend_wiring.py
Due: getattr-literal

Regenerate API types for individual_count help_text change (#1841)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Prettier: collapse the useItemCreation import (#2240 pre-commit)
  frontend/src/inventory/hooks/useItemCreation.ts
Due: eslint, typescript, prettier

Add PropertyDetonation model + CombatRoundAction redirect target fields (#2210 Task 1+2 models)
  src/world/combat/migrations/0046_combatroundaction_redirect_object_target_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/redirect_content.py
  src/world/mechanics/admin.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0011_propertydetonation.py
  src/world/mechanics/migrations/max_migration.txt
  src/world/mechanics/models.py
  src/world/mechanics/services.py
Due: getattr-literal

Lift redirect rejection, validate destinations, resolve REDIRECT technique guardians (#2210 Task 2+3)
  src/world/combat/services.py
  src/world/combat/tests/test_redirect_resolution.py
  src/world/room_features/trap_services.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
