Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

The DISTINCTION ledger constraint also nulls the rite-performance column; migration 0136 regenerated (#3777)
  src/world/magic/models/grant.py
  src/world/migrations/0136_relic_ritekind_worshiprite_worshipriteperformance_and_more.py
Due: getattr-literal

CI fix round 1 (#3777): the registry expectation lists worship_rite
  src/actions/tests/test_base.py
Due: getattr-literal

Shrines and temples (#3778): a shrine is a room feature its holder founds, a temple is a building's dedication, and a rite at its being's sites is boosted and consecrates them
  src/actions/definitions/worship.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/apps.py
  src/world/migrations/0137_alter_roomfeaturekind_service_strategy_and_more.py
  src/world/migrations/max_migration.txt
  src/world/room_features/constants.py
  src/world/seeds/worship_content.py
  src/world/worship/admin.py
  src/world/worship/apps.py
  src/world/worship/consecration_services.py
  src/world/worship/constants.py
  src/world/worship/exceptions.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/rite_services.py
  src/world/worship/tests/test_consecration.py
Due: getattr-literal

Worship doc, INDEX, MODEL_MAP, roadmap and glossary describe shrines, temples, consecration and the holding gate (#3778)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/world/worship/AGENT_GLOSSARY.md
Due: none

Whole-branch review fold-ins (#3778): sites resolved once per performance, counters grow through F() and are re-read from the database, seeds use ConsecrationScope, shrine_details_or_none accessor
  docs/systems/INDEX.md
  docs/systems/worship.md
  src/world/room_features/models.py
  src/world/seeds/worship_content.py
  src/world/worship/consecration_services.py
  src/world/worship/rite_services.py
  src/world/worship/tests/test_consecration.py
Due: getattr-literal

Prayers and visions (#3779): a freeform prayer is a plain log, made meaningful by dire straits, a holy site, or a GM's answer
  frontend/src/generated/api.d.ts
  src/actions/definitions/worship.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/tests/test_worship_commands.py
  src/commands/worship.py
  src/schema.json
  src/world/migrations/0138_prayer_vision.py
  src/world/migrations/max_migration.txt
  src/world/narrative/services.py
  src/world/narrative/tests/test_services.py
  src/world/worship/admin.py
  src/world/worship/constants.py
  src/world/worship/exceptions.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/prayer_services.py
  src/world/worship/serializers.py
  src/world/worship/services.py
  src/world/worship/tests/test_prayers.py
  src/world/worship/urls.py
  src/world/worship/views.py
Due: getattr-literal, eslint, typescript, prettier

Web (#3779): the sheet's Worship card with the visions list, the Pray dialog and staff's Send-vision composer beside the character's prayers; the feed gives a vision its own lane
  frontend/src/game/components/FeedChipStrip.test.tsx
  frontend/src/game/components/FeedNoteBlock.tsx
  frontend/src/game/feedChips.test.ts
  frontend/src/game/feedChips.ts
  frontend/src/game/feedKinds.test.ts
  frontend/src/game/feedKinds.ts
  frontend/src/game/playPreferences.test.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/worship/CLAUDE.md
  frontend/src/worship/__tests__/WorshipSection.test.tsx
  frontend/src/worship/api.ts
  frontend/src/worship/components/PrayDialog.tsx
  frontend/src/worship/components/SendVisionDialog.tsx
  frontend/src/worship/components/VisionCard.tsx
  frontend/src/worship/components/WorshipSection.tsx
  frontend/src/worship/queries.ts
  frontend/src/worship/types.ts
  frontend/src/worship/visionStyle.ts
Due: eslint, typescript, prettier

Worship doc, INDEX, narrative doc, MODEL_MAP, roadmap, glossary and the game feed guide describe prayers, visions, dire straits and the vision lane (#3779)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/narrative.md
  docs/systems/worship.md
  frontend/src/game/CLAUDE.md
  src/world/worship/AGENT_GLOSSARY.md
Due: prettier

Worship rites: tiered kinds a being makes its own, a check with real cost and outcome-tiered reward, tier 3 as a ceremony, and offerings the god favors (#3777) (#3882)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  frontend/src/generated/api.d.ts
  src/actions/definitions/ceremonies.py
  src/actions/definitions/worship.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/ceremonies.py
  src/commands/tests/test_ceremony_command.py
  src/schema.json
  src/world/ceremonies/AGENT_GLOSSARY.md
  src/world/ceremonies/admin.py
  src/world/ceremonies/constants.py
  src/world/ceremonies/models.py
  src/world/ceremonies/seeds.py
  src/world/ceremonies/serializers.py
  src/world/ceremonies/services.py
  src/world/ceremonies/tests/test_rites.py
  src/world/ceremonies/tests/test_seeds.py
  src/world/magic/constants.py
  src/world/magic/models/grant.py
  src/world/magic/services/resonance.py
  src/world/migrations/0136_relic_ritekind_worshiprite_worshipriteperformance_and_more.py
  src/world/migrations/max_migration.txt
  src/world/seeds/worship_content.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/admin.py
  src/world/worship/constants.py
  src/world/worship/exceptions.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/rite_services.py
  src/world/worship/serializers.py
  src/world/worship/tests/test_rites.py
  src/world/worship/urls.py
  src/world/worship/views.py
Due: getattr-literal, eslint, typescript, prettier

Worship doc, codex doc, INDEX, MODEL_MAP, roadmap and both glossaries describe the Deity Editor, the visibility tiers and the organization codex grant (#3780)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/codex.md
  docs/systems/worship.md
  src/world/codex/AGENT_GLOSSARY.md
  src/world/worship/AGENT_GLOSSARY.md
Due: none

Playwright: the Deity Editor's three screens over a fixture pantheon, with optional screenshots for the demo-fidelity review (#3780)
  frontend/e2e/pantheon.spec.ts
Due: eslint, typescript, prettier

Playwright (#3780): the fixture pantheon sorts by pool like the server, and a tab settles before its still
  frontend/e2e/pantheon.spec.ts
Due: eslint, typescript, prettier

API types regenerated after the review fold-ins (#3780): no PATCH on the staff beings endpoint, the visibility filter parameter
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Shrines and temples: a shrine is a room feature its holder founds, a temple is a building's dedication, and a rite at its being's sites is boosted and consecrates them (#3778) (#3883)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/worship.md
  src/actions/definitions/worship.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/apps.py
  src/world/migrations/0137_alter_roomfeaturekind_service_strategy_and_more.py
  src/world/migrations/max_migration.txt
  src/world/room_features/constants.py
  src/world/room_features/models.py
  src/world/seeds/worship_content.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/admin.py
  src/world/worship/apps.py
  src/world/worship/consecration_services.py
  src/world/worship/constants.py
  src/world/worship/exceptions.py
  src/world/worship/factories.py
  src/world/worship/models.py
  src/world/worship/rite_services.py
  src/world/worship/tests/test_consecration.py
Due: getattr-literal

Deity Editor: the pantheon as one long edit page saved live, a tile list by pool, and a per-being tracking dashboard, with the Obscure tier as an organization's codex grant (#3780) (#3885)
  docs/roadmap/worship.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/codex.md
  docs/systems/worship.md
  frontend/e2e/pantheon.spec.ts
  frontend/src/App.tsx
  frontend/src/generated/api.d.ts
  frontend/src/pantheon/CLAUDE.md
  frontend/src/pantheon/__tests__/PantheonPages.test.tsx
  frontend/src/pantheon/api.ts
  frontend/src/pantheon/components/EditorSection.tsx
  frontend/src/pantheon/components/SendVisionFromBeingDialog.tsx
  frontend/src/pantheon/components/VisibilityBadge.tsx
  frontend/src/pantheon/pages/BeingDashboardPage.tsx
  frontend/src/pantheon/pages/BeingEditPage.tsx
  frontend/src/pantheon/pages/PantheonListPage.tsx
  frontend/src/pantheon/queries.ts
  frontend/src/pantheon/types.ts
  frontend/src/pantheon/visibility.ts
  frontend/src/staff/pages/StaffHubPage.tsx
  src/schema.json
  src/world/codex/AGENT_GLOSSARY.md
  src/world/codex/admin.py
  src/world/codex/factories.py
  src/world/codex/models.py
  src/world/codex/services.py
  src/world/migrations/0139_worshippedbeing_gm_notes_organizationcodexgrant.py
  src/world/migrations/max_migration.txt
  src/world/societies/membership_services.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/constants.py
  src/world/worship/editor_services.py
  src/world/worship/exceptions.py
  src/world/worship/filters.py
  src/world/worship/models.py
  src/world/worship/staff_serializers.py
  src/world/worship/staff_views.py
  src/world/worship/tests/test_editor.py
  src/world/worship/urls.py
Due: getattr-literal, eslint, typescript, prettier

docs: sync interaction thread architecture
  docs/adr/0293-reachability-governs-addressing-not-audience-promotion.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scene-interaction-threads.md
  src/world/scenes/CLAUDE.md
Due: none

docs: add issue image publishing fallback
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/references/evidence-screenshots-not-in-main.md
  tools/skills/issue-to-merged-pr/scripts/publish-issue-images.sh
Due: none

docs: publish issue #3823 review image issue-3823-review-image.png
  .github/issue-evidence/3823/20260916T134910Z-issue-3823-review-image.png
Due: none

docs: mirror issue image fallback guidance
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
Due: none

docs: sync InteractionThread architecture (#3886)
  docs/adr/0293-reachability-governs-addressing-not-audience-promotion.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scene-interaction-threads.md
  src/world/scenes/CLAUDE.md
Due: none

docs: publish issue #3823 review image issue-3823-screen1.png
  .github/issue-evidence/3823/20260916T143652Z-issue-3823-screen1.png
Due: none

docs: publish issue #3823 review image issue-3823-screen2.png
  .github/issue-evidence/3823/20260916T143652Z-issue-3823-screen2.png
Due: none

docs: publish issue #3823 review image issue-3823-screen3.png
  .github/issue-evidence/3823/20260916T143652Z-issue-3823-screen3.png
Due: none

fix: stream issue image uploads through JSON
  tools/skills/issue-to-merged-pr/scripts/publish-issue-images.sh
Due: none

feat(actions): reveal authored consequence pool picks
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/checks.md
  frontend/src/combat/__tests__/consequenceOutcomes.test.tsx
  frontend/src/components/roulette/RouletteModal.tsx
  frontend/src/components/roulette/types.ts
  frontend/src/generated/api.d.ts
  src/actions/services.py
  src/actions/tests/test_resolution_pipeline.py
  src/actions/types.py
  src/schema.json
  src/world/checks/CLAUDE.md
  src/world/checks/filters.py
  src/world/checks/outcome_models.py
  src/world/checks/serializers.py
  src/world/checks/services.py
  src/world/checks/tests/test_consequence_outcome_model.py
  src/world/checks/tests/test_theater.py
  src/world/checks/theater.py
  src/world/checks/views.py
  src/world/migrations/0139_consequence_outcome_action_interaction.py
  src/world/migrations/max_migration.txt
  src/world/scenes/action_services.py
Due: getattr-literal, eslint, typescript, prettier

test(evidence): record issue 3823 visual review
  .github/issue-evidence/3823/review-built-result.png
  .github/issue-evidence/3823/review-built-stage1.png
  .github/issue-evidence/3823/review-built-stage2.png
  .github/issue-evidence/3823/review-report.md
Due: none

docs(evidence): bind review to synced revision
  .github/issue-evidence/3823/review-report.md
Due: none

docs(evidence): use review evidence contract
  .github/issue-evidence/3823/review-report.md
Due: none

ci: reject committed issue evidence assets
  .github/issue-evidence/3823/20260916T134910Z-issue-3823-review-image.png
  .github/issue-evidence/3823/20260916T143652Z-issue-3823-screen1.png
  .github/issue-evidence/3823/20260916T143652Z-issue-3823-screen2.png
  .github/issue-evidence/3823/20260916T143652Z-issue-3823-screen3.png
  .github/issue-evidence/3823/review-built-result.png
  .github/issue-evidence/3823/review-built-stage1.png
  .github/issue-evidence/3823/review-built-stage2.png
  .github/issue-evidence/3823/review-report.md
  .github/workflows/spec-evidence.yml
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/pr-mergeability-checklist.md
Due: none

ci: clarify temporary evidence directories
  .github/workflows/spec-evidence.yml
Due: none

docs: publish issue #3823 review image issue-3823-built-screen1.png
  .github/issue-evidence/3823/20260916T163557Z-issue-3823-built-screen1.png
Due: none

docs: publish issue #3823 review image issue-3823-built-screen2.png
  .github/issue-evidence/3823/20260916T163557Z-issue-3823-built-screen2.png
Due: none

docs: publish issue #3823 review image issue-3823-built-screen3.png
  .github/issue-evidence/3823/20260916T163557Z-issue-3823-built-screen3.png
Due: none

ci: remove temporary issue evidence assets
  .github/issue-evidence/3823/20260916T163557Z-issue-3823-built-screen1.png
  .github/issue-evidence/3823/20260916T163557Z-issue-3823-built-screen2.png
  .github/issue-evidence/3823/20260916T163557Z-issue-3823-built-screen3.png
Due: none

feat: add same-connection room state resync
  docs/frontend/architecture.md
  docs/frontend/message_types.md
  docs/pr-evidence/3824-room-state-resync-fixture.html
  docs/pr-evidence/3824-room-state-resync-review.md
  docs/pr-evidence/3824-room-state-resync.png
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/RoomPanel.tsx
  frontend/src/game/components/room-panel/RoomHeader.tsx
  frontend/src/hooks/__tests__/handleRoomStatePayload.test.ts
  frontend/src/hooks/handleRoomStatePayload.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useGameSocket.ts
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/ConsentPrompt.tsx
  frontend/src/scenes/components/PlaceBar.tsx
  frontend/src/scenes/components/SceneInteractionPanel.tsx
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/store/gameSlice.ts
  src/flows/service_functions/communication.py
  src/flows/types.py
  src/server/conf/inputfuncs.py
  src/typeclasses/characters.py
  src/web/tests/test_room_state_resync_inputfunc.py
  src/web/webclient/message_types.py
Due: getattr-literal, eslint, typescript, prettier

docs: bind room resync evidence to reviewed revision
  docs/pr-evidence/3824-room-state-resync-review.md
Due: none

docs: warn against orphaning evidence image commits
  tools/skills/issue-to-merged-pr/README.md
  tools/skills/issue-to-merged-pr/references/evidence-screenshots-not-in-main.md
Due: none

fix: preserve generic flow room-state sends
  src/flows/service_functions/communication.py
Due: getattr-literal

docs: update reviewed implementation revision
  docs/pr-evidence/3824-room-state-resync-review.md
Due: none
