Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(#762): covenant rank passive bonus — authored config, engagement-gated, level-scaled
  src/world/covenants/factories.py
  src/world/covenants/migrations/0009_covenantlevelbonus.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_covenant_level_bonus.py
  src/world/mechanics/services.py
Due: getattr-literal

feat(#512): add MANTLE thread kind + target_mantle FK + constraints
  src/world/magic/constants.py
  src/world/magic/migrations/0022_remove_thread_thread_trait_payload_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/threads.py
  src/world/magic/tests/test_mantle_thread.py
Due: getattr-literal

docs(#762): mark covenant rank passive bonus delivered
  docs/roadmap/covenants.md
Due: none

refactor(#512): align MANTLE thread kind with sibling pattern (related_name, constraint name, tests)
  src/world/magic/migrations/0022_remove_thread_thread_trait_payload_and_more.py
  src/world/magic/models/threads.py
  src/world/magic/tests/test_mantle_thread.py
Due: getattr-literal

chore: regenerate api types after merging main (covenant serializer drift)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

fix(#762): engagement-gate covenant_level_bonus first + bump modifier-total query budget
  src/world/magic/tests/integration/test_modifier_total_no_query.py
  src/world/mechanics/services.py
Due: getattr-literal

feat(#512): mantle clearance services + CharacterMantleClearanceHandler
  src/typeclasses/characters.py
  src/world/items/handlers.py
  src/world/items/migrations/0011_alter_mantlelevelclearance_options_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/services/__init__.py
  src/world/items/services/mantle.py
  src/world/items/tests/test_mantle_services.py
Due: getattr-literal

feat(#530): scaffold areas/positioning module (constants, exceptions)
  src/world/areas/positioning/__init__.py
  src/world/areas/positioning/constants.py
  src/world/areas/positioning/exceptions.py
Due: getattr-literal

feat(#512): mantle weave gate + MANTLE anchor cap (max_cleared x10)
  src/world/magic/exceptions.py
  src/world/magic/services/threads.py
  src/world/magic/tests/test_mantle_weave.py
Due: getattr-literal

feat(#530): Position, PositionEdge, ObjectPosition models
  src/world/areas/models.py
  src/world/areas/positioning/models.py
  src/world/areas/tests.py
Due: getattr-literal

feat(#530): migration for positioning models
  src/world/areas/migrations/0004_position_objectposition_positionedge_and_more.py
  src/world/areas/migrations/max_migration.txt
Due: getattr-literal

feat(#512): wire MANTLE kind into thread-weave serializer (resolve + gate error -> 400)
  src/world/magic/serializers.py
  src/world/magic/tests/test_api.py
Due: getattr-literal

feat(#512): passive_mantle_bonuses in the equipment walk
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_mantle_passive_bonus.py
Due: getattr-literal

fix(#530): address foundation review — condition kwarg, setUp object creation, canonical-order clean()
  src/world/areas/migrations/0005_alter_positionedge_options.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/positioning/models.py
  src/world/areas/tests.py
Due: getattr-literal

refactor(#512): unify facet/mantle pull-effect lookup into _thread_pull_effects_for
  src/world/magic/tests/integration/test_modifier_total_no_query.py
  src/world/mechanics/services.py
Due: getattr-literal

feat(#512): Area.dominant_society + societies_for_scene resolver
  src/world/areas/migrations/0004_area_dominant_society.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/models.py
  src/world/areas/services.py
  src/world/areas/tests.py
Due: getattr-literal

feat(#530): positioning services + factories (Tasks 4-6)
  pyproject.toml
  src/world/areas/positioning/factories.py
  src/world/areas/positioning/services.py
  src/world/areas/tests.py
Due: getattr-literal

feat(#512): surface facet/covenant/mantle/fashion equipment walk in collect_check_modifiers
  src/world/checks/services.py
  src/world/checks/tests/test_equipment_walk_in_checks.py
  src/world/mechanics/services.py
Due: getattr-literal

fix(#530): reachable_positions blocks only ACTIVE gating challenges (spec consistency)
  src/world/areas/positioning/services.py
  src/world/areas/tests.py
Due: getattr-literal

feat(#512): add ModifierSourceKind.FASHION for fashion provenance
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/checks/constants.py
  src/world/checks/services.py
  src/world/checks/tests/test_equipment_walk_in_checks.py
Due: getattr-literal, eslint, typescript, prettier

fix(#530): services review — db_location_id, edge_between select_related, typed gating param
  src/world/areas/positioning/services.py
  src/world/areas/tests.py
Due: getattr-literal

feat(#530): derived current_position on combat models
  src/world/combat/models.py
  src/world/combat/tests/test_models.py
Due: getattr-literal

test(#512): craft -> wear -> combat integration for a mantle-bearing item
  src/world/checks/migrations/0011_alter_consequenceoutcomemodifier_source_kind.py
  src/world/checks/migrations/max_migration.txt
  src/world/items/tests/integration/__init__.py
  src/world/items/tests/integration/test_mantle_combat_pipeline.py
Due: getattr-literal

feat(#530): playable MoveToPositionAction via unified action interface
  src/actions/definitions/positioning.py
  src/actions/player_interface.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_move_to_position_action.py
  src/actions/types.py
Due: getattr-literal

test(#512): update exhaustive TargetKind/ModifierSourceKind enum assertions for MANTLE + FASHION
  src/world/magic/tests/test_constants.py
Due: getattr-literal

fix(#530): plumb ActionRef.position_id through REST + WebSocket serializers
  frontend/src/generated/api.d.ts
  src/actions/serializers.py
  src/actions/tests/test_player_action_serializer.py
  src/schema.json
  src/server/conf/inputfuncs.py
Due: getattr-literal, eslint, typescript, prettier

docs(#512): mark Spec D PR4 (mantle + fashion combat) done in items-equipment roadmap
  docs/roadmap/items-equipment.md
Due: none

refactor(#530): promote adjacent_open_positions to public API; explicit position_id merge
  src/actions/player_interface.py
  src/world/areas/positioning/services.py
Due: getattr-literal

fix(#512): repoint magic/0022 objects dep from phantom 0014 to canonical 0013
  src/world/magic/migrations/0022_remove_thread_thread_trait_payload_and_more.py
Due: getattr-literal

test(#530): positioning integration across social scene + combat
  src/world/areas/tests.py
Due: getattr-literal

fix(#530): repoint positioning migration to canonical objects 0013 (avoid phantom 0014 NodeNotFound on CI)
  src/world/areas/migrations/0004_position_objectposition_positionedge_and_more.py
Due: getattr-literal

docs(#530): roadmap + model map for positioning model
  docs/roadmap/combat.md
  docs/systems/INDEX.md
Due: none

fix(#530): ruff-format positioning migration (CI pre-commit)
  src/world/areas/migrations/0004_position_objectposition_positionedge_and_more.py
Due: getattr-literal

fix(#512): add scenes.0008 dep to societies prestige-ranking view migration
  src/world/societies/migrations/0008_society_prestige_ranking_view.py
Due: getattr-literal

style(#512): ruff-format + GETATTR_LITERAL noqa skipped by --no-verify commits
  src/world/areas/services.py
  src/world/items/migrations/0011_alter_mantlelevelclearance_options_and_more.py
  src/world/items/services/mantle.py
  src/world/items/tests/test_mantle_services.py
Due: getattr-literal

feat(#931): ransom demands + pay-from-treasury (#1012)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/captivity/exceptions.py
  src/world/captivity/ransom.py
  src/world/captivity/tests/test_ransom.py
  src/world/currency/tests/test_views.py
  src/world/currency/views.py
Due: getattr-literal, eslint, typescript, prettier

Passive-effect + capability-read correctness follow-ups (#1009, #1010) (#1013)
  src/world/magic/handlers.py
  src/world/magic/tests/test_vital_bonus_routing.py
  src/world/missions/services/challenge_options.py
  src/world/missions/tests/test_resolvers.py
  src/world/missions/tests/test_services_challenge_options.py
  src/world/predicates/predicates.py
Due: getattr-literal

feat(#1001a/#996): single-target focused attacks + critical pose auto-expand (#1014)
  docs/roadmap/combat.md
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/actions/__tests__/ActionDeclarationCard.test.tsx
  frontend/src/actions/types.ts
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/combat/round_context.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_focused_target_dispatch.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_action_link_critical.py
Due: getattr-literal, eslint, typescript, prettier

Covenant rank passive bonus — authored config, engagement-gated (#762) (#1015)
  docs/roadmap/covenants.md
  src/world/covenants/factories.py
  src/world/covenants/migrations/0009_covenantlevelbonus.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/tests/test_covenant_level_bonus.py
  src/world/magic/tests/integration/test_modifier_total_no_query.py
  src/world/mechanics/services.py
Due: getattr-literal

Positioning model — spec + Phase 1 implementation (#1019)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  pyproject.toml
  src/actions/definitions/positioning.py
  src/actions/player_interface.py
  src/actions/registry.py
  src/actions/serializers.py
  src/actions/tests/test_base.py
  src/actions/tests/test_move_to_position_action.py
  src/actions/tests/test_player_action_serializer.py
  src/actions/types.py
  src/schema.json
  src/server/conf/inputfuncs.py
  src/world/areas/migrations/0004_position_objectposition_positionedge_and_more.py
  src/world/areas/migrations/0005_alter_positionedge_options.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/models.py
  src/world/areas/positioning/__init__.py
  src/world/areas/positioning/constants.py
  src/world/areas/positioning/exceptions.py
  src/world/areas/positioning/factories.py
  src/world/areas/positioning/models.py
  src/world/areas/positioning/services.py
  src/world/areas/tests.py
  src/world/combat/models.py
  src/world/combat/tests/test_models.py
Due: getattr-literal, eslint, typescript, prettier
