Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

CG→checks scale bridge: skills never reach checks, stats stored unscaled, Brewing unlinked (Apostate's ×10 ruling) (#2903)
  docs/adr/0193-stats-store-x10-skills-display-true-value.md
  docs/systems/INDEX.md
  docs/systems/character_creation.md
  frontend/src/generated/api.d.ts
  src/commands/progression.py
  src/schema.json
  src/world/character_creation/constants.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_check_scale_bridge.py
  src/world/character_creation/tests/test_services.py
  src/world/character_sheets/views.py
  src/world/checks/services.py
  src/world/fatigue/services.py
  src/world/fatigue/tests/test_services.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_thread_hub_summary_view.py
  src/world/progression/admin/unlocks_admin.py
  src/world/progression/models/maturation.py
  src/world/progression/models/unlocks.py
  src/world/progression/services/maturation.py
  src/world/progression/tests/test_maturation.py
  src/world/seeds/provisioning_checks.py
  src/world/skills/models.py
  src/world/skills/services.py
  src/world/skills/tests/test_models.py
  src/world/traits/AGENT_GLOSSARY.md
  src/world/traits/constants.py
  src/world/traits/handlers.py
  src/world/traits/models.py
  src/world/traits/tests.py
Due: getattr-literal, eslint, typescript, prettier

Technique surfaces never show a caster which alternate forms of a technique they have (#2904)
  docs/roadmap/magic.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  frontend/src/character_sheets/api.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/SpellbookTab.tsx
  frontend/src/magic/types.ts
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/actionTypes.ts
  frontend/src/scenes/components/ActionPanel.test.tsx
  frontend/src/scenes/components/ActionPanel.tsx
  frontend/src/scenes/components/__tests__/EntranceTechniqueAttachment.test.tsx
  src/commands/account/sheet_sections.py
  src/commands/combat.py
  src/commands/tests/test_cast_listing.py
  src/schema.json
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_viewset.py
  src/world/character_sheets/types.py
  src/world/magic/CLAUDE.md
  src/world/magic/serializers.py
  src/world/magic/services/technique_effects.py
  src/world/magic/services/technique_forms.py
  src/world/magic/specialization/models.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_technique_effect_surfaces.py
  src/world/magic/tests/test_technique_forms.py
  src/world/magic/types/technique_effects.py
  src/world/scenes/action_serializers.py
  src/world/scenes/action_views.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_form_selection.py
Due: getattr-literal, eslint, typescript, prettier

Set SHELL=/bin/bash so dc-attach panes get bash, not dash
  .devcontainer/docker-compose.yml
  docs/devcontainer-setup.md
Due: none

Set SHELL=/bin/bash so dc-attach panes get bash, not dash (#2958)
  .devcontainer/docker-compose.yml
  docs/devcontainer-setup.md
Due: none

Fashion Phase A/B (#2907): Silhouette form catalog + cultural Styles + crafter form-pick
  src/actions/definitions/crafting.py
  src/world/items/admin.py
  src/world/items/constants.py
  src/world/items/crafting/handlers.py
  src/world/items/crafting/services.py
  src/world/items/exceptions.py
  src/world/items/migrations/0064_style_era_style_founder_style_origin_silhouette_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/services/crafted_display.py
  src/world/items/services/crafting.py
  src/world/items/tests/test_silhouettes.py
  src/world/seeds/clusters.py
  src/world/seeds/fashion.py
  src/world/seeds/tests/test_clusters.py
Due: getattr-literal

Fashion #2907: silhouette on the inventory payload + docs/glossary/MODEL_MAP sync
  docs/roadmap/crafting-economy.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/items.md
  frontend/src/generated/api.d.ts
  frontend/src/inventory/components/__tests__/EditOutfitDialog.test.tsx
  frontend/src/inventory/components/__tests__/InventorySidebarPanel.test.tsx
  frontend/src/inventory/components/__tests__/ItemCard.test.tsx
  frontend/src/inventory/components/__tests__/ItemDetailPanel.test.tsx
  frontend/src/inventory/components/__tests__/ItemFocusView.test.tsx
  frontend/src/inventory/components/__tests__/OutfitCard.test.tsx
  frontend/src/inventory/components/__tests__/SaveOutfitDialog.test.tsx
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  src/schema.json
  src/world/items/AGENT_GLOSSARY.md
  src/world/items/serializers.py
Due: getattr-literal, eslint, typescript, prettier

Fashion Phase C (#2907): cachet, showcase toggle, weekly settlement, vogue momentum, acclaim
  src/actions/definitions/social.py
  src/world/game_clock/tasks.py
  src/world/items/constants.py
  src/world/items/migrations/0065_cachetwallet_silhouettevoguemomentum_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/services/fashion_showcase.py
  src/world/items/tests/test_fashion_showcase.py
Due: getattr-literal

Fashion #2907: showcase command/action surface + endorsement engagement wiring
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/items.md
  src/actions/definitions/fashion.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/showcase.py
  src/world/items/services/fashion_showcase.py
  src/world/items/tests/test_fashion_showcase.py
  src/world/magic/services/gain.py
Due: getattr-literal

Fix #2959 CI: guard the showcase entrance hook for sheetless actors
  src/actions/definitions/social.py
Due: getattr-literal

Shell tooling: persistent history, atuin Ctrl-R, fzf, zoxide, completions
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/shell-extras.sh
  docs/devcontainer-setup.md
Due: none

Make zsh + oh-my-zsh the default interactive shell
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/zshrc
  docs/devcontainer-setup.md
  justfile
Due: none

Drop zoxide for oh-my-zsh's z plugin
  .devcontainer/Dockerfile
  .devcontainer/shell-extras.sh
  .devcontainer/zshrc
  docs/devcontainer-setup.md
Due: none

Interactive shell: zsh + oh-my-zsh by default, atuin, fzf, persistent history (#2960)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/shell-extras.sh
  .devcontainer/zshrc
  docs/devcontainer-setup.md
  justfile
Due: none

Add ~wt and ~arxii named directories to the zsh config
  .devcontainer/zshrc
  docs/devcontainer-setup.md
Due: none

Em-dash in a name is a lookup bug: rename + repo-wide lint
  .pre-commit-config.yaml
  CLAUDE.md
  src/integration_tests/test_magic_story_pipeline.py
  src/web/admin/sphinx_views.py
  src/world/combat/factories.py
  src/world/covenants/court_grant.py
  src/world/covenants/tests/test_court_grant_role.py
  src/world/items/constants.py
  src/world/seeds/game_content/clash.py
  src/world/seeds/game_content/magic.py
  tools/lint_identifier_dashes.py
  tools/sonarcloud_sync.py
Due: getattr-literal

Add ~wt and ~arxii named directories to the zsh config (#2961)
  .devcontainer/zshrc
  docs/devcontainer-setup.md
Due: none

Em-dash in a name is a lookup bug: rename 11 identifiers + repo-wide lint (#2962)
  .pre-commit-config.yaml
  CLAUDE.md
  src/integration_tests/test_magic_story_pipeline.py
  src/web/admin/sphinx_views.py
  src/world/combat/factories.py
  src/world/covenants/court_grant.py
  src/world/covenants/tests/test_court_grant_role.py
  src/world/items/constants.py
  src/world/seeds/game_content/clash.py
  src/world/seeds/game_content/magic.py
  tools/lint_identifier_dashes.py
  tools/sonarcloud_sync.py
Due: getattr-literal

One player-visible em-dash missed in #2963: a CommandError message
  src/commands/story.py
Due: getattr-literal

One player-visible em-dash missed in #2963 (CommandError message) (#2964)
  src/commands/story.py
Due: getattr-literal

SonarCloud S1192: hoist 31 duplicated literals into module constants
  src/actions/definitions/locations.py
  src/actions/definitions/progression_rewards.py
  src/actions/definitions/projects.py
  src/actions/definitions/tasking.py
  src/actions/definitions/voyages.py
  src/commands/combat_maneuvers.py
  src/world/battles/models.py
  src/world/ceremonies/models.py
  src/world/character_creation/models.py
  src/world/combat/models.py
  src/world/conditions/models.py
  src/world/covenants/models.py
  src/world/gm/models.py
  src/world/items/crafting/models.py
  src/world/magic/models/appetites.py
  src/world/magic/models/touchstone_config.py
  src/world/mechanics/models.py
  src/world/seeds/character_creation.py
  src/world/seeds/proclamations.py
  src/world/seeds/underworld.py
  src/world/seeds/worship_content.py
  src/world/societies/models.py
  src/world/species/factories.py
  src/world/tasking/models.py
  src/world/tasking/views.py
  src/world/vitals/models.py
  src/world/worship/models.py
Due: getattr-literal

Fashion coverage ruling (#2965, ADR-0194): accents multiply per slot, prestige per-piece, legend pierces concealment + Reveal
  docs/adr/0194-accents-multiply-per-slot-prestige-per-piece-legend-pierces-concealment.md
  docs/systems/INDEX.md
  docs/systems/items.md
  src/actions/definitions/fashion.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/showcase.py
  src/world/items/handlers.py
  src/world/items/migrations/0066_equippeditem_revealed_at.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/polish_services.py
  src/world/items/services/visibility.py
  src/world/items/tests/test_visibility_coverage.py
Due: getattr-literal

SonarCloud S3776/S8495: cut cognitive complexity in 18 functions
  frontend/src/scenes/components/EndorsementControl.tsx
  src/actions/definitions/distinctions.py
  src/commands/account/sheet_sections.py
  src/commands/voyages.py
  src/world/checks/services.py
  src/world/combat/services.py
  src/world/magic/services/crossing.py
  src/world/roster/services/heredity.py
  src/world/seeds/provisioning_checks.py
  src/world/societies/houses/crisis_services.py
  src/world/species/sun_refuge.py
  src/world/stories/services/episodes.py
  src/world/tasking/spy_payouts.py
  src/world/travel/services.py
  src/world/vitals/services.py
Due: getattr-literal, eslint, typescript, prettier

Gift resonance set: an EMPTY set now means unrestricted, not forbidden
  src/world/magic/services/threads.py
  src/world/magic/specialization/services.py
Due: getattr-literal

Dramatic Moment resonance comes from the entrance technique, not the type
  src/actions/definitions/social.py
  src/world/magic/migrations/0142_dramaticmomentsuggestion_technique_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/dramatic_moment.py
  src/world/magic/services/gain.py
Due: getattr-literal

Fashion coverage ruling: accents multiply per slot, prestige per-piece, legend pierces concealment + the Reveal mechanic (#2966)
  docs/adr/0194-accents-multiply-per-slot-prestige-per-piece-legend-pierces-concealment.md
  docs/systems/INDEX.md
  docs/systems/items.md
  src/actions/definitions/fashion.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/showcase.py
  src/world/items/handlers.py
  src/world/items/migrations/0066_equippeditem_revealed_at.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/polish_services.py
  src/world/items/services/visibility.py
  src/world/items/tests/test_visibility_coverage.py
Due: getattr-literal

Update the tests that asserted the old claimed-resonance refusal
  src/world/magic/services/gain.py
  src/world/magic/tests/test_dramatic_moment.py
  src/world/magic/tests/test_dramatic_moment_api.py
  src/world/magic/tests/test_dramatic_moment_suggestions.py
Due: getattr-literal

Fix CI: the commands-app test, and regenerate the API types
  frontend/src/generated/api.d.ts
  src/commands/dramatic_moments.py
  src/commands/tests/test_moment_command.py
  src/schema.json
Due: getattr-literal, eslint, typescript, prettier

Two defects the invented resonances were hiding: the gift weave gate and Dramatic Moments (#2968)
  frontend/src/generated/api.d.ts
  src/actions/definitions/social.py
  src/commands/dramatic_moments.py
  src/commands/tests/test_moment_command.py
  src/schema.json
  src/world/magic/migrations/0142_dramaticmomentsuggestion_technique_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/dramatic_moment.py
  src/world/magic/services/gain.py
  src/world/magic/services/threads.py
  src/world/magic/specialization/services.py
  src/world/magic/tests/test_dramatic_moment.py
  src/world/magic/tests/test_dramatic_moment_api.py
  src/world/magic/tests/test_dramatic_moment_suggestions.py
Due: getattr-literal, eslint, typescript, prettier

Dramatic Moment: fall back to the character's anima-ritual resonance
  src/world/magic/services/gain.py
  src/world/magic/tests/test_dramatic_moment.py
Due: getattr-literal

Dramatic Moment: fall back to the anima-ritual resonance when no thread resolves one (#2970)
  src/world/magic/services/gain.py
  src/world/magic/tests/test_dramatic_moment.py
Due: getattr-literal

No seeder invents a Resonance, and the Mirrorwalk placeholder is gone
  docs/adr/0142-content-vs-config-boundary-in-the-dev-seed.md
  docs/architecture/soul-tether.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  src/integration_tests/game_content/magic.py
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/integration_tests/game_content/tests/test_portal_travel_seed.py
  src/world/combat/tests/test_entrance_seeding.py
  src/world/magic/CLAUDE.md
  src/world/magic/factories.py
  src/world/magic/seeds_resonance.py
  src/world/magic/tests/test_dramatic_moment_suggestions.py
  src/world/magic/tests/test_offer_handlers.py
  src/world/magic/tests/test_reference_corruption_content.py
  src/world/magic/tests/test_relationship_pull_content.py
  src/world/seeds/game_content/combos.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

GiftUnlock becomes authored content, so a Minor Gift can actually be learned
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  src/core_management/content_export.py
  src/core_management/tests/test_content_export.py
  src/world/magic/CLAUDE.md
  src/world/magic/migrations/0143_giftunlock_unique_gift_unlock_per_gift.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/gift_unlocks.py
Due: getattr-literal

Four more seeders were minting Resonances, and it broke re-press idempotency
  src/actions/tests/test_entrance_battle.py
  src/actions/tests/test_entrance_technique.py
  src/integration_tests/game_content/tests/test_magic_seed.py
  src/integration_tests/test_magic_story_pipeline.py
  src/world/magic/factories.py
  src/world/magic/seeds_resonance.py
  src/world/magic/seeds_touchstone_content.py
  src/world/magic/tests/test_offer_handlers.py
  src/world/scenes/tests/test_action_views_entrance_technique.py
  src/world/scenes/tests/test_entrance_cast_threading.py
  src/world/seeds/game_content/magic.py
Due: getattr-literal

The content stub authors resonances, since no seeder may
  src/actions/tests/test_entrance_battle.py
  src/world/seeds/tests/content_stub.py
  src/world/seeds/tests/test_idempotency.py
  src/world/seeds/tests/test_playable_slice.py
Due: getattr-literal
