Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Record the Facet flatten as ADR-0289; correct every doc still describing the tree
  docs/adr/0192-gift-lineage-is-a-gift-self-fk-protected-from-cascade.md
  docs/adr/0289-facet-is-a-flat-vocabulary-not-a-hierarchy.md
  docs/adr/README.md
  docs/architecture/items-fashion-mantles.md
  docs/roadmap/magic-build-history.md
  docs/systems/magic.md
  frontend/src/schema.json
  src/world/items/AGENT_GLOSSARY.md
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/models/gifts.py
  src/world/magic/models/motifs.py
  src/world/worship/AGENT_GLOSSARY.md
  src/world/worship/admin.py
Due: getattr-literal, prettier

Correct the motifs model table in docs/systems/magic.md against the code
  docs/systems/magic.md
Due: none

Add the umbrella A01-A22 evidence ledger for #3761
  docs/reviews/3761-narrative-play-integration.md
  docs/reviews/assets/3761/a01-a02-game-entry-limbo-room.png
  docs/reviews/assets/3761/a01-account-home-character-card.png
  docs/reviews/assets/3761/a02-scene-started.png
  docs/reviews/assets/3761/a14-a17-pose-sent-during-combat.png
  docs/reviews/assets/3761/a17-combat-banner-and-rail.png
  docs/reviews/assets/3761/a18-mobile-375-viewport.png
  docs/reviews/assets/3761/a18-mobile-sidebar-panel.png
  docs/reviews/assets/3761/a20-channels-unavailable-note.png
Due: none

Fix seed_test_account to produce a usable account (#3789)
  src/world/seeds/test_account.py
  src/world/seeds/tests/test_test_account.py
Due: getattr-literal

Close the A17 evidence gap and re-verify A03/A09/A19 live for #3761
  docs/reviews/3761-narrative-play-integration.md
  docs/reviews/assets/3761/a03-independent-scroll-after-switch.png
  docs/reviews/assets/3761/a03-independent-scroll-before-switch.png
  docs/reviews/assets/3761/a09-default-window-no-match.png
  docs/reviews/assets/3761/a09-history-search-beyond-90-days.png
  docs/reviews/assets/3761/a17-dismiss-outcome.png
  docs/reviews/assets/3761/a17-draft-survives-jump.png
  docs/reviews/assets/3761/a17-history-mode-reachable.png
  docs/reviews/assets/3761/a19-corrupted-storage-safe-default.png
  docs/reviews/assets/3761/a19-second-account-no-draft-leak.png
Due: none

Add typeclass-creation-reviewer agent for the #3789 defect class
  tools/agents/README.md
  tools/agents/typeclass-creation-reviewer.md
Due: none

Echo client_request_id in ACTION_RESULT so CommandInput can match its own send
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/ActionAttachment.tsx
  src/server/conf/inputfuncs.py
  src/web/tests/test_execute_action_inputfunc.py
Due: getattr-literal, eslint, typescript, prettier

Close the idempotent-retry live-push race (#3783)
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_pose_submission_race.py
Due: getattr-literal

docs: update idempotent_record_interaction's push-ordering note (#3783)
  docs/systems/scenes.md
Due: none

Update narrative-play-delivery e2e spec for #3781's client_request_id ack match
  frontend/e2e/narrative-play-delivery.spec.ts
Due: eslint, typescript, prettier

Correct A19's evidence: composer echoing raw stored text is not a bug
  docs/reviews/3761-narrative-play-integration.md
Due: none

fix(#3782): wire CompanionEmoteAction through the idempotency contract
  docs/systems/companions.md
  docs/systems/scenes.md
  frontend/src/companions/api.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  src/actions/definitions/companions.py
  src/actions/tests/test_companion_emote_action.py
  src/world/companions/serializers.py
  src/world/companions/views.py
Due: getattr-literal, eslint, typescript, prettier

Add review evidence report for #3781 (temporary, moves to a PR comment)
  docs/reviews/2026-09-12-3781-action-result-client-request-id.md
Due: none

Fix double-backtick regression in open-pr.sh's local-path evidence line
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

Re-stamp #3781 review evidence to the current tip
  docs/reviews/2026-09-12-3781-action-result-client-request-id.md
Due: none

test(#3782): cover the emote endpoint's REST wiring, including client_request_id
  src/world/companions/tests/test_views.py
Due: getattr-literal

Re-stamp #3781 evidence and retrigger CI after the PR-body API patch
  docs/reviews/2026-09-12-3781-action-result-client-request-id.md
Due: none

Fix #3761 final review I1/I2: rail lingers past the poll drop; banner claim corrected
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/GameTopBar.tsx
Due: eslint, typescript, prettier

Fix #3761 final review minors: M3/M4/M5 fold-ins
  frontend/e2e/narrative-play-encounter-reachability.spec.ts
  frontend/src/game/components/PlaySidebar.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

Fix #3761 final review I3/I5: doc-in-tandem gaps + evidence report accuracy
  docs/reviews/3761-narrative-play-integration.md
  frontend/src/game/CLAUDE.md
Due: prettier

Move #3781 review evidence to a PR comment, drop it from repo history
  docs/reviews/2026-09-12-3781-action-result-client-request-id.md
Due: none

Restamp evidence report to the true final revision before PR-open
  docs/reviews/3761-narrative-play-integration.md
Due: none

Remove committed review evidence; it now lives on PR #3796
  docs/reviews/3761-narrative-play-integration.md
  docs/reviews/assets/3761/a01-a02-game-entry-limbo-room.png
  docs/reviews/assets/3761/a01-account-home-character-card.png
  docs/reviews/assets/3761/a02-scene-started.png
  docs/reviews/assets/3761/a03-independent-scroll-after-switch.png
  docs/reviews/assets/3761/a03-independent-scroll-before-switch.png
  docs/reviews/assets/3761/a09-default-window-no-match.png
  docs/reviews/assets/3761/a09-history-search-beyond-90-days.png
  docs/reviews/assets/3761/a14-a17-pose-sent-during-combat.png
  docs/reviews/assets/3761/a17-combat-banner-and-rail.png
  docs/reviews/assets/3761/a17-dismiss-outcome.png
  docs/reviews/assets/3761/a17-draft-survives-jump.png
  docs/reviews/assets/3761/a17-history-mode-reachable.png
  docs/reviews/assets/3761/a18-mobile-375-viewport.png
  docs/reviews/assets/3761/a18-mobile-sidebar-panel.png
  docs/reviews/assets/3761/a19-corrupted-storage-safe-default.png
  docs/reviews/assets/3761/a19-second-account-no-draft-leak.png
  docs/reviews/assets/3761/a20-channels-unavailable-note.png
Due: none

Classify CodexEntry.quote as prose in the credit-backlog registry
  src/core_management/prose_fields.py
  src/core_management/tests/test_prose_credits.py
Due: getattr-literal

Fix open-pr.sh double-wrapping a local evidence path in backticks
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

seed_test_account creates an account that can log in but can never run a command (missing db_cmdset_storage) (#3791)
  src/world/seeds/test_account.py
  src/world/seeds/tests/test_test_account.py
  tools/agents/README.md
  tools/agents/typeclass-creation-reviewer.md
Due: getattr-literal

Idempotent retry doesn't cover the live delivery push, only the DB row (#3793)
  docs/systems/scenes.md
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_pose_submission_race.py
Due: getattr-literal

ACTION_RESULT WS messages carry no request-correlation id (#3794)
  frontend/e2e/narrative-play-delivery.spec.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/hooks/types.ts
  frontend/src/scenes/components/ActionAttachment.tsx
  src/server/conf/inputfuncs.py
  src/web/tests/test_execute_action_inputfunc.py
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: getattr-literal, eslint, typescript, prettier

CompanionEmoteAction never wired through the idempotency contract (#3795)
  docs/systems/companions.md
  docs/systems/scenes.md
  frontend/src/companions/api.ts
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  src/actions/definitions/companions.py
  src/actions/tests/test_companion_emote_action.py
  src/world/companions/serializers.py
  src/world/companions/tests/test_views.py
  src/world/companions/views.py
Due: getattr-literal, eslint, typescript, prettier

open-pr.sh double-wraps a local PR_EVIDENCE_FILE path in backticks, breaking the review-evidence CI check on first push (#3798)
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

Narrative play integration: encounters, channels, and completion evidence (#3796)
  docs/adr/0290-combat-narration-shares-the-pose-interaction-model.md
  docs/adr/README.md
  frontend/e2e/narrative-play-encounter-reachability.spec.ts
  frontend/e2e/support/gameHarness.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/ConversationSidebar.test.tsx
  frontend/src/game/components/ConversationSidebar.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/PlaySidebar.test.tsx
  frontend/src/game/components/PlaySidebar.tsx
  frontend/src/game/components/SidebarTabPanel.test.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/game/components/room-panel/RoomHeader.test.tsx
  frontend/src/game/components/room-panel/RoomHeader.tsx
Due: eslint, typescript, prettier

issue-to-merged-pr: close issues by default, not Refs (#3799)
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

issue-to-merged-pr: open-pr.sh defaults to Refs, leaving merged fixes' issues open (#3800)
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/design.md
  tools/skills/issue-to-merged-pr/scripts/open-pr.sh
Due: none

Consolidate CommandInput onto the v2 draft store (#3784)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/useDraftStore.test.ts
  frontend/src/game/useDraftStore.ts
Due: eslint, typescript, prettier

Carry an entry-time draft into the room once it is identified (#3784)
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/useDraftStore.test.ts
  frontend/src/game/useDraftStore.ts
Due: eslint, typescript, prettier

Gate the settling carry on conversation identity, not just provisionality (#3784)
  docs/systems/scenes.md
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/useDraftStore.test.ts
  frontend/src/game/useDraftStore.ts
Due: eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
