Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

docs: regenerate MODEL_MAP.md after sync-with-main rebase (#1718)
  docs/systems/MODEL_MAP.md
Due: none

fix(api): regenerate schema/types for OfferKind.COURT_GRANT (#1718)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(positioning): add PositionShelter + BlueprintPositionShelter models (#1756)
  src/world/areas/migrations/0013_blueprintpositionshelter_positionshelter.py
  src/world/areas/positioning/models.py
  src/world/areas/positioning/tests/test_position_shelter.py
Due: getattr-literal

feat(positioning): add position_shelter_value + cleanup_position_shelters (#1756)
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/test_position_shelter.py
Due: getattr-literal

feat(positioning): clone BlueprintPositionShelter in instantiate_blueprint (#1756)
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/test_blueprint_shelter.py
Due: getattr-literal

feat(locations): add hazard_is_covered_for + rewire sunlight consumer (#1756)
  src/world/areas/migrations/max_migration.txt
  src/world/locations/services.py
  src/world/locations/tests/test_position_shelter_composition.py
  src/world/species/services.py
  src/world/species/tests/test_sunlight_exposure.py
Due: getattr-literal

docs(locations): document position-level shelter (#1756)
  src/world/locations/CLAUDE.md
Due: none

feat(magic): add RegardPolarity + ThreadPullEffect.regard_polarity (#1831)
  src/world/magic/constants.py
  src/world/magic/migrations/0080_threadpulleffect_regard_polarity.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/threads.py
  src/world/magic/tests/test_regard_polarity_field.py
Due: getattr-literal

feat(magic): target-aware pull resolver + modulation seam (passthrough) (#1831)
  src/world/magic/services/pull_modulation.py
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_pull_modulation_passthrough.py
  src/world/magic/types/pull.py
Due: getattr-literal

feat(magic): Court signed-regard pull modulation rule (#1831)
  src/world/magic/constants.py
  src/world/magic/services/pull_modulation_court.py
  src/world/magic/tests/test_court_regard_modulation.py
Due: getattr-literal

fix(magic): widen apply_target_modulation to int|None for ty check (#1831)
  src/world/magic/services/pull_modulation.py
Due: getattr-literal

feat(magic): plumb cast target into cast pull charge (#1831)
  src/world/magic/services/techniques.py
  src/world/magic/tests/test_pull_cast_target.py
Due: getattr-literal

feat(combat): plumb focused target into combat pull commit (#1831)
  src/actions/definitions/cast.py
  src/actions/player_interface.py
  src/world/combat/pull_helpers.py
  src/world/combat/round_context.py
  src/world/magic/tests/test_pull_combat_target.py
Due: getattr-literal

feat(magic): activate cast-path Court pull modulation via pull_target (#1831)
  src/world/magic/services/techniques.py
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/tests/test_cast_services.py
Due: getattr-literal

feat(magic): Court-role pull inapplicability picker signal (#1831)
  src/world/magic/constants.py
  src/world/magic/services/pull_applicability.py
  src/world/magic/tests/test_pull_applicability_court.py
Due: getattr-literal

test(magic): E2E Court pull regard modulation journey (#1831)
  src/world/magic/tests/integration/test_court_pull_regard_e2e.py
Due: getattr-literal

fix(magic): gate Court pull picker on perception + share regard-polarity match (#1831)
  src/world/magic/services/pull_applicability.py
  src/world/magic/services/pull_modulation_court.py
  src/world/magic/tests/test_pull_applicability_court.py
Due: getattr-literal

docs(magic): target-aware pulls + Court regard modulation (#1831)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0086-target-aware-pulls-court-regard-modulation-seam.md
  docs/adr/README.md
  docs/roadmap/covenants.md
  docs/roadmap/magic-build-history.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/magic/AGENT_GLOSSARY.md
Due: none

feat(magic): add DISTINCTION resonance GainSource + source_character_distinction ledger FK
  src/world/magic/constants.py
  src/world/magic/migrations/0080_remove_resonancegrant_res_grant_residence_shape_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/grant.py
  src/world/magic/tests/test_gain_models.py
Due: getattr-literal

fix(magic): uppercase DISTINCTION gain source value + real related_name
  src/world/magic/constants.py
  src/world/magic/migrations/0080_remove_resonancegrant_res_grant_residence_shape_and_more.py
  src/world/magic/models/grant.py
Due: getattr-literal

feat(magic): distinction earn-rate accelerator in grant_resonance (ADR-0041 source classification)
  src/world/magic/constants.py
  src/world/magic/services/distinction_resonance.py
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_distinction_earn_rate.py
Due: getattr-literal

feat(magic): add DistinctionResonanceGrant sidecar model + factory
  src/world/magic/factories.py
  src/world/magic/migrations/0081_distinctionresonancegrant.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/grants.py
  src/world/magic/tests/test_distinction_resonance_grant_model.py
Due: getattr-literal

test(magic): multi-grant reconcile coverage + docstring tense
  src/world/magic/services/distinction_resonance.py
  src/world/magic/tests/test_reconcile_distinction_resonance.py
Due: getattr-literal

feat(mechanics): wire distinction resonance grants; drop dead resonance-category modifier writes (#1834)
  docs/systems/magic.md
  docs/systems/mechanics.md
  src/world/magic/CLAUDE.md
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_resonance_integration.py
  src/world/mechanics/tests/test_services.py
Due: getattr-literal

feat(magic): reconcile_distinction_resonance_grants — establish + idempotent seed top-off
  src/world/magic/services/distinction_resonance.py
  src/world/magic/tests/test_reconcile_distinction_resonance.py
Due: getattr-literal

feat(character_creation): seed distinction resonance at CG + recompute aura post-creation (#1834)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

feat(magic): distinction resonance potency buffs cast + thread-pull (regression-guarded)
  docs/systems/mechanics.md
  src/world/magic/CLAUDE.md
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_distinction_resonance_potency.py
  src/world/mechanics/services.py
Due: getattr-literal

fix(magic): allow DISTINCTION ledger row to survive distinction delete (SET_NULL)
  src/world/magic/migrations/0082_remove_resonancegrant_res_grant_distinction_shape_and_more.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/grant.py
  src/world/magic/tests/test_gain_models.py
  src/world/magic/tests/test_reconcile_distinction_resonance.py
Due: getattr-literal

docs: distinctions grant/shape resonance — magic+distinctions+INDEX+MODEL_MAP+roadmap (#1834)
  docs/roadmap/magic-build-history.md
  docs/roadmap/magic.md
  docs/roadmap/player-capability-ledger.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/distinctions.md
  docs/systems/magic.md
  docs/systems/mechanics.md
  src/world/character_creation/services.py
  src/world/magic/CLAUDE.md
  src/world/magic/services/resonance.py
  src/world/mechanics/services.py
Due: getattr-literal

fix(mechanics): fold unscoped POWER into pull bonus for cast/pull parity
  docs/systems/mechanics.md
  src/world/magic/CLAUDE.md
  src/world/magic/services/distinction_resonance.py
  src/world/magic/tests/test_distinction_resonance_potency.py
  src/world/mechanics/services.py
Due: getattr-literal

chore(api): regenerate API types for DISTINCTION gain source (#1834)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#1771): boundaries app — ContentTheme, PlayerBoundary, TreasuredSubject
  .github/workflows/ci.yml
  src/server/conf/settings.py
  src/world/boundaries/__init__.py
  src/world/boundaries/admin.py
  src/world/boundaries/apps.py
  src/world/boundaries/constants.py
  src/world/boundaries/factories.py
  src/world/boundaries/migrations/0001_initial.py
  src/world/boundaries/migrations/__init__.py
  src/world/boundaries/migrations/max_migration.txt
  src/world/boundaries/models.py
  src/world/boundaries/tests/__init__.py
  src/world/boundaries/tests/test_models.py
Due: getattr-literal

feat(#1771): sign-off + scene lines-&-veils + GM availability services
  src/world/boundaries/services.py
  src/world/boundaries/tests/test_services.py
  src/world/boundaries/types.py
  src/world/stories/services/boundaries.py
  src/world/stories/tests/test_signoff_services.py
  src/world/stories/types.py
Due: getattr-literal

feat(#1771): withdrawn treasured sign-off routes its stake to WITHDRAWAL at completion
  src/world/stories/services/stake_resolution.py
  src/world/stories/tests/test_services_stake_resolution.py
Due: getattr-literal

feat(#1771): enforce hard lines + treasured sign-off in check_stake_boundaries
  src/world/stories/services/boundaries.py
  src/world/stories/tests/test_boundary_enforcement.py
Due: getattr-literal

feat(#1771): stories — StakeTemplate.content_themes + TreasuredSignoff
  src/world/stories/factories.py
  src/world/stories/migrations/0015_staketemplate_content_themes_treasuredsignoff.py
  src/world/stories/migrations/max_migration.txt
  src/world/stories/models.py
  src/world/stories/tests/test_treasured_signoff.py
Due: getattr-literal

fix(#1771): wire per-character sharing picker in boundary/treasured-subject forms
  frontend/src/boundaries/__tests__/PlayerBoundaryFormDialog.test.tsx
  frontend/src/boundaries/__tests__/TreasuredSubjectFormDialog.test.tsx
  frontend/src/boundaries/components/PlayerBoundaryFormDialog.tsx
  frontend/src/boundaries/components/TreasuredSubjectFormDialog.tsx
Due: eslint, typescript, prettier

feat(#1771): boundaries frontend — authoring, sign-off prompt, lines-&-veils card
  frontend/src/App.tsx
  frontend/src/boundaries/__tests__/PlayerBoundaryFormDialog.test.tsx
  frontend/src/boundaries/__tests__/SceneLinesAndVeilsCard.test.tsx
  frontend/src/boundaries/__tests__/TreasuredSignoffPrompt.test.tsx
  frontend/src/boundaries/api.ts
  frontend/src/boundaries/components/PlayerBoundaryFormDialog.tsx
  frontend/src/boundaries/components/PlayerBoundaryList.tsx
  frontend/src/boundaries/components/SceneLinesAndVeilsCard.tsx
  frontend/src/boundaries/components/TreasuredSignoffPrompt.tsx
  frontend/src/boundaries/components/TreasuredSubjectFormDialog.tsx
  frontend/src/boundaries/components/TreasuredSubjectList.tsx
  frontend/src/boundaries/pages/BoundariesPage.tsx
  frontend/src/boundaries/queries.ts
  frontend/src/boundaries/types.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

feat(#1771): boundaries DRF surfaces + regenerated api types
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/urls.py
  src/world/boundaries/permissions.py
  src/world/boundaries/serializers.py
  src/world/boundaries/tests/test_api.py
  src/world/boundaries/urls.py
  src/world/boundaries/views.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/urls.py
  src/world/stories/views.py
Due: getattr-literal, eslint, typescript, prettier

docs(#1771): boundaries system doc, ADR, glossary, model map, seed themes
  AGENT_GLOSSARY_MAP.md
  docs/adr/0086-content-boundaries-enforcement-vs-communication.md
  docs/roadmap/ooc-social.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/boundaries.md
  docs/systems/stakes.md
  src/world/boundaries/AGENT_GLOSSARY.md
  src/world/boundaries/factories.py
  src/world/boundaries/tests/test_models.py
  src/world/stories/AGENT_GLOSSARY.md
  tools/introspect_models.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
