Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

House observances: the founder writes the days beside the words and sigil, the document edits them, the house page shows them (#4206)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/houses.md
  frontend/src/almanach/ObservanceRows.tsx
  frontend/src/almanach/__tests__/FounderFamilyChapter.test.tsx
  frontend/src/almanach/__tests__/FounderHouseChapter.test.tsx
  frontend/src/almanach/__tests__/FounderLandsLeaf.test.tsx
  frontend/src/almanach/__tests__/FounderRecord.test.tsx
  frontend/src/almanach/__tests__/HouseDocument.test.tsx
  frontend/src/almanach/__tests__/founderDraft.test.ts
  frontend/src/almanach/document/HouseChapter.tsx
  frontend/src/almanach/founder/FounderHouseChapter.tsx
  frontend/src/almanach/founder/founderDraft.ts
  frontend/src/character-creation/api.ts
  frontend/src/generated/api.d.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  src/schema.json
  src/world/societies/AGENT_GLOSSARY.md
Due: eslint, typescript, prettier

Review evidence for #4209: the family page on the production bundle, four readings against the approved boards
  docs/reviews/4209/01-house-katta-1280.png
  docs/reviews/4209/02-house-katta-selected-1280.png
  docs/reviews/4209/03-tallow-1280.png
  docs/reviews/4209/04-tallow-knows-1280.png
  docs/reviews/4209/05-house-katta-390.png
  docs/reviews/4209/report.md
  frontend/e2e/evidence/family-page-4209.spec.ts
Due: eslint, typescript, prettier

Review evidence for #4209 moved to the issue comment; the files leave the branch
  docs/reviews/4209/01-house-katta-1280.png
  docs/reviews/4209/02-house-katta-selected-1280.png
  docs/reviews/4209/03-tallow-1280.png
  docs/reviews/4209/04-tallow-knows-1280.png
  docs/reviews/4209/05-house-katta-390.png
  docs/reviews/4209/report.md
Due: none

House observances: the calendar bounds live on the model fields too, so an admin row cannot carry month 99 (#4206)
  src/world/migrations/0212_house_observances.py
  src/world/societies/houses/constants.py
  src/world/societies/houses/creator.py
  src/world/societies/houses/models.py
  src/world/societies/tests/test_house_creator.py
Due: getattr-literal

Review evidence for #4206: the founder chapter, the house document and the org page on the production bundle
  docs/reviews/4206/01-founder-house-chapter-day-1280.png
  docs/reviews/4206/02-document-house-chapter-days-1280.png
  docs/reviews/4206/03-org-page-days-1280.png
  docs/reviews/4206/04-org-page-days-390.png
  docs/reviews/4206/report.md
  frontend/e2e/evidence/fixtures/inferna.ts
  frontend/e2e/evidence/house-observances-4206.spec.ts
Due: eslint, typescript, prettier

Review evidence for #4206 now lives on PR #4215; the screenshots leave the branch
  docs/reviews/4206/01-founder-house-chapter-day-1280.png
  docs/reviews/4206/02-document-house-chapter-days-1280.png
  docs/reviews/4206/03-org-page-days-1280.png
  docs/reviews/4206/04-org-page-days-390.png
  docs/reviews/4206/report.md
Due: none

Schema: the observance month and day bounds the validators set (#4206)
  src/schema.json
Due: none

House aspects point at real things: an option is a god or a totem, a patron question fixes the house's patron at founding (#4205)
  src/core_management/content_export.py
  src/world/character_creation/serializers.py
  src/world/character_creation/tests/test_family_template_finalize.py
  src/world/character_creation/tests/test_house_claim_api.py
  src/world/codex/serializers.py
  src/world/codex/tests/test_companions.py
  src/world/codex/types.py
  src/world/migrations/0212_house_aspect_targets.py
  src/world/migrations/max_migration.txt
  src/world/roster/serializers/families.py
  src/world/roster/views/family_views.py
  src/world/societies/admin.py
  src/world/societies/houses/almanach_reads.py
  src/world/societies/houses/almanach_serializers.py
  src/world/societies/houses/creator.py
  src/world/societies/houses/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_house_aspects.py
  src/world/societies/views.py
  src/world/worship/companion.py
  src/world/worship/tests/test_companion.py
Due: getattr-literal

House aspects on the page: a pick opens the god or entry it is, the patron reads by the house's own name, a god's companion lists its sworn houses (#4205)
  frontend/e2e/evidence/fixtures/founder.ts
  frontend/e2e/evidence/fixtures/inferna.ts
  frontend/src/almanach/__tests__/FounderHouseChapter.test.tsx
  frontend/src/almanach/__tests__/HouseDocument.test.tsx
  frontend/src/almanach/document/HouseChapter.tsx
  frontend/src/almanach/founder/FounderHouseChapter.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/components/lineage/FamilyTemplateForm.tsx
  frontend/src/codex/components/Companion.tsx
  frontend/src/codex/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  src/schema.json
Due: eslint, typescript, prettier

House aspects: the patron flag travels with its bindings, a patron question is single-pick, the template admin checks the one-question rule before the M2M save; docs in tandem (#4205)
  docs/adr/adr-4205-an-aspect-option-is-a-typed-row-and-the-patron-is-fixed-at-founding.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/codex.md
  docs/systems/family-authoring-recipes.md
  docs/systems/houses.md
  docs/systems/societies.md
  docs/systems/worship.md
  src/core_management/content_export.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/houses/models.py
  src/world/societies/tests/test_house_aspects.py
  src/world/worship/AGENT_GLOSSARY.md
Due: getattr-literal

ObjectDB audit, tranche 4: every keeper outside the retarget set carries the linter token, and eight more model files join the hook (#2608)
  .pre-commit-config.yaml
  src/behaviors/models.py
  src/evennia_extensions/models.py
  src/flows/models/triggers.py
  src/world/areas/positioning/models.py
  src/world/character_sheets/models.py
  src/world/combat/models.py
  src/world/companions/models.py
  src/world/conditions/models.py
  src/world/items/models.py
  src/world/player_submissions/models.py
  src/world/societies/models.py
Due: getattr-literal

Covenant roles record the face they were sworn under, so an alt presents its own covenant (#4208)
  docs/adr/adr-4208-a-vow-records-the-face-it-was-sworn-under-and-keeps-its-mechanics-on-the-sheet.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  docs/systems/covenants.md
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/__tests__/TiesPanel.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/reputation/components/ReputationTab.test.tsx
  frontend/src/reputation/components/ReputationTab.tsx
  src/commands/account/sheet_sections.py
  src/schema.json
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_profile_identity_privacy.py
  src/world/character_sheets/types.py
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/covenants/exceptions.py
  src/world/covenants/factories.py
  src/world/covenants/models.py
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_membership_block_placeholder.py
  src/world/covenants/tests/test_minor_standing.py
  src/world/covenants/tests/test_services.py
  src/world/migrations/0212_covenant_role_sworn_as.py
  src/world/migrations/0213_covenant_role_sworn_as_backfill.py
  src/world/migrations/0214_covenant_role_sworn_as_required.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Tests: the covenant role factory gives a persona-less sheet its primary face, so suites that opted out keep swearing vows (#4208)
  src/world/covenants/factories.py
Due: getattr-literal

Evidence: the conversation rail's six screens on the production bundle (#4129)
  docs/reviews/4129/rail-all-1280.png
  docs/reviews/4129/rail-collapsed-1280.png
  docs/reviews/4129/rail-find-1280.png
  docs/reviews/4129/rail-pane-390.png
  docs/reviews/4129/rail-person-menu-1280.png
  docs/reviews/4129/rail-picked-bram-1280.png
  docs/reviews/4129/rail-picked-nyx-1280.png
  frontend/e2e/evidence/conversation-rail-4129.spec.ts
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/ConversationRail.tsx
  frontend/src/game/railRows.ts
Due: eslint, typescript, prettier

A page reaches its correspondent wherever they stand, so a page row shows no table-talk refusal (#4129)
  docs/reviews/4129/rail-find-empty-1280.png
  docs/reviews/4129/rail-person-menu-1280.png
  docs/reviews/4129/rail-picked-bram-1280.png
  frontend/e2e/evidence/conversation-rail-4129.spec.ts
  frontend/src/scenes/__tests__/tagReachability.test.ts
  frontend/src/scenes/tagReachability.ts
Due: eslint, typescript, prettier

Review evidence for the conversation rail (#4129)
  docs/reviews/4129/report.md
Due: none

Evidence moved to the PR comment; the review folder leaves the tree (#4129)
  docs/reviews/4129/rail-all-1280.png
  docs/reviews/4129/rail-collapsed-1280.png
  docs/reviews/4129/rail-find-1280.png
  docs/reviews/4129/rail-find-empty-1280.png
  docs/reviews/4129/rail-pane-390.png
  docs/reviews/4129/rail-person-menu-1280.png
  docs/reviews/4129/rail-picked-bram-1280.png
  docs/reviews/4129/rail-picked-nyx-1280.png
  docs/reviews/4129/report.md
Due: none

Tests: the chip and kind lists include the page kind (#4129)
  frontend/src/game/feedChips.test.ts
  frontend/src/game/feedKinds.test.ts
Due: eslint, typescript, prettier

Staff edit mode, backend: every prose field versioned, a staff-edit endpoint, restore, rename (#3988)
  src/world/character_sheets/filters.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_profile_text_versions.py
  src/world/character_sheets/tests/test_staff_edit.py
  src/world/character_sheets/types.py
  src/world/character_sheets/urls.py
  src/world/character_sheets/views.py
  src/world/gm/services.py
  src/world/migrations/0212_profile_text_every_prose_field.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

API types: staff edit, restore and heritages (#3988)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Staff edit mode, frontend: an Edit toggle, fields edited in place, history and restore (#3988)
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/StaffEdit.tsx
  frontend/src/character_sheets/components/sheet/__tests__/StaffEdit.test.tsx
  frontend/src/character_sheets/components/sheet/staffEditContext.ts
  frontend/src/character_sheets/queries.ts
  frontend/src/character_sheets/staffEditMode.ts
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
Due: eslint, typescript, prettier

Docs: staff edit mode, every prose field versioned, tenure-scoped history (#3988)
  docs/adr/adr-3988-prose-history-is-scoped-to-the-current-tenure.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  src/world/character_sheets/AGENT_GLOSSARY.md
Due: none

Staff edit mode: no previous tenant's prose and no real concept reach a player's history (#3988)
  docs/adr/adr-3988-prose-history-is-scoped-to-the-current-tenure.md
  docs/systems/character_sheets.md
  frontend/src/sheet_update_requests/components/UpdatesTab.tsx
  frontend/src/sheet_update_requests/types.ts
  src/world/character_sheets/admin.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_profile_text_version_api.py
  src/world/character_sheets/tests/test_staff_edit.py
  src/world/character_sheets/views.py
Due: getattr-literal, eslint, typescript, prettier

Audit: 64 ObjectDB relation fields across 36 files — triage which should point at a specific model (#4218)
  .pre-commit-config.yaml
  src/behaviors/models.py
  src/evennia_extensions/models.py
  src/flows/models/triggers.py
  src/world/areas/positioning/models.py
  src/world/character_sheets/models.py
  src/world/combat/models.py
  src/world/companions/models.py
  src/world/conditions/models.py
  src/world/items/models.py
  src/world/player_submissions/models.py
  src/world/societies/models.py
Due: getattr-literal

CG rows as public services on a live sheet; CG finalize writes through them (#4221)
  src/world/character_creation/services.py
  src/world/character_creation/sheet_writers.py
Due: getattr-literal

Tests: the realm hub's shop window carries family_id, null for an org with no family (#4209)
  src/world/realms/tests/test_realm_api.py
Due: getattr-literal

Staff edit mode, piece B backend: every CG row family writable on a live sheet (#4221)
  src/world/character_creation/services.py
  src/world/character_creation/sheet_writers.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/staff_serializers.py
  src/world/character_sheets/staff_views.py
  src/world/character_sheets/tests/test_staff_rows.py
  src/world/character_sheets/types.py
  src/world/character_sheets/views.py
  src/world/distinctions/services.py
  src/world/distinctions/staff.py
  src/world/distinctions/types.py
  src/world/goals/services.py
  src/world/migrations/0213_staff_edit_origins.py
  src/world/migrations/max_migration.txt
  src/world/traits/models.py
Due: getattr-literal

API types: staff row actions and options (#4221)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Staff edit mode, piece B frontend: a row editor band for every CG family (#4221)
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/StaffRowsBand.tsx
  frontend/src/character_sheets/components/sheet/__tests__/StaffEdit.test.tsx
  frontend/src/character_sheets/queries.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/character_sheets/staff_serializers.py
  src/world/character_sheets/staff_views.py
Due: getattr-literal, eslint, typescript, prettier

Docs: staff edit mode piece B, the shared CG row writers and the staff distinction services (#4221)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/character_sheets.md
  docs/systems/distinctions.md
Due: none

Staff edit mode piece B: review fixes for species refusals, GM codex grants and featureless lookups (#4221)
  src/world/character_creation/services.py
  src/world/character_creation/sheet_writers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_staff_rows.py
  src/world/distinctions/services.py
Due: getattr-literal

Staff edit mode on the character sheet, piece A: prose, identity, version history and restore (#3988) (#4222)
  docs/adr/adr-3988-prose-history-is-scoped-to-the-current-tenure.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_sheets.md
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/Plate.tsx
  frontend/src/character_sheets/components/sheet/SheetPanel.tsx
  frontend/src/character_sheets/components/sheet/StaffEdit.tsx
  frontend/src/character_sheets/components/sheet/__tests__/StaffEdit.test.tsx
  frontend/src/character_sheets/components/sheet/staffEditContext.ts
  frontend/src/character_sheets/queries.ts
  frontend/src/character_sheets/staffEditMode.ts
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.test.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/sheet_update_requests/components/UpdatesTab.tsx
  frontend/src/sheet_update_requests/types.ts
  src/schema.json
  src/world/character_sheets/AGENT_GLOSSARY.md
  src/world/character_sheets/admin.py
  src/world/character_sheets/filters.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/tests/test_profile_text_version_api.py
  src/world/character_sheets/tests/test_profile_text_versions.py
  src/world/character_sheets/tests/test_staff_edit.py
  src/world/character_sheets/types.py
  src/world/character_sheets/urls.py
  src/world/character_sheets/views.py
  src/world/gm/services.py
  src/world/migrations/0214_profile_text_every_prose_field.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Magic as a public service on a live sheet; CG's magic finalize writes through it (#4224)
  src/world/character_creation/magic_writer.py
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_magic_stage.py
Due: getattr-literal

Staff row mixin: drop three unneeded type-ignore comments (#4221)
  src/world/character_sheets/staff_views.py
Due: getattr-literal

Staff edit: Grant magic on a giftless sheet, and the Glimpse versions like other prose (#4224)
  src/world/character_creation/magic_writer.py
  src/world/character_sheets/serializers.py
  src/world/character_sheets/services.py
  src/world/character_sheets/staff_serializers.py
  src/world/character_sheets/staff_views.py
  src/world/character_sheets/tests/test_staff_magic.py
  src/world/character_sheets/types.py
  src/world/magic/services/glimpse.py
  src/world/migrations/0216_profile_text_glimpse.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Staff edit: the Grant magic stepper and an editable Glimpse on the sheet (#4224)
  frontend/src/character_sheets/api.ts
  frontend/src/character_sheets/components/sheet/StaffEdit.tsx
  frontend/src/character_sheets/components/sheet/StaffRowsBand.tsx
  frontend/src/character_sheets/components/sheet/__tests__/StaffEdit.test.tsx
  frontend/src/character_sheets/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/components/SpellbookTab.test.tsx
  frontend/src/magic/components/SpellbookTab.tsx
  src/schema.json
  src/world/character_sheets/serializers.py
  src/world/character_sheets/tests/test_staff_magic.py
  src/world/character_sheets/types.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
