Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

fix(scenes): endorsee_sheet_id no longer unmasks disguised personas (#2378)
  src/world/scenes/interaction_serializers.py
  src/world/scenes/persona_display.py
  src/world/scenes/tests/test_interaction_serializers.py
Due: getattr-literal

fix(scenes): gate dramatic_moment_tags sheet ids behind the reveal predicate (#2378)
  src/world/scenes/interaction_serializers.py
  src/world/scenes/tests/test_dramatic_moment_context.py
  src/world/scenes/tests/test_interaction_serializers.py
Due: getattr-literal

feat(justice-fe): sentence countdowns + standing-records board (#2378)
  frontend/src/generated/api.d.ts
  frontend/src/justice/api.ts
  frontend/src/justice/components/CrimeTab.test.tsx
  frontend/src/justice/components/CrimeTab.tsx
  frontend/src/justice/components/WantedBoard.test.tsx
  frontend/src/justice/components/WantedBoard.tsx
  src/schema.json
Due: eslint, typescript, prettier

fix(narrative-fe): add the justice category to CategoryBadge (#2378)
  frontend/src/narrative/components/CategoryBadge.tsx
Due: eslint, typescript, prettier

docs(justice): sentence-enforcement ADR, glossary, roadmap, model map (#2378)
  docs/adr/0023-pvp-is-structurally-non-lethal.md
  docs/adr/0233-sentences-are-swept-and-exile-rides-the-heat-ladder.md
  docs/adr/README.md
  docs/roadmap/ROADMAP.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/justice.md
  src/world/justice/AGENT_GLOSSARY.md
Due: none

docs(justice): fix stale zero-callers claim + my-case field list (#2378)
  docs/systems/INDEX.md
  docs/systems/justice.md
  src/world/justice/sentences.py
Due: getattr-literal

docs: correct three stale combat claims found by the 2026-08-26 audit
  docs/roadmap/combat.md
  src/actions/CLAUDE.md
Due: none

fix(justice): carry escalation across cases + final-review hardening (#2378)
  docs/systems/justice.md
  src/world/justice/AGENT_GLOSSARY.md
  src/world/justice/lifecycle.py
  src/world/justice/notifications.py
  src/world/justice/pipeline.py
  src/world/justice/sentences.py
  src/world/justice/tests/test_exile.py
  src/world/justice/tests/test_lifecycle.py
  src/world/justice/tests/test_notifications.py
  src/world/justice/tests/test_pipeline.py
  src/world/justice/tests/test_sentence_enforcement.py
Due: getattr-literal

feat(conditions): opponent conditions modify the difficulty they present (#3384)
  src/world/checks/services.py
  src/world/conditions/services.py
Due: getattr-literal

test(conditions,checks): unit coverage for opponent_condition_opposition (#3384)
  src/world/checks/tests/test_opposed_difficulty.py
  src/world/conditions/tests/test_opponent_condition_opposition.py
Due: getattr-literal

Wire combat_engage/combat_disengage telnet subverbs, break lock on flee
  docs/systems/INDEX.md
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/types.ts
  frontend/src/generated/api.d.ts
  src/commands/combat_maneuvers.py
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/services.py
Due: getattr-literal, eslint, typescript, prettier

feat(combat): extract can_create_encounter_for_scene predicate (#3388)
  src/world/combat/permissions.py
Due: getattr-literal

feat(combat): opponent click-menu for taunt/demoralize/parley (#3381)
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/types.ts
Due: eslint, typescript, prettier

feat(combat): extract finalize_new_encounter service (#3388)
  src/world/combat/services.py
  src/world/combat/views.py
Due: getattr-literal

feat(actions): add CreateEncounterAction (#3388)
  src/actions/definitions/gm_combat.py
Due: getattr-literal

feat(actions): register CreateEncounterAction (#3388)
  src/actions/registry.py
  src/actions/tests/test_base.py
Due: getattr-literal

feat(commands): add encounter create/start telnet subverb (#3388)
  src/commands/encounter.py
Due: getattr-literal

test(actions): cover CreateEncounterAction (#3388)
  src/actions/tests/test_gm_combat_actions.py
Due: getattr-literal

test(combat): journey coverage for opponent-condition opposition (#3384)
  src/world/combat/tests/test_defense.py
  src/world/combat/tests/test_level_opposed_combat_journey.py
Due: getattr-literal

test(commands): E2E coverage for encounter create telnet subverb (#3388)
  src/commands/tests/test_encounter_gm_lifecycle_e2e.py
Due: getattr-literal

feat(combat): rally/succor pickers, use-item, revert combo, mounted maneuvers (#3381)
  frontend/src/combat/sections/YourTurn.tsx
Due: eslint, typescript, prettier

docs(conditions,combat): document opponent_condition_opposition (#3384)
  docs/adr/0166-level-is-a-two-sided-check-term.md
  docs/systems/conditions.md
  src/world/combat/AGENT_GLOSSARY.md
  src/world/conditions/AGENT_GLOSSARY.md
Due: none

docs(actions,commands): document CreateEncounterAction + encounter create (#3388)
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
Due: none

feat(combat): site-wide outgoing duel-challenge withdraw prompt (#3381)
  frontend/src/App.tsx
  frontend/src/combat/DuelWithdrawNotifier.tsx
Due: eslint, typescript, prettier

Add tests: engage/disengage command routing, journey, schema regression
  src/commands/tests/test_combat_maneuvers_command.py
  src/world/combat/tests/test_engagement_lock_serializer.py
  src/world/combat/tests/test_foil_duel_e2e.py
Due: getattr-literal

Thread cast power into dispel's cure check and treatment's mend amount (#3391)
  docs/adr/0156-double-bounded-wound-mend-the-attrition-invariant.md
  docs/systems/MODEL_MAP.md
  docs/systems/magic.md
  src/world/combat/services.py
  src/world/conditions/models.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_wound_treatment.py
  src/world/magic/CLAUDE.md
  src/world/magic/models/techniques.py
  src/world/magic/services/condition_application.py
  src/world/magic/tests/test_condition_application.py
  src/world/magic/tests/test_technique_treatment.py
  src/world/migrations/0172_cast_power_scale_dispel_treatment.py
  src/world/migrations/max_migration.txt
  src/world/scenes/cast_services.py
Due: getattr-literal

refactor(magic): extract shared DE formula core into de_valuation.py (#3390)
  src/world/magic/services/de_valuation.py
  src/world/magic/services/technique_power_eval.py
Due: getattr-literal

Add GM remove_opponent: pull a live NPC opponent out of a fight (#3382)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/generated/api.d.ts
  src/actions/definitions/gm_combat.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/tests/test_encounter_command.py
  src/schema.json
  src/world/combat/constants.py
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_remove_opponent.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
  src/world/migrations/0172_alter_combatopponent_status_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Add GM fiat levers for mid-combat: Edge/Setback conditions, manual dramatic beat trigger (#3387)
  docs/adr/0233-situations-are-state-driven-no-gm-override.md
  docs/adr/README.md
  docs/roadmap/gm-system.md
  docs/systems/INDEX.md
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
  src/actions/definitions/gm_combat.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_gm_combat_actions.py
  src/commands/gm_ops.py
  src/commands/tests/test_gm_ops_adjudication.py
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/constants.py
  src/world/combat/escalation.py
  src/world/combat/models.py
  src/world/conditions/gm_edge_content.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_gm_edge_content.py
  src/world/covenants/perks/evaluators.py
  src/world/migrations/0172_dramaticsurgerecord_reason_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Wire gm_place_in_position: web adapter, map click-to-place, telnet (#3385)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/areas.md
  frontend/src/areas/components/TacticalMap.test.tsx
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/CombatTacticalMap.tsx
  frontend/src/scenes/components/SceneTacticalMap.test.tsx
  frontend/src/scenes/components/SceneTacticalMap.tsx
  src/actions/player_interface.py
  src/actions/tests/test_gm_place_in_position_action.py
  src/actions/tests/test_positioning_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/positions.py
  src/commands/tests/test_encounter_command.py
  src/commands/tests/test_positions.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal, eslint, typescript, prettier

test(combat): coverage for the #3381 maneuver wiring
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/DuelWithdrawNotifier.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
Due: eslint, typescript, prettier

Add combat-forwarding smoke test for #3391's eff_intensity power leg
  src/world/combat/tests/test_combat_technique_resolver.py
Due: getattr-literal

Fix staff-bypass test: wire .db_account for is_staff_observer (#3387)
  src/actions/tests/test_gm_combat_actions.py
Due: getattr-literal

feat(magic): add standalone condition and capability DE evaluators (#3390)
  src/world/magic/services/capability_power_eval.py
  src/world/magic/services/condition_power_eval.py
  src/world/magic/tests/test_capability_power_eval.py
  src/world/magic/tests/test_condition_power_eval.py
  src/world/magic/types/capability_power.py
  src/world/magic/types/condition_power.py
Due: getattr-literal

fix(combat): add useRegistryDispatch/useInventory mocks to YourTurnReach test (#3381)
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
Due: eslint, typescript, prettier

Fix CI: build fixture with engagement_locks at creation, not mutation
  frontend/src/combat/__tests__/CombatantsList.test.tsx
Due: eslint, typescript, prettier

docs(combat): document #3381's web-reachability closure in the roadmap
  docs/roadmap/combat.md
Due: none

feat(web-admin): DE column on Conditions panel + new Capabilities panel (#3390)
  src/web/admin/tests/test_capability_analytics.py
  src/web/admin/tests/test_condition_analytics.py
  src/web/admin/tests/test_tuning_views.py
  src/web/admin/tuning/capability_power_analytics.py
  src/web/admin/tuning/condition_power_analytics.py
  src/web/admin/tuning/views.py
  src/web/admin/urls.py
  src/web/templates/admin/tuning/_capabilities_panel.html
  src/web/templates/admin/tuning/_conditions_panel.html
  src/web/templates/admin/tuning/dashboard.html
Due: getattr-literal

fix(combat): type makeOpponentFixture against Opponent (pnpm build gate)
  frontend/src/combat/__tests__/YourTurn.test.tsx
Due: eslint, typescript, prettier

Add GM write path for encounter stakes/risk/pace/timer (#3383)
  docs/roadmap/combat.md
  docs/systems/MODEL_MAP.md
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
  frontend/src/generated/api.d.ts
  src/actions/definitions/gm_combat.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_gm_combat_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/tests/test_encounter_command.py
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/services.py
  src/world/combat/tests/test_services.py
  src/world/combat/tests/test_views.py
  src/world/combat/views.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
