Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(progression): add vote service functions (cast, remove, budget)
  src/world/progression/services/__init__.py
  src/world/progression/services/voting.py
  src/world/progression/tests/test_vote_services.py
Due: getattr-literal

feat(progression): add random scene models (RandomSceneTarget, RandomSceneCompletion)
  src/world/progression/migrations/0004_randomscenecompletion_randomscenetarget.py
  src/world/progression/models/__init__.py
  src/world/progression/models/random_scene.py
  src/world/progression/tests/test_random_scene_models.py
Due: getattr-literal

feat(progression): award XP on first impression (3 author, 5 target)
  src/world/progression/migrations/0002_alter_characterxptransaction_reason_and_more.py
  src/world/progression/types.py
  src/world/relationships/services.py
  src/world/relationships/tests/test_services.py
Due: getattr-literal

docs: scene XP, voting, and random scene design
  docs/plans/2026-03-31-scene-xp-voting-design.md
  docs/roadmap/ROADMAP.md
Due: none

feat(progression): increment vote budget on scene completion
  src/world/events/services.py
  src/world/progression/services/__init__.py
  src/world/progression/services/scene_rewards.py
  src/world/progression/tests/test_scene_rewards.py
  src/world/scenes/views.py
Due: getattr-literal

docs: add scene XP implementation plan (12 tasks)
  docs/plans/2026-03-31-scene-xp-implementation.md
Due: none

Add vote system models (WeeklyVoteBudget, WeeklyVote, VoteTargetType)
  src/world/progression/constants.py
  src/world/progression/migrations/0003_weeklyvote_weeklyvotebudget.py
  src/world/progression/models/__init__.py
  src/world/progression/models/voting.py
  src/world/progression/tests/test_vote_models.py
  src/world/scenes/migrations/0012_interaction_vote_count.py
  src/world/scenes/models.py
Due: getattr-literal

feat(progression): add vote API endpoints (cast, unvote, list, budget)
  src/world/progression/serializers.py
  src/world/progression/tests/test_vote_views.py
  src/world/progression/urls.py
  src/world/progression/views.py
Due: getattr-literal

feat(progression): add weekly vote XP processing cron task
  src/world/game_clock/tasks.py
  src/world/progression/services/vote_processing.py
  src/world/progression/tests/test_vote_processing.py
Due: getattr-literal

feat(frontend): add VoteButton component and vote API queries
  frontend/src/components/VoteButton.tsx
  frontend/src/progression/voteQueries.ts
Due: eslint, typescript, prettier

docs(roadmap): update character progression with completed XP systems
  docs/roadmap/character-progression.md
Due: none

refactor: extract shared account resolver, batch queries, clean ViewSet attrs
  src/world/progression/services/random_scene.py
  src/world/progression/services/vote_processing.py
  src/world/progression/views.py
  src/world/relationships/services.py
  src/world/roster/selectors.py
Due: getattr-literal

fix(progression): address adversarial review — 6 critical/important fixes
  frontend/src/progression/randomSceneQueries.ts
  src/world/progression/services/random_scene.py
  src/world/progression/services/vote_processing.py
  src/world/progression/services/voting.py
  src/world/progression/tests/test_random_scene_services.py
Due: getattr-literal, eslint, typescript, prettier

feat(progression): add random scene service functions
  src/world/progression/services/random_scene.py
  src/world/progression/tests/test_random_scene_services.py
Due: getattr-literal

Polish: optimistic UI updates, bulk_create, and missing tests
  frontend/src/progression/components/RandomScenePanel.tsx
  frontend/src/progression/voteQueries.ts
  src/world/progression/services/random_scene.py
  src/world/progression/tests/test_vote_processing.py
  src/world/roster/tests/test_selectors.py
Due: getattr-literal, eslint, typescript, prettier

feat(progression): add random scene API endpoints (list, claim, reroll)
  src/world/progression/serializers.py
  src/world/progression/tests/test_random_scene_views.py
  src/world/progression/urls.py
  src/world/progression/views.py
Due: getattr-literal

feat(frontend): add RandomScenePanel component and API queries
  frontend/src/progression/components/RandomScenePanel.tsx
  frontend/src/progression/randomSceneQueries.ts
Due: eslint, typescript, prettier

fix: replace str(exc) with typed exceptions and user_message in all views
  CLAUDE.md
  src/world/journals/types.py
  src/world/journals/views.py
  src/world/progression/services/random_scene.py
  src/world/progression/services/voting.py
  src/world/progression/tests/test_random_scene_services.py
  src/world/progression/tests/test_vote_services.py
  src/world/progression/types.py
  src/world/progression/views.py
Due: getattr-literal

refactor(progression): address final review — constants, atomicity, cleanup
  frontend/src/components/VoteButton.tsx
  src/world/progression/constants.py
  src/world/progression/services/random_scene.py
  src/world/progression/services/vote_processing.py
  src/world/progression/services/voting.py
  src/world/progression/views.py
  src/world/relationships/services.py
Due: getattr-literal, eslint, typescript, prettier

feat(progression): register weekly random scene generation cron task
  src/world/game_clock/tasks.py
  src/world/progression/services/random_scene.py
Due: getattr-literal

fix(progression): reroll race condition, claim validation, scoped vote reset
  src/world/progression/models/voting.py
  src/world/progression/services/random_scene.py
  src/world/progression/services/vote_processing.py
  src/world/progression/tests/test_vote_processing.py
Due: getattr-literal

refactor(progression): use Persona for RS targets, RosterEntry for claimer
  frontend/src/progression/components/RandomScenePanel.tsx
  frontend/src/progression/randomSceneQueries.ts
  src/world/progression/migrations/0004_randomscenecompletion_randomscenetarget.py
  src/world/progression/models/random_scene.py
  src/world/progression/serializers.py
  src/world/progression/services/random_scene.py
  src/world/progression/tests/test_random_scene_models.py
  src/world/progression/tests/test_random_scene_services.py
  src/world/progression/tests/test_random_scene_views.py
  src/world/progression/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(progression): scale vote budget by active character count
  src/world/progression/services/vote_processing.py
  src/world/progression/services/voting.py
Due: getattr-literal

docs(CLAUDE): add rule about avoiding direct ObjectDB FKs
  CLAUDE.md
Due: none

feat(progression): add Votes panel with target names and unvote
  frontend/src/progression/components/VotesPanel.tsx
  frontend/src/progression/voteQueries.ts
  src/world/progression/serializers.py
Due: getattr-literal, eslint, typescript, prettier

test(progression): verify unvoting deleted content refunds budget
  src/world/progression/tests/test_vote_services.py
Due: getattr-literal

refactor(progression): use GenericViewSet + mixins for Vote and RandomScene
  src/world/progression/views.py
Due: getattr-literal

Simplify: use existing severity field as accumulator, drop accumulated_severity
  docs/superpowers/specs/2026-03-31-scope3-warp-progression-design.md
Due: none

Add Scope #3 design spec: Anima Warp progression and consequence streams
  docs/superpowers/specs/2026-03-31-scope3-warp-progression-design.md
Due: none

feat(conditions): add severity-driven stage advancement
  src/world/conditions/factories.py
  src/world/conditions/migrations/0003_conditionstage_consequence_pool_and_more.py
  src/world/conditions/models.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_services.py
  src/world/conditions/types.py
Due: getattr-literal

Revise Warp consequence selection: resilience check, dramatic early stages
  docs/superpowers/specs/2026-03-31-scope3-warp-progression-design.md
Due: none

Add Scope #3 implementation plan: Warp progression and consequence streams
  docs/superpowers/plans/2026-04-01-scope3-warp-progression.md
Due: none

Move resilience check config to WarpConfig, use existing ConditionCheckModifier
  docs/superpowers/specs/2026-03-31-scope3-warp-progression-design.md
Due: none

feat(checks): add MAGICAL_SCARS effect type and handler
  docs/superpowers/specs/2026-03-31-scope3-warp-progression-design.md
  src/world/checks/constants.py
  src/world/checks/migrations/0005_alter_consequenceeffect_effect_type.py
  src/world/checks/models.py
  src/world/magic/admin.py
  src/world/magic/factories.py
  src/world/magic/migrations/0006_alter_mishappooltier_id_and_more.py
  src/world/magic/models.py
  src/world/magic/tests/test_models.py
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_effect_handlers.py
Due: getattr-literal

feat(magic): add migration for WarpConfig, MishapPoolTier, TechniqueOutcomeModifier
  src/world/magic/migrations/0005_warpconfig_mishappooltier_techniqueoutcomemodifier.py
Due: getattr-literal

feat(magic): add Warp severity calc, warning, and mishap pool lookup
  src/world/magic/services.py
  src/world/magic/tests/test_anima_services.py
  src/world/magic/tests/test_use_technique.py
  src/world/magic/types.py
Due: getattr-literal

feat(magic): rewrite use_technique steps 3, 7, 8 for Warp progression
  src/world/magic/services.py
  src/world/magic/tests/test_use_technique.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

test(integration): add WarpProgressionTests for Scope #3
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

Rename Anima Warp / Warp to Soulfray across the codebase
  docs/roadmap/magic.md
  docs/superpowers/specs/2026-03-29-technique-use-flow-design.md
  docs/superpowers/specs/2026-03-30-scope2-runtime-modifiers-audere-design.md
  docs/superpowers/specs/2026-03-31-scope3-warp-progression-design.md
  src/world/conditions/services.py
  src/world/magic/admin.py
  src/world/magic/audere.py
  src/world/magic/factories.py
  src/world/magic/migrations/0007_rename_warpconfig_to_soulfrayconfig.py
  src/world/magic/models.py
  src/world/magic/services.py
  src/world/magic/tests/test_anima_services.py
  src/world/magic/tests/test_audere.py
  src/world/magic/tests/test_use_technique.py
  src/world/magic/types.py
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal
