Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

A GM's condition note is broadcast as a Narrator OUTCOME line (#3554)
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
Due: getattr-literal

GM note narration handles sheetless targets and unlocated GMs (#3554)
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
Due: getattr-literal

GM condition note reaches telnet clients too (#3554)
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
Due: getattr-literal

Condition bearers can read the source note; badges show it on hover (#3554)
  frontend/src/combat/components/ConditionBadge.tsx
  frontend/src/combat/components/__tests__/ConditionBadge.test.tsx
  frontend/src/combat/modals/ConditionDetailModal.tsx
  frontend/src/combat/modals/__tests__/DeepLinkModalHost.test.tsx
Due: eslint, typescript, prettier

Docs and ADR-0270 for authored outcome flavor and the GM condition note (#3554)
  docs/adr/0270-authored-outcome-flavor-replaces-the-head-never-the-ledger.md
  docs/adr/README.md
  docs/architecture/combat-outcome-broadcast.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/conditions.md
  docs/systems/magic.md
Due: none

conditions.md: state the telnet companion and sheetless rule for the GM note (#3554)
  docs/systems/conditions.md
Due: none

GM condition note reaches the web feed live: explicit Narrator payload delivery (#3554)
  docs/systems/conditions.md
  src/actions/definitions/gm_adjudication.py
  src/actions/tests/test_gm_adjudication_actions.py
  src/world/combat/admin.py
  src/world/combat/models.py
Due: getattr-literal

Maturation API test follows the retuned curve: three points at 30, next milestone 34 (#3635)
  src/world/character_sheets/tests/test_maturation_api.py
Due: getattr-literal

Classify hit_narration and miss_narration as prose fields (#3554)
  src/core_management/prose_fields.py
Due: getattr-literal

Thread the scene's room art onto the scene page and tactical map (#3556)
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/areas/components/TacticalMap.test.tsx
  frontend/src/areas/components/TacticalMap.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/CLAUDE.md
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/components/SceneTacticalMap.tsx
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  frontend/src/scenes/components/__tests__/ScenarioCard.test.tsx
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_scene_art_serializer.py
Due: getattr-literal, eslint, typescript, prettier

Let update_encounter_settings set or clear the escalation curve (#3552)
  src/world/combat/services.py
  src/world/combat/tests/test_services.py
Due: getattr-literal

Escalation curve on the settings PATCH plus a GM-gated curve catalog (#3552)
  src/world/combat/serializers.py
  src/world/combat/tests/test_escalation_curve_catalog.py
  src/world/combat/tests/test_views.py
  src/world/combat/urls.py
  src/world/combat/views.py
Due: getattr-literal

Telnet 'encounter curve <name|none>' sets the escalation curve (#3552)
  src/actions/definitions/gm_combat.py
  src/actions/tests/test_gm_combat_actions.py
  src/commands/CLAUDE.md
  src/commands/encounter.py
  src/commands/tests/test_encounter_command.py
Due: getattr-literal

Align the new curve usage line's dash column with its siblings
  src/commands/encounter.py
Due: getattr-literal

Narrate boss phase shifts and held-back participants to the room (#3552)
  docs/architecture/combat-resolution-loop.md
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/constants.py
  src/world/combat/services.py
  src/world/combat/tests/test_boss_phase.py
  src/world/combat/tests/test_held_back_line.py
Due: getattr-literal

GM-only boss state and public phase/enrage/break badges on the opponent payload (#3552)
  src/world/combat/serializers.py
  src/world/combat/tests/test_opponent_state_fields.py
Due: getattr-literal

Opponent row shows phase/enrage/wall badges and GM-only boss state (#3552)
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/sections/CombatantsList.tsx
Due: eslint, typescript, prettier

Regenerate API types for opponent GM-state and public badges (#3552)
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Add aftermath digest builder, renderer, and delivery to complete_encounter (#3551)
  src/world/combat/aftermath.py
  src/world/combat/constants.py
  src/world/combat/services.py
  src/world/combat/tests/test_aftermath_digest.py
  src/world/combat/tests/test_encounter_aftermath.py
  src/world/combat/types.py
Due: getattr-literal

Add participants[].aftermath to the encounter detail serializer (#3551)
  src/world/combat/serializers.py
  src/world/combat/tests/test_aftermath_digest.py
  src/world/combat/tests/test_encounter_aftermath.py
Due: getattr-literal

Escalation curve select on the GM encounter settings row (#3552)
  frontend/src/combat/__tests__/GMEncounterControls.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/queries.ts
  frontend/src/combat/sections/GMEncounterControls.tsx
Due: eslint, typescript, prettier

Regenerate frontend API types for participants[].aftermath (#3551)
  frontend/src/generated/api.d.ts
Due: eslint, typescript, prettier

Docs: boss state visibility, held-back line and curve write (#3552)
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
Due: none

Cover the legacy completed_at=None guard on ParticipantSerializer.aftermath (#3551)
  src/world/combat/serializers.py
  src/world/combat/tests/test_encounter_aftermath.py
Due: getattr-literal

Fold in final-review nits: em-dash, dead SEED_SAMPLE_CONTENT gate, resolve_round docstring (#3552)
  src/commands/CLAUDE.md
  src/world/combat/services.py
  src/world/combat/tests/test_escalation_curve_catalog.py
  src/world/combat/tests/test_services.py
Due: getattr-literal

Add the frontend aftermath digest, banner Dismiss, and rail linger (#3551)
  frontend/src/combat/CombatTurnPanel.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/__tests__/YourTurnReach.test.tsx
  frontend/src/combat/components/AftermathDigest.tsx
  frontend/src/combat/components/CombatRail.tsx
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/EncounterOutcomeBanner.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

Fix review follow-up: strip em-dashes from AftermathDigest, add consequence/title test (#3551)
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/components/AftermathDigest.tsx
Due: eslint, typescript, prettier

Document the encounter aftermath digest (#3551) in tandem with the code
  docs/architecture/combat-resolution-loop.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  src/world/combat/AGENT_GLOSSARY.md
Due: none

Fix review follow-up: bound the aftermath digest's conditions lookup by the window
  docs/architecture/combat-resolution-loop.md
  docs/systems/INDEX.md
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/aftermath.py
  src/world/combat/constants.py
  src/world/combat/tests/test_aftermath_digest.py
Due: getattr-literal

Backend fixes from #3551's whole-branch review: FLED aftermath, scoped beat lookup, doc overclaim
  docs/architecture/combat-resolution-loop.md
  src/world/combat/aftermath.py
  src/world/combat/tests/test_aftermath_digest.py
  src/world/combat/tests/test_encounter_aftermath.py
  src/world/combat/views.py
Due: getattr-literal

Frontend fixes from #3551's whole-branch review: rail navigation reset, GM-controls gate, immediate dismiss, beat outcome casing
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/components/AftermathDigest.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
Due: eslint, typescript, prettier

Declare LegendLevelCalibration as required content (#3480)
  src/web/admin/tests/test_required_content.py
  src/web/admin/tuning/required_content.py
Due: getattr-literal

GMAdjudicationPanel takes a tabs prop so a mount site hosts a subset (#3557)
  frontend/src/scenes/components/GMAdjudicationPanel.test.tsx
  frontend/src/scenes/components/GMAdjudicationPanel.tsx
Due: eslint, typescript, prettier

Give the tactical-map fixtures from #3636 the aftermath field after rebasing onto main (#3551)
  frontend/src/combat/components/CombatTacticalMap.test.tsx
Due: eslint, typescript, prettier

Backfill the tactical-map overlay opponent fixture with the #3552 opponent fields
  frontend/src/combat/components/CombatTacticalMap.test.tsx
Due: eslint, typescript, prettier

PositionMapNode draws a bystander occupant dimmed (#3557)
  frontend/src/areas/components/PositionMapNode.tsx
  frontend/src/areas/components/TacticalMap.test.tsx
Due: eslint, typescript, prettier

Commit the regenerated OpenAPI schema for participants[].aftermath (#3551)
  src/schema.json
Due: none

CombatTacticalMap draws non-combatant personas as dimmed bystanders (#3557)
  frontend/src/combat/components/CombatTacticalMap.test.tsx
  frontend/src/combat/components/CombatTacticalMap.tsx
Due: eslint, typescript, prettier

CombatRail grows a GM tab: encounter controls and the combat GM tools in one place (#3557)
  frontend/src/combat/components/CombatGMTab.tsx
  frontend/src/combat/components/CombatRail.tsx
  frontend/src/combat/components/__tests__/CombatGMTab.test.tsx
  frontend/src/combat/components/__tests__/CombatRail.test.tsx
Due: eslint, typescript, prettier

Drop the em-dashes from the two comment lines Task 4 edited (#3557)
  frontend/src/combat/components/CombatRail.tsx
  frontend/src/combat/components/__tests__/CombatRail.test.tsx
Due: eslint, typescript, prettier
