Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

docs: correct false "Audere Majora unreachable" ledger claim (#1586)
  docs/roadmap/player-capability-ledger.md
Due: none

chore: regen MODEL_MAP after main sync (CharacterTitle + RewardDefinition FKs, #1522)
  docs/systems/MODEL_MAP.md
Due: none

docs: correct false "Audere Majora unreachable" ledger claim (#1586) (#1595)
  docs/roadmap/player-capability-ledger.md
Due: none

feat(scenes): PersonaType.ALTERNATE for alternate-self personas (slice 4)
  src/world/CLAUDE.md
  src/world/scenes/CLAUDE.md
  src/world/scenes/constants.py
  src/world/scenes/migrations/0039_add_persona_alternate.py
  src/world/scenes/migrations/max_migration.txt
  src/world/scenes/models.py
  src/world/scenes/tests/test_models.py
Due: getattr-literal

feat: web visibility toggle for quiet/hidden mode (#1484)
  frontend/src/generated/api.d.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/SettingsPage.visibility.test.tsx
  frontend/src/roster/visibility.ts
  src/commands/CLAUDE.md
  src/schema.json
  src/world/roster/serializers/settings.py
  src/world/roster/tests/test_visibility_settings_view.py
  src/world/roster/urls.py
  src/world/roster/views/settings_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(forms): in_control derived property + assume/revert alternate-self services + RevertBlockedError (#1111 slice 4)
  AGENT_GLOSSARY_MAP.md
  docs/systems/INDEX.md
  docs/systems/appearance_and_identity.md
  docs/systems/forms.md
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_models.py
  src/world/forms/AGENT_GLOSSARY.md
  src/world/forms/services.py
  src/world/forms/tests/test_services.py
Due: getattr-literal

feat: held-clue journal web surface (#1575)
  docs/systems/INDEX.md
  frontend/src/clues/api.ts
  frontend/src/clues/components/CluesTab.tsx
  frontend/src/clues/components/__tests__/CluesTab.test.tsx
  frontend/src/clues/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/schema.json
  src/web/urls.py
  src/world/clues/filters.py
  src/world/clues/serializers.py
  src/world/clues/tests/test_held_clues_view.py
  src/world/clues/urls.py
  src/world/clues/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(forms): restore level-cache test, eliminate persona-only ModifierSource orphan, force fresh in_control on revert (slice 4 review)
  src/world/character_sheets/tests/test_models.py
  src/world/forms/services.py
  src/world/forms/tests/test_services.py
Due: getattr-literal

fix: reuse the OneToOne PlayerData in the clue-filter test (#1575)
  src/world/clues/tests/test_held_clues_view.py
Due: getattr-literal

feat(actions): ShiftFormAction + RevertFormAction REGISTRY actions for alternate-self assume/revert (slice 4)
  docs/systems/appearance_and_identity.md
  docs/systems/forms.md
  src/actions/CLAUDE.md
  src/actions/definitions/forms.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_forms.py
  src/world/forms/AGENT_GLOSSARY.md
Due: getattr-literal

test(magic): assert CG mints MAJOR gift; GiftFactory kind default
  src/world/character_creation/tests/test_services.py
  src/world/magic/factories.py
  src/world/magic/tests/test_models.py
Due: getattr-literal

feat(magic): add Gift.kind Major/Minor taxonomy column (ADR-0050)
  src/world/magic/constants.py
  src/world/magic/migrations/0053_gift_kind.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/gifts.py
  src/world/magic/tests/test_models.py
Due: getattr-literal

docs(magic): document landed Gift.kind taxonomy (#1577)
  docs/roadmap/planned-systems.md
  docs/roadmap/species.md
  src/world/magic/CLAUDE.md
Due: none

test(magic): refresh_from_db in MAJOR-default test (#1577)
  src/world/magic/tests/test_models.py
Due: getattr-literal

feat(magic): Gift.kind Major/Minor taxonomy column (ADR-0050) (#1577) (#1598)
  docs/roadmap/planned-systems.md
  docs/roadmap/species.md
  src/world/character_creation/tests/test_services.py
  src/world/magic/CLAUDE.md
  src/world/magic/constants.py
  src/world/magic/factories.py
  src/world/magic/migrations/0053_gift_kind.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/gifts.py
  src/world/magic/tests/test_models.py
Due: getattr-literal

chore: remove accidentally-committed superpowers spec (#1333)
  docs/superpowers/specs/2026-06-27-cg-seed-admin-game-setup-design.md
Due: none

feat: display earned titles + sync reward-engine docs (#1522) (#1571)
  docs/systems/MODEL_MAP.md
  frontend/src/achievements/api.ts
  frontend/src/achievements/components/TitlesPanel.tsx
  frontend/src/achievements/components/__tests__/TitlesPanel.test.tsx
  frontend/src/achievements/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/commands/CLAUDE.md
  src/commands/account/sheet.py
  src/commands/account/sheet_sections.py
  src/commands/account/tests/test_sheet_sections.py
  src/schema.json
  src/world/achievements/CLAUDE.md
  src/world/achievements/serializers.py
  src/world/achievements/tests/test_title_views.py
  src/world/achievements/urls.py
  src/world/achievements/views.py
Due: getattr-literal, eslint, typescript, prettier

feat: disguise overlay substrate + persona/mask creation flow (#1110, #1127) (#1594)
  docs/systems/MODEL_MAP.md
  docs/systems/appearance_and_identity.md
  frontend/src/generated/api.d.ts
  src/commands/CLAUDE.md
  src/commands/persona.py
  src/commands/tests/test_persona_command.py
  src/schema.json
  src/server/conf/settings.py
  src/world/forms/migrations/0003_characterformstate_active_fake_overlay_and_more.py
  src/world/forms/migrations/max_migration.txt
  src/world/forms/models.py
  src/world/forms/services.py
  src/world/forms/tests/test_disguise_overlay.py
  src/world/scenes/CLAUDE.md
  src/world/scenes/serializers.py
  src/world/scenes/services.py
  src/world/scenes/tests/test_persona_creation.py
  src/world/scenes/views.py
Due: getattr-literal, eslint, typescript, prettier

feat: web visibility toggle for quiet/hidden mode (#1484) (#1596)
  frontend/src/generated/api.d.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/__tests__/SettingsPage.visibility.test.tsx
  frontend/src/roster/visibility.ts
  src/commands/CLAUDE.md
  src/schema.json
  src/world/roster/serializers/settings.py
  src/world/roster/tests/test_visibility_settings_view.py
  src/world/roster/urls.py
  src/world/roster/views/settings_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(forms): wire Berserk into alters_behavior + slice-4 rage/revert E2E test (#1111)
  docs/systems/appearance_and_identity.md
  docs/systems/conditions.md
  docs/systems/forms.md
  src/world/conditions/AGENT_GLOSSARY.md
  src/world/forms/AGENT_GLOSSARY.md
  src/world/forms/tests/test_alt_self_rage_e2e.py
  src/world/magic/factories.py
  src/world/magic/tests/test_berserk_template.py
Due: getattr-literal

refactor(frontend): consolidate parseErrorDetail onto lib/errors.readErrorDetail (#1195)
  frontend/src/covenants/api.ts
  frontend/src/lib/errors.ts
  frontend/src/magic/api.ts
  frontend/src/magic/sanctumApi.ts
  frontend/src/rituals/api.ts
Due: eslint, typescript, prettier

fix(forms): correct RestoreSense patch target in slice-4 rage E2E test (#1111)
  src/world/forms/tests/test_alt_self_rage_e2e.py
Due: getattr-literal

refactor: promote _get_active_scene to public get_active_scene (#1370)
  src/commands/CLAUDE.md
  src/commands/combat.py
  src/commands/conditions.py
  src/commands/consent.py
  src/commands/deeds.py
  src/commands/endorse.py
  src/commands/react.py
  src/commands/social/soul_tether.py
  src/commands/tests/test_soul_tether_e2e.py
  src/integration_tests/pipeline/test_consent_telnet_e2e.py
  src/integration_tests/pipeline/test_endorsement_journey_e2e.py
  src/world/conditions/views.py
  src/world/covenants/handlers.py
  src/world/covenants/tests/test_engagement_prerequisite.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_interaction_services.py
Due: getattr-literal

fix(forms): assert PendingActionResolution shape in slice-4 rage E2E (#1111)
  src/world/forms/tests/test_alt_self_rage_e2e.py
Due: getattr-literal

feat(commands): CmdForm telnet namespace for shift/revert alternate self (#1111)
  docs/systems/appearance_and_identity.md
  docs/systems/forms.md
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/form.py
  src/commands/tests/test_form_command.py
Due: getattr-literal

fix: refresh the staff-facing block reason on re-block (#1326 Finding A)
  src/world/scenes/block_services.py
  src/world/scenes/tests/test_block_toggle_services.py
Due: getattr-literal

refactor: honest PendingActionResolution annotations on social actions (#1245)
  src/actions/definitions/social.py
  src/actions/tests/test_entry_flourish_dispatch.py
Due: getattr-literal

feat: held-clue journal web surface (#1575) (#1597)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/clues/api.ts
  frontend/src/clues/components/CluesTab.tsx
  frontend/src/clues/components/__tests__/CluesTab.test.tsx
  frontend/src/clues/queries.ts
  frontend/src/generated/api.d.ts
  frontend/src/roster/pages/CharacterSheetPage.tsx
  src/schema.json
  src/web/urls.py
  src/world/clues/filters.py
  src/world/clues/serializers.py
  src/world/clues/tests/test_held_clues_view.py
  src/world/clues/urls.py
  src/world/clues/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(forms): web AlternateSelf shift/revert surface + PersonaType.ALTERNATE enum drift fix (#1111)
  docs/systems/appearance_and_identity.md
  docs/systems/forms.md
  frontend/src/game/components/FormSwitcher.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/PersonaSwitcher.tsx
  frontend/src/game/formQueries.ts
  frontend/src/game/personaQueries.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/forms/AGENT_GLOSSARY.md
  src/world/forms/serializers.py
  src/world/forms/tests/test_views.py
  src/world/forms/urls.py
  src/world/forms/views.py
Due: getattr-literal, eslint, typescript, prettier

fix: social actions return an honest ActionResult (#1245)
  src/actions/definitions/social.py
  src/actions/tests/test_entry_flourish_dispatch.py
  src/commands/tests/test_entrance_flourish_e2e.py
Due: getattr-literal

test: extract shared resolution builder to kill new-code duplication (#1245)
  src/actions/tests/resolution_helpers.py
  src/actions/tests/test_entry_flourish_dispatch.py
  src/commands/tests/test_entrance_flourish_e2e.py
Due: getattr-literal

feat(combat): allegiance + summon fields on CombatOpponent (#1584)
  src/world/combat/constants.py
  src/world/combat/migrations/0022_combatopponent_allegiance_and_more.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_allegiance_fields.py
Due: getattr-literal

feat(conditions): absorb buffer, intangibility flag, reactive-defense cost fields (#1584)
  src/world/conditions/migrations/0011_conditioncategory_grants_intangibility_and_more.py
  src/world/conditions/models.py
  src/world/conditions/tests/test_effect_palette_fields.py
Due: getattr-literal

feat(conditions): is_untargetable derived from grants_intangibility (#1584)
  src/world/conditions/services.py
  src/world/conditions/tests/test_is_untargetable.py
Due: getattr-literal

refactor: dedup the social execute() resolve-through-template preamble (#1245)
  src/actions/definitions/social.py
Due: getattr-literal

feat(combat): combatants_hostile_to allegiance helper (#1584)
  src/world/combat/services.py
  src/world/combat/tests/test_allegiance_targeting.py
Due: getattr-literal

feat(combat): COMBAT_ROUND_STARTING event + reactive-defense upkeep drain (#1584)
  src/flows/constants.py
  src/flows/events/payloads.py
  src/flows/migrations/0006_alter_triggerdefinition_event_name.py
  src/world/combat/services.py
  src/world/combat/tests/test_reactive_upkeep.py
Due: getattr-literal

fix(forms): block assume-over-active + drop orphan empty source + E2E instance fix (#1111)
  src/actions/definitions/forms.py
  src/actions/tests/test_forms.py
  src/world/forms/services.py
  src/world/forms/tests/test_alt_self_rage_e2e.py
  src/world/forms/tests/test_services.py
Due: getattr-literal

refactor(combat): wire _get_anima accessor + single upkeep save (#1584)
  src/world/combat/services.py
Due: getattr-literal

feat(combat): emit DAMAGE_PRE_APPLY on opponent damage so reactive defenses fire on NPCs (#1584)
  src/world/combat/services.py
  src/world/combat/tests/test_opponent_damage_pre_apply.py
  src/world/conditions/factories.py
Due: getattr-literal
