Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

perf: just recipes build the PG parity test DB from models, not migrations
  docs/dev-commands.md
  justfile
Due: none

fix(combat): wire on_hit_pool into the flat-damage NPC-attack branch
  src/world/combat/services.py
  src/world/combat/tests/test_knockback.py
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_positioning_effect_handlers.py
Due: getattr-literal

fix(justfile): fail loudly on unsupported DATABASE_URL forms in _testdb-url
  justfile
Due: none

ci: build schema from models in CI, add makemigrations drift gate
  .github/workflows/ci.yml
  tools/check_missing_migrations.py
Due: getattr-literal

ci: add nightly migration-replay workflow + ADR-0083, sync stale migration docs
  .github/workflows/nightly-migration-replay.yml
  docs/adr/0083-ci-schema-from-models.md
  docs/adr/README.md
  docs/architecture/migration-nuke-and-rebuild-plan.md
  docs/evennia-quirks.md
Due: none

feat(items): add LabStationDetails model + CraftingRecipe.requires_station
  src/world/items/crafting/constants.py
  src/world/items/crafting/models.py
  src/world/items/migrations/0023_labstationdetails_craftingrecipe_requires_station.py
  src/world/items/migrations/max_migration.txt
  src/world/items/tests/test_crafting_models.py
Due: getattr-literal

Knockback + wire Trap hazard into combat (the #1273 spikes example) — sibling to #1273 (#1807)
  docs/adr/0082-knockback-via-consequence-pool.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/areas/positioning/AGENT_GLOSSARY.md
  src/world/checks/constants.py
  src/world/checks/migrations/0020_alter_consequenceeffect_position_destination.py
  src/world/checks/migrations/max_migration.txt
  src/world/combat/AGENT_GLOSSARY.md
  src/world/combat/migrations/0030_threatpoolentry_on_hit_consequence_pool.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/services.py
  src/world/combat/tests/test_knockback.py
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_positioning_effect_handlers.py
  src/world/room_features/migrations/0005_trap_position.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/tests/test_traps.py
  src/world/room_features/trap_services.py
Due: getattr-literal

feat(room_features): add RoomAlreadyHasFeatureError exception
  src/world/room_features/exceptions.py
  src/world/room_features/tests/test_exceptions.py
Due: getattr-literal

docs: fix task-5 review findings in running-tests skill and ADR-0083
  docs/adr/0083-ci-schema-from-models.md
  tools/skills/running-tests/SKILL.md
Due: none

feat(room_features): add ensure_lab_kind seed
  src/world/room_features/seeds.py
  src/world/room_features/tests/test_seeds.py
Due: getattr-literal

feat(items): register LAB room-feature strategy handler
  src/world/items/apps.py
  src/world/items/crafting/station.py
  src/world/items/tests/test_lab_station_progression.py
Due: getattr-literal

Wire FORMATION role picker to emit COVENANT_ROLE reference (#1313)
  frontend/src/rituals/CLAUDE.md
  frontend/src/rituals/__tests__/RitualSessionPages.test.tsx
  frontend/src/rituals/components/RitualSessionResponseDialog.tsx
  src/world/magic/factories.py
  src/world/magic/tests/test_session_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(items): add repair_station_durability coppers-sink service
  src/world/items/crafting/station.py
  src/world/items/tests/test_lab_station_repair.py
Due: getattr-literal

Final-review fix wave for CI schema-from-models branch
  .github/workflows/ci.yml
  .github/workflows/nightly-migration-replay.yml
  docs/adr/0083-ci-schema-from-models.md
  docs/dev-commands.md
  docs/evennia-quirks.md
  justfile
  src/server/conf/sqlite_test_settings.py
  src/world/scenes/tests/test_action_services.py
  tools/skills/running-tests/SKILL.md
Due: getattr-literal

docs: SQLite fast tier never runs build_schema.py — correct the SQL_FILES mirror-rule framing
  docs/evennia-quirks.md
Due: none

feat(items): wire station gate + wear into run_crafting_recipe
  src/world/items/crafting/services.py
  src/world/items/exceptions.py
  src/world/items/tests/test_crafting_service.py
  src/world/items/views.py
Due: getattr-literal

test(items): force failing roll to prove station wear fires on failure too
  src/world/items/tests/test_crafting_service.py
Due: getattr-literal

feat(items): add station_status to CraftingQuote
  src/world/items/crafting/services.py
  src/world/items/tests/test_crafting_api.py
  src/world/items/tests/test_crafting_query_counts.py
Due: getattr-literal

feat(areas): thread gating_challenge_template through connect_blueprint_positions
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/test_blueprint_services.py
Due: getattr-literal

feat(areas): add BlueprintEdge.gating_challenge_template FK
  src/world/areas/migrations/0012_blueprintedge_gating_challenge_template.py
  src/world/areas/migrations/max_migration.txt
  src/world/areas/positioning/models.py
  src/world/areas/positioning/tests/test_models.py
Due: getattr-literal

feat(mechanics): add instantiate_challenge service
  src/world/mechanics/challenge_resolution.py
  src/world/mechanics/tests/test_challenge_resolution.py
Due: getattr-literal

feat(areas): add rope_bridge_blueprint worked gated-layout sample
  src/world/areas/positioning/factories.py
  src/world/areas/positioning/tests/test_blueprint_factories.py
Due: getattr-literal

feat(areas): mint ChallengeInstance for gated blueprint edges on instantiate
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/test_blueprint_services.py
Due: getattr-literal

fix(areas): deactivate orphaned gating ChallengeInstance on restage
  src/world/areas/positioning/services.py
  src/world/areas/positioning/tests/test_blueprint_services.py
Due: getattr-literal

docs(areas): document gated blueprint edges, close the deferred gap
  docs/systems/INDEX.md
  docs/systems/areas.md
Due: none

feat(battles): replace UnitComposition with Property/Capability holding on BattleUnit
  src/world/battles/admin.py
  src/world/battles/constants.py
  src/world/battles/migrations/0011_battleunit_property_capability.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/tests/test_models.py
Due: getattr-literal

feat(mechanics): add HasProperties/HasCapabilities Protocols + CharacterSheet wrappers
  src/world/character_sheets/models.py
  src/world/character_sheets/tests/test_models.py
  src/world/mechanics/types.py
Due: getattr-literal

fix(battles): update stale composition reference in descriptor help_text
  src/world/battles/migrations/0011_battleunit_property_capability.py
  src/world/battles/models.py
Due: getattr-literal

feat(battles): add_unit() takes properties/capability_values instead of composition
  src/world/battles/services.py
  src/world/battles/tests/test_services_setup.py
Due: getattr-literal

feat(battles): resolution.py modifier stack sums Property-keyed affinity/terrain rows
  src/world/battles/resolution.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

feat(magic): military summon reads properties/capabilities instead of composition
  src/world/magic/services/effect_handlers.py
  src/world/magic/tests/test_summon_ally.py
Due: getattr-literal

test(battles): cover terrain-side multi-property modifier summing
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

docs(battles): sync battles/mechanics docs with Property/Capability holding
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/battles.md
  src/world/battles/AGENT_GLOSSARY.md
Due: none

test(battles): E2E coverage for Property-keyed technique/terrain modifiers
  src/integration_tests/pipeline/test_battle_telnet_e2e.py
Due: getattr-literal

fix: address final whole-branch review nits
  src/world/battles/migrations/0011_battleunit_property_capability.py
  src/world/battles/models.py
  src/world/character_sheets/tests/test_models.py
  src/world/magic/services/effect_handlers.py
Due: getattr-literal

docs(battles): fix last stale 'composition' reference in Battle Place glossary entry
  src/world/battles/AGENT_GLOSSARY.md
Due: none

feat(actions): add generic start_room_feature_project Action
  src/actions/definitions/room_features.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_room_features.py
Due: getattr-literal

test(actions): cover upgrade and wrong-mechanism branches for room feature project
  src/actions/tests/test_room_features.py
Due: getattr-literal

perf(ci): build test schemas from model state — backend shards ~15-18 min → ~5 min (#1809)
  .github/workflows/ci.yml
  .github/workflows/nightly-migration-replay.yml
  docs/adr/0083-ci-schema-from-models.md
  docs/adr/README.md
  docs/architecture/migration-nuke-and-rebuild-plan.md
  docs/dev-commands.md
  docs/evennia-quirks.md
  justfile
  src/server/conf/sqlite_test_settings.py
  src/server/conf/test_settings.py
  src/world/magic/migrations/0003_accept_soul_tether_placeholder_grants.py
  src/world/magic/migrations/0004_technique_properties.py
  src/world/magic/seeds_soul_tether.py
  src/world/progression/migrations/0003_social_engagement_kudos_category.py
  src/world/progression/migrations/0004_pathintent.py
  src/world/progression/seeds.py
  src/world/scenes/tests/test_action_services.py
  tools/build_schema.py
  tools/check_migration_seed_data.py
  tools/check_missing_migrations.py
  tools/skills/running-tests/SKILL.md
Due: getattr-literal

Wire FORMATION role picker to emit COVENANT_ROLE reference (#1808)
  frontend/src/rituals/CLAUDE.md
  frontend/src/rituals/__tests__/RitualSessionPages.test.tsx
  frontend/src/rituals/components/RitualSessionResponseDialog.tsx
  src/world/magic/factories.py
  src/world/magic/tests/test_session_views.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
