Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

chore(migrations): rebase 0139 to 0140 past main's covenant standing migration (#696)
  src/world/migrations/0140_taskoutcomeroute_collection_success_level.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Tax collection: area-stat difficulty + PLACEHOLDER example collection mission (#696 items 1-2) (#3157)
  docs/adr/0098-houses-are-organizations-with-kinship-recognition.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/houses.md
  docs/systems/tasking.md
  src/world/currency/services.py
  src/world/currency/tests/test_collection_difficulty.py
  src/world/migrations/0140_taskoutcomeroute_collection_success_level.py
  src/world/migrations/max_migration.txt
  src/world/seeds/clusters.py
  src/world/seeds/domain_tasks.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/houses/models.py
  src/world/societies/houses/services.py
  src/world/tasking/models.py
  src/world/tasking/services.py
  src/world/tasking/tests/test_collection_mission_e2e.py
  src/world/tasking/tests/test_collection_routes.py
Due: getattr-literal

Move brainstorm port 49200 -> 39200, below Windows dynamic port range
  .devcontainer/docker-compose.yml
  docs/devcontainer-setup.md
Due: none

Resend DNS: publish the records Resend actually specifies, not assumed ones (#2236)
  infra/README.md
  infra/terraform/modules/cloudflare_dns/main.tf
  infra/terraform/modules/cloudflare_dns/variables.tf
  infra/terraform/prod/main.tf
  infra/terraform/prod/terraform.tfvars.example
  infra/terraform/prod/variables.tf
Due: none

Resend DNS: publish the records Resend actually specifies, not assumed ones (#3160)
  infra/README.md
  infra/terraform/modules/cloudflare_dns/main.tf
  infra/terraform/modules/cloudflare_dns/variables.tf
  infra/terraform/prod/main.tf
  infra/terraform/prod/terraform.tfvars.example
  infra/terraform/prod/variables.tf
Due: none

feat(#2993): TraitType.LANGUAGE, Language.trait link, is_universal, fluency bands
  src/world/migrations/0141_language_is_universal_language_trait_and_more.py
  src/world/migrations/max_migration.txt
  src/world/species/language_constants.py
  src/world/species/models.py
  src/world/species/tests/test_language_mechanics.py
  src/world/traits/models.py
Due: getattr-literal

feat(#2993): provision_starting_languages - CG grant incl. universal Arvani, wires get_starting_languages
  src/world/character_creation/services.py
  src/world/species/services.py
  src/world/species/tests/test_language_mechanics.py
Due: getattr-literal

feat(#2993): garble_text + comprehension services; mutter_fragment delegates
  src/world/scenes/interaction_services.py
  src/world/species/language_services.py
  src/world/species/tests/test_language_services.py
Due: getattr-literal

feat(#2993): Interaction.language + CharacterSheet.current_language; per-recipient WS render
  docs/systems/MODEL_MAP.md
  src/world/character_sheets/models.py
  src/world/migrations/0142_charactersheet_current_language_interaction_language.py
  src/world/migrations/max_migration.txt
  src/world/scenes/interaction_services.py
  src/world/scenes/models.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_language_interactions.py
  src/world/scenes/types.py
  tools/check_partition_sql_drift.py
Due: getattr-literal

feat(#2993): say/whisper/mutter speak languages with per-listener comprehension
  src/actions/definitions/communication.py
  src/actions/tests/test_language_speech.py
  src/world/scenes/interaction_services.py
Due: getattr-literal

feat(#2993): set_language + train_language actions, weekly DP loop, rust exemption, telnet cmds
  src/actions/definitions/language.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_language_actions.py
  src/commands/CLAUDE.md
  src/commands/default_cmdsets.py
  src/commands/evennia_overrides/communication.py
  src/commands/language.py
  src/world/progression/services/skill_development.py
  src/world/progression/tests/test_skill_development.py
Due: getattr-literal

feat(#2993): per-viewer language comprehension in scene-log serializers
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_language_interactions.py
Due: getattr-literal

test(#2993): cover detail-endpoint comprehension gating (review fix)
  src/world/scenes/tests/test_language_interactions.py
Due: getattr-literal

feat(#2993): my-languages endpoint + api types regen
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/urls.py
  src/world/species/serializers.py
  src/world/species/tests/test_language_views.py
  src/world/species/types.py
  src/world/species/urls.py
  src/world/species/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#2993): composer language selector + character-sheet Languages section
  frontend/src/character_sheets/components/LanguagesSection.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/LanguageSelector.tsx
  frontend/src/roster/pages/CharacterSheetPage.tsx
  frontend/src/species/api.ts
  frontend/src/species/queries.ts
  frontend/src/species/types.ts
Due: eslint, typescript, prettier

docs(#2993): languages-as-traits ADR, system docs, glossary, MODEL_MAP, roadmap
  docs/adr/0214-languages-are-traits-comprehension-recomputed-live.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/roadmap/species.md
  docs/systems/INDEX.md
  docs/systems/species.md
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/species/AGENT_GLOSSARY.md
  src/world/species/services.py
Due: getattr-literal

fix(#2993): final-review fixes - participant-scoped comprehension, dreamside exclusion, receiver ground truth, nullable language_id
  frontend/src/generated/api.d.ts
  src/actions/definitions/communication.py
  src/actions/tests/test_language_speech.py
  src/schema.json
  src/world/scenes/interaction_serializers.py
  src/world/scenes/tests/test_language_interactions.py
Due: getattr-literal, eslint, typescript, prettier

chore(#2993): fix mislabeled review-finding comment (C1 -> C2)
  src/actions/definitions/communication.py
Due: getattr-literal

ci: raise pg max_locks_per_transaction for one-transaction schema build
  .github/workflows/ci.yml
Due: none

Move brainstorm port 49200 -> 39200, below Windows dynamic port range (#3159)
  .devcontainer/docker-compose.yml
  docs/devcontainer-setup.md
Due: none

feat(#3162): species ancestor walk for starting languages, beginnings round-trip, RENAMES.json directive
  docs/evennia-quirks.md
  docs/systems/INDEX.md
  docs/systems/species.md
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_fixtures.py
  src/web/admin/content_load_views.py
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_models.py
  tools/build_content_fixtures.py
Due: getattr-literal

docs(#3162): starting-language authoring section, renames-first pipeline docstrings
  docs/systems/species.md
  src/web/admin/content_load_views.py
Due: getattr-literal

feat(#3162): Language.restricted - gameplay-gated tongues, teacher-can-bootstrap training gate
  docs/systems/species.md
  src/actions/definitions/language.py
  src/actions/tests/test_language_actions.py
  src/world/migrations/0143_language_restricted.py
  src/world/migrations/max_migration.txt
  src/world/species/AGENT_GLOSSARY.md
  src/world/species/models.py
Due: getattr-literal

test(#3162): assert DevelopmentTransaction.source in restricted-gate tests (review nit)
  src/actions/tests/test_language_actions.py
Due: getattr-literal

Starting-language content pass: regional + species tongues, species ancestor walk, Beginnings content round-trip (#3163)
  docs/evennia-quirks.md
  docs/systems/INDEX.md
  docs/systems/species.md
  src/actions/definitions/language.py
  src/actions/tests/test_language_actions.py
  src/core_management/content_fixtures.py
  src/core_management/tests/test_content_fixtures.py
  src/web/admin/content_load_views.py
  src/world/character_creation/models.py
  src/world/character_creation/tests/test_models.py
  src/world/migrations/0143_language_restricted.py
  src/world/migrations/max_migration.txt
  src/world/species/AGENT_GLOSSARY.md
  src/world/species/models.py
  tools/build_content_fixtures.py
Due: getattr-literal

Standup button: pass the Resend records and hostnames to tofu (#2236)
  .github/workflows/standup.yml
  infra/README.md
  infra/terraform/modules/cloudflare_dns/variables.tf
  infra/terraform/prod/variables.tf
Due: none

Standup button: pass the Resend records and hostnames to tofu (#3165)
  .github/workflows/standup.yml
  infra/README.md
  infra/terraform/modules/cloudflare_dns/variables.tf
  infra/terraform/prod/variables.tf
Due: none

Strip the prefix length from the Linode IPv6 output (#2236)
  infra/terraform/modules/compute/outputs.tf
Due: none

Strip the prefix length from the Linode IPv6 output (#3166)
  infra/terraform/modules/compute/outputs.tf
Due: none

Caddy DNS-01 plugin: fetch the rebuilt binary directly, not via add-package (#2236)
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/handlers/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Caddy DNS-01 plugin: fetch the rebuilt binary directly, not via add-package (#3167)
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/handlers/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

fix(#3155): dispatch callers surface business-rule rejections (success:false in HTTP 200)
  frontend/src/covenants/__tests__/api.groupStoryRequest.test.ts
  frontend/src/covenants/api.ts
  frontend/src/game/api/__tests__/roomEditor.test.ts
  frontend/src/game/api/roomEditor.ts
  frontend/src/game/components/PresencePanel.test.tsx
  frontend/src/game/components/PresencePanel.tsx
  frontend/src/game/components/room-panel/PortalsBlock.test.tsx
  frontend/src/game/components/room-panel/PortalsBlock.tsx
  frontend/src/lib/__tests__/errors.test.ts
  frontend/src/lib/errors.ts
  frontend/src/market/__tests__/api.test.ts
  frontend/src/market/api.ts
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/pages/ScenesListPage.tsx
  frontend/src/scenes/pages/__tests__/ScenesListPage.test.tsx
  frontend/src/stories/__tests__/GMDashboardPage.test.tsx
  frontend/src/stories/pages/GMDashboardPage.tsx
Due: eslint, typescript, prettier

fix(#3155): drop flaky apiFetch call-count assertion in claim-rejection test
  frontend/src/stories/__tests__/GMDashboardPage.test.tsx
Due: eslint, typescript, prettier

fix(#3155): travel voyage hooks surface dispatch rejections (review fix)
  frontend/src/travel/queries.test.tsx
  frontend/src/travel/queries.ts
Due: eslint, typescript, prettier

Deliver the DNS-01 token to Caddy, at validate time and at runtime (#2236)
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/handlers/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Frontend dispatch callers swallow business-rule failures (success:false in HTTP 200) — sweep needed (#3168)
  frontend/src/covenants/__tests__/api.groupStoryRequest.test.ts
  frontend/src/covenants/api.ts
  frontend/src/game/api/__tests__/roomEditor.test.ts
  frontend/src/game/api/roomEditor.ts
  frontend/src/game/components/PresencePanel.test.tsx
  frontend/src/game/components/PresencePanel.tsx
  frontend/src/game/components/room-panel/PortalsBlock.test.tsx
  frontend/src/game/components/room-panel/PortalsBlock.tsx
  frontend/src/lib/__tests__/errors.test.ts
  frontend/src/lib/errors.ts
  frontend/src/market/__tests__/api.test.ts
  frontend/src/market/api.ts
  frontend/src/scenes/components/SceneHeader.test.tsx
  frontend/src/scenes/components/SceneHeader.tsx
  frontend/src/scenes/pages/ScenesListPage.tsx
  frontend/src/scenes/pages/__tests__/ScenesListPage.test.tsx
  frontend/src/stories/__tests__/GMDashboardPage.test.tsx
  frontend/src/stories/pages/GMDashboardPage.tsx
  frontend/src/travel/queries.test.tsx
  frontend/src/travel/queries.ts
Due: eslint, typescript, prettier

Deliver the DNS-01 token to Caddy, at validate time and at runtime (#3169)
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/handlers/main.yml
  infra/ansible/roles/caddy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Perception taxonomy: broadcast-exclusion registry + canonical perception-check seam (#2997)
  src/flows/service_functions/communication.py
  src/flows/service_functions/perception_registry.py
  src/flows/tests/test_perception_registry.py
  src/world/checks/perception_constants.py
  src/world/checks/perception_services.py
  src/world/checks/tests/test_perception_services.py
  src/world/seeds/investigation_checks.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
