Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

test(#1328): telnet e2e journey tests for untested commands + battle subverbs
  src/integration_tests/pipeline/test_battle_subverbs_telnet_e2e.py
  src/integration_tests/pipeline/test_comfort_telnet_e2e.py
  src/integration_tests/pipeline/test_gossip_telnet_e2e.py
  src/integration_tests/pipeline/test_organization_telnet_e2e.py
  src/integration_tests/pipeline/test_project_telnet_e2e.py
  src/integration_tests/pipeline/test_signature_telnet_e2e.py
Due: getattr-literal

feat(core): add ArxSharedMemoryManager.cached_all() for catalog tables
  src/core/managers.py
  src/core/testing.py
  src/core/tests/__init__.py
  src/core/tests/test_managers.py
  src/core/tests/test_natural_keys.py
Due: getattr-literal

perf(battles): cache modifier-stack catalog tables via cached_all()
  src/world/battles/models.py
  src/world/battles/resolution.py
Due: getattr-literal

feat(covenants): add CovenantRank.can_lead_rituals capability flag
  src/world/covenants/factories.py
  src/world/covenants/migrations/0022_covenantrank_can_lead_rituals.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_services.py
Due: getattr-literal

feat(covenants): wire can_lead_rituals through rank create/update write-path
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_services.py
  src/world/covenants/tests/test_views.py
  src/world/covenants/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(magic): gate Covenant Sanctification leadership on CovenantRank.can_lead_rituals
  src/world/magic/services/sanctum_install.py
  src/world/magic/tests/test_sanctum_install.py
Due: getattr-literal

docs: document can_lead_rituals capability flag and fix stale owner-type claim
  docs/systems/INDEX.md
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/magic/CLAUDE.md
  src/world/societies/AGENT_GLOSSARY.md
Due: none

feat(societies): add documented-placeholder OrganizationRank.can_lead_rituals
  src/world/societies/admin.py
  src/world/societies/membership_services.py
  src/world/societies/migrations/0020_organizationrank_can_lead_rituals.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_models.py
Due: getattr-literal

fix(magic): distinguish rank-gate rejection message + cover ownership-catalog False path
  src/world/magic/services/sanctum_install.py
  src/world/magic/tests/test_sanctum_install.py
Due: getattr-literal

perf(magic): cache technique/mishap catalog tables via cached_all()
  src/world/magic/models/soulfray.py
  src/world/magic/models/techniques.py
  src/world/magic/services/soulfray.py
  src/world/magic/services/techniques.py
  src/world/mechanics/models.py
Due: getattr-literal

fix(societies): regenerate API types for OrganizationRank.can_lead_rituals
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(battles): add BattleStateCache per-battle roster index
  src/world/battles/models.py
  src/world/battles/services.py
  src/world/battles/state_cache.py
  src/world/battles/tests/test_state_cache.py
Due: getattr-literal

perf(battles): read roster scope/commander/isolation/vehicle from state_cache
  src/world/battles/resolution.py
Due: getattr-literal

test(battles): tighten per-declaration query budget after #1846
  src/world/battles/tests/test_query_scaling.py
Due: getattr-literal

docs(battles): document BattleStateCache and cached_all() (#1846)
  docs/systems/battles.md
Due: none

feat(companions): scaffold world.companions app + CompanionArchetype catalog
  .github/workflows/ci.yml
  AGENT_GLOSSARY_MAP.md
  src/server/conf/settings.py
  src/world/companions/AGENT_GLOSSARY.md
  src/world/companions/__init__.py
  src/world/companions/admin.py
  src/world/companions/apps.py
  src/world/companions/constants.py
  src/world/companions/factories.py
  src/world/companions/migrations/0001_initial.py
  src/world/companions/migrations/__init__.py
  src/world/companions/migrations/max_migration.txt
  src/world/companions/models.py
  src/world/companions/tests/__init__.py
  src/world/companions/tests/test_models.py
Due: getattr-literal

feat(companions): add Companion instance model
  src/world/companions/admin.py
  src/world/companions/factories.py
  src/world/companions/migrations/0002_companion.py
  src/world/companions/migrations/max_migration.txt
  src/world/companions/models.py
  src/world/companions/tests/test_companion_model.py
Due: getattr-literal

feat(companions): add CompanionObject typeclass
  src/evennia_extensions/factories.py
  src/evennia_extensions/factories.pyi
  src/typeclasses/companions.py
  src/typeclasses/tests/test_companions.py
Due: getattr-literal

feat(companions): add owner-follow movement hook
  src/typeclasses/characters.py
  src/typeclasses/tests/test_companions.py
  src/world/companions/handlers.py
  src/world/companions/tests/test_handlers.py
Due: getattr-literal

feat(companions): add bind_companion/release_companion service functions
  src/world/companions/services.py
  src/world/companions/tests/test_services.py
Due: getattr-literal

feat(companions): add Companion Capacity service functions
  src/world/companions/services.py
  src/world/companions/tests/test_services.py
Due: getattr-literal

fix(companions): flush idmapper cache after release_companion's objectdb delete
  src/world/companions/services.py
Due: getattr-literal

feat(companions): add idempotent Beastlord content seeder
  src/world/companions/content.py
  src/world/companions/tests/test_content.py
Due: getattr-literal

feat(companions): add BindCompanionAction
  src/actions/definitions/companions.py
  src/actions/prerequisites.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/actions/tests/test_companion_actions.py
Due: getattr-literal

test(companions): assert capacity-denial message specifically in E2E journey
  src/world/companions/tests/test_e2e_bind_journey.py
Due: getattr-literal

feat(companions): add read-only Companion API
  src/web/urls.py
  src/world/companions/filters.py
  src/world/companions/serializers.py
  src/world/companions/tests/test_views.py
  src/world/companions/urls.py
  src/world/companions/views.py
Due: getattr-literal

test(companions): add full bind/follow/capacity/release E2E journey
  src/world/companions/tests/test_e2e_bind_journey.py
Due: getattr-literal

docs(companions): add system doc, ADR, roadmap + INDEX updates
  docs/adr/0088-companion-typeclass-and-thread-capacity-reuse.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/companions.md
  tools/introspect_models.py
Due: getattr-literal

fix(companions): harden capacity prerequisite, guard follow-hook, cover bind-failure path
  src/actions/prerequisites.py
  src/actions/tests/test_companion_actions.py
  src/typeclasses/characters.py
  src/world/companions/tests/test_views.py
Due: getattr-literal

fix(companions): regenerate API schema/types for new Companion serializers
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

docs: design doc for intent-provenance skill
  docs/superpowers/specs/2026-07-04-intent-provenance-skill-design.md
Due: none

feat: add intent-provenance skill
  tools/skills/intent-provenance/SKILL.md
  tools/skills/verify-against-code/SKILL.md
Due: none

docs: make push+PR the explicit default when finishing a branch
  CLAUDE.md
Due: none

Make init-firewall.sh safe to re-run inside a live container
  .devcontainer/init-firewall.sh
Due: none

Future Room features: Library, Training Room, Lab, Command Center, Granary, Cannon Deck, etc. (#1865)
  docs/systems/INDEX.md
  src/world/codex/constants.py
  src/world/codex/models.py
  src/world/codex/tests/test_models.py
  src/world/magic/services/gift_acquisition.py
  src/world/magic/services/technique_acquisition.py
  src/world/magic/tests/test_technique_acquisition.py
  src/world/room_features/apps.py
  src/world/room_features/constants.py
  src/world/room_features/migrations/0007_rename_cannon_deck_add_captains_quarters.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/seeds.py
  src/world/room_features/services.py
  src/world/room_features/tests/test_new_feature_helpers.py
  src/world/room_features/tests/test_seeds.py
  src/world/ships/constants.py
  src/world/ships/sanctum_bonus.py
  src/world/ships/tests/test_battle_bridge.py
Due: getattr-literal

test(#1328): telnet e2e journey tests for untested commands + battle subverbs (#1867)
  src/integration_tests/pipeline/test_battle_subverbs_telnet_e2e.py
  src/integration_tests/pipeline/test_comfort_telnet_e2e.py
  src/integration_tests/pipeline/test_gossip_telnet_e2e.py
  src/integration_tests/pipeline/test_organization_telnet_e2e.py
  src/integration_tests/pipeline/test_project_telnet_e2e.py
  src/integration_tests/pipeline/test_signature_telnet_e2e.py
Due: getattr-literal

Organization-level ritual leadership permissions (#1870)
  docs/systems/INDEX.md
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/covenants/AGENT_GLOSSARY.md
  src/world/covenants/factories.py
  src/world/covenants/migrations/0022_covenantrank_can_lead_rituals.py
  src/world/covenants/migrations/max_migration.txt
  src/world/covenants/models.py
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_services.py
  src/world/covenants/tests/test_views.py
  src/world/covenants/views.py
  src/world/magic/CLAUDE.md
  src/world/magic/services/sanctum_install.py
  src/world/magic/tests/test_sanctum_install.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/membership_services.py
  src/world/societies/migrations/0020_organizationrank_can_lead_rituals.py
  src/world/societies/migrations/max_migration.txt
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_models.py
Due: getattr-literal, eslint, typescript, prettier

Battle round resolution: eliminate per-declaration re-query cost via persistent in-memory caches (#1876)
  docs/systems/battles.md
  src/core/managers.py
  src/core/testing.py
  src/core/tests/__init__.py
  src/core/tests/test_managers.py
  src/core/tests/test_natural_keys.py
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/state_cache.py
  src/world/battles/tests/test_query_scaling.py
  src/world/battles/tests/test_state_cache.py
  src/world/magic/models/soulfray.py
  src/world/magic/models/techniques.py
  src/world/magic/services/soulfray.py
  src/world/magic/services/techniques.py
  src/world/mechanics/models.py
Due: getattr-literal

Add intent-provenance skill: trace unwired code's origin before classifying it (#1877)
  CLAUDE.md
  docs/superpowers/specs/2026-07-04-intent-provenance-skill-design.md
  tools/skills/intent-provenance/SKILL.md
  tools/skills/verify-against-code/SKILL.md
Due: none

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
