Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Mock the disposition hooks in the JournalsPage vote-button test
  frontend/src/journals/__tests__/JournalsPage.voteButton.test.tsx
Due: eslint, typescript, prettier

Seasonal and time-of-day room description variants (#3312)
  docs/roadmap/rooms-and-estates.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  frontend/src/generated/api.d.ts
  frontend/src/world-builder/components/RoomDetailPanel.test.tsx
  frontend/src/world-builder/components/WorldCanvas.test.tsx
  frontend/src/world-builder/components/WorldRoomNode.test.tsx
  src/actions/definitions/world_builder.py
  src/actions/registry.py
  src/actions/tests/test_actions.py
  src/actions/tests/test_base.py
  src/actions/tests/test_world_builder_actions.py
  src/evennia_extensions/admin.py
  src/evennia_extensions/factories.py
  src/evennia_extensions/models.py
  src/evennia_extensions/services/room_desc_variants.py
  src/evennia_extensions/tests/test_admin.py
  src/evennia_extensions/tests/test_room_desc_variants.py
  src/flows/object_states/room_state.py
  src/flows/tests/test_room_state.py
  src/schema.json
  src/world/areas/builder_views.py
  src/world/areas/serializers.py
  src/world/migrations/0164_roomdescvariant.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

Give the vote-button test fixture the posthumous summary fields
  frontend/src/journals/__tests__/JournalsPage.voteButton.test.tsx
Due: eslint, typescript, prettier

build_schema: skip migrate's autodetector pass (verbosity=0) - 6min -> 30s
  tools/build_schema.py
Due: getattr-literal

Black journal mechanics: private journal entries need an afterlife (post-death reveal, bequest of writings, investigation hooks) (#3310)
  docs/adr/0229-posthumous-journal-disposition-is-author-controlled.md
  docs/adr/README.md
  docs/roadmap/journals.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/estates.md
  frontend/src/generated/api.d.ts
  frontend/src/journals/__tests__/JournalsPage.voteButton.test.tsx
  frontend/src/journals/api.ts
  frontend/src/journals/components/JournalComposerDialog.tsx
  frontend/src/journals/pages/JournalsPage.tsx
  frontend/src/journals/queries.ts
  src/actions/definitions/journals.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/journals.py
  src/schema.json
  src/world/character_sheets/models.py
  src/world/character_sheets/types.py
  src/world/estates/AGENT_GLOSSARY.md
  src/world/estates/constants.py
  src/world/estates/models.py
  src/world/estates/serializers.py
  src/world/estates/services.py
  src/world/estates/tests/test_settlement.py
  src/world/journals/AGENT_GLOSSARY.md
  src/world/journals/admin.py
  src/world/journals/constants.py
  src/world/journals/factories.py
  src/world/journals/filters.py
  src/world/journals/models.py
  src/world/journals/serializers.py
  src/world/journals/services.py
  src/world/journals/tests/test_posthumous.py
  src/world/journals/tests/test_views.py
  src/world/journals/types.py
  src/world/journals/urls.py
  src/world/journals/views.py
  src/world/migrations/0165_journalbequestgrant_and_more.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

CharacterCmdSet: add all commands in one batched add() - 470ms -> 19ms per cmdset
  src/commands/default_cmdsets.py
Due: getattr-literal

CI: report 25 slowest tests per shard; document the schema-build and cmdset findings
  .github/workflows/ci.yml
  docs/adr/0083-ci-schema-from-models.md
Due: none

Org leaders can declare favor/disfavor: player-facing writer for OrganizationReputation (#3313)
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/societies.md
  frontend/src/generated/api.d.ts
  frontend/src/orgs/api.ts
  frontend/src/orgs/components/DeclareStandingDialog.test.tsx
  frontend/src/orgs/components/DeclareStandingDialog.tsx
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/orgs/queries.ts
  src/actions/definitions/standing_declarations.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/organizations.py
  src/schema.json
  src/world/migrations/0167_organizationrank_can_declare_standing_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/constants.py
  src/world/societies/exceptions.py
  src/world/societies/filters.py
  src/world/societies/membership_services.py
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/standing_services.py
  src/world/societies/tests/test_standing_declarations.py
  src/world/societies/urls.py
  src/world/societies/views.py
Due: getattr-literal, eslint, typescript, prettier

CI speed-up: schema build 6min -> 30s (migrate verbosity=0), CharacterCmdSet 470ms -> 19ms (batched add) (#3322)
  .github/workflows/ci.yml
  docs/adr/0083-ci-schema-from-models.md
  src/commands/default_cmdsets.py
  tools/build_schema.py
Due: getattr-literal

Petitions to organizations: a member-visible request an org can see and sign onto (#3316)
  docs/adr/0231-org-appeals-are-distinct-from-ooc-petitions.md
  docs/adr/README.md
  docs/roadmap/societies.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/societies.md
  frontend/src/generated/api.d.ts
  frontend/src/orgs/api.ts
  frontend/src/orgs/components/AppealsPanel.tsx
  frontend/src/orgs/components/LodgeAppealDialog.tsx
  frontend/src/orgs/pages/DossierPage.tsx
  frontend/src/orgs/pages/OrgPage.test.tsx
  frontend/src/orgs/pages/OrgPage.tsx
  frontend/src/orgs/queries.ts
  src/actions/definitions/org_appeals.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/commands/default_cmdsets.py
  src/commands/organizations.py
  src/schema.json
  src/world/migrations/0170_organizationrank_can_resolve_appeals_orgappeal_and_more.py
  src/world/migrations/max_migration.txt
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/admin.py
  src/world/societies/appeal_services.py
  src/world/societies/constants.py
  src/world/societies/exceptions.py
  src/world/societies/factories.py
  src/world/societies/filters.py
  src/world/societies/membership_services.py
  src/world/societies/models.py
  src/world/societies/serializers.py
  src/world/societies/tests/test_org_appeal_api.py
  src/world/societies/tests/test_org_appeals.py
  src/world/societies/urls.py
  src/world/societies/views.py
Due: getattr-literal, eslint, typescript, prettier

Deploy hardening: reload survives SSH drops and re-runs re-derive "needs reload"
  infra/README.md
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Deploy hardening: reload survives SSH drops; re-runs re-derive "needs reload" (#3323)
  infra/README.md
  infra/ansible/roles/app_deploy/defaults/main.yml
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
Due: none

Gated devcontainer -> prod SSH access: opt-in key mount, firewall gate, arxops user
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/init-firewall.sh
  .devcontainer/no-ops-key/.gitkeep
  .devcontainer/ops-key-install.sh
  .github/workflows/standup.yml
  docs/devcontainer-setup.md
  docs/operations/ops-access.md
  infra/README.md
  infra/ansible/roles/ops_access/defaults/main.yml
  infra/ansible/roles/ops_access/tasks/main.yml
  infra/ansible/roles/ssh_hardening/defaults/main.yml
  infra/ansible/site.yml
  infra/scripts/acceptance.sh
Due: none

Gated devcontainer prod SSH access: opt-in key mount, firewall gate, arxops user (#3324)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/init-firewall.sh
  .devcontainer/no-ops-key/.gitkeep
  .devcontainer/ops-key-install.sh
  .github/workflows/standup.yml
  docs/devcontainer-setup.md
  docs/operations/ops-access.md
  infra/README.md
  infra/ansible/roles/ops_access/defaults/main.yml
  infra/ansible/roles/ops_access/tasks/main.yml
  infra/ansible/roles/ssh_hardening/defaults/main.yml
  infra/ansible/site.yml
  infra/scripts/acceptance.sh
Due: none

Fix root cause of deploy reload deaths: ansible.cfg was never loaded in CI
  infra/ansible/ansible.cfg
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/rehearse.sh
  infra/scripts/standup.sh
Due: none

Fix deploy reload deaths: ansible.cfg (keepalives) was never loaded in CI (#3325)
  infra/ansible/ansible.cfg
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/rehearse.sh
  infra/scripts/standup.sh
Due: none

Drop stdout_callback=yaml from ansible.cfg (killed the first run that loaded it)
  .github/workflows/validate.yml
  infra/ansible/ansible.cfg
Due: none

Drop stdout_callback=yaml from ansible.cfg; smoke-test cfg load in validate (#3326)
  .github/workflows/validate.yml
  infra/ansible/ansible.cfg
Due: none

Reload-wedge fixes: heal dead DB connections on tick; deploy falls back to restart
  infra/README.md
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
  src/world/game_clock/scripts.py
  src/world/game_clock/tests/test_scripts.py
Due: getattr-literal

fix(#3305): hero prose upright at 500 weight; footer links baseline-aligned
  frontend/src/components/Footer.tsx
  frontend/src/home/home.css
Due: eslint, typescript, prettier

Reload-wedge fixes: tick-level DB connection healing + deploy restart fallback (#3327)
  infra/README.md
  infra/ansible/roles/app_deploy/tasks/main.yml
  infra/scripts/acceptance.sh
  src/world/game_clock/scripts.py
  src/world/game_clock/tests/test_scripts.py
Due: getattr-literal

Arx I archive: per-account authorization endpoint + PlayerData grant flag
  src/evennia_extensions/admin.py
  src/evennia_extensions/models.py
  src/web/api/tests/test_arx1_archive_views.py
  src/web/api/urls.py
  src/web/api/views/arx1_archive_views.py
  src/world/migrations/0171_playerdata_arx1_archive_access.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Arx I archive: serve it from the web vhost at /arxmush-archive, drop basic auth
  .github/workflows/standup.yml
  infra/README.md
  infra/ansible/group_vars/secrets.env.example
  infra/ansible/roles/arx1_archive/defaults/main.yml
  infra/ansible/roles/arx1_archive/tasks/main.yml
  infra/ansible/roles/arx1_archive/templates/arx1-archive-sync.sh.j2
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/caddy/templates/Caddyfile.rehearsal.j2
  infra/ansible/roles/ops_access/defaults/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/arx1/arx1_prefix_rewrite.py
  infra/scripts/arx1/arx1_static_export.py
  infra/scripts/standup.sh
Due: getattr-literal

Docs: ADR-0232 (archive gated on Arx II accounts) + runbook rewrite
  docs/adr/0225-arx1-archived-to-object-storage-static-site.md
  docs/adr/0232-arx1-archive-gated-on-arx-ii-accounts.md
  docs/adr/README.md
  docs/operations/arx1-archival.md
Due: none

Fix CI: exec bit on the rewriter, truncated ansible task name, stale API types
  frontend/src/generated/api.d.ts
  infra/ansible/roles/arx1_archive/tasks/main.yml
  infra/scripts/arx1/arx1_prefix_rewrite.py
  src/schema.json
Due: getattr-literal, eslint, typescript, prettier

Gatefold polish: upright hero prose, baseline-aligned footer (designer feedback) (#3328)
  frontend/src/components/Footer.tsx
  frontend/src/home/home.css
Due: eslint, typescript, prettier

Gate the Arx I archive behind Arx II accounts instead of a shared password (#3329)
  .github/workflows/standup.yml
  docs/adr/0225-arx1-archived-to-object-storage-static-site.md
  docs/adr/0232-arx1-archive-gated-on-arx-ii-accounts.md
  docs/adr/README.md
  docs/operations/arx1-archival.md
  frontend/src/generated/api.d.ts
  infra/README.md
  infra/ansible/group_vars/secrets.env.example
  infra/ansible/roles/arx1_archive/defaults/main.yml
  infra/ansible/roles/arx1_archive/tasks/main.yml
  infra/ansible/roles/arx1_archive/templates/arx1-archive-sync.sh.j2
  infra/ansible/roles/caddy/defaults/main.yml
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/caddy/templates/Caddyfile.rehearsal.j2
  infra/ansible/roles/ops_access/defaults/main.yml
  infra/scripts/acceptance.sh
  infra/scripts/arx1/arx1_prefix_rewrite.py
  infra/scripts/arx1/arx1_static_export.py
  infra/scripts/standup.sh
  src/evennia_extensions/admin.py
  src/evennia_extensions/models.py
  src/schema.json
  src/web/api/tests/test_arx1_archive_views.py
  src/web/api/urls.py
  src/web/api/views/arx1_archive_views.py
  src/world/migrations/0171_playerdata_arx1_archive_access.py
  src/world/migrations/max_migration.txt
Due: getattr-literal, eslint, typescript, prettier

fix(infra): Caddyfile template comments contained literal Jinja syntax, breaking real deploys
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/caddy/templates/Caddyfile.rehearsal.j2
Due: none

fix(infra): Caddyfile comments contained live Jinja, killing prod converge (#3380)
  infra/ansible/roles/caddy/templates/Caddyfile.j2
  infra/ansible/roles/caddy/templates/Caddyfile.rehearsal.j2
Due: none

feat(justice): sentence-enforcement schema — ExileDecree, ladder rungs, pins, terminals (#2378)
  src/world/areas/models.py
  src/world/justice/constants.py
  src/world/justice/factories.py
  src/world/justice/models.py
  src/world/justice/tests/test_sentence_models.py
  src/world/migrations/0172_area_exile_destination_justicecase_sentence_ends_at_and_more.py
  src/world/migrations/max_migration.txt
  src/world/narrative/constants.py
  src/world/tidings/constants.py
Due: getattr-literal

feat(justice): brig terms served + terminal countdown with rescue window (#2378)
  src/world/game_clock/CLAUDE.md
  src/world/game_clock/tasks.py
  src/world/justice/pipeline.py
  src/world/justice/sentences.py
  src/world/justice/tests/test_pipeline.py
  src/world/justice/tests/test_sentence_enforcement.py
Due: getattr-literal

feat(justice): exile enforcement — decree, heat pin, ejection, breach escalation, pardon lift (#2378)
  src/world/justice/lifecycle.py
  src/world/justice/pipeline.py
  src/world/justice/sentences.py
  src/world/justice/services.py
  src/world/justice/tests/test_exile.py
  src/world/justice/tests/test_sentence_enforcement.py
Due: getattr-literal

feat(justice): confiscation, brig-backed custody, per-society sentence ladders (#2378)
  src/world/justice/pipeline.py
  src/world/justice/seeds.py
  src/world/justice/sentences.py
  src/world/justice/tests/test_ladder.py
  src/world/justice/tests/test_sentence_enforcement.py
  src/world/mechanics/effect_handlers.py
  src/world/room_features/brig_services.py
Due: getattr-literal

feat(justice): humiliation prestige mark + derived public records + verdict feed (#2378)
  src/world/justice/sentences.py
  src/world/justice/serializers.py
  src/world/justice/tests/test_marks_and_records.py
  src/world/justice/types.py
  src/world/justice/views.py
  src/world/tidings/services.py
  src/world/tidings/tests/test_services.py
Due: getattr-literal

feat(justice): verdict notifications + brig visitation advert (#2378)
  src/world/justice/notifications.py
  src/world/justice/pipeline.py
  src/world/justice/sentences.py
  src/world/justice/tests/test_notifications.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

fix(justice): distinct verdict-notification copy for carried-out vs voided terminals (#2378)
  src/world/justice/constants.py
  src/world/justice/notifications.py
  src/world/justice/pipeline.py
  src/world/justice/sentences.py
  src/world/justice/tests/test_notifications.py
  tools/noqa_ratchet_baseline.txt
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
