Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

Fix round 1: close parent-FK reparenting hole, dehyphenate em-dashes, cover node copy actions (#3565)
  src/world/missions/serializers.py
  src/world/missions/services/boards.py
  src/world/missions/services/opportunities.py
  src/world/missions/tests/test_scenario_authoring_permissions.py
  src/world/missions/views.py
  src/world/stories/views.py
Due: getattr-literal

Cover candidate-parented reward re-parenting under scenario ownership (#3565)
  src/world/missions/tests/test_scenario_authoring_permissions.py
Due: getattr-literal

Scene scenario read: the party's node and the GM's ballots on the scene page (#3565)
  src/world/scenes/rail_services.py
  src/world/scenes/scenario_services.py
  src/world/scenes/serializers.py
  src/world/scenes/tests/test_scene_scenario_view.py
  src/world/scenes/views.py
Due: getattr-literal

Fix round 1: gate scenario/gm-rail on scene visibility, fix multi-character participant matching (#3565)
  src/world/scenes/scenario_services.py
  src/world/scenes/tests/test_scene_scenario_view.py
  src/world/scenes/views.py
Due: getattr-literal

Fix two defects the scenario-journey test exposed (#3565)
  src/world/missions/serializers.py
  src/world/missions/services/run.py
  src/world/scenes/persona_handlers.py
Due: getattr-literal

Journey: GM authors a scenario, runs it, the party votes, the episode routes on the option key (#3565)
  src/world/stories/tests/test_scenario_journey.py
Due: getattr-literal

Regenerate API schema and types for the scenario graph surfaces (#3565)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Frontend: retire GM-choice transitions, route on scenario option keys, beats default to outcome tier, Design scenario (#3565)
  frontend/src/missions/__tests__/GroupBeatCard.test.tsx
  frontend/src/missions/__tests__/StaffActions.test.tsx
  frontend/src/missions/__tests__/StoryTray.test.tsx
  frontend/src/stories/CLAUDE.md
  frontend/src/stories/__tests__/AGMOpportunitiesPage.test.tsx
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/__tests__/BeatList.test.tsx
  frontend/src/stories/__tests__/BeatRow.test.tsx
  frontend/src/stories/__tests__/ContributeBeatDialog.test.tsx
  frontend/src/stories/__tests__/EpisodeDAG.test.tsx
  frontend/src/stories/__tests__/GMQueuePage.test.tsx
  frontend/src/stories/__tests__/MarkBeatDialog.test.tsx
  frontend/src/stories/__tests__/ResolveEpisodeDialog.test.tsx
  frontend/src/stories/__tests__/StoryAuthorTree.runcontrol.test.tsx
  frontend/src/stories/__tests__/TransitionFormDialog.test.tsx
  frontend/src/stories/__tests__/queries.authoring.test.tsx
  frontend/src/stories/__tests__/queries.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/components/EpisodeDAG.tsx
  frontend/src/stories/components/EpisodeReadyCard.tsx
  frontend/src/stories/components/ResolveEpisodeDialog.tsx
  frontend/src/stories/components/StoryAuthorTree.tsx
  frontend/src/stories/components/TransitionFormDialog.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

Fix round 1: keep the Lead GM's episode-advance gesture, drop em-dashes (#3565)
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/__tests__/EpisodeReadyCard.test.tsx
  frontend/src/stories/__tests__/StoryAuthorTree.runcontrol.test.tsx
  frontend/src/stories/__tests__/TransitionFormDialog.test.tsx
  frontend/src/stories/__tests__/queries.test.tsx
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/components/EpisodeReadyCard.tsx
  frontend/src/stories/components/TransitionFormDialog.tsx
  frontend/src/stories/pages/GMQueuePage.tsx
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

Frontend: Scenario Studio reachable by GMs under /stories/scenarios, ENCOUNTER option authoring (#3565)
  frontend/src/App.tsx
  frontend/src/components/GMRoute.tsx
  frontend/src/components/__tests__/GMRoute.test.tsx
  frontend/src/missions/__tests__/studioPaths.test.ts
  frontend/src/missions/components/FlavorRewriteCard.tsx
  frontend/src/missions/pages/MissionCanvasPage.tsx
  frontend/src/missions/pages/NodePage.tsx
  frontend/src/missions/pages/OptionPage.tsx
  frontend/src/missions/studioPaths.ts
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/components/OpponentLinesEditor.tsx
Due: eslint, typescript, prettier

Option editor sends encounter fields only for ENCOUNTER kinds (#3565)
  frontend/src/missions/pages/OptionPage.tsx
Due: eslint, typescript, prettier

Frontend: the party plays the scenario on the scene page; the GM rail shows ballots and the outcome so far (#3565)
  frontend/src/scenes/components/GMStoryRail.tsx
  frontend/src/scenes/components/ScenarioCard.tsx
  frontend/src/scenes/components/__tests__/GMStoryRail.test.tsx
  frontend/src/scenes/components/__tests__/ScenarioCard.test.tsx
  frontend/src/scenes/pages/SceneDetailPage.tsx
  frontend/src/scenes/pages/__tests__/SceneDetailPage.test.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/types.ts
Due: eslint, typescript, prettier

GM rail polls the scenario only while a beat is running (#3565)
  frontend/src/scenes/components/GMStoryRail.tsx
Due: eslint, typescript, prettier

Regenerate MODEL_MAP.md for the scenario-graph surfaces (#3565)
  docs/systems/MODEL_MAP.md
Due: none

Docs: ADR-0258 scenario graph as beat body, stories/missions system docs, glossary, roadmap, MODEL_MAP (#3565)
  AGENT_GLOSSARY_MAP.md
  docs/adr/0258-story-beats-reuse-the-mission-scenario-graph.md
  docs/adr/README.md
  docs/roadmap/design-tenets.md
  docs/roadmap/missions.md
  docs/roadmap/stories-gm.md
  docs/systems/INDEX.md
  docs/systems/stories.md
  src/world/missions/AGENT_GLOSSARY.md
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/CLAUDE.md
Due: none

Covenants slice D doc: BeatOutcome no longer lists PENDING_GM_REVIEW (#3565)
  docs/architecture/covenants-slice-d-design.md
Due: none

Hyphens, not em-dashes, on every line this branch authored (#3565)
  docs/roadmap/missions.md
  docs/roadmap/stories-gm.md
  docs/systems/INDEX.md
  docs/systems/stories.md
  src/world/missions/AGENT_GLOSSARY.md
  src/world/missions/models.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/CLAUDE.md
Due: getattr-literal

Associate five composite-widget captions; darken seven email backgrounds
  frontend/src/magic/components/threads/ThreadPullDialog.tsx
  frontend/src/travel/components/VoyagePanel.tsx
  src/world/templates/registration/email/account_invite.html
  src/world/templates/roster/email/application_approved.html
  src/world/templates/roster/email/application_denied.html
  src/world/templates/roster/email/password_reset.html
  src/world/templates/roster/email/staff_notification.html
Due: eslint, typescript, prettier

GM profile payload carries the caller's cap: max_beat_risk, allow_custom_stakes (#3562)
  src/world/gm/serializers.py
  src/world/gm/services.py
  src/world/gm/tests/test_gm_profile_mine.py
  src/world/gm/tests/test_services_cap.py
  src/world/gm/views.py
  src/world/stories/serializers.py
Due: getattr-literal

Split command args on the keyword instead of backtracking; collapse redundant excepts
  src/actions/definitions/imbue.py
  src/commands/currency.py
  src/commands/evennia_overrides/items.py
  src/commands/evennia_overrides/movement.py
  src/commands/evennia_overrides/perception.py
  src/commands/ritual.py
  src/commands/utils/argsplit.py
  src/commands/utils/tests/__init__.py
  src/commands/utils/tests/test_argsplit.py
  src/evennia_extensions/adapters.py
  src/world/magic/views.py
  src/world/missions/views.py
Due: getattr-literal

Consequence-pool catalog: beat scope and an entries detail (#3562)
  src/world/magic/constants.py
  src/world/magic/filters.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_views.py
  src/world/magic/views.py
Due: getattr-literal

Fix: bulk-load outcome tiers and effects in the pool detail (#3562)
  src/world/magic/filters.py
  src/world/magic/serializers.py
  src/world/magic/tests/test_views.py
  src/world/magic/views.py
Due: getattr-literal

Beat readiness endpoint; required-mission cap and stake lock in BeatSerializer (#3562)
  src/world/missions/permissions.py
  src/world/missions/tests/test_scenario_authoring_permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/stakes.py
  src/world/stories/tests/test_beat_readiness_endpoint.py
  src/world/stories/tests/test_serializers_beat_risk.py
  src/world/stories/views.py
Due: getattr-literal

Docs: readiness endpoint, required-mission cap, stake lock (#3562)
  docs/systems/INDEX.md
  docs/systems/stakes.md
Due: none

Hyphens on the lines Task 3 authored (#3562)
  docs/systems/INDEX.md
  docs/systems/stakes.md
  src/world/stories/tests/test_beat_readiness_endpoint.py
  src/world/stories/tests/test_serializers_beat_risk.py
  src/world/stories/views.py
Due: getattr-literal

Regenerate API schema and types for beat form parity (#3562)
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

Nine sidebar tabs overlap in a 260px column: wrap the strip instead of forcing one row
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

Beat form parity: all nine predicates, consequence pools with preview, target level, required mission, risk by cap, readiness and lock (#3562)
  frontend/src/gm/queries.ts
  frontend/src/home/hall/api.ts
  frontend/src/home/hall/queries.ts
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/__tests__/ConsequencePoolPicker.test.tsx
  frontend/src/stories/api.ts
  frontend/src/stories/components/BeatFormDialog.tsx
  frontend/src/stories/components/ConsequencePoolPicker.tsx
  frontend/src/stories/components/StoryAuthorTree.tsx
  frontend/src/stories/queries.ts
  frontend/src/stories/types.ts
Due: eslint, typescript, prettier

Fix: kind-gate required_mission in the beat payload (#3562)
  frontend/src/stories/__tests__/BeatFormDialog.test.tsx
  frontend/src/stories/components/BeatFormDialog.tsx
Due: eslint, typescript, prettier

Nine sidebar tabs overlap in a 260px column: wrap the strip instead of forcing one row (#3588)
  frontend/src/game/components/SidebarTabPanel.tsx
Due: eslint, typescript, prettier

Story form: privacy select (#3562)
  frontend/src/stories/__tests__/StoryFormDialog.test.tsx
  frontend/src/stories/components/StoryFormDialog.tsx
Due: eslint, typescript, prettier

Docs: beat form parity, readiness endpoint, GM cap payload (#3562)
  docs/roadmap/stories-gm.md
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/stories.md
Due: none

Fix: strip em-dashes introduced in the docs-in-tandem pass (#3562)
  docs/systems/INDEX.md
  docs/systems/magic.md
  docs/systems/stories.md
Due: none

StoryFormDialog test: the edit fixture's privacy is non-default so the prefill assertion is load-bearing (#3562)
  frontend/src/stories/__tests__/StoryFormDialog.test.tsx
Due: eslint, typescript, prettier

Beat form: the required-mission error renders only with its picker (#3562)
  frontend/src/stories/components/BeatFormDialog.tsx
Due: eslint, typescript, prettier

Stake branches are chosen by the authored option key the party took (#3561)
  src/world/stories/services/beats.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/tests/test_record_scenario_outcome.py
  src/world/stories/tests/test_services_stake_resolution.py
Due: getattr-literal

Retire the GM constrained pick: StakeOutcomeMethod keeps MACHINE, historical picks rewritten (#3561)
  src/world/gm/tests/test_activity_stamping.py
  src/world/migrations/0211_retire_stake_outcome_gm_pick.py
  src/world/migrations/max_migration.txt
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/constants.py
  src/world/stories/models.py
  src/world/stories/permissions.py
  src/world/stories/serializers.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/tests/test_migration_0211_stake_outcome_method.py
  src/world/stories/tests/test_services_stake_resolution.py
  src/world/stories/tests/test_services_stake_rewards.py
  src/world/stories/views.py
Due: getattr-literal

Stake serializers expose subject_asset, npc_regard_delta, transitions_subject_asset with the ASSET guard (#3561)
  src/world/stories/models.py
  src/world/stories/serializers.py
  src/world/stories/services/stake_resolution.py
  src/world/stories/tests/test_serializers_stakes.py
  src/world/stories/tests/test_services_stake_resolution.py
  src/world/stories/views.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
