Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

test: add GatedPipelineTests for action resolution with pool inheritance
  src/world/checks/consequence_resolution.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

docs: pipeline integration test design spec
  docs/superpowers/specs/2026-03-28-pipeline-integration-test-design.md
Due: none

docs: update spec to reflect Resonance→Property M2M (PR #360)
  docs/superpowers/specs/2026-03-28-pipeline-integration-test-design.md
Due: none

docs: update roadmap with integration tests and M2M refactor notes
  docs/roadmap/capabilities-and-challenges.md
Due: none

Pipeline integration tests for technique-to-resolution pipeline (#361)
  docs/roadmap/capabilities-and-challenges.md
  docs/superpowers/specs/2026-03-28-pipeline-integration-test-design.md
  src/world/checks/consequence_resolution.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

docs: prerequisite system design spec
  docs/superpowers/specs/2026-03-29-prerequisite-system-design.md
Due: none

docs: store Prerequisite instance on CapabilitySource, not bare PK
  docs/superpowers/specs/2026-03-29-prerequisite-system-design.md
Due: none

fix: add target_object to all ChallengeInstance.objects.create calls
  src/actions/tests/test_actions.py
  src/world/checks/tests/test_consequence_resolution.py
  src/world/conditions/tests/test_property_integration.py
  src/world/magic/tests/test_capability_grants.py
  src/world/mechanics/tests/test_action_generation.py
  src/world/mechanics/tests/test_challenge_models.py
  src/world/mechanics/tests/test_challenge_resolution.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

feat: wire prerequisite evaluation into get_available_actions
  src/world/mechanics/services.py
Due: getattr-literal

refactor: rename PrerequisiteType to Prerequisite, add data-driven fields
  src/world/conditions/migrations/0003_update_prerequisite_fk.py
  src/world/conditions/models.py
  src/world/magic/migrations/0004_update_prerequisite_fk.py
  src/world/magic/models.py
  src/world/mechanics/admin.py
  src/world/mechanics/constants.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0002_rename_prerequisitetype_prerequisite.py
  src/world/mechanics/models.py
  src/world/mechanics/services.py
  src/world/mechanics/types.py
Due: getattr-literal

test: add prerequisite evaluation integration tests
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

docs: update roadmap — Phase 2 Prerequisite System done
  docs/roadmap/capabilities-and-challenges.md
Due: none

fix: migration ordering for PrerequisiteType rename
  src/world/conditions/migrations/0002_initial.py
  src/world/conditions/migrations/0003_update_prerequisite_fk.py
  src/world/magic/migrations/0002_initial.py
  src/world/magic/migrations/0004_update_prerequisite_fk.py
Due: getattr-literal

Data-driven prerequisite system with ChallengeInstance target objects (#362)
  docs/roadmap/capabilities-and-challenges.md
  docs/superpowers/specs/2026-03-29-prerequisite-system-design.md
  src/actions/tests/test_actions.py
  src/world/checks/tests/test_consequence_resolution.py
  src/world/conditions/migrations/0002_initial.py
  src/world/conditions/models.py
  src/world/conditions/tests/test_property_integration.py
  src/world/magic/migrations/0002_initial.py
  src/world/magic/models.py
  src/world/magic/tests/test_capability_grants.py
  src/world/mechanics/admin.py
  src/world/mechanics/constants.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0002_rename_prerequisitetype_prerequisite.py
  src/world/mechanics/models.py
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_action_generation.py
  src/world/mechanics/tests/test_challenge_models.py
  src/world/mechanics/tests/test_challenge_resolution.py
  src/world/mechanics/tests/test_pipeline_integration.py
  src/world/mechanics/types.py
Due: getattr-literal

feat(events): restrict cancel to pre-start states
  src/world/events/services.py
  src/world/events/tests/test_services.py
  src/world/events/types.py
Due: getattr-literal

feat(events): allow scene GMs to complete active events
  src/world/events/permissions.py
  src/world/events/tests/test_views.py
  src/world/events/views.py
Due: getattr-literal

feat(events): expose is_gm field in event detail API
  src/world/events/serializers.py
  src/world/events/tests/test_views.py
Due: getattr-literal

docs: technique use flow design spec
  docs/superpowers/specs/2026-03-29-technique-use-flow-design.md
Due: none

feat(frontend): add AlertDialog component and is_gm type
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/events/types.ts
Due: eslint, typescript, prettier

docs: capture Anima Warp progression, Audere, and sacrifice design notes
  docs/roadmap/magic.md
  docs/superpowers/specs/2026-03-29-technique-use-flow-design.md
Due: none

feat(frontend): add End Event confirmation and GM support
  frontend/src/events/components/EventDetail.tsx
  frontend/src/events/pages/EventDetailPage.tsx
Due: eslint, typescript, prettier

fix(frontend): export buttonVariants from button component
  frontend/src/components/ui/button.tsx
Due: eslint, typescript, prettier

feat: add anima cost calculation and deduction services
  src/world/magic/services.py
  src/world/magic/tests/test_anima_services.py
  src/world/magic/types.py
Due: getattr-literal

feat: add use_technique orchestrator with mishap rider support
  src/world/magic/services.py
  src/world/magic/tests/test_use_technique.py
Due: getattr-literal

test: add TechniqueUseFlowTests for anima cost and mishap integration
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

docs: mark technique use flow scope #1 as done in roadmap
  docs/roadmap/magic.md
Due: none

Technique use flow with anima cost, safety checkpoints, and mishap riders (#364)
  docs/roadmap/magic.md
  docs/superpowers/specs/2026-03-29-technique-use-flow-design.md
  src/world/magic/services.py
  src/world/magic/tests/test_anima_services.py
  src/world/magic/tests/test_use_technique.py
  src/world/magic/types.py
  src/world/mechanics/tests/test_pipeline_integration.py
Due: getattr-literal

Feature/event end and gm permissions (#363)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/events/components/EventDetail.tsx
  frontend/src/events/pages/EventDetailPage.tsx
  frontend/src/events/types.ts
  src/world/events/permissions.py
  src/world/events/serializers.py
  src/world/events/services.py
  src/world/events/tests/test_services.py
  src/world/events/tests/test_views.py
  src/world/events/types.py
  src/world/events/views.py
Due: getattr-literal, eslint, typescript, prettier

feat(events-fe): add event edit form, page, and route
  docs/roadmap/events.md
  frontend/src/App.tsx
  frontend/src/events/components/EventDetail.tsx
  frontend/src/events/components/EventEditForm.tsx
  frontend/src/events/pages/EventEditPage.tsx
  frontend/src/events/queries.ts
  frontend/src/events/types.ts
  frontend/src/utils/urls.ts
Due: eslint, typescript, prettier

fix(events-fe): use local timezone for datetime-local min constraints
  frontend/src/events/components/EventCreateForm.tsx
  frontend/src/events/components/EventEditForm.tsx
  frontend/src/events/types.ts
Due: eslint, typescript, prettier

Feature/event edit UI (#365)
  docs/roadmap/events.md
  frontend/src/App.tsx
  frontend/src/events/components/EventDetail.tsx
  frontend/src/events/components/EventEditForm.tsx
  frontend/src/events/pages/EventEditPage.tsx
  frontend/src/events/queries.ts
  frontend/src/events/types.ts
  frontend/src/utils/urls.ts
Due: eslint, typescript, prettier

Add djangorestframework-dataclasses dependency
  pyproject.toml
  uv.lock
Due: none

Switch AvailableActionsView from RetrieveAPIView to ListAPIView
  docs/superpowers/specs/2026-03-30-phase6-rest-api-design.md
Due: none

Add Phase 6 REST API design spec for available-actions endpoint
  docs/superpowers/specs/2026-03-30-phase6-rest-api-design.md
Due: none

Add ChallengeGroup dataclass and instance factories
  src/world/mechanics/factories.py
  src/world/mechanics/types.py
Due: getattr-literal

Add model serializers for challenge and situation endpoints
  src/world/mechanics/serializers.py
Due: getattr-literal

Add reusable IsCharacterOwner permission class
  src/web/api/permissions.py
  src/web/api/tests/test_permissions.py
Due: getattr-literal

Extract FilterSets to filters.py and fix CharacterModifierViewSet
  src/world/mechanics/filters.py
  src/world/mechanics/views.py
Due: getattr-literal

Add DataclassSerializer classes for available actions pipeline
  src/world/mechanics/serializers.py
Due: getattr-literal

Update roadmap: Phase 6a REST API marked as done
  docs/roadmap/capabilities-and-challenges.md
Due: none
