Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

almanach fix wave: chain_top_id-based claim gating, claimant row (I5, deferred 2)
  frontend/e2e/almanach-founder.spec.ts
  frontend/src/almanach/__tests__/FounderLandsLeaf.test.tsx
  frontend/src/almanach/__tests__/LadderTable.test.tsx
  frontend/src/almanach/__tests__/LevelBar.test.tsx
  frontend/src/almanach/__tests__/SeatPicker.test.tsx
  frontend/src/almanach/__tests__/queries.test.tsx
  frontend/src/almanach/founder/SeatPicker.tsx
  frontend/src/almanach/founder/steps.ts
  frontend/src/almanach/ladder/LadderTable.tsx
Due: eslint, typescript, prettier

almanach fix wave: root-planting the ladder, realm Charter rail, template_id fallback (I9, deferred 1, M8)
  frontend/src/almanach/AlmanachPage.tsx
  frontend/src/almanach/__tests__/AlmanachPage.test.tsx
  frontend/src/almanach/__tests__/FounderAlmanach.test.tsx
  frontend/src/almanach/__tests__/PlantRungDialog.test.tsx
  frontend/src/almanach/founder/FounderAlmanach.tsx
  frontend/src/almanach/ladder/PlantRungDialog.tsx
Due: eslint, typescript, prettier

almanach fix wave: realm_id/default_tithe_pct/realm_theme on document.realm (I11, deferred 3)
  frontend/src/almanach/__tests__/HouseDocument.test.tsx
  frontend/src/almanach/document/HouseChapter.tsx
  frontend/src/almanach/document/HouseDocument.tsx
  frontend/src/almanach/document/RealmLeaf.tsx
  frontend/src/almanach/types.ts
Due: eslint, typescript, prettier

almanach fix wave: household ward/position, "of whom" anchor, founder place, believed-dead (I2, I3, I4, I8)
  frontend/src/almanach/__tests__/FamilyChapter.test.tsx
  frontend/src/almanach/__tests__/FounderFamilyChapter.test.tsx
  frontend/src/almanach/document/AddKinDialog.tsx
  frontend/src/almanach/document/FamilyChapter.tsx
  frontend/src/almanach/document/PersonPanel.tsx
  frontend/src/almanach/founder/FounderFamilyChapter.tsx
  frontend/src/almanach/founder/FounderPersonPanel.tsx
Due: eslint, typescript, prettier

almanach fix wave: Task 7 starting_kin_slots fixtures, stale comments, dead CSS (Task 7, M5, M6)
  frontend/src/almanach/__tests__/FounderRecord.test.tsx
  frontend/src/almanach/almanach.css
  frontend/src/almanach/api.ts
  frontend/src/almanach/copy.ts
  frontend/src/character-creation/__tests__/fixtures.ts
Due: eslint, typescript, prettier

orgs: add house_state/demesne to OrgPage test fixtures (HouseDetail regen)
  frontend/src/orgs/pages/OrgPage.test.tsx
Due: eslint, typescript, prettier

Almanach household rows: display label, safe default, position message (#3983)
  docs/systems/INDEX.md
  docs/systems/houses.md
  src/actions/definitions/almanach.py
  src/actions/tests/test_almanach_actions.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/houses/almanach.py
  src/world/societies/houses/almanach_reads.py
  src/world/societies/tests/test_almanach_house.py
  src/world/societies/tests/test_almanach_reads.py
Due: getattr-literal

Almanach ladder: claimant row styled; shared tier and crown helpers (#3983)
  frontend/src/almanach/AlmanachPage.tsx
  frontend/src/almanach/almanach.css
  frontend/src/almanach/founder/FounderAlmanach.tsx
  frontend/src/almanach/founder/SeatPicker.tsx
  frontend/src/almanach/ladder/LevelBar.tsx
  frontend/src/almanach/ladder/tree.ts
Due: eslint, typescript, prettier

Review evidence harness: Almanach screens against the plates (#3983)
  docs/reviews/almanach-3983/README.md
  frontend/e2e/evidence/almanach-3983.spec.ts
  frontend/e2e/evidence/fixtures/founder.ts
  frontend/e2e/evidence/fixtures/inferna.ts
Due: eslint, typescript, prettier

Review evidence: Almanach screens rendered against the plates (#3983)
  docs/reviews/almanach-3983/README.md
  docs/reviews/almanach-3983/f1-built-phone.png
  docs/reviews/almanach-3983/f1-built.png
  docs/reviews/almanach-3983/f1-plate.png
  docs/reviews/almanach-3983/f1b-built.png
  docs/reviews/almanach-3983/f1b-plate.png
  docs/reviews/almanach-3983/f2-built.png
  docs/reviews/almanach-3983/f2-plate.png
  docs/reviews/almanach-3983/f3-built.png
  docs/reviews/almanach-3983/f3-plate.png
  docs/reviews/almanach-3983/f4-built.png
  docs/reviews/almanach-3983/f4-plate.png
  docs/reviews/almanach-3983/f5-built.png
  docs/reviews/almanach-3983/f5-plate.png
  docs/reviews/almanach-3983/f6-built.png
  docs/reviews/almanach-3983/f6-night-built.png
  docs/reviews/almanach-3983/f6-plate.png
  docs/reviews/almanach-3983/s1-built-phone.png
  docs/reviews/almanach-3983/s1-built.png
  docs/reviews/almanach-3983/s1-plate.png
  docs/reviews/almanach-3983/s2-built.png
  docs/reviews/almanach-3983/s2-plate.png
  docs/reviews/almanach-3983/s3-built.png
  docs/reviews/almanach-3983/s3-plate.png
  docs/reviews/almanach-3983/s4-built.png
  docs/reviews/almanach-3983/s4-plate.png
  docs/reviews/almanach-3983/s5-built.png
  docs/reviews/almanach-3983/s5-plate.png
  docs/reviews/almanach-3983/s6-built.png
  docs/reviews/almanach-3983/s6-plate.png
  docs/reviews/almanach-3983/s7-built.png
  docs/reviews/almanach-3983/s7-plate.png
  docs/reviews/almanach-3983/s8-built.png
  docs/reviews/almanach-3983/s8-plate.png
  frontend/e2e/almanach-founder.spec.ts
  frontend/e2e/evidence/almanach-3983.spec.ts
Due: eslint, typescript, prettier

fix(hall): GM slot Sheet link uses the roster entry id
  frontend/src/home/hall/GMSlot.tsx
  frontend/src/home/hall/__tests__/GMSlot.test.tsx
Due: eslint, typescript, prettier

Founder Almanach: draft writes compose; the spread sizes to its container (#3983)
  frontend/src/almanach/__tests__/FounderAlmanach.test.tsx
  frontend/src/almanach/__tests__/founderDraft.test.ts
  frontend/src/almanach/almanach.css
  frontend/src/almanach/founder/founderDraft.ts
Due: eslint, typescript, prettier

Founder Almanach: reset character creation's chapter grid inside the interview (#3983)
  frontend/src/almanach/almanach.css
Due: prettier

Review evidence: Almanach screens re-rendered with real clicks after the founder fixes (#3983)
  docs/reviews/almanach-3983/README.md
  docs/reviews/almanach-3983/f1-built-phone.png
  docs/reviews/almanach-3983/f1-built.png
  docs/reviews/almanach-3983/f1b-built.png
  docs/reviews/almanach-3983/f2-built.png
  docs/reviews/almanach-3983/f3-built.png
  docs/reviews/almanach-3983/f4-built.png
  docs/reviews/almanach-3983/f5-built.png
  docs/reviews/almanach-3983/f6-built.png
  docs/reviews/almanach-3983/s1-built-phone.png
  docs/reviews/almanach-3983/s2-built.png
  frontend/e2e/almanach-founder.spec.ts
  frontend/e2e/evidence/almanach-3983.spec.ts
Due: eslint, typescript, prettier

Review evidence README: results reflect the real-click run (#3983)
  docs/reviews/almanach-3983/README.md
Due: none

Almanach: the contents rail is a block; a consort carries no children; the record names the head (#3983)
  frontend/src/almanach/__tests__/FamilyChapter.test.tsx
  frontend/src/almanach/almanach.css
  frontend/src/almanach/document/FamilyChapter.tsx
  frontend/src/almanach/founder/RecordSoFar.tsx
Due: eslint, typescript, prettier

Review evidence: Almanach screens re-rendered after the demo-fidelity fixes (#3983)
  docs/reviews/almanach-3983/README.md
  docs/reviews/almanach-3983/f1-built-phone.png
  docs/reviews/almanach-3983/f1-built.png
  docs/reviews/almanach-3983/f1b-built.png
  docs/reviews/almanach-3983/f3-built.png
  docs/reviews/almanach-3983/f4-built.png
  docs/reviews/almanach-3983/f5-built.png
  docs/reviews/almanach-3983/s1-built.png
  docs/reviews/almanach-3983/s2-built.png
  docs/reviews/almanach-3983/s3-built.png
  docs/reviews/almanach-3983/s4-built.png
  docs/reviews/almanach-3983/s5-built.png
  docs/reviews/almanach-3983/s6-built.png
  docs/reviews/almanach-3983/s7-built.png
  docs/reviews/almanach-3983/s8-built.png
Due: none

Review evidence report: demo-fidelity PASS for the Almanach (#3983)
  docs/reviews/almanach-3983.md
Due: none

Review evidence moved to the PR comment; files leave the branch (#3983)
  docs/reviews/almanach-3983.md
  docs/reviews/almanach-3983/README.md
  docs/reviews/almanach-3983/f1-built-phone.png
  docs/reviews/almanach-3983/f1-built.png
  docs/reviews/almanach-3983/f1-plate.png
  docs/reviews/almanach-3983/f1b-built.png
  docs/reviews/almanach-3983/f1b-plate.png
  docs/reviews/almanach-3983/f2-built.png
  docs/reviews/almanach-3983/f2-plate.png
  docs/reviews/almanach-3983/f3-built.png
  docs/reviews/almanach-3983/f3-plate.png
  docs/reviews/almanach-3983/f4-built.png
  docs/reviews/almanach-3983/f4-plate.png
  docs/reviews/almanach-3983/f5-built.png
  docs/reviews/almanach-3983/f5-plate.png
  docs/reviews/almanach-3983/f6-built.png
  docs/reviews/almanach-3983/f6-night-built.png
  docs/reviews/almanach-3983/f6-plate.png
  docs/reviews/almanach-3983/s1-built-phone.png
  docs/reviews/almanach-3983/s1-built.png
  docs/reviews/almanach-3983/s1-plate.png
  docs/reviews/almanach-3983/s2-built.png
  docs/reviews/almanach-3983/s2-plate.png
  docs/reviews/almanach-3983/s3-built.png
  docs/reviews/almanach-3983/s3-plate.png
  docs/reviews/almanach-3983/s4-built.png
  docs/reviews/almanach-3983/s4-plate.png
  docs/reviews/almanach-3983/s5-built.png
  docs/reviews/almanach-3983/s5-plate.png
  docs/reviews/almanach-3983/s6-built.png
  docs/reviews/almanach-3983/s6-plate.png
  docs/reviews/almanach-3983/s7-built.png
  docs/reviews/almanach-3983/s7-plate.png
  docs/reviews/almanach-3983/s8-built.png
  docs/reviews/almanach-3983/s8-plate.png
Due: none

Origin templates: prefetch the family templates' holdings and succession law (#3983)
  src/world/character_creation/views.py
Due: getattr-literal

Hall GM slot: link Sheet by roster entry id (#3987)
  frontend/src/home/hall/GMSlot.tsx
  frontend/src/home/hall/__tests__/GMSlot.test.tsx
Due: eslint, typescript, prettier

pre-commit: run the eslint and prettier hooks as one process per commit
  .pre-commit-config.yaml
  docs/devcontainer-setup.md
Due: none

fix(frontend): resume game sockets after browser wake (#3991)
  frontend/src/game/GamePage.tsx
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
Due: eslint, typescript, prettier

Resume game sessions after suspended browser tabs (#3992)
  frontend/src/game/GamePage.tsx
  frontend/src/hooks/useGameSocket.test.ts
  frontend/src/hooks/useGameSocket.ts
Due: eslint, typescript, prettier

pre-commit: run the eslint and prettier hooks as one process per commit (#3990)
  .pre-commit-config.yaml
  docs/devcontainer-setup.md
Due: none

ci: remove unused Big Button tests from shard 6
  src/server/conf/test_settings.py
  src/web/admin/tests/test_game_setup_view.py
  src/web/admin/tests/test_seed_views.py
  src/world/battles/tests/test_seed_staging_catalog.py
  src/world/battles/tests/test_war_funding_seeds.py
Due: getattr-literal

ci: rebalance oversized shard 6
  .github/workflows/ci.yml
  src/server/conf/test_settings.py
Due: getattr-literal

ci: isolate web test workload
  .github/workflows/ci.yml
  src/server/conf/test_settings.py
Due: getattr-literal

ci: identify shard 9 stalled test
  .github/workflows/ci.yml
Due: none

ci: isolate story shard from character creation
  .github/workflows/ci.yml
Due: none

ci: split character creation from web
  .github/workflows/ci.yml
Due: none

ci: run character creation shard serially
  .github/workflows/ci.yml
Due: none

Retire the full-graph replay test for migration 0110
  src/world/character_creation/tests/test_offers_migration.py
  tools/skills/reviewing-migrations/SKILL.md
Due: getattr-literal

ci: remove one-off migration replay tests
  .github/workflows/ci.yml
  src/world/character_creation/tests/test_offers_migration.py
Due: getattr-literal

CI: stop shard 6 Big Button test spam (#3995)
  .github/workflows/ci.yml
  src/server/conf/test_settings.py
  src/web/admin/tests/test_game_setup_view.py
  src/web/admin/tests/test_seed_views.py
  src/world/battles/tests/test_seed_staging_catalog.py
  src/world/battles/tests/test_war_funding_seeds.py
  src/world/character_creation/tests/test_offers_migration.py
Due: getattr-literal

Retire the full-graph replay test for migration 0110 (#3999)
  tools/skills/reviewing-migrations/SKILL.md
Due: none

feat(roster): character slot ledger and PlayerData.extra_character_slots (#3996)
  src/evennia_extensions/admin.py
  src/evennia_extensions/models.py
  src/server/conf/settings.py
  src/world/migrations/0158_playerdata_extra_character_slots.py
  src/world/migrations/max_migration.txt
  src/world/roster/models/choices.py
  src/world/roster/services/slots.py
  src/world/roster/tests/test_character_slots.py
  src/world/roster/types.py
Due: getattr-literal
