Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

MaterialLoreEffect content authoring (post-Plan 3) (#1894)
  docs/systems/INDEX.md
  src/world/buildings/admin.py
  src/world/buildings/tests/test_admin.py
Due: getattr-literal

feat(fe): qualitative Status tab on the game rail (#1446)
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/status/api.ts
  frontend/src/status/components/StatusPanel.test.tsx
  frontend/src/status/components/StatusPanel.tsx
  frontend/src/status/queries.ts
Due: eslint, typescript, prettier

feat(#882): add ENVIRONMENTAL_DETAIL target-search candidate helper
  src/world/missions/target_queries.py
  src/world/missions/tests/test_target_queries.py
Due: getattr-literal

feat(#882): add staff-only MissionGiverTargetSearchAPIView
  frontend/src/generated/api.d.ts
  src/schema.json
  src/web/api/tests/test_giver_target_search.py
  src/web/api/urls.py
  src/web/api/views/search_views.py
Due: getattr-literal, eslint, typescript, prettier

fix(fe): type band on CharacterAnimaRecord, drop local cast (#1446)
  frontend/src/magic/api.ts
  frontend/src/status/components/StatusPanel.tsx
Due: eslint, typescript, prettier

fix(#882): return 400 for a non-numeric ?id= on the giver-target search endpoint
  src/web/api/tests/test_giver_target_search.py
  src/web/api/views/search_views.py
Due: getattr-literal

feat(#882): add generic EntitySearchField component
  frontend/src/components/EntitySearchField.tsx
  frontend/src/components/__tests__/EntitySearchField.test.tsx
Due: eslint, typescript, prettier

fix(#882): fix EntitySearchField value-reset and resolveById error handling
  frontend/src/components/EntitySearchField.tsx
  frontend/src/components/__tests__/EntitySearchField.test.tsx
Due: eslint, typescript, prettier

feat(mechanics): add SituationTrapLink model
  src/world/mechanics/migrations/0009_situationtraplink.py
  src/world/mechanics/migrations/max_migration.txt
  src/world/mechanics/models.py
  src/world/mechanics/tests/test_situation_models.py
Due: getattr-literal

feat(mechanics): admin authoring + factory for SituationTrapLink
  src/world/mechanics/admin.py
  src/world/mechanics/factories.py
  src/world/mechanics/tests/test_situation_models.py
Due: getattr-literal

feat(mechanics): instantiate_situation mints authored traps
  src/world/mechanics/situation_services.py
  src/world/mechanics/tests/test_situation_services.py
Due: getattr-literal

test(room_features): E2E-prove Situation-instantiated traps via check_room_traps_on_entry
  src/world/room_features/tests/test_traps.py
Due: getattr-literal

docs: document SituationTrapLink + instantiate_situation (traps-only scope, ADR-0090)
  docs/adr/0090-instantiate-situation-traps-only-scope.md
  docs/roadmap/capabilities-and-challenges.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/mechanics.md
  src/world/mechanics/AGENT_GLOSSARY.md
Due: none

fix(mechanics): make instantiate_situation atomic (no orphan SituationInstance on failure)
  src/world/mechanics/situation_services.py
  src/world/mechanics/tests/test_situation_services.py
Due: getattr-literal

feat(#882): wire EntitySearchField into TriggerGiversPage's target field
  frontend/src/missions/__tests__/TriggerGiversPage.test.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/pages/TriggerGiversPage.tsx
Due: eslint, typescript, prettier

feat(fe): inventory tab on the game rail (#1446)
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/SidebarTabPanel.tsx
  frontend/src/inventory/components/InventorySidebarPanel.tsx
  frontend/src/inventory/components/__tests__/InventorySidebarPanel.test.tsx
Due: eslint, typescript, prettier

Situations should carry traps (SituationTrapLink + instantiate_situation creates them) (#1896)
  docs/adr/0090-instantiate-situation-traps-only-scope.md
  docs/roadmap/capabilities-and-challenges.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/mechanics.md
  src/world/mechanics/AGENT_GLOSSARY.md
  src/world/mechanics/admin.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0009_situationtraplink.py
  src/world/mechanics/migrations/max_migration.txt
  src/world/mechanics/models.py
  src/world/mechanics/situation_services.py
  src/world/mechanics/tests/test_situation_models.py
  src/world/mechanics/tests/test_situation_services.py
  src/world/room_features/tests/test_traps.py
Due: getattr-literal

docs(#882): mark trigger-giver target picker done in the roadmap
  docs/roadmap/missions.md
Due: none

fix(#882): drop unused EntitySearchResult re-export from missions/api.ts
  frontend/src/missions/api.ts
Due: eslint, typescript, prettier

feat(commands): sheet/status telnet section (#1446)
  src/commands/account/sheet_sections.py
  src/world/character_sheets/tests/test_sheet_status_section.py
Due: getattr-literal

Trigger-giver editor: typeclass-constrained object picker for target (residue of #729) (#1897)
  docs/roadmap/missions.md
  frontend/src/components/EntitySearchField.tsx
  frontend/src/components/__tests__/EntitySearchField.test.tsx
  frontend/src/generated/api.d.ts
  frontend/src/missions/__tests__/TriggerGiversPage.test.tsx
  frontend/src/missions/api.ts
  frontend/src/missions/pages/TriggerGiversPage.tsx
  src/schema.json
  src/web/api/tests/test_giver_target_search.py
  src/web/api/urls.py
  src/web/api/views/search_views.py
  src/world/missions/target_queries.py
  src/world/missions/tests/test_target_queries.py
Due: getattr-literal, eslint, typescript, prettier

feat(battles): add VehicleKind.COMPANION for companion bridge (#1873)
  src/world/battles/constants.py
  src/world/battles/migrations/0022_alter_battlevehicle_vehicle_kind.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/tests/test_companion_vehicle_kind.py
Due: getattr-literal

feat(companions): add combat stat fields to CompanionArchetype (#1873)
  src/world/companions/admin.py
  src/world/companions/migrations/0003_archetype_combat_stats.py
  src/world/companions/migrations/max_migration.txt
  src/world/companions/models.py
  src/world/companions/tests/test_combat_stats.py
Due: getattr-literal

feat(battles): add risk_level field to Battle for companion death-gating (#1873)
  src/world/battles/admin.py
  src/world/battles/migrations/0023_battle_risk_level.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/services.py
  src/world/battles/tests/test_battle_risk_level.py
Due: getattr-literal

feat(companions): add bridge service functions for combat materialization (#1873)
  src/world/companions/services.py
  src/world/companions/tests/test_combat_bridge.py
Due: getattr-literal

feat(companions): add CompanionDeployment link table mirroring ShipDeployment (#1873)
  src/world/companions/admin.py
  src/world/companions/migrations/0004_companion_deployment.py
  src/world/companions/migrations/max_migration.txt
  src/world/companions/models.py
  src/world/companions/tests/test_deployment.py
Due: getattr-literal

feat(actions): add CompanionFightAction and DeployCompanionAction (#1873)
  src/actions/definitions/companions.py
  src/actions/registry.py
  src/actions/tests/test_base.py
  src/world/companions/tests/test_bridge_actions.py
Due: getattr-literal

feat(companions): add risk-gated defeat consequence resolution (#1873)
  src/world/companions/factories_combat.py
  src/world/companions/services.py
  src/world/companions/tests/test_defeat_consequences.py
Due: getattr-literal

test(companions): add E2E journey tests for combat bridges (#1873)
  src/world/companions/services.py
  src/world/companions/tests/test_combat_bridge_e2e.py
Due: getattr-literal

docs: status/inventory centers in tandem (#1446)
  docs/systems/INDEX.md
  docs/systems/action_points.md
  docs/systems/magic.md
  src/commands/CLAUDE.md
  src/world/magic/CLAUDE.md
Due: none

feat(scenes): add maybe_finish_empty_scene core (#1361)
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

feat(scenes): finish empty scene on disconnect (#1361)
  src/typeclasses/characters.py
  src/typeclasses/tests/test_unpuppet_scene_close.py
Due: getattr-literal

feat(scenes): finish empty scene on room departure (#1361)
  src/typeclasses/rooms.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

docs(scenes): document maybe_finish_empty_scene (#1361)
  docs/systems/scenes.md
  src/world/scenes/CLAUDE.md
Due: none

Issue 1885: Thread crossing threshold requirements
  docs/adr/0090-thread-crossing-requirements-polymorphic-target.md
  src/actions/definitions/imbue.py
  src/actions/tests/test_imbue_action_crossing.py
  src/world/classes/services.py
  src/world/magic/CLAUDE.md
  src/world/magic/migrations/0086_threadcrossingthreshold.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/__init__.py
  src/world/magic/models/crossings.py
  src/world/magic/services/resonance.py
  src/world/magic/tests/test_resonance_services.py
  src/world/magic/types/threads.py
  src/world/progression/admin/unlocks_admin.py
  src/world/progression/migrations/0014_achievementrequirement_thread_crossing_threshold_and_more.py
  src/world/progression/migrations/max_migration.txt
  src/world/progression/models/__init__.py
  src/world/progression/models/unlocks.py
  src/world/progression/services/spends.py
  src/world/progression/tests/test_thread_crossing_requirement.py
Due: getattr-literal

refactor(actions): extract shared companion validation to reduce duplication (#1873)
  src/actions/definitions/companions.py
Due: getattr-literal

Make PR creation without operator approval explicit in skill
  tools/skills/issue-to-merged-pr-polytoken/SKILL.md
Due: none

fix(scenes): exclude scenes backing a live CombatEncounter/Battle from auto-close (#1361)
  src/world/scenes/round_services.py
  src/world/scenes/tests/test_round_services.py
Due: getattr-literal

docs(scenes): document the CombatEncounter/Battle auto-close exclusion (#1361)
  docs/systems/scenes.md
  src/world/scenes/CLAUDE.md
Due: none

fix: final-review fixes — AP vase guard, schema alignment, fallback wording (#1446)
  frontend/src/generated/api.d.ts
  frontend/src/status/components/StatusPanel.tsx
  src/schema.json
  src/world/action_points/tests/test_api.py
  src/world/action_points/views.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
