Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: getattr-literal
        name: Block getattr with literal attribute names
        entry: uv run python tools/lint_getattr_literal.py
        language: system
        pass_filenames: true
        types: [python]
      - id: check-migrations
        name: Check Django migrations
        entry: python tools/check_migrations.py
        language: system
        pass_filenames: false
      - id: check-migration-seed-data
        name: Check for seed data in migrations
        entry: python tools/check_migration_seed_data.py
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check --no-progress
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash
        args:
          - -c
          - |
            cd frontend
            cleaned=()
            for file in "$@"; do
              cleaned+=("${file#frontend/}")
            done
            pnpm exec eslint "${cleaned[@]}"
        language: system
        pass_filenames: true
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: typescript
        name: TypeScript Check
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm typecheck
        language: system
        files: ^frontend/.*\.(ts|tsx)$
      - id: prettier
        name: Prettier
        entry: bash
        args:
          - -c
          - |
              cd frontend
              cleaned=()
              for file in "$@"; do
                cleaned+=("${file#frontend/}")
              done
              pnpm exec prettier --write --ignore-unknown "${cleaned[@]}"
          - ""
        language: system
        pass_filenames: true
        files: ^frontend/
      - id: frontend-build
        name: Frontend Build
        entry: bash
        args:
          - -c
          - |
            cd frontend
            pnpm build
        language: system
        pass_filenames: false
        stages: [pre-push]

test(scenes): co-locate the target in test_creation_with_target_personas
  src/world/scenes/tests/test_interaction_services.py
Due: getattr-literal

feat(frontend): involvement mark, parent chip, and reachable-reply affordance
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/replyReachability.ts
Due: eslint, typescript, prettier

fix(frontend): route the composer reply chip through excerptOf, remove added em/en dashes, add live regions
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/CommandInput.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/lib/__tests__/formatParser.test.ts
  frontend/src/lib/formatParser.ts
  frontend/src/roster/persona.ts
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/components/SceneMessages.tsx
  frontend/src/scenes/queries.ts
  frontend/src/scenes/replyReachability.ts
Due: eslint, typescript, prettier

feat(commands): telnet parity for the involvement mark and reach refusals
  src/actions/base.py
  src/world/scenes/tests/test_target_reachability.py
  src/world/scenes/tests/test_threading.py
Due: getattr-literal

fix(scenes): scope the telnet involvement mark away from web sessions
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_threading.py
Due: getattr-literal

fix(scenes): telnet involvement mark, and clarify a synthetic test's scope
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_target_reachability.py
  src/world/scenes/tests/test_threading.py
Due: getattr-literal

test(scenes): mixed telnet+web sessions get the mark once, no leak
  src/world/scenes/tests/test_threading.py
Due: getattr-literal

C1: route system-authored target rows past the reachability check
  docs/adr/0291-reachability-governs-addressing-not-audience-promotion.md
  src/world/scenes/action_services.py
  src/world/scenes/cast_services.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_cast_concealment.py
Due: getattr-literal

docs: record the reachability rule and the reply parent edge
  docs/adr/0291-reachability-governs-addressing-not-audience-promotion.md
  docs/adr/README.md
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/scene-interaction-threads.md
  src/world/scenes/AGENT_GLOSSARY.md
  src/world/scenes/CLAUDE.md
Due: none

C2: an explicit empty receivers list meant "nobody", not "no receivers"
  src/world/scenes/reachability.py
  src/world/scenes/tests/test_reachability.py
Due: getattr-literal

I2: the WebSocket payload carried no reply parent
  src/world/scenes/interaction_services.py
  src/world/scenes/managers.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_reply_parent_edge.py
  src/world/scenes/types.py
Due: getattr-literal

I1: the direct badge tier stopped firing for mechanical rows
  docs/adr/0291-reachability-governs-addressing-not-audience-promotion.md
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
Due: eslint, typescript, prettier

D1: the involved viewer read the same sentence twice
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
Due: eslint, typescript, prettier

M1: state why the ObjectDB-typed location parameter is a keeper
  src/world/scenes/reachability.py
Due: getattr-literal

D2: the two refusal boxes did not read as the same kind of thing
  frontend/src/game/components/CommandInput.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
Due: eslint, typescript, prettier

Correct the WS reply_to gate's claim, and make its cost claim true
  docs/adr/0291-reachability-governs-addressing-not-audience-promotion.md
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_reply_parent_edge.py
Due: getattr-literal

The edge closes idle websockets at 125.6s; that is the 127-second re-login (#3803)
  .github/workflows/ci.yml
  docs/adr/0291-websocket-liveness-is-a-server-side-auto-ping.md
  docs/adr/README.md
  docs/operations/websocket-liveness.md
  src/server/conf/settings.py
  src/server/portal/__init__.py
  src/server/portal/secure_websocket.py
  src/server/portal/tests/__init__.py
  src/server/portal/tests/test_websocket_keepalive.py
  tools/ws_idle_probe.py
Due: getattr-literal

History browsing: wire GET /api/play/threads/ into HistoryNavigator's conversation drill-down (#3804)
  docs/roadmap/rp-scenes.md
  docs/systems/scenes.md
  frontend/e2e/history-threads.spec.ts
  frontend/src/game/CLAUDE.md
  frontend/src/game/components/ConversationThreadList.test.tsx
  frontend/src/game/components/ConversationThreadList.tsx
  frontend/src/game/components/HistoryNavigator.test.tsx
  frontend/src/game/components/HistoryNavigator.tsx
  src/world/scenes/play_views.py
  src/world/scenes/tests/test_play_views.py
Due: getattr-literal, eslint, typescript, prettier

Feed server-persisted read state into attention.ts's cross-device unread badges (#3806)
  docs/roadmap/rp-scenes.md
  docs/systems/INDEX.md
  docs/systems/scenes.md
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/components/__tests__/SelectedCharacterChip.test.tsx
  frontend/src/evennia_replacements/queries.test.tsx
  frontend/src/game/CLAUDE.md
  frontend/src/game/GamePage.test.tsx
  frontend/src/game/GamePage.tsx
  frontend/src/game/attention.test.ts
  frontend/src/game/attention.ts
  frontend/src/game/components/AttentionBadge.test.tsx
  frontend/src/game/components/AttentionBadge.tsx
  frontend/src/game/components/GameTopBar.selection.test.tsx
  frontend/src/game/components/GameTopBar.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/game/components/GameWindow.tsx
  frontend/src/game/hooks/usePoseReadTracking.ts
  frontend/src/generated/api.d.ts
  frontend/src/home/__tests__/HallPage.test.tsx
  frontend/src/home/hall/__tests__/AttentionBand.test.tsx
  frontend/src/home/hall/__tests__/CharactersBand.test.tsx
  frontend/src/home/hall/__tests__/GMSlot.test.tsx
  frontend/src/home/hall/__tests__/OffscreenActsPlate.test.tsx
  frontend/src/hooks/__tests__/handleInteractionPayload.test.ts
  frontend/src/inventory/pages/__tests__/WardrobePage.test.tsx
  frontend/src/magic/__tests__/CharacterAuthorSelect.test.tsx
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/roster/__tests__/selectionQueries.test.tsx
  frontend/src/roster/queries.ts
  src/schema.json
  src/world/roster/serializers/roster_core.py
  src/world/roster/tests/test_my_roster_entries_attention.py
  src/world/roster/views/entry_views.py
  src/world/scenes/attention_services.py
  src/world/scenes/constants.py
  src/world/scenes/managers.py
  src/world/scenes/tests/test_attention_services.py
  src/world/scenes/tests/test_room_heard_predicate.py
  src/world/scenes/types.py
Due: getattr-literal, eslint, typescript, prettier

docs: review evidence for the actions-woven-into-prose branch
  docs/reviews/3787-actions-woven-into-prose.md
  docs/reviews/3787-shots/build-screen1-answerclick.png
  docs/reviews/3787-shots/build-screen1-fullpage.png
  docs/reviews/3787-shots/build-screen2-collapsed.png
  docs/reviews/3787-shots/build-screen2-revealed.png
  docs/reviews/3787-shots/build-screen3-composer-after.png
  docs/reviews/3787-shots/build-screen3-composer-before.png
  docs/reviews/3787-shots/build-screen3-reader.png
  docs/reviews/3787-shots/demo-screen1.png
  docs/reviews/3787-shots/demo-screen2.png
  docs/reviews/3787-shots/demo-screen3.png
  docs/reviews/3787-shots/reverify-screen3-composer-after.png
  docs/reviews/3787-shots/reverify-screen3-composer-before.png
Due: none

Drop the CG closed state, the trust mock scaffolding and the regenerated API types
  frontend/src/character-creation/__tests__/OriginStage.test.tsx
  frontend/src/character-creation/__tests__/README.md
  frontend/src/character-creation/__tests__/components/lineage/UpbringingPrompts.test.tsx
  frontend/src/character-creation/__tests__/fixtures.ts
  frontend/src/character-creation/__tests__/mocks.ts
  frontend/src/character-creation/__tests__/utils.test.ts
  frontend/src/character-creation/components/HeritageStage.tsx
  frontend/src/character-creation/components/LineageStage.tsx
  frontend/src/character-creation/components/OriginStage.tsx
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/home/__tests__/GatefoldPage.test.tsx
  frontend/src/home/__tests__/queries.test.ts
  frontend/src/home/api.ts
  frontend/src/stories/__tests__/ChangeMyGMDialog.test.tsx
  frontend/src/stories/__tests__/SendStoryOOCDialog.test.tsx
  frontend/src/stories/__tests__/StoryAuthorPage.test.tsx
  frontend/src/stories/__tests__/StoryAuthorTree.quickadd.test.tsx
  frontend/src/stories/__tests__/StoryAuthorTree.routing.test.tsx
  frontend/src/stories/__tests__/StoryAuthorTree.runcontrol.test.tsx
  frontend/src/stories/__tests__/StoryAuthorTree.stakes.test.tsx
  frontend/src/stories/__tests__/StoryDetailPage.test.tsx
  frontend/src/stories/__tests__/StoryFormDialog.test.tsx
  frontend/src/stories/__tests__/queries.authoring.test.tsx
  frontend/src/stories/__tests__/queries.test.tsx
  src/schema.json
Due: eslint, typescript, prettier

Migrations, ADR-0292, and the docs that described the trust gates
  docs/adr/0097-gm-trust-is-gmprofile-level.md
  docs/adr/0141-game-invites-live-in-roster.md
  docs/adr/0292-no-trust-axis-permissions-if-anything.md
  docs/adr/README.md
  docs/architecture/action-template-pipeline.md
  docs/roadmap/ROADMAP.md
  docs/roadmap/capabilities-and-challenges.md
  docs/roadmap/combat-build-history.md
  docs/roadmap/stories-gm.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/character_creation.md
  docs/systems/houses.md
  docs/systems/registration.md
  docs/systems/roster.md
  docs/systems/stories.md
  docs/trust-based-permissions.md
  src/world/CLAUDE.md
  src/world/character_creation/CLAUDE.md
  src/world/migrations/0132_remove_trust_gates.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/CLAUDE.md
  src/world/roster/tests/test_services.py
  src/world/stories/AGENT_GLOSSARY.md
  src/world/stories/CLAUDE.md
Due: getattr-literal

CI: reformat, and retarget the last TRUST_REQUIRED reference in world.realms
  frontend/src/character-creation/__tests__/fixtures.ts
  src/world/migrations/0132_remove_trust_gates.py
  src/world/realms/tests/test_realm_api.py
Due: getattr-literal, eslint, typescript, prettier

ci: fail any PR that commits review evidence to docs/reviews
  .github/workflows/spec-evidence.yml
  docs/reviews/3787-actions-woven-into-prose.md
  docs/reviews/3787-shots/build-screen1-answerclick.png
  docs/reviews/3787-shots/build-screen1-fullpage.png
  docs/reviews/3787-shots/build-screen2-collapsed.png
  docs/reviews/3787-shots/build-screen2-revealed.png
  docs/reviews/3787-shots/build-screen3-composer-after.png
  docs/reviews/3787-shots/build-screen3-composer-before.png
  docs/reviews/3787-shots/build-screen3-reader.png
  docs/reviews/3787-shots/demo-screen1.png
  docs/reviews/3787-shots/demo-screen2.png
  docs/reviews/3787-shots/demo-screen3.png
  docs/reviews/3787-shots/reverify-screen3-composer-after.png
  docs/reviews/3787-shots/reverify-screen3-composer-before.png
  tools/skills/issue-to-merged-pr/SKILL.md
Due: none

Guardrails for three failure modes this branch hit
  frontend/package.json
  justfile
  tools/agents/README.md
  tools/agents/blast-radius-reviewer.md
Due: prettier

chore: regenerate API types for the reply parent field
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

issue-to-merged-pr: script the evidence revision restatement
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/sync-evidence-revision.sh
Due: none

Catch security findings that no failing check reports
  .pre-commit-config.yaml
  src/world/scenes/interaction_views.py
  src/world/scenes/reachability.py
  src/world/scenes/thread_services.py
  tools/lint_str_exc_response.py
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/enqueue-pr.sh
Due: getattr-literal

Renumber the reply-bridge migration onto main's tip
  src/world/migrations/0134_interactionreply.py
  src/world/migrations/max_migration.txt
Due: getattr-literal

Drop the shebang from the str-exc lint, matching its siblings
  tools/lint_str_exc_response.py
Due: getattr-literal

Correct the rebase_migration recipe: markers stay in, and side order matters
  CLAUDE.md
  tools/skills/issue-to-merged-pr/references/ci-merge-queue-gotchas.md
Due: none

Check code-scanning alerts directly at the enqueue gate
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/scripts/enqueue-pr.sh
Due: none

Add a PR-mergeability recipe, and correct a stale claim in the CI-watch step
  tools/skills/issue-to-merged-pr/SKILL.md
  tools/skills/issue-to-merged-pr/references/pr-mergeability-checklist.md
Due: none

Login puppets your character, sessions share it, and bare accounts heal themselves
  docs/adr/0241-selection-is-not-presence-and-the-server-is-the-mirror-source.md
  docs/adr/0293-login-is-the-presence-step-and-sessions-share-a-character.md
  docs/adr/README.md
  docs/roadmap/ROADMAP.md
  docs/systems/registration.md
  docs/systems/roster.md
  frontend/src/game/components/GameTopBar.select.test.tsx
  frontend/src/game/components/GameTopBar.selection.test.tsx
  frontend/src/game/components/GameTopBar.tsx
  frontend/src/hooks/useGameSocket.ts
  infra/README.md
  src/core_management/management/commands/createsuperuser.py
  src/core_management/tests/test_createsuperuser.py
  src/evennia_extensions/account_setup.py
  src/evennia_extensions/tests/test_account_setup.py
  src/server/conf/at_server_startstop.py
  src/server/conf/settings.py
  src/typeclasses/CLAUDE.md
  src/typeclasses/accounts.py
  src/typeclasses/characters.py
  src/typeclasses/tests/test_cmdset_updates.py
  src/typeclasses/tests/test_login_entry.py
  src/typeclasses/tests/test_puppet_session_hooks.py
  src/typeclasses/tests/test_shared_sessions.py
  src/web/admin/tests/test_required_content.py
  src/web/admin/tuning/required_content.py
  src/world/roster/AGENT_GLOSSARY.md
  src/world/roster/CLAUDE.md
  tools/agents/README.md
  tools/agents/typeclass-creation-reviewer.md
Due: getattr-literal, eslint, typescript, prettier

Anchor the thread on the row it answers, and drop InteractionReply
  src/world/migrations/0134_interactionreply.py
  src/world/migrations/0134_interactionthread_anchor_interaction_and_more.py
  src/world/migrations/max_migration.txt
  src/world/scenes/factories.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/interaction_views.py
  src/world/scenes/models.py
  src/world/scenes/play_views.py
  src/world/scenes/reply_link_handler.py
  src/world/scenes/tests/test_interaction_reply_model.py
  src/world/scenes/tests/test_interaction_views.py
  src/world/scenes/tests/test_play_views.py
  src/world/scenes/tests/test_reply_parent_edge.py
  src/world/scenes/tests/test_threading.py
  src/world/scenes/thread_services.py
Due: getattr-literal

Say which heal path reaches which shape
  src/evennia_extensions/account_setup.py
  src/typeclasses/accounts.py
Due: getattr-literal

Group the reader by the root thread, so a nested exchange is one card
  frontend/src/game/GamePage.tsx
  frontend/src/game/components/ThreadedNarrativeReader.test.tsx
  frontend/src/game/components/ThreadedNarrativeReader.tsx
  frontend/src/hooks/types.ts
  frontend/src/scenes/hooks/__tests__/useThreading.test.ts
  frontend/src/scenes/hooks/useSceneInteractions.ts
  frontend/src/scenes/hooks/useThreading.ts
  frontend/src/scenes/types.ts
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_services.py
  src/world/scenes/tests/test_interaction_services.py
  src/world/scenes/tests/test_reply_parent_edge.py
  src/world/scenes/types.py
Due: getattr-literal, eslint, typescript, prettier

Require the anchor, and group the threads index by exchange
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/migrations/0134_interactionthread_anchor.py
  src/world/migrations/0134_interactionthread_anchor_interaction_and_more.py
  src/world/migrations/max_migration.txt
  src/world/scenes/CLAUDE.md
  src/world/scenes/interaction_services.py
  src/world/scenes/models.py
  src/world/scenes/play_views.py
  src/world/scenes/tests/test_play_views.py
  src/world/scenes/tests/test_threading.py
  src/world/scenes/thread_services.py
Due: getattr-literal, eslint, typescript, prettier
