Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

chore(#941): regenerate API types for the route_candidate field
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#518): covenant powers endpoint (available rites + member role powers)
  src/world/covenants/serializers.py
  src/world/covenants/tests/test_covenant_powers_endpoint.py
  src/world/covenants/views.py
Due: getattr-literal

feat(#996,#1001c): outcome critical highlight + initiative-order round flow (+#1001b note)
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/sections/RoundFlow.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/PoseUnitDetailPanel.tsx
  src/schema.json
  src/world/combat/serializers.py
  src/world/combat/views_outcome_details.py
Due: getattr-literal, eslint, typescript, prettier

feat(#518): stand_down REST action for battle covenants
  src/world/covenants/tests/test_battle_covenant_actions.py
  src/world/covenants/views.py
Due: getattr-literal

feat(#941): missions Phase D — per-candidate emission + needs-rewrite lifecycle (#1002)
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/missions/migrations/0015_missiondeedrecord_route_candidate_and_more.py
  src/world/missions/migrations/max_migration.txt
  src/world/missions/models.py
  src/world/missions/serializers.py
  src/world/missions/services/__init__.py
  src/world/missions/services/multiplayer.py
  src/world/missions/services/play.py
  src/world/missions/services/resolution.py
  src/world/missions/services/rewards.py
  src/world/missions/tests/test_phase_d_clear_on_edit.py
  src/world/missions/tests/test_services_emit_terminal_rewards.py
  src/world/missions/tests/test_services_resolution_resolve.py
Due: getattr-literal, eslint, typescript, prettier

ci: fix combat max_migration (dlm.E004) + ruff-format the 0012 migration
  src/world/combat/migrations/0012_combatopponent_portrait.py
  src/world/combat/migrations/max_migration.txt
Due: getattr-literal

feat(#518): covenant powers/promote/stand-down/subroles API + query hooks
  frontend/src/covenants/api.ts
  frontend/src/covenants/queries.ts
  src/world/covenants/filters.py
  src/world/covenants/serializers.py
  src/world/covenants/tests/test_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#972): make CodexSubject/PathCodexGrant factories idempotent
  src/world/codex/factories.py
  src/world/codex/tests/test_factories_idempotent.py
Due: getattr-literal

feat(#972): seed_magic_progression() codex + milestone + grant chain
  src/world/magic/factories.py
  src/world/magic/tests/test_seed_progression.py
Due: getattr-literal

refactor(#972): milestone upsert so re-seed re-applies route/sort/entry
  src/world/magic/factories.py
  src/world/magic/tests/test_seed_progression.py
Due: getattr-literal

feat(#972): consume PathCodexGrant at CG finalize (grant->knowledge wiring)
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_path_codex_grants.py
Due: getattr-literal

test(#972): e2e dashboard reveal + roadmap update
  docs/roadmap/magic.md
  src/world/magic/tests/test_seed_progression.py
Due: getattr-literal

test(#972): assert full Prospect reveal (all gated KNOWN, mystery cleared)
  src/world/magic/tests/test_seed_progression.py
Due: getattr-literal

fix(deps): bump react-router to 6.30.4 (Dependabot #89)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: prettier

fix(#518): correct rite nullability + hand-written types for new covenant/role fields
  frontend/src/covenants/api.ts
Due: eslint, typescript, prettier

fix(#1001c): compute resolution_order from cached participants (no extra queries)
  src/world/combat/serializers.py
Due: getattr-literal

feat(#518): RitesPanel — display + trigger covenant group abilities
  frontend/src/covenants/components/RitesPanel.tsx
  frontend/src/covenants/components/__tests__/RitesPanel.test.tsx
Due: eslint, typescript, prettier

ci: regenerate schema/types after syncing main (#1002 missions) — fixes api-types-drift
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

feat(#518): RolePowersPanel — surface engaged-role passive powers
  frontend/src/covenants/components/RolePowersPanel.tsx
  frontend/src/covenants/components/__tests__/RolePowersPanel.test.tsx
Due: eslint, typescript, prettier

feat(#518): BattleStateBanner — dormant indicator + rise/stand-down
  frontend/src/covenants/components/BattleStateBanner.tsx
  frontend/src/covenants/components/__tests__/BattleStateBanner.test.tsx
Due: eslint, typescript, prettier

feat(#518): PromoteRoleDialog — sub-role unlock UI
  frontend/src/covenants/components/PromoteRoleDialog.tsx
  frontend/src/covenants/components/__tests__/PromoteRoleDialog.test.tsx
Due: eslint, typescript, prettier

feat(#933): mission-route candidate roulette — spin the random draw
  src/world/missions/services/resolution.py
  src/world/missions/tests/test_services_resolution_resolve.py
Due: getattr-literal

feat(#518): wire rites/role-powers/battle-state/promotion into CovenantDetailPage
  frontend/src/covenants/__tests__/CovenantDetailPage.test.tsx
  frontend/src/covenants/pages/CovenantDetailPage.tsx
Due: eslint, typescript, prettier

Combat-UI residuals: NPC portrait FK, initiative round-flow, critical-outcome highlight (#997/#1001c/#996/#1001b) (#1004)
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatTurnPanel.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/RoundFlow.test.tsx
  frontend/src/combat/__tests__/VitalPools.test.tsx
  frontend/src/combat/api.ts
  frontend/src/combat/sections/CombatantsList.tsx
  frontend/src/combat/sections/RoundFlow.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/PoseUnitDetailPanel.tsx
  src/schema.json
  src/world/combat/migrations/0012_combatopponent_portrait.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_opponent_portrait_serializer.py
  src/world/combat/views_outcome_details.py
Due: getattr-literal, eslint, typescript, prettier

fix(deps): bump react-router to 6.30.4 (Dependabot #89) (#1005)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: prettier

feat(#972): seed magic progression content + wire PathCodexGrant at CG finalize (#1006)
  docs/roadmap/magic.md
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_path_codex_grants.py
  src/world/codex/factories.py
  src/world/codex/tests/test_factories_idempotent.py
  src/world/magic/factories.py
  src/world/magic/tests/test_seed_progression.py
Due: getattr-literal

feat(#933): mission-route candidate roulette — spin the random draw (stacked on #941) (#1003)
  src/world/missions/services/resolution.py
  src/world/missions/tests/test_services_resolution_resolve.py
Due: getattr-literal

chore(#518): regenerate API schema + types for covenant battle/role-power fields
  frontend/src/generated/api.d.ts
  src/schema.json
Due: eslint, typescript, prettier

docs(#751,#783,#518): mark covenant role powers + rite-buff-checks + battle UI delivered
  docs/roadmap/covenants.md
Due: none

feat(#907): multi-recipient whisper-delivery picker
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/components/PersonaContextMenu.tsx
  frontend/src/scenes/components/WhisperReceiverPicker.test.tsx
  frontend/src/scenes/components/WhisperReceiverPicker.tsx
  frontend/src/scenes/types.ts
Due: eslint, typescript, prettier

style(#518): apply ruff-format + prettier to two test files (pre-commit fix)
  frontend/src/covenants/__tests__/CovenantDetailPage.test.tsx
  src/world/covenants/tests/test_views.py
Due: getattr-literal, eslint, typescript, prettier

feat(#907): multi-recipient whisper-delivery receiver picker (#1011)
  frontend/src/scenes/actionQueries.ts
  frontend/src/scenes/components/PersonaContextMenu.tsx
  frontend/src/scenes/components/WhisperReceiverPicker.test.tsx
  frontend/src/scenes/components/WhisperReceiverPicker.tsx
  frontend/src/scenes/types.ts
Due: eslint, typescript, prettier

Covenant role powers, full stack (#783, #751, #518) (#1008)
  docs/roadmap/covenants.md
  frontend/src/covenants/__tests__/CovenantDetailPage.test.tsx
  frontend/src/covenants/api.ts
  frontend/src/covenants/components/BattleStateBanner.tsx
  frontend/src/covenants/components/PromoteRoleDialog.tsx
  frontend/src/covenants/components/RitesPanel.tsx
  frontend/src/covenants/components/RolePowersPanel.tsx
  frontend/src/covenants/components/__tests__/BattleStateBanner.test.tsx
  frontend/src/covenants/components/__tests__/PromoteRoleDialog.test.tsx
  frontend/src/covenants/components/__tests__/RitesPanel.test.tsx
  frontend/src/covenants/components/__tests__/RolePowersPanel.test.tsx
  frontend/src/covenants/pages/CovenantDetailPage.tsx
  frontend/src/covenants/queries.ts
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/checks/tests/test_condition_modifiers_in_checks.py
  src/world/conditions/services.py
  src/world/conditions/tests/test_thread_passive_capability_source.py
  src/world/covenants/factories.py
  src/world/covenants/filters.py
  src/world/covenants/serializers.py
  src/world/covenants/services.py
  src/world/covenants/tests/test_battle_covenant_actions.py
  src/world/covenants/tests/test_covenant_powers_endpoint.py
  src/world/covenants/tests/test_covenant_serializer_battle_fields.py
  src/world/covenants/tests/test_engagement_invalidates_role_powers.py
  src/world/covenants/tests/test_rite_target_trait_linkage.py
  src/world/covenants/tests/test_role_powers_catalog.py
  src/world/covenants/tests/test_views.py
  src/world/covenants/views.py
  src/world/magic/handlers.py
  src/world/magic/tests/test_passive_capability_grants.py
  src/world/traits/handlers.py
Due: getattr-literal, eslint, typescript, prettier

feat(#931): ransom demands + pay-from-treasury
  frontend/src/generated/api.d.ts
  src/schema.json
  src/world/captivity/exceptions.py
  src/world/captivity/ransom.py
  src/world/captivity/tests/test_ransom.py
  src/world/currency/tests/test_views.py
  src/world/currency/views.py
Due: getattr-literal, eslint, typescript, prettier

fix(#931): fold the income seam into default_ransom_amount
  src/world/captivity/ransom.py
Due: getattr-literal

fix(#1009): passive_vital_bonuses uses highest level per (kind,resonance)
  src/world/magic/handlers.py
  src/world/magic/tests/test_vital_bonus_routing.py
Due: getattr-literal

fix(#1010): has_capability + challenge approaches use effective capability read
  src/world/missions/services/challenge_options.py
  src/world/missions/tests/test_resolvers.py
  src/world/missions/tests/test_services_challenge_options.py
  src/world/predicates/predicates.py
Due: getattr-literal

feat(#512): add Mantle / MantleLevelDefinition / MantleLevelClearance models + factories
  src/world/items/factories.py
  src/world/items/migrations/0010_mantle_mantlelevelclearance_mantleleveldefinition_and_more.py
  src/world/items/migrations/max_migration.txt
  src/world/items/models.py
  src/world/items/tests/test_mantle_models.py
Due: getattr-literal

fix(#512): restore FashionStyleBonus.__str__ displaced by mantle models
  src/world/items/models.py
Due: getattr-literal

feat(#1001a/#996): single-target focused attacks + critical pose auto-expand
  docs/roadmap/combat.md
  frontend/src/actions/ActionDeclarationCard.tsx
  frontend/src/actions/__tests__/ActionDeclarationCard.test.tsx
  frontend/src/actions/types.ts
  frontend/src/combat/__tests__/ActiveState.test.tsx
  frontend/src/combat/__tests__/CombatantsList.test.tsx
  frontend/src/combat/__tests__/YourTurn.test.tsx
  frontend/src/combat/sections/YourTurn.tsx
  frontend/src/generated/api.d.ts
  frontend/src/scenes/components/PoseUnit.test.tsx
  frontend/src/scenes/components/PoseUnit.tsx
  frontend/src/scenes/types.ts
  src/schema.json
  src/world/combat/round_context.py
  src/world/combat/serializers.py
  src/world/combat/tests/test_focused_target_dispatch.py
  src/world/scenes/interaction_serializers.py
  src/world/scenes/interaction_views.py
  src/world/scenes/tests/test_action_link_critical.py
Due: getattr-literal, eslint, typescript, prettier

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
