Repository Arx-Game/arxii: changes, and which pre-commit hooks are due for each by the changed paths.
All: getattr-literal, eslint, typescript, prettier

getattr-literal:
  name: Block getattr with literal attribute names
  entry: uv run python tools/lint_getattr_literal.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec eslint \"${cleaned[@]}\"\n"
  language: system
  pass_filenames: true

typescript:
  name: TypeScript Check
  entry: bash
  args:
  - -c
  - 'cd frontend
  
    pnpm typecheck
  
    '
  language: system

prettier:
  name: Prettier
  entry: bash
  args:
  - -c
  - "cd frontend\ncleaned=()\nfor file in \"$@\"; do\n  cleaned+=(\"${file#frontend/}\")\ndone\npnpm exec prettier --write --ignore-unknown \"${cleaned[@]}\"\n"
  - ''
  language: system
  pass_filenames: true

feat(mechanics): add PropertyDamageModifier model (#1793)
  src/world/mechanics/admin.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0008_propertydamagemodifier.py
  src/world/mechanics/migrations/max_migration.txt
  src/world/mechanics/models.py
  src/world/mechanics/tests/test_property_models.py
Due: getattr-literal

docs: regenerate MODEL_MAP for battle-flow-actions model changes
  docs/systems/MODEL_MAP.md
Due: none

feat(magic): telnet technique-builder consequence-pool selection (set consequence_pool=<id>)
  src/commands/technique.py
  src/commands/tests/test_technique_command.py
  src/world/magic/migrations/0076_techniquedraft_consequence_pool.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/technique_draft.py
  src/world/magic/services/technique_draft.py
  src/world/magic/tests/test_technique_draft_model.py
  src/world/magic/tests/test_technique_draft_service.py
Due: getattr-literal

feat(mechanics): add property_damage_bonus service function (#1793)
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_services.py
Due: getattr-literal

fix(battles): guard ROUT own-side, strengthen REPEL ordering test, fix N+1 (#1712)
  docs/systems/INDEX.md
  docs/systems/battles.md
  src/world/battles/exceptions.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

feat(character_creation): apply chosen consequence-pool flavor at cantrip finalize
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
Due: getattr-literal

feat(combat): fold Property-keyed damage bonus into technique damage (#1793)
  src/world/combat/services.py
  src/world/combat/tests/test_combat_technique_resolver.py
Due: getattr-literal

test(combat): assert catalog-pool techniques resolve offense_check_type identically to default
  src/world/combat/tests/test_combat_technique_resolver.py
Due: getattr-literal

fix(combat): assert catalog template check_type actually matches the base template
  src/world/combat/tests/test_combat_technique_resolver.py
Due: getattr-literal

feat(frontend): add shared consequence-pool catalog lookup hook
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/queries.ts
Due: eslint, typescript, prettier

feat(frontend): consequence-pool flavor picker in the Technique Builder
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/magic/components/TechniqueBuilderForm.tsx
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
  frontend/src/magic/types.ts
Due: eslint, typescript, prettier

feat(frontend): consequence-pool flavor picker in CG cantrip customization
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/types.ts
Due: eslint, typescript, prettier

docs(magic): document the consequence-pool catalog
  docs/roadmap/magic.md
  docs/roadmap/planned-systems.md
  docs/systems/magic.md
  src/world/character_creation/CLAUDE.md
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/CLAUDE.md
Due: none

docs: sync mechanics/magic docs and MODEL_MAP for Property/Capability cast wiring (#1793)
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/magic/CLAUDE.md
  src/world/mechanics/CLAUDE.md
Due: none

fix(magic): close resolve_cast_action_template robustness gap + final-review polish
  docs/systems/magic.md
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  src/world/magic/seeds_cast.py
  src/world/magic/services/technique_builder.py
  src/world/magic/tests/test_technique_builder_service.py
Due: getattr-literal, eslint, typescript, prettier

test(magic): tighten duplicate-ActionTemplate test to assert deterministic oldest-wins
  src/world/magic/tests/test_technique_builder_service.py
Due: getattr-literal

fix(combat,magic,docs): close final-review gaps in Property/Capability cast wiring (#1793)
  docs/architecture/reactive-layer-foundation.md
  docs/systems/INDEX.md
  docs/systems/flows.md
  src/world/combat/services.py
  src/world/combat/tests/test_aoe_targeting.py
  src/world/magic/tests/test_reactive_scars.py
Due: getattr-literal

fix(combat,magic,mechanics): stop pre-flight blocking legitimate AoE casts, dedupe prerequisite check (#1793)
  src/world/combat/services.py
  src/world/combat/tests/test_combat_magic_integration.py
  src/world/magic/services/targeting.py
  src/world/mechanics/services.py
Due: getattr-literal

fix(magic,docs): harden non-combat AoE pre-flight symmetry, correct stale INDEX.md claim (#1793)
  docs/systems/INDEX.md
  src/world/magic/CLAUDE.md
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_technique_targeting.py
Due: getattr-literal

chore(seeds): dev domain slice — walkable books + scandal loops (Refs #930, #1464)
  src/world/seeds/clusters.py
  src/world/seeds/domain_dev.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_domain_dev.py
Due: getattr-literal

design: public-event reach & containment minting (#1450 Q1+Q2) — acts become knowledge that spreads (#1799)
  docs/adr/0082-scandal-reach-derived-at-act-birth.md
  docs/adr/README.md
  docs/roadmap/planned-systems.md
  docs/systems/INDEX.md
  docs/systems/secrets.md
  src/world/areas/services.py
  src/world/areas/tests.py
  src/world/seeds/clusters.py
  src/world/seeds/stealth_checks.py
  src/world/seeds/tests/test_clusters.py
  src/world/societies/AGENT_GLOSSARY.md
  src/world/societies/constants.py
  src/world/societies/scandal.py
  src/world/societies/services.py
  src/world/societies/tests/test_scandal.py
Due: getattr-literal

Battle system: battle-flow actions (rout / rally / repel / hold) (#1802)
  docs/adr/0082-battle-morale-derives-status-objective-lives-on-place.md
  docs/adr/README.md
  docs/roadmap/combat.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/battles.md
  src/actions/CLAUDE.md
  src/commands/CLAUDE.md
  src/commands/battle.py
  src/world/battles/AGENT_GLOSSARY.md
  src/world/battles/admin.py
  src/world/battles/constants.py
  src/world/battles/duel_wiring.py
  src/world/battles/exceptions.py
  src/world/battles/migrations/0008_alter_battleactiondeclaration_action_kind.py
  src/world/battles/migrations/0009_battleplace_controlled_by_battleunit_morale.py
  src/world/battles/migrations/0010_alter_battleplace_movement_cost.py
  src/world/battles/migrations/max_migration.txt
  src/world/battles/models.py
  src/world/battles/resolution.py
  src/world/battles/services.py
  src/world/battles/tests/test_command.py
  src/world/battles/tests/test_constants.py
  src/world/battles/tests/test_duel_wiring.py
  src/world/battles/tests/test_exceptions.py
  src/world/battles/tests/test_models.py
  src/world/battles/tests/test_resolution.py
Due: getattr-literal

Technique designer: select consequence pool from a curated catalog (#1803)
  docs/roadmap/magic.md
  docs/roadmap/planned-systems.md
  docs/systems/magic.md
  frontend/src/character-creation/api.ts
  frontend/src/character-creation/components/magic/CantripSelector.tsx
  frontend/src/character-creation/queries.ts
  frontend/src/character-creation/types.ts
  frontend/src/generated/api.d.ts
  frontend/src/magic/__tests__/TechniqueBuilderPage.test.tsx
  frontend/src/magic/components/TechniqueBuilderForm.tsx
  frontend/src/magic/pages/TechniqueBuilderPage.tsx
  frontend/src/magic/types.ts
  src/commands/technique.py
  src/commands/tests/test_technique_command.py
  src/integration_tests/game_content/magic.py
  src/schema.json
  src/world/character_creation/CLAUDE.md
  src/world/character_creation/services.py
  src/world/character_creation/tests/test_services.py
  src/world/combat/tests/test_combat_technique_resolver.py
  src/world/magic/AGENT_GLOSSARY.md
  src/world/magic/CLAUDE.md
  src/world/magic/exceptions.py
  src/world/magic/migrations/0076_techniquedraft_consequence_pool.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/technique_draft.py
  src/world/magic/seeds_cast.py
  src/world/magic/serializers.py
  src/world/magic/services/technique_builder.py
  src/world/magic/services/technique_draft.py
  src/world/magic/tests/test_seeds_cast.py
  src/world/magic/tests/test_technique_authoring_journey.py
  src/world/magic/tests/test_technique_builder_api.py
  src/world/magic/tests/test_technique_builder_service.py
  src/world/magic/tests/test_technique_draft_model.py
  src/world/magic/tests/test_technique_draft_service.py
  src/world/magic/tests/test_views.py
  src/world/magic/types/technique_builder.py
  src/world/magic/urls.py
  src/world/magic/views.py
Due: getattr-literal, eslint, typescript, prettier

Wire Property/Capability into technique cast resolution (targeting preconditions, magnitude modifiers, capability-negation) (#1804)
  docs/architecture/reactive-layer-foundation.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  docs/systems/flows.md
  src/flows/filters/evaluator.py
  src/flows/tests/test_filters/test_evaluator.py
  src/typeclasses/characters.py
  src/world/combat/services.py
  src/world/combat/tests/test_aoe_targeting.py
  src/world/combat/tests/test_combat_magic_integration.py
  src/world/combat/tests/test_combat_technique_resolver.py
  src/world/magic/CLAUDE.md
  src/world/magic/admin.py
  src/world/magic/migrations/0077_technique_target_prerequisites.py
  src/world/magic/migrations/max_migration.txt
  src/world/magic/models/techniques.py
  src/world/magic/services/targeting.py
  src/world/magic/tests/test_reactive_scars.py
  src/world/magic/tests/test_technique_targeting.py
  src/world/magic/tests/test_techniques.py
  src/world/mechanics/CLAUDE.md
  src/world/mechanics/admin.py
  src/world/mechanics/factories.py
  src/world/mechanics/migrations/0008_propertydamagemodifier.py
  src/world/mechanics/migrations/max_migration.txt
  src/world/mechanics/models.py
  src/world/mechanics/services.py
  src/world/mechanics/tests/test_property_models.py
  src/world/mechanics/tests/test_services.py
Due: getattr-literal

feat: add tools/build_schema.py — schema from model state, no migration replay
  tools/build_schema.py
Due: getattr-literal

fix: wrap schema-build SQL+seeds in transaction.atomic(), annotate connection param
  tools/build_schema.py
Due: getattr-literal

fix: exclude dead society_prestige_ranking matview from schema build
  tools/build_schema.py
Due: getattr-literal

perf: stop PG-tier test DB creation from replaying migrations
  src/server/conf/sqlite_test_settings.py
  src/server/conf/test_settings.py
  tools/build_schema.py
Due: getattr-literal

fix: derive build_schema's POST_PARTITION_FIELDS from check_partition_sql_drift
  tools/build_schema.py
Due: getattr-literal

feat(checks): add PositionDestination.AWAY_FROM_ACTOR
  src/world/checks/constants.py
  src/world/checks/migrations/0020_alter_consequenceeffect_position_destination.py
  src/world/checks/migrations/max_migration.txt
Due: getattr-literal

feat(mechanics): add AWAY_FROM_ACTOR knockback destination resolver
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_positioning_effect_handlers.py
Due: getattr-literal

feat(room_features): add Trap.position for position-scoped hazards
  src/world/room_features/migrations/0005_trap_position.py
  src/world/room_features/migrations/max_migration.txt
  src/world/room_features/models.py
  src/world/room_features/tests/test_traps.py
Due: getattr-literal

feat(room_features): add check_traps_at_position for knockback landings
  src/world/room_features/tests/test_traps.py
  src/world/room_features/trap_services.py
Due: getattr-literal

feat(combat): add ThreatPoolEntry.on_hit_consequence_pool
  src/world/combat/migrations/0030_threatpoolentry_on_hit_consequence_pool.py
  src/world/combat/migrations/max_migration.txt
  src/world/combat/models.py
  src/world/combat/tests/test_knockback.py
Due: getattr-literal

docs: knockback ADR-0082, glossary entries, INDEX + MODEL_MAP updates
  docs/adr/0082-knockback-via-consequence-pool.md
  docs/systems/INDEX.md
  docs/systems/MODEL_MAP.md
  src/world/areas/positioning/AGENT_GLOSSARY.md
  src/world/combat/AGENT_GLOSSARY.md
Due: none

feat(combat): fire on-hit consequence pool after Interpose resolves
  src/world/combat/services.py
  src/world/combat/tests/test_knockback.py
Due: getattr-literal

docs(combat): cross-reference push's ambiguity across Strain/Clash/Knockback
  src/world/combat/AGENT_GLOSSARY.md
Due: none

Eliminate the two RunPython seed migrations (ADR-0013)
  src/world/magic/migrations/0003_accept_soul_tether_placeholder_grants.py
  src/world/magic/migrations/0004_technique_properties.py
  src/world/magic/seeds_soul_tether.py
  src/world/progression/migrations/0003_social_engagement_kudos_category.py
  src/world/progression/migrations/0004_pathintent.py
  src/world/progression/seeds.py
  tools/build_schema.py
  tools/check_migration_seed_data.py
Due: getattr-literal

chore(seeds): dev domain slice — walkable books + scandal loops (#1805)
  src/world/seeds/clusters.py
  src/world/seeds/domain_dev.py
  src/world/seeds/tests/test_clusters.py
  src/world/seeds/tests/test_domain_dev.py
Due: getattr-literal

feat(mechanics): gate knockback on sure_footed capability resistance check
  docs/adr/0082-knockback-via-consequence-pool.md
  src/world/mechanics/effect_handlers.py
  src/world/mechanics/tests/test_positioning_effect_handlers.py
Due: getattr-literal

Path conditions:
  getattr-literal: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/
